/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Adapted 2010-2013 by BDLSS
*/

/*
Colours from the University of Oxford branding toolkit:
http://www.ox.ac.uk/branding_toolkit/the_brand_colours/index.html

teal: R=68 G=104 B=125 = #44687d
Wedgwood blue: #c5d2e0
brown: #a79d96 
warm grey: #c7c2bc


Colours from original version of MLGB3 website
very, very pale grey/blue: #F2F2F2 
*/


/* ================== General ================== */

body {
  margin: 0 0 0 0;
  padding-left: 12px;
  padding-right: 12px;
  background: #FFFFFF;
  font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #666666;
}

body.printout {
  width: 780px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

a {
  color: #5D0E0E;
}

a:hover {
  text-decoration: none;
  color: #FF0000;
}

.image {
  float: left;
  margin: 0 15px 10px 0;
}

br.clearboth {
  clear: both;
}
br.clearleft {
  clear: left;
}
br.clearright {
  clear: right;
}

/* ================== Header ================== */

#header {
  width: 100%;
  height: 105px;
  margin: none;
  background-color: ##c7c2bc; /* warm grey */
  background: #c7c2bc url(../photos/Peterborough_Bodley_163_2.jpg);
  padding-right: 15px;
}

#header img {
    border:none;
}

#header h1, #header h2, #header div,{
  float: left;
  padding: 0px 0 0 0px;
  font-size: 18px;
}

#oxlogo a img {

  border-top-width: 9px;
  border-top-style: solid;
  xborder-top-color: #c7c2bc; /* warm grey */
  border-top-color: #002147;

  border-right-width: 15px;
  border-right-style: solid;
  xborder-right-color: #c7c2bc; /* warm grey */
  border-right-color: #002147;

  border-left-width: 15px;
  border-left-style: solid;
  xborder-left-color: #c7c2bc; /* warm grey */
  border-left-color: #002147;

}

#mellon a img {
  padding: 5px;
  width:258px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mlgb3 a h1 {
  margin-left: 22px;
}

#header a {
  text-decoration: none;
  color: #44687d; /* teal */
}

/* ==================  Pages (i.e. navigation bar)  ================== */

#pages {
  clear: both;
  width: 100%;
  min-width: 868px;
  height: 40px;
  background-color: #002147; /* warm grey */
  border-bottom: 5px solid #44687d; /* teal */
  padding-right: 15px;

}

#pages h2 {
  display: none;
}

#pages ul {
  float: right;
  margin: 0;
  padding: 7px 0 0 0;
  list-style: none;
}

#pages li {
  display: inline;
  margin-bottom: none;
  padding-bottom: none;
}

#pages a {
  display: block;
  float: left;
  height: 25px;
  margin: 0 2px 0 0;
  padding: 7px 15px 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: bold;
  xcolor: #44687d; /* teal */
  color: #fff; /* teal */

}

#pages a:hover, #pages .active a {
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #44687d; /* teal */
  color: #FFFFFF;
  border-top: 1px solid #44687d; /* teal */
  border-left: 1px solid #44687d; /* teal */
  border-right: 1px solid #44687d; /* teal */
  -webkit-border-top-left-radius: 6px;  
  -moz-border-top-left-radius: 6px;  
  border-top-left-radius: 6px; 
  -webkit-border-top-right-radius: 6px;  
  -moz-border-top-right-radius: 6px;  
  border-top-right-radius: 6px; 
  border-bottom: none;

}

/* ==================  Boxed  ==================  */

div.moreoptions {
  margin-top: 2px;
}

.boxed {
  width: 230px;
}

.wideboxed {
  width: 700px;
}

.boxed, .wideboxed {
  float: left;
  margin-bottom: 12px;
  padding-left: 10px;
  margin-right: 10px;
}

.boxed .heading, .wideboxed .heading {
  height: 26px;
  padding: 6px 0 0 10px;
  border: 1px solid #000000;
  font-size: 1em;
  color: #44687d; /* teal */
  background-color: #c5d2e0; /* wedgwood blue */

  border-top: 1px solid #c5d2e0; /* wedgwood blue */
  border-left: 1px solid #c5d2e0;
  border-right: 1px solid #c5d2e0;
  -webkit-border-top-left-radius: 6px;  
  -moz-border-top-left-radius: 6px;  
  border-top-left-radius: 6px; 
  -webkit-border-top-right-radius: 6px;  
  -moz-border-top-right-radius: 6px;  
  border-top-right-radius: 6px; 
  border-bottom: 5px solid #44687d; /* teal */
}

.boxed .pretty-print, .wideboxed .pretty-print, .indexsearch .pretty-print  {
  background-color:  #F2F2F2;
  border-bottom: 1px dotted #c5d2e0; /* Wedgwood blue */
}

.boxed .pretty-print ul, .wideboxed .pretty-print ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.boxed .pretty-print li, .wideboxed .pretty-print li {
  padding: 3px 0;
  border-top: 1px dotted #c5d2e0; /* Wedgwood blue */
}

.boxed .pretty-print li.first, .wideboxed .pretty-print li.first {
  border: none;
}

.boxed .pretty-print a, .wideboxed .pretty-print a {
  padding-left: 10px;
  background: transparent url(../img/img8.gif) no-repeat left center;
  text-decoration: none;
  color: #5D0E0E;
}

.boxed .pretty-print a:hover, .wideboxed .pretty-print a:hover {
  color: #FF0000;
}

.boxed select {
  max-width: 215px;
  font-size: 0.9em;
}

.wideboxed select {
  max-width: 310px;
}

.wideboxed input[type="text"] {
  width: 140px;
}

/* ==================  class "main-pretty-print"  ================== */

.main-pretty-print {
  background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}

.main-pretty-print .title {
  padding: 0 0 0 13px;
  background: #FFFFFF url(../img/img9.gif) no-repeat left center;
  color: #000000;
}

.main-pretty-print .posted, .about .posted{
  padding: 2px 10px 4px 10px;
  background-color: #c5d2e0; /* wedgwood blue */
  border-bottom: 5px solid #44687d; /* teal */
  font-size: .7em;
  font-weight: normal;
  color: #44687d; /* teal */

  border-top: 1px solid #c5d2e0; /*wedgwood blue*/
  border-left: 1px solid #c5d2e0;
  border-right: 1px solid #c5d2e0;
  -webkit-border-top-left-radius: 6px;  
  -moz-border-top-left-radius: 6px;  
  border-top-left-radius: 6px; 
  -webkit-border-top-right-radius: 6px;  
  -moz-border-top-right-radius: 6px;  
  border-top-right-radius: 6px; 
}

.main-pretty-print .story {
  padding: 10px 20px;
  float: left;
}

.main-pretty-print .meta {
  padding: 1px 10px;
}

.main-pretty-print .heading, .main-pretty-print .bookheading {

  text-transform: none;
  min-height: 24px;
  padding: 4px 2px 2px 10px;
  border: 1px solid #000000;
  color: #44687d; /* teal */
  background-color: #c5d2e0; /* wedgwood blue */

  border-top: 1px solid #c5d2e0; /* wedgwood blue */
  border-left: 1px solid #c5d2e0;
  border-right: 1px solid #c5d2e0;
  -webkit-border-top-left-radius: 6px;  
  -moz-border-top-left-radius: 6px;  
  border-top-left-radius: 6px; 
  -webkit-border-top-right-radius: 6px;  
  -moz-border-top-right-radius: 6px;  
  border-top-right-radius: 6px; 
  border-bottom: 5px solid #44687d; /* teal */
}


.main-pretty-print .heading {
  margin-top: 2px;
  font-size: 1.5em;
  height: 26px;
}

.main-pretty-print .bookheading {
  margin-top: 0px;
  font-size: 0.9em;
  min-height: 26px;
}

/* ==================  ID "wrapper"  ================== */

#wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 20px ;
  margin-top: 20px;
}

body.printout #wrapper {
  margin-top: 0px;
}

/* ==================  About  ================== */

.about {
  width:80%;
  margin-left:10%;
  margin-bottom:1%;
  background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}
.about p{
  float: left;

  margin: 5px auto 5px auto;
  padding: 10px 10px 10px 50px;
  
}
.about .title {
  padding: 0 0 0 13px;
  background: #FFFFFF url(../img/img9.gif) no-repeat left center;
  color: #000000;
}

.about .pretty-print {
  background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}

.about .pretty-print ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.about .pretty-print li {
  padding: 3px 0;
  border-top: 1px dotted #c5d2e0; /* Wedgwood blue */
}

.about .pretty-print li.first {
  border: none;
}

.about .pretty-print a {
  padding-left: 10px;
  background: transparent url(../img/img8.gif) no-repeat left center;
  text-decoration: none;
  color: #5D0E0E;
}

.about .pretty-print a:hover {
  color: #FF0000;
}

/* ==================  ID "maincontent" ================== */

#maincontent {
  float: left;
  width:75%;
  margin-bottom:5px;
}

div#maincontent {
  min-width: 450px;
  max-width: 740px;
}

/* ==================  Search  ================== */

#search form {
  margin: 0;
  padding: 20px 10px;
}

#search_term {
  width: 160px;
  padding: 2px 1px;
  font: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#submit1, #submit_quicksearch, #clear_quicksearch, .searchformbutton {
  font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #44687d; /* teal */
  border: 1px solid #44687d ;
  color: #FFFFFF;
  -webkit-border-radius: 4px;  
  -moz-border-radius: 4px;  
  border-radius: 4px; 
}

#submit1 {
  width: 40px;
}

#submit_quicksearch, #clear_quicksearch, .searchformbutton {
  width: 50px;
}

div.advanced_search_field {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 140px;
}

div.wideboxed div.advanced_search_field {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* ==================  Footer  ================== */

#footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: #767676 ;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #44687d; /* teal */
  color: #FFFFFF;
  font-size: 18px;
}

#footer p {
  padding: 10px;
  font-size: .8em;
}

#footer a {
  color:white;
  text-decoration: none;
}
/* ----------  Banner -------------*/
#oxbanner {
  width: 384px;
  margin-left:0;
}
#mellonbanner {
  width: 584px;
  margin-right:20px;
}
/*---------image store------------------*/

#mlgbstore {
  margin-left:30px;
}

#mlgbstore ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

#mlgbstore img {
  border:none;
}

#mlgbstore li {
  padding: 3px 0;
}

#mlgbstoreimg {
  width:200px;
}

#mlgbstorelist {
  margin-left:10px;
  color:#006;
}

/* ================== Detail ================== */

#mlgbdetail {
  margin-left:20px;
}

#mlgbdetail td {
  vertical-align:top;
  padding-top: 10px;
}

.mlgbdetailtext {
  text-transform:uppercase;
  text-align:left;
  font-weight:bold;
  width:17%;
  padding-right: 10px;
}

.mlgbdetailvalue {
  margin-left:10px;
  color:#333;
}

.mlgbdetailvalue p, .contains p {
  margin:0;
  margin-bottom:5px;
}

#mlgbdetail ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

#mlgbdetail img {
  border:none;
}
  
#mlgbdetail li {
  padding: 3px 0;
}

/* ================== ID "maincontent", class "pretty-print"  ================== */

#maincontent .pretty-print {
}

#maincontent .pretty-print ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

#maincontent .pretty-print li {
  padding: 3px 0;
}

#maincontent .pretty-print li.first {
  border: none;
}

#maincontent .pretty-print a {
  padding-left: 10px;
  text-decoration: none;
  color: #5D0E0E;
}

#maincontent .pretty-print a:hover {
  color: #FF0000;
}

/* ================== Search Results  ================== */

div#searchresults {
  width: 1000px;
}

div#mlgbtreeview, div#mlgbbrowse {
  width: 740px;
}

div#nonefound {
  width: 450px;
}

div.category, div.treeview, div.browse {
  min-width: 450px;
  max-width: 740px;
}

ul#tree {
  margin-top: 10px;
}

div.category {
  width: 700px;
}

div.letterlinks {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #c5d2e0; /* Wedgwood blue */
}

div.letterlinks a, a.go_to_page, button.go_to_page {
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #c5d2e0; /* wedgwood blue */
  color:  #44687d; /* teal */
  -webkit-border-radius: 2px;  
  -moz-border-radius: 2px;  
  border-radius: 2px; 
}

div.letterlinks a:hover, div.letterlinks a.selected, a.go_to_page:hover, button.go_to_page:hover {
  background-color:  #44687d; /* teal */
  color:  #ffffff;
}

a.go_to_page {
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-border-radius: 5px;  
  -moz-border-radius: 5px;  
  border-radius: 5px; 
}

button.go_to_page {
  border-color: #c5d2e0; /* wedgwood blue */
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;  
  -moz-border-radius: 5px;  
  border-radius: 5px; 
  padding-top: 1px;
  padding-bottom: 1px;
}

button.go_to_page:hover {
  border-color:  #44687d; /* teal */
}
.category h3 {
  margin: 10px;
}

p.back_to_top {
  text-align: right;
}

div.resultdetails {
  border-style: solid;
  border-color: #c5d2e0; /* wedgwood blue */
  border-width: 1px;
  border-top: none; 
  padding: 10px;
}

a.booklink, .browse_provenance a, .browse_modern_library a, a.editlink  {
  color: #666666;
  text-decoration: none;
}

a.booklink:hover, .browse_provenance a:hover, .browse_modern_library a:hover, a.editlink:hover  {
  color: #666666;
  text-decoration: underline;
}

span.outerhead, span.modern_location_heading, span.heading2 {
  font-weight: bold;
}

span.outerhead {
  font-size: 11pt;
}
span.heading2 {
  font-size: 9pt;
}

span.spacer {
  xmargin-left: 5px;
}


a.evidence, button.evidence_decoder {
  font-style: italic;
}

li.one_book a.evidence, span.noevidence {
  display: inline-block;
  text-align: center;
}

button.evidence_decoder, li.one_book a.evidence, span.noevidence {
  background: #ffffff;
  border: none;
  height: 20px;
  xwidth: 20px;
  padding: 1px;
}

button.evidence_decoder:hover {
  background-color: #f2f2f2;
  border-style: dotted;
  border-width: 1px;
  border-color: #44687d; /* teal */
}

/* ================= Browse ================= */

div.browse h3 {
  text-transform: none;
}

div.browse ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 28px;
  margin-bottom: 15px;
  font-size: 0.9em;
}

div.browseresults div.book_row_1 div  {
  vertical-align: top;
  padding-left: 5px;
  margin-bottom: 2px;
  display: inline-block;
}

div.browseresults div.book_row_1 div.columnhead {
  margin-bottom: 5px;
  font-style: italic;
  font-size: 0.9em;
  padding-left: 7px;
}

div.browseresults div.book_row_1 div.first2cols  {
  width: 45px;
}

div.browse_concertina button, button.concertina {
  padding: 0px;
  height: 20px;
  width: 15px;
  font-size: 0.7em;
  background-color: #f2f2f2;
  border-style: dotted;
  border-width: 1px;
  border-color: #44687d; /* teal */
}

div.browseresults div.book_row_1 div.browse_concertina {
  width: 20px;
}

div.browseresults div.book_row_1 div.browse_evidence a.evidence {
  margin-left: 8px;
  font-weight: bold;
}

div.browseresults div.book_row_1 div.browse_evidence  {
  width: 25px;
}

div.browseresults div.book_row_1 div.browse_shelfmarks  {
  width: 145px;
}

div.browseresults div.book_row_1 div.browse_date  {
  width: 65px;
}

div.browseresults div.book_row_1 div.browse_authortitle  {
  width: 190px;
}

div.browseresults div.book_row_1 div.browse_provenance,
div.browseresults div.book_row_1 div.browse_modern_library   {
  width: 185px;
}

div.browseresults div.book_row_1 div.browse_editlink {
  width: 20px;
  float: right;
}

div.book_row_2_hidden  {
  display: none;
}

div.book_row_2_displayed  {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #c5d2e0; /* Wedgwood blue */
}


div#rightbar_options {
  width: 232px;
  margin-right: 25px;
  float: right;
}

a.editlink {
  font-style: italic;
  font-size: 0.9em;
}

.boxed select#order_by2 {
  width: 210px;
  font-size: 0.9em;
}


/* ================= Index ================= */


div.index { width: 640px; 
            display: inline-block; 
            float: left; }

div.indexmenu { margin-left: 30px; 
                display: inline-block; 
                float: left;
                clear: right;
              }

form.indexmenu { padding: 10px; 
               }

ul.authortreeview, .authortreeview ul {
  padding: 0px;
  margin: 0px;
  list-style: none outside none;
}

ul.authortreeview {
  margin-top: 15px;
} 

.authortreeview ul {
  margin-top: 5px;
}

ul.authortreeview li {
  margin-bottom: 10px;
}
.authortreeview li span.outerhead, 
ul.authortreeview li span.outer_subhead, 
ul.authortreeview li ul li span.innerhead,
span.like_a_link {
  cursor: pointer;
}

ul.authortreeview li span.outerhead:hover, 
ul.authortreeview li span.outer_subhead:hover, 
ul.authortreeview li ul li span.innerhead:hover,
span.like_a_link:hover {
  color: #FF0000;
}

span.like_a_link {
  text-decoration: underline;
}
span.like_a_link:hover {
  text-decoration: none;
}

div.expand_entry { margin-left: 20px;
                 }

table.catalogue_entries { margin-top: 10px; 
                          margin-bottom: 20px; 
                          border-bottom-style: dotted; 
                          border-bottom-width: 1px; 
                          border-bottom-color: #44687d; /* teal */
                          width: 85%;
                          margin-left: 5%;
                        }

ul#catalogue_entry_list li { margin-bottom: 10px; }
                             

tr.catalogue_entry_head td { font-size: 0.9em;
                             vertical-align: top; }

tr.catalogue_entry td { vertical-align: top;
                        width: 50%;
                        max-width: 50%;
                        padding-right: 10px;
                        padding-bottom: 5px; }

h3.index_entry, h3.inline_heading { display: inline; }
h3.medieval_catalogue_desc { text-transform: none; }

span.index_catalogue_entry:hover, a.link_from_index_to_book:hover {
  font-weight: bold;
}

span.biblio_block { font-size: 0.9em; }

div.author_biblio_block { margin-top: 5px;
                          margin-bottom: 5px;
                          padding-top: 0px;
                          padding-bottom: 0px; }

a.link_to_catalogue {
  text-decoration: none;
  color: #666666;
}
a.link_to_catalogue:hover {
  text-decoration: underline;
  color: #666666;
}

table.century tr td { vertical-align: top;
                      padding: 5px; }


div.navigate_catalogues {
  border-top-style: dotted; 
  border-top-width: 1px; 
  border-top-color: #44687d; /* teal */
  margin-top: 10px;
}

dl.catalogue_entry_flags dt { font-weight: bold;
                              margin-top: 10px; }


button.manicule {
  background: #ffffff;
  border: none;
  padding: 1px;
  vertical-align: middle;
}

a img.manicule {
  vertical-align: middle;
}

li.medieval_cat_result {
  margin-top: 12px;
}

div.indexsearch div.pretty-print {
  padding: 10px;
}

.funder_title, .funder_title a {
    font-family: Trebuchet MS;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    color: #989189 !important;
}
