{% extends "base.html" %}
{% load mlgb_custom_filters %}

{% block title %}
<title>MLGB3 Search Results</title>
{% endblock %}

{% block content_wrapper %}
<div id="searchresults">
{% block maincontent %}

  {# ========== start treeview containing search results ========== #}
  <div id="{% if number_of_records %}mlgbtreeview{% else %}nonefound{% endif %}" class="boxed treeview">
  <h2 class="heading">Search Results</h2>

  <div class="resultdetails">
  
  {% if search_term or advanced_search %}
    <div class="treeheader">
    {% if get_everything %}
      Displaying all records...
    {% else %}
      {% if not advanced_search %}
        Searching {{field_label|lower|default:"all fields"}} for: <strong> {{search_term}}</strong>
      {% else %}{# advanced search has list of [ fieldname, label, value ] #}
        Searching for: <ul>
        {% for fieldname, label, value in form_fields %}
          {% if value %}
            <li>

            {% if fieldname != 'printed_book' and fieldname != 'evidence_code' %}
              {{label}}: {{value}}

            {% else %}
              {% if fieldname == 'printed_book' %}
                {{label}}:
                {% for radio_id, radio_val, radio_label in printed_book_radio_options %} 
                  {% if radio_val == value %}{{radio_label}}{% endif %}
                {% endfor %}

              {% else %}{# evidence type #}
                {{label}}:
                {% for evcode, evdesc in evidence_dropdown_options %}
                  {% if evcode == value %}{{evdesc}}{% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}

            </li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
    </div><!-- end div class "treeheader" -->
  {% endif %}

  {% if not number_of_records %}
    {% if search_term %}
      <p>No records retrieved.</p>
    {% else  %}
      {% if advanced_search and not empty_form %}
        <p>No records retrieved.</p>
      {% else %}
        {% if not advanced_search %}
          <p>No search term was entered.</p>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if result_string %} {# the HTML for the search results is already set in variable 'result_string' #}
    {% autoescape off %}{{ result_string|fix_dashes }}{% endautoescape %}
  {% endif %}
  </div> <!-- end div class resultdetails -->

  </div><!-- end div ID "mlgbtreeview" -->
  {# =========== end treeview containing search results =========== #}

  {% if printing %}
  <script>
    window.print();
  </script>
  {% endif %}
{% endblock %} {# end block 'maincontent' #}

{% block moreoptions %} 
{% if not printing %}

{% block browseoptions %} 
{% endblock %}

{% block archives %} 
{% endblock %}

{% block search %}  
  {% if advanced_search %}
    {% include 'includes/advanced_search_fields.html' %}
  {% else %}
    {% include 'includes/searchwithoptions.html' %}
  {% endif %}
{% endblock %}

{% block useful_links %} 
      <div id="Useful_Links" class="boxed">
        <h2 class="heading">Useful Links</h2>
        <div class="pretty-print">
          <ul>
            <li class="first"><a href="http://www.ox.ac.uk/">University of Oxford</a></li>
            <li><a href="http://www.mellon.org/">Mellon Foundation</a></li>
            <li><a href="http://www.history.ox.ac.uk/">Faculty of History</a></li>
            <li><a href="http://www.bodleian.ox.ac.uk/">Bodleian Libraries</a></li>
            {% if editable %}<li><a href="/books/media/pdf/mlgb3.pdf" target="_blank" title="Medieval Libraries of Great Britain III (PDF)">MLGB3 PDF</a></li>{% endif %}
          </ul>
        </div><!-- end div class "pretty-print" within div "useful links" -->
      </div><!-- end div "useful links" -->
{% endblock %}

{% endif %}
{% endblock %}  {# end block moreoptions #}

</div> <!-- end div id="searchresults" -->
{% endblock %}{# end block 'content_wrapper' #}

