{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>NEW FRIARS: Reading-Franciscan</h2><h3>F41. Leland, c. 1536-40</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F41.1: 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>De numeris mysticis</i></strong>
ed. B. B. Hughes, <i>AFH</i> 78 (1985) 3&ndash;28,
333&ndash;83; Stegm&uuml;ller <i>Bibl.</i> 4843; Glorieux <i>R&eacute;p.</i> 316j.

</li>

<li>
F41.2: 
<strong>Eustratius [fl. 1082&ndash;1114]
</strong>
<br>
<strong>(&amp; others), Commentary on Aristotle's <i>Ethica</i>, tr. R. Grosseteste</strong>
 ed. H. F. P. Mercken,  <i>Corpus latinum commentariorum in Aristotelem graecorum</i>
6/1&ndash;3 (Louvain 1973&ndash;91); Thomson, <i>Grosseteste</i>, 68&ndash;70.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
