{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/84" title="St Albans">St Albans</a>  &gt; Borrowers' list, 1420 &times; 1437</p>{% endif %}<h2>BENEDICTINES: THE SHORTER CATALOGUES: St Albans</h2><h3 class="medieval_catalogue_desc">B87. Borrowers' list, 1420 &times; 1437</h3>
<em>74 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B87.2 (`Iohannem Cornubiensem de homine assumpto'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1645_anchor">John of Cornwall [&dagger; after 1179]
</a>
<br>
<strong><i>De homine assumpto</i></strong>
excerpts ed. E. Rathbone in <i>RTAM</i> 17 (1950) 
53&ndash;7. [Some entries listed under this title may in fact refer to to his
<i>Eulogium ad Alexandrum</i>, as BA1.836 shows.]

</li>

<li>
B87.3a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3179_anchor">Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</a>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
B87.3b (`Ricardi abbatis de ordine Premonstratensi . .'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2926_anchor">Richard the Premonstratensian [late 12th cent.]
</a>
<br>
<strong><i>De canone missae</i></strong>
<i>PL</i> 177. 455&ndash;70; Sharpe,
<i>Latin Writers</i>, 499&ndash;501. [Sometimes attributed to John of Cornwall; 
B. Haur&eacute;au, <i>Notices et extraits</i> 24/2 (1876) 145, collects the evidence 
for the attribution to Richard the Premonstratensian.]

</li>

<li>
B87.3e = R1.285: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De laude spiritualium canticorum</i>, inc. `Dicamus que nobis Deus donare
dignatur', survives in several English manuscripts (R&ouml;mer, 2/1. 375).
</strong>
</li>

<li>
B87.3f: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1859_anchor">Iohannes Sarracenus (John Sarrazin) [fl. 1170]
</a>
<br>
<strong><i>De graecis dictionibus in prologis Hieronymi</i></strong>
not known to survive.

</li>

<li>
B87.4a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2745_anchor">Proba [fl. 360]
</a>
<br>
<strong><i>Centones Vergilii</i></strong>
<i>CPL</i> 1480. [D. Shanzer, `The date and identity
of the centonist Proba', <i>Recherches augustiniennes</i> 27 (1994) 75&ndash;96.] 

</li>

<li>
B87.4c (excerpts): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Enchiridion</i></strong>
<i>CPL</i> 295; ed. E. Evans, <i>CCSL</i> 46 (1969) 23&ndash;114.

</li>

<li>
B87.4d (excerpts): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
B87.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2940_anchor">Richard Wetheringsett [13th cent.]
</a>
<br>
<strong><i>Summa Qui bene praesunt</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 519; 
Bloomfield 4583.  [Almost always anonymous.]

</li>

<li>
B87.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
B87.9a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry77_anchor">Alanus ab Insula (Alain de Lille) [<i>c.</i> 1128&ndash;1203]
</a>
<br>
<span class="biblio_block">
R. de Lage, <i>Alain de Lille, po&egrave;te du XIIe si&egrave;cle</i> (Paris 1951),
169&ndash;86.
</span>
<br>
<strong><i>Summa de arte praedicandi</i></strong>
<i>PL</i> 210. 111&ndash;98; Stegm&uuml;ller <i>Bibl.</i> 951.

</li>

<li>
B87.9b (I 8&ndash;17): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1411_anchor">Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</a>
<br>
<span class="biblio_block">
J. Gobry in <i>DS</i> 7. 880&ndash;86.
</span>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
B87.9c (II 11&ndash;22): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1411_anchor">Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</a>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
B87.9d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2940_anchor">Richard Wetheringsett [13th cent.]
</a>
<br>
<strong><i>Summa Qui bene praesunt</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 519; 
Bloomfield 4583.  [Almost always anonymous.]

</li>

<li>
B87.9f (IV): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
B87.9g: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De cura pastorali</i> (<i>ep.</i> 127)</strong>
ed. H. R. Luard, RS 25 (1861), 357&ndash;431;
Thomson, <i>Grosseteste</i>, 86.

</li>

<li>
B87.9h: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Quomodo religiosi monendi sunt ad confitendum</i></strong>
ed. Goering, <i>William de Montibus</i>, 211&ndash;21; Bloomfield 3901.

</li>

<li>
B87.9i: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1389_anchor">Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</a>
<br>
<strong><i>Elucidarius</i></strong>
<i>PL</i> 172. 1109&ndash;1176; ed. Y. Lef&egrave;vre, <i>L'Elucidarium et
les lucidaires</i>, Biblioth&egrave;que des &Eacute;coles fran&ccedil;aises d'Ath&egrave;nes et de Rome
180 (Paris 1954), 361&ndash;477.

</li>

<li>
B87.9j: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De XII gradibus humilitatis</i></strong>
<i>SBO</i> 3. 15&ndash;59.

</li>

<li>
B87.9k: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
B87.&dagger;9h (`de confessione'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Speculum poenitentis</i></strong>
ed. Goering, <i>William de Montibus</i>, 187&ndash;210;
Bloomfield 0504, 1410.

</li>

<li>
B87.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
B87.&dagger;12 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1697_anchor">John of Freiburg OP [&dagger;1314]
</a>
<br>
<strong><i>Summa confessorum</i></strong>
pr. Augsburg 1476 (Goff J316), &amp;c.; Schulte, 2.
421&ndash;2; Bloomfield 5256; Kaeppeli 2344. [Published in 1298; anonymous copies
often indistinguishable from the earlier work by Thomas of Chobham.]

</li>

<li>
B87.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3753_anchor">Willelmus de Pagula [early 14th cent.]
</a>
<br>
<strong><i>Summa summarum</i></strong>
unpr.; excerpts ed. L. E. Boyle, <i>Proceedings of 
Second Congress of Medieval Canon Law</i> (Vatican City 1965), 415&ndash;56; 
Bloomfield 0234; Sharpe, <i>Latin Writers</i>, 800.

</li>

<li>
B87.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1151_anchor">Gilbert de la Porr&eacute;e [1076&ndash;1154]
</a>
<br>
<strong>Gloss on the Psalms (<i>Media glosatura</i>)</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 
2511.

</li>

<li>
B87.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry398_anchor">Bartholomew of Brescia [&dagger;1258]
</a>
<br>
<strong><i>Casus Decretorum</i>, a reworking of Benencasa</strong>
pr. Basel 1489 (<i>GW</i> 
3426), Paris 1505, &amp;c.; Schulte, 2. 84&ndash;5.

</li>

<li>
B87.17 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1420_anchor">Hugo Ripelinus OP [&dagger; <i>c</i>1300]
</a>
<br>
<strong><i>Compendium ueritatis theologicae</i></strong>
ed. A. Borgnet, <i>Alberti
Magni opera omnia</i> (Paris 1890&ndash;99), 34. 1&ndash;270; Stegm&uuml;ller <i>Sent.</i> 368; 
Kaeppeli 1982.

</li>

<li>
B87.19a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Dialogi</i></strong>
<i>CPL</i> 1713; ed. A. de Vog&uuml;&eacute;, SChr 251, 260, 265 (1978&ndash;80).

</li>

<li>
B87.19b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
B87.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
B87.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B87.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2464_anchor">Papias [fl. 1050]
</a>
<br>
<strong><i>Elementarium doctrinae rudimentum</i></strong>
pr. Milan 1476 (<i>CIBN</i> P22), 
&amp;c.; Venice 1496 / repr. Turin 1966; a new edition was begun by V. de Angelis, 
A fasc. 1&ndash;3 (Milan 1977&ndash;80).

</li>

<li>
B87.23 (`practicam Auicenne'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>Canon medicinae</i>, tr. Gerard of Cremona</strong>
pr. Milan 1473 (<i>GW</i> 3115,
<i>CIBN</i> A806), [Strassburg, not before 1473] (<i>GW</i> 3114, <i>CIBN</i> A807), &amp;c. 

</li>

<li>
B87.24 (`partem primam .&nbsp;.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
B87.25a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De uita et moribus clericorum suorum</i> (<i>serm.</i> 355&ndash;6)</strong>
<i>CPL</i> 284; 
<i>PL</i> 39. 1568&ndash;81.

</li>

<li>
B87.25b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1589_anchor">John Beleth [&dagger; after 1182]
</a>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
B87.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Sermones</i></strong>
<i>CPL</i> 284.

</li>

<li>
B87.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry528_anchor">Bruno [<i>c</i>1032&ndash;1101]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1509; <i>PL</i> 153. 11&ndash;566; 
Stegm&uuml;ller <i>Bibl.</i> 1817&ndash;30.

</li>

<li>
B87.30 (attrib. Aquinas): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1420_anchor">Hugo Ripelinus OP [&dagger; <i>c</i>1300]
</a>
<br>
<strong><i>Compendium ueritatis theologicae</i></strong>
ed. A. Borgnet, <i>Alberti
Magni opera omnia</i> (Paris 1890&ndash;99), 34. 1&ndash;270; Stegm&uuml;ller <i>Sent.</i> 368; 
Kaeppeli 1982.

</li>

<li>
B87.32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry480_anchor"><i>Bestiarium</i></a>
on the genre and English manuscripts see F. Unterkircher,
<i>Bestiarium: Die Texte der HS Ashmole 1511</i> (Graz 1986); W. B. Clark &amp;
M. T. McMunn, <i>Beasts and Birds of the Middle Ages</i> (Philadelphia, PA, 1989).

<br>
</li>

<li>
B87.33 = B87.53: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
B87.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1389_anchor">Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</a>
<br>
<strong><i>Elucidarius</i></strong>
<i>PL</i> 172. 1109&ndash;1176; ed. Y. Lef&egrave;vre, <i>L'Elucidarium et
les lucidaires</i>, Biblioth&egrave;que des &Eacute;coles fran&ccedil;aises d'Ath&egrave;nes et de Rome
180 (Paris 1954), 361&ndash;477.

</li>

<li>
B87.37a (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2640_anchor">Peter of Waltham [&dagger; after 1194]
</a>
<br>
<strong><i>Remediarium conuersorum</i></strong>
ed. J. Gildea (Villanova, PA, 1984); 
Bloomfield 2819.

</li>

<li>
B87.*39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1858_anchor">John of Salisbury [<i>c</i>1115&ndash;1180], bishop of Chartres
</a>
<br>
<strong><i>Policraticus</i></strong>
ed. C. C. J. Webb (Oxford 1909); I&ndash;IV, ed. K. S. B.
Keats-Rohan, <i>CCCM</i> 118 (1993).

</li>

<li>
B87.40, 56: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B87.41 (I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
B87.42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
B87.43 (II&ndash;III): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
B87.44: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
<strong><i>Viaticum</i></strong>
pr. Venice 1505 &amp;c.; pr. Lyon 1515, 2. 144r&ndash;171v (with the 
works of Isaac Judaeus); pr. Basel 1536, 1. 1&ndash;167 (with the works of 
Constantinus); Thorndike/Kibre 187, 334, 1298, 1357. [M. F. Wack, 
<i>Lovesickness in the Middle Ages. The Viaticum and its Commentaries</i> 
(Philadelphia, PA, 1990).]

</li>

<li>
B87.45: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2816_anchor">Ralph of Dunstable OSB [late 12th cent.]
</a>
<br>
<strong><i>Passio S. Albani</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 447; <i>BHL</i> 212.

</li>

<li>
B87.46b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry304_anchor">Arator [early 6th cent.]
</a>
<br>
<strong><i>Historia apostolica</i></strong>
<i>CPL</i> 1504; ed. A. Orb&aacute;n, <i>CCSL</i> 130, 130A 
(2006).

</li>

<li>
B87.47a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
B87.47b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 890&ndash;94; ed. C. Moreschini, Teubner (2000). 
This title usually designates the five <i>opuscula sacra</i>.

</li>

<li>
B87.48a (`Macrum de uiribus herbarum metrice compositum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2132_anchor">`Macer' [? early 11th cent.]
</a>
<br>
<strong><i>De uiribus herbarum</i></strong>
ed. L. Choulant (Leipzig 1832), 28&ndash;123; 
Thorndike/Kibre 610; <i>WIC</i> 7711. A small number of manuscripts associate
the work with a writer called Odo, once named as Odo Magdunensis, from which 
the author is sometimes supposed to be Odo of Meung, an unknown figure.

</li>

<li>
B87.48c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Somnium Scipionis</i> (<i>De re publica</i> VI 9&ndash;29)</strong>
ed. K. Ziegler, 
Teubner (1969), 126&ndash;36.

</li>

<li>
B87.48d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2691_anchor">Plato [429&ndash;347 BC]
</a>
<br>
<strong><i>Timaeus</i>, tr. Calcidius</strong>
ed. J. H. Waszink, <i>Plato Latinus</i> 4 (Leiden 
1962).

</li>

<li>
B87.&dagger;&dagger;48e (`Alexandrum Milesium de planetarum ordine'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2268_anchor">Mileus or Menelaus of Alexandria [1st cent.]
</a>
<br>
<strong><i>De figuris sphaericis</i>, tr. Gerard of Cremona</strong>
ed. E. Halley &amp; 
G. Costard, <i>Menelai Sphaericorum libri III</i> (Oxford 1758); Carmody, 22; 
Thorndike/Kibre 397.

</li>

<li>
B87.&dagger;49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3247_anchor">Sulpicius Severus [<i>c</i>363&mdash;after 420]
</a>
<br>
<strong><i>Vita S. Martini</i></strong>
<i>CPL</i> 475&ndash;7; <i>BHL</i> 5610, 5611&ndash;16; ed. J. Fontaine, SChr 133 (1967).

</li>

<li>
B87.50: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3509_anchor">Alban
</a>
<br>
</li>

<li>
B87.&dagger;50a (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2204_anchor">Matthew Paris OSB [<i>c</i>1195&ndash;after 1259], monk of St Albans
</a>
<br>
<strong><i>Vie de seint Auban</i></strong>
ed. A. R. Harden (Oxford 1968); Dean 506.

</li>

<li>
B87.&dagger;50b (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2204_anchor">Matthew Paris OSB [<i>c</i>1195&ndash;after 1259], monk of St Albans
</a>
<br>
<strong><i>Vie de seint Aedward le Rei</i></strong>
facsimile, ed. M. R. James, Roxburghe
Club (1920); Dean 522. Or the anonymous Life by a nun of Barking; Dean 523.

</li>

<li>
B87.&dagger;51 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1697_anchor">John of Freiburg OP [&dagger;1314]
</a>
<br>
<strong><i>Summa confessorum</i></strong>
pr. Augsburg 1476 (Goff J316), &amp;c.; Schulte, 2.
421&ndash;2; Bloomfield 5256; Kaeppeli 2344. [Published in 1298; anonymous copies
often indistinguishable from the earlier work by Thomas of Chobham.]

</li>

<li>
B87.53 = B87.59a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
B87.54: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. 
de Lagarde, <i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
B87.55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
B87.58b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3504_anchor"><i>Vita Secundi philosophi</i>, tr. Willelmus medicus</a>
ed. A. Hilka, <i>Leben und
Sentenzen des Philosophus Secundus</i> (Breslau 1910), 8&ndash;23; ed. W. Suchier,
Illinois Studies in Language and Literature 24/2 (1939), 152&ndash;9, repr. B. E.
Perry, <i>Secundus the Silent Philosopher</i> (Ithaca, NY, 1964), 92&ndash;100; <i>CTC</i>
2. 1&ndash;3; Thorndike/Kibre 1423. [Suchier, 162&ndash;6, lists more than a hundred
copies.]

<br>
</li>

<li>
B87.58d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De decem mandatis</i></strong>
ed. R. C. Dales &amp; E. B. King, <i>Auctores Britannici
medii aeui</i> 10 (1987); Thomson, <i>Grosseteste</i>, 131&ndash;2.

</li>

<li>
B87.59a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
B87.59b (`de uiij uiciis principalibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
B87.60a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. 
de Lagarde, <i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
B87.60b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>De XLII mansionibus filiorum Israel in deserto</i> (<i>ep.</i> 78)</strong>
<i>CPL</i> 620;
<i>PL</i> 22. 698&ndash;724; ed. I. Hilberg, <i>CSEL</i> 55 (1996<sup>2</sup>) 49&ndash;87; Lambert 78;
Stegm&uuml;ller <i>Bibl.</i> 3319. 

</li>

<li>
B87.60c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Liber interpretationis hebraicorum nominum</i></strong>
<i>CPL</i> 581; ed. P. de 
Lagarde, <i>CCSL</i> 72 (1959) 59&ndash;161; Lambert 201. [Anonymous texts usually 
indeterminate.]

</li>

<li>
B87.61: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3753_anchor">Willelmus de Pagula [early 14th cent.]
</a>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>74 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
