{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/211" title="Pott Shrigley">Pott Shrigley</a>  &gt; Inventory of church goods, 1493 &times; 1510</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Pott Shrigley</h2><h3 class="medieval_catalogue_desc">SC284. Inventory of church goods, 1493 &times; 1510</h3>
<em>10 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC284.&para;1: 
<strong><i>Missale ad usum ecclesiae Sarisburiensis</i></strong>
pr. Paris 1487 (<i>Bod-inc</i> M271),
&amp;c. [Entries here for identified printed missals only.]

<br>
</li>

<li>
SC284.&para;5: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i>, English tr. by William Caxton</strong>
pr. by W. Caxton, 
Westminster 1483 (<i>STC</i> 24873), &amp;c.

</li>

<li>
SC284.6: 
<strong>Guillaume Deguileville [<i>c</i>1295&ndash;after 1358]
</strong>
<br>
<strong><i>Le Pelerinage de la vie humaine</i>, English tr. by John Lydgate as
<i>The Pilgrimage of the Life of Man</i></strong>
ed. F. J. Furnivall &amp; K. B. Locock,
EETS ES 77, 83, 92 (1899&ndash;1904).

</li>

<li>
SC284.&para;7: 
<strong><i>Diues et Pauper</i></strong>
pr. London: R. Pynson, 1493 (<i>STC</i> 19212); pr. 
Westminster: W. de Worde, 1496 (<i>STC</i> 19213); ed. P. H. Barnum, EETS OS 275, 
280, 323 (1976&ndash;2003).

<br>
</li>

<li>
SC284.&para;9: 
<strong>Frater Laurentius []
</strong>
<br>
<strong><i>Somme des vices et vertus</i>, English tr. by William Caxton as <i>The
Ryal Book</i></strong>
pr. [Westminster: W. Caxton, <i>c.</i> 1486] (<i>STC</i> 21429), &amp;c.

</li>

<li>
SC284.&para;10: 
<strong>Guillaume Deguileville [<i>c</i>1295&ndash;after 1358]
</strong>
<br>
<strong><i>Le Pelerinage de lAme</i>, English tr. as <i>The pylgremage of the sowle</i></strong>
 pr. by W. Caxton, Westminster 1483 (<i>STC</i> 6473); ed. R. P. McGerr (New York, 
NY, 1990).

</li>

<li>
SC284.&para;11: 
<strong>Nicholas Love [fl. 1410]
</strong>
<br>
<strong><i>The Mirrour of the blessed Lyf of Jhesu Christ</i></strong>
pr. by W. Caxton, 
[Westminster 1484] (<i>STC</i> 3259), &amp;c.; ed. M. G. Sargent (New York, NY,
1992); ed. M. G. Sargent (Exeter, 2005). The work is adapted from <i>ps.</i> 
Bonaventure, <i>Meditationes uitae Christi</i>.

</li>

<li>
SC284.&para;12: 
<strong>Iacobus Magni (Jacques Le Grand) OESA [<i>c</i>1360&ndash;1415]
</strong>
<br>
<strong><i>Livres de bonnes meurs</i>, English tr. by William Caxton as
<i>The Book of Good Maners</i></strong>
pr. Westminster 1487 (<i>STC</i> 15394), &amp;c.

</li>

<li>
SC284.&para;13: 
<strong><i>Gesta Romanorum cum applicationibus moralizatis</i></strong>
pr. [Cologne <i>c.</i> 
1473] (<i>GW</i> 10082), &amp;c.; ed. H. Oesterley (Berlin 1872 / repr. Hildesheim 
1963); W. R&ouml;ll in <i>MLJ</i> 21 (1986) 208&ndash;229; B. Weiske, <i>Gesta Romanorum</i> 
(T&uuml;bingen 1992).

<br>
</li>

<li>
SC284.&para;14: 
<strong>John Raynton []
</strong>
<br>
<strong><i>Crede michi</i></strong>
pr. with Clement Maidstone's <i>Directorium sacerdotum</i> 
 by W. Caxton, Westminster [<i>c.</i> 1484] (<i>STC</i> 17720, <i>GW</i> 8456), &amp;c.; ed. 
C. Wordsworth, Henry Bradshaw Soc. 7 (1894), 27&ndash;81.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>10 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
