{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/76" title="Ramsey">Ramsey</a>  &gt; Books borrowed by John de Haliwell, ?13th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Ramsey</h2><h3 class="medieval_catalogue_desc">B69. Books borrowed by John de Haliwell, ?13th cent.</h3>
<em>11 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B69.2: 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong><i>Diadema monachorum</i></strong>
<i>PL</i> 102. 593&ndash;690; Bloomfield 2456.

</li>

<li>
B69.3: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>dub.</i>]
<strong>`Super epistolas Pauli'</strong>
see note on B24.41.

</li>

<li>
B69.*4 = H2.*250: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
B69.*4<sup>x</sup> = H2.*250<sup>x</sup>: 
<strong>Adalbert of Metz [&dagger; <i>c.</i> 980]
</strong>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

<li>
B69.6: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
B69.7: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
B69.9 (<i>ps.</i> Jerome, <i>ep.</i> 1, &amp;c.): 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
B69.11: 
<strong>William of Auxerre [&dagger;1231]
</strong>
<br>
<strong><i>Summa aurea super quatuor libros Sententiarum</i></strong>
ed. J. Ribaillier, 
Spicilegium Bonaventurianum 16&ndash;20 (Paris/Grottaferrata 1980&ndash;87); Stegm&uuml;ller 
<i>Sent.</i> 281.  

</li>

<li>
B69.&dagger;12: 
<strong><i>Vnum ex quatuor</i> most commonly refers to the gospel harmony of Tatian, as
translated by Victor of Capua</strong>
<i>PL</i> 68. 255&ndash;358; Stegm&uuml;ller <i>Bibl.</i> 1280.
It is also the title of works by Clement of Lanthony and Zacharias of Besan&ccedil;on.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>11 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
