{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/201" title="London, St Peter-upon-Cornhill">London, St Peter-upon-Cornhill</a>  &gt; Memoranda, Michaelmas 1548 to Michaelmas 1551</p><h2>SECULAR INSTITUTIONS: Secular Colleges: London, St Peter-upon-Cornhill</h2><h3 class="medieval_catalogue_desc">SC270. Memoranda, Michaelmas 1548 to Michaelmas 1551</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC270.&para;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2422_anchor"><i>The Order of the Communion</i></a>
pr. London 1549 (<i>STC</i> 16456.5), &amp;c.

<br>
</li>

<li>
SC270.&para;7 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2768_anchor"><i>The Psalter or Psalms of David poincted as it shalbe sung in churches</i></a>
 pr. London 1548 (<i>STC</i> 2375.5), &amp;c.

<br>
</li>

<li>
SC270.&para;8 (6 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Paraphrasis in Nouum testamentum</i></strong>
pr. Basel 1522&ndash;4 &amp;c.; part 6
(Hbr&ndash;3 Jo), ed. J. J. Bateman, <i>Erasmi opera omnia</i> 7/6 (Amsterdam 1997).

</li>

<li>
SC270.&para;9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2422_anchor"><i>The Order of the Communion</i></a>
pr. London 1549 (<i>STC</i> 16456.5), &amp;c.

<br>
</li>

<li>
SC270.&para;11 (`a boke to rede in the churche for obedience'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3795_anchor">William Tyndale [<i>c.</i> 1492&ndash;1536]
</a>
<br>
<strong><i>The Obedience of a Christen man</i></strong>
pr. Antwerp 1528 (<i>STC</i> 24446),
&amp;c.; ed. Lovett (London 1888); ed. D. Daniell (London 2000).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
