{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Secular Colleges: Winchester College</h2><h3 class="medieval_catalogue_desc">SC332. Memoranda on the purchase of books, 1412-13</h3>
<em>25 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC332.1: 
<strong>John Elmer [&dagger;1419]
</strong>
<br>
<strong><i>Lira abbreuiatus</i></strong>
not known to survive.

</li>

<li>
SC332.2: 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
SC332.3: 
<strong>Bernard of Parma [&dagger;1266]
</strong>
<br>
<strong><i>Glossa ordinaria</i> on the Decretals</strong>
pr. with the Decretals, Strassburg
1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 2. 115.

</li>

<li>
SC332.4: 
<strong>Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</strong>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
SC332.5: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
SC332.6: 
<strong>William de Montibus [&dagger;1213]
</strong>
<br>
<strong><i>Speculum poenitentis</i></strong>
ed. Goering, <i>William de Montibus</i>, 187&ndash;210;
Bloomfield 0504, 1410.

</li>

<li>
SC332.7: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Soliloquia</i></strong>
<i>CPL</i> 252; ed. W. H&ouml;rmann, <i>CSEL</i> 89 (1986) 3&ndash;98. [See
also Augustine ps., <i>Soliloquia animae ad Deum</i>; Ecbertus Schonaugiensis 
(<i>ps.</i> Augustine), <i>Soliloquium</i>.]

</li>

<li>
SC332.7<sup>x</sup>: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De Genesi ad litteram imperfectus liber</i></strong>
<i>CPL</i> 268.

</li>

<li>
SC332.8: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Dialogus quaestionum LXV</i></strong>
<i>CPL</i> 373a; <i>PL</i> 40. 733&ndash;52; <i>CPPM</i> 2. 151.

</li>

<li>
SC332.8<sup>x</sup>: 
<strong>Adam of Eynsham OSB [&dagger; post 1233], monk of Eynsham
</strong>
<br>
<span class="biblio_block">
Sharpe, <i>Latin Writers</i>, 15&ndash;16.
</span>
<br>
<strong><i>Magna uita S. Hugonis</i></strong>
ed. D. L. Douie &amp; D. H. Farmer, NMT (1961&ndash;2), 
repr. OMT (1985<sup>2</sup>); <i>BHL</i> 4018.

</li>

<li>
SC332.9: 
<strong>Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</strong>
<br>
<strong><i>De sex uerbis Domini in cruce</i></strong>
<i>PL</i> 189. 1677&ndash;726; Stegm&uuml;ller <i>Bibl.</i> 2254.

</li>

<li>
SC332.9<sup>x</sup>: 
<strong>Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</strong>
<br>
<strong><i>De operibus sex dierum</i></strong>
<i>PL</i> 189. 1515&ndash;70; Stegm&uuml;ller <i>Bibl.</i> 2251.

</li>

<li>
SC332.12: 
<strong>John Elmer [&dagger;1419]
</strong>
<br>
<strong><i>Libri Moralium abbreuiati</i></strong>
not known to survive.

</li>

<li>
SC332.12<sup>x</sup>: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
SC332.13: 
<strong>John Elmer [&dagger;1419]
</strong>
<br>
<strong><i>Augustinus super Iohannem abbreuiatus</i></strong>
not known to survive.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
