{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC" title="UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC/344" title="Gonville and Caius College">Gonville and Caius College</a>  &gt; Leland, c. 1535</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Gonville and Caius College</h2><h3 class="medieval_catalogue_desc">UC27. Leland, c. 1535</h3>
<em>49 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC27.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Synonyma ad Lucium Veturium</i></strong>
pr. Rome 1491 (<i>GW</i> 7034), &amp;c.

</li>

<li>
UC27.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1044_anchor">Fulgentius Mythographus [fl. 500]
</a>
<br>
<strong><i>Mitologiae</i></strong>
<i>CPL</i> 849.

</li>

<li>
UC27.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3267_anchor">Symphosius [5th cent.]
</a>
<br>
<strong><i>Aenigmata</i></strong>
<i>CPL</i> 1518; ed. M. Bergamin, Per Verba 22 (Florence
2005).

</li>

<li>
UC27.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2911_anchor">Richard FitzRalph [&dagger;1360], archbishop of Armagh
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
unpr.; Sharpe, <i>Latin
Writers</i>, 478&ndash;9; Stegm&uuml;ller <i>Sent.</i> 719&ndash;21.

</li>

<li>
UC27.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1669_anchor">John Dumbleton [&dagger;1349]
</a>
<br>
<strong><i>Summa logicae et naturalis philosophiae</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 239.

</li>

<li>
UC27.6 (`M. de expulsis e paradiso protoparentibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2248_anchor">Methodius [], bishop of Olympus
</a>
<br>
[<i>pseud.</i>]
<strong><i>De initio et fine saeculi</i></strong>
the form found in most English copies 
is unpr.; the oldest Latin version, ed. W. J. Aerts &amp; G. A. A. Kortekaas,
<i>Die Apokalypse des Pseudo-Methodius</i> (Louvain 1998); other versions, pr. 
in <i>Maxima bibliotheca ueterum patrum</i> (Lyon 1677), 3. 727&ndash;35, and ed. 
E. Sackur, <i>Sibyllinische Texte und Forschungen</i> (Halle 1898), 61&ndash;96.

</li>

<li>
UC27.*7 (`repressiua autore Richardo medico'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2895_anchor">Ricardus Anglicus [<i>c</i>1162&ndash;1242]
</a>
<br>
<strong><i>De medicinis repressiuis</i></strong>
unpr.; Sharpe, <i>Latin 
Writers</i>, 471; Thorndike/Kibre 84, 
814.

</li>

<li>
UC27.*7<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry172_anchor"><i>Alphita</i></a>
ed. J. L. G. Mowat (Oxford 1887); ed. Renzi, 3. 272&ndash;322;
Thorndike/Kibre 86.

<br>
</li>

<li>
UC27.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3638_anchor">Walter Oddington OSB [&dagger;after 1316], monk of Evesham
</a>
<br>
<strong><i>Tabula de motibus planetarum et almanak reuersionis eorum</i></strong>
not
known to survive; Sharpe, <i>Latin Writers</i>, 739.

</li>

<li>
UC27.*9 (`tabula motus octauae sphaerae autore Profacio Iudaeo'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2749_anchor">Profatius Iudaeus (Jacob ben Machir) [fl. 1288&ndash;1301]
</a>
<br>
<strong><i>Tabulae almanac</i>, Latin tr.</strong>
ed. G. Boffito &amp; C. Melzi d'Eril 
(Florence 1908).

</li>

<li>
UC27.10 (`de inuentione annorum Arabum secundum mag. 
   Campanum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry551_anchor">Campanus of Novara [&dagger;1296]
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 17. 420&ndash;24.
</span>
<br>
<strong><i>Expositio tabulae de annis Arabum</i></strong>
unpr.; Glorieux <i>Arts</i> 75m;
Thorndike/Kibre 1083, 1234, 1551.

</li>

<li>
UC27.11 (`tabula aequationis domorum cum canone praecedente per 
   mag. Iannem Wate'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1912_anchor">John Walter [&dagger;1412]
</a>
<br>
<strong><i>Tabulae et canones</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 341&ndash;2.

</li>

<li>
UC27.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3630_anchor">Walter of Elveden [mid 14th cent.]
</a>
<br>
<strong><i>Kalendarium cum tribus cyclis decennoualibus</i> (1327)</strong>
unpr.;
Sharpe, <i>Latin Writers</i>, 734.

</li>

<li>
UC27.*13 (`aequatorium mag. Ioannis de Lineriis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1762_anchor">Iohannes de Lineriis [early 14th cent.]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 7. 122&ndash;8.
</span>
<br>
<strong><i>Canones</i> to the Alphonsine Tables</strong>
unpr.; Thorndike/Kibre 889.

</li>

<li>
UC27.*13<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry337_anchor">Arzachel (Ibrahim bin Yahya an-Naqqash az-Zarqali al-Qurtubi, Abu Ishaq) 
[&dagger;1100]
</a>
<br>
<strong><i>Canones ad tabulas Toletanas</i>, tr. Gerard of Cremona</strong>
pr. 
N&uuml;rnberg 1534; ed. F. S. Pedersen, <i>The Toledan Tables</i> (Copenhagen 2002),
2. 331&ndash;499; Carmody, 157&ndash;60; Thorndike/Kibre 1268, 1306, 1708. Pedersen
judges that the medieval ascriptions to Arzachel and Gerard are not reliable.

</li>

<li>
UC27.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Kalendarium</i></strong>
ed. A. Lindhagen, <i>Arkiv f&ouml;r Matematik, Astronomi och
Fysik</i> 2/2 (1916), 15&ndash;41; Thomson, <i>Grosseteste</i>, 106&ndash;107.

</li>

<li>
UC27.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Computus correctorius</i></strong>
ed. R. Steele, <i>Opera hactenus inedita Rogeri
Baconis </i> (Oxford 1909&ndash;40), 6. 212&ndash;67; Thomson, <i>Grosseteste</i>, 95&ndash;6; Sharpe,
<i>Latin Writers</i>, 540.

</li>

<li>
UC27.16a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De iride</i></strong>
ed. Baur, 72&ndash;8; Thomson, <i>Grosseteste</i>, 105&ndash;106.

</li>

<li>
UC27.16b (`de utilitate artium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De artibus liberalibus</i></strong>
ed. Baur, 1&ndash;7; Thomson, <i>Grosseteste</i>,
91&ndash;2.

</li>

<li>
UC27.16c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De colore</i></strong>
ed. Baur, 78&ndash;9; Thomson, <i>Grosseteste</i>, 93&ndash;4.

</li>

<li>
UC27.16d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De cometis et causis ipsarum</i></strong>
ed. C. Panti, <i>Moti, virt&ugrave; e motori
celesti nella cosmologia di Roberto Grosseteste</i> (Florence 2001), 321&ndash;8;
Thomson, <i>Grosseteste</i>, 94.

</li>

<li>
UC27.&dagger;16e (`de natura intellectus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De forma prima omnium</i>, the first part of a letter to Adam Marsh
(<i>ep.</i> 1)</strong>
ed. H. R. Luard, RS 25 (1861), 1&ndash;7; ed. Baur, 106&ndash;111; Thomson, 
<i>Grosseteste</i>, 98&ndash;9. Together with the second part, titled <i>De 
intelligentiis</i>: ed. Luard, 8&ndash;19; ed. Baur, 112&ndash;19; Thomson, <i>Grosseteste</i>, 
103&ndash;104.

</li>

<li>
UC27.*17<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry108_anchor">Albumasar (Abu Ma`shar Ja`far) [787&ndash;886]
</a>
<br>
<span class="biblio_block">
D. E. Pingree in <i>DSB</i> 1. 32&ndash;9. 
</span>
<br>
<strong><i>Flores astrorum</i>, tr. John of Seville</strong>
ed. S. Caroti &amp; S.
Zampani (Pisa 1977); Carmody, 92&ndash;4; Thorndike/Kibre 616, 1013.

</li>

<li>
UC27.*18 (`aphorismi Ioannis Damasceni cum commento Isidori'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1784_anchor">Iohannes Mesue (Masawaih al-Mardini) [&dagger;1015]
</a>
<br>
<strong><i>Liber aphorismorum</i></strong>
pr. with Maimonides' <i>Aphorismi</i>, Bologna 1489
(Goff M77), &amp;c., and with the works of Razes, Venice 1497 (Goff R175), fols. 
149v&ndash;151r, &amp;c.; Thorndike/Kibre 824 &amp;c. [The commentary attributed to
Isidore is found in several 14th-cent. manuscripts, Thorndike/Kibre 777.]

</li>

<li>
UC27.*18<sup>x</sup> (w. Haly): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong><i>Tegni</i>, tr. ? Gerard of Cremona</strong>
pr. in <i>Articella</i> (Venice 1487), fols.
159&ndash;210; Thorndike/Kibre 1585 (prologue), 858 (text), 757 (commentary). [The
commentary by Haly ibn Ridwan (Thorndike/Kibre 757, 1585) is often found 
with the text.]

</li>

<li>
UC27.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1034_anchor">Frechulf of Liseux [&dagger;853]
</a>
<br>
<strong><i>Chronica</i></strong>
<i>PL</i> 106. 917&ndash;1116, 1117&ndash;1258; ed. M. I. Allen, <i>CCCM</i>
169, 169A (2002). [The two parts, before and 
after Christ, are sometimes separately described. List of manuscripts by 
C. F. Natunewicz in <i>Sacris erudiri</i> 17 (1966) 88&ndash;134.]

</li>

<li>
UC27.?*165: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry646_anchor"><i>Commentarium notarum Tironianarum</i></a>
ed. W. Schmitz (Leipzig 1893).

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>49 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
