{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC107. Bequest of John Beverley, 1473; Gonville</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*1&ndash;12: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UC107.*13: 
<strong>Peter of Tarentaise OP (later Innocent V) [<i>c</i>1224&ndash;1276, <i>sedit</i> 1276]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 
6868&ndash;81 (first recension); Glorieux <i>R&eacute;p.</i> 17d. Or the second 
recension (<i>ps.</i> Nicholaus de Gorran): pr. Cologne 1478 (Goff N103) (as 
Gorran); Stegm&uuml;ller <i>Bibl.</i> 5800, 6882&ndash;95. [This work is not really treated 
by Kaeppeli 3339.] 

</li>

<li>
UC107.*14: 
<strong>John Lathbury OFM [&dagger;1362]
</strong>
<br>
<strong>Commentary on Lamentations</strong>
&para;pr. Oxford 1482 (<i>STC</i> 15297, Goff L75); 
Stegm&uuml;ller <i>Bibl.</i> 4762.

</li>

<li>
UC107.*15: 
<strong>Pierre Bersuire [<i>c</i>1290&ndash;1362]
</strong>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Reductorium morale super totam Bibliam</i>, the sixteenth book of 
his <i>Reductorium morale</i>, which circulated widely on its own</strong>
pr. as 
<i>Liber Bibliae moralis</i>, Ulm 1474 (<i>GW</i> 3862), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
6426. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
