{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University</h2><h3>UO2. Gift of books by Humfrey Duke of Gloucester, 1441</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO2.1: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
UO2.2: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
UO2.3a: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De musica</i></strong>
<i>CPL</i> 258; ed. M. Jacobsson (Stockholm 2002).

</li>

<li>
UO2.3b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De Genesi contra manichaeos</i></strong>
<i>CPL</i> 265; ed. D. Weber, <i>CSEL</i> 91
(1998).

</li>

<li>
UO2.4: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De Genesi ad litteram</i></strong>
<i>CPL</i> 266.

</li>

<li>
UO2.5: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De Genesi contra manichaeos</i></strong>
<i>CPL</i> 265; ed. D. Weber, <i>CSEL</i> 91
(1998).

</li>

<li>
UO2.6: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Hypomnesticon contra pelagianos et caelestianos</i></strong>
<i>CPL</i> 381; 
ed. J. E. Chisholm (Fribourg 1980); <i>CPPM</i> 2. 178. [Book VI is often found 
with the inscription `contra Pelagianos de predestinatione diuina'; 
R&ouml;mer, 2/1. 102&ndash;4.]

</li>

<li>
UO2.7: 
<strong>Pelagius [<i>c</i>350&ndash;after 423]
</strong>
<br>
<strong><i>Liber de uita christiana</i></strong>
<i>CPL</i> 730; pr. [Mainz <i>c.</i> 1465&ndash;6] (<i>CIBN</i>
A772), &amp;c.

</li>

<li>
UO2.8: 
<strong>T. Livius (Livy) [59 BC&ndash;AD 17]
</strong>
<br>
<strong><i>Ab urbe condita</i></strong>
ed. W. Weissenborn, M. M&uuml;ller, &amp; W. Heraeus, 
Teubner (1887&ndash;1908).

</li>

<li>
UO2.9: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
[<i>app.</i>]
<strong>`Quedam concordancie super libro Senice'</strong>
unidentified.

</li>

<li>
UO2.&dagger;10: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Ethica</i>, tr. Leonardo Bruni (1417)</strong>
pr. Cologne <i>c.</i> 1470 (<i>GW</i> 2384, 
5614), &amp;c.; prefaces, ed. H. Baron, <i>Leonardo Bruni. 
Humanistisch-Philosophische Schriften</i> (Berlin 1928), 75&ndash;81.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
