{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; Merton College</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Merton College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO46"  title="View details of catalogue UO46">UO46 Catalogue of philosophical books, early 14th cent. (150)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO47"  title="View details of catalogue UO47">UO47 Catalogue of theological books, 1349&ndash;c. 1360 (206)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO48"  title="View details of catalogue UO48">UO48 Electio list of philosophical books, 20 November 1372 (140)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO49"  title="View details of catalogue UO49">UO49 Gift of books by William Reed, 22 October 1374 (140)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO50"  title="View details of catalogue UO50">UO50 Electio list of philosophical books, 8 December 1375 (8)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO51"  title="View details of catalogue UO51">UO51 Electio list of philosophical books, 1408&ndash;9 (41)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO52"  title="View details of catalogue UO52">UO52 Indentures of distributions of books from the warden's collection, c. 1408&ndash;37 (75)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UO53 Memorandum of books deposited in the university chests, 1439 &times; 1452 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO54"  title="View details of catalogue UO54">UO54 Electio list of philosophical books, 13 January 1452 (11)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO55"  title="View details of catalogue UO55">UO55 Books assigned to the warden's study, 1483 (25)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO56"  title="View details of catalogue UO56">UO56 List of books given by John Gygour, 14 July 1486 (19)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO57"  title="View details of catalogue UO57">UO57 Electio list of theology books, 4 Nov. 1488 (13)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO58"  title="View details of catalogue UO58">UO58 List of books redeemed from the Rede chest, 7 Dec. 1493 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO59"  title="View details of catalogue UO59">UO59 Books received from William Romsey and others, 2 Aug. 1494. (35)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO60"  title="View details of catalogue UO60">UO60 List of books bequeathed by John Marshall, bishop of Llandaff 1478&ndash;Jan. &times; Feb. 1496 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO61"  title="View details of catalogue UO61">UO61 List of books bequeathed by John Persons, 26 Nov. 1500 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO62"  title="View details of catalogue UO62">UO62 Books assigned to the warden's study, 12 June 1507 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UO63 List of theological books missing from the electio, 3 April 1508 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UO64 Books assigned to the warden's study, 28 Feb. 1509 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO65"  title="View details of catalogue UO65">UO65 Electio list of philosophical books, 16 Dec. 1513 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO66"  title="View details of catalogue UO66">UO66 Electio list of theological books, 8 Dec. 1519 (7)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO67"  title="View details of catalogue UO67">UO67 Leland c. 1535 (9)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO68"  title="View details of catalogue UO68">UO68 Inventory of books drawn up for the Marian commissioners, 1556 (506)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>23 catalogues found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
