{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/59" title="Eynsham">Eynsham</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Eynsham</h2><h3 class="medieval_catalogue_desc">B34. Leland, c. 1536-40</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B34.1: 
<strong>Iulianus Pomerius [early 6th cent.]
</strong>
<br>
<strong><i>De uita contemplatiua</i></strong>
<i>CPL</i> 998.

</li>

<li>
B34.2: 
<strong>Henry of Huntingdon [1084&ndash;1155]
</strong>
<br>
<strong><i>Historia Anglorum</i></strong>
ed. D. E. Greenway, OMT (1996).

</li>

<li>
B34.3: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong>Commentary on Lamentations</strong>
ed. M. Winterbottom &amp; R. M. Thomson,
<i>CCCM</i> 244 (2011); Stegm&uuml;ller <i>Bibl.</i> 2916.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
