{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC136. Will of William Hunden, 27 January 1416; University</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC136.1: 
<strong>Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</strong>
<br>
<strong><i>Nouellae in Decretales</i></strong>
pr. Venice 1489 (<i>GW</i> 1729), &amp;c.; pr. 
Venice 1581; Schulte, 2. 219&ndash;21. For the various recensions, see 
K. Pennington in <i>ZRG kan.</i> 74 (1988) 328&ndash;47.

</li>

<li>
UC136.2: 
<strong>Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</strong>
<br>
<strong><i>Nouellae in Sextum</i></strong>
pr. Rome 1476 (<i>GW</i> 1730), &amp;c.; Schulte, 
2. 218&ndash;19.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
