{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R5. Union catalogue by author and title, early 14th cent.</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R5.1: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>De caelesti hierarchia</i>, Latin tr.</strong>
<i>CPG</i> 6600; ed. P. Chevallier,
<i>Dionysiaca</i> (Bruges 1937&ndash;50), 727&ndash;1066.

</li>

<li>
R5.2: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>De mystica theologia</i>, Latin tr.</strong>
<i>CPG</i> 6603; ed. P. Chevallier, 
<i>Dionysiaca</i> (Bruges 1937&ndash;50), 565&ndash;602.

</li>

<li>
R5.3: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
[<i>dub.</i>]
<strong>`Passionarium'</strong>
unidentified.

</li>

<li>
R5.4: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>Epistulae</i>, Latin tr. The group circulating with the <i>ps.</i> Dionysian
corpus, comprising ten letters addressed to Gaius (<i>epp.</i> 1&ndash;4) and others</strong>
 <i>CPG</i> 6604&ndash;6613; ed. P. Chevallier, <i>Dionysiaca</i> (Bruges 1937&ndash;50), 605&ndash;669,
1479&ndash;1578.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
