{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K21. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K21: 
<strong>&lt;&gt;Ansbertus [], bishop of Rouen
</strong>
<br>
<strong>name taken from Vincent of Beauvais, XXIV 100.
</strong>
</li>

<li>
K21.1: 
<strong>Ambrosius Autpertus [&dagger;781]
</strong>
<br>
<strong>(<i>ps.</i> Augustine), <i>Sermo de assumptione beatae Mariae</i></strong>
ed. 
R. Weber, <i>CCCM</i> 27B (1979) 1027&ndash;63; <i>CPPM</i> 1. 993.

</li>

<li>
K21.2: 
<strong>Ambrosius Autpertus [&dagger;781]
</strong>
<br>
<strong>Commentary on Revelation</strong>
pr. Cologne 1536 (Adams A956), &amp;c.; ed. 
R. Weber, <i>CCCM</i> 27, 27A (1975); Stegm&uuml;ller <i>Bibl.</i> 1275.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
