{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K8. Catalogus, c. 1360</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K8.1: 
<strong>Aldhelm [&dagger;709], bishop of Sherborne
</strong>
<br>
<strong><i>Aenigmata</i></strong>
<i>CPL</i> 1335; F. Glorie, <i>CCSL</i> 133 (1969) 371&ndash;539.

</li>

<li>
K8.2&ndash;3: 
<strong>Aldhelm [&dagger;709], bishop of Sherborne
</strong>
<br>
<strong><i>Carmen de uirginitate</i></strong>
<i>CPL</i> 1333.

</li>

<li>
K8.4: 
<strong>Aldhelm [&dagger;709], bishop of Sherborne
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 1334.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
