{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Westminster</h2><h3 class="medieval_catalogue_desc">B108. Leland, c. 1536-40</h3>
<em>15 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B108.1: 
<strong>William of Sudbury OSB [&dagger; after 1414]
</strong>
<br>
<strong><i>Tabula super Lyram</i></strong>
not known to survive; Sharpe, <i>Latin Writers</i>, 811.

</li>

<li>
B108.2: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Meditationes</i></strong>
ed. J. W. Goering &amp; F. A. C. Mantello in <i>JTS</i> new ser.
36 (1985) 118&ndash;28; Thomson, <i>Grosseteste</i>, 133&ndash;4.

</li>

<li>
B108.3: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Sermones</i></strong>
unpr.; Thomson, <i>Grosseteste</i>, 160&ndash;182, 214&ndash;232; 
Schneyer <i>Rep.</i> 5. 177&ndash;91.

</li>

<li>
B108.4: 
<strong>Ralph of Arundel OSB [&dagger;1223], abbot of Westminster
</strong>
<br>
<strong><i>Sermones</i></strong>
not known to survive; Sharpe, <i>Latin Writers</i>, 443. 

</li>

<li>
B108.5: 
<strong>John of Bromyard OP [&dagger;1352]
</strong>
<br>
<strong><i>Opus triuium siue Tractatus iuris ciuilis et canonici ad moralem 
materiam applicati</i></strong>
pr. [Cologne not after 1473] (Goff J258), &amp;c.; Kaeppeli 
2235. This work was commonly referred to as Bromyard's <i>Distinctiones</i>, but 
such copies are usually indistinguishable from Kaeppeli 2237.

</li>

<li>
B108.6: 
<strong>John of Damascus [<i>c</i>675&ndash;749]
</strong>
<br>
<strong><i>De fide orthodoxa</i> tr. Robert Grosseteste</strong>
unpr.; Thomson, 
<i>Grosseteste</i>, 48&ndash;50.

</li>

<li>
B108.*7: 
<strong>William of Sudbury OSB [&dagger; after 1414]
</strong>
<br>
<strong><i>Tabula super libros S. Thomae de Aquino</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 811.

</li>

<li>
B108.8: 
<strong>John of Bridlington OSA [&dagger;1379]
</strong>
<br>
<strong>(attrib.), <i>Prophetia</i></strong>
ed. T. Wright, RS 14/1 (1859), 123&ndash;215; 
Sharpe, <i>Latin Writers</i>, 220.

</li>

<li>
B108.9: 
<strong>John Colton [&dagger;1404]
</strong>
<br>
<strong><i>Tractatus pro sedatione scismatis</i></strong>
not known to survive; Sharpe, 
<i>Latin Writers</i>, 229.

</li>

<li>
B108.10: 
<strong>Thomas Palmer OP [&dagger; after 1415]
</strong>
<br>
<strong><i>Determinatio in materia scismatis</i></strong>
not known to survive; Sharpe, 
<i>Latin Writers</i>, 674.

</li>

<li>
B108.11: 
<strong>Nicholas Fakenham OFM [&dagger; <i>c</i>1407]
</strong>
<br>
<strong><i>Determinatio de sedando schismate</i></strong>
ed. F. Bliemetzrieder,
<i>AFH</i> 1 (1908) 577&ndash;600 and 2 (1909) 79&ndash;91; Sharpe, <i>Latin Writers</i>, 387.

</li>

<li>
B108.12: 
<strong>John Acton OP [&dagger; after 1403]
</strong>
<br>
<strong><i>Determinatio de materia schismatis</i></strong>
not known to survive; Sharpe, 
<i>Latin Writers</i>, 199.

</li>

<li>
B108.13: 
<strong>Nicholas Rishton [&dagger;1413]
</strong>
<br>
<strong><i>Determinatio de scismate</i></strong>
not known to survive; Sharpe, <i>Latin 
Writers</i>, 392.

</li>

<li>
B108.14: 
<strong>Richard FitzRalph [&dagger;1360], archbishop of Armagh
</strong>
<br>
<strong><i>Sermones</i></strong>
unpr.; Schneyer <i>Rep.</i> 5. 150&ndash;158; Sharpe, <i>Latin
Writers</i>, 481.

</li>

<li>
B108.15: 
<strong>Richard FitzRalph [&dagger;1360], archbishop of Armagh
</strong>
<br>
<strong><i>Contra fratres mendicantes</i>. Such a collection is
described in the catalogue of the Austin Friars at York (<i>Friars</i>, 145), and
Leland described another belonging to the London Carmelites  (<i>Friars</i>, 183).
The texts would include the bull <i>Vas electionis</i> (1321) and one or more of
FitzRalph's treatises relating to the case in the cardinals' tribunal
(1357&ndash;8), <i>Defensio curatorum</i> (pr. Louvain 1475 &amp;c.), <i>Quia in propositione nuper facta</i>
(unpr.), <i>De audientia confessionum</i> (unpr.) and <i>Libellus Coram nobis</i> (unpr.);
on all of which see K. Walsh, <i>Richard FitzRalph in Oxford, Avignon and Armagh</i>
(Oxford 1981), 406&ndash;51.
</strong>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
