{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p>{% endif %}<h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K233. Catalogus, c. 1360</h3>
<em>1 identified entry found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K233: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1216_anchor">Guido of Arezzo [&dagger; <i>c</i>1050]
</a>
<br>
<strong><i>Musica</i>, four texts transmitted together</strong>
&ndash; <i>a.</i> <i>Micrologus</i>, <i>b.</i> 
<i>Regulae rhythmicae</i>, <i>c.</i> <i>Praefatio in Antiphonarium</i> (or <i>Aliae regulae 
de cantu ignoto</i>), <i>d.</i> <i>Epistola de cantu ignoto</i>: <i>PL</i> 141. 379&ndash;432; ed.
A. Rusconi (Florence 2008). [Also <i>Micrologus</i>: ed. J. Smits van Waesberghe, 
<i>Corpus scriptorum de musica</i> 4 (Rome 1955), 79&ndash;234; manuscripts described, 
4&ndash;71. <i>Praefatio in Antiphonarium</i>: ed. J. Smits van Waesberghe, <i>Divitiae 
musicae artis</i> A. 3 (Buren 1975).]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>1 identified entry found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
