{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K242. Catalogus, c. 1360</h3>
<em>13 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K242: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong>&lt;&gt;, works reported from Jerome, &sect; 100, and Vincent of Beauvais,
XV 24.
</strong>
</li>

<li>
K242.1: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>De synodis</i></strong>
<i>CPL</i> 434.

</li>

<li>
K242.2: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 433; ed. P. Smulders, <i>CCSL</i> 62&ndash;62A (1979);
ed. M. Figura &amp; others, SChr 443 (1999&ndash;2001).

</li>

<li>
K242.3: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Epistula synodi Sardicensis</i></strong>
<i>CPL</i> 459.

</li>

<li>
K242.4: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Liber contra Constantium imperatorem</i></strong>
<i>CPL</i> 461.

</li>

<li>
K242.7: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Contra arianos siue Contra Auxentium</i></strong>
<i>CPL</i> 462.

</li>

<li>
K242.8: 
<strong>Hilary of Arles [&dagger;440], bishop of Arles
</strong>
<br>
<strong>(attrib.), <i>Expositio de fide catholica</i></strong>
<i>CPL</i> 505.

</li>

<li>
K242.9: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De fide</i></strong>
<i>CPL</i> 150; ed. O. Faller, <i>CSEL</i> 78 (1962). Some copies will
also contain <i>De spiritu sancto</i> and <i>De incarnationis dominicae sacramento</i>,
linked works addressed to the emperor Gratian: <i>CPL</i> 151, 152; ed. O. Faller,
<i>CSEL</i> 79 (1964).

</li>

<li>
K242.10: 
<strong>Hilary [fl. 428], correspondent of Augustine
</strong>
<br>
<strong><i>Epistula ad Augustinum</i>, transmitted with Augustine's <i>De 
praedestinatione sanctorum ad Prosperum et Hilarium</i></strong>
<i>CPL</i> 354.

</li>

<li>
K242.11: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De essentia patris et filii</i>, based on Hilary's <i>De trinitate</i></strong>
<i>CPL</i> 469.

</li>

<li>
K242.12 + K242.7: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Contra arianos siue Contra Auxentium</i></strong>
<i>CPL</i> 462.

</li>

<li>
K242.13: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong>Commentary on Matthew</strong>
<i>CPL</i> 430; Stegm&uuml;ller <i>Bibl.</i> 3543.

</li>

<li>
K242.17: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Tractatus super Psalmos</i></strong>
<i>CPL</i> 428; ed. J. Doignon &amp; R. Demeulenaere, 
<i>CCSL</i> 61, 61A (1997&ndash;2002); Stegm&uuml;ller <i>Bibl.</i> 3540.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>13 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
