{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p>{% endif %}<h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R58. Union catalogue by author and title, early 14th cent.</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R58.1 (13 copies, among them B39.272, B87.47, BC4 and BD): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 890&ndash;94; ed. C. Moreschini, Teubner (2000). 
This title usually designates the five <i>opuscula sacra</i>.

</li>

<li>
R58.2 (13 copies, among them B13.176, B39.267, B87, BC4, BD) = K94.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
R58.3 (`de arismetrica', 5 copies, among them BC4 and BD) = K94.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De institutione arithmetica</i></strong>
<i>CPL</i> 879; ed. J. Schilling &amp;
H. Oosthout , <i>CCSL</i> 94A (1999).

</li>

<li>
R58.4 (5 copies, among them BC4 and BD): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De institutione musica</i></strong>
<i>CPL</i> 880.

</li>

<li>
R58.5 = K94.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
[<i>dub.</i>]
<strong>`De prouidencia Dei'</strong>
unidentified.

</li>

<li>
R58.6 (`de persona Christi', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>Liber contra Eutychen et Nestorium</i></strong>
<i>CPL</i> 894, one of the
five <i>opuscula sacra</i>.

</li>

<li>
R58.&dagger;7 (`practica de geometrica', 1 copy) = K94.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Geometria</i></strong>
part ed. M. Folkerts, <i>Boethius Geometrie</i> (Wiesbaden 
1970), 173&ndash;218.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
