{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/62" title="Gloucester">Gloucester</a>  &gt; Books owned by Robert of Aldsworth, 13th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Gloucester</h2><h3 class="medieval_catalogue_desc">B47. Books owned by Robert of Aldsworth, 13th cent.</h3>
<em>33 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B47.3a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
B47.3b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1194_anchor">Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</a>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
B47.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B47.7c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Templum Domini</i></strong>
ed. J. W. Goering &amp; F. A. C. Mantello (Toronto 1984);
Thomson, <i>Grosseteste</i>, 138&ndash;140; Bloomfield 5982.

</li>

<li>
B47.&dagger;7b (`summa Petri cantoris Parisiasensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2555_anchor">Peter the Chanter [&dagger;1197]
</a>
<br>
<strong><i>Distinctiones Abel</i></strong>
part ed. J. B. Pitra, <i>Spicilegium Solesmense</i>
3 (1852&ndash;8) 1&ndash;308 and <i>Analecta sacra Spicilegio Solesmensi parata</i>
2 (1876&ndash;84) 6&ndash;154, 585&ndash;623; Landgraf, 162.

</li>

<li>
B47.8b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3287_anchor"><i>Testamentum XII patriarcharum</i>, tr. Robert Grosseteste</a>
<i>PG</i> 2. 1038&ndash;1150;
Thomson, <i>Grosseteste</i>, 42&ndash;4; Stegm&uuml;ller <i>Bibl.</i> 87,7 and 7398,2.

<br>
</li>

<li>
B47.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1177_anchor">Goffredo di Trani [&dagger;1245]
</a>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. [Cologne <i>c.</i> 1480] (<i>GW</i> 
10949), &amp;c.; Schulte, 2. 89&ndash;91.

</li>

<li>
B47.10a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
B47.11a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2940_anchor">Richard Wetheringsett [13th cent.]
</a>
<br>
<strong><i>Summa Qui bene praesunt</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 519; 
Bloomfield 4583.  [Almost always anonymous.]

</li>

<li>
B47.11b (attrib. Hrabanus): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2476_anchor">Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</a>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

<li>
B47.11d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
B47.11e: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De quantitate animae</i></strong>
<i>CPL</i> 257; ed. W. H&ouml;rmann, <i>CSEL</i> 89 (1986) 
131&ndash;231.

</li>

<li>
B47.11f (excerpts): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Confessiones</i></strong>
<i>CPL</i> 251; ed. L. Verheijen, <i>CCSL</i> 27 (1981).

</li>

<li>
B47.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B47.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3663_anchor">William of Auxerre [&dagger;1231]
</a>
<br>
<strong><i>Summa aurea super quatuor libros Sententiarum</i></strong>
ed. J. Ribaillier, 
Spicilegium Bonaventurianum 16&ndash;20 (Paris/Grottaferrata 1980&ndash;87); Stegm&uuml;ller 
<i>Sent.</i> 281.  

</li>

<li>
B47.&dagger;15 (`gemma sacerdotalis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry442_anchor">Brother Bernard [? late 12th cent.]
</a>
<br>
<strong><i>Gemma crucifixi siue Instructio sacerdoti de praecipuis mysteriis 
nostrae religionis</i></strong>
<i>PL</i> 184. 771&ndash;92; [R. P. Lawson], <i>The Threefold Gift 
of Christ</i> (London 1954).

</li>

<li>
B47.&Dagger;16c (`summa super sententias'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Quaestiones theologicae</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 628&ndash;9;
Stegm&uuml;ller <i>Sent.</i> 824&ndash;6.

</li>

<li>
B47.16a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
B47.16b = B49.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Ecclesiasticus, inc. `Hoc nomine Ecclesiastes 
interpretatur concionator'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7814. There is a
second commentary, inc. `Cum de edificio sito in monte loqueretur, Ezechiel 
ait, <i>Thalami porte</i>, &amp;c. [Ez 40:10]' (Stegm&uuml;ller <i>Bibl.</i> 7813), ascribed 
to Langton in at least one copy, transmitted with Langton, and accepted as 
also authentic by both Smalley and Stegm&uuml;ller.

</li>

<li>
B47.17b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Sermones</i></strong>
printed among the sermons attributed to Hildebert of 
Lavardin, <i>PL</i> 171. 476&ndash;481, 583&ndash;744 and <i>PL</i> 198. 1809&ndash;1844; Schneyer 
<i>Rep.</i> 4. 636&ndash;47. [A. Wilmart, `Les sermons d'Hilbert', <i>RB</i> 47 (1935) 
12&ndash;51; M.-M. Lebreton, `Recherches sur les manuscrits contenant des sermons
de Pierre le Mangeur', <i>Bulletin d'information de l'Institut de recherche
et d'histoire des textes</i> 2 (1953) 25&ndash;44. Almost all of the sermons 
attributed to Hildebert in <i>PL</i> 171 are the works of Geoffrey Babio, 
Peter Lombard, Peter Comestor or Maurice de Sully.]

</li>

<li>
B47.&dagger;19a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry842_anchor">Edmund of Abingdon [&dagger;1240], archbishop of Canterbury
</a>
<br>
<strong><i>Speculum ecclesiae</i>, Latin tr. from French</strong>
ed. H. P. Forshaw,
<i>Auctores Britannici medii aeui</i> 3 (1973), 29&ndash;111 [odd pages].

</li>

<li>
B47.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
B47.21 (`ferrum situ'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>Corrogationes Promethei</i></strong>
excerpts ed. P. Meyer, <i>Notices et extraits</i>
35/2 (1896), 641&ndash;82; Hunt, <i>Nequam</i>, 131&ndash;3.

</li>

<li>
B47.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1411_anchor">Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</a>
<br>
<span class="biblio_block">
J. Gobry in <i>DS</i> 7. 880&ndash;86.
</span>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
B47.26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Prouerbia</i></strong>
unpr.; part ed. Goering, <i>William de Montibus</i>, 334&ndash;48; Bloomfield 0207.

</li>

<li>
B47.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 890&ndash;94; ed. C. Moreschini, Teubner (2000). 
This title usually designates the five <i>opuscula sacra</i>.

</li>

<li>
B47.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2987_anchor">Robert Pullen [<i>c</i>1080&ndash;1146], cardinal
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 570; Schneyer <i>Rep.</i> 
5. 219&ndash;23.

</li>

<li>
B47.&dagger;29 (inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Summa sententiarum</i></strong>
<i>PL</i> 176. 41&ndash;174; Goy, 486&ndash;7; Stegm&uuml;ller 
<i>Sent.</i> 837.

</li>

<li>
B47.32a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1589_anchor">John Beleth [&dagger; after 1182]
</a>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
B47.32b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1528_anchor">Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</a>
<br>
<strong><i>De missarum mysteriis</i></strong>
<i>PL</i> 217. 773&ndash;916. [List of manuscripts
by D. F. Wright in <i>Rivista di storia della chiesa in Italia</i> 29 (1975) 
444&ndash;52; edition by C. Egger in progress.]

</li>

<li>
B47.34: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
<i>SBonO</i> vols. 1&ndash;4; Distelbrink 
2; Glorieux <i>R&eacute;p.</i> 305b; Stegm&uuml;ller <i>Sent.</i> 111.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>33 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
