{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K586. Catalogus, c. 1360</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K586.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3394_anchor">Thomas Waleys OP [&dagger;1350]
</a>
<br>
<strong><i>Expositio super duos nocturnos Psalterii</i> (Pss. 1&ndash;38)</strong>
pr.
London 1481 (<i>STC</i> 19627), &amp;c.; Sharpe, <i>Latin Writers</i>, 686; Kaeppeli 
3890; Stegm&uuml;ller <i>Bibl.</i> 8245.  [Early edition someties confused with 
Diego Perez de Valencia.]

</li>

<li>
K586.2&ndash;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3394_anchor">Thomas Waleys OP [&dagger;1350]
</a>
<br>
<strong><i>Contra Ioannem XXII papam</i></strong>
the book belonging to Simon Bozoun OSB 
(&dagger; after 1352) at Norwich (B58. 23), was presumably the same volume as 
Bale saw in the hands of Robert Talbot of Norwich, `Contra Ioannem 22. 
papam' (<i>Index</i>, 458). The manuscript may well be CUL MS Ii. 3. 10 (s. 
xiv, Norwich cathedral priory), which includes <i>De temporibus et momentis</i>, 
<i>Sermo de uisione beatifica</i>, <i>Litterae ad amicum</i>, and the record of his 
two hearings, all from Avignon in 1333&ndash;4.

</li>

<li>
K586.3 (`de temporibus et instantibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3394_anchor">Thomas Waleys OP [&dagger;1350]
</a>
<br>
<strong><i>De temporibus et momentis</i></strong>
ed. T. Kaeppeli, <i>Le Proc&egrave;s contre
Thomas Waleys OP</i> (Rome 1936), 157&ndash;83; Kaeppeli 3894.

</li>

<li>
K586.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3394_anchor">Thomas Waleys OP [&dagger;1350]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Sermones</i></strong>
not identified.

</li>

<li>
K586.5 (attrib. Waleys): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2541_anchor">Pierre Bersuire [<i>c</i>1290&ndash;1362]
</a>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Ouidius moralizatus</i>, the fifteenth book of his <i>Reductorium
morale</i>, which circulated widely on its own</strong>
pr. Paris 1509 (as the work 
of Thomas Waleys), &amp;c.; part 2, ed. M. S. Van der Bijl, <i>Vivarium</i> 9 
(1971) 25&ndash;48. [The work is usually attributed to Nicholas Trevet, Thomas 
Waleys or John Ridewall in English copies.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
