{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K7. Catalogus, c. 1360</h3>
<em>27 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K7.1 (`de trinitate ad Karolum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De fide sanctae et indiuiduae trinitatis</i></strong>
<i>PL</i> 101. 11&ndash;58; ed. E.
Knibbs &amp; E. A. Matter, <i>CCCM</i> 249 (2012); <i>CMA Gallia</i>, 2. 134&ndash;9.

</li>

<li>
K7.2 (`dialogorum de trinitate lib. 1')
  R38.8&ndash;9 = K7.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De trinitate ad Fredegisum quaestiones</i></strong>
<i>PL</i> 101. 57&ndash;64;
<i>CMA Gallia</i>, 2. 151&ndash;3.

</li>

<li>
K7.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
K7.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong>&diams;, <i>Compendium in Cantica canticorum</i></strong>
<i>PL</i> 100. 641&ndash;64; ed. 
R. E. Guglielmetti (Florence 2004); <i>CMA Gallia</i>, 2. 117&ndash;19; Stegm&uuml;ller
<i>Bibl.</i> 1092.

</li>

<li>
K7.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong>Commentary on Hebrews</strong>
<i>PL</i> 100. 1031&ndash;84; <i>CMA Gallia</i>, 2. 
375&ndash;7; Stegm&uuml;ller <i>Bibl.</i> 1099, 1974.

</li>

<li>
K7.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong>Commentary on Ecclesiastes</strong>
<i>PL</i> 100. 667&ndash;722; <i>CMA Gallia</i>,
2. 369&ndash;71; Stegm&uuml;ller <i>Bibl.</i> 1093.

</li>

<li>
K7.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong>Commentary on John</strong>
<i>PL</i> 100. 737&ndash;1008; <i>CMA Gallia</i>, 2. 371&ndash;5; 
Stegm&uuml;ller <i>Bibl.</i> 1096.

</li>

<li>
K7.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De animae ratione</i></strong>
<i>PL</i> 101. 639&ndash;47; <i>CMA Gallia</i>, 2. 121&ndash;5.

</li>

<li>
K7.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De trinitate ad Fredegisum quaestiones</i></strong>
<i>PL</i> 101. 57&ndash;64;
<i>CMA Gallia</i>, 2. 151&ndash;3.

</li>

<li>
K7.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Carmen Continet iste decem</i>, offering a copy of Augustine's
<i>Categoriae decem</i> to Charlemagne</strong>
ed. E. D&uuml;mmler, MGH <i>PLAC</i> 1. 295;
<i>ICL</i> 2716; <i>CMA Gallia</i>, 2. 92&ndash;3.

</li>

<li>
K7.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1683_anchor">John of F&eacute;camp [&dagger;1079]
</a>
<br>
<strong>(attrib.; <i>ps.</i> Alcuin, <i>ps.</i> Augustine), <i>Confessio fidei</i></strong>
 <i>PL</i> 101. 1027&ndash;1098.

</li>

<li>
K7.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Vita Antichristi ad Carolum magnum</i></strong>
<i>PL</i> 101. 1291&ndash;8; <i>CMA
Gallia</i>, 2. 535&ndash;6.

</li>

<li>
K7.17 (`de proprietate nominum deo conuenientium', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Epistola de quorundam nominum proprietate</i> (<i>ep.</i> 163)</strong>
ed. E.
D&uuml;mmler, MGH <i>Epistolae</i> 4 (1895), 263&ndash;5.

</li>

<li>
K7.18 (`speculum paruulorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry21_anchor">Adalbert of Metz [&dagger; <i>c.</i> 980]
</a>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

<li>
K7.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De confessione peccatorum</i> (<i>ep.</i> 131)</strong>
<i>PL</i> 101. 649&ndash;56 (as 
Alcuin); <i>PL</i> 139. 1533&ndash;8 (as Bruno de Roucy); ed. E. D&uuml;mmler, MGH 
<i>Epistolae</i> 4 (1895) 193&ndash;8; <i>CMA Gallia</i> 2. 249&ndash;50.

</li>

<li>
K7.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Disputatio de rhetorica</i></strong>
<i>PL</i> 101. 919&ndash;46; ed. C. Halm, 
<i>Rhetores latini minores</i> (Leipzig 1863), 525&ndash;50; <i>CMA Gallia</i>, 
2. 159&ndash;62.

</li>

<li>
K7.22 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Disputatio Pippini cum Albino</i></strong>
<i>PL</i> 101. 975&ndash;80; ed. W. Suchier,
Illinois Studies in Language and Literature 24/2 (1930), 134&ndash;46 (text, 
137&ndash;43); <i>CMA Gallia</i>, 2. 164&ndash;5.

</li>

<li>
K7.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
[<i>dub.</i>]
<strong>`De manifestatione trinitatis'</strong>
unidentified.

</li>

<li>
K7.24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
[<i>dub.</i>]
<strong>`Didascalicon'</strong>
unidentified.

</li>

<li>
K7.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
[<i>dub.</i>]
<strong>`Cronica'</strong>
unidentified.

</li>

<li>
K7.26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De uirtutibus et uitiis</i></strong>
<i>PL</i> 101. 613&ndash;38; <i>CMA Gallia</i>, 2.
153&ndash;9; Bloomfield 1442.

</li>

<li>
K7.27 (`de trinitate ad Karolum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De fide sanctae et indiuiduae trinitatis</i></strong>
<i>PL</i> 101. 11&ndash;58; ed. E.
Knibbs &amp; E. A. Matter, <i>CCCM</i> 249 (2012); <i>CMA Gallia</i>, 2. 134&ndash;9.

</li>

<li>
K7.29 (&mdash;): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Laudationes S. Martini</i></strong>
<i>PL</i> 101. 657&ndash;64; <i>BHL</i> 5625&ndash;6;
<i>CMA Gallia</i>, 2. 498&ndash;501. 

</li>

<li>
K7.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

<li>
K7.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>De uirtutibus et uitiis</i></strong>
<i>PL</i> 101. 613&ndash;38; <i>CMA Gallia</i>, 2.
153&ndash;9; Bloomfield 1442.

</li>

<li>
K7.32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Epistolae</i></strong>
ed. E. D&uuml;mmler, MGH <i>Epistolae</i> 4 (1895); <i>CMA
Gallia</i>, 2. 171&ndash;5.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>27 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
