{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/92" title="Thorney-Deeping">Thorney-Deeping</a>  &gt; Inventory of books, 14th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Thorney-Deeping</h2><h3 class="medieval_catalogue_desc">B102. Inventory of books, 14th cent.</h3>
<em>15 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B102.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
B102.2&ndash;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
B102.5 (`gesta britonum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1092_anchor">Geoffrey of Monmouth [&dagger;1154]
</a>
<br>
<strong><i>Historia regum Britanniae</i></strong>
ed. M. D. Reeve &amp; N. Wright (Woodbridge
2007). [See also J. C. Crick, <i>The Historia regum Britannie of Geoffrey of 
Monmouth</i> 3 <i>A Summary Catalogue of the Manuscripts</i> (Cambridge 1989).]

</li>

<li>
B102.&dagger;5 (`gesta britonum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1374_anchor"><i>Historia Britonum</i>, commonly attributed to Nennius</a>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
B102.&dagger;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De confessione</i> (<i>serm.</i> 32)</strong>
ed. S. Wenzel, <i>Franciscan Studies</i> 30
(1970) 218&ndash;293;  Thomson, <i>Grosseteste</i>, 125 (no. 80), 176 (no. 32); Bloomfield
1547.

</li>

<li>
B102.7b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2870_anchor"><i>Regula S. Benedicti</i></a>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
B102.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry430_anchor">Benedict XII (Jacques Fournier OCist) [<i>c</i>1285&ndash;1342, <i>sedit</i> 1334&ndash;1342]
</a>
<br>
<strong><i>Constitutiones ad monachos nigros</i> (`<i>Summi magistri</i>')</strong>
ed.
D. Wilkins, <i>Concilia Magnae Britanniae et Hiberniae</i> (London 1737), 2. 
585&ndash;613. The declaratory bull `Dudum pro bono' circulates with the
constitutions.

</li>

<li>
B102.10 (`Liber tertius historie Eliensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2054_anchor"><i>Liber Eliensis</i></a>
ed. E. O. Blake, Camd. 3rd ser. 92 (1962).

<br>
</li>

<li>
B102.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1432_anchor">Hugutio of Pisa [12th cent.]
</a>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994), 35&ndash;66, dates the
<i>Liber deriuationum</i> to `the decade around 1161' (p. 47), making 
it likely that the author is not to be identified with the jurist
of the same name.
</span>
<br>
<strong><i>Liber deriuationum</i></strong>
ed. E. Cecchini &amp; others (Florence 
2004). [There is a facsimile of Biblioteca Laurenziana, MS Plut. 
XXVII sin. 5 (AD 1236), ed. G. Nencioni (Florence 2000). List 
of manuscripts by A. Marigo, <i>I codici manoscritti delle Deriuationes 
di Uguccione Pisano</i> (Rome 1936).]

</li>

<li>
B102.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3673_anchor">William Brito [late 13th cent.]
</a>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
B102.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
B102.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry691_anchor"><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</a>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
B102.17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B102.18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3743_anchor">William of Mont Lauzun [&dagger;1343]
</a>
<br>
<strong><i>Sacramentale</i></strong>
unpr.; Stegm&uuml;ller <i>Sent.</i> 292,1; Schulte, 2. 198.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>15 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
