{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K107. Catalogus, c. 1360</h3>
<em>2 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K107.1: 
<strong>Geoffrey Babio du Louroux [&dagger;1158], archbishop of Bordeaux
</strong>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 162. 1228&ndash;1500 (as Anselm of Laon); 
Stegm&uuml;ller <i>Bibl.</i> 2604, 7899 (as Stephen Langton).

</li>

<li>
K107.2: 
<strong>Geoffrey Babio du Louroux [&dagger;1158], archbishop of Bordeaux
</strong>
<br>
<strong><i>Sermones</i></strong>
more than fifty sermons are printed among those
attributed to Hildebert of Lavardin, <i>PL</i> 171. 343&ndash;950, others among
those attributed to John, archbishop of Rouen, <i>PL</i> 147. 27&ndash;62; J.-P. 
Bonnes, `Un des plus grands pr&eacute;dicateurs du XIIe si&egrave;cle: Geoffrey du
Loroux dit Geoffrey Babion', <i>RB</i> 56 (1945&ndash;6) 174&ndash;215;  
Schneyer <i>Rep.</i> 2. 150&ndash;59. [A. Wilmart, `Les sermons d'Hilbert', <i>RB</i> 47 
(1935) 12&ndash;51. Almost all of the sermons attributed to Hildebert in <i>PL</i> 
171 are the works of Geoffrey Babio, Peter Lombard, Peter Comestor or 
Maurice de Sully.] 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
