{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p>{% endif %}<h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R74. Union catalogue by author and title, early 14th cent.</h3>
<em>1 identified entry found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R74 (2 copies, one of them = B71.31, attrib. Peter Damian): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3055_anchor">Rupert of Deutz OSB [<i>c</i>1075&ndash;1129/30], abbot of Deutz
</a>
<br>
<strong><i>De diuinis officiis</i></strong>
ed. R. Haacke, <i>CCCM</i> 7 (1967). [The entries 
that name Peter as author are indexed here by inference from two points of 
evidence, the incipit `Ea quae' (K443.1) and the title given at Reading 
(B71.31b); Rupert's prologue begins, `Ea que per anni circulum ordine 
constituto'. The notes included in the editions referred these entries to 
<i>ps.</i> Alcuin, following the discussion at R74.1. I have found no evidence 
explicitly to clarify the association of either work, or any other possible 
candidate, with Peter Damian.] 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>1 identified entry found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
