{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R98. Union catalogue by author and title, early 14th cent.</h3>
<em>24 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R98.1 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1411_anchor">Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</a>
<br>
<span class="biblio_block">
J. Gobry in <i>DS</i> 7. 880&ndash;86.
</span>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
R98.2 (`super uetus et nouum testamentum', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>Liber exceptionum</i></strong>
<i>PL</i> 177. 191&ndash;284 (Part I only); ed. J. Ch&acirc;tillon,
Textes philosophiques du moyen &acirc;ge 5 (Paris 1958); Stegm&uuml;ller <i>Bibl.</i> 7317. [Part
II, Books I&ndash;IX, circulated as <i>Allegoriae super V. T.</i>: <i>PL</i> 175. 633&ndash;750;
ed. Ch&acirc;tillon, 213&ndash;373. Books XI&ndash;XIV, <i>Allegoriae super N. T.</i>: <i>PL</i> 175.
751&ndash;924; ed. Ch&acirc;tillon, 439&ndash;517; Stegm&uuml;ller <i>Bibl.</i> 3847&ndash;8 (Hugh), 6573 (Petrus Comestor), 7316 (Richard)]

</li>

<li>
R98.&dagger;3 (`super Ieremiam', attrib. Richard of Saint-Victor, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>Adnotationes elucidatoriae in Threnos</i></strong>
<i>PL</i> 175. 255&ndash;322; Stegm&uuml;ller
<i>Bibl.</i> 3823; Goy, 67&ndash;75.

</li>

<li>
R98.4 (4 copies) = K498.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De templo Ezechielis</i></strong>
<i>PL</i> 196. 527&ndash;600; Stegm&uuml;ller <i>Bibl.</i> 7337.

</li>

<li>
R98.5 (1 copy) = K498.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>PL</i> 196. 887&ndash;992; ed. J. Ribaillier, Textes 
philosophiques du moyen &acirc;ge 6 (Paris 1958).

</li>

<li>
R98.6 (`super illud Ecce uirgo concipiet', 3 copies) = K498.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De emmanuele</i></strong>
<i>PL</i> 196. 601&ndash;66; Stegm&uuml;ller <i>Bibl.</i> 7334.

</li>

<li>
R98.7 (`super Quid est tibi mare', 6 copies) = K498.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De exterminatione mali et promotione boni</i></strong>
<i>PL</i> 196. 1073&ndash;1116;
Bloomfield 4779.

</li>

<li>
R98.8 (`super Exiit edictum', 1 copy) = K498.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De tribus principalibus processionibus</i></strong>
ed J. Ch&acirc;tillon &amp; W. J. 
Tulloch (Paris 1951).

</li>

<li>
R98.9 (`super Ego Nabugodonosor', Book II, 4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De eruditione hominis interioris</i></strong>
<i>PL</i> 196. 1229&ndash;1366; Stegm&uuml;ller 
<i>Bibl.</i> 7338. [Not to be confused with his <i>De statu interioris hominis</i>.]

</li>

<li>
R98.10 (`super Omne capud languidum', 6 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De statu interioris hominis</i></strong>
<i>PL</i> 196. 1115&ndash;60; Stegm&uuml;ller <i>Bibl.</i> 
7333; Bloomfield 3605.

</li>

<li>
R98.&dagger;11 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Sermones centum</i></strong>
<i>PL</i> 177. 899&ndash;1210 (as Hugh).

</li>

<li>
R98.12 (`super psalmos', 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Tractatus super quosdam Psalmos</i>, inc. `<i>Quare fremuerunt</i> [Ps 2</strong>
1]
Quid per gentes que Deum nesciunt': <i>PL</i> 196. 265&ndash;74, 277&ndash;86, 321&ndash;36,
343&ndash;6, 365&ndash;70, 377&ndash;80; J. Ch&acirc;tillon in <i>DS</i> 13. 618&ndash;20. Editions since 
the 16th cent. have merged various works on particular psalms under the title 
<i>Adnotationes mysticae in Psalmos</i> (<i>PL</i> 196. 265&ndash;404).

</li>

<li>
R98.13 (`super vi generibus contemplacionis', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Beniamin maior</i></strong>
<i>PL</i> 196. 63&ndash;202; ed. J. Grosfillier, L'Oeuvre de
Richard de Saint-Victor 1 (Turnhout 2013); Stegm&uuml;ller <i>Bibl.</i> 7324.

</li>

<li>
R98.14 (`de sompno Nabugodonosor', 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De eruditione hominis interioris</i></strong>
<i>PL</i> 196. 1229&ndash;1366; Stegm&uuml;ller 
<i>Bibl.</i> 7338. [Not to be confused with his <i>De statu interioris hominis</i>.]

</li>

<li>
R98.15 (`de patriarchis', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Beniamin minor</i></strong>
<i>PL</i> 196. 1&ndash;64; Stegm&uuml;ller <i>Bibl.</i> 7325.

</li>

<li>
R98.16 (`de studio sapiencie', 1 copy) = K498.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Beniamin minor</i></strong>
<i>PL</i> 196. 1&ndash;64; Stegm&uuml;ller <i>Bibl.</i> 7325.

</li>

<li>
R98.17 (`de Beniamyn et fratribus eius', 11 copies) = K498.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Beniamin minor</i></strong>
<i>PL</i> 196. 1&ndash;64; Stegm&uuml;ller <i>Bibl.</i> 7325.

</li>

<li>
R98.18 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De emmanuele</i></strong>
<i>PL</i> 196. 601&ndash;66; Stegm&uuml;ller <i>Bibl.</i> 7334.

</li>

<li>
R98.19 (attrib. Richard of Saint-Victor, 1 copy) = K498.32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2969_anchor">Robert of Flamborough OSA [fl. 1200]
</a>
<br>
<strong><i>Liber poenitentialis</i></strong>
ed. J. J. F. Frith (Toronto 1971).

</li>

<li>
R98.20 (`de contemplacione, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>Beniamin minor</i></strong>
<i>PL</i> 196. 1&ndash;64; Stegm&uuml;ller <i>Bibl.</i> 7325.

</li>

<li>
R98.21 (`super Ioel et Naum', attrib. Richard, 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong>Commentary on Joel and Nahum</strong>
<i>PL</i> 175. 321&ndash;72 and <i>PL</i> 96. 705&ndash;58; Goy,
485&ndash;6; Stegm&uuml;ller <i>Bibl.</i> 3824. For the attribution to Richard rather than
Hugh, see H. J. Pollitt in <i>RTAM</i> 32 (1965) 296&ndash;306.]

</li>

<li>
R98.22 (`super Ecclesiasten', 1 copy) = K498.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De meditandis plagis quae circa finem mundi euenient</i></strong>
<i>PL</i> 196. 201&ndash;212;
Stegm&uuml;ller <i>Bibl.</i> 7329.

</li>

<li>
R98.23 (2 copies) 
   = K498.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De statu interioris hominis</i></strong>
<i>PL</i> 196. 1115&ndash;60; Stegm&uuml;ller <i>Bibl.</i> 
7333; Bloomfield 3605.

</li>

<li>
R98.24 (`de tribus processionibus', 2 copies) = K498.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<strong><i>De tribus principalibus processionibus</i></strong>
ed J. Ch&acirc;tillon &amp; W. J. 
Tulloch (Paris 1951).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>24 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
