{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH" title="SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions">SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH/307" title="Stratford-upon-Avon, guild of Holy Cross">Stratford-upon-Avon, guild of Holy Cross</a>  &gt; Inventory of goods, 26 July 1456</p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: Stratford-upon-Avon, guild of Holy Cross</h2><h3 class="medieval_catalogue_desc">SH110. Inventory of goods, 26 July 1456</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH110.&para;1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry603_anchor">Christopherus Landinus (Christofero Landini) [1424&ndash;1504]
</a>
<br>
<strong>Commentary on Virgil</strong>
pr. in editions of Virgil, Florence 1487/8
(Goff V183), &amp;c.

</li>

<li>
SH110.&para;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry196_anchor">Ambrosius Calepinus (Ambrogio Calepino) [<i>c</i>1435&ndash;1509]
</a>
<br>
<strong><i>Dictionum Latinarum et Graecarum interpres</i></strong>
pr. Reggio d'Emilia 
1502 &amp;c.

</li>

<li>
SH110.&para;3 (`one Valla'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2011_anchor">Lorenzo Valla [1406&ndash;1457]
</a>
<br>
<strong><i>Elegantiae linguae latinae</i></strong>
pr. Rome 1471 (Goff V50), &amp;c.; ed. S.
L&oacute;pez Moreda (C&aacute;ceres 1999). 

</li>

<li>
SH110.&para;4 (`boke intytelide Eneas Siluine poeta'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2684_anchor">Pius II (Enea Silvio de' Piccolomini) [1405&ndash;1464, <i>sedit</i> 1458&ndash;1464]
</a>
<br>
<strong><i>De laude poetica</i>, <i>De differentia inter scientiam et prudentiam et
de poetis</i>, <i>De laude litterarum</i>, and <i>Cur libri cumulentur</i></strong>
pr. together,
[Cologne <i>c.</i> 1470/71] (Goff P723), &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
