{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: St Albans</h2><h3 class="medieval_catalogue_desc">B85. Bale's excerpts from Indiculus of Walter the Chanter (fl. 1180)</h3>
<em>50 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B85.2: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
[<i>dub.</i>]
<strong>`Contra literas episcoporum in concilio Papie congregatorum'</strong>
unidentified;
Hoste, 138.

</li>

<li>
B85.3: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De animae ratione</i></strong>
<i>PL</i> 101. 639&ndash;47; <i>CMA Gallia</i>, 2. 121&ndash;5.

</li>

<li>
B85.4&ndash;5: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De fide sanctae et indiuiduae trinitatis</i></strong>
<i>PL</i> 101. 11&ndash;58; ed. E.
Knibbs &amp; E. A. Matter, <i>CCCM</i> 249 (2012); <i>CMA Gallia</i>, 2. 134&ndash;9.

</li>

<li>
B85.6: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De trinitate ad Fredegisum quaestiones</i></strong>
<i>PL</i> 101. 57&ndash;64;
<i>CMA Gallia</i>, 2. 151&ndash;3.

</li>

<li>
B85.7: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De uirtutibus et uitiis</i></strong>
<i>PL</i> 101. 613&ndash;38; <i>CMA Gallia</i>, 2.
153&ndash;9; Bloomfield 1442.

</li>

<li>
B85.8&ndash;9: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
B85.8b: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
<strong><i>De beneficiis</i></strong>
ed. C. Hosius, Teubner (1914).

</li>

<li>
B85.8&ndash;9: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
B85.10: 
<strong>Bachiarius [early 5th cent.]
</strong>
<br>
<strong><i>De lapso</i></strong>
<i>CPL</i> 569.

</li>

<li>
B85.11: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De tabernaculo</i></strong>
<i>CPL</i> 1345; ed. D. Hurst, <i>CCSL</i> 119A (1969) 1&ndash;139.

</li>

<li>
B85.12&ndash;13: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Proverbs</strong>
<i>CPL</i> 1351; ed. D. Hurst, <i>CCSL</i> 119B (1983) 21&ndash;163.

</li>

<li>
B85.14: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Tobit</strong>
<i>CPL</i> 1350; ed. D. Hurst, <i>CCSL</i> 119B (1983) 3&ndash;19.

</li>

<li>
B85.15&ndash;16: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Vita S. Cuthberti</i></strong>
<i>CPL</i> 1381; <i>BHL</i> 2021.

</li>

<li>
B85.17: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia abbatum</i></strong>
<i>CPL</i> 1378; <i>BHL</i> 8968.

</li>

<li>
B85.18: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Genesis</strong>
<i>CPL</i> 1344; ed. C. W. Jones, <i>CCSL</i> 118A (1967).

</li>

<li>
B85.19: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>CPL</i> 1353; ed. D. Hurst, <i>CCSL</i> 119B (1983) 165&ndash;375.

</li>

<li>
B85.20: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Mark</strong>
<i>CPL</i> 1355; ed. D. Hurst, <i>CCSL</i> 120 (1960) 427&ndash;648.

</li>

<li>
B85.21: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Catholic Epistles</strong>
<i>CPL</i> 1362; ed. D. Hurst, <i>CCSL</i> 121 
(1983) 179&ndash;342.

</li>

<li>
B85.22: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Acts of the Apostles</strong>
<i>CPL</i> 1357, 1358; ed. M. L. W. 
Laistner, <i>CCSL</i> 121 (1983) 1&ndash;99, 103&ndash;163.

</li>

<li>
B85.23: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Acts of the Apostles</strong>
<i>CPL</i> 1357, 1358; ed. M. L. W. 
Laistner, <i>CCSL</i> 121 (1983) 1&ndash;99, 103&ndash;163.

</li>

<li>
B85.24: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Nomina regionum et locorum de Actibus Apostolorum</i></strong>
<i>CPL</i> 1359; ed. M. L. W. Laistner, <i>CCSL</i> 121 (1983) 167&ndash;78.

</li>

<li>
B85.25: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Revelation</strong>
<i>CPL</i> 1363.

</li>

<li>
B85.26: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
B85.27: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Collectio ex opusculis S. Augustini in epistulas Pauli apostoli</i></strong>
 <i>CPL</i> 1360.

</li>

<li>
B85.&dagger;28: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Martyrologium</i></strong>
<i>CPL</i> 2032. Bede's Martyrology does not survive in any copies of
English provenance, but the Martyrology of Usuard besides other texts circulated
in his name.

</li>

<li>
B85.&dagger;29: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Homiliae euangelii</i></strong>
<i>CPL</i> 1367; ed. D. Hurst, <i>CCSL</i> 122 (1955) 
1&ndash;378.

</li>

<li>
B85.30&ndash;31: 
<strong>Berengaudus [9th cent.], monk of Ferri&egrave;res
</strong>
<br>
<strong><i>Expositio super septem uisiones libri Apocalypsis</i></strong>
pr. as the
work of Ambrose, Paris 1554, &amp;c.; <i>PL</i> 17. 765&ndash;970 (with the works of 
Ambrose); Stegm&uuml;ller <i>Bibl.</i> 1711.

</li>

<li>
B85.33&ndash;34: 
<strong>William of St Albans OSB [12th cent.]
</strong>
<br>
<strong><i>Passio SS. Albani et Amphibali</i></strong>
<i>Acta SS.</i> Iunii IV (1707), 149&ndash;59; 
<i>BHL</i> 213; Sharpe, <i>Latin Writers</i>, 807.

</li>

<li>
B85.35: 
<strong>William of Jumi&egrave;ges OSB [&dagger; ?1087]
</strong>
<br>
<strong><i>Gesta Normannorum ducum</i></strong>
ed. J. Marx (Rouen 1914); ed. E. M. C. 
van Houts, OMT (1992&ndash;5).

</li>

<li>
B85.36: 
<strong>William of the White Hands [&dagger;1202], archbishop of Sens, later of Reims
</strong>
<br>
<strong><i>Contra prauam doctrinam Petri Lombardi</i></strong>
not known to survive.

</li>

<li>
B85.37: 
<strong>Lanfranc OSB [<i>c</i>1005&ndash;1089]
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 150. 515&ndash;52; ed. H. Clover &amp; M. T. Gibson, OMT (1979).

</li>

<li>
B85.38: 
<strong>Marianus Scottus (M&aacute;el Brigte) [1028&ndash;1082], recluse of Fulda
</strong>
<br>
<strong><i>Chronicon</i></strong>
part ed. G. Waitz, MGH <i>Scriptores</i> 5 (1844), 481&ndash;564,
repr. <i>PL</i> 147. 623&ndash;796; Lapidge/Sharpe 728. [The entry for a <i>libellus</i>
may refer to Robert the Lotharingian's <i>Excerptio de chronica Mariani</i>.]

</li>

<li>
B85.39: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Prologue to Revelation</strong>
ed. D. de Bruyne, <i>Pr&eacute;faces de la Bible latine</i>
(Namur 1920), 261; Stegm&uuml;ller <i>Bibl.</i> 835.

</li>

<li>
B85.*40: 
<strong>Pelagius [<i>c</i>350&ndash;after 423]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
ed. A. Souter, Texts and Studies
9/2 (Cambridge 1926); Stegm&uuml;ller <i>Bibl.</i> 670, 6355&ndash;67.

</li>

<li>
B85.41: 
<strong>Ralph Gubiun OSB [&dagger;1151]
</strong>
<br>
<strong>(attrib.), <i>Historia Alexandri Macedonis</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 448. 

</li>

<li>
B85.42: 
<strong>Ralph d'Escures OSB [&dagger;1122]
</strong>
<br>
<strong>(<i>ps.</i> Anselm), <i>Homilia de assumptione Mariae</i> (<i>hom.</i> 9)</strong>
 <i>PL</i> 95. 1505&ndash;1508 and <i>PL</i> 158. 644&ndash;9; Schneyer <i>Rep.</i> 5. 17.

</li>

<li>
B85.43&ndash;44: 
<strong>Robert of Bridlington OSA [&dagger; after 1154]
</strong>
<br>
<strong>Commentary on the seven visions of Revelation</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7383.

</li>

<li>
B85.45: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong><i>De benedictionibus Iacob et Moysi</i></strong>
ed. B. Paulus, <i>CCCM</i> 96 (1993); 
Stegm&uuml;ller <i>Bibl.</i> 6260.

</li>

<li>
B85.47: 
<strong>John of Salisbury [<i>c</i>1115&ndash;1180], bishop of Chartres
</strong>
<br>
<strong><i>Vita Anselmi</i></strong>
<i>PL</i> 199. 1009&ndash;1040; <i>BHL</i> 530.

</li>

<li>
B85.48: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
[<i>app.</i>]
<strong><i>Vita S. Bedae</i></strong>
<i>PL</i> 90. 41&ndash;54; <i>BHL</i> 1069.

</li>

<li>
B85.49: 
<strong>Carilef
</strong>
<br>
</li>

<li>
B85.50: 
<strong>Swithun
</strong>
<br>
</li>

<li>
B85.81: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Orationes in Catilinam</i></strong>
ed. A. W. Ahlberg, Teubner (1931).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
