{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Z" title="CISTERCIANS">CISTERCIANS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Z/366" title="Byland">Byland</a>  &gt; Leland, c. 1536-40</p><h2>CISTERCIANS: Byland</h2><h3 class="medieval_catalogue_desc">Z4. Leland, c. 1536-40</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
Z4.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2957_anchor">Robert of Bridlington OSA [&dagger; after 1154]
</a>
<br>
<strong>Commentary on Leviticus</strong>
not known to survive; Stegm&uuml;ller <i>Bibl.</i> 7374.

</li>

<li>
Z4.2a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry391_anchor">Baldwin of Ford OCist [&dagger;1190], archbishop of Canterbury
</a>
<br>
<strong><i>De commendatione fidei</i></strong>
<i>PL</i> 204. 571&ndash;640; ed. D. N. Bell, <i>CCCM</i> 99 (1991) 341&ndash;458.

</li>

<li>
Z4.2b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry391_anchor">Baldwin of Ford OCist [&dagger;1190], archbishop of Canterbury
</a>
<br>
<strong><i>De sacramento altaris</i></strong>
<i>PL</i> 204. 641&ndash;769; ed. J. Morson, SChr 93&ndash;4 (1963).

</li>

<li>
Z4.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1149_anchor">Gilbert of Hoyland OCist [&dagger;1172], abbot of Swineshead
</a>
<br>
<strong>Sermons on the Song of Songs 3</strong>
1&ndash;5:10: <i>PL</i> 184. 11&ndash;252; Stegm&uuml;ller 
<i>Bibl.</i> 2493.

</li>

<li>
Z4.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
<strong><i>Enchiridion super Apocalypsim</i></strong>
ed. E. K. Burger (Toronto 1986); Russo,
21&ndash;2; Stegm&uuml;ller <i>Bibl.</i> 4020.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
