{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/326" title="Kinloss abbey">Kinloss abbey</a>  &gt; Books given by Abbot Thomas Crystall, 1535</p><h2>SCOTLAND: Kinloss abbey</h2><h3 class="medieval_catalogue_desc">S18. Books given by Abbot Thomas Crystall, 1535</h3>
<em>17 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S18.&para;1 (`cum glosis illis receptis', 6 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry488_anchor"><i>Biblia sacra</i> with the <i>Glossa ordinaria</i></a>
pr. [Strassburg not after 1480]
(<i>GW</i> 4282) / repr. with introduction by K. Froehlich &amp; M. T. Gibson, Turnhout 
1992.

<br>
</li>

<li>
S18.&para;2 (4 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum historiale</i></strong>
pr. Douai 1624 / repr. Graz 1964&ndash;5;
Kaeppeli 3987.

</li>

<li>
S18.&para;3 (3 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry252_anchor">Antoninus Florentinus (Antonino Pierozzi) OP [1389&ndash;1459], archbishop of 
Florence
</a>
<br>
<strong><i>Chronicon</i></strong>
pr. N&uuml;rnberg 1484 (<i>GW</i> 2072), &amp;c.; Kaeppeli 240.

</li>

<li>
S18.&para;4 (3 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
S18.&para;5 (5 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
S18.&para;6 (2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1492 (<i>GW</i> 1599), Basel 1506 (Adams A934), &amp;c.

</li>

<li>
S18.&para;7 (4 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
S18.&para;8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Opera</i></strong>
pr. Paris 1518 (Moreau, 2. 1835; Adams G1165), &amp;c.

</li>

<li>
S18.&para;9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Opera</i></strong>
pr. [Cologne 1478] (<i>GW</i> 3905), &amp;c.

</li>

<li>
S18.&para;&dagger;10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Summa contra gentiles</i></strong>
ed. P. Marc, C. Pera, &amp; P. Caramello, <i>S.
Thomae Aquinatis Liber de ueritate catholicae fidei contra errores infidelium
seu Summa contra gentiles</i> (Turin 1961); <i>STO</i> vols. 13&ndash;15; Stegm&uuml;ller 
<i>Sent.</i> 848; Glorieux <i>R&eacute;p.</i> 14y.

</li>

<li>
S18.&para;11 (2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
<strong><i>Reportata super Opus Parisiense</i>, a version of Duns's early
Parisian <i>Lectura</i> on the Lombard's Sentences</strong>
pr. Paris 1517&ndash;18 (Moreau,
2. 1597, 1809).

</li>

<li>
S18.&para;12 (2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1768_anchor">John Mair [<i>c</i>1467&ndash;1550]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Paris 1510&ndash;17,&amp;c.

</li>

<li>
S18.&para;13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong><i>Lectura in omnes epistolas Pauli</i></strong>
ed. R. Cai (Turin 1953);  
Glorieux <i>R&eacute;p.</i> 14ac; Stegm&uuml;ller <i>Bibl.</i> 8051&ndash;64.

</li>

<li>
S18.&para;14a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
S18.&para;14b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
S18.&para;15 (`totum ius pontificium cum glossulis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry702_anchor"><i>Corpus iuris canonici</i>, comprising Gratian's <i>Decretum</i>, Gregory IX's
<i>Decretales</i>, <i>Liber sextus Decretalium</i>, <i>Constitutiones Clementinae</i>,
John XXII's <i>Extrauagantes</i>, and <i>Extrauagantes communes</i>, together with
their ordinary glosses</a>
pr. as a set by J. Chappuis, Paris 1499&ndash;1501, 
&amp;c.; the standard edition including glosses is <i>Corpus iuris canonici</i> 
(Rome 1582), often reprinted; standard edition without glosses, ed. E. 
Friedberg (Leipzig 1879&ndash;81). [See separate entries for individual 
volumes; only entries specified as a corpus recorded here.]

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>17 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
