{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/76" title="Ramsey">Ramsey</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Ramsey</h2><h3 class="medieval_catalogue_desc">B70. Leland, c. 1536-40</h3>
<em>9 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B70.1 (`contra appropriationes beneficiorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Sermo</i> 14</strong>
ed. E. Brown, <i>Fasciculus rerum expetendarum</i> (London 1690),
2. 250&ndash;57; Thomson, <i>Grosseteste</i>, 161, 171.

</li>

<li>
B70.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1669_anchor">John Dumbleton [&dagger;1349]
</a>
<br>
<strong><i>Summa logicae et naturalis philosophiae</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 239.

</li>

<li>
B70.&dagger;3 (`Armacanus de potestate spirituali'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2911_anchor">Richard FitzRalph [&dagger;1360], archbishop of Armagh
</a>
<br>
<strong><i>De pauperie Saluatoris</i></strong>
I&ndash;IV, ed. R. L. Poole, <i>De dominio diuino</i>,
Wyclif Soc. (1890), 129&ndash;476; V&ndash;VII, ed. R. O. Brock, PhD diss. 
(University of Colorado 1954); Sharpe, <i>Latin Writers</i>, 479.

</li>

<li>
B70.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Tractatus de poenitentia</i></strong>
pr. with his <i>Ordinarium siue Alphabetum
uitae religiosae</i>, Mainz 1673; Glorieux <i>R&eacute;p.</i> 322f; Sharpe, <i>Latin Writers</i>,
339.

</li>

<li>
B70.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Breuiloquium de uirtutibus antiquorum principum et 
philosophorum</i></strong>
pr. Lyon 1511, fols. 200v&ndash;216r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322b.

</li>

<li>
B70.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1389_anchor">Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</a>
<br>
<strong>(<i>ps.</i> Augustine), <i>De cognitione uerae uitae</i></strong>
<i>PL</i> 40. 1005&ndash;1032.

</li>

<li>
B70.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De uisitatione infirmorum</i></strong>
<i>PL</i> 40. 1147&ndash;58; <i>CPPM</i> 2. 3082. [Three 
copies, all English, preserve an ascription to Baudri of Bourgueil; R&ouml;mer, 
2/1. 199.]

</li>

<li>
B70.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1144_anchor">Gilbertus Anglicus [early 13th cent.]
</a>
<br>
<strong><i>Compendium seu Lilium medicinae</i></strong>
pr. Lyon 1510; Sharpe, <i>Latin 
Writers</i>, 144; Thorndike/Kibre 3, 881.

</li>

<li>
B70.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1950_anchor"><i>Itinerarium Antonini</i></a>
<i>CPL</i> 2330.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>9 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
