{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/51" title="Colchester">Colchester</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Colchester</h2><h3 class="medieval_catalogue_desc">B22. Leland, c. 1536-40</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B22.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry831_anchor">Dudo of Saint-Quentin [early 11th cent.]
</a>
<br>
<strong><i>De moribus et actis primorum Normanniae ducum</i></strong>
<i>PL</i> 141. 609&ndash;758; ed. 
J. Lair (Caen 1865).

</li>

<li>
B22.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry67_anchor">`Aethicus Ister' (? Virgil of Salzburg)
</a>
<br>
<strong><i>Cosmographia</i></strong>
<i>CPL</i> 2348; ed. H. Wuttke (Leipzig 1853); ed. O. 
Prinz, MGH <i>Quellen</i> 14 (1993); ed. M. W. Herren (Turnhout 2011).

</li>

<li>
B22.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2496_anchor">Paul the Deacon [<i>c</i>720&ndash;799]
</a>
<br>
<strong><i>Historia Langobardorum</i></strong>
<i>CPL</i> 1179.

</li>

<li>
B22.16 (`liber concordanciarum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry670_anchor"><i>Concordantia maior</i>, the so-called `third concordance' compiled by the
Dominicans of Saint-Jacques, Paris</a>
pr. Strassburg, [not after 1474] (<i>GW</i>
7418) (under the name Conradus de Alemannia), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
1999, 3605&ndash;6; R. H. Rouse &amp; M. A. Rouse in <i>AFP</i> 44 (1974) 5&ndash;30; 
Kaeppeli 755 (as Conradus de Halberstadt OP). Rouse &amp; Rouse show that the
work circulated in Paris by 1286; the attribution to Conrad is made only
in the printed editions. [For the so-called `second concordance' or 
`English concordance', see Richard Stainsby.]

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
