{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC" title="UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC/341" title="Clare College">Clare College</a>  &gt; Leland, c. 1535</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Clare College</h2><h3 class="medieval_catalogue_desc">UC15. Leland, c. 1535</h3>
<em>53 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC15.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2945_anchor">Robert Allington [&dagger; after 1395]
</a>
<br>
<strong>Commentary on <i>ps.</i> Aristotelian <i>Sex principia</i></strong>
unpr.; Lohr, 97;
Sharpe, <i>Latin Writers</i>, 522.

</li>

<li>
UC15.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2945_anchor">Robert Allington [&dagger; after 1395]
</a>
<br>
<strong><i>Literalis sententia super Praedicamenta</i></strong>
part ed. A. D.
Conti in <i>Documenti e studi sulla tradizione filosofica medievale</i> 4 (1993)
179&ndash;306 (text, 241&ndash;306); Sharpe, <i>Latin Writers</i>, 522. 

</li>

<li>
UC15.3 (`opuscula fratris Ioannis Somer de conuentu Franciscanorum
   apud Bridgwater'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1876_anchor">John Somer OFM [&dagger; after 1400]
</a>
<br>
<strong><i>Kalendarium ad meridiem uinuersitatis Oxoniensis</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 321&ndash;21.

</li>

<li>
UC15.4 (`Alkindius de iudiciis astrorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry164_anchor">Alkindus (al-Kindi) [&dagger; after 870]
</a>
<br>
<strong><i>Iudicia</i>, tr. Robert of Ketton</strong>
unpr.; C. S. F. Burnett 
in <i>Arabic Sciences and Philosophy</i> 3 (1993) 77&ndash;117; Carmody, 78; 
Sharpe, <i>Latin Writers</i>, 559; Thorndike/Kibre 224, 1162.

</li>

<li>
UC15.5 ?= UC15.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3156_anchor">Simon Bredon [&dagger;1372]
</a>
<br>
<span class="biblio_block">
<i>BRUO</i> 257&ndash;8; <i>DSB</i> 2. 435&ndash;6.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De aequatorio planetarum</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 612;
Thorndike/Kibre 1560. 

</li>

<li>
UC15.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2099_anchor">Lewis Caerleon [&dagger; after 1495]
</a>
<br>
<strong><i>Tabulae et canones eclipsium</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>,
367; Thorndike/Kibre 482, 1447.

</li>

<li>
UC15.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2245_anchor">Messahala (Masha 'Allah Ibn Athari) [&dagger; <i>c</i>815]
</a>
<br>
<strong><i>De reuolutionibus annorum mundi</i>, tr. John of Seville</strong>
pr. Venice 
1493 (Goff P1089), &amp;c.; Carmody, 25&ndash;6; Diaz 968; Thorndike/Kibre 362.

</li>

<li>
UC15.8 (`tractatus Dorothei de occultis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry826_anchor">Dorotheus of Sidon [fl. AD 100]
</a>
<br>
<span class="biblio_block">
Carmody presumes that the various texts ascribed to `Dorochius',
`Doronius', and `Dorothius' are intended as attributed to Dorotheus
of Sidon, the Greek astrological poet; the surviving fragments of
his work, ed. D. E. Pingree, Teubner (1976). 
</span>
<br>
[<i>pseud.</i>]
<strong><i>De occultatione anuli</i>, Latin tr.</strong>
unpr.; Carmody, 34&ndash;5; 
Thorndike/Kibre 280, 312. [Carmody descibes a the text as part of a
group of texts under the general title, <i>De occultis</i>, but only the
one the part appears to be present at UC45.*82.]

</li>

<li>
UC15.9 (`flores Haly de electionibus horarum')
$Hannibaldus de Hannibaldis OP [&dagger;1272], cardinal: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1256_anchor">Haly Imbrani (`Ali ibn Ahmad al-`Imrani) [&dagger;955/6]
</a>
<br>
<strong><i>Liber electionum</i>, tr. Plato of Tivoli</strong>
ed. J. M. Mill&aacute;s Vallicrosa,
<i>Las Traducciones orientales en los manuscritos de la Biblioteca catedral 
de Toledo</i> (Madrid 1942), 328&ndash;39; Carmody, 137&ndash;9; Thorndike/Kibre 1007, 
1363.

</li>

<li>
UC15.10 (`Stephanus Messala in floribus de iudiciis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2245_anchor">Messahala (Masha 'Allah Ibn Athari) [&dagger; <i>c</i>815]
</a>
<br>
<strong><i>Liber iudiciorum</i>, Latin tr.</strong>
unpr.; Carmody, 37; Thorndike/Kibre
672.

</li>

<li>
UC15.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3008_anchor">Roger Bacon OFM [&dagger;1294]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>De erroribus medicorum</i></strong>
ed. Steele, 9. 150&ndash;71; Thorndike/Kibre 1712.

</li>

<li>
UC15.*12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry164_anchor">Alkindus (al-Kindi) [&dagger; after 870]
</a>
<br>
<strong><i>De radiis stellarum</i>, Latin tr.</strong>
ed. M.-T. d'Alverny &amp; F. Hudry, 
<i>AHDLMA</i> 41 (1974) 139&ndash;260; Carmody, 82; Thorndike/Kibre 973, 986.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/975/"  title="Mineralia: full details of book"  class="link_from_index_to_book">UC15.*13</a>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>Mineralia</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris 1890&ndash;99),
5. 1&ndash;103; Fauser 17; Glorieux <i>R&eacute;p.</i> 6ag.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/974/"  title="Quadripartitum: full details of book"  class="link_from_index_to_book">UC15.*14</a>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2938_anchor">Richard of Wallingford OSB [&dagger;1336]
</a>
<br>
<strong><i>Quadripartitum</i></strong>
ed. J. D. North (Oxford 1976), 1. 21&ndash;169.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/974/"  title="Conclusiones quinque de numero quadrato: full details of book"  class="link_from_index_to_book">UC15.*14<sup>x</sup></a>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3156_anchor">Simon Bredon [&dagger;1372]
</a>
<br>
<strong><i>Conclusiones quinque de numero quadrato</i></strong>
unpr.; Sharpe, <i>Latin
Writers</i>, 611; Thorndike/Kibre 1000.

</li>

<li>
UC15.*15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3156_anchor">Simon Bredon [&dagger;1372]
</a>
<br>
<strong><i>Commentum super aliquas demonstrationes Almagesti</i></strong>
unpr.;
Sharpe, <i>Latin Writers</i>, 611; Thorndike/Kibre 966, 1294.

</li>

<li>
UC15.16a (`introductorium Alcabitii cum commento I. de Saxo'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry110_anchor">Alcabitius (`Abd al-`Aziz bin `Uthman al-Kabisi al-Hasan) [&dagger; <i>c</i>967]
</a>
<br>
<strong><i>Liber introductorius</i>, tr. John of Seville</strong>
pr. [Modena 1473/4]
(<i>GW</i> 842) Venice 1482 (<i>GW</i> 843), &amp;c.; Carmody, 144&ndash;9; Diaz 977; 
Thorndike/Kibre 1078.

</li>

<li>
UC15.16b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1653_anchor">Iohannes Danco de Saxonia [early 14th cent.]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 7. 139&ndash;41.
</span>
<br>
<strong>Commentary on Alcabitius's <i>Liber introductorius</i></strong>
pr. with
the text, Venice 1485 (<i>GW</i> 844), &amp;c.; Carmody, 145; Thorndike/Kibre
351, 712.

</li>

<li>
UC15.17 (`Gebar in speculatiua astronomia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1071_anchor">Geber (Jabir ibn Aflah Abu Muhammad al-Ishbili) [&dagger;<i>c</i>1145]
</a>
<br>
<strong><i>Elementa astronomica</i>, tr. Gerard of Cremona</strong>
pr. N&uuml;rnberg 1534; 
Carmody, 163&ndash;4. 

</li>

<li>
UC15.18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1778_anchor">John Maudith [&dagger; after 1342]
</a>
<br>
<strong><i>Tabulae mathematicae</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 282&ndash;3; 
Thorndike/Kibre 1230. 

</li>

<li>
UC15.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3156_anchor">Simon Bredon [&dagger;1372]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De aequatorio planetarum</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 612;
Thorndike/Kibre 1560. 

</li>

<li>
UC15.20&ndash;21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2938_anchor">Richard of Wallingford OSB [&dagger;1336]
</a>
<br>
<strong><i>Tractatus Albionis</i></strong>
ed. J. D. North (Oxford 1976), 1. 245&ndash;401.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/973/"  title="Theorica planetarum: full details of book"  class="link_from_index_to_book">UC15.*22</a>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3019_anchor">Roger of Hereford [late 12th cent.]
</a>
<br>
<strong><i>Theorica planetarum</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 591; 
Thorndike/Kibre 440.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/973/"  title="Opus astrolabii, tr. William the Englishman (1231): full details of book"  class="link_from_index_to_book">UC15.*22<sup>x</sup></a> (prologue from William's version, with 1263 translation): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry337_anchor">Arzachel (Ibrahim bin Yahya an-Naqqash az-Zarqali al-Qurtubi, Abu Ishaq) 
[&dagger;1100]
</a>
<br>
<strong><i>Opus astrolabii</i>, tr. William the Englishman (1231)</strong>
Sharpe, 
<i>Latin Writers</i>, 767&ndash;8; Carmody, 160&ndash;61; Thorndike/Kibre 1500.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/973/"  title=": full details of book"  class="link_from_index_to_book">UC15.22<sup>x</sup></a>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3274_anchor"><i>Tabulae Alphonsi regis</i></a>
pr. Venice 1483 (<i>GW</i> 1257); ed. E. Poulle 
(Paris 1984); Thorndike/Kibre 1552.

<br>
</li>

<li>
UC15.24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2815_anchor">Radulphus de Diceto [&dagger;1199/1200]
</a>
<br>
<strong><i>Ymagines historiarum</i></strong>
ed. W. Stubbs, RS 68 (1876), 1. 267&ndash;440, 2. 3&ndash;174.

</li>

<li>
UC15.25 = UC143.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1034_anchor">Frechulf of Liseux [&dagger;853]
</a>
<br>
<strong><i>Chronica</i></strong>
<i>PL</i> 106. 917&ndash;1116, 1117&ndash;1258; ed. M. I. Allen, <i>CCCM</i>
169, 169A (2002). [The two parts, before and 
after Christ, are sometimes separately described. List of manuscripts by 
C. F. Natunewicz in <i>Sacris erudiri</i> 17 (1966) 88&ndash;134.]

</li>

<li>
UC15.26 = UC16.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1298_anchor">Henry of Huntingdon [1084&ndash;1155]
</a>
<br>
<strong><i>Historia Anglorum</i></strong>
ed. D. E. Greenway, OMT (1996).

</li>

<li>
UC15.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De genealogia regum Anglorum</i></strong>
<i>PL</i> 195. 711&ndash;38; Hoste, 111&ndash;14.

</li>

<li>
UC15.28 (`chronicon G. Mon.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1092_anchor">Geoffrey of Monmouth [&dagger;1154]
</a>
<br>
<strong><i>Historia regum Britanniae</i></strong>
ed. M. D. Reeve &amp; N. Wright (Woodbridge
2007). [See also J. C. Crick, <i>The Historia regum Britannie of Geoffrey of 
Monmouth</i> 3 <i>A Summary Catalogue of the Manuscripts</i> (Cambridge 1989).]

</li>

<li>
UC15.29 (`philobiblon auctore Angrauyle'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2900_anchor">Richard of Bury [1281&ndash;1345], bishop of Durham
</a>
<br>
<strong><i>Philobiblon</i></strong>
ed. E. C. Thomas (London 1888 / repr. Oxford 1960); 
ed. A. Altamura (Naples 1954). The real author was Robert Holcot.

</li>

<li>
UC15.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3015_anchor">Roger of Crowland OSB [&dagger;1214], monk of Crowland
</a>
<br>
<strong><i>Compilatio de uita S. Thomae Cantuariensis</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 587.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>53 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
