{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University College</h2><h3 class="medieval_catalogue_desc">UO85. Indenture recording gift of books by William Asplyon, 11 Feb. 1474</h3>
<em>18 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO85.2: 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
UO85.3&ndash;4: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Enarrationes in Psalmos</i></strong>
<i>CPL</i> 283; ed. E. Dekkers &amp; J. Fraipont, 
<i>CCSL</i> 38&ndash;40 (1956); ed. F. Gori, <i>CSEL</i> 93&ndash;95 (in progress), of which
Pss 119&ndash;50 have appeared, <i>CSEL</i> 95/3&ndash;5 (2001&ndash;5). [This title, now standard,
originated with Erasmus.]

</li>

<li>
UO85.5: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
UO85.6: 
<strong>Nicholas de Gorran OP [&dagger; <i>c</i>1295]
</strong>
<br>
<strong>Commentary on Luke</strong>
pr. Cologne 1537; Stegm&uuml;ller <i>Bibl.</i> 5780.

</li>

<li>
UO85.7&ndash;8a: 
<strong>Peter of Tarentaise OP (later Innocent V) [<i>c</i>1224&ndash;1276, <i>sedit</i> 1276]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 
6868&ndash;81 (first recension); Glorieux <i>R&eacute;p.</i> 17d. Or the second 
recension (<i>ps.</i> Nicholaus de Gorran): pr. Cologne 1478 (Goff N103) (as 
Gorran); Stegm&uuml;ller <i>Bibl.</i> 5800, 6882&ndash;95. [This work is not really treated 
by Kaeppeli 3339.] 

</li>

<li>
UO85.&Dagger;8b: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UO85.8c: 
<strong>Nicholas de Gorran OP [&dagger; <i>c</i>1295]
</strong>
<br>
<strong>Commentary on Revelation</strong>
pr. Antwerp 1620; Stegm&uuml;ller <i>Bibl.</i> 5810.

</li>

<li>
UO85.9: 
<strong>Nicholaus de Hanapis OP [<i>c</i>1225&ndash;1291], patriarch of Jerusalem
</strong>
<br>
<strong><i>Liber de exemplis sacrae scripturae</i></strong>
pr. as a work of 
Bonaventure, [Venice <i>c.</i> 1480] (Goff B850), &amp;c.; <i>S. Bonaventurae opera</i> 
(Paris 1588&ndash;96), 7. 469&ndash;563; Distelbrink 64; Kaeppeli 3094; Stegm&uuml;ller 
<i>Bibl.</i> 5815; Bloomfield 1006. [Discussion of the early editions and their 
various texts by V. Scholderer in <i>Gutenberg Jahrbuch</i> 1936, 61&ndash;2.]

</li>

<li>
UO85.10a: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
UO85.10b: 
<strong>William of Conches [<i>c</i>1080&ndash;1154]
</strong>
<br>
<strong><i>Glosae super Boetium</i></strong>
ed. L. W. Nauta, diss. (Groningen 1999);
Thomson, <i>Grosseteste</i>, 243&ndash;4. [Early copies in France are ascribed to
William, some English copies from 14th cent. onwards ascribed to Grosseteste,
and so received by Leland and Bale.]

</li>

<li>
UO85.10c: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 890&ndash;94; ed. C. Moreschini, Teubner (2000). 
This title usually designates the five <i>opuscula sacra</i>.

</li>

<li>
UO85.10d: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<strong><i>Quomodo substantiae in eo quod sint bonae sint</i></strong>
<i>CPL</i> 892, one 
of the five <i>opuscula sacra</i>.

</li>

<li>
UO85.10e: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<strong><i>Liber contra Eutychen et Nestorium</i></strong>
<i>CPL</i> 894, one of the
five <i>opuscula sacra</i>.

</li>

<li>
UO85.11: 
<strong>Ranulf Higden OSB [&dagger;1364]
</strong>
<br>
<strong><i>Polychronicon</i></strong>
ed. C. Babington &amp; J. R. Lumby, RS 41 (1865&ndash;86); 
J. Taylor, <i>The Universal Chronicle of Ranulf Higden</i> (Oxford 1966).

</li>

<li>
UO85.&dagger;12: 
<strong>John Sharpe [&dagger; after 1403]
</strong>
<br>
<strong>Abbreviation of John Duns Scotus's <i>Quodlibeta</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 315.

</li>

<li>
UO85.*13: 
<strong>Rainerius Iordanis de Pisis OP [&dagger; <i>c</i>1348]
</strong>
<br>
<strong><i>Pantheologia</i></strong>
pr. N&uuml;rnberg 1473 (Goff R5), &amp;c.; Kaeppeli 3429; 
Stegm&uuml;ller <i>Bibl.</i> 7169. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
