{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Q" title="UNIDENTIFIED LIBRARIES">UNIDENTIFIED LIBRARIES</a>  &gt; Cambridge, Trinity College, O. 1. 59</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
UNIDENTIFIED LIBRARIES</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Cambridge, Trinity College, O. 1. 59</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
Q1 List of books, 12th cent. (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>1 catalogue found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
