{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/114" title="Cambridge-Dominican">Cambridge-Dominican</a>  &gt; Leland, c. 1536-40</p><h2>NEW FRIARS: Cambridge-Dominican</h2><h3 class="medieval_catalogue_desc">F7. Leland, c. 1536-40</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F7.1: 
<strong>Robert Kilwardby OP [&dagger;1279]
</strong>
<br>
<strong><i>Quaestiones</i> on the Lombard's Sentences</strong>
I, ed. J. Schneider (Munich 1986);
II, ed. G. Leibold (Munich 1992); III/1, ed. E. G&ouml;ssmann (Munich 1982);
III/2, ed. G. Leibold (Munich 1985);
IV, ed. R. Schenk (Munich 1993); Stegm&uuml;ller <i>Sent.</i> 742; Kaeppeli 3519.

</li>

<li>
F7.2 (`Shirwood super sententias'): 
<strong>William Shirwood [&dagger; 1267]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
not known to survive; Sharpe,
<i>Latin Writers</i>, 810.

</li>

<li>
F7.3 (`lectura Holcot super sententias'): 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong><i>Opus quaestionum super Sententias</i></strong>
pr. Lyon 1497 (Goff H287), Lyon
1518 / repr. Frankfurt 1957; Kaeppeli 3499; Sharpe, <i>Latin Writers</i>, 555.

</li>

<li>
F7.4: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong>Commentary on the Song of Songs, inc. `<i>Osculetur me</i>, &amp;c. In hoc libro
sicut in ceteris tria debent inquiri'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7809,1&ndash;2;
Lacombe, 140&ndash;44. [In spite of the internal evidence for authenticity cited
by Lacombe, this commentary is rejected by Stegm&uuml;ller, who instead accepts
another commentary, inc. `Legitur Salomon habuisse tria nomina Pacificus 
Idida Ecclesiastes': unpr.; Stegm&uuml;ller <i>Bibl.</i> 7808. This appears to be
referred to as Langton's by Lacombe, 143, but the incipit is not in Smalley's
list; it is transmitted with Langton's work.]

</li>

<li>
F7.5 (`concordia quatuor euangelistarum', attrib. Clement, inc.): 
<strong>Clement of Lanthony OSA [&dagger; after 1169]
</strong>
<br>
<strong><i>Vnum ex quattuor</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1981; Sharpe, <i>Latin
Writers</i>, 87&ndash;8. [Some copies may contain parts of the four-volume commentary 
on the work.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
