{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K240. Catalogus, c. 1360</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K240.2 (3 copies, among them B13.85): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on Isaiah</strong>
<i>PL</i> 116. 715&ndash;1086; Stegm&uuml;ller <i>Bibl.</i> 3083.

</li>

<li>
K240.3 (3 copies, among them B13.161): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Strassburg 1519, &amp;c.; 
<i>PL</i> 117. 361&ndash;938; Stegm&uuml;ller <i>Bibl.</i> 3101&ndash;114.

</li>

<li>
K240.4 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<strong>Commentary on Revelation</strong>
<i>PL</i> 117. 937&ndash;1220 (as Haimo); Stegm&uuml;ller 
<i>Bibl.</i> 3072, 3122.

</li>

<li>
K240.5 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
K240.6 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1248_anchor">Haimo de Bazochiis [&dagger;1153], bishop of Ch&acirc;lons
</a>
<br>
<strong><i>Christianarum rerum memoria</i></strong>
<i>PL</i> 118. 817&ndash;874 (as Haimo of
Halberstadt).

</li>

<li>
K240.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1250_anchor">Haimo [11th cent.], monk of Saint-Denys
</a>
<br>
<strong><i>Sermo de detectione corporis S. Dionysii</i>, addressed to Abbot Hugh
by Haimo, <i>indignus monachus</i></strong>
ed. M. F&eacute;libien, <i>L'Histoire de l'abbaye royale 
de Saint-Denys</i> (Paris 1706), 165&ndash;72;<i>BHL</i> 2198. A copy from Bury, now 
Pembroke College, MS 24 (s. xi) [O. 54], fols. 361r&ndash;374v.

</li>

<li>
K240.9 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1246_anchor">Haimo [?]
</a>
<br>
<strong><i>De diuersis rebus monachorum</i></strong>
unidentified. Kirkstead, K240.9, 
provides the incipit, `Vt enim .&nbsp;.#. facere debuisti'.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
