{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K443. Catalogus, c. 1360</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K443.1 (`Petrus Damianus de officiis ecclesiis. Ea quae'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3055_anchor">Rupert of Deutz OSB [<i>c</i>1075&ndash;1129/30], abbot of Deutz
</a>
<br>
<strong><i>De diuinis officiis</i></strong>
ed. R. Haacke, <i>CCCM</i> 7 (1967). [The entries 
that name Peter as author are indexed here by inference from two points of 
evidence, the incipit `Ea quae' (K443.1) and the title given at Reading 
(B71.31b); Rupert's prologue begins, `Ea que per anni circulum ordine 
constituto'. The notes included in the editions referred these entries to 
<i>ps.</i> Alcuin, following the discussion at R74.1. I have found no evidence 
explicitly to clarify the association of either work, or any other possible 
candidate, with Peter Damian.] 

</li>

<li>
K443.2 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2564_anchor">Peter Damian OSB [1007&ndash;1072]
</a>
<br>
<strong><i>Liber Dominus uobiscum</i></strong>
<i>PL</i> 145. 231&ndash;52.

</li>

<li>
K443.&lt;&gt;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2564_anchor">Peter Damian OSB [1007&ndash;1072]
</a>
<br>
<strong><i>Sermones</i></strong>
ed. G. Lucchesi, <i>CCCM</i> 57 (1983).

</li>

<li>
K443.&lt;&gt;5 (`epistolarum liber 1'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2564_anchor">Peter Damian OSB [1007&ndash;1072]
</a>
<br>
<strong><i>Epistolae</i></strong>
ed. K. Reindel, <i>Die Briefe des Petrus Damiani</i>, 4 vols, 
MGH <i>Die Briefe der deutschen Kaiserzeit</i> 4 (1983&ndash;93). Peter's treatises
are mostly addressed as letters; what appears as <i>opuscula</i> in <i>PL</i> 145 
appears as letters here. Kirkestede's source is unknown.

</li>

<li>
K443.&lt;&gt;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2564_anchor">Peter Damian OSB [1007&ndash;1072]
</a>
<br>
<strong><i>Vita S. Odilonis</i></strong>
<i>PL</i> 144. 925&ndash;44; <i>BHL</i> 6282.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
