{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K392. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K392.1: 
<strong>Marco Polo [1254&ndash;1323]
</strong>
<br>
<strong><i>De conditionibus et consuetudinibus orientalium regionum</i>, Latin tr.
by Francesco Pipino</strong>
pr. Gouda 1483/85, Basel 1532; Kaeppeli 1114.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
