{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/337" title="St Mary's College">St Mary's College</a>  &gt; Inventory of books, probably 1588</p><h2>SCOTLAND: St Mary's College</h2><h3 class="medieval_catalogue_desc">S23. Inventory of books, probably 1588</h3>
<em>14 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S23.&para;1: 
<strong>Henricus Pantaleonis [1522&ndash;1595]
</strong>
<br>
<strong><i>Chronographia ecclesiae Christianae</i></strong>
pr. Basel 1551 
(Adams P173), &amp;c.

</li>

<li>
S23.&para;6: 
<strong>Desiderius Erasmus [1466&ndash;1536]
</strong>
<br>
<strong><i>Index operum</i></strong>
pr. [Basel 1541].

</li>

<li>
S23.&para;14: 
<strong>Denys Ryckel OCarth [1402&ndash;1471]
</strong>
<br>
<strong><i>Enarrationes in quinque Mosaicae legis libros</i></strong>
pr. Cologne 1534 
(Adams D551), &amp;c.; pr. <i>Doctoris ecstati D. Dionysii Cartusiani opera omnia</i> 
(Montreuil/Tournai 1896&ndash;1935), vols. 1&ndash;2; K. Emery, <i>CCCM</i> 121 (1991) 
218&ndash;19; Stegm&uuml;ller <i>Bibl.</i> 2072&ndash;7.

</li>

<li>
S23.&para;23: 
<strong>A. Cornelius Celsus [1st cent.]
</strong>
<br>
<strong><i>De medicina</i></strong>
pr. Florence 1478 (<i>GW</i> 6456), &amp;c.

</li>

<li>
S23.&para;?*25 (`Caroli Bouilli opuscula aliquot viz. de intellectu, &amp;c.'): 
<strong>Carolus Bovillus (Charles de Bouelles) [1479&ndash;1567]
</strong>
<br>
<strong>unspec.
</strong>
</li>

<li>
S23.&para;26 (`index D. Thomae Aquinatis sententiarum'): 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
S23.&para;36b: 
<strong>Simplicius [6th cent.]
</strong>
<br>
<strong>Commentary on Aristotle's <i>De caelo</i>, tr. William of Moerbeke</strong>
 pr. Venice 1540 (Adams S1202), &amp;c.; Kaeppeli 1612.

</li>

<li>
S23.&para;63b: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong><i>De pulsibus</i>, tr. Iohannes Guinterius</strong>
pr. Paris 1531.

</li>

<li>
S23.&para;64: 
<strong>David Douglas [early 16th cent.]
</strong>
<br>
<strong><i>De auro liquido quod potabile uocant epist(ola) ad Paulum III
pontificem</i></strong>
not traced.

</li>

<li>
S23.&para;70 (III): 
<strong>Gabriel Biel [<i>c</i>1415&ndash;1495]
</strong>
<br>
<strong><i>Collectorium circa IV libros Sententiarum</i></strong>
pr. [T&uuml;bingen 1501] 
&amp;c.; ed. W. Werbeck &amp; others (T&uuml;bingen 1973&ndash;92); Stegm&uuml;ller <i>Sent.</i> 243.

</li>

<li>
S23.&para;75a = S24.&para;70: 
<strong>Conradus Pellicanus [1478&ndash;1556]
</strong>
<br>
<strong><i>Index Bibliorum</i></strong>
pr. Z&uuml;rich 1537.

</li>

<li>
S23.&para;75b = S24.&para;70: 
<strong>Conradus Pellicanus [1478&ndash;1556]
</strong>
<br>
<strong><i>Commentaria Bibliorum</i></strong>
pr. Z&uuml;rich 1532, &para;*pr. Z&uuml;rich 1534&ndash;37.

</li>

<li>
S23.&para;*82: 
<strong>Udalricus Zasius (Ulrich Zasius) [1461&ndash;1535]
</strong>
<br>
<strong><i>In titulis Institutionum de actionibus enarratio</i></strong>
pr. Basel 1537, &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>14 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
