{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K636. Catalogus, c. 1360</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K636: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong>&diams;, works reported from the Dominican catalogue, &sect; 29.
</strong>
</li>

<li>
K636.1 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum naturale</i></strong>
&para;*pr. [Strassburg, not after 1476] (Goff 
V292); pr. Douai 1624 / repr. Graz 1965; Kaeppeli 3982.

</li>

<li>
K636.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum historiale</i></strong>
pr. Douai 1624 / repr. Graz 1964&ndash;5;
Kaeppeli 3987.

</li>

<li>
K636.9 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>De morali principis institutione</i></strong>
pr. Rostock 1477; ed. R. J. 
Schneider, <i>CCCM</i> 137 (1995); Kaeppeli 4005.

</li>

<li>
K636.10 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>De eruditione regalium filiorum</i></strong>
pr. Rostock 1477, &amp;c.; ed. 
A. Steiner (Cambridge, MA, 1938); Kaeppeli 4003.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
