{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R20. Union catalogue by author and title, early 14th cent.</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R20.2 (`exhortaciones ad monachos', attrib. Caesarius, 15 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry546_anchor">Caesarius of Arles [<i>c</i>470&ndash;542], archbishop of Arles
</a>
<br>
<strong><i>Homiliae X ad monachos</i></strong>
a group common in English manuscripts,
comprising seven sermons of Caesarius, a letter of Caesarius, a 
Eusebian sermon, and <i>ps.</i> Augustine, <i>De tribus habitaculis</i> (attributed to
Patrick of Dublin). On the texts and manuscripts, see A. O. Gwynn, <i>The 
Writings of Bishop Patrick 1074&ndash;84</i> (Dublin 1955), 28&ndash;45, 132&ndash;5. The group 
often accompanies eight <i>sermones ad monachos</i> attributed to Eusebius 
Gallicanus.

</li>

<li>
R20.3 (contents uncertain, 16 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry546_anchor">Caesarius of Arles [<i>c</i>470&ndash;542], archbishop of Arles
</a>
<br>
<strong><i>Sermones</i></strong>
<i>CPL</i> 1008; ed. G. Morin, <i>CCSL</i> 103&ndash;4 (1953).

</li>

<li>
R20.4 (`omelie in quadragesima', hom. 10, 5 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry915_anchor">`Eusebius Gallicanus'
</a>
<br>
<strong><i>Sermo de quadragesima</i> (<i>serm.</i> 45; <i>ad monachos</i> 10)</strong>
ed. F. Glorie,
<i>CCSL</i> 101 (1971) 535&ndash;42; <i>CPPM</i> 1. 4662.

</li>

<li>
R20.5 (`ammonicio ad sororem', attrib. Caesarius, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2514_anchor">Pelagius [<i>c</i>350&ndash;after 423]
</a>
<br>
<strong><i>Liber de uita christiana</i></strong>
<i>CPL</i> 730; pr. [Mainz <i>c.</i> 1465&ndash;6] (<i>CIBN</i>
A772), &amp;c.

</li>

<li>
R20.&dagger;6 (attrib. Caesarius, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong>(attrib.; <i>ps.</i> Augustine), <i>Tractatus de oboedientia</i></strong>
<i>CPL</i> 605; <i>CPPM</i> 
1. 1123, 1181; ed. G. Morin, <i>CCSL</i> 78 (1958) 552&ndash;5; Lambert 240. [Commoner
in England than elsewhere.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
