{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/41" title="Battle">Battle</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Battle</h2><h3 class="medieval_catalogue_desc">B9. Leland, c. 1536-40</h3>
<em>23 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B9.1 (attrib. Odo of Canterbury): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2388_anchor">Odo de Castro Radulphi [&dagger;1273]
</a>
<br>
<strong><i>Distinctiones super Psalterium</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 6082&ndash;3.

</li>

<li>
B9.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry632_anchor">Clement of Lanthony OSA [&dagger; after 1169]
</a>
<br>
<strong><i>De sex alis cherubim</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1980.

</li>

<li>
B9.3 (`chronicon Iordanis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1929_anchor">Iordanes [fl. 550]
</a>
<br>
<strong><i>De summa temporum</i></strong>
<i>CPL</i> 912.

</li>

<li>
B9.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1950_anchor"><i>Itinerarium Antonini</i></a>
<i>CPL</i> 2330.

<br>
</li>

<li>
B9.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2234_anchor">Melito of Sardis [&dagger; <i>c</i>190]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De transitu beatae Mariae uirginis</i></strong>
<i>CPG</i> 1096; <i>BHL</i> 5351&ndash;2.

</li>

<li>
B9.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>Nomina regionum et locorum de Actibus Apostolorum</i></strong>
<i>CPL</i> 1359; ed. M. L. W. Laistner, <i>CCSL</i> 121 (1983) 167&ndash;78.

</li>

<li>
B9.7 (`de quatuor uirtutibus cardinalibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2183_anchor">Martin of Braga [&dagger;580], bishop of Braga
</a>
<br>
<strong><i>Formula uitae honestae</i></strong>
<i>CPL</i> 1080; Diaz 27; Bloomfield 4457.

</li>

<li>
B9.8 = R35.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1978_anchor">Ivo of Chartres [<i>c</i>1040&ndash;1116]
</a>
<br>
<strong><i>De corpore et sanguine Domini</i>, being the second part of
his <i>Decretum</i></strong>
<i>PL</i> 161. 135&ndash;200.

</li>

<li>
B9.9 (`Gildas'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1374_anchor"><i>Historia Britonum</i>, commonly attributed to Nennius</a>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
B9.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2387_anchor">Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</a>
<br>
<strong><i>Tractatus in libros Regum</i></strong>
ed. C. de Clercq (Ventimiglia 1980); Stegm&uuml;ller <i>Bibl.</i> 6058.

</li>

<li>
B9.11 (`sermo de assumptione s. Mariae'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
B9.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2920_anchor">Richard of Melksham [?]
</a>
<br>
<strong><i>Sermones</i></strong>
unidentified.

</li>

<li>
B9.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
B9.15 (`Albini respontiones'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
B9.16 = R26.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
[<i>dub.</i>]
<strong>`De proprietate sermonum'</strong>
unidentified.

</li>

<li>
B9.&dagger;16 = R26.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Disputatio de rhetorica</i></strong>
<i>PL</i> 101. 919&ndash;46; ed. C. Halm, 
<i>Rhetores latini minores</i> (Leipzig 1863), 525&ndash;50; <i>CMA Gallia</i>, 
2. 159&ndash;62.

</li>

<li>
B9.17 (`topographia Wallie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1111_anchor">Gerald of Wales [1146&ndash;1226]
</a>
<br>
<strong><i>Itinerarium Kambriae</i></strong>
ed. J. F. Dimock, RS 21/6 (1868), 3&ndash;152.

</li>

<li>
B9.18 (`prophetia Hildegardis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1069_anchor">Gebeno of Eberbach OCist [13th cent.], monk of Eberbach
</a>
<br>
<strong><i>Speculum futurorum saeculorum</i>, a cento derived from 
Hildegard's <i>Sciuias</i></strong>
ed. J. C. Santos Paz, Millennio 
medievale 46 (2004).

</li>

<li>
B9.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2262_anchor">Michael de Smaulfield [?]
</a>
<br>
<strong><i>Summa</i></strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>23 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
