{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K612. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K612: 
<strong>Victor Cartennensis [mid 5th cent.], bishop
</strong>
<br>
<strong>&lt;&gt;, works reported from Gennadius, &sect; 78.
</strong>
</li>

<li>
K612.&lt;&gt;1: 
<strong>Victor Cartennensis [mid 5th cent.], bishop
</strong>
<br>
<strong><i>De poentitentia</i> (<i>ps.</i> Ambrose)</strong>
<i>CPL</i> 854; <i>CPPM</i> 2. 3007.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
