{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R57. Union catalogue by author and title, early 14th cent.</h3>
<em>22 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R57.1 (`summa Adam ubi es?', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Summa de uitiis et uirtutibus</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 631;
Glorieux <i>R&eacute;p.</i> 104t; Bloomfield 0308, 1182.

</li>

<li>
R57.2 (7 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on the minor prophets, inc. `<i>Ossa duodecim prophetarum
pullulant</i>, &amp;c. [Sir 49</strong>
12] Hoc legitur in fine Ecclesiastici': unpr.; 
Stegm&uuml;ller <i>Bibl.</i> 7843&ndash;54.

</li>

<li>
R57.3 (5 copies) = K554.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on 1&ndash;4 Kings, inc. `Rectoribus populi has uirtutes esse
necessarias'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7752&ndash;55.

</li>

<li>
R57.4 (6 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Isaiah, inc. `<i>Quattuor rote per bases singulas</i> &amp;c. 
[3 Rg 7</strong>
30] Bases istas ante templum Salomonis': unpr.; Stegm&uuml;ller <i>Bibl.</i> 
7817. [The incipit at K554.10 reflects a copy of the moral commentary,
Stegm&uuml;ller <i>Bibl.</i> 7818.]

</li>

<li>
R57.5 (3 copies) = K554.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Ecclesiasticus, inc. `Hoc nomine Ecclesiastes 
interpretatur concionator'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7814. There is a
second commentary, inc. `Cum de edificio sito in monte loqueretur, Ezechiel 
ait, <i>Thalami porte</i>, &amp;c. [Ez 40:10]' (Stegm&uuml;ller <i>Bibl.</i> 7813), ascribed 
to Langton in at least one copy, transmitted with Langton, and accepted as 
also authentic by both Smalley and Stegm&uuml;ller.

</li>

<li>
R57.6 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on the Song of Songs, inc. `<i>Osculetur me</i>, &amp;c. In hoc libro
sicut in ceteris tria debent inquiri'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7809,1&ndash;2;
Lacombe, 140&ndash;44. [In spite of the internal evidence for authenticity cited
by Lacombe, this commentary is rejected by Stegm&uuml;ller, who instead accepts
another commentary, inc. `Legitur Salomon habuisse tria nomina Pacificus 
Idida Ecclesiastes': unpr.; Stegm&uuml;ller <i>Bibl.</i> 7808. This appears to be
referred to as Langton's by Lacombe, 143, but the incipit is not in Smalley's
list; it is transmitted with Langton's work.]

</li>

<li>
R57.7 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Genesis, inc. `<i>Tabernaculum Moysi
coopertum erat quinque cortinis</i>, &amp;c. [Ex 26</strong>
3, 36:10] Tabernaculum istud': 
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7744. 

</li>

<li>
R57.7&ndash;9 + R57.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on the Pentateuch</strong>
as above.

</li>

<li>
R57.8 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Exodus, inc. `<i>In ingressu tabernaculi
quinque columnae erant</i>, &amp;c. [Ex 26</strong>
37, 36:38] Ecce qualiter rota est in medio
rote': unpr.; Stegm&uuml;ller <i>Bibl.</i> 7745. 

</li>

<li>
R57.7&ndash;9 + R57.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on the Pentateuch</strong>
as above.

</li>

<li>
R57.9 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Numbers, inc.
`Elegit sibi Dauid, sicut legitur in libro Regum'</strong>
unpr.; Stegm&uuml;ller 7747.

</li>

<li>
R57.10 (2 copies) = K554.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on 1&ndash;2 Maccabees, inc. `In Ioele legitur, <i>Residuum eruce
comedit locusta</i>, &amp;c. [$<Joel 1</strong>
4] Per erucam, bruchum, locustam': unpr.;
Stegm&uuml;ller <i>Bibl.</i> 7764&ndash;5.

</li>

<li>
R57.11 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Deuteronomy, inc. `<i>Et erit sicut excussio olee 
quattuor uel quinque oliuarum</i>, &amp;c. [Is 17</strong>
6] Postquam locutus est de 
destructione Damasci': unpr.; Stegm&uuml;ller <i>Bibl.</i> 7748.

</li>

<li>
R57.12 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>De paenitentia sub persona Magdalenae</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>,
630; Bloomfield 3079.

</li>

<li>
R57.13 (1 copy) = K554.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on 1&ndash;2 Chronicles, inc. `Liber iste Grece dicitur Paralipomenon,
quod sonat Residuorum'</strong>
ed. A. Saltman (Ramat-Gan, Israel, 1978);
Stegm&uuml;ller <i>Bibl.</i> 7756&ndash;7757.

</li>

<li>
R57.14 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Tobit, inc. `<i>Fiant luminaria in firmamento celi</i> [Gn 
1</strong>
14]. Ecclesia dicitur celum et firmamentum': unpr.; Stegm&uuml;ller <i>Bibl.</i>
7761.

</li>

<li>
R57.15 (1 copy) = K554.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Judith, inc. `<i>Lucerna splendens super candelabrum aureum</i>,
&amp;c. [Sir 26</strong>
22] Nomine candelabri sacra scriptura': unpr.; Stegm&uuml;ller 
<i>Bibl.</i> 7762.

</li>

<li>
R57.16 (1 copy) = K554.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Esther, inc. `Legitur in XI Prouerbiorum, <i>Mulier gratiosa</i>,
&amp;c. [Prv 11</strong>
16] Utriusque parabolarum istarum ueritas': unpr.; Stegm&uuml;ller 
<i>Bibl.</i> 7763.

</li>

<li>
R57.17 (1 copy) = K554.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on 1 Ezra, inc. `<i>Omnis scriba doctus in regno celorum</i>, &amp;c.
[Mt 13</strong>
52] Nomen scribe eleganter Esdre competit': unpr.; Stegm&uuml;ller <i>Bibl.</i> 
7759.

</li>

<li>
R57.18 (1 copy) = K554.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Leviticus, inc. `Sicut dicit Esicius,
licet historia quinque librorum'</strong>
unpr.; Stegm&uuml;ller 7746. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>22 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
