{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3 class="medieval_catalogue_desc">UC146. Will of William Lyndwood, 22 November 1443; University</h3>
<em>2 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC146.1: 
<strong>Cinus of Pistoia [<i>c</i>1270&ndash;1336]
</strong>
<br>
<strong><i>Lectura in Codice</i></strong>
pr. Strassburg <i>c.</i> 1475 (<i>GW</i> 7045), &amp;c.

</li>

<li>
UC146.2: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 6. 640&ndash;69.
</span>
<br>
<strong><i>Lectura super Digestum nouum</i></strong>
pr. Venice 1471 (<i>GW</i> 3546), &amp;c. [part
I]; pr. Venice 1473 (<i>GW</i> 3563), [part II].

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
