{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Beverley hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH1 Inventory of church goods, 9 Jan 1419/20 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Blyth hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH2 Inventory of goods, 24 June 1471 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Boston guild</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH4"  title="View details of catalogue SH4">SH4 Inventory of goods, 1523 &times; 1524 (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH5"  title="View details of catalogue SH5">SH5 Inventory of goods, 2 July 1533 (4)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Boston hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH3 Bequest by Thomas Nesse, 28 July 1463 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bridport hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH6 Inventory of goods, 9 October 1453 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bristol hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH7"  title="View details of catalogue SH7">SH7 Bequest by Lord Berkeley, 2 February 1415/16 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Brough-under-Stainmore grammar school</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH8"  title="View details of catalogue SH8">SH8 Inventory of goods, May or June 1546 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury, St James</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH9 Inventory of goods, 1546 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury, St John the Baptist</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH10 Bequest by William Garnare, 26 April 1511 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH11 Inventory of goods, 1546 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury, St Nicholas</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH12 Inventory of goods, 1546 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Coventry guild</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH13 Inventory of goods, 15 December 1441 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ewelme, Domus Dei</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH14"  title="View details of catalogue SH14">SH14 Inventory of goods, 10 September 1466 (6)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Gateshead hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH15 Inventory of goods, 1 February 1326 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Hedon grammar school</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH16"  title="View details of catalogue SH16">SH16 Bequest by John Elwyn, 24 November 1465 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Kepier hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH17"  title="View details of catalogue SH17">SH17 Bequest by Robert Wycliffm 8 September 1423 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH18"  title="View details of catalogue SH18">SH18 Inventory of goods, 7 December 1507 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
King's Lynn, St John the Baptist</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH19"  title="View details of catalogue SH19">SH19 Bequest by Thomas of Lexham, 31 October 1382 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
King's Lynn, St Mary Magdalen</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH20 List of books taken away, 21 March 1454/5 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ledbury hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH21 Inventory of goods, 27 January 1315/16 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Lincoln,Holy Innocents</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH22 Inventory of goods, 13 August 1316 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London bridge chapel</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH37 Inventory of chapel goods, 4 November 1350 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Barber-Surgeons' Co.</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH50"  title="View details of catalogue SH50">SH50 Bequest by Thomas Colard, 14 October 1481 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Chancery of Duchy of Lancaster</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH52"  title="View details of catalogue SH52">SH52 Bequest by John Scarle, 22 April 1403 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Clarenceux King of Arms</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH51"  title="View details of catalogue SH51">SH51 Bequest by Thomas Benolt, 30 June 1534 (38)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Court of Arches</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH38"  title="View details of catalogue SH38">SH38 Bequest by Thomas Kent, 19 January 1468/9 (35)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Gray's Inn</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH39"  title="View details of catalogue SH39">SH39 Bequest by Edmund Pickering, 26 November 1488 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH40"  title="View details of catalogue SH40">SH40 List of books in the chapel, 8 November 1552 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Guildhall</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH46"  title="View details of catalogue SH46">SH46 Bequest by Andrew Horn, 9 October 1328 (12)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH47"  title="View details of catalogue SH47">SH47 List of books, c. 1470 (15)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Guildhall library</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH48"  title="View details of catalogue SH48">SH48 Bequest by Hugh Damlett, 6 July 1475 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH49"  title="View details of catalogue SH49">SH49 Bequest by John Graunte, 2 March 1516/17 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, hospital of St Bartholomew</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH24 List of books recovered for the house, 1424 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH25 Inventory of goods, 3 May 1546 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH26 Memorandum about books bought, 2 September 1533 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH27"  title="View details of catalogue SH27">SH27 Inventory of goods, 7 November 1558 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, hospital of St Giles</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH28"  title="View details of catalogue SH28">SH28 Inventory of goods, 7 June 1371 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH29"  title="View details of catalogue SH29">SH29 List of books removed, 11 September 1391 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, hospital of St Katherine</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH30 Bequest by John Ricard, 14 December 1448 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH31 Inventory of goods, 2 March 1545/6 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, hospital of St Mary Elsing</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH32"  title="View details of catalogue SH32">SH32 Bequest of John Brian, 18 May 1361 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH33"  title="View details of catalogue SH33">SH33 Inventory of books, 7 October 1448 (56)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH34 List of goods restored to prior, 1536 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, hospital of St Mary of Bethlehem</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH35 Inventory of goods, 6 March &times; 12 May 1403 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, hospital of St Thomas of Acre</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH36 Bequest by John Overton, 1 May 1507 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Inner Temple</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH45"  title="View details of catalogue SH45">SH45 Bequest by Thomas Jakes, 20 January 1512/13 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Lincoln's Inn</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH41"  title="View details of catalogue SH41">SH41 List of books in the treasury, 1 November 1512 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH42"  title="View details of catalogue SH42">SH42 List of books in the treasury, 1 November 1514 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH43"  title="View details of catalogue SH43">SH43 List of books purchased for the chapel, 1547-8 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH44 List of books purchased for the chapel, 1554-5 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, St Anthony</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH23"  title="View details of catalogue SH23">SH23 Inventory of chapel goods, 1499 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Newcastle-upon-Tyne, hospital of St Mary</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH53"  title="View details of catalogue SH53">SH53 Inventory of goods, 10 November 1444 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Norwich town library</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH57"  title="View details of catalogue SH57">SH57 Bequest by Bishop James Goldwell, 15 June 1497 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Norwich, hospital of St Mary Magdalen</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH56 Inventory of goods, 1368 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Norwich, St Giles</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH54 Bequest by John Smith, 11 June 1489 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH55 List of expenditure on books, 1512-13 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Pontefract almshouse</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH58"  title="View details of catalogue SH58">SH58 Inventory of goods, 15 November 1432 (7)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ripon, hospital of St John the Baptist</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH59 Inventory of goods, 6 September 1370 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ripon, hospital of St Mary Magdalen</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH60"  title="View details of catalogue SH60">SH60 Inventory of goods, 9 March 1336 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Rochester cathedral</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH61"  title="View details of catalogue SH61">SH61 Books given to cathedral by Bishop Haimo Hethe, 1346 (7)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Rome, English hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH62"  title="View details of catalogue SH62">SH62 Inventory of goods, 1 October 1496 (33)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH63"  title="View details of catalogue SH63">SH63 List of donations, November 1498 (34)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH64"  title="View details of catalogue SH64">SH64 Inventory of goods, before 30 March 1501 (29)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH65"  title="View details of catalogue SH65">SH65 Inventory of goods, 1502-3 (100)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH66"  title="View details of catalogue SH66">SH66 Inventory of goods, 6 November 1506 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH67 List of donations and goods, 9 February 1525 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH68 Inventory of goods, 16 May 1525 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH69 Inventory of goods, 26 April 1538 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH70 Inventory of goods, 27 January 1561 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH71 Inventory of goods, 4 May 1562 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH72 Inventory of goods, 1 May 1563 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH73 Inventory of goods, 4 May 1564 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH74 Inventory of goods, 4 May 1565 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH75 Inventory of goods, 4 May 1566 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH76 Inventory of goods, 4 May 1567 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH77 Inventory of goods, 4 May 1568 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH78 Inventory of goods, 4 May 1569 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH79 Inventory of goods, 4 May 1570 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH80 Inventory of goods, 4 May 1571 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH81 Inventory of goods, 4 May 1572 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH82 Inventory of goods, 4 May 1573 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH83 Inventory of goods, 21 May 1574 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH84 Inventory of goods, 21 May 1575 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH85 Inventory of goods, 26 May 1576 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH86 Inventory of goods, 26 August 1577 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH87 Inventory of goods, 17 May 1578 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Saffron Walden almshouse</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH88"  title="View details of catalogue SH88">SH88 List of chained books, 5 August 1400 (7)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Salisbury hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH89 Inventory of goods, 20 December 1418 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH90 Inventory of goods, 1436 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Sandwich hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH91 Inventory of goods, 28 March 1490 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH92 Inventory of chapel goods, 15 December 1494 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH93 Inventory of goods, 16 April 1496 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH94 Inventory of goods, 21 January 1501/2 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH95 Inventory of goods, 29 May 1525  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Sevenoaks, hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH96 Inventory of goods, 30 March 1313 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Sherburn, hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH97 Bequest by Martin of St Cross, 1 November 1259 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH98"  title="View details of catalogue SH98">SH98 Bequest by Lionel Jackson, 15 October 1514 (6)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Southampton, Domus Dei</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH99 Inventory of goods, 1289 &times; 1291 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH100 Inventory of goods, 29 September 1362 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH101"  title="View details of catalogue SH101">SH101 Inventory of goods, 24 June 1415 (7)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH102"  title="View details of catalogue SH102">SH102 Inventory of goods, 24 June 1417 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH103 Inventory of goods, 24 June 1419 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Southwold, townsmen</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH104"  title="View details of catalogue SH104">SH104 Bequest by Robert Scolys, 6 June 1470 (4)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Stamford, hospital of St Thomas &amp; St John</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH107 Inventory of goods, 20 July 1265 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Stamford, St Giles</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH106 Inventory of goods, 20 July 1265 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Stamford,Browne's Hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH105 Account, Michaelmas 1501-Michaelmas 1502 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Stratford-upon-Avon, guild of Holy Cross</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH108 Inventory of goods, 12 July 1454 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH109 Inventory of goods, 20 July 1458 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH110"  title="View details of catalogue SH110">SH110 Inventory of goods, 26 July 1456 (6)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Thetford, hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH111 Inventory of goods, 1368 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Wainfleet grammar sch</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH112 Bequest by Richard Ranson, 7 January 1549 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Wakefield bridge chap</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH113 Inventory of goods, 12 August 1498 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
West Somerton hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH114"  title="View details of catalogue SH114">SH114 List of books removed, 24 October 1297 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Westminster, hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH115"  title="View details of catalogue SH115">SH115 Bequest by Henry Bost, 25 November 1503 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Winchester, Holy Cross</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH116"  title="View details of catalogue SH116">SH116 Bequest by Henricus de Segusio, 29 October 1271 (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH117 Inventory of goods, 28 March 1368 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH118 Inventory of goods, 4 April 1383 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH119"  title="View details of catalogue SH119">SH119 Inventory of goods, c. 1406 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Winchester, St John the Baptist</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH120 Inventory of goods, 1441-2 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Winchester, St Mary Madgalen</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH121 Inventory of goods, c. 1400 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Worcester town library</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH122 Bequest by Robert Inkberrow, 7 December 1503 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Writtle hospital</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH123 Inventory of goods, 1 March 1343/4 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
York bridge chapel</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH134 Bequest by Robert de Howm, 1 October 1433 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
York, hospital of Christ and St Mary</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH124"  title="View details of catalogue SH124">SH124 Bequest of William Otteley, 17 June 1432 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH125"  title="View details of catalogue SH125">SH125 Inventory of goods, mid 16th cent. (4)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
York, St Leonard</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH126"  title="View details of catalogue SH126">SH126 Record of inquisition, 9 September 1364 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH127"  title="View details of catalogue SH127">SH127 Bequest by John de Stokeslay, 10 August 1400 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH128 Bequest by John Maltster, 28 April 1427 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH129"  title="View details of catalogue SH129">SH129 Bequest by Robert Alne, 24 December 1440 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH130"  title="View details of catalogue SH130">SH130 Bequest by John Warrand, 17 December 1445 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
York, St Thomas</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SH131 Inventory of goods, 21 June 1416 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH132 Inventory of goods, 23 November 1451 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SH133 Inventory of goods, 22 October 1465 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
