{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K398. Catalogus, c. 1360</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K398.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on Boethius's <i>Philosophiae consolatio</i></strong>
unpr.; dedication, 
ed. R. J. Dean, <i>Studies in Philology</i> 63 (1966) 600&ndash;603; extracts in 
<i>Chaucer's Boece and the Medieval Tradition of Boethius</i>, ed. A. J. Minnis
(Cambridge 1993), 35&ndash;91; Kaeppeli 3134.

</li>

<li>
K398.&lt;&gt;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on <i>Regula S. Augustini</i></strong>
unpr.; Kaeppeli 3141.

</li>

<li>
K398.3 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong><i>De officio missae</i></strong>
unpr.; Kaeppeli 3142.

</li>

<li>
K398.&lt;&gt;4 (`chronicorum lib. 1'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong><i>Annales sex regum Angliae</i></strong>
ed. T. Hog (London 1845); Kaeppeli 3149.

</li>

<li>
K398.6 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on Seneca's Tragedies</strong>
ed. E. Franceschini (<i>Thyestes</i>) (Milan 1938),
V. Ussani (<i>Hercules Furens</i>) (Rome 1959), P. Meloni (<i>Agamemnon</i>) (Rome 1961),
P. Meloni (<i>Hercules Oetaeus</i>) (Rome 1962), M. Palma (<i>Troades</i>) (Rome 1977);
Kaeppeli 3146a.

</li>

<li>
K398.&lt;&gt;7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on the elder Seneca's <i>Declamationes</i></strong>
unpr.; Kaeppeli 3146.

</li>

<li>
K398.8 (inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on Exodus</strong>
not known to survive; Sharpe, <i>Latin
Writers</i>, 394.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
