{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K9. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K9.3 (&mdash;): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry5_anchor">Abbo of Fleury OSB [<i>c.</i> 945&ndash;1004], abbot of Fleury
</a>
<br>
<span class="biblio_block">
<i>DBF</i> 1. 83&ndash;6; Sharpe, <i>Latin Writers</i>, 1&ndash;4.
</span>
<br>
<strong><i>Passio S. Edmundi</i></strong>
ed. M. Winterbottom, <i>Three Lives of
English Saints</i> (Toronto 1972), 67&ndash;87; <i>BHL</i> 2392.

</li>

<li>
K9.5 (`categoriarum spiritualium de euangeliis
   liber unus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry5_anchor">Abbo of Fleury OSB [<i>c.</i> 945&ndash;1004], abbot of Fleury
</a>
<br>
<strong><i>Super euangelia</i></strong>
unidentified.

</li>

<li>
K9.14 (`super euangelium omelia, <i>Erunt signa in sole</i> [Lc 
21:25]'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry5_anchor">Abbo of Fleury OSB [<i>c.</i> 945&ndash;1004], abbot of Fleury
</a>
<br>
<strong><i>Super euangelia</i></strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
