{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R32. Union catalogue by author and title, early 14th cent.</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R32.1 (1 copy) = K285.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
[<i>dub.</i>]
<strong>`Penitenciarius'</strong>
unidentified.

</li>

<li>
R32.2 (1 copy) = K285.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
[<i>dub.</i>]
<strong>`De Egyptiacis monachis'</strong>
unidentified.

</li>

<li>
R32.3 (9 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
R32.4 (`de institucionibus monachorum', 5 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
R32.5 (`de habitu monachi', Book I, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
R32.6 (`regula', 7 copies, one of them = BC4.212) = K285.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
R32.7 (`de 8 principalibus uiciis', Books V&ndash;XII, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
R32.8 (4 copies, one of them = B37.39 = B39.52) = K285.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>De incarnatione Domini contra Nestorium</i></strong>
<i>CPL</i> 514.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
