{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SCOTLAND: St Mary's College</h2><h3 class="medieval_catalogue_desc">S24. Inventory of books, 1598</h3>
<em>5 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S24.&para;5: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Opera</i></strong>
pr. [Cologne 1478] (<i>GW</i> 3905), &amp;c.

</li>

<li>
S24.&para;23: 
<strong>Conradus Pellicanus [1478&ndash;1556]
</strong>
<br>
<strong><i>Commentaria Bibliorum</i></strong>
pr. Z&uuml;rich 1532, &para;*pr. Z&uuml;rich 1534&ndash;37.

</li>

<li>
S24.&para;27: 
<strong>Simplicius [6th cent.]
</strong>
<br>
<strong>Commentary on Aristotle's <i>Categoriae</i>, tr. William of Moerbeke</strong>
 pr. Venice 1516; ed. A. Pattin, Corpus latinum commentariorum in Aristotelem
graecorum 5 (Louvain 1971&ndash;8); Kaeppeli 1613.

</li>

<li>
S24.&para;70: 
<strong>Conradus Pellicanus [1478&ndash;1556]
</strong>
<br>
<strong><i>Commentaria Bibliorum</i></strong>
pr. Z&uuml;rich 1532, &para;*pr. Z&uuml;rich 1534&ndash;37.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
