{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/135" title="Norwich-Dominican">Norwich-Dominican</a>  &gt; Leland, c. 1536-40</p><h2>NEW FRIARS: Norwich-Dominican</h2><h3 class="medieval_catalogue_desc">F33. Leland, c. 1536-40</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F33.1: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Scutum Bedae</i>, inc. `Miles igitur Christi mox in hanc lucem'</strong>
unpr.;
Bloomfield 3065, 3702, recording only one copy, Bodl. MS Bodley 630 (<i>SC</i> 1953)
(s. xv<sup>1</sup>, Syon), fols. 257v&ndash;265v.

</li>

<li>
F33.2: 
<strong>William Rothwell OP [late 13th cent.]
</strong>
<br>
<strong>Abbreviated Commentary on the Lombard's Sentences (<i>c</i>1270), based
on the Commentary by Pierre de Tarentaise</strong>
unpr.; Stegm&uuml;ller <i>Sent.</i>
301; Kaeppeli 1642.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
