{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K210. Catalogus, c. 1360</h3>
<em>9 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K210.1: 
<strong>Ratramnus of Corbie [&dagger; after 868]
</strong>
<br>
<strong><i>De anima</i></strong>
ed. A. Wilmart, <i>RB</i> 43 (1931) 207&ndash;223.

</li>

<li>
K210.2: 
<strong>Gennadius [late 5th cent.]
</strong>
<br>
<strong><i>De uiris inlustribus</i></strong>
<i>CPL</i> 957.

</li>

<li>
K210.4: 
<strong>Gennadius [late 5th cent.]
</strong>
<br>
<strong><i>Liber ecclesiasticorum dogmatum</i></strong>
<i>CPL</i> 958.

</li>

<li>
K210.5&ndash;9: 
<strong>Gennadius [late 5th cent.]
</strong>
<br>
<strong>&lt;&gt;, works reported from Gennadius, &sect; 101.
</strong>
</li>

<li>
K210.10: 
<strong>Ratramnus of Corbie [&dagger; after 868]
</strong>
<br>
<strong><i>De natiuitate Christi</i></strong>
<i>PL</i> 121. 81&ndash;102.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
