{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/BX" title="BENEDICTINES">BENEDICTINES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/BX/75" title="Peterborough">Peterborough</a>  &gt; Books given by Abbot Godfrey of Crowland (1299-1321)</p><h2>BENEDICTINES: Peterborough</h2><h3 class="medieval_catalogue_desc">BP14. Books given by Abbot Godfrey of Crowland (1299-1321)</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
BP14.2: 
<strong>Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>Canon medicinae</i>, tr. Gerard of Cremona</strong>
pr. Milan 1473 (<i>GW</i> 3115,
<i>CIBN</i> A806), [Strassburg, not before 1473] (<i>GW</i> 3114, <i>CIBN</i> A807), &amp;c. 

</li>

<li>
BP14.3 (`institutum paritatum'): 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
BP14.4: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
BP14.6 (`summum bonum'): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
BP14.7a = BP21.50<sup>x</sup>: 
<strong><i>Regula S. Benedicti</i></strong>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
BP14.7b ?= BP21.50b: 
<strong><i>Regula S. Basilii</i>, tr. Rufinus</strong>
<i>CPG</i> 2876; <i>PL</i> 103. 487&ndash;554; ed. K. Zelzer, <i>CSEL</i> 86 (1986).
In England it is perhaps more likely to refer to <i>ps.</i> Basil, <i>Admonitio ad
filium spiritualem</i>: <i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des
Mittelalters</i> 5 (1962), 200&ndash;245.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
