{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/327" title="Loch Leven priory">Loch Leven priory</a>  &gt; Books transferred from Loch Leven to St Andrews priory, c. 1152-3</p><h2>SCOTLAND: Loch Leven priory</h2><h3 class="medieval_catalogue_desc">S19. Books transferred from Loch Leven to St Andrews priory, c. 1152-3</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S19.&dagger;1 (`cum pastorali', anon.): 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Libellus de dignitate sacerdotali</i></strong>
<i>CPL</i> 171a.

</li>

<li>
S19.4 (`cum .&nbsp;. Origene'): 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Super uetus testamentum</i></strong>
usually refers to translations by Rufinus or
Jerome of the homilies on the Hexateuch, but the contents vary greatly.

</li>

<li>
S19.5: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>SBO</i> 6/2. 7&ndash;255.

</li>

<li>
S19.&dagger;6 (`cum .&nbsp;. tribus quaternionibus de sacramentis'): 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>De ecclesiasticis sacramentis</i> (<i>serm.</i> 1&ndash;5)</strong>
<i>PL</i> 162. 505&ndash;62. [In
some copies <i>serm.</i> 4 <i>de dedicatione ecclesiae</i> precedes <i>serm.</i> 1, and in
such texts this title may be found to designate the whole group.]

</li>

<li>
S19.11 (`cum .&nbsp;. Prospero'): 
<strong>Iulianus Pomerius [early 6th cent.]
</strong>
<br>
<strong><i>De uita contemplatiua</i></strong>
<i>CPL</i> 998.

</li>

<li>
S19.&dagger;14 (`interpretationibus dictionum'): 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. de Lagarde,
<i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
S19.17 (`cum .&nbsp;. exceptionibus ecclesiasticarum regularum'): 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>Exceptiones ecclesiasticarum regularum</i>, serving as a prologue to
his <i>Panormia</i> (PL 161. 1041&ndash;?) and to his <i>Decretum</i> (<i>PL</i> 161. 47&ndash;60),
may conceal copies of either work.
</strong>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
