{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>REGISTRUM ANGLIE: REGISTRUM ANGLIE</h2><h3>R43. Union catalogue by author and title, early 14th cent.</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R43.1: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on the Heptateuch</strong>
ed. C. Lohr &amp; R. Berndt, <i>CCCM</i> 53 
(1986); Stegm&uuml;ller <i>Bibl.</i> 1295&ndash;1301.

</li>

<li>
R43.2: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on Ecclesiastes</strong>
ed. R. Berndt, <i>CCCM</i> 53B (1991) 93&ndash;138; 
Stegm&uuml;ller <i>Bibl.</i> 1309.

</li>

<li>
R43.3: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on Proverbs</strong>
ed. R. Berndt, <i>CCCM</i> 53B (1991) 7&ndash;92; 
Stegm&uuml;ller <i>Bibl.</i> 1308.

</li>

<li>
R43.4: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on the Heptateuch</strong>
ed. C. Lohr &amp; R. Berndt, <i>CCCM</i> 53 
(1986); Stegm&uuml;ller <i>Bibl.</i> 1295&ndash;1301.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
