{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K54. Catalogus, c. 1360</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K54.1&ndash;2: 
<strong>Alexander of Hales OFM [<i>c</i>1185&ndash;1245]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. <i>Bibliotheca Franciscana 
Scholastica</i> 12&ndash;15 (Quaracchi 1951&ndash;7); Stegm&uuml;ller <i>Sent.</i> 59.

</li>

<li>
K54.3: 
<strong>John of Garland [&dagger; after 1258]
</strong>
<br>
<strong><i>De mysteriis ecclesiae</i></strong>
ed. F. W. Otto (Giessen 1842); <i>WIC</i> 1019.

</li>

<li>
K54.4: 
<strong>Alexander of Hales OFM [<i>c</i>1185&ndash;1245]
</strong>
<br>
<strong><i>Exoticon</i></strong>
ed. A. B. Hunt, <i>Teaching and Learning Latin in
Thirteenth-Century England</i> (Cambridge 1991), 1. 304&ndash;319.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
