{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/139" title="Oxford-Dominican">Oxford-Dominican</a>  &gt; Anonymus Reginensis, early 16th cent.</p><h2>NEW FRIARS: Oxford-Dominican</h2><h3 class="medieval_catalogue_desc">F39. Anonymus Reginensis, early 16th cent.</h3>
<em>13 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F39.1: 
<strong>Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</strong>
<br>
<strong><i>De operibus sex dierum</i></strong>
<i>PL</i> 189. 1515&ndash;70; Stegm&uuml;ller <i>Bibl.</i> 2251.

</li>

<li>
F39.2: 
<strong>Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</strong>
<br>
<strong><i>De sex uerbis Domini in cruce</i></strong>
<i>PL</i> 189. 1677&ndash;726; Stegm&uuml;ller <i>Bibl.</i> 2254.

</li>

<li>
F39.&dagger;3 (`uerbula episcopi Rub. &dagger;Rinconi'): 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Dicta CXLVII</i></strong>
part ed. E. Brown, <i>Fasciculus rerum expetendarum</i> 
(London 1690), 2. 258&ndash;305; Thomson, <i>Grosseteste</i>, 214&ndash;32.

</li>

<li>
F39.4 (`Ricardi de sancto Victore super Ezechielem'): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>De templo Ezechielis</i></strong>
<i>PL</i> 196. 527&ndash;600; Stegm&uuml;ller <i>Bibl.</i> 7337.

</li>

<li>
F39.5: 
<strong>Philip the Chancellor (Philippe de Gr&egrave;ve) [&dagger;1236]
</strong>
<br>
<span class="biblio_block">
H. Meylan, in an unpublished thesis for the Ecole des chartes (1927), cited
by F. Ueberweg, <i>Grundriss der Geschichte der Philosophie</i>, ed. B. Geyer
(1923&ndash;8), 2. 730, distinguishes Philippus Cancellarius from Philippus de
Greva, with whom he has been customarily identified.
</span>
<br>
<strong><i>Sermones dominicales</i></strong>
unpr.; Schneyer <i>Rep.</i> 4. 818&ndash;25; 
Glorieux <i>R&eacute;p.</i> 119c.

</li>

<li>
F39.6 (`summa Prepositini de questionibus'): 
<strong>Pr&eacute;vostin of Cremona [<i>c</i>1135&ndash;1210]
</strong>
<br>
<span class="biblio_block">
G. Lacombe, <i>La vie et les oeuvres de Pr&eacute;vostin</i>, also titled <i>Prepositini 
Cancellarii Parisiensis opera omnia</i> 1, Biblioth&egrave;que Thomiste 11 (1927).
</span>
<br>
<strong><i>Summa de quaestionibus theologicis</i></strong>
Part I, ed. G.
Angelini, <i>L'Ortodossia e la grammatica</i>, Analecta Gregoriana 183 (Rome 1972),
191&ndash;303; Parts II&ndash;III, unpr.; Part IV, ed. D. E. Pilarczyk, <i>Praepositini
cancellarii de sacramentis et de nouissimis</i> (Rome 1964); Glorieux <i>R&eacute;p.</i> 109g;
Stegm&uuml;ller <i>Sent.</i> 699. [Chapters listed by Lacombe, 168&ndash;82.]

</li>

<li>
F39.8: 
<strong>William Woodford OFM [&dagger; post 1400]
</strong>
<br>
<strong><i>Contra negantes purgatorium</i></strong>
not known to survive; Sharpe, <i>Latin
Writers</i>, 819.

</li>

<li>
F39.9: 
<strong>Thomas Docking OFM [&dagger; after 1269]
</strong>
<br>
<strong>Commentary on Deuteronomy</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 8094;
Sharpe, <i>Latin Writers</i>, 652.

</li>

<li>
F39.10 (`Gilberti Elphordensis super cantica'): 
<strong>Gilbert Foliot OSB [&dagger;1187/8], bishop of London
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>PL</i> 202. 1147&ndash;1304; Stegm&uuml;ller 
<i>Bibl.</i> 2490.

</li>

<li>
F39.11: 
<strong>Q. Aurelius Symmachus [<i>c</i>340&ndash;402]
</strong>
<br>
<strong><i>Epistolae</i></strong>
ed. O. Seeck, MGH <i>Auct. Antiq.</i> 6/1
(1883); Manitius, <i>HSS</i>, 195 no. 124.

</li>

<li>
F39.12 (`G. abbatis V. ad Anselmum archiepiscopum'): 
<strong>Gilbert Crispin OSB [&dagger;1117], abbot of Westminster
</strong>
<br>
<strong><i>Disputatio iudaei et christiani</i></strong>
<i>PL</i> 159. 1005&ndash;1036; ed. A. S. Abulafia
&amp; G. R. Evans, <i>Auctores Britannici medii aeui</i> 8 (1986), 8&ndash;53.

</li>

<li>
F39.13: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Scutum Bedae</i>, inc. `Miles igitur Christi mox in hanc lucem'</strong>
unpr.;
Bloomfield 3065, 3702, recording only one copy, Bodl. MS Bodley 630 (<i>SC</i> 1953)
(s. xv<sup>1</sup>, Syon), fols. 257v&ndash;265v.

</li>

<li>
F39.14: 
<strong>Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</strong>
<br>
<strong>Commentary on Martianus Capella</strong>
ed. C. E. Lutz (Leiden 1962&ndash;5).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>13 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
