{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/388" title="All Souls College">All Souls College</a>  &gt; Donation by William Goldwyn, William Denys and Richard Salter, 1482 &times; 1519</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College</h2><h3 class="medieval_catalogue_desc">UO11. Donation by William Goldwyn, William Denys and Richard Salter, 1482 &times; 1519</h3>
<em>21 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO11.*1 (`concilia Montagnana'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry406_anchor">Bartholomaeus Montagnana [1400&ndash;<i>c</i>1460]
</a>
<br>
<strong><i>Consilia medica</i>, <i>Antidotarius</i></strong>
&para;*pr. Padua: Petrus Maufer de
Maliferis, May 1476 (Goff M813), &para;*pr. Padua: Fridericus Iohannis Teutonicus,
June or July 1476 (Goff M814), &amp;c.

</li>

<li>
UO11.*1<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De uirtute centaureae</i>, tr. Nicholas of Reggio</strong>
pr. with Serapion,
Milan 1473 (Goff S467), &amp;c.

</li>

<li>
UO11.*2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2584_anchor">Petrus de Largelata [&dagger;1423]
</a>
<br>
<strong><i>Chirurgia</i></strong>
pr. Venice 1480 (Goff A951), &amp;c.; Thorndike/Kibre 1365.

</li>

<li>
UO11.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>Canon medicinae</i>, tr. Gerard of Cremona</strong>
pr. Milan 1473 (<i>GW</i> 3115,
<i>CIBN</i> A806), [Strassburg, not before 1473] (<i>GW</i> 3114, <i>CIBN</i> A807), &amp;c. 

</li>

<li>
UO11.5 (`breuiarium Constantini'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
<strong><i>Viaticum</i></strong>
pr. Venice 1505 &amp;c.; pr. Lyon 1515, 2. 144r&ndash;171v (with the 
works of Isaac Judaeus); pr. Basel 1536, 1. 1&ndash;167 (with the works of 
Constantinus); Thorndike/Kibre 187, 334, 1298, 1357. [M. F. Wack, 
<i>Lovesickness in the Middle Ages. The Viaticum and its Commentaries</i> 
(Philadelphia, PA, 1990).]

</li>

<li>
UO11.*6<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1127_anchor">Gerardus de Solo [early 14th cent.]
</a>
<br>
<strong><i>Directorium siue Introductorium iuuenum</i></strong>
pr. Lyon 1504; 
Thorndike/Kibre 1344.

</li>

<li>
UO11.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1701_anchor">John of Gaddesden [&dagger; by 1349]
</a>
<br>
<strong><i>Rosa medicinae</i></strong>
pr. Pavia 1492 (Goff J326), &amp;c.; Sharpe, <i>Latin 
Writers</i>, 252&ndash;3; Thorndike/Kibre 552, 577.

</li>

<li>
UO11.*8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong>Commentary on Hippocrates' <i>Aphorismata</i>, Latin tr.</strong>
pr. in the 
<i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 2678), &amp;c.; <i>HL</i> 39&ndash;40.

</li>

<li>
UO11.*9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry559_anchor">Cardinalis of Montpellier []
</a>
<br>
<strong>Commentary on Hippocrates' <i>Aphorismata</i></strong>
unpr.;
Thorndike/Kibre 266.

</li>

<li>
UO11.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3741_anchor">William Milverley [early 15th cent.]
</a>
<br>
<strong><i>Vniuersalia</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 792. 

</li>

<li>
UO11.11 = UO15.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1144_anchor">Gilbertus Anglicus [early 13th cent.]
</a>
<br>
<strong><i>Compendium seu Lilium medicinae</i></strong>
pr. Lyon 1510; Sharpe, <i>Latin 
Writers</i>, 144; Thorndike/Kibre 3, 881.

</li>

<li>
UO11.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1784_anchor">Iohannes Mesue (Masawaih al-Mardini) [&dagger;1015]
</a>
<br>
<strong><i>De consolatione medicinarum simplicium</i>, also titled <i>De simplicibus 
medicinis</i></strong>
pr. in his <i>Opera medicinalia</i>, [Venice 1471] (Goff M508), fols. 
1r&ndash;55v, &amp;c.; Thorndike/Kibre 415, 1493.

</li>

<li>
UO11.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3196_anchor"><i>Speculum humanae conscientiae</i></a>
unidentified.

<br>
</li>

<li>
UO11.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1701_anchor">John of Gaddesden [&dagger; by 1349]
</a>
<br>
<strong><i>Rosa medicinae</i></strong>
pr. Pavia 1492 (Goff J326), &amp;c.; Sharpe, <i>Latin 
Writers</i>, 252&ndash;3; Thorndike/Kibre 552, 577.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>21 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
