{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Exeter College</h2><h3 class="medieval_catalogue_desc">UO36. Gift of books by Henry Boner, 9 April 1427</h3>
<em>3 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO36.1: 
<strong><i>Authenticum</i> was a common medieval arrangement in nine <i>collationes</i> of
Justinian's <i>Nouellae</i></strong>
ed. G. E. Heimbach (Leipzig 1851); Warner &amp; Gilson,
BM <i>Cat. Royal</i>, 1. 355.

<br>
</li>

<li>
UO36.&dagger;2: 
<strong>Otto de Monteferrato [&dagger;1251], cardinal
</strong>
<br>
<strong><i>Constitutiones</i> (1237)</strong>
ed. Powicke &amp; Cheney, 2/1. 245&ndash;59.

</li>

<li>
UO36.*46: 
<strong>Guarinus Veronensis (Guarino Guarini Veronese) [1374&ndash;1460]
</strong>
<br>
<strong><i>Parallela ex Plutarcho</i></strong>
pr. with Leonardo Bruni's <i>De primo bello
punico</i>, Brescia 1498 (<i>GW</i> 5603).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
