{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K3. Catalogus, c. 1360</h3>
<em>61 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K3.1: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De conceptu uirginali et de originali peccato</i></strong>
<i>SAO</i> 2. 139&ndash;73.

</li>

<li>
K3.2 (`de ueritate et libero arbitrio et casu diaboli', conflated
   heading for the three dialogues): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De ueritate</i></strong>
<i>SAO</i> 1. 173&ndash;99.

</li>

<li>
K3.3: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De concordia praescientiae et praedestinationis</i></strong>
<i>SAO</i> 2. 245&ndash;88.

</li>

<li>
K3.4: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De libertate arbitrii</i></strong>
<i>SAO</i> 1. 207&ndash;26.

</li>

<li>
K3.5: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Cur Deus homo</i></strong>
<i>SAO</i> 2. 37&ndash;133.

</li>

<li>
K3.6 (`de grammatico'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Quomodo grammatica sit substancia et qualitas</i></strong>
<i>SAO</i> 1. 145&ndash;68.

</li>

<li>
K3.7: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De casu diaboli</i></strong>
<i>SAO</i> 1. 233&ndash;76.

</li>

<li>
K3.8: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De processione spiritus sancti</i></strong>
<i>SAO</i> 2. 175&ndash;219.

</li>

<li>
K3.9 (`contra insipientem', expl.): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Responsio Anselmi contra Gaunilonem</i></strong>
<i>SAO</i> 1. 130&ndash;39.

</li>

<li>
K3.10 (`contra respondentem pro insipiente'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Responsio Anselmi contra Gaunilonem</i></strong>
<i>SAO</i> 1. 130&ndash;39.

</li>

<li>
K3.11 (`disputationum pro insipiente lib. 1'): 
<strong>Gaunilo OSB [fl. 1080], monk of Marmoutier
</strong>
<br>
<strong><i>Liber pro insipiente</i></strong>
<i>SAO</i> 1. 125&ndash;9.  [Some copies probably
to be assumed where Anselm's <i>Responsio</i> is found.]

</li>

<li>
K3.12 (attrib. Anselm): 
<strong>Gilbert Crispin OSB [&dagger;1117], abbot of Westminster
</strong>
<br>
<strong><i>Disputatio iudaei et christiani</i></strong>
<i>PL</i> 159. 1005&ndash;1036; ed. A. S. Abulafia
&amp; G. R. Evans, <i>Auctores Britannici medii aeui</i> 8 (1986), 8&ndash;53.

</li>

<li>
K3.13: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Disputatio inter christianum et gentilem</i>, inc. `Maiestas diuina
cur ad dolores mortalis nature'</strong>
unpr.; copies, for example, in Eton 
College, MS 120 (s. xiv), Hereford Cathedral, MS O. I. 12 (s. xii<sup>1</sup>), 
and BL MS Royal 5 E. XIV (s. xiii).

</li>

<li>
K3.14: 
<strong><i>Similitudines Anselmi</i></strong>
<i>PL</i> 159. 605&ndash;708. This is much commoner than
the arguably authentic (but posthumously edited), <i>Liber Anselmi de 
humanis moribus</i>: ed. R. W. Southern &amp; F. S. Schmitt, <i>Memorials of St 
Anselm</i> (London 1969), 39&ndash;104. [See also Anselm ps., <i>De XIIII  
partibus beatitudinis</i>.]

<br>
</li>

<li>
K3.15: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De incarnatione Verbi</i></strong>
<i>SAO</i> 2. 1&ndash;35.

</li>

<li>
K3.16 (`de sacramento altaris'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Epistola ad Waleramnum de sacramentorum diuersitate</i></strong>
<i>SAO</i> 
2. 239&ndash;42. [See also Anselm ps. <i>De sacramento altaris</i>.]

</li>

<li>
K3.17: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De sacrificio azymi et fermentati</i></strong>
<i>SAO</i> 2. 221&ndash;32.

</li>

<li>
K3.18: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De beatitudine et miseria</i></strong>
<i>PL</i> 184. 353&ndash;64 (as Book III of
William of Saint-Thierry, <i>Epistola ad fratres de Monte Dei</i>). 

</li>

<li>
K3.*19 (`de eterna beatitudine', 2nd rec., = ed. pp. 274&ndash;88): 
<strong>Eadmer of Canterbury OSB [<i>c</i>1055&ndash;1124]
</strong>
<br>
<strong><i>De beatitudine caelestis patriae</i></strong>
ed. R. W. Southern &amp; F. S. Schmitt, 
<i>Memorials of St Anselm</i> (London 1969), 271&ndash;91.

</li>

<li>
K3.&lt;&gt;20 (`soliloquiorum de trinitate lib. 3'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Monologion</i></strong>
<i>SAO</i> 1. 13&ndash;87.

</li>

<li>
K3.21 (`monologion id est soliloquium'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Monologion</i></strong>
<i>SAO</i> 1. 13&ndash;87.

</li>

<li>
K3.22: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Proslogion</i></strong>
<i>SAO</i> 1. 93&ndash;122.

</li>

<li>
K3.23: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Meditatio</i> 3 <i>de redemptione humana</i></strong>
<i>SAO</i> 3. 84&ndash;91.

</li>

<li>
K3.24 (`de planctu uirginitatis amissae meditatio'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Meditatio</i> 2 <i>Deploratio uirginitatis male amissae</i></strong>
<i>SAO</i> 3. 80&ndash;83.

</li>

<li>
K3.25: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Meditatio</i> 1 <i>de timore mortis</i></strong>
<i>SAO</i> 3. 76&ndash;9.

</li>

<li>
K3.26 (`de passione Christi meditatio'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Oratio</i> 2 <i>ad Christum cum mens uult eius amore feruere</i></strong>
<i>SAO</i> 
3. 6&ndash;9.

</li>

<li>
K3.27: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Orationes</i> and <i>Meditationes</i></strong>
<i>SAO</i> 3. 3&ndash;75, 76&ndash;91, for authentic
works. Manuscript collections varied widely and usually comprised both authentic
and pseudonymous texts; for a 12th-cent. example, see T. H. Bestul, <i> A Durham 
Book of Devotions</i> (Toronto 1987). <i>PL</i> 158. 709&ndash;820 is a compilation based
on later medieval collections; these tend to be far more extensive than those
of the 12th cent. [See also Wilmart, <i>Auteurs spirituels</i>, 147&ndash;216.]

</li>

<li>
K3.28 (attrib. Anselm): 
<strong>Eadmer of Canterbury OSB [<i>c</i>1055&ndash;1124]
</strong>
<br>
<strong>(<i>ps.</i> Anselm), <i>De excellentia Virginis Mariae</i></strong>
<i>PL</i> 159. 557&ndash;80.

</li>

<li>
K3.29: 
<strong>Ralph d'Escures OSB [&dagger;1122]
</strong>
<br>
<strong>(<i>ps.</i> Anselm), <i>Homilia de assumptione Mariae</i> (<i>hom.</i> 9)</strong>
 <i>PL</i> 95. 1505&ndash;1508 and <i>PL</i> 158. 644&ndash;9; Schneyer <i>Rep.</i> 5. 17.

</li>

<li>
K3.30 (attrib. Anselm): 
<strong>Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</strong>
<br>
<strong><i>Sigillum sanctae Mariae</i></strong>
<i>PL</i> 172. 495&ndash;518; Stegm&uuml;ller <i>Bibl.</i> 3574.

</li>

<li>
K3.31: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>PL</i> 162. 1187&ndash;1228; Stegm&uuml;ller <i>Bibl.</i> 1358.

</li>

<li>
K3.*32 (attrib. Anselm): 
<strong>Eadmer of Canterbury OSB [<i>c</i>1055&ndash;1124]
</strong>
<br>
<strong><i>De conceptione beatae Virginis Mariae</i></strong>
<i>PL</i> 159. 301&ndash;318; ed. 
H. H. C. Thurston &amp; T. Slater, <i>Eadmeri Tractatus de conceptione</i> (Freiburg 
im Br. 1904).

</li>

<li>
K3.33 (attrib. Anselm): 
<strong>Ambrosius Autpertus [&dagger;781]
</strong>
<br>
<strong>(<i>ps.</i> Augustine), <i>Sermo de assumptione beatae Mariae</i></strong>
ed. 
R. Weber, <i>CCCM</i> 27B (1979) 1027&ndash;63; <i>CPPM</i> 1. 993.

</li>

<li>
K3.34 (`parabolarum siue prouerbiorum liber 1', attrib. Anselm): 
<strong>Galandus Regniacensis (Galland de Rigny) [early 12th cent.]
</strong>
<br>
<strong><i>Parabolarium</i></strong>
ed. J. Ch&acirc;tillon &amp; M. Dumontier, <i>RMAL</i> 
9 (1953) 1&ndash;152; ed. C. Friedlander, J. Leclercq &amp; G. Raciti, SChr 
378 (1992).

</li>

<li>
K3.35: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>SAO</i>, vols. 3&ndash;5; S. Niskanen, <i>The Letter Collections of
Anselm of Canterbury</i> (Turnhout 2011).

</li>

<li>
K3.36: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Si malum nihil est</i> (<i>ep.</i> 97)</strong>
<i>SAO</i> 3. 224&ndash;8.

</li>

<li>
K3.37 (inc. not identified): 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on the Psalms (<i>Parua glosatura</i>)</strong>
<i>GO</i> 2. 456&ndash;651; ed. Erasmus,
Freiburg 1533 (as the work of Haimo of Halberstadt), &amp;c.;<i>PL</i> 116. 193&ndash;696; 
Stegm&uuml;ller <i>Bibl.</i> 1357.

</li>

<li>
K3.38: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on the Pauline Epistles</strong>
<i>GO</i> 4. 271&ndash;449; Stegm&uuml;ller 
<i>Bibl.</i> 1359,2.

</li>

<li>
K3.39: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>dub.</i>]
<strong>`De septem uirtutibus'</strong>
unidentified.

</li>

<li>
K3.40: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>dub.</i>]
<strong>`De imaginibus'</strong>
unidentified. Perhaps Honorius Augustodunensis,
<i>Imago mundi</i>.

</li>

<li>
K3.41: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies</strong>
<i>PL</i> 158. 585&ndash;674; A. Wilmart in <i>AHDLMA</i> 2 (1927) 
5&ndash;29.

</li>

<li>
K3.42: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Epistola ad Waleramnum de sacramentorum diuersitate</i></strong>
<i>SAO</i> 
2. 239&ndash;42. [See also Anselm ps. <i>De sacramento altaris</i>.]

</li>

<li>
K3.43: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Sermo de dedicatione ecclesiae</i>, inc. `Quia sancta sollennia
dedicationis'</strong>
there is a copy so headed in Cambridge, Corpus Christi 
College, MS 316 (s. xiii<sup>in</sup>), fol. 194r.

</li>

<li>
K3.45 (inc.): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De corpore Christi</i>, inc. `Primum quidem hoc sacrificii'</strong>
 copies in Cambridge, Pembroke College, MS 1 (s. xiv, Bury), fols.
30r&ndash;(34), and BNF MS lat. 2375 (s. #), fols. 127r&ndash;134v.

</li>

<li>
K3.46 (attrib. Anselm): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De antichristo</i></strong>
ed. D. Verhelst, <i>CCCM</i> 45 (1976) 161&ndash;6. This
is one of the many versions of the work of Adso Deruensis, but the one 
that circulated most in England.

</li>

<li>
K3.47: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Liber Anselmi de humanis moribus</i></strong>
ed. R. W. Southern &amp; 
F. S. Schmitt, <i>Memorials of St Anselm</i> (London 1969), 39&ndash;93. The
work is thought to represent the posthumous editing of a draft by
Anselm. The later expanded text known as <i>Similitudines Anselmi</i> is
far commoner. 

</li>

<li>
K3.48: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Meditatio</i> 1 <i>de timore mortis</i></strong>
<i>SAO</i> 3. 76&ndash;9.

</li>

<li>
K3.49: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De uoluntate Dei</i>, inc. `Cum de uoluntate Dei'</strong>
an excerpt from 
Anselm of Laon, <i>Sententiae</i>, ed. F. Bliemetzrieder, BGPM 18 (1919), 
151&ndash;3.

</li>

<li>
K3.50: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De propria uoluntate</i>, part of the <i>Similitudines Anselmi</i></strong>
<i>PL</i> 
159. 618&ndash;20; ed. R. W. Southern &amp; F. S. Schmitt, <i>Memorials of St Anselm</i> 
(London 1969), 51&ndash;3.

</li>

<li>
K3.51: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on Matthew</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1359.

</li>

<li>
K3.52: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>(?), Commentary on Revelation</strong>
<i>PL</i> 162. 1499&ndash;1586; Stegm&uuml;ller 
<i>Bibl.</i> 1361.

</li>

<li>
K3.53 (`de scientia animae Christi', attrib. Anselm): 
<strong>Walter of Mortagne [&dagger;1174]
</strong>
<br>
<span class="biblio_block">
<i>LexMA</i> 8. 1998&ndash;9; L. Ott, <i>Untersuchungen zur theologischen Briefliteratur
der Fr&uuml;hscholastik</i>, BGPTM 39 (1937), 126&ndash;347.
</span>
<br>
<strong><i>Epistola ad Hugonem de S. Victore</i></strong>
ed. C. E. Bulaeus (Du Boulay), 
<i>Historia Vniuersitatis Parisiensis</i> (Paris 1665&ndash;73), 2. 64&ndash;5; <i>PL</i> 186. 
1052&ndash;4 (as William). 

</li>

<li>
K3.54: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De motione altaris</i></strong>
ed. R. W. Southern &amp; F. S. Schmitt, 
<i>Memorials of St Anselm</i> (London 1969), 321&ndash;3.

</li>

<li>
K3.55: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies</strong>
<i>PL</i> 158. 585&ndash;674; A. Wilmart in <i>AHDLMA</i> 2 (1927) 
5&ndash;29.

</li>

<li>
K3.56: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De incarnatione Verbi</i></strong>
<i>SAO</i> 2. 1&ndash;35.

</li>

<li>
K3.57: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XIIII partibus beatitudinis</i>, adapted from <i>Similitudines Anselmi</i>,
cc. 47&ndash;71, and widely circulated as a separate text</strong>
<i>PL</i> 159. 626&ndash;43. [The
title might also be confused with <i>De VII beatitudinibus</i>.]

</li>

<li>
K3.58: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>dub.</i>]
<strong>`De uersibus heroicis'</strong>
unidentified.

</li>

<li>
K3.59: 
<strong>Alexander of Canterbury OSB [early 12th cent.], monk of Christ Church, 
Canterbury
</strong>
<br>
<strong><i>Liber ex dictis beati Anselmi</i></strong>
ed. R. W. Southern &amp; F. S. Schmitt, 
<i>Memorials of St Anselm</i> (London 1969), 108&ndash;95. [<i>De VII beatitudinibus</i> is 
the usual title of c. 5 (inc. `Queritur inter homines'), circulating 
separately, Bloomfield 4509; this title may also be used for <i>ps.</i> Anselm, 
<i>De XIV partibus beatitudinis</i>.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>61 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
