{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/36" title="Abingdon">Abingdon</a>  &gt; Books commissioned by Faricius (1100-1117)</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Abingdon</h2><h3 class="medieval_catalogue_desc">B2. Books commissioned by Faricius (1100-1117)</h3>
<em>14 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B2.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
B2.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
B2.&dagger;3 (`omelias s. Gregorii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
B2.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
B2.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
[<i>dub.</i>]
<strong>`Expositiones super Psalterium'</strong>
unidentified.

</li>

<li>
B2.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
[<i>dub.</i>]
<strong>`Super uetus testamentum'</strong>
unidentified.

</li>

<li>
B2.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1261_anchor">Hegesippus is the common medieval name for the Latin <i>Historia Iosephi de
bello iudaico et excidio urbis Hierosolymitanae</i></a>
ed. V. Ussani, <i>CSEL</i> 66/1 
(1932).

<br>
</li>

<li>
B2.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De officiis ministrorum</i></strong>
<i>CPL</i> 144.

</li>

<li>
B2.9a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
[<i>dub.</i>]
<strong>`Super epistolas Pauli'</strong>
see note on B24.41.

</li>

<li>
B2.9b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De reparatione lapsi</i>, tr. ? Annianus</strong>
<i>CPG</i> 4305; ed. J. Dumortier, SChr 117 (1966) 241&ndash;322.

</li>

<li>
B2.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>Homiliae euangelii</i></strong>
<i>CPL</i> 1367; ed. D. Hurst, <i>CCSL</i> 122 (1955) 
1&ndash;378.

</li>

<li>
B2.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry714_anchor">Cyprian of Carthage [&dagger;258], bishop of Carthage
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 50; ed. G. F. Diercks, <i>CCSL</i> 3B, 3C (1994&ndash;5). Copies
include most of the shorter treatises among the letters; see Rouse &amp; Rouse,
<i>Registrum</i>, 145.

</li>

<li>
B2.&dagger;12 (`Cassianum super psalterium'), B13.*20/30/55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong><i>Expositio Psalmorum</i></strong>
<i>CPL</i> 900; pr. Basel 1491 (<i>GW</i> 6163); 
ed. M. Adriaen, <i>CCSL</i> 97&ndash;8 (1958); ed. P. Stoppacci (Florence 2012&ndash;).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>14 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
