{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K204. Catalogus, c. 1360</h3>
<em>13 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K204.1&ndash;5, 7, 15: 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong>&lt;&gt;, works reported from Jerome, &sect; 11.
</strong>
</li>

<li>
K204.6 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De pentecoste et spiritu sancto</i> (<i>or.</i> 4)</strong>
ed. A. Engelbrecht, <i>CSEL</i> 46
(1910) 141&ndash;63.

</li>

<li>
K204.8 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>Apologeticus</i> (<i>or.</i> 1)</strong>
 &rarr; Gregory of Nazianzus, <i>Orationes</i>.]

ed. A. Engelbrecht, <i>CSEL</i>
46 (1910) 3&ndash;6, 7&ndash;84. [Where the eight <i>orationes</i> are not itemized, this
title is likely to stand for a set; 
</li>

<li>
K204.9 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De epiphaniis siue De natiuitate Christi</i> (<i>or.</i> 2)</strong>
ed. A. Engelbrecht,
<i>CSEL</i> 46 (1910) 87&ndash;108.

</li>

<li>
K204.10 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De reconciliacione monachorum</i> (<i>or.</i> 7)</strong>
ed. A. Engelbrecht, <i>CSEL</i> 46
(1910) 209&ndash;33.

</li>

<li>
K204.11 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De luminibus siue secundis epiphaniis</i> (<i>or.</i> 3)</strong>
ed. A. Engelbrecht,
<i>CSEL</i> 46 (1910) 111&ndash;37.

</li>

<li>
K204.12 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De semetipso de agro reuerso</i> (<i>or.</i> 5)</strong>
ed. A. Engelbrecht, <i>CSEL</i> 46
(1910) 167&ndash;89.

</li>

<li>
K204.13 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De uastatione grandinis</i> (<i>or.</i> 8)</strong>
ed. A. Engelbrecht, <i>CSEL</i> 46 
(1910) 237&ndash;61.

</li>

<li>
K204.14 (2 copies): 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>De dictis Ieremiae</i> (<i>or.</i> 6)</strong>
ed. A. Engelbrecht, <i>CSEL</i> 46 (1910) 193&ndash;206.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>13 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
