{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/68" title="Monk Bretton">Monk Bretton</a>  &gt; Inventory of books, 1558</p>{% endif %}<h2>BENEDICTINES: THE SHORTER CATALOGUES: Monk Bretton</h2><h3 class="medieval_catalogue_desc">B55. Inventory of books, 1558</h3>
<em>160 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B55.&para;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1422_anchor">Hugh of Saint-Cher OP [&dagger;1263]
</a>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
B55.&para;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2121_anchor">Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</a>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
B55.&para;4 (`diuus A. super epistolas Paulinas collectore Venerabili
   Beda'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry996_anchor">Florus of Lyon [&dagger; <i>c</i>860]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
B55.&para;5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1486_anchor">Diego Perez de Valencia OESA [<i>c</i>1408&ndash;1490]
</a>
<br>
<strong>Commentary on the Psalms</strong>
pr. Valencia 1484 (Goff P276), &amp;c.; 
Stegm&uuml;ller <i>Bibl.</i> 3983.  [Sometimes confused with Thomas Waleys, <i>Expositio 
super duos nocturnos Psalterii</i>

</li>

<li>
B55.&para;6 (`sermones thesauri noui de tempore'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2605_anchor">Petrus de Palude OP [1270&ndash;1342]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Thesaurus nouus de tempore</i></strong>
pr. Strassburg 1483 (Goff P519), &amp;c.; 
Schneyer <i>Rep.</i> 5. 525&ndash;37; Kaeppeli 3302.

</li>

<li>
B55.&para;7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3112_anchor"><i>Sermones Meffreth, alias Hortulus reginae de tempore</i></a>
pr. [Basel
not after 1483] (Goff M440), &amp;c.

<br>
</li>

<li>
B55.&para;8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1799_anchor">Johann Nider OP [1380&ndash;1438]
</a>
<br>
<strong><i>Aurei sermones, totius anni, de tempore et de sanctis cum 
quadragesimali</i></strong>
pr. [Esslingen 1476] (Hain 11799), &amp;c.; Kaeppeli 2548.

</li>

<li>
B55.&para;9, B55.&para;91.: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2467_anchor"><i>Parati sermones de tempore et de sanctis</i></a>
pr. Cologne [<i>c.</i> 1480] 
(Goff P92), &amp;c.; Schneyer <i>Rep.</i> 4. 523&ndash;48.

<br>
</li>

<li>
B55.&para;10 (temp, 2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3485_anchor">Vincent Ferrer OP [1350&ndash;1419]
</a>
<br>
<strong><i>Sermones de tempore et de sanctis</i></strong>
pr. Cologne 1485 (<i>GW</i> 9835), &amp;c.;
<i>Sermones de sanctis</i> also separately, pr. Milan 1488 (<i>GW</i> 9834), &amp;c.;
Kaeppeli 4027.

</li>

<li>
B55.&para;11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry676_anchor">Conrad of Brundelsheim (`Soccus') [&dagger;1321]
</a>
<br>
<strong><i>Sermones de sanctis</i></strong>
pr. Deventer [1477/79] (<i>GW</i> 7413), &amp;c.; Schneyer
<i>Rep.</i> 1. 738&ndash;47.

</li>

<li>
B55.&para;12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2515_anchor">Pelb&aacute;rt Temesv&aacute;ri [<i>c</i>1435&ndash;1502]
</a>
<br>
<strong><i>Sermones pomerii de sanctis</i></strong>
pr. Hagenau 1499 (Goff P250), &amp;c.

</li>

<li>
B55.&para;13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry135_anchor">Alexander Carpenter [fl. 1430]
</a>
<br>
<strong><i>Destructorium uitiorum</i></strong>
pr. Cologne 1480 (<i>GW</i> 865), &amp;c.;
Bloomfield 3612.

</li>

<li>
B55.&para;14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1799_anchor">Johann Nider OP [1380&ndash;1438]
</a>
<br>
<strong><i>Expositio decalogi siue Praeceptorium diuinae legis</i></strong>
pr. [Basel <i>c.</i>
1472] (Goff N196), [Cologne, not after 1472] (Goff N197), &amp;c.; Kaeppeli 2540.

</li>

<li>
B55.&para;15a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B55.&para;15b (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry913_anchor">Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</a>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
B55.&para;16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry231_anchor">Angelus de Clavasio (Angelo Carletti da Chivasso) OFM Obs [1411&ndash;1495]
</a>
<br>
<strong><i>Summa angelica de casibus conscientiae</i></strong>
pr. Chivasso 1486 (<i>GW</i> 1923),
&amp;c.

</li>

<li>
B55.&para;17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1386_anchor"><i>Homiliarius doctorum</i>, a collection of sermons from the Fathers, attributed
in the editions, sometimes to Paul the Deacon, sometimes to Alcuin</a>
pr. 
[southern Netherlands <i>c.</i> 1475] (Goff H314), &amp;c.

<br>
</li>

<li>
B55.&para;18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Catena aurea in quatuor euangelia</i></strong>
ed. A. Guarienti
(Turin 1953); Stegm&uuml;ller <i>Bibl.</i> 8044&ndash;7; Glorieux <i>R&eacute;p.</i> 14ae, 14ak,
14ap, 14aq.

</li>

<li>
B55.&para;19 (`opus regale de persecutionibus ecclesie', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1907_anchor">Giovanni Lodovico Vivaldi di Mondovi OP [early 16th cent.]
</a>
<br>
<strong><i>Opus regale</i></strong>
pr. [Saluzzo] 1507, &amp;c.; &para;*pr. Paris 1511 (Moreau, 
2. 218). [The book is a collection of treatises, including one <i>Tractatus de 
duodecim persecutionibus ecclesiae Dei</i>.]

</li>

<li>
B55.&para;20 (`.&nbsp;. dominicales et quadragesimales'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2410_anchor">Oliuerius Maillardus OFM Obs [&dagger;1502]
</a>
<br>
<strong><i>Sermones dominicales</i></strong>
pr. Paris 1498 (Goff M75), &amp;c.; pr. with
his <i>Sermones de aduentu</i>, Lyon 1498 (Goff M72), &amp;c.

</li>

<li>
B55.&para;21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry237_anchor"><i>Anima fidelis</i></a>
pr. Paris <i>c.</i>1485 (<i>GW</i> 1985), &amp;c.

<br>
</li>

<li>
B55.&para;22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry503_anchor">Birgitta of Sweden [<i>c</i>1303&ndash;1373]
</a>
<br>
<strong><i>Reuelationes</i></strong>
pr. [L&uuml;beck] 1492 (<i>GW</i> 4391); pr. Rome 1628; ed. 
B. Bergh &amp; others (Uppsala 1967&ndash;2002). [The Syon copy, SS1.*797, is 
augmented with related texts; see note ad loc.]

</li>

<li>
B55.&para;23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry281_anchor">Antonius Rampigollis OESA [early 15th cent.]
</a>
<br>
<strong><i>Figurae bibliorum siue Compendium morale</i></strong>
pr. Milan 1494 (Goff 
R23), &amp;c.; Bloomfield 1312.

</li>

<li>
B55.&para;24 (attrib. Gerson): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3370_anchor">Thomas &agrave; Kempis [1379&ndash;1471]
</a>
<br>
<strong><i>Imitatio Christi</i></strong>
ed. C. Hirsche (Berlin 1891); ed. T.
Lupo, Storia e attualit&agrave; 6 (Vatican City 1982).

</li>

<li>
B55.&para;25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2372_anchor"><i>Noua legenda Anglie</i></a>
pr. by W. de Worde, London 1516 (<i>STC</i> 4601); ed. 
C. Horstman, <i>Noua legenda Anglie</i> (Oxford 1901).

<br>
</li>

<li>
B55.&para;26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1502_anchor">Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</a>
<br>
<strong><i>Legenda aurea</i>, English tr. by William Caxton</strong>
pr. by W. Caxton, 
Westminster 1483 (<i>STC</i> 24873), &amp;c.

</li>

<li>
B55.&para;27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry982_anchor"><i>Fleur des commandements</i>, Eng. tr. by Andrew Chertsey as <i>Flowr of the 
Commaundmentes of God</i></a>
pr. by W. de Worde, London 1510 &amp; 1521 (<i>STC</i> 
23876&ndash;7).

<br>
</li>

<li>
B55.&para;28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3666_anchor">William Bonde OSS [&dagger;1530], brother of Syon abbey
</a>
<br>
<strong><i>Pylgrimage of Perfection</i></strong>
pr. by R. Pynson, London 1526 (<i>STC</i> 3277),
&amp;c.

</li>

<li>
B55.&para;29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1142_anchor"><i>Gesta Romanorum cum applicationibus moralizatis</i></a>
pr. [Cologne <i>c.</i> 
1473] (<i>GW</i> 10082), &amp;c.; ed. H. Oesterley (Berlin 1872 / repr. Hildesheim 
1963); W. R&ouml;ll in <i>MLJ</i> 21 (1986) 208&ndash;229; B. Weiske, <i>Gesta Romanorum</i> 
(T&uuml;bingen 1992).

<br>
</li>

<li>
B55.&para;30a (`Methodius'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2248_anchor">Methodius [], bishop of Olympus
</a>
<br>
[<i>pseud.</i>]
<strong><i>De initio et fine saeculi</i></strong>
the form found in most English copies 
is unpr.; the oldest Latin version, ed. W. J. Aerts &amp; G. A. A. Kortekaas,
<i>Die Apokalypse des Pseudo-Methodius</i> (Louvain 1998); other versions, pr. 
in <i>Maxima bibliotheca ueterum patrum</i> (Lyon 1677), 3. 727&ndash;35, and ed. 
E. Sackur, <i>Sibyllinische Texte und Forschungen</i> (Halle 1898), 61&ndash;96.

</li>

<li>
B55.&para;30b (`Mawndewall', language not identified): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1770_anchor">`Sir John Mandeville'
</a>
<br>
<strong><i>Voyage d'outre mer</i></strong>
ed. G. F. Warner, Roxburghe Club 119 (1889);
Dean 341.

</li>

<li>
B55.&para;31 (`cronica cronicarum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1257_anchor">Hartmann Schedel [1410&ndash;1485]
</a>
<br>
<strong><i>Liber cronicarum</i></strong>
pr. N&uuml;rnberg 1493 (Goff S307);
R. J. Schoeck in <i>BIHR</i> 35 (1962) 84&ndash;6.  Or the French abridgement, <i>Cronica
cronicarum abbrege</i>: pr. Paris 1521, Paris 1532.

</li>

<li>
B55.&para;32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
B55.&para;33 (`opera', ?5 parts bound as 2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
B55.&para;34: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2541_anchor">Pierre Bersuire [<i>c</i>1290&ndash;1362]
</a>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Repertorium morale siue Dictionarius biblicus</i></strong>
pr. N&uuml;rnberg 1489 
(<i>GW</i> 3866), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 6427.

</li>

<li>
B55.&para;35: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
B55.&para;35b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1016_anchor">Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</a>
<br>
<span class="biblio_block">
B. Roth, <i>Franz von Mayronis OFM. Sein Leben, seine Werke, seine Lehre 
vom Formalunterschied in Gott</i>, Franziskanische Forschungen 3 (1936);
H. Rossmann, <i>Die Hierarchie der Welt: Gestalt und System des Franz
von Meyronnes OFM mit besonderer Ber&uuml;cksichtigung seiner 
Sch&ouml;pfungslehre</i>, Franziskanische Forschungen 23 (1972).
</span>
<br>
<strong><i>Veritates</i></strong>
pr. Venice 1520.

</li>

<li>
B55.&para;36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
B55.&para;38 (`N. de Gorran super epp. Paulinas'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2629_anchor">Peter of Tarentaise OP (later Innocent V) [<i>c</i>1224&ndash;1276, <i>sedit</i> 1276]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 
6868&ndash;81 (first recension); Glorieux <i>R&eacute;p.</i> 17d. Or the second 
recension (<i>ps.</i> Nicholaus de Gorran): pr. Cologne 1478 (Goff N103) (as 
Gorran); Stegm&uuml;ller <i>Bibl.</i> 5800, 6882&ndash;95. [This work is not really treated 
by Kaeppeli 3339.] 

</li>

<li>
B55.&para;39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry528_anchor">Bruno [<i>c</i>1032&ndash;1101]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1509; <i>PL</i> 153. 11&ndash;566; 
Stegm&uuml;ller <i>Bibl.</i> 1817&ndash;30.

</li>

<li>
B55.&para;40: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2121_anchor">Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</a>
<br>
<strong>Commentary on the Psalms</strong>
pr. [Speyer 1491] (Goff L336), &amp;c.; pr. 
<i>Ludolphus de Saxonia. Ennaratio in Psalmos siue Expositio super Psalterium</i> 
(Montreuil-sur-Mer 1891); Stegm&uuml;ller <i>Bibl.</i> 5428.

</li>

<li>
B55.&para;42 (`sermones Discipuli'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1725_anchor">Iohannes Herolt OP [&dagger;1468]
</a>
<br>
<strong><i>Sermones Discipuli</i></strong>
pr. Cologne 1474 (<i>GW</i> 12340), &amp;c.; Kaeppeli 2387.

</li>

<li>
B55.&para;43: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2441_anchor">Osualdus de Lasco [fl. 1500]
</a>
<br>
<strong>(attrib.), <i>Biga salutis</i></strong>
pr. Hagenau 1498 (Hain 9052), &amp;c. Always 
published anonymously, <i>Biga salutis</i> has been traditionally attributed
to Michael of Hungary; <i>ISTC</i> now assigns authorship to Osualdus de Lasco.

</li>

<li>
B55.&para;44: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2333_anchor">Nicolas Denyse OFM Obs [&dagger;1509]
</a>
<br>
<strong><i>Sermones</i></strong>
pr. Rouen 1507 &amp;c.

</li>

<li>
B55.&para;45: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1292_anchor">Henricus de Gorinchem [&dagger;1431]
</a>
<br>
<strong><i>Conclusiones</i> on the Lombard's Sentences</strong>
pr. alone, [Reutlingen
<i>c.</i> 1480] (Goff H21a), [Cologne <i>c.</i> 1482] (Goff H21), &amp;c.; pr. with 
the Lombard's text, Basel 1487 (Goff P490), &amp;c.; Stegm&uuml;ller <i>Sent.</i> 321.

</li>

<li>
B55.&para;46: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
B55.&para;49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry460_anchor">Bernard of Parma [&dagger;1266]
</a>
<br>
<strong><i>Casus longi super Decretales</i></strong>
pr. Paris 1475 (<i>GW</i> 4092), &amp;c.; 
Schulte, 2. 115&ndash;16.

</li>

<li>
B55.&para;50: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2870_anchor"><i>Regula S. Benedicti</i></a>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
B55.&para;52 (`de profectu religiosorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry733_anchor">David of Augsburg OFM [<i>c</i>1200&ndash;1272]
</a>
<br>
<strong><i>De exterioris et interioris hominis compositione</i></strong>
pr. 
Quaracchi 1899; Distelbrink 85; Bloomfield 4155. [Distelbrink tabulates
the titles of the several parts.]

</li>

<li>
B55.&para;53: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1226_anchor">Guido Iuvenalis (Gui Jouennaux) [&dagger;1507]
</a>
<br>
<strong><i>Vindicta seu Defensio monasticae reformationis</i></strong>
pr. [Paris, after 
1500] (Goff V295), &amp;c.

</li>

<li>
B55.&para;54: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry691_anchor"><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</a>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
B55.&para;55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1471_anchor">Iacobus de Gruytrode [&dagger;1472]
</a>
<br>
<strong>(attrib.), <i>Lauacrum conscientiae omnium sacerdotum</i></strong>
 pr. [N&uuml;rnberg 1487&ndash;93] (Goff L96), &amp;c.; Bloomfield 2902.

</li>

<li>
B55.&para;56: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry430_anchor">Benedict XII (Jacques Fournier OCist) [<i>c</i>1285&ndash;1342, <i>sedit</i> 1334&ndash;1342]
</a>
<br>
<strong><i>Constitutiones ad monachos nigros</i> (`<i>Summi magistri</i>')</strong>
ed.
D. Wilkins, <i>Concilia Magnae Britanniae et Hiberniae</i> (London 1737), 2. 
585&ndash;613. The declaratory bull `Dudum pro bono' circulates with the
constitutions.

</li>

<li>
B55.&para;57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
B55.&para;58: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3634_anchor">Walter Hilton OSA [&dagger;1396]
</a>
<br>
<strong><i>Scala perfectionis</i></strong>
pr. by W. de Worde, Westminster 1494 (<i>STC</i> 
14042), &amp;c.; ed. S. S. Hussey &amp; M. G. Sargent, EETS (in preparation).

</li>

<li>
B55.&para;59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/K/#entry1980_anchor"><i>Kalendar of Shepherdes</i>, tr. from <i>Le compost et Kalendrier des 
bergeres</i></a>
pr. by R. Pynson, London 1506 (<i>STC</i> 22408), &amp;c.

<br>
</li>

<li>
B55.&para;60 (gospels): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1422_anchor">Hugh of Saint-Cher OP [&dagger;1263]
</a>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
B55.&para;61 (`thomus tertius, collectanea Venerabilis Bede  presbiteri 
   epistolas diui Pauli continens', Paris 1522): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry996_anchor">Florus of Lyon [&dagger; <i>c</i>860]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
B55.&para;62: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
<strong><i>De fide orthodoxa</i>, tr. Jacques Lef&egrave;vre d'&Eacute;taples</strong>
pr. Paris 
1507 &amp;c.

</li>

<li>
B55.&para;63: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong>Commentary on Wisdom</strong>
pr. [Cologne, not after 1476] (Goff H288), 
&amp;c.; Kaeppeli 3497; Stegm&uuml;ller <i>Bibl.</i> 7416.

</li>

<li>
B55.&para;64: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2351_anchor">Nicholaus de Orbellis OFM [&dagger;1472/75]
</a>
<br>
<strong>Compendium on the Lombard's Sentences</strong>
pr. Paris 1498 (Goff O77), &amp;c.; 
Stegm&uuml;ller <i>Sent.</i> 591.

</li>

<li>
B55.&para;65: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3798_anchor">Guillaume de Vorrillon OFM [&dagger;1463]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Lyon 1489 &amp;c.; Stegm&uuml;ller 
<i>Sent.</i> 304.

</li>

<li>
B55.&para;66: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1047_anchor">Gabriel Barletta OP [&dagger; after 1481]
</a>
<br>
<strong><i>Sermones quadragesimales et de sanctis</i></strong>
pr. Brescia 1497/98 (<i>GW</i> 
3400), &amp;c.; Kaeppeli 1173.

</li>

<li>
B55.&para;&dagger;67 (`postillationes super eu. et ep. per uniuersum annum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2045_anchor"><i>Libellus militantis. Postillationes super epistolas et euangelia que per 
uniuersum annum recitantur</i></a>
pr. Strassburg 1536 &amp;c.

<br>
</li>

<li>
B55.&para;68: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2378_anchor"><i>Nouum testamentum latine</i>, Latin tr. by Erasmus</a>
pr. Basel 1519 &amp;c.

<br>
</li>

<li>
B55.&para;69 (`quodlibetales questiones'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong><i>Quaestiones de quolibet</i></strong>
<i>Quodl.</i> 7&ndash;11, <i>STO</i> 25/1; <i>Quodl.</i> 
1&ndash;3, 6, 4&ndash;5, and 12, <i>STO</i> 25/2 (1996); ed. R. M. Spiazzi (Turin 1949); 
Glorieux <i>R&eacute;p.</i> 14bg &amp;c.

</li>

<li>
B55.&para;70: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry116_anchor">Alcuin [<i>c</i>735&ndash;804]
</a>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
B55.&para;71: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1660_anchor">Iohannes Despauterius [<i>c</i>1460&ndash;1520]
</a>
<br>
<strong><i>Grammatica</i></strong>
pr. Cologne 1525, Lyon 1528 &amp;c.

</li>

<li>
B55.&para;72: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2614_anchor">Petrus de Ponte [&dagger; after 1539]
</a>
<br>
<strong><i>Grammaticae artis Isagoge</i></strong>
pr. Paris 1514 &amp;c.

</li>

<li>
B55.&para;73: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3718_anchor">William Horman [&dagger;1535]
</a>
<br>
<strong><i>Vulgaria</i></strong>
pr. London, 1519 &amp; 1530; ed. M. R. James, Roxburghe Club 
184 (1926).

</li>

<li>
B55.&para;74: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Familiarium colloquiorum formulae</i></strong>
pr. N&uuml;rnberg 1519 &amp;c.

</li>

<li>
B55.&para;75: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2121_anchor">Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</a>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
B55.&para;76: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry252_anchor">Antoninus Florentinus (Antonino Pierozzi) OP [1389&ndash;1459], archbishop of 
Florence
</a>
<br>
<strong><i>Chronicon</i></strong>
pr. N&uuml;rnberg 1484 (<i>GW</i> 2072), &amp;c.; Kaeppeli 240.

</li>

<li>
B55.&para;77 (attrib. Iohannes Chemensis): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry473_anchor">Berthold P&uuml;rstinger [1465&ndash;1543], bishop of Chiemsee
</a>
<br>
<strong><i>Onus ecclesiae</i></strong>
pr. Landshut 1524, Augsburg 1531 &amp;c.

</li>

<li>
B55.&para;80: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1777_anchor">Iohannes Mauburnus (Jean Mombaer) [&dagger;1503]
</a>
<br>
<strong><i>Rosetum exercitiorum spiritualium</i></strong>
pr. [Zwolle] 1494 (Goff M376), &amp;c.

</li>

<li>
B55.&para;81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
B55.&para;82: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B55.&para;83a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
B55.&para;83b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De officiis ministrorum</i></strong>
<i>CPL</i> 144.

</li>

<li>
B55.&para;84: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3368_anchor">Thomas Hibernicus [14th cent.]
</a>
<br>
<strong><i>Manipulus florum</i></strong>
pr. Piacenza 1483 &amp;c. Discussed by 
R. H. &amp; M. A. Rouse, <i>Preachers, Florilegia, and Sermons: Studies on the 
Manipulus Florum of Thomas of Ireland</i> (Toronto 1979).

</li>

<li>
B55.&para;85 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry815_anchor">Dominicus Nannus Mirabellius [fl. 1500]
</a>
<br>
<strong><i>Polyanthea</i></strong>
pr. Savona 1503 &amp;c.

</li>

<li>
B55.&para;86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
B55.&para;87: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2319_anchor">Nicholaus de Blony [late 15th cent.]
</a>
<br>
<strong><i>Sermones de tempore et de sanctis siue Viridarius</i></strong>
pr. Strassburg 
1494 (Goff N91), &amp;c.

</li>

<li>
B55.&para;88: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry253_anchor">Antoninus Gislandius OP [fl. 1500]
</a>
<br>
<strong><i>Opus aureum . . super euangeliis totius anni</i></strong>
pr. Lyon 1508.

</li>

<li>
B55.&para;89 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3757_anchor">Willelmus Parisiensis OP [&dagger; <i>c</i>1485/6]
</a>
<br>
<strong><i>Postilla siue Expositio epistolarum et euangeliorum</i></strong>
pr. 
[?Germany, not before 1474] (<i>GW</i> 11921, Goff G642), &amp;c. <i>GW</i> records 
over one hundred early editions; these usually carry the attribution to 
Guillelmus, Guillermus, Guillerinus, &amp;c. The work is an elaboration of 
that of Iohannes Herolt (`Discipulus') (Kaeppeli 2393&ndash;4), and its 
authorship is discussed in <i>GW</i> 10. 426&ndash;30.

</li>

<li>
B55.&para;90: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. <i>Doctoris ecstatici D. Dionysii
Cartusiani opera omnia</i> (Montreuil/Tournai 1896&ndash;1935), 13. 1&ndash;531; Stegm&uuml;ller
<i>Bibl.</i> 2127&ndash;40.

</li>

<li>
B55.&para;92: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2515_anchor">Pelb&aacute;rt Temesv&aacute;ri [<i>c</i>1435&ndash;1502]
</a>
<br>
<strong><i>Stellarium coronae benedictae Mariae uirginis</i></strong>
pr. Basel [<i>c.</i> 1498]
(Goff P257), Hagenau 1498 (Goff P258), &amp;c.

</li>

<li>
B55.&para;93a (`dictionarius pauperum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2324_anchor">Nicholas de Byard OP [fl. 1250]
</a>
<br>
<strong><i>Summa de abstinentia</i></strong>
pr. Paris [<i>c.</i> 1495&ndash;7] (<i>ISTC</i>), &amp;c.; 
Kaeppeli 3046; Bloomfield 1841.

</li>

<li>
B55.&para;93b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry281_anchor">Antonius Rampigollis OESA [early 15th cent.]
</a>
<br>
<strong><i>Figurae bibliorum siue Compendium morale</i></strong>
pr. Milan 1494 (Goff 
R23), &amp;c.; Bloomfield 1312.

</li>

<li>
B55.&para;94: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1953_anchor">Iudocus Badius Ascensius (Josse Bade) [1462&ndash;1535]
</a>
<br>
<strong><i>Enchiridion pietatis amatorum</i></strong>
pr. Paris 1521 (Moreau, 3. 97).

</li>

<li>
B55.&para;95a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1420_anchor">Hugo Ripelinus OP [&dagger; <i>c</i>1300]
</a>
<br>
<strong><i>Compendium ueritatis theologicae</i></strong>
ed. A. Borgnet, <i>Alberti
Magni opera omnia</i> (Paris 1890&ndash;99), 34. 1&ndash;270; Stegm&uuml;ller <i>Sent.</i> 368; 
Kaeppeli 1982.

</li>

<li>
B55.&para;95b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Paradisus animae</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera omnia</i>
(Paris 1890&ndash;99), 37. 447&ndash;520; Bloomfield 5875; Glorieux <i>R&eacute;p.</i> 6cq.

</li>

<li>
B55.&para;95c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
[<i>app.</i>]
<strong><i>Transitus beati Hieronymi</i></strong>
see note.

</li>

<li>
B55.&para;95d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
B55.&para;96: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry231_anchor">Angelus de Clavasio (Angelo Carletti da Chivasso) OFM Obs [1411&ndash;1495]
</a>
<br>
<strong><i>Summa angelica de casibus conscientiae</i></strong>
pr. Chivasso 1486 (<i>GW</i> 1923),
&amp;c.

</li>

<li>
B55.&para;97: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1202_anchor">Gregor Reisch [&dagger;1525]
</a>
<br>
<strong><i>Margarita philosophica</i></strong>
pr. Freiburg-im-Breisgau 1504 (Adams 
R333), &amp;c.

</li>

<li>
B55.&para;98: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3005_anchor">Rodericus Zamorensis [1404&ndash;1470]
</a>
<br>
<strong><i>Speculum uitae humanae</i></strong>
pr. Rome 1468 (Goff R214), &amp;c.

</li>

<li>
B55.&para;100: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B55.&para;101 (I&ndash;IV): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
B55.&para;102: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2333_anchor">Nicolas Denyse OFM Obs [&dagger;1509]
</a>
<br>
<strong><i>Resolutio theologorum</i></strong>
pr. Rouen 1504 &amp;c.; Stegm&uuml;ller <i>Sent.</i> 589.

</li>

<li>
B55.&para;103: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
B55.&para;104: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry196_anchor">Ambrosius Calepinus (Ambrogio Calepino) [<i>c</i>1435&ndash;1509]
</a>
<br>
<strong><i>Dictionum Latinarum et Graecarum interpres</i></strong>
pr. Reggio d'Emilia 
1502 &amp;c.

</li>

<li>
B55.&para;105: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1774_anchor">Iohannes Marchesinus (Giovanni Marchesini) OFM [fl. 1300]
</a>
<br>
<strong><i>Mammotrectus super Bibliam</i></strong>
pr. Mainz 1470 (Goff M232), &amp;c.; 
Stegm&uuml;ller <i>Bibl.</i> 4776&ndash;7.

</li>

<li>
B55.&para;106: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1884_anchor">Iohannes de Tambaco (Johann von Dambach) OP [1288&ndash;1372]
</a>
<br>
<strong><i>Consolatio theologiae</i></strong>
pr. Mainz [<i>c.</i> 1470/75] (Goff J435), 
&amp;c.; Kaeppeli 2256.

</li>

<li>
B55.&para;107: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1907_anchor">Giovanni Lodovico Vivaldi di Mondovi OP [early 16th cent.]
</a>
<br>
<strong><i>Aureum opus de ueritate contritionis</i></strong>
pr. Saluzzo 1503 &amp;c.; &para;*pr. 
Paris 1514 (Moreau, 2. 995).

</li>

<li>
B55.&para;108a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1471_anchor">Iacobus de Gruytrode [&dagger;1472]
</a>
<br>
<strong>(attrib.), <i>Lauacrum conscientiae omnium sacerdotum</i></strong>
 pr. [N&uuml;rnberg 1487&ndash;93] (Goff L96), &amp;c.; Bloomfield 2902.

</li>

<li>
B55.&para;108b (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2334_anchor">Nicholas of Dinkelsb&uuml;hl OP [<i>c</i>1360&ndash;1433]
</a>
<br>
<strong>(attrib.), <i>Ars bene moriendi</i></strong>
pr. [Cologne 1474] &amp;c.; Kaeppeli 965.

</li>

<li>
B55.&para;109a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1799_anchor">Johann Nider OP [1380&ndash;1438]
</a>
<br>
<strong><i>Manuale confessorum</i></strong>
pr. Cologne [1467/72] &amp;c.; Kaeppeli 2539.

</li>

<li>
B55.&para;109b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1799_anchor">Johann Nider OP [1380&ndash;1438]
</a>
<br>
<strong><i>De morali lepra</i></strong>
pr. Cologne [<i>c.</i> 1470] &amp;c.; Kaeppeli 2538.

</li>

<li>
B55.&para;109c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3647_anchor">Werner Rolewinck [1425&ndash;1502]
</a>
<br>
<strong><i>Libellus de regimine rusticorum</i></strong>
pr. Cologne [1471/75] (Hain 13726), &amp;c.

</li>

<li>
B55.&para;110a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1641_anchor">Iohannes Consobrinus (Jo$atilde$$o Sobrinho) OCarm [&dagger;1475]
</a>
<br>
<strong><i>De iustitia commutatiua</i></strong>
pr. Paris 1483 (<i>GW</i> 7437), &amp;c.; Sharpe, 
<i>Latin Writers</i>, 229.

</li>

<li>
B55.&para;110b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry684_anchor"><i>Consolatorium conscientiae</i></a>
pr. Cologne [<i>c.</i> 1470] &amp;c.

<br>
</li>

<li>
B55.&para;110e (`confessionale S. Thomae'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2201_anchor">Matthew of Cracow [&dagger;1410]
</a>
<br>
<strong><i>De modo confitendi</i> (<i>ps.</i> Thomas Aquinas)</strong>
pr. Cologne 
1467 &amp;c.

</li>

<li>
B55.&para;110f: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry857_anchor"><i>Elegantiarum uiginti praecepta</i></a>
pr. Cologne [1477/83] &amp;c.

<br>
</li>

<li>
B55.&para;&dagger;110d (`de iuditiis', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry956_anchor">Felinus Sandeus (Felino Maria Sandeo) [1444&ndash;1503]
</a>
<br>
<span class="biblio_block">
G. Arrighi, <i>Felino Sandei (1444&ndash;1503), Canonista e Umanista</i>,
Accademia Lucchese di scienze lettore e arti, Studi e testi 23 (Lucca
1987).
</span>
<br>
<strong><i>Super titulo De iudiciis</i></strong>
pr. Milan 1493 &amp;c. [Not in Schulte; perhaps
an extract from the <i>Lectura</i>?]

</li>

<li>
B55.&para;111a (anon., `explanatio super psalmum Miserere'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1354_anchor">Girolamo Savonarola OP [1452&ndash;1498]
</a>
<br>
<strong>Commentary on <i>Miserere</i> (<i>Ps.</i> 50)</strong>
pr. [Ferrara, not before 1498]
(Goff S209), Venice 1505, &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 3482.

</li>

<li>
B55.&para;111b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1392_anchor"><i>Horologium deuotionis circa uitam Christi</i>, tr. from German by Bertholdus</a>
 pr. Paris [1483] (Hain 2990), &amp;c. (also Hain 8928&ndash;8935).

<br>
</li>

<li>
B55.&para;111c (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De castitate et munditia sacerdotum</i></strong>
pr. [Paris 1482/84] &amp;c.; 
Distelbrink 79.

</li>

<li>
B55.&para;112 (`flores euangeliorum dominicalium Odonis Cant.', 
  B68.&dagger;405 (`sermones Odonis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2389_anchor">Odo of Cheriton [&dagger;1247]
</a>
<br>
<strong><i>Sermones</i></strong>
part pr. as <i>Flores sermonum</i>, Paris 1520 (Shaaber O39); 
Schneyer <i>Rep.</i> 4. 483&ndash;499.

</li>

<li>
B55.&para;113b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1638_anchor">Iohannes Cochlaeus (Johann Dobneck) [1479&ndash;1552]
</a>
<br>
<strong><i>Pia exhortatio Romae ad Germaniam</i></strong>
pr. T&uuml;bingen 1525.

</li>

<li>
B55.&para;113c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1663_anchor">Johann Dietenberger [<i>c</i>1475&ndash;1537]
</a>
<br>
<strong><i>Contra temerarium Martini Luteri de uotis monasticis
iudicium</i></strong>
pr. Cologne 1524 &amp;c.

</li>

<li>
B55.&para;114 (attrib. Nicholas of Lyre): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1290_anchor">Henricus de Frimaria OESA [1250&ndash;1340]
</a>
<br>
<strong><i>Praeceptorium seu Expositio in decalogum</i></strong>
pr. Rouen [1488/94] &amp;c.;
Bloomfield 0526; Stegm&uuml;ller <i>Bibl.</i> 3172.

</li>

<li>
B55.&para;115: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong><i>Soliloquium</i></strong>
<i>SBonO</i> 8. 28&ndash;67; Distelbrink 23; Glorieux <i>R&eacute;p.</i> 
305al.

</li>

<li>
B55.&para;116a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2176_anchor">Marsilio Ficino [1433&ndash;1499]
</a>
<br>
<strong><i>Epistulae</i></strong>
pr. Venice 1495 (<i>GW</i> 9873), &amp;c.; ed. S. Gentile (Florence
1990&ndash;).

</li>

<li>
B55.&para;116b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry1982_anchor">Lactantius Firmianus [fl. 305&ndash;323]
</a>
<br>
<strong><i>Diuinae institutiones</i></strong>
<i>CPL</i> 85.

</li>

<li>
B55.&para;117: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry233_anchor">Angelus Politianus (Angelo Ambrosini) [1454&ndash;1494]
</a>
<br>
<strong><i>Illustrium uirorum epistolae</i></strong>
pr. Lyon 1499 (<i>GW</i> 9368), &amp;c.

</li>

<li>
B55.&para;118: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry563_anchor">Carolus Maneken (`Virulus') [&dagger;1493]
</a>
<br>
<strong><i>Formulae epistolarum quas Correctoria uocant</i></strong>
pr. Louvain 1476 
(<i>CIBN</i> M93, Hain 10662), &amp;c.

</li>

<li>
B55.&para;119: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1142_anchor"><i>Gesta Romanorum cum applicationibus moralizatis</i></a>
pr. [Cologne <i>c.</i> 
1473] (<i>GW</i> 10082), &amp;c.; ed. H. Oesterley (Berlin 1872 / repr. Hildesheim 
1963); W. R&ouml;ll in <i>MLJ</i> 21 (1986) 208&ndash;229; B. Weiske, <i>Gesta Romanorum</i> 
(T&uuml;bingen 1992).

<br>
</li>

<li>
B55.&para;120 (`item opusculum de doctoribus et eorum priuilegiis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2585_anchor">Pierre de Lesnauderie [early 16th cent.]
</a>
<br>
<strong><i>Tractatus de doctoribus eorumque priuilegiis</i></strong>
pr. in <i>Tractatus
ex uariis iuris interpretibus</i>, 18 vols (Lyon 1549), vol. 17.

</li>

<li>
B55.&para;121: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2618_anchor">Petrus Riga [&dagger;1209]
</a>
<br>
<strong><i>Aurora</i></strong>
ed. P. E. Beichner (Notre Dame, IN, 1965); Stegm&uuml;ller 
<i>Bibl.</i> 6823&ndash;5.

</li>

<li>
B55.&para;&dagger;122: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2766_anchor"><i>Prouerbia Salomonis</i></a>
pr. Burgos [<i>c.</i> 1500].

<br>
</li>

<li>
B55.&para;123: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1589_anchor">John Beleth [&dagger; after 1182]
</a>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
B55.&para;124: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2867_anchor"><i>Regula S. Augustini</i>, inc. `Ante omnia, fratres'</a>
<i>CPL</i> 1839a.

<br>
</li>

<li>
B55.&para;125: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Vita S. Benedicti</i>, the second book of the <i>Dialogi</i>, which circulated
independently</strong>
see note on B55.125.

</li>

<li>
B55.&para;126 (`Venerabilis Bede presbiteri de temporibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>De temporum ratione</i>, inc. `De natura rerum et ratione temporum' 
(pref.), `De temporum ratione domino iuuante' (text)</strong>
<i>CPL</i> 2320; ed. 
C. W. Jones, <i>CCSL</i> 123B (1977) 263&ndash;460. [There will be further copies 
referred to as <i>De temporibus</i>, which, without corroboration, cannot be 
correctly identified.]

</li>

<li>
B55.127: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1801_anchor">John Norton OCarth [&dagger;1522]
</a>
<br>
<strong><i>De musica monachorum</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 287.

</li>

<li>
B55.&para;128: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>Canon medicinae</i>, tr. Gerard of Cremona</strong>
pr. Milan 1473 (<i>GW</i> 3115,
<i>CIBN</i> A806), [Strassburg, not before 1473] (<i>GW</i> 3114, <i>CIBN</i> A807), &amp;c. 

</li>

<li>
B55.&para;129: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1394_anchor"><i>Hortus sanitatis</i>, Latin tr.</a>
pr. Mainz 1491 (Goff H486); Thorndike/Kibre 
5, 994. The original version is the German of Johannes von Cube.

<br>
</li>

<li>
B55.&para;130: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1771_anchor">Iohannes Iacobus de Manliis [late 15th cent.]
</a>
<br>
<strong><i>Luminare maius</i></strong>
pr.  Venice 1496 &amp;c.

</li>

<li>
B55.&para;131a (`Regimen sanitatis Magnini Mediolanensis medici'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2137_anchor">Magninus de Maineriis [&dagger;1368]
</a>
<br>
<strong><i>Regimen sanitatis</i></strong>
pr. Louvain 1482 (Goff M51), &amp;c.

</li>

<li>
B55.&para;131b (`secreta Hippocratis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1368_anchor">Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Capsula eburnea</i>, tr. Gerard of Cremona</strong>
pr. Bologna 1489 &amp;c.;
<i>HL</i> 110&ndash;23; Thorndike/Kibre 1037.

</li>

<li>
B55.&para;131c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry327_anchor">Arnold of Villanova [<i>c</i>1240&ndash;1311]
</a>
<br>
<span class="biblio_block">
M. McVaugh in <i>DSB</i> 1. 289&ndash;91.
</span>
<br>
<strong><i>De uinis</i></strong>
pr. Paris <i>c.</i> 1500 (<i>GW</i> 2535), &amp;c.; Diaz 1690.

</li>

<li>
B55.&para;132 (`Macer de herbarum uiribus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2132_anchor">`Macer' [? early 11th cent.]
</a>
<br>
<strong><i>De uiribus herbarum</i></strong>
ed. L. Choulant (Leipzig 1832), 28&ndash;123; 
Thorndike/Kibre 610; <i>WIC</i> 7711. A small number of manuscripts associate
the work with a writer called Odo, once named as Odo Magdunensis, from which 
the author is sometimes supposed to be Odo of Meung, an unknown figure.

</li>

<li>
B55.&para;133: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2853_anchor"><i>Regimen sanitatis Salernitanum</i></a>
ed. Renzi, 5. 1&ndash;104; A. Sinno, <i>Regimen
sanitatis. Flos medicinae scholae Salernitanae</i> (Milan 1987); <i>WIC</i> 1039, 
6849, 18083. [Manuscripts and numerous early editions are listed by
Renzi, 5. 113&ndash;72; G. Giambacorta &amp; A. Giordano, <i>Regimen sanitatis 
Salernitana. Bibliografia</i>, Ars medica antiqua. Bibliografia di medicina
antiqua 1 (Milan 1983).]

<br>
</li>

<li>
B55.&para;134: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/#entry2796_anchor">Quiricus de Augustis [15th cent.]
</a>
<br>
<strong><i>Lumen apothecariorum</i></strong>
pr. Turin 1492 (<i>GW</i> 3063), &amp;c.

</li>

<li>
B55.&para;135: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1943_anchor">Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</a>
<br>
<strong><i>De dietis uniuersalibus et particularibus</i>, tr. Constantinus
Africanus or Gerard of Cremona</strong>
pr. Lyon 1515, 1. 11r&ndash;103r, 103r&ndash;156r;
Thorndike/Kibre 239, 1252.

</li>

<li>
B55.136: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
[<i>dub.</i>]
<strong>`De medendis egritudinibus'</strong>
unidentified.

</li>

<li>
B55.&para;&dagger;138 (`R. Whittintoni editio'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3003_anchor">Robert Whittington [&dagger; after 1548]
</a>
<br>
<strong><i>Declinationes nominum tam latinorum quam graecorum</i></strong>
pr. London 1511 
&amp;c.; Sharpe, <i>Latin Writers</i>, 578.

</li>

<li>
B55.&para;139 (with <i>Synonyma</i>): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1703_anchor">John of Garland [&dagger; after 1258]
</a>
<br>
<strong><i>Aequiuoca</i></strong>
pr. [Cologne] 1486 &amp;c.; Bursill-Hall, `Iohannes de 
Garlandia', 169 (B14); Sharpe, <i>Latin Writers</i>, 253; Hunt, <i>Teaching 
Latin</i>, 1. 138&ndash;43; <i>WIC</i> 1767. [See also his <i>Tractatus de aequiuocis</i>.]

</li>

<li>
B55.&para;140: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1391_anchor">Q. Horatius Flaccus (Horace) [65&ndash;8 BC]
</a>
<br>
<strong><i>Epistulae</i></strong>
ed. F. Klingner, Teubner (1950); ed. S. Borzs&aacute;k, Teubner (1984).

</li>

<li>
B55.&para;141: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Familiarium colloquiorum formulae</i></strong>
pr. N&uuml;rnberg 1519 &amp;c.

</li>

<li>
B55.&para;142a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry856_anchor"><i>Elegantiae terminorum</i></a>
pr. Deventer 1490 &amp;c.

<br>
</li>

<li>
B55.&para;142b (`cum commento'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry806_anchor"><i>Disticha Catonis</i></a>
ed. M. Boas &amp; H. Botschuyver (Amsterdam 1952); Manitius,
<i>HSS</i>, 164&ndash;9. [For glossed texts in late medieval contexts, see Philippus de 
Bergamo and Robertus de Euromodio.]

<br>
</li>

<li>
B55.&para;142c (`Senica moralissimus cum commento'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2183_anchor">Martin of Braga [&dagger;580], bishop of Braga
</a>
<br>
<strong><i>Formula uitae honestae</i></strong>
<i>CPL</i> 1080; Diaz 27; Bloomfield 4457.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>160 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
