{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/221" title="Tattershall">Tattershall</a>  &gt; Lincolnshire list, summer 1528</p>{% endif %}<h2>SECULAR INSTITUTIONS: Secular Colleges: Tattershall</h2><h3 class="medieval_catalogue_desc">SC314. Lincolnshire list, summer 1528</h3>
<em>38 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC314.*1a = H2.*660: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3028_anchor">Roger of Waltham [&dagger; after 1332]
</a>
<br>
<strong><i>Compendium morale</i></strong>
unpr.; Bloomfield 1977, 5286, 5289.

</li>

<li>
SC314.*1<sup>x</sup> = H2.*660<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De assumptione beatae Mariae</i>, inc. `Ad interrogata' (prol.),
`Quia profundissime' (text)</strong>
<i>CPPM</i> 2. 161; <i>PL</i> 40. 1141&ndash;8. The text
is also found ascribed to Anselm and to Fulbert of Chartres.

</li>

<li>
SC314.*2 = H2.*682: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1751_anchor">John Lathbury OFM [&dagger;1362]
</a>
<br>
<strong><i>Alphabetum morale siue Distinctiones theologicae</i></strong>
unpr.;
Stegm&uuml;ller <i>Bibl.</i> 4758; Bloomfield 0117; Sharpe, <i>Latin Writers</i>, 273.

</li>

<li>
SC314.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De modo confitendi</i>, inc. `Ad primum dicat sacerdos'</strong>
ed. J. W. 
Goering &amp; F. A. C. Mantello, <i>RTAM</i> 54 (1987) 52&ndash;112 (text, 80&ndash;110); 
Thomson, <i>Grosseteste</i>, 126; Bloomfield 0280.

</li>

<li>
SC314.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2586_anchor">Peter of Limoges [&dagger;1306]
</a>
<br>
<strong><i>Oculus moralis</i></strong>
pr. Venice 1496 &amp;c.; Thomson, <i>Grosseteste</i>, 
256&ndash;7; Bloomfield 5532. See also R. Newhauser in <i>Exempel und 
Exempel-Sammlungen</i>, ed. W. Haug &amp; B. Wachinger (T&uuml;bingen 1991), 95&ndash;136.

</li>

<li>
SC314.*5 = H2.*1018: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2931_anchor">Richard Snettisham [&dagger;1416]
</a>
<br>
<strong>Abbreviation of Robert Cowton's Commentary on the Lombard's Sentences</strong>
 unpr.; Sharpe, <i>Latin Writers</i>, 510&ndash;11; Stegm&uuml;ller <i>Sent.</i> 735.

</li>

<li>
SC314.*5<sup>x</sup> = H2.1018: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2606_anchor">Peter Partridge [&dagger;1451]
</a>
<br>
<strong><i>Tabula</i> to Richard Snettisham's Abbreviation of Robert Cowton's
Commentary on the Lombard's Sentences</strong>
unpr.; Sharpe, <i>Latin Writers</i>, 432.

</li>

<li>
SC314.*6 = H2.*832<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De impressionibus aeris seu De prognosticatione</i></strong>
ed. Baur, 41&ndash;51;
Thomson, <i>Grosseteste</i>, 103&ndash;104.

</li>

<li>
SC314.*6<sup>x</sup> = H2.*832<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De spiritu et anima</i></strong>
pr, [Lauingen] 1472 (<i>GW</i> 2936), &amp;c.; <i>PL</i> 
40. 779&ndash;832; Bloomfield 4935. [There is no evidence to support the 
attribution of the work to Alcher of Clairvaux; on attibutions, D. Aschoff, 
`Der pseudo-augustinische Traktat <i>De spiritu et anima</i>', <i>Revue des &eacute;tudes 
augustinienne</i> 18 (1972) 293&ndash;4. See also above, Augustine ps. <i>De creatione 
primi hominis</i>, for c. 35.]

</li>

<li>
SC314.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De decem mandatis</i></strong>
ed. R. C. Dales &amp; E. B. King, <i>Auctores Britannici
medii aeui</i> 10 (1987); Thomson, <i>Grosseteste</i>, 131&ndash;2.

</li>

<li>
SC314.*8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Distinctiones theologicae</i></strong>
unpr. apart from excerpts in Goering,
<i>William de Montibus</i>, 261&ndash;303; Stegm&uuml;ller <i>Bibl.</i> 2993&ndash;5; Bloomfield 0159, 0478.

</li>

<li>
SC314.*8<sup>x</sup> (de uirtutibus): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3760_anchor">Willelmus Peraldus OP [&dagger;1261]
</a>
<br>
<strong><i>Summa de uitiis et uirtutibus</i></strong>
pr. [Basel, not after 1474] (Goff 
P89), &amp;c.; Kaeppeli 1622; Bloomfield 1628, 5601. [See also William of 
Auvergne, also called Parisiensis, from whose work of the same title this 
is often indistinguishable.]

</li>

<li>
SC314.*9 = H2.*1058: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Distinctiones theologicae</i></strong>
unpr. apart from excerpts in Goering,
<i>William de Montibus</i>, 261&ndash;303; Stegm&uuml;ller <i>Bibl.</i> 2993&ndash;5; Bloomfield 0159, 0478.

</li>

<li>
SC314.*9<sup>x</sup> = H2.*1058: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3094_anchor">Seneca the Elder [55 BC&ndash;AD <i>c</i>40]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Declamationes Senecae</i>, a collection of moralized tales, mostly from
the classics, and in part derived from the work of Seneca the Elder.
</strong>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>38 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
