{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/180" title="Bishop Auckland">Bishop Auckland</a>  &gt; Record of gift from Bishop Richard Fox, 20 July 1499</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Bishop Auckland</h2><h3 class="medieval_catalogue_desc">SC212. Record of gift from Bishop Richard Fox, 20 July 1499</h3>
<em>60 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC212.&para;1 (4 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
SC212.&para;1<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2210_anchor">Matthias Doering OFM [<i>c.</i> 1395&ndash;1469]
</a>
<br>
<strong><i>Replicae</i> to Paulus de S. Maria's <i>Additiones</i> to Nicholas of Lyre's 
<i>Postilla</i></strong>
pr. Venice 1481 (<i>GW</i> 4286), &amp;c.

</li>

<li>
SC212.&para;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
SC212.&para;3 (`uocabularius super biblia uocatus &dagger;numtre', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1774_anchor">Iohannes Marchesinus (Giovanni Marchesini) OFM [fl. 1300]
</a>
<br>
<strong><i>Mammotrectus super Bibliam</i></strong>
pr. Mainz 1470 (Goff M232), &amp;c.; 
Stegm&uuml;ller <i>Bibl.</i> 4776&ndash;7.

</li>

<li>
SC212.&para;5a&ndash;b (`sermones discipuli de tempore et de sanctis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1725_anchor">Iohannes Herolt OP [&dagger;1468]
</a>
<br>
<strong><i>Sermones Discipuli</i></strong>
pr. Cologne 1474 (<i>GW</i> 12340), &amp;c.; Kaeppeli 2387.

</li>

<li>
SC212.&para;5c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1725_anchor">Iohannes Herolt OP [&dagger;1468]
</a>
<br>
<strong><i>Promptuarium exemplorum Discipuli</i></strong>
pr. Lyon 1483 (Goff H96), &amp;c.; 
Kaeppeli 2389.

</li>

<li>
SC212.&para;5<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1725_anchor">Iohannes Herolt OP [&dagger;1468]
</a>
<br>
<strong><i>Promptuarium Discipuli de miraculis beatae Mariae uirginis</i></strong>
pr. with
his <i>Sermones Discipuli</i>, Rostock 1476 (Hain 8478), &amp;c.; Kaeppeli 2391.

</li>

<li>
SC212.&para;6 (`speculum regiminis alias &dagger;Cathomorolo'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2651_anchor">Philippus de Bergamo [&dagger; <i>c</i>1380]
</a>
<br>
<strong><i>Speculum regiminis</i></strong>
pr. Augsburg 1475 (<i>GW</i> 6277),
&amp;c.; Bloomfield 3615. The work is a commentary on <i>Disticha Catonis</i>.

</li>

<li>
SC212.8 (`cum commento et tabula'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
SC212.&para;9 (`tabula exemplorum', anon., 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1157_anchor">Aegidius Aurifaber [&dagger;1466]
</a>
<br>
<span class="biblio_block">
<i>DS</i> 1. 1138&ndash;9.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Speculum exemplorum</i></strong>
pr. Deventer 1481 (Goff S651), &amp;c.; Bloomfield
2003. The author is thought to be Johannes Busch.

</li>

<li>
SC212.&para;10 (`Petri Marci interpretacio in officio Ciceronis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2591_anchor">Petrus Marsus [1442&ndash;1512]
</a>
<br>
<strong>Commentary on Cicero's <i>De officiis</i></strong>
pr. with the text, Venice
1481 (<i>GW</i> 6950), &amp;c. 

</li>

<li>
SC212.&para;10<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2591_anchor">Petrus Marsus [1442&ndash;1512]
</a>
<br>
<strong><i>Andes</i></strong>
pr. [Mantua <i>c.</i> 1480] (IGI 6214); pr. with Cicero's 
<i>De officiis</i>, Venice 1481 (<i>GW</i> 6950), Louvain 1483 (<i>GW</i> 6951), &amp;c.

</li>

<li>
SC212.&para;11a (`cum commento'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Epistulae ad familiares</i>, with commentary by Hubertinus Clericus</strong>
pr.
Venice 1480 (<i>GW</i> 6834), &amp;c.

</li>

<li>
SC212.&para;11b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2591_anchor">Petrus Marsus [1442&ndash;1512]
</a>
<br>
<strong>Commentary on Silius Italicus's <i>Punica</i></strong>
pr. with the poem, 
Venice 1483 (<i>Bod-inc</i> S201), &amp;c.

</li>

<li>
SC212.&para;12 (`sermones de Litio de laudibus sanctorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2959_anchor">Robertus Caracciolus de Licio (Roberto Caracciolo) OFM [1425&ndash;1495]
</a>
<br>
<strong><i>Sermones de laudibus sanctorum</i></strong>
pr. Naples 1489 (<i>GW</i> 6051), &amp;c.

</li>

<li>
SC212.&para;13 (`cum commentario'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
SC212.&para;14 (`cum commento'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De disciplina scholarium</i></strong>
ed. O. Weijers (Leiden 1976).

</li>

<li>
SC212.&para;15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong><i>De originali peccato</i></strong>
pr. Oxford 1479 (<i>STC</i> 158), &amp;c.; pr. Rome
1554 / repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400h; Bloomfield 1886.

</li>

<li>
SC212.&para;16 (`epistole Lilii quas C. uocant'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry563_anchor">Carolus Maneken (`Virulus') [&dagger;1493]
</a>
<br>
<strong><i>Formulae epistolarum quas Correctoria uocant</i></strong>
pr. Louvain 1476 
(<i>CIBN</i> M93, Hain 10662), &amp;c.

</li>

<li>
SC212.&para;17 (`concordancie biblie et canonum et tocius iuris canonici', 
   anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1739_anchor">Iohannes Iohannis (Jean de Jean) [&dagger;1361]
</a>
<br>
<span class="biblio_block">
H. Gilles in <i>HLF</i> 40 (1974) 53&ndash;111.
</span>
<br>
<strong><i>Memoriale Decreti</i> (1339), titled in the early printed editions
<i>Concordantiae Bibliae et canonum</i></strong>
pr. Cologne 1482 (Goff J379), &amp;c.
(under the name Iohannes Nivicellensis); pr. with the Lombard's Sentences, 
Basel 1498 (Goff P496), &amp;c.; Schulte, 2, 379; Stegm&uuml;ller <i>Bibl.</i> 4834. [His 
style abbas Juncellensis was corrupted to Niuicellensis, causing confusion 
with the 11th-cent. Benedictine.]

</li>

<li>
SC212.&para;18 (`orilegium sapientie de utilitate condicionis humane'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1317_anchor">Henricus Suso OP (Heinrich Seuse) [1295&ndash;1366]
</a>
<br>
<strong><i>Horologium sapientiae</i></strong>
ed. P. K&uuml;nzle, <i>Heinrich Seuses
Horologium sapientiae</i>, Spicilegium Friburgense 23 (1977); Bloomfield 5416; 
Kaeppeli 1852. [W. Wichgraf, 'Susos Horologium sapientiae in England nach
HSS. des 15. Jahrhunderts', <i>Anglia</i> 41 (1929) 123&ndash;33, 269&ndash;87, 345&ndash;73, 
and 42 (1930) 351&ndash;2.]

</li>

<li>
SC212.&para;20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De sermone Domini in monte</i></strong>
<i>CPL</i> 274; ed. A. Mutzenbecher, <i>CCSL</i> 35 (1967).

</li>

<li>
SC212.&para;21 (`decreta cum glosa B. Brexensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry398_anchor">Bartholomew of Brescia [&dagger;1258]
</a>
<br>
<strong><i>Glossa ordinaria in Decretum</i>, a revision of the work of Iohannes 
Teutonicus</strong>
pr. Venice 1496 &amp;c.; pr. Venice 1605; Schulte, 2. 86&ndash;87; Kuttner,
103&ndash;115.

</li>

<li>
SC212.&para;22 (`decretales Gregoriani cum glosa Ber''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry460_anchor">Bernard of Parma [&dagger;1266]
</a>
<br>
<strong><i>Glossa ordinaria</i> on the Decretals</strong>
pr. with the Decretals, Strassburg
1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 2. 115.

</li>

<li>
SC212.23 (`liber sextus cum glosa Iohannis An''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2078_anchor"><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</a>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
SC212.&para;23 (`liber sextus cum glosa Iohannis An''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1555_anchor">Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</a>
<br>
<strong><i>Apparatus ad Sextum</i></strong>
pr. with <i>Liber sextus</i>, Mainz 1465 &amp;c. (<i>GW</i>
4848&ndash;87); standard edition is <i>Corpus iuris canonici</i> 3/3 (Rome 1582); 
Schulte, 2. 213&ndash;14. [See also under <i>Liber Sextus</i>.]

</li>

<li>
SC212.&para;24 (`liber Clementis cum glosa Io. An.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry691_anchor"><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</a>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
SC212.&para;24<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1542_anchor">John XXII (Jacques Du&egrave;se) [1249&ndash;1334, <i>sedit</i> 1316&ndash;1334]
</a>
<br>
<strong><i>Extrauagantes</i></strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 
1205&ndash;1236; ed. J. Tarrant, Monumenta iuris canonici, ser. B, 8 (Rome 1983); 
Schulte, 2. 50&ndash;65. [The gloss is by Jesselin de Cassagnes.]

</li>

<li>
SC212.25 (`alius liber Clementis cum glosa Io. An. et cum glosa
   Willelmi de Monte &dagger;Haudino'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry691_anchor"><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</a>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
SC212.25d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2446_anchor">Otto de Monteferrato [&dagger;1251], cardinal
</a>
<br>
<strong><i>Constitutiones</i> (1237)</strong>
ed. Powicke &amp; Cheney, 2/1. 245&ndash;59.

</li>

<li>
SC212.25e: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2448_anchor">Ottobuono Fieschi (later Adrian V) [<i>sedit</i> 1276], cardinal legate
</a>
<br>
<strong><i>Constitutiones</i> (1268)</strong>
ed. Powicke &amp; Cheney, 2/2. 747&ndash;92.

</li>

<li>
SC212.25f (`. . cum glosa Iohannis de Atona'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1545_anchor">John Acton [&dagger;1350]
</a>
<br>
<strong>Commentary on the Legatine Constitutions</strong>
pr. with William
Lyndwood's <i>Prouinciale</i> (Oxford 1679); Sharpe, <i>Latin Writers</i>, 198&ndash;9.

</li>

<li>
SC212.&para;26 (`dominus Innocencius super quinto libro decretalium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1529_anchor">Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</a>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
SC212.&para;27 (3 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Speculum iudiciale</i></strong>
pr. Strassburg 1473 (<i>GW</i> 9148), &amp;c.; 
Schulte, 2. 148&ndash;52; Lange, 2. 483&ndash;6.

</li>

<li>
SC212.&para;27<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Additiones super Speculo Guillelmi Durantis</i></strong>
pr. Rome [<i>c.</i> 1473]
(Goff U12), &amp;c.; Schulte, 2, 276.

</li>

<li>
SC212.&para;28 (`repertorium utriusque iuris reuerendi patris domini P.
  Brixensis episcopi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2588_anchor">Petrus de Monte (Pietro del Monte) [<i>c.</i>1400&ndash;1457], bishop of Brescia
</a>
<br>
<strong><i>Repertorium utriusque iuris</i></strong>
pr. Bologna `1465' [i.e. 1475] (<i>IGI</i>
6720), &amp;c.; prologue, ed. D. Quaglione, <i>Pietro del Monte a Roma</i> (Rome
1984), 113&ndash;64; Schulte, 2. 317-19; Sharpe, <i>Latin Writers</i>, 430.

</li>

<li>
SC212.29 (`.&nbsp;. cum glosa Willelmi Sherwode'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3732_anchor">William Lyndwood [&dagger;1446]
</a>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
SC212.&para;30 (`. . super Clementinas'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1744_anchor">Iohannes Koelner de Vanckel [15th cent.]
</a>
<br>
<strong><i>Summarium textuale et conclusiones super Sextum, Clementinas et
Decretales extrauagantes</i></strong>
pr. [Cologne] 1484 (<i>GW</i> 9712), &amp;c.; Schulte,
2. 384.

</li>

<li>
SC212.&para;31a (`domini Panormitani practica de modo procedendi in iudicio'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1576_anchor">Iohannes Auerbach [fl. 1406&ndash;1422]
</a>
<br>
<strong><i>Processus iudiciarius</i></strong>
pr. as the work of Panormitanus,
Louvain 1475 (<i>GW</i> 2840), &amp;c.; pr. with commentary, Leipzig 1489 (<i>GW</i> 2851), 
&amp;c.; ed. J. G. T. Muther (Halle 1873); Schulte, 2. 301&ndash;302.

</li>

<li>
SC212.&para;31b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2848_anchor">Raymundus de Salguis [<i>c.</i> 1300&ndash;1375]
</a>
<br>
<strong><i>Ars inueniendi themata</i></strong>
pr. [Cologne] 1482 (<i>CIBN</i> S14).

</li>

<li>
SC212.&para;31c (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1955_anchor">Iudocus de Erfurt [early 15th cent.]
</a>
<br>
<span class="biblio_block">
<i>DDC</i> 6. 181&ndash;6.
</span>
<br>
<strong>(attrib.), <i>Vocabularius iuris utriusque</i></strong>
pr. [Basel, not after 1473] 
(Goff V334), &amp;c.; Schulte, 2. 488. [The work travels anonymously.]

</li>

<li>
SC212.&para;32 (`dominus W. D. speculator super repertorium aureum cum
   casibus tocius iuris'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Breuiarium siue Repertorium</i></strong>
pr. Rome 1474 (<i>GW</i> 9145), &amp;c.; Schulte, 
2. 152&ndash;3.

</li>

<li>
SC212.&para;33: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3079_anchor">Sebastian Brant [1458&ndash;1521]
</a>
<br>
<strong><i>Expositiones siue Declarationes omnium titulorum iuris tam ciuilis quam
canonici</i></strong>
pr. Basel, 1490 (<i>GW</i> 5070); *pr. Paris 1514 (Moreau, 2. 779).

</li>

<li>
SC212.34a (`liber Belial'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1493_anchor">Iacobus de Theramo (Giacomo Palladini) [<i>c</i>1350&ndash;1417]
</a>
<br>
<span class="biblio_block">
<i>VL</i> 4. 441&ndash;7.
</span>
<br>
<strong><i>Consolatio peccatorum</i> (1382), also known as <i>Belial</i></strong>
pr. Augsburg 
1472 (Goff J64), &amp;c.; Bloomfield 3997.

</li>

<li>
SC212.34b (`constituciones Cant''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3732_anchor">William Lyndwood [&dagger;1446]
</a>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
SC212.35: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry786_anchor">Dinus de Mugello [&dagger;1298]
</a>
<br>
<strong><i>De Regulis iuris</i></strong>
pr. Rome 1472 (<i>GW</i> 8354), &amp;c.; 
Schulte, 2. 177. [The <i>Regulae iuris</i> is the last title in <i>Liber Sextus
Decretalium</i>.]

</li>

<li>
SC212.&para;36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1394_anchor"><i>Hortus sanitatis</i>, Latin tr.</a>
pr. Mainz 1491 (Goff H486); Thorndike/Kibre 
5, 994. The original version is the German of Johannes von Cube.

<br>
</li>

<li>
SC212.&para;37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1967_anchor">Iunianus Maius [fl. 1475]
</a>
<br>
<strong><i>De priscorum proprietate uerborum</i></strong>
pr. [Naples] 1475 (Goff M95),
&amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>60 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
