{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p>{% endif %}<h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K582. Catalogus, c. 1360</h3>
<em>10 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K582.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
K582.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De amicitia</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
K582.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De senectute</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
K582.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Orationes philippicae</i></strong>
ed. A. C. Clark, OCT (1918<sup>2</sup>); ed. 
P. Fedeli, Teubner (1982).

</li>

<li>
K582.6 (`rethoricorum lib. 2'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De inuentione</i></strong>
ed. E. Stroebel, Teubner (1915).

</li>

<li>
K582.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Disputationes Tusculanae</i></strong>
ed. M. Pohlenz, Teubner (1965<sup>2</sup>).

</li>

<li>
K582.15 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Paradoxa stoicorum</i></strong>
ed. O. Plasberg, Teubner (1908); ed. R. Badali (Milan 1968).

</li>

<li>
K582.&loz;17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De diuinatione</i></strong>
ed. W. Ax, Teubner (1938).

</li>

<li>
K582.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De fato</i></strong>
ed. W. Ax, Teubner (1938).

</li>

<li>
K582.24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Topica</i></strong>
ed. W. Friedrich, Teubner (1891); ed. K. Bayer (Munich
1993).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>10 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
