{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/74" title="Pontefract">Pontefract</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Pontefract</h2><h3 class="medieval_catalogue_desc">B66. Leland, c. 1536-40</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B66.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3451_anchor">Valentius [?]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
unidentified.

</li>

<li>
B66.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2971_anchor">Robert Gentle [?]
</a>
<br>
<strong><i>Homiliae</i></strong>
not identified.

</li>

<li>
B66.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3693_anchor">William Damport [?], <i>Homiliae</i></a>
unidentified.

<br>
</li>

<li>
B66.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>De natura loci</i></strong>
ed. P. Hossfeld, <i>AMO</i> 5/2. 1&ndash;44 (1980); Fauser 13; Glorieux
<i>R&eacute;p.</i> 6ac.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
