{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; BENEDICTINES: Canterbury-Christ Church</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
BC. BENEDICTINES: Canterbury-Christ Church</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury College, Oxford</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC101"  title="View details of catalogue BC101">BC101 Inventory of books in library of Canterbury College, Oxford, 1443 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC103"  title="View details of catalogue BC103">BC103 Inventory of books in library of Canterbury College, Oxford, 1501 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC104 Inventory of books in library of Canterbury College, Oxford, 1501 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC106"  title="View details of catalogue BC106">BC106 Inventory of books in library of Canterbury College, Oxford, 1521 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC107 Inventory of books in library of Canterbury College, Oxford, 1524 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury-Christ Church</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC1"  title="View details of catalogue BC1">BC1 List of school texts, c. 1180. (191)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC2 List of choir books, ???. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC3 Philosophy, history and modern authors, c. 1225. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC4"  title="View details of catalogue BC4">BC4 Prior Eastry's catalogue, not after 1331. (848)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC5 Inventory in Prior Eastry's register, 1331. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC6 List of books missing, 1337. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC7"  title="View details of catalogue BC7">BC7 Prior Chillenden's bequest, 1411. (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC8"  title="View details of catalogue BC8">BC8 List of books repaired, 1508. (9)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC9"  title="View details of catalogue BC9">BC9 Select titles noted by Leland, 1536 &times; 1540. (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
