{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/191" title="Heytesbury">Heytesbury</a>  &gt; List of books noted at a visitation, 29 September 1220</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Heytesbury</h2><h3 class="medieval_catalogue_desc">SC251. List of books noted at a visitation, 29 September 1220</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC251.1 (`decreta pontificum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
SC251.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
