{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K418. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K418 (Bale): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2435_anchor">Osbern of Canterbury OSB [&dagger;1094], monk of Christ Church
</a>
<br>
<strong>(attrib.), <i>De uocum consonantiis ac de re musica</i></strong>
ed. J. Smits van 
Waesberghe, <i>Diuitiae musicae artis</i>, A ser. Xa (Amsterdam 1979).

</li>

<li>
K418.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2435_anchor">Osbern of Canterbury OSB [&dagger;1094], monk of Christ Church
</a>
<br>
<strong><i>Vita S. Dunstani</i></strong>
ed. W. Stubbs, RS 63 (1874), 69&ndash;161;  <i>BHL</i> 2344&ndash;5.

</li>

<li>
K418.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2435_anchor">Osbern of Canterbury OSB [&dagger;1094], monk of Christ Church
</a>
<br>
<strong><i>Vita S. Elphegi</i></strong>
ed. H. Wharton, <i>Anglia Sacra</i> (London 1691), 
2. 122&ndash;47; Sharpe, <i>Latin Writers</i>, 407; <i>BHL</i> 2518&ndash;9.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
