{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K286. Catalogus, c. 1360</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K286.1 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
<strong><i>De fide orthodoxa</i>, tr. Burgundio of Pisa</strong>
ed. E. M. Buytaert 
(St Bonaventure, NY, 1955). [On the three translations see I. Backus
in <i>JWCI</i> 49 (1986) 211&ndash;17.]

</li>

<li>
K286.2 (`ad Cosmam logicarum liber', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
<strong><i>Dialectica</i>, tr. Robert Grosseteste</strong>
<i>CPG</i> 8041; ed. O. A.
Colligan (New York, NY, 1953); Thomson, <i>Grosseteste</i>, 46; Sharpe, <i>Latin
Writers</i>, 547&ndash;8.

</li>

<li>
K286.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
<strong><i>De haeresibus</i></strong>
<i>CPG</i> 8044.

</li>

<li>
K286.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
<strong><i>Elementarium dogmatum</i>, tr. Robert Grosseteste</strong>
<i>CPG</i> 8040; 
ed. M. Holland, PhD diss. (Harvard University 1980); Sharpe, <i>Latin Writers</i>, 
547&ndash;8.

</li>

<li>
K286.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
<strong><i>De hymno trisagio</i>, tr. Robert Grosseteste</strong>
<i>CPG</i> 8049; ed. M.
Holland, PhD diss. (Harvard University 1980); Sharpe, <i>Latin Writers</i>,
547&ndash;8.

</li>

<li>
K286.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1652_anchor">John of Damascus [<i>c</i>675&ndash;749]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Barlaam et Iosaphat</i></strong>
<i>CPG</i> 8120; <i>BHL</i> 979.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
