{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A" title="AUGUSTINIAN CANONS">AUGUSTINIAN CANONS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A/17" title="Leicester">Leicester</a>  &gt; Leland, c. 1536-40</p><h2>AUGUSTINIAN CANONS: Leicester</h2><h3 class="medieval_catalogue_desc">A21. Leland, c. 1536-40</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
A21.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>De naturis rerum</i></strong>
I&ndash;II, ed. T. Wright, RS 34 (1863), 1&ndash;354; III&ndash;V
(commentary on Ecclesiastes), unpr.; Hunt, <i>Nequam</i>, 134&ndash;6; Stegm&uuml;ller 
<i>Bibl.</i> 1172.

</li>

<li>
A21.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2968_anchor">Robert fitz Gille OSA [&dagger;1186]
</a>
<br>
<strong><i>Poenitentiale</i></strong>
not known to survive; Sharpe, <i>Latin Writers</i>, 537.

</li>

<li>
A21.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1403_anchor">Hugh of Amiens OSB [1080&ndash;1164], archbishop of Rouen
</a>
<br>
<strong><i>Dialogi siue Quaestiones theologicae</i></strong>
<i>PL</i> 192. 1141&ndash;1248;
Sharpe, <i>Latin Writers</i>, 183.

</li>

<li>
A21.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry876_anchor">Magnus Felix Ennodius [473/4&ndash;521], bishop of Ticino
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 1487.

</li>

<li>
A21.*6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1302_anchor">Henry Knighton OSA [late 14th cent.]
</a>
<br>
<strong><i>Chronicon</i></strong>
ed. J. R. Lumby, RS 92 (1889&ndash;95); from 1337,
ed. G. H. Martin, OMT (1995).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
