{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K655. Catalogus, c. 1360</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K655.1 (`Wilhelmus de Conches .&nbsp;. philosophiam primam de naturis 
   inferiorum et superiorum lib. 2', inc.): 
<strong>Daniel of Morley [fl. 1200]
</strong>
<br>
<strong><i>De naturis inferiorum et superiorum</i>, also titled <i>De creatione mundi</i>,
inc. `Cum dudum ab Anglia me causa studii excepissem, et Parisius aliquamdiu
moram fecissem'</strong>
ed. K. Sudhoff, <i>Archiv f&uuml;r die Geschichte der 
Naturwissenschaft und Technik</i> 8 (1917) 6&ndash;40; ed. G. Maurach, <i>MLJ</i> 14 (1979) 
204&ndash;255 (text, 212&ndash;45).

</li>

<li>
K655.2 (`philosophiam secundam', inc.): 
<strong>William of Conches [<i>c</i>1080&ndash;1154]
</strong>
<br>
<strong><i>Dragmaticon</i></strong>
ed. I. Ronca, <i>CCCM</i> 152 (1997).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
