{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Burden Hostel</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC8"  title="View details of catalogue UC8">UC8 List of canon and civil law books, 1529 (32)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Christ's College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC9"  title="View details of catalogue UC9">UC9 Inventory of goods belonging to Godshouse, after 1451 (11)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC10"  title="View details of catalogue UC10">UC10 Medieval donors in a register of donors, 1623 (61)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Clare College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC11"  title="View details of catalogue UC11">UC11 Inventory, c. 1440 (108)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC12"  title="View details of catalogue UC12">UC12 List of benefactors, c. 1440 (38)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC13"  title="View details of catalogue UC13">UC13 References to book donations in the Acta, c. 1448-1505 (18)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC14"  title="View details of catalogue UC14">UC14 Inventory of unbound books, 1496 (60)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC15"  title="View details of catalogue UC15">UC15 Leland, c. 1535 (53)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC16"  title="View details of catalogue UC16">UC16 Inventory, 20 January 1556/7 (20)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC17"  title="View details of catalogue UC17">UC17 Inventory, 7 September 1560 (24)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Corpus Christi College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC18"  title="View details of catalogue UC18">UC18 Inventory, c. 1376 (78)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC19"  title="View details of catalogue UC19">UC19 Thomas Markaunt's bequest, 1439 (159)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC20"  title="View details of catalogue UC20">UC20 John Tittleshall's bequest, 1458 (9)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC21"  title="View details of catalogue UC21">UC21 Electiones of Markaunt's &amp; Tittleshall's books, c. 1458-1516 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC22"  title="View details of catalogue UC22">UC22 Books granted by Peter Nobys, after July 1525 (218)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC23"  title="View details of catalogue UC23">UC23 Leland, c. 1535 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC24"  title="View details of catalogue UC24">UC24 Books noted in the chapel by Matthew Parker, c. 1544 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC25"  title="View details of catalogue UC25">UC25 Inventory, mid 16th cent. (25)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Donor documents</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
UC101 Will of Robert Alne, 24 Dec 1440; University (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC102"  title="View details of catalogue UC102">UC102 Gift of Thomas Anlaby, after 1431; Pembroke Hall (15)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC103"  title="View details of catalogue UC103">UC103 Will of Richard Atkynson, 23 July 1556; King's College (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC104"  title="View details of catalogue UC104">UC104 Will of Robert Ayscough, 2 Sept 1444; Michaelhouse (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC105"  title="View details of catalogue UC105">UC105 Will of Robert Barker, 18 Sept 1504; various (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC106"  title="View details of catalogue UC106">UC106 Will of Robert Battersby, 3 Oct 1502; University (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC107"  title="View details of catalogue UC107">UC107 Bequest of John Beverley, 1473; Gonville (15)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC108"  title="View details of catalogue UC108">UC108 Will of William Boston, 5 Jan 1473; King's College (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC109"  title="View details of catalogue UC109">UC109 Will of Richard Brocher, 31 May 1487; Corpus Christi (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC110"  title="View details of catalogue UC110">UC110 Books purchased from Henry Bullock, c. 1526; Queens'  (28)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC111"  title="View details of catalogue UC111">UC111 Will of Elizabeth de Burgh, 25 September 1355; Clare Hall (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC112"  title="View details of catalogue UC112">UC112 Will of William Bylby de Sutton, 12 March 1452; University (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC113"  title="View details of catalogue UC113">UC113 Record of book given by William Carlell, before 1498; Michaelhouse (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC114"  title="View details of catalogue UC114">UC114 Will of Geoffrey Champeneys, 12 March 1472; various (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC115"  title="View details of catalogue UC115">UC115 Will of Thomas Colyer, 1506; various (24)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UC116 Will of Walter Crome, 5 August 1452; University (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC117"  title="View details of catalogue UC117">UC117 Will of William Crosse, 12 August 1434; Corpus Christi (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC118"  title="View details of catalogue UC118">UC118 Will of Henry Crossley, January 1526; various (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC119"  title="View details of catalogue UC119">UC119 Will of Hugh Damlett, 6 July 1475; various (13)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC120"  title="View details of catalogue UC120">UC120 Will of George Day, 28 July 1556; various (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC121"  title="View details of catalogue UC121">UC121 Will of John de Donewich, 6 April 1392; Clare Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UC122 Will of Richard Dunmow, 15 June 1414; Pembroke Hall (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC123"  title="View details of catalogue UC123">UC123 Will of John Fabe, 10 August 1504; Godshouse (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC124"  title="View details of catalogue UC124">UC124 Will of Thomas Fissher, 10 December, 1464; University (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC125"  title="View details of catalogue UC125">UC125 Will of Robert Fitzhugh, 15 June 1434; University (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC126"  title="View details of catalogue UC126">UC126 Will of Nicholas Gay, 19 June 1474; Peterhouse (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC127"  title="View details of catalogue UC127">UC127 Will of William Gedge, 2 October 1500; Peterhouse (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC128"  title="View details of catalogue UC128">UC128 Will of John Geffray, 31 October 1479; King's (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC129"  title="View details of catalogue UC129">UC129 Will of John Gilpin, 27 December 1530; Jesus (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC130"  title="View details of catalogue UC130">UC130 Will of William Hasilbeck, 8 August 1504; Jesus (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC131"  title="View details of catalogue UC131">UC131 Will of Richard Hatton, 23 May 1509; King's College (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC132"  title="View details of catalogue UC132">UC132 Will of Robert Hayles, 31 May 1497; Gonville Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC133"  title="View details of catalogue UC133">UC133 Will of John Hesewell, 25 October 1500; King's College (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC134"  title="View details of catalogue UC134">UC134 Record of books purchased by Richard Holme, 1406; King's Hall (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC135"  title="View details of catalogue UC135">UC135 Will of Henry Hornby, 10 December 1517; various (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC136"  title="View details of catalogue UC136">UC136 Will of William Hunden, 27 January 1416; University (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC137"  title="View details of catalogue UC137">UC137 Will of John Hurt, 14 September 1476; various (13)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC138"  title="View details of catalogue UC138">UC138 Will of Robert Knyght, 2 January 1504; St William's Hostel (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC139"  title="View details of catalogue UC139">UC139 Will of Bryan Kydall, 1502; various (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC140"  title="View details of catalogue UC140">UC140 Will of William Lambert, 27 November 1521; Pembroke Hall (10)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC141"  title="View details of catalogue UC141">UC141 Will of Thomas Langley, 21 December 1436; University (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC142"  title="View details of catalogue UC142">UC142 Will of John Lenne, 22 September 1375; Clare Hall (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC143"  title="View details of catalogue UC143">UC143 Will of Thomas de Lexham, 31 October 1382; Clare Hall (32)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC144"  title="View details of catalogue UC144">UC144 Will of John Leystoft, 27 February 1462; Pembroke Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC145"  title="View details of catalogue UC145">UC145 Will of John Lownde, 6 October 1505; Peterhouse (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC146"  title="View details of catalogue UC146">UC146 Will of William Lyndwood, 22 November 1443; University (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC147"  title="View details of catalogue UC147">UC147 Will of Lawrence Maptyt, 9 November 1557; various (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC148"  title="View details of catalogue UC148">UC148 Book donated by Richard Nelson, before 1512; Michaelhouse (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC149"  title="View details of catalogue UC149">UC149 Will of John Newton, 30 June 1414; Peterhouse (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC150"  title="View details of catalogue UC150">UC150 Record of gift of John Oteringham, before 1454; Michaelhouse (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC151"  title="View details of catalogue UC151">UC151 Will of John Plente, 9 May 1483; King's College (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC152"  title="View details of catalogue UC152">UC152 Will of Richard Poringland, 10 April 1471; Peterhouse (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC153"  title="View details of catalogue UC153">UC153 Will of John Proctor, 26 August 1510; Michaelhouse (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC154"  title="View details of catalogue UC154">UC154 Will of William Rightwise, 3 April 1502; Gonville Hall (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC155"  title="View details of catalogue UC155">UC155 Will of John Rowclyff, 1 July 1492; King's Hall (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC156"  title="View details of catalogue UC156">UC156 Will of John Sampson, 3 August 1517; King's College (8)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC157"  title="View details of catalogue UC157">UC157 Will of Robert Scolys, 6 June 1470; Clare Hall (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC158"  title="View details of catalogue UC158">UC158 Will of Stephen Scrope, 24 August 1418; Gonville Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UC159 Will of John Speyrhawke, 25 March 1472; various (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC160"  title="View details of catalogue UC160">UC160 Receipt of bequest of Hervey de Stanton, 20 March 1328; Michaelhouse (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC161"  title="View details of catalogue UC161">UC161 Book donated by Thomas Stoyle, 1485/6; University (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC162"  title="View details of catalogue UC162">UC162 Will of Roger de Sutton, 21 April 1371; Peterhouse (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC163"  title="View details of catalogue UC163">UC163 Will of John Syclyng, 24 September 1506; Christ's College (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC164"  title="View details of catalogue UC164">UC164 Will of John Thornhill, 22 May 1420; University (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC165"  title="View details of catalogue UC165">UC165 Will of Hugh Trotter, 31 August 1503; various (10)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC166"  title="View details of catalogue UC166">UC166 Will of William Waltham, 5 October 1416; King's Hall (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC167"  title="View details of catalogue UC167">UC167 Will of William Warmyster, 13 October 1457; King's College (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC168"  title="View details of catalogue UC168">UC168 Will of Thomas Wellys, 14 January 1476; various (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC169"  title="View details of catalogue UC169">UC169 Will of Robert de Weston, 3 March 1389; Trinity Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC170"  title="View details of catalogue UC170">UC170 Will of Adam Wickmer, 4 October 1381; Trinity Hall (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC171"  title="View details of catalogue UC171">UC171 Will of Henry Wingefeld, 6 August 1500; Gonville Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC172"  title="View details of catalogue UC172">UC172 Will of William Wodcoke, 7 March 1488; various (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC173"  title="View details of catalogue UC173">UC173 Will of William Woode, 6 April 1491; University (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC174"  title="View details of catalogue UC174">UC174 Book bequeathed by John Wortham, by 1447; Michaelhouse or King's Hall (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC175"  title="View details of catalogue UC175">UC175 Will of William Wyche, 1475; King's College (8)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Gonville and Caius College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC26"  title="View details of catalogue UC26">UC26 Register of books borrowed, 1406-10 (65)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC27"  title="View details of catalogue UC27">UC27 Leland, c. 1535 (49)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Jesus College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC28"  title="View details of catalogue UC28">UC28 Leland, c. 1535 (7)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
King's College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC29"  title="View details of catalogue UC29">UC29 Inventory, c. 1457 (162)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC30"  title="View details of catalogue UC30">UC30 Inventory for the Marian commissioners, 31 January 1557 (54)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
King's Hall</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC31"  title="View details of catalogue UC31">UC31 Inventory, 1361-2 (11)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC32"  title="View details of catalogue UC32">UC32 Books of civil law donated by Edward III, 20 January 1368 (10)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC33"  title="View details of catalogue UC33">UC33 Register of books borrowed, 1386/7 (10)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC34"  title="View details of catalogue UC34">UC34 Register of books borrowed, 1385 &times; 1388 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC35"  title="View details of catalogue UC35">UC35 Register of books borrowed, 1390&ndash;91 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC36"  title="View details of catalogue UC36">UC36 Catalogue, 1390/91 (90)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UC37 Register of books borrowed, 1391/3 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UC38 Other borrowing records in the accounts, 1392&ndash;1422 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC39"  title="View details of catalogue UC39">UC39 Books granted by Henry VI, 2 July 1440 (70)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC40"  title="View details of catalogue UC40">UC40 References to books in the accounts, 1393&ndash;1512 (14)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC41"  title="View details of catalogue UC41">UC41 Leland, c. 1535 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Pembroke College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC42"  title="View details of catalogue UC42">UC42 List of philosophy books, 15th cent. (7)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC43"  title="View details of catalogue UC43">UC43 List of benefactors, c. 1490 (183)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC44"  title="View details of catalogue UC44">UC44 Leland, c. 1535 (14)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC45"  title="View details of catalogue UC45">UC45 Inventory for the Marian commissioners, 1557 (78)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC46"  title="View details of catalogue UC46">UC46 References to books in the accounts, noted 1617 (22)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC47"  title="View details of catalogue UC47">UC47 List of benefactors, compiled 1617 (278)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Peterhouse</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC48"  title="View details of catalogue UC48">UC48 Catalogue, 24 Dec. 1418 (1091)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC49"  title="View details of catalogue UC49">UC49 Leland, c. 1535 (96)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Queens' College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC50"  title="View details of catalogue UC50">UC50 Inventory, 1472 (174)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC51"  title="View details of catalogue UC51">UC51 References to books in the accounts, 1484&ndash;1535 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC52"  title="View details of catalogue UC52">UC52 Leland, c. 1535 (45)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
St Catharine's College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC53"  title="View details of catalogue UC53">UC53 List of benefactors, 1504 &times; 1522 (109)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
St John's College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC54"  title="View details of catalogue UC54">UC54 Inventory, c. 1516 (28)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC55"  title="View details of catalogue UC55">UC55 Inventory, 23 September 1544 (98)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC56"  title="View details of catalogue UC56">UC56 Inventory for the Marian commissioners,'12 January 1557' (13)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Trinity Hall</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC57"  title="View details of catalogue UC57">UC57 Books granted by the founder, 1 June 1352 (80)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC58"  title="View details of catalogue UC58">UC58 Memorandum counting law books, 9 October 1381 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC59"  title="View details of catalogue UC59">UC59 Leland, c. 1535 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC60"  title="View details of catalogue UC60">UC60 Inventory for the Marian commissioners, 22 January 1556/7 (45)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
University</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC1"  title="View details of catalogue UC1">UC1 Indenture referring to books in the common chest, 1363 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC2"  title="View details of catalogue UC2">UC2 Register of benefactors, c. 1424-c. 1440 (232)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC3"  title="View details of catalogue UC3">UC3 Register, 1473 (230)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC4"  title="View details of catalogue UC4">UC4 References to books in the accounts, 1458-1541 (30)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC5"  title="View details of catalogue UC5">UC5 Bidding prayer mentioning donors and gifts, c. 1510 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC6"  title="View details of catalogue UC6">UC6 Leland, c. 1535 (11)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC7"  title="View details of catalogue UC7">UC7 Inventory for the Marian commissioners, 1557 (282)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
