{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p>{% endif %}<h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R34. Union catalogue by author and title, early 14th cent.</h3>
<em>48 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R34.1 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola de tribus uirtutibus</i> (<i>ep.</i> 42)</strong>
<i>SBO</i> 7. 100&ndash;131.

</li>

<li>
R34.2 (`de cohabitacione fratrum', <i>De natura et dignitate</i> c. 9,  
   1 copy) = K85.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
R34.5 (`exhortaciones', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De consideratione</i></strong>
<i>SBO</i> 3. 393&ndash;493.

</li>

<li>
R34.6 (`ad &dagger;Dauid nepotem suum', 1 copy) = K85.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola ad Robertum nepotem suum</i> (<i>ep.</i> 1)</strong>
<i>SBO</i> 7. 1&ndash;11.

</li>

<li>
R34.7 (attrib. Bernard, 1 copy) = K85.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry324_anchor">Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</a>
<br>
<strong><i>De operibus sex dierum</i></strong>
<i>PL</i> 189. 1515&ndash;70; Stegm&uuml;ller <i>Bibl.</i> 2251.

</li>

<li>
R34.8 (1 copy) = K85.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Ad clericos de conuersione</i></strong>
<i>SBO</i> 4. 69&ndash;116.

</li>

<li>
R34.9 (attrib. Bernard, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1080_anchor">Geoffrey of Auxerre [mid 12th cent.]
</a>
<br>
<strong><i>De colloquio Simonis et Iesu</i></strong>
<i>PL</i> 184. 437&ndash;76; ed. H.
Rochais, SChr 364 (1990).

</li>

<li>
R34.10 (`super illud Intrauit Iesus', 1 copy) = K85.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermo in assumptione beatae Mariae</i></strong>
<i>PL</i> 184. 1001&ndash;1010; 
J. Leclercq in <i>RTAM</i> 20 (1953) 5&ndash;12.

</li>

<li>
R34.&dagger;11 (attrib. Bernard, hom. 1, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R34.12 (incipt is <i>De consideratione</i> II, which cannot be so described)
   = K85.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>dub.</i>]
<strong>`Super Isaiam'</strong>
unidentified.

</li>

<li>
R34.13 (attrib. Bernard, 4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry324_anchor">Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</a>
<br>
<strong><i>De sex uerbis Domini in cruce</i></strong>
<i>PL</i> 189. 1677&ndash;726; Stegm&uuml;ller <i>Bibl.</i> 2254.

</li>

<li>
R34.14 (`sentencie contemplatiue', 4 copies) = K85.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>SBO</i> 6/2. 7&ndash;255.

</li>

<li>
R34.15 (`planctus super morte fratris eius', <i>serm.</i> 26 &sect;&sect; 3&ndash;14, 1 copy)
   = K85.34: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones super Cantica canticorum</i></strong>
<i>SBO</i> vols. 1&ndash;2.

</li>

<li>
R34.16 (1 copy) = K85.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>dub.</i>]
<strong>`Super epistolam Iacobi'</strong>
unidentified.

</li>

<li>
R34.17 (`omelie', 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones</i></strong>
<i>SBO</i> vols. 4&ndash;6.

</li>

<li>
R34.18 (`super regulam', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De praecepto et dispensatione</i></strong>
pr. [Paris 1494/9] (<i>GW</i> 3909), &amp;c.; 
<i>SBO</i> 3. 253&ndash;94.

</li>

<li>
R34.20 (`ad Adam Romane ecclesie diaconum', cf. ep. 105) = K85.26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola ad Adam monachum</i> (<i>ep.</i> 7)</strong>
<i>SBO</i> 7. 31&ndash;46.

</li>

<li>
R34.21 (30 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones super Cantica canticorum</i></strong>
<i>SBO</i> vols. 1&ndash;2.

</li>

<li>
R34.22 (`sermones', 15 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones</i></strong>
<i>SBO</i> vols. 4&ndash;6.

</li>

<li>
R34.23 (attrib. Bernard, &mdash;): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>Epistola ad fratres de Monte Dei</i></strong>
<i>PL</i> 184. 309&ndash;354; ed. J. M. 
D&eacute;chanet, SChr 223 (1975); Bloomfield 1742. [Manuscripts listed by V. 
Honemann, <i>Die Epistola ad fratres de Monte Dei des Willhelm von 
Saint-Thierry. Lateinische &Uuml;berlieferung und mittelalterliche 
&Uuml;bersetzungen</i> (Munich 1978), 12&ndash;95.] [See also Bernard, <i>Apologia</i>, 
which sometimes appears as `Bernardus ad fratres de Monte Dei'.]

</li>

<li>
R34.24 (14 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistolae</i></strong>
<i>SBO</i> vols. 7&ndash;8.

</li>

<li>
R34.25 (13 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De consideratione</i></strong>
<i>SBO</i> 3. 393&ndash;493.

</li>

<li>
R34.26 (13 copies, among them BC4): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De praecepto et dispensatione</i></strong>
pr. [Paris 1494/9] (<i>GW</i> 3909), &amp;c.; 
<i>SBO</i> 3. 253&ndash;94.

</li>

<li>
R34.27 (12 copies, among them BC4): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Homiliae quattuor super Missus est</i></strong>
<i>SBO</i> 4. 13&ndash;58; Stegm&uuml;ller 
<i>Bibl.</i> 1726.

</li>

<li>
R34.28 (15 copies, among them B87.9 and BC4): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De XII gradibus humilitatis</i></strong>
<i>SBO</i> 3. 15&ndash;59.

</li>

<li>
R34.29 (12 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De gratia et libero arbitrio</i></strong>
<i>SBO</i> 3. 155&ndash;203.

</li>

<li>
R34.30 (14 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De diligendo Deo</i></strong>
<i>SBO</i> 3. 119&ndash;154.

</li>

<li>
R34.31 (9 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
R34.&dagger;32 (`de uidendo Deo', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
R34.33 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones XVII in Psalmum XC Qui habitat</i></strong>
<i>SBO</i> 4. 383&ndash;492.

</li>

<li>
R34.34 (`ad quendam monachum de superfluitatibus', 5 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Apologia ad Guillelum S. Theodorici abbatem</i></strong>
<i>SBO</i> 3. 81&ndash;108.

</li>

<li>
R34.35 (`ad Eugenium', 12 copies, among them BC4 and Z7.50): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De consideratione</i></strong>
<i>SBO</i> 3. 393&ndash;493.

</li>

<li>
R34.&dagger;36 (`de uirtutibus et uiciis', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De conflictu duorum regum</i> (<i>parab.</i> 2)</strong>
<i>SBO</i> 6/2. 267&ndash;73.

</li>

<li>
R34.37 (5 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>Vita I S. Bernardi</i> (with Arnold of Bonneval and Geoffrey of Auxerre)</strong>
 <i>PL</i> 185. 225&ndash;368; ed. P. Verdeyen &amp; C. Vande Veire, <i>CCCM</i> 89B (2011); 
<i>BHL</i> 1211&ndash;16.

</li>

<li>
R34.&dagger;38 (`exposiciones ecclesiasticarum regularum', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De praecepto et dispensatione</i></strong>
pr. [Paris 1494/9] (<i>GW</i> 3909), &amp;c.; 
<i>SBO</i> 3. 253&ndash;94.

</li>

<li>
R34.39 (`super illud Dixit Simon . .', 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1080_anchor">Geoffrey of Auxerre [mid 12th cent.]
</a>
<br>
<strong><i>De colloquio Simonis et Iesu</i></strong>
<i>PL</i> 184. 437&ndash;76; ed. H.
Rochais, SChr 364 (1990).

</li>

<li>
R34.40 (`ad Robertum monachum fugientem', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola ad Robertum nepotem suum</i> (<i>ep.</i> 1)</strong>
<i>SBO</i> 7. 1&ndash;11.

</li>

<li>
R34.41 (`ad milites Templi', 4 copies, among them BC4.7): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De laude nouae militiae</i></strong>
<i>SBO</i> 3. 213&ndash;39.

</li>

<li>
R34.42 (`ad Willelmum abbatem', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Apologia ad Guillelum S. Theodorici abbatem</i></strong>
<i>SBO</i> 3. 81&ndash;108.

</li>

<li>
R34.43 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermo in natiuitate beatae Mariae uirginis</i></strong>
<i>SBO</i> 5. 275&ndash;88. [But see note
on R34.43]

</li>

<li>
R34.&dagger;44 (`sermo de Iepte', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De filia Iephthe</i></strong>
<i>PL</i> 177. 323&ndash;34; Goy, 491.

</li>

<li>
R34.46 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
R34.47 (2 copies) = K85.42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola de conceptione beatae Mariae</i> (<i>ep.</i> 174)</strong>
<i>SBO</i> 7. 388&ndash;92.

</li>

<li>
R34.48 (`de uarietate ordinis monastici', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Apologia ad Guillelum S. Theodorici abbatem</i></strong>
<i>SBO</i> 3. 81&ndash;108.

</li>

<li>
R34.49 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De caritate ad fratres Cartusiae</i>, added to the treatise <i>De diligendo Deo</i></strong>
 <i>SBO</i> 3. 148&ndash;54.

</li>

<li>
R34.50 (8 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Apologia ad Guillelum S. Theodorici abbatem</i></strong>
<i>SBO</i> 3. 81&ndash;108.

</li>

<li>
R34.51 (attrib. Bernard, 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De uisitatione infirmorum</i></strong>
<i>PL</i> 40. 1147&ndash;58; <i>CPPM</i> 2. 3082. [Three 
copies, all English, preserve an ascription to Baudri of Bourgueil; R&ouml;mer, 
2/1. 199.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>48 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
