{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC118. Will of Henry Crossley, January 1526; various</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC118.&para;1: 
<strong><i>Biblia sacra</i>, Old Testament in Hebrew</strong>
pr. [Venice 1517] (Adams B1216), &amp;c.

<br>
</li>

<li>
UC118.2: 
<strong>Desiderius Erasmus [1466&ndash;1536]
</strong>
<br>
<strong><i>Adagia</i></strong>
pr. Paris 1500 (<i>GW</i> 9374), &amp;c.; ed. F. Heinimann &amp;
others, <i>Adagiorum chilias</i>, <i>Erasmi opera omnia</i> 2/1&ndash;8 (Amsterdam 1981&ndash;97).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
