{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3 class="medieval_catalogue_desc">UC105. Will of Robert Barker, 18 Sept 1504; various</h3>
<em>6 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC105.&para;1: 
<strong>Jean Gerson [1363&ndash;1429]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. [Cologne] 1483&ndash;4 (Goff G185), &amp;c. [Editions such
as Strassburg 1514 and Paris 1520&ndash;21 include a separate inventory of
Gerson's writings.]

</li>

<li>
UC105.&dagger;&para;2: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Epistulae ad familiares</i></strong>
ed. D. R. Shackleton Bailey (Cambridge 1977).

</li>

<li>
UC105.&para;3: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
UC105.&para;6: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UC105.&para;7: 
<strong>Gerardus Odonis OFM [1285&ndash;1349]
</strong>
<br>
<strong>Commentary on Aristotle's <i>Ethica</i></strong>
pr. Brescia 1482 (Goff O28), 
&amp;c.; Lohr, 164.

</li>

<li>
UC105.&para;8: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
