{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K143. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K143.1: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De contemptu mundi</i> (inc. `Cartula')</strong>
<i>PL</i> 184. 1307&ndash;14; <i>WIC</i> 2521.

</li>

<li>
K143.5&ndash;8: 
<strong>Damasus I [<i>sedit</i> 366&ndash;384]
</strong>
<br>
<strong><i>Epistolae</i>, as found among the letters of Jerome</strong>
<i>CPL</i> 1633 
<i>epp.</i> 8&ndash;9.

</li>

<li>
K143.5&ndash;8: 
<strong>Damasus I [<i>sedit</i> 366&ndash;384]
</strong>
<br>
<strong><i>Epistolae</i>, as found among the letters of Jerome</strong>
<i>CPL</i> 1633 
<i>epp.</i> 8&ndash;9.

</li>

<li>
K143.5&ndash;8: 
<strong>Damasus I [<i>sedit</i> 366&ndash;384]
</strong>
<br>
<strong><i>Epistolae</i>, as found among the letters of Jerome</strong>
<i>CPL</i> 1633 
<i>epp.</i> 8&ndash;9.

</li>

<li>
K143.5&ndash;8: 
<strong>Damasus I [<i>sedit</i> 366&ndash;384]
</strong>
<br>
<strong><i>Epistolae</i>, as found among the letters of Jerome</strong>
<i>CPL</i> 1633 
<i>epp.</i> 8&ndash;9.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
