{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/36" title="Abingdon">Abingdon</a>  &gt; Anonymus Reginensis, early 16th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Abingdon</h2><h3 class="medieval_catalogue_desc">B4. Anonymus Reginensis, early 16th cent.</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B4.1: 
<strong>Thomas Bradwardine [1290&ndash;1349], archbishop of Canterbury
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 244&ndash;6 and 3. xv&ndash;xvi; <i>DSB</i> 2. 390-97.
</span>
<br>
<strong><i>De causa Dei contra Pelagium</i></strong>
ed. H. Savile (London 1618); Sharpe, 
<i>Latin Writers</i>, 643.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/244/"  title="Praefatio de poenitentia: full details of book"  class="link_from_index_to_book">B4.2</a>: 
<strong>Gildas [early 6th cent.]
</strong>
<br>
<strong><i>Praefatio de poenitentia</i></strong>
<i>CPL</i> 1321; ed. L. Bieler, <i>The Irish Penitentials</i> (Dublin 1963), 60&ndash;65.

</li>

<li>
B4.4: 
<strong>Vigilius Thapsensis [fl. 484], bishop of Thapsus
</strong>
<br>
<strong><i>Aduersus Eutychetem</i></strong>
<i>CPL</i> 806.

</li>

<li>
B4.5 (`liber sacramentorum'): 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
[<i>dub.</i>]
<strong>`Liber sacramentorum'</strong>
unidentified.

</li>

<li>
B4.*6 (`de institutione diuinarum scripturarum', Book I): 
<strong>Cassiodorus Senator [<i>c</i>485&ndash;580]
</strong>
<br>
<strong><i>De institutionibus diuinarum scripturarum</i></strong>
<i>CPL</i> 906. [Many of the 
copies will have contained Book I and the familiar corpus of 
bio-bibliographical texts found, for example, in B13.*62.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
