{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K497. Catalogus, c. 1360</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K497.2 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2879_anchor">Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</a>
<br>
<strong><i>Expositio missae</i> (<i>De diuinis officiis</i>, c. 40)</strong>
<i>PL</i> 101. 1246&ndash;71. 
This chapter often circulated separately.

</li>

<li>
K497.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2879_anchor">Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</a>
<br>
<strong>Commentary on Donatus's <i>Ars minor</i></strong>
ed. W. Fox, Teubner (1902).
With or without his Commentary on Donatus's <i>Ars maior</i>: ed. H. Hagen, <i>Anecdota
Helvetica</i> (Leipzig 1870), 219&ndash;274; complemented by the missing portions,
ed. J. P. Elder, <i>Harvard Studies in Classical Philology</i> 56&ndash;57 (1945&ndash;6)
129&ndash;60; Manitius, <i>Geschichte</i>, 1. 506&ndash;8.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
