{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K283. Catalogus, c. 1360</h3>
<em>14 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K283.1: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
K283.2: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De missarum mysteriis</i></strong>
<i>PL</i> 217. 773&ndash;916. [List of manuscripts
by D. F. Wright in <i>Rivista di storia della chiesa in Italia</i> 29 (1975) 
444&ndash;52; edition by C. Egger in progress.]

</li>

<li>
K283.3: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De missarum mysteriis</i></strong>
<i>PL</i> 217. 773&ndash;916. [List of manuscripts
by D. F. Wright in <i>Rivista di storia della chiesa in Italia</i> 29 (1975) 
444&ndash;52; edition by C. Egger in progress.]

</li>

<li>
K283.4: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De simonia</i></strong>
see note.

</li>

<li>
K283.5: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
[<i>attrib.</i>]
<strong><i>Commentarium in septem Psalmos poenitentiales</i></strong>
<i>PL</i> 217. 967&ndash;1130; 
Stegm&uuml;ller <i>Bibl.</i> 4005; Bloomfield 3186.

</li>

<li>
K283.6: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>Sermones de communi sanctorum</i></strong>
unpr.; Schneyer <i>Rep.</i> 4. 46&ndash;9.

</li>

<li>
K283.7&ndash;9: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>Sermones</i></strong>
<i>PL</i> 217. 310&ndash;690; Schneyer <i>Rep.</i> 4. 42&ndash;9; J. C. Moore
in <i>R&ouml;mische historische Mitteilungen</i> 36 (1994) 81&ndash;142.

</li>

<li>
K283.8: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De latria et dulia</i>, probably to be identified with Innocent's
sermon for the dedication of a church (<i>PL</i> 217. 433&ndash;8), supported by the
incipit and explicit quoted by Kirkstead K283. 14. [Other possibilities
would include <i>Sermones de sanctis</i> 8 (<i>PL</i> 217. 483&ndash;8) and <i>De missarum
mysteriis</i> III 11; there is also a letter to the bishop of Albano, `de latria 
et dulia', inc. `Hoc compendium salutare', transmitted under the names of
`Lotharius diaconus' and of `Michael notarius pape'.] 
</strong>
</li>

<li>
K283.7&ndash;9: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>Sermones</i></strong>
<i>PL</i> 217. 310&ndash;690; Schneyer <i>Rep.</i> 4. 42&ndash;9; J. C. Moore
in <i>R&ouml;mische historische Mitteilungen</i> 36 (1994) 81&ndash;142.

</li>

<li>
K283.10: 
<strong><i>Compilatio tertia decretalium</i></strong>
ed. Agust&iacute;n, <i>Antiquae collectiones</i>,
424&ndash;600; part ed. E. Friedberg, <i>Quinque compilationes antiquae</i> (Leipzig 
1882), 105&ndash;134; Kuttner, 355&ndash;68. [The compiler was Petrus Beneventanus; the 
ordinary apparatus is by Iohannes Teutonicus, part ed. K. Pennington, 
Monumenta iuris canonici, ser. A, 3 (Rome 1981).]

<br>
</li>

<li>
K283.*12: 
<strong><i>Concilium Lateranense IV</i>, the Statutes of the Fourth Lateran Council
(1215)</strong>
ed. A. Garc&iacute;a y Garc&iacute;a, <i>Constitutiones Concilii quarti 
Lateranensis</i>, Monumenta iuris canonici, ser. A, 2 (Rome 1981), 41&ndash;118.

<br>
</li>

<li>
K283.13: 
<strong>Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</strong>
<br>
[<i>attrib.</i>]
<strong><i>Moralitas de scaccario</i>, inc. `Mundus iste totus est quasi quoddam
scaccarium'</strong>
attributed to Pope Innocent in BL MS Royal 12 E. XXI
(s. xiv<sup>1</sup>), fol. 103v; Bodl. MS Bodley 240 (<i>SC</i> 2469)
(AD 1377, Bury), p. 762; Bodl. MS Bodley 52 (<i>SC</i> 1969) (s. xv<sup>1</sup>, 
Merton College), fol. 59v;  Cambridge, Corpus Christi College, MS 177 
(s. xv), fol. 50v; BL MS Harley 2253 (s. #), fol. 135v; anonymous in BL MS
Royal 8 D. X (s. xv), fol. 203. It is identified by Warner &amp; Gilson,
<i>Cat. Royal</i>, 2. 58, as an extract from John Waleys, <i>Communiloquium siue 
Summa collationum</i>, I 10. 7. 

</li>

<li>
K283.14: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De latria et dulia</i>, probably to be identified with Innocent's
sermon for the dedication of a church (<i>PL</i> 217. 433&ndash;8), supported by the
incipit and explicit quoted by Kirkstead K283. 14. [Other possibilities
would include <i>Sermones de sanctis</i> 8 (<i>PL</i> 217. 483&ndash;8) and <i>De missarum
mysteriis</i> III 11; there is also a letter to the bishop of Albano, `de latria 
et dulia', inc. `Hoc compendium salutare', transmitted under the names of
`Lotharius diaconus' and of `Michael notarius pape'.] 
</strong>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
