{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/392" title="Exeter College">Exeter College</a>  &gt; Indenture recording delivery of books from Bishop William Reed, 8 Aug. 1400</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Exeter College</h2><h3 class="medieval_catalogue_desc">UO35. Indenture recording delivery of books from Bishop William Reed, 8 Aug. 1400</h3>
<em>50 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO35.1 (`. . cum glossa Iohannis et addicionibus B. Brixensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry398_anchor">Bartholomew of Brescia [&dagger;1258]
</a>
<br>
<strong><i>Glossa ordinaria in Decretum</i>, a revision of the work of Iohannes 
Teutonicus</strong>
pr. Venice 1496 &amp;c.; pr. Venice 1605; Schulte, 2. 86&ndash;87; Kuttner,
103&ndash;115.

</li>

<li>
UO35.*2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3753_anchor">Willelmus de Pagula [early 14th cent.]
</a>
<br>
<strong><i>Summa summarum</i></strong>
unpr.; excerpts ed. L. E. Boyle, <i>Proceedings of 
Second Congress of Medieval Canon Law</i> (Vatican City 1965), 415&ndash;56; 
Bloomfield 0234; Sharpe, <i>Latin Writers</i>, 800.

</li>

<li>
UO35.3 (`libros fisicorum cum aliis decem ut patet in intitulacione'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Libri naturales</i>, a collection comprising Aristotle's <i>Physica</i>,
<i>De generatione et corruptione</i>, <i>De caelo</i>, <i>Meteora</i> I&ndash;III, <i>De plantis</i>,
and the <i>pseudo</i>-Aristotelian <i>Liber de causis</i> and <i>De differentia spiritus
et animae</i>; in the late 13th cent. new translations from Greek were substituted
for those from Arabic</strong>
<i>AL Codd.</i> 1. 49&ndash;51 for analysis.

</li>

<li>
UO35.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UO35.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Psalms (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 55&ndash;1296;
Stegm&uuml;ller <i>Bibl.</i> 6637.

</li>

<li>
UO35.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
UO35.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
UO35.8a (`textum ethicorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
UO35.8b (`textum problematum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Problemata</i>, tr. Bartholomaeus de Messina</strong>
pr. Mantua 1475 (Goff 
P436), &amp;c.; part ed. R. Seligsohn, diss. (Berlin 1934). [This is
the version commented by Peter of Abano.]

</li>

<li>
UO35.9a (tab.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
UO35.9b (tab.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
UO35.10 (`sermones Bromard'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1607_anchor">John of Bromyard OP [&dagger;1352]
</a>
<br>
<strong><i>Distinctiones</i></strong>
unpr.; Kaeppeli 2237. This title was also
sometimes applied to the much commoner <i>Opus triuium</i> and some 
entries may refer to that work.

</li>

<li>
UO35.11 (`I. de summo bono cum aliis xix'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
UO35.12 (`Donatum uetus glosatum cum aliis xvij'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry822_anchor">Aelius Donatus [4th cent.]
</a>
<br>
<strong><i>Ars minor</i></strong>
<i>GL</i> 4. 355&ndash;66; ed. A. Sch&ouml;nberger (Frankfurt 2008).

</li>

<li>
UO35.13 (`sermones domini Clementis pape'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry630_anchor">Clement VI (Pierre Roger OSB) [1291&ndash;1352, <i>sedit</i> 1342&ndash;52]
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Schneyer <i>Rep.</i> 4. 757&ndash;69.

</li>

<li>
UO35.14a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
UO35.17a (`summam domini Armacani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2911_anchor">Richard FitzRalph [&dagger;1360], archbishop of Armagh
</a>
<br>
<strong><i>Summa de quaestionibus Armenorum</i></strong>
pr. Paris 1512 (Adams F350).

</li>

<li>
UO35.17c (`eiusdem in sermonibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2911_anchor">Richard FitzRalph [&dagger;1360], archbishop of Armagh
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Schneyer <i>Rep.</i> 5. 150&ndash;158; Sharpe, <i>Latin
Writers</i>, 481.

</li>

<li>
UO35.&dagger;17d (`de laude saluatoris', among FitzRalph's works): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2911_anchor">Richard FitzRalph [&dagger;1360], archbishop of Armagh
</a>
<br>
<strong><i>De pauperie Saluatoris</i></strong>
I&ndash;IV, ed. R. L. Poole, <i>De dominio diuino</i>,
Wyclif Soc. (1890), 129&ndash;476; V&ndash;VII, ed. R. O. Brock, PhD diss. 
(University of Colorado 1954); Sharpe, <i>Latin Writers</i>, 479.

</li>

<li>
UO35.18 (`librum Albohaly de natiuitatibus cum multis aliis', 2nd fo.
   from Plato of Tivoli's version): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry105_anchor">Albohali (Abu `Hali al Hayyat) [&dagger; ?835 or after 857]
</a>
<br>
<strong><i>Liber de iudiciis natiuitatum</i>, tr. John of Seville (1153)</strong>
ed. 
J. Heller (N&uuml;rnberg 1546), sig. b1&ndash;q3; Carmody, 50&ndash;51; Diaz 971; 
Thorndike/Kibre 784. Or the same work, tr. Plato of Tivoli (1136): unpr.; 
Carmody, 49&ndash;50; Thorndike/Kibre 452, 562.

</li>

<li>
UO35.19 (part 1): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
UO35.20 (`tabulam super moralibus cum
   aliis vj'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
UO35.21a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
UO35.21b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De institutione musica</i></strong>
<i>CPL</i> 880.

</li>

<li>
UO35.21c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De institutione arithmetica</i></strong>
<i>CPL</i> 879; ed. J. Schilling &amp;
H. Oosthout , <i>CCSL</i> 94A (1999).

</li>

<li>
UO35.22a (`artem lectoriam'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1703_anchor">John of Garland [&dagger; after 1258]
</a>
<br>
<strong><i>Accentuarius</i></strong>
unpr.; <i>WIC</i> 5204; Sharpe, <i>Latin Writers</i>, 253. 
Extract and glosses in Hunt, <i>Teaching Latin</i>, 1. 143&ndash;51.

</li>

<li>
UO35.22b (`promotheum siue ferrum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>Corrogationes Promethei</i></strong>
excerpts ed. P. Meyer, <i>Notices et extraits</i>
35/2 (1896), 641&ndash;82; Hunt, <i>Nequam</i>, 131&ndash;3.

</li>

<li>
UO35.23a (`tabulam Dionisii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry794_anchor">Dionysius Exiguus [&dagger; after 526]
</a>
<br>
<strong><i>Liber de cyclo magno Paschae</i></strong>
<i>CPL</i> 2284.

</li>

<li>
UO35.23b (`. . cum tabula Garlandi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1132_anchor">Gerland [fl. 1080]
</a>
<br>
<strong><i>Computus</i></strong>
preface only ed. T. Wright, <i>Biographica Britannica 
Literaria. Anglo-Norman Period</i> (London 1846), 2. 16&ndash;18; Thorndike/Kibre 1430.

</li>

<li>
UO35.24 (`libros Senece diuersos'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>Opera</i></strong>
pr. Naples 1475 (Goff S368), &amp;c.

</li>

<li>
UO35.26a (lumen laicorum in gallicis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2523_anchor">Peter d'Abernon of Fetcham [&dagger;1293]
</a>
<br>
<strong><i>La Lumere as lais</i></strong>
ed. G. Hesketh, ANTS 54&ndash;8 (1996&ndash;2000); Dean 630.

</li>

<li>
UO35.26b (`librum experimentarium Bernardi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry463_anchor">Bernardus Silvestris [&dagger; after 1159]
</a>
<br>
<strong><i>Experimentarius</i></strong>
ed. M. Brini-Savorelli, <i>Rivista critica di storia della
filosofia</i> 14 (1959) 306&ndash;342; Thorndike/Kibre 633, 1594. [C. S. F. 
Burnett in <i>AHDLMA</i> 44 (1977) 62&ndash;108.]

</li>

<li>
UO35.28 (`librum Petri Alfonsi cum tabula precedenti et aliis vij'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2525_anchor">Petrus Alfonsi [early 12th cent.]
</a>
<br>
<strong><i>De disciplina clericali</i></strong>
<i>PL</i> 157. 671&ndash;706; ed. A. Hilka
&amp; W. S&ouml;derhjelm (Helsinki / Heidelberg 1911); Diaz 892.

</li>

<li>
UO35.30a (`Innocencium tercium de officio misse'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1528_anchor">Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</a>
<br>
<strong><i>De missarum mysteriis</i></strong>
<i>PL</i> 217. 773&ndash;916. [List of manuscripts
by D. F. Wright in <i>Rivista di storia della chiesa in Italia</i> 29 (1975) 
444&ndash;52; edition by C. Egger in progress.]

</li>

<li>
UO35.30b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1528_anchor">Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</a>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
UO35.31 (`aureum librum Bernardi', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>Epistola ad fratres de Monte Dei</i></strong>
<i>PL</i> 184. 309&ndash;354; ed. J. M. 
D&eacute;chanet, SChr 223 (1975); Bloomfield 1742. [Manuscripts listed by V. 
Honemann, <i>Die Epistola ad fratres de Monte Dei des Willhelm von 
Saint-Thierry. Lateinische &Uuml;berlieferung und mittelalterliche 
&Uuml;bersetzungen</i> (Munich 1978), 12&ndash;95.] [See also Bernard, <i>Apologia</i>, 
which sometimes appears as `Bernardus ad fratres de Monte Dei'.]

</li>

<li>
UO35.&dagger;33 (`sermones xl et alios'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>Homiliae euangelii</i></strong>
<i>CPL</i> 1367; ed. D. Hurst, <i>CCSL</i> 122 (1955) 
1&ndash;378.

</li>

<li>
UO35.34 (`breuiloquium de philosophia et alia quinque Iohannis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Breuiloquium de sapientia siue Philosophia sanctorum</i></strong>
pr.
Lyon 1511, fols. 195r&ndash;200v; Bloomfield 1260; Glorieux <i>R&eacute;p.</i> 322d.

</li>

<li>
UO35.35 (`uersus Egidii de pulsibus cum com''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1160_anchor">Giles of Corbeil [<i>c</i>1140&ndash;1224]
</a>
<br>
<strong><i>De pulsibus</i></strong>
ed. L. Choulant (Leipzig 1828), 21&ndash;43; 
Thorndike/Kibre 744; <i>WIC</i> 9332.

</li>

<li>
UO35.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry835_anchor">Durandus de S. Porciano OP [<i>c</i>1275&ndash;1334]
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Schneyer <i>Rep.</i> 1. 820&ndash;21. Copies in England are
not recorded, but note Worcester cathedral, MS Q. 100.

</li>

<li>
UO35.*41: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Prouerbia</i></strong>
several alphabetical collections of proverbs 
circulated under Seneca's name, usually a mixture of extracts from
<i>ps.</i> Seneca, <i>De moribus</i> and Publilius Syrus, <i>Sententiae</i>.

</li>

<li>
UO35.*41<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
UO35.44 (`et tabularium Salerni'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3275_anchor"><i>Tabulae remediorum Salernitanae</i></a>
unpr.; Thorndike/Kibre 4, 494,
498, 859, 950, 1109. [The comentary is likely to be Bernardus 
Provincialis.]

<br>
</li>

<li>
UO35.45a (`cum glosa Iohannis monachi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2078_anchor"><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</a>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
UO35.45b (`cum glosa Bar''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry691_anchor"><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</a>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>50 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
