{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/99" title="Worcester">Worcester</a>  &gt; Books bought by Prior William More, 1518-31</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Worcester</h2><h3 class="medieval_catalogue_desc">B117. Books bought by Prior William More, 1518-31</h3>
<em>60 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B117.&para;12: 
<strong>Guido de Baysio, known as Archidiaconus [&dagger;1313], archdeacon of Bologna
</strong>
<br>
<strong><i>Rosarium seu Apparatus ad Decretum</i></strong>
pr. [Strassburg 1473] (<i>GW</i> 
3744), &amp;c.; Schulte, 2. 187&ndash;8.

</li>

<li>
B117.&para;13: 
<strong>Dominicus de S. Geminiano [&dagger;1431/36]
</strong>
<br>
<strong><i>Commentarius in Librum sextum Decretalium</i></strong>
the two parts printed
together for the first time, Speyer [not after 1479] (<i>GW</i> 8648), &amp;c.; 
Schulte, 2. 295. [The first part was first printed at [Rome]: Sixtus 
Riessinger, [before 1470] (<i>GW</i> 8643), the second part at [Rome]: Adam Rot, 
1471 (<i>GW</i> 8644).] 

</li>

<li>
B117.&para;17: 
<strong>Henry Bohic [&dagger; after 1350]
</strong>
<br>
<strong><i>Distinctiones in libros V Decretalium</i></strong>
pr. Lyon 1498 (<i>GW</i> 
4964), &amp;c.; Schulte, 2. 266&ndash;70.

</li>

<li>
B117.18: 
<strong>Willelmus de Pagula [early 14th cent.]
</strong>
<br>
<strong><i>Summa summarum</i></strong>
unpr.; excerpts ed. L. E. Boyle, <i>Proceedings of 
Second Congress of Medieval Canon Law</i> (Vatican City 1965), 415&ndash;56; 
Bloomfield 0234; Sharpe, <i>Latin Writers</i>, 800.

</li>

<li>
B117.&para;19: 
<strong>Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</strong>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. Rome 1473 (<i>GW</i> 12231), &amp;c.; 
Schulte, 2. 125&ndash;7. [F. Soetermeer, `<i>Summa archiepiscopi</i> alias <i>Summa 
Copiosa</i>: some remarks on the medieval editions of the <i>Summa Hostiensis</i>', 
<i>Ius commune</i> 26 (1999) 1&ndash;25.]

</li>

<li>
B117.&para;22: 
<strong><i>Hortus sanitatis</i>, Latin tr.</strong>
pr. Mainz 1491 (Goff H486); Thorndike/Kibre 
5, 994. The original version is the German of Johannes von Cube.

<br>
</li>

<li>
B117.&para;24: 
<strong><i>Hortus uocabulorum</i></strong>
pr. by W. de Worde, Westminster 1500 (<i>STC</i> 13829), &amp;c.

<br>
</li>

<li>
B117.&para;26a: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
B117.&para;26b: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
B117.&para;27: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
B117.&para;28: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
B117.&para;29: 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
B117.&para;30: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i>, English tr. by William Caxton</strong>
pr. by W. Caxton, 
Westminster 1483 (<i>STC</i> 24873), &amp;c.

</li>

<li>
B117.&para;31: 
<strong><i>Noua legenda Anglie</i></strong>
pr. by W. de Worde, London 1516 (<i>STC</i> 4601); ed. 
C. Horstman, <i>Noua legenda Anglie</i> (Oxford 1901).

<br>
</li>

<li>
B117.&para;32: 
<strong><i>Regula S. Benedicti</i></strong>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
B117.&para;33: 
<strong>William Lyndwood [&dagger;1446]
</strong>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
B117.&para;34: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
B117.&para;35: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
B117.&para;37: 
<strong>Petrus de Anchorano [<i>c</i>1330&ndash;1416]
</strong>
<br>
<strong>Commentary on the Sext</strong>
pr. Lyon 1517 &amp;c.; Schulte, 2. 281.

</li>

<li>
B117.&para;38: 
<strong>Philippus Franchus de Franchis [&dagger;1471]
</strong>
<br>
<strong><i>Apparatus super Librum sextum Decretalium</i></strong>
pr. Venice 1499 (<i>GW</i>
10248), &amp;c.; Schulte, 2. 188&ndash;9.

</li>

<li>
B117.&para;39: 
<strong>Guido de Baysio, known as Archidiaconus [&dagger;1313], archdeacon of Bologna
</strong>
<br>
<strong><i>Apparatus ad Sextum</i></strong>
pr. Milan 1490 (<i>GW</i> 3743); Schulte, 
2. 188&ndash;9. [See also under <i>Liber Sextus</i>.]

</li>

<li>
B117.&para;40: 
<strong>Franciscus de Zabarellis (Francesco Zabarella) [1360&ndash;1417]
</strong>
<br>
<strong><i>Lectura super Constitutiones Clementinas</i></strong>
pr. [Rome <i>c.</i> 1468&ndash;9]
(Goff Z2), &amp;c.; Schulte, 2. 284.

</li>

<li>
B117.&para;41: 
<strong>Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</strong>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
B117.&para;42: 
<strong>Felinus Sandeus (Felino Maria Sandeo) [1444&ndash;1503]
</strong>
<br>
<span class="biblio_block">
G. Arrighi, <i>Felino Sandei (1444&ndash;1503), Canonista e Umanista</i>,
Accademia Lucchese di scienze lettore e arti, Studi e testi 23 (Lucca
1987).
</span>
<br>
<strong><i>Super Decretales</i></strong>
pr. Venice 1497&ndash;9 (Goff S142); Schulte, 2. 351.
But perhaps more likely the collection printed as commentary on the five 
books, ed. Jacques Mareshcal, [?Lyon 1513].

</li>

<li>
B117.&para;44a: 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Consilia</i></strong>
pr. [Strassburg 1475] (Goff P28), Ferrara 1475 
(Goff P29), &amp;c.; Schulte, 2. 313.

</li>

<li>
B117.&para;44b: 
<strong>Iohannes Calderinus (Giovanni Calderini) [&dagger;1365]
</strong>
<br>
<strong><i>Consilia</i></strong>
pr. Rome 1472 (<i>GW</i> 5898), &amp;c.; Schulte, 2. 251&ndash;2.

</li>

<li>
B117.&para;44c: 
<strong>Lodovico of Bologna [1381&ndash;1456]
</strong>
<br>
<strong><i>Consilia</i></strong>
pr. Bologna 1499 &amp;c.; Schulte, 2. 347.

</li>

<li>
B117.&para;45: 
<strong>Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</strong>
<br>
<strong><i>Nouellae in Decretales</i></strong>
pr. Venice 1489 (<i>GW</i> 1729), &amp;c.; pr. 
Venice 1581; Schulte, 2. 219&ndash;21. For the various recensions, see 
K. Pennington in <i>ZRG kan.</i> 74 (1988) 328&ndash;47.

</li>

<li>
B117.&para;&dagger;46: 
<strong>Iohannes Antonius de S. Georgio [1439&ndash;1509]
</strong>
<br>
<strong><i>Tractatus appellationum</i></strong>
pr. Como 1474 &amp;c.; Schulte, 2. 338&ndash;41.

</li>

<li>
B117.&para;47: 
<strong>Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</strong>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Strassburg 1512 &amp;c.; Schulte, 2. 125.

</li>

<li>
B117.&para;48: 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
B117.&para;49: 
<strong><i>Noua legenda Anglie</i></strong>
pr. by W. de Worde, London 1516 (<i>STC</i> 4601); ed. 
C. Horstman, <i>Noua legenda Anglie</i> (Oxford 1901).

<br>
</li>

<li>
B117.&para;50: 
<strong>Adam the Carthusian [early 15th cent.]
</strong>
<br>
<span class="biblio_block">
Sharpe, <i>Latin Writers</i>, 8&ndash;9.
</span>
<br>
<strong><i>Speculum spiritualium</i></strong>
&para;*pr. Paris 1510 (Moreau, 1. 1510); Sharpe, 
<i>Latin Writers</i>, 8&ndash;9, identified the writer as most probably Adam Horsley
OCarth (&dagger;1424). The Syon catalogue SS1.793 refers to the addition of
rubrics by Henry the Carthusian, identified by Sharpe, <i>Latin Writers</i>,
165, as Henry Rickmansworth OCarth (&dagger;1430/31).

</li>

<li>
B117.&para;53: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong>unspecified works
</strong>
</li>

<li>
B117.&para;54: 
<strong>William of Auvergne, known as Parisiensis [<i>c</i>1180&ndash;1249], bishop of Paris 
</strong>
<br>
<span class="biblio_block">
P. Viard in <i>DS</i> 6 (1967) 1182&ndash;92.
</span>
<br>
<strong><i>Opera</i></strong>
pr. [N&uuml;rnberg <i>c.</i> 1497] (<i>GW</i> 11862), &amp;c.; <i>Guillelmi
Alverni opera omnia</i> (Paris/Orleans 1674). [P. Glorieux in <i>Miscellanea 
moralia in honorem Arthur Janssen</i> (Louvain 1948), 551&ndash;65, on the 1674 
edition.]

</li>

<li>
B117.&para;55: 
<strong>Dominicus Nannus Mirabellius [fl. 1500]
</strong>
<br>
<strong><i>Polyanthea</i></strong>
pr. Savona 1503 &amp;c.

</li>

<li>
B117.&para;56: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>PL</i> 196. 887&ndash;992; ed. J. Ribaillier, Textes 
philosophiques du moyen &acirc;ge 6 (Paris 1958).

</li>

<li>
B117.&para;57: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Paris 1510 (Adams H549), &amp;c.

</li>

<li>
B117.&para;59: 
<strong>Lorenzo Iustiniano [1380&ndash;1456]
</strong>
<br>
<strong><i>Dottrina della uita monastica</i></strong>
pr. Venice 1494 (Goff J500).

</li>

<li>
B117.&para;60: 
<strong>Rupert of Deutz OSB [<i>c</i>1075&ndash;1129/30], abbot of Deutz
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Cologne: F. Birckmann, 1526&ndash;8 (Adams R916, R921, R928, 
R932, R935, R939, R941), &amp;c. [Birckman's edition is not described as <i>Opera</i>
but runs to seven vols. during the years 1526&ndash;9.]

</li>

<li>
B117.&para;61: 
<strong>Guillaume Pepin [&dagger;1533]
</strong>
<br>
<span class="biblio_block">
J. K. Farge, <i>Biographical Register of Paris Doctors of Theology 
1500&ndash;1536</i> (Toronto 1980), 364&ndash;7.
</span>
<br>
<strong><i>Expositio in Genesim</i></strong>
pr. Paris 1528. 

</li>

<li>
B117.&para;62: 
<strong>Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
by Raphael Volaterranus, pr. Rome 1515 (Adams B332),
&amp;c.; by various hands, Paris 1520, Cologne 1523, &amp;c.; tr. Janus Cornarius: pr.
Basel 1540 (Adams B336), &amp;c. 

</li>

<li>
B117.&para;63a: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De natura rerum</i></strong>
<i>CPL</i> 1343.

</li>

<li>
B117.&para;63b: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De schematibus et tropis</i></strong>
<i>CPL</i> 1567; ed. C. B. Kendall, <i>CCSL</i> 123A (1975) 151&ndash;71.

</li>

<li>
B117.&para;64: 
<strong>Angelomus of Luxeuil [&dagger;855], monk of Luxeuil
</strong>
<br>
<strong><i>Enarrationes in libros Regum</i></strong>
<i>PL</i> 115. 243&ndash;552; Stegm&uuml;ller 
<i>Bibl.</i> 1335&ndash;8.

</li>

<li>
B117.&para;65: 
<strong>Philippus Presbyter [&dagger;455/6]
</strong>
<br>
<strong>Commentary on Job</strong>
<i>CPL</i> 643.

</li>

<li>
B117.&para;66: 
<strong>Bruno [<i>c</i>1032&ndash;1101]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. [Paris:] Badius Ascensius [1524] (Moreau, 3. 624).

</li>

<li>
B117.&para;67: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Rome 1471 (<i>GW</i> 7883), &amp;c.

</li>

<li>
B117.&para;69: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong>Commentary on Job</strong>
<i>STO</i> 26. 1&ndash;230; Glorieux <i>R&eacute;p.</i> 14az; Stegm&uuml;ller 
<i>Bibl.</i> 8027.

</li>

<li>
B117.&para;70: 
<strong>Fulgentius of Ruspe [&dagger; <i>c</i>532], bishop of Ruspe
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Hagenau 1520 (Adams F1136) (with Ioannes Maxentius), &amp;c.

</li>

<li>
B117.&para;71: 
<strong>Philo Iudaeus [1st cent.]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Centum et duae quaestiones</i></strong>
pr. Paris 1520.

</li>

<li>
B117.&para;72: 
<strong><i>Statuta Angliae</i></strong>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

<li>
B117.&para;73a: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Strassburg 1519, &amp;c.; 
<i>PL</i> 117. 361&ndash;938; Stegm&uuml;ller <i>Bibl.</i> 3101&ndash;114.

</li>

<li>
B117.&para;73b: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>CPL</i> 910; <i>PL</i> 70. 1055&ndash;1106
(as Cassiodorus, with biblical quotations marked); <i>PL</i> 117. 295&ndash;358 (as 
Haimo); Stegm&uuml;ller <i>Bibl.</i> 3065, 3079.

</li>

<li>
B117.&para;74: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong>Commentary on the Minor prophets</strong>
<i>PL</i> 117. 11&ndash;294; Stegm&uuml;ller 
<i>Bibl.</i> 3088&ndash;99.

</li>

<li>
B117.&para;75: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong>Commentary on Revelation</strong>
<i>PL</i> 117. 937&ndash;1220 (as Haimo); Stegm&uuml;ller 
<i>Bibl.</i> 3072, 3122.

</li>

<li>
B117.&para;79: 
<strong>Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</strong>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
B117.&para;82: 
<strong>Robert Fabian [&dagger;1513]
</strong>
<br>
<strong><i>Prima pars cronecorum</i></strong>
pr. by R. Pynson, London 1516
(<i>STC</i> 10659). Or more likely the later edition, <i>Fabyans cronycle newly
printed</i>, London 1533 (<i>STC</i> 10660).

</li>

<li>
B117.&para;86: 
<strong><i>The Passyon of our Lorde</i>, tr. from French by Andrew Chertsey</strong>
pr. by W.
de Worde, London 1521 and 1532 (<i>STC</i> 14558&ndash;9).

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>60 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
