{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R8. Union catalogue by author and title, early 14th cent.</h3>
<em>59 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R8.&dagger;1 (`de numero', 2 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De numeris</i></strong>
unpr.; R. E. McNally, <i>Der irische Liber de numeris</i> 
(Munich 1957); Diaz 108; <i>CPPM</i> 2. 2674.

</li>

<li>
R8.2 (`de philosophia et eius partibus', II 24&ndash;31, 1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
R8.3 (7 copies) = K666.23: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De ecclesiasticis officiis</i></strong>
<i>CPL</i> 1207; ed. C. M. Lawson, <i>CCSL</i> 
113 (1989); Diaz 104.

</li>

<li>
R8.4 (2 copies) = K666.49: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Chronica</i></strong>
<i>CPL</i> 1205; ed. J. Martin, <i>CCSL</i> 112 (2003);  Diaz 112.

</li>

<li>
R8.5 (`de diuersitate canonum', 1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Epistula ad Massonem episcopum</i></strong>
<i>CPL</i> 1209; Diaz 124.

</li>

<li>
R8.&dagger;6 (`de uirtutibus et uiciis', <i>CPL</i> 1202) = K666.42: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De differentiis</i>, comprising <i>De differentiis uerborum</i> and <i>De
differentiis rerum</i></strong>
<i>CPL</i> 1187, 1202; Diaz 101. [The two works travel both 
separately and also together (as <i>De differentiis</i> Books I and II), but 
catalogue entries are not always distinct as to what is contained; <i>CPL</i> 
1202 is the more common; ed. M. A. Andr&eacute;s Sanz, <i>CCSL</i> 111A (2006); <i>CPL</i>
1187, ed. C. Cordo&ntilde;er (Paris 1992). The title is not necessarily 
distinguishable in catalogues from the much rarer <i>ps.</i> Isidore, <i>Liber 
differentiarum siue de proprietate sermonum</i>, <i>CPL</i> 1226; anonymous 
collections of <i>differentiae</i> are likely to be unidentifiable.] 

</li>

<li>
R8.7 (`ad Florenciam de miraculis Christi', 4 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De fide catholica contra iudaeos</i></strong>
<i>CPL</i> 1198; Diaz 113.

</li>

<li>
R8.8 (`liber explanacionum ``mirum est satis dilectissimi''$>', attrib.
   Isidore, 2 copies) = K666.25: 
<strong>Gregory of Elvira [&dagger; after 392], bishop of Elvira
</strong>
<br>
<strong>(attrib.), <i>De Salomone</i></strong>
<i>CPL</i> 555; ed. V. Bulhart, <i>CCSL</i> 69 (1967) 
253&ndash;9.

</li>

<li>
R8.9 (11 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
R8.10 (`de summo bono', 11 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
R8.11 (Book II, `de sapiencia', 3 copies) = K666.26: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
R8.12 (Book III, `de flagellis Dei', 2 copies) = K666.27: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
R8.13 (11 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De ortu et obitu patrum</i></strong>
<i>CPL</i> 1191; ed. C. Chaparro G&oacute;mez (Paris
1985); Diaz 103.

</li>

<li>
R8.14 (`de infancia puericia et aliis etatibus', XI 2, 1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
R8.15 (1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`Enigmata metrica'</strong>
unidentified.

</li>

<li>
R8.16 (`cathologus uirorum illustrium', 12 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De uiris illustribus</i></strong>
<i>CPL</i> 1206; Diaz 114.

</li>

<li>
R8.17 (`super uetus testamentum', up to 13 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
R8.18 (`repeticio nominum sanctorum patrum quid significent', 6 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De nominibus legis et euangelii siue Allegoriae</i></strong>
<i>CPL</i> 1190; Diaz 109.

</li>

<li>
R8.19 (13 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Synonyma</i></strong>
<i>CPL</i> 1203; ed. J. Elfassi, <i>CCCM</i> 111B (2009); Diaz 105.

</li>

<li>
R8.20 (`liber soliloquiorum', 12 copies, one of them B13.48c): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Synonyma</i></strong>
<i>CPL</i> 1203; ed. J. Elfassi, <i>CCCM</i> 111B (2009); Diaz 105.

</li>

<li>
R8.21 (attrib. Isidore, 4 copies) = K666.31: 
<strong>`Eusebius Gallicanus'
</strong>
<br>
<strong><i>Sermo de corpore et sanguine Domini</i> (<i>serm.</i> 17)</strong>
ed. F. Glorie,
<i>CCSL</i> 101 (1971) 195&ndash;208; <i>CPPM</i> 1. 4634 (Eusebius), 5307 (Isidore).

</li>

<li>
R8.&dagger;22 (`super cantica canticorum lib. 3', 2 copies) = K666.11: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>pseud.</i>]
<strong>Commentary on the Song of Songs</strong>
<i>CPL</i> 1220; Stegm&uuml;ller <i>Bibl.</i>
5266. [Based on Alcuin; too short to be described as three books.]

</li>

<li>
R8.23 (`de canonicis scripturis ueteris et noui testamenti', 
   5 copies) = K666.19: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>In libros ueteris et noui testamenti prooemia</i></strong>
<i>CPL</i> 1192; Diaz 102.

</li>

<li>
R8.24 (`epistola ad Orosium', pref., 3 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De nominibus legis et euangelii siue Allegoriae</i></strong>
<i>CPL</i> 1190; Diaz 109.

</li>

<li>
R8.25 (`de nominibus significatis legi et euangelii', 2 copies) = K666.18: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De nominibus legis et euangelii siue Allegoriae</i></strong>
<i>CPL</i> 1190; Diaz 109.

</li>

<li>
R8.&dagger;26 (`de patribus noui et ueteris testamenti', 3 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De nominibus legis et euangelii siue Allegoriae</i></strong>
<i>CPL</i> 1190; Diaz 109.

</li>

<li>
R8.27 (`liber differenciarum', 11 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De differentiis</i>, comprising <i>De differentiis uerborum</i> and <i>De
differentiis rerum</i></strong>
<i>CPL</i> 1187, 1202; Diaz 101. [The two works travel both 
separately and also together (as <i>De differentiis</i> Books I and II), but 
catalogue entries are not always distinct as to what is contained; <i>CPL</i> 
1202 is the more common; ed. M. A. Andr&eacute;s Sanz, <i>CCSL</i> 111A (2006); <i>CPL</i>
1187, ed. C. Cordo&ntilde;er (Paris 1992). The title is not necessarily 
distinguishable in catalogues from the much rarer <i>ps.</i> Isidore, <i>Liber 
differentiarum siue de proprietate sermonum</i>, <i>CPL</i> 1226; anonymous 
collections of <i>differentiae</i> are likely to be unidentifiable.] 

</li>

<li>
R8.28 (`super pentateuchum', 13 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
R8.29 (`de medicina et eius auctoribus', Book IV, 2 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
R8.30 (`de creatore et ordine creaturarum', 5 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ordine creaturarum</i></strong>
<i>CPL</i> 1189.

</li>

<li>
R8.31 (`contra iudeos', 5 copies, one of them B71.*48c): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De fide catholica contra iudaeos</i></strong>
<i>CPL</i> 1198; Diaz 113.

</li>

<li>
R8.32 (attrib. Isidore, 1 copy): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XII abusiuis saeculi</i></strong>
<i>CPL</i> 1106.

</li>

<li>
R8.33 (10 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De natura rerum</i></strong>
<i>CPL</i> 1188; Diaz 106.

</li>

<li>
R8.&dagger;34 (attrib. Isidore, 1 copy) = K666.45: 
<strong>Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</strong>
<br>
<strong><i>De operibus sex dierum</i></strong>
<i>PL</i> 189. 1515&ndash;70; Stegm&uuml;ller <i>Bibl.</i> 2251.

</li>

<li>
R8.35 (`sentencie', 5 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
R8.36 (`ad Florenciam de diuinitate', 3 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De fide catholica contra iudaeos</i></strong>
<i>CPL</i> 1198; Diaz 113.

</li>

<li>
R8.37 (`de libris ueteris testamenti'): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>In libros ueteris et noui testamenti prooemia</i></strong>
<i>CPL</i> 1192; Diaz 102.

</li>

<li>
R8.38 (1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`Super libros Virgilii'</strong>
unidentified.

</li>

<li>
R8.39 (`regula ad monachos', 3 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Regula monachorum</i></strong>
<i>CPL</i> 1868; Diaz 115.

</li>

<li>
R8.40 (`sintillarium', attrib. Isidore, 2 copies): 
<strong>Defensor of Ligug&eacute; [late 7th cent.]
</strong>
<br>
<strong><i>Liber scintillarum</i></strong>
<i>CPL</i> 1302; ed. H. M. Rochais, <i>CCSL</i> 117 (1957) 
1&ndash;234.

</li>

<li>
R8.&dagger;41 (`super uetus et nouum testamentum', 9 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>In libros ueteris et noui testamenti prooemia</i></strong>
<i>CPL</i> 1192; Diaz 102.

</li>

<li>
R8.42 (`super eptaticum', 5 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
R8.43 (`dialogus eius', attrib. Isidore by error in reading B71.48) = K666.37: 
<strong>Hugh of Amiens OSB [1080&ndash;1164], archbishop of Rouen
</strong>
<br>
<strong><i>Dialogi siue Quaestiones theologicae</i></strong>
<i>PL</i> 192. 1141&ndash;1248;
Sharpe, <i>Latin Writers</i>, 183.

</li>

<li>
R8.44&ndash;6, 48, 56, 59 (parts, up to 8 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
R8.47 (1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`Sermones'</strong>
unidentified.

</li>

<li>
R8.49 (2 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Epistula ad Massonem episcopum</i></strong>
<i>CPL</i> 1209; Diaz 124.

</li>

<li>
R8.50 (1 copy) = K666.46: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`De situ terre Ierosolimitane'</strong>
unidentified.

</li>

<li>
R8.51 (`de anima et eius septem sequenciis', 2 copies) = K666.36: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`Liber Isidori de anima'</strong>
unidentified.

</li>

<li>
R8.52 (1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`Sermo de ratione'</strong>
unidentified.

</li>

<li>
R8.53 (`a semetipso ad semetipsum', attrib. Isidore, 1 copy): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De unitate sanctae trinitatis</i></strong>
<i>CPL</i> 379; <i>CPPM</i> 2. 173.

</li>

<li>
R8.54 (`de stellis et diuersis rebus', III 60&ndash;71, 1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
R8.55 (2 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`De interpretatione hebraicorum nominum'</strong>
unidentified.

</li>

<li>
R8.57 BC4.42c: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>In libros ueteris et noui testamenti prooemia</i></strong>
<i>CPL</i> 1192; Diaz 102.

</li>

<li>
R8.58 (2 copies): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>dub.</i>]
<strong>`Orthographia'</strong>
unidentified.

</li>

<li>
R8.60 (attrib. Isidore): 
<strong>Theodulf of Orl&eacute;ans [&dagger;821]
</strong>
<br>
<strong><i>De ordine baptismatis</i></strong>
<i>PL</i> 105. 223&ndash;40.

</li>

<li>
R8.61 (`rethorica', II, 1 copy): 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>59 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
