{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K544. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K544: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3139_anchor">C. Sollius Apollinaris Sidonius [<i>c</i>432&ndash;<i>c</i>480], bishop of Clermont-Ferrand
</a>
<br>
<strong>&lt;&gt;, works reported from Gennadius, &sect; 68, and Vincent of Beauvais,
XXII 46.
</strong>
</li>

<li>
K544.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3139_anchor">C. Sollius Apollinaris Sidonius [<i>c</i>432&ndash;<i>c</i>480], bishop of Clermont-Ferrand
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 987; ed. A. Loyen (Paris 1970).

</li>

<li>
K544.10 (`panegirica id est laudes metrice', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3139_anchor">C. Sollius Apollinaris Sidonius [<i>c</i>432&ndash;<i>c</i>480], bishop of Clermont-Ferrand
</a>
<br>
<strong><i>Carmina</i></strong>
<i>CPL</i> 986; ed. A. Loyen (Paris 1960).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
