{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Merton College</h2><h3>UO67. Leland c. 1535</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO67.1: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
[<i>pseud.</i>]
<strong>Commentary on Acts</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7063, recording only
two copies, both English.

</li>

<li>
UO67.2: 
<strong>John Killingworth [&dagger;1445]
</strong>
<br>
<strong><i>Tabulae astronomicae</i></strong>
unpr.; Thorndike/Kibre 891, 1353; Sharpe,
<i>Latin Writers</i>, 270.

</li>

<li>
UO67.3: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De septem experimentis</i>, inc. `Accipe sanguinem draconis'</strong>
unpr.;
Thorndike/Kibre 24.

</li>

<li>
UO67.4: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De secretis naturae</i>, inc. `Interrogationi uestre de secretis
nature respondens uobis scribo'</strong>
unpr.; Singer 200; Thorndike/Kibre 
772.

</li>

<li>
UO67.5: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>Opus tertius</i></strong>
ed. J. S. Brewer, RS 15 (1859). The prefatory <i>Epistola
ad Clementem papam</i>, ed. E. Bettoni (Milan 1964).

</li>

<li>
UO67.7: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>Perspectiua</i>, part 5 of his <i>Opus maius</i></strong>
ed. D. C. Lindberg, 
<i>Roger Bacon and the Origins of Perspectiua in the Middle Ages</i> (Oxford 
1996).

</li>

<li>
UO67.8: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De fluxu et refluxu maris Anglici</i>, inc. `Visis effectibus'</strong>
unpr.;
Thorndike/Kibre 1703. Also attributed to Walter Burley, but apparently 
different from Adam of Exeter (<i>ps.</i> Grosseteste), <i>De fluxu et refluxu
maris</i>.

</li>

<li>
UO67.9: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>Opus maius</i></strong>
ed. J. H. Bridges (Oxford 1900).

</li>

<li>
UO67.10: 
<strong><i>Libellus de locis ubi sancti requiescunt in Anglia</i></strong>
ed. Leland, 
<i>Collectanea</i>, 40. 80&ndash;82; ed. F. Liebermann, <i>Die Heiligen Englands</i> 
(Hannover 1889), 2&ndash;20.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
