{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R21. Union catalogue by author and title, early 14th cent.</h3>
<em>31 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R21.1: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 50; ed. G. F. Diercks, <i>CCSL</i> 3B, 3C (1994&ndash;5). Copies
include most of the shorter treatises among the letters; see Rouse &amp; Rouse,
<i>Registrum</i>, 145.

</li>

<li>
R21.2: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De habitu uirginum</i></strong>
<i>CPL</i> 40.

</li>

<li>
R21.3: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De lapsis</i></strong>
<i>CPL</i> 42; ed. M. B&eacute;venot, <i>CCSL</i> 3 (1972) 217&ndash;42.

</li>

<li>
R21.4: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De catholicae ecclesiae unitate</i></strong>
<i>CPL</i> 41; ed. M. B&eacute;venot, <i>CCSL</i> 3
(1972) 243&ndash;68.

</li>

<li>
R21.5: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De dominica oratione</i></strong>
<i>CPL</i> 43; ed. C. Moreschini, <i>CCSL</i> 3A (1976) 87&ndash;113.

</li>

<li>
R21.6: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De mortalitate</i></strong>
<i>CPL</i> 44; ed. M. Simonetti, <i>CCSL</i> 3 (1972) 15&ndash;32.

</li>

<li>
R21.7: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De opere et eleemosynis</i></strong>
<i>CPL</i> 47; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 53&ndash;72.

</li>

<li>
R21.8: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Ad Demetrianum</i></strong>
<i>CPL</i> 46; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 33&ndash;51.

</li>

<li>
R21.9: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De bono patientiae</i></strong>
<i>CPL</i> 48; ed. C. Moreschini, <i>CCSL</i> 3A (1976) 115&ndash;33.

</li>

<li>
R21.10: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De zelo et liuore</i></strong>
<i>CPL</i> 49; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 73&ndash;86.

</li>

<li>
R21.11: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Ad Fortunatum de exhortatione martyrii</i></strong>
<i>CPL</i> 45; ed. R. Weber, 
<i>CCSL</i> 3 (1972) 183&ndash;212.

</li>

<li>
R21.12: 
<strong>Cyprian of Antioch [fl. 300]
</strong>
<br>
<strong><i>Confessio</i>, being the second book of the Acts of St Cyprian the Martyr</strong>
 ed. E. Mart&egrave;ne &amp; U. Durand, <i>Thesaurus nouus anecdotorum</i> (Paris 1717), 
3. 1629&ndash;46; <i>BHL</i> 2049.

</li>

<li>
R21.13: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De catholicae ecclesiae unitate</i></strong>
<i>CPL</i> 41; ed. M. B&eacute;venot, <i>CCSL</i> 3
(1972) 243&ndash;68.

</li>

<li>
R21.14: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Ad Quirinum</i></strong>
<i>CPL</i> 39; ed. R. Weber, <i>CCSL</i> 3 (1972) 1&ndash;179.

</li>

<li>
R21.15: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Quod idola dii non sint</i></strong>
<i>CPL</i> 57.

</li>

<li>
R21.16: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Ad Fortunatum de exhortatione martyrii</i></strong>
<i>CPL</i> 45; ed. R. Weber, 
<i>CCSL</i> 3 (1972) 183&ndash;212.

</li>

<li>
R21.17: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De opere et eleemosynis</i></strong>
<i>CPL</i> 47; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 53&ndash;72.

</li>

<li>
R21.18: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XII abusiuis saeculi</i></strong>
<i>CPL</i> 1106.

</li>

<li>
R21.19: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De habitu uirginum</i></strong>
<i>CPL</i> 40.

</li>

<li>
R21.20: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De mortalitate</i></strong>
<i>CPL</i> 44; ed. M. Simonetti, <i>CCSL</i> 3 (1972) 15&ndash;32.

</li>

<li>
R21.21: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De zelo et liuore</i></strong>
<i>CPL</i> 49; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 73&ndash;86.

</li>

<li>
R21.22: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De sacramento calicis</i> (<i>ep.</i> 63)</strong>
<i>CPL</i> 50; ed. W. Hartel, <i>CSEL</i> 3/2
(1871) 701&ndash;717.

</li>

<li>
R21.23: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De laude martyrii</i></strong>
<i>CPL</i> 58.

</li>

<li>
R21.24: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
[<i>dub.</i>]
<strong>`De elementis'</strong>
unidentified.

</li>

<li>
R21.25: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Ad Demetrianum</i></strong>
<i>CPL</i> 46; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 33&ndash;51.

</li>

<li>
R21.26&ndash;8: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
[<i>dub.</i>]
<strong>`Super epp. ad Romanos, Corinthios, Galathas'</strong>
unidentified.

</li>

<li>
R21.29: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>De lapsis</i></strong>
<i>CPL</i> 42; ed. M. B&eacute;venot, <i>CCSL</i> 3 (1972) 217&ndash;42.

</li>

<li>
R21.30: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Ad Donatum</i></strong>
<i>CPL</i> 38; ed. M. Simonetti, <i>CCSL</i> 3A (1976) 1&ndash;13.

</li>

<li>
R21.31: 
<strong>Cyprianus Gallus [early 5th cent.]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Cena Cypriani</i></strong>
<i>CPL</i> 1430; ed. K. Strecker, MGH <i>PLAC</i> 4/2. 
872&ndash;900; ed. C. Modesto (T&uuml;bingen 1992); L. Dolezalov&aacute;, <i>Reception and
its varieties: Reading, re-writing, and understanding Cena Cypriani in the
middle ages</i> (Trier 2007).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
