{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/P" title="PREMONSTRATENSIANS">PREMONSTRATENSIANS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/P/158" title="Bradsole">Bradsole</a>  &gt; Catalogue, late 13th cent.</p><h2>PREMONSTRATENSIANS: Bradsole</h2><h3 class="medieval_catalogue_desc">P2. Catalogue, late 13th cent.</h3>
<em>121 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
P2.2a: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
P2.3: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
P2.9: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Enarrationes in Psalmos</i></strong>
<i>CPL</i> 283; ed. E. Dekkers &amp; J. Fraipont, 
<i>CCSL</i> 38&ndash;40 (1956); ed. F. Gori, <i>CSEL</i> 93&ndash;95 (in progress), of which
Pss 119&ndash;50 have appeared, <i>CSEL</i> 95/3&ndash;5 (2001&ndash;5). [This title, now standard,
originated with Erasmus.]

</li>

<li>
P2.10: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
P2.18b: 
<strong>Bartholomew of Exeter [&dagger;1184], bishop of Exeter
</strong>
<br>
<strong><i>Poenitentiale</i></strong>
ed. A. Morey, <i>Bartholomew of Exeter</i> (Cambridge 1937),
175&ndash;313; Bloomfield 1159.

</li>

<li>
P2.&Dagger;25e (`de aduentu et nathali domini')
  R1.+219 (`de natali et aduentu domini', 4 copies): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Sermones</i> (<i>app.</i>) 115&ndash;128</strong>
<i>PL</i> 39. 1973&ndash;2001; <i>CPPM</i> 
1. 900&ndash;913. [See also Augustine, <i>Sermones in natali Domini</i>.]

</li>

<li>
P2.25c: 
<strong>Thomas de Nouiomago [?]
</strong>
<br>
<strong><i>Sermones</i></strong>
unidentified.

</li>

<li>
P2.25d (incomplete): 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
P2.25e (`sermones .&nbsp;. A. de aduentu et nathali domini'): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones in natali Domini</i> (<i>serm.</i> 184&ndash;196)</strong>
<i>CPL</i> 284; <i>PL</i> 38.
995&ndash;1021.

</li>

<li>
P2.26 (`super ewangelia et epistolas tocius anni'): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
P2.27a: 
<strong>John Halgrin of Abbeville [&dagger;1239]
</strong>
<br>
<span class="biblio_block">
J. Ribaillier, <i>DS</i> 8 (1974) 249&ndash;56.
</span>
<br>
<strong><i>Sermones de tempore</i></strong>
unpr.; Glorieux <i>R&eacute;p.</i> 113a; Schneyer <i>Rep.</i> 3. 510&ndash;523.

</li>

<li>
P2.27b: 
<strong>Richard Wetheringsett [13th cent.]
</strong>
<br>
<strong><i>Summa Qui bene praesunt</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 519; 
Bloomfield 4583.  [Almost always anonymous.]

</li>

<li>
P2.27d: 
<strong>Q. Aurelius Symmachus [<i>c</i>340&ndash;402]
</strong>
<br>
<strong><i>Epistolae</i></strong>
ed. O. Seeck, MGH <i>Auct. Antiq.</i> 6/1
(1883); Manitius, <i>HSS</i>, 195 no. 124.

</li>

<li>
P2.28: 
<strong>John Halgrin of Abbeville [&dagger;1239]
</strong>
<br>
<strong><i>Sermones de sanctis</i></strong>
unpr.; Glorieux <i>R&eacute;p.</i> 113a; Schneyer <i>Rep.</i> 3.
523&ndash;539.

</li>

<li>
P2.30 (`sermones cancellarii Parisiensis'): 
<strong>Philip the Chancellor (Philippe de Gr&egrave;ve) [&dagger;1236]
</strong>
<br>
<span class="biblio_block">
H. Meylan, in an unpublished thesis for the Ecole des chartes (1927), cited
by F. Ueberweg, <i>Grundriss der Geschichte der Philosophie</i>, ed. B. Geyer
(1923&ndash;8), 2. 730, distinguishes Philippus Cancellarius from Philippus de
Greva, with whom he has been customarily identified.
</span>
<br>
<strong><i>Sermones dominicales</i></strong>
unpr.; Schneyer <i>Rep.</i> 4. 818&ndash;25; 
Glorieux <i>R&eacute;p.</i> 119c.

</li>

<li>
P2.31: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
P2.32: 
<strong>John Halgrin of Abbeville [&dagger;1239]
</strong>
<br>
<strong><i>Sermones de tempore</i></strong>
unpr.; Glorieux <i>R&eacute;p.</i> 113a; Schneyer <i>Rep.</i> 3. 510&ndash;523.

</li>

<li>
P2.33: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>In epistulam Iohannis ad Parthos tractatus X</i></strong>
<i>CPL</i> 279; ed. P. 
Aga&euml;sse, SChr 75 (1984). [Some references to `A. de caritate' might be
the <i>Sermones de caritate</i>.]

</li>

<li>
P2.34a: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Enchiridion</i></strong>
<i>CPL</i> 295; ed. E. Evans, <i>CCSL</i> 46 (1969) 23&ndash;114.

</li>

<li>
P2.34b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De uera et falsa poenitentia</i></strong>
<i>PL</i> 40. 1113&ndash;1130; Bloomfield 4419.
[Perhaps by Gilbert the Minorite.]

</li>

<li>
P2.35a (attrib. Gregory): 
<strong>Ambrosius Autpertus [&dagger;781]
</strong>
<br>
<strong><i>De conflictu uitiorum et uirtutum</i></strong>
<i>PL</i> 17. 1057&ndash;74
&amp; under other authors; ed. R. Weber, <i>CCCM</i>  27B (1979) 907&ndash;31; Bloomfield 0455.

</li>

<li>
P2.&dagger;35b (`uersus Bernardi monachi'): 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Carmina</i></strong>
various verses and sequences are attributed to Bernard
of Clairvaux.

</li>

<li>
P2.36c&ndash;d (attrib. Bernard): 
<strong>William of Saint-Thierry OCist [1075/80&ndash;1148]
</strong>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
P2.&dagger;36a (`sentencie Ysidoris et Bernardi de Ierusalem celesti et 
   ciuibus eius'): 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Sermo de XII portis Ierusalem</i></strong>
<i>PL</i> 184. 1117&ndash;22.

</li>

<li>
P2.37: 
<strong>Pr&eacute;vostin of Cremona [<i>c</i>1135&ndash;1210]
</strong>
<br>
<span class="biblio_block">
G. Lacombe, <i>La vie et les oeuvres de Pr&eacute;vostin</i>, also titled <i>Prepositini 
Cancellarii Parisiensis opera omnia</i> 1, Biblioth&egrave;que Thomiste 11 (1927).
</span>
<br>
<strong><i>Summa de quaestionibus theologicis</i></strong>
Part I, ed. G.
Angelini, <i>L'Ortodossia e la grammatica</i>, Analecta Gregoriana 183 (Rome 1972),
191&ndash;303; Parts II&ndash;III, unpr.; Part IV, ed. D. E. Pilarczyk, <i>Praepositini
cancellarii de sacramentis et de nouissimis</i> (Rome 1964); Glorieux <i>R&eacute;p.</i> 109g;
Stegm&uuml;ller <i>Sent.</i> 699. [Chapters listed by Lacombe, 168&ndash;82.]

</li>

<li>
P2.38: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Dialogi</i></strong>
<i>CPL</i> 1713; ed. A. de Vog&uuml;&eacute;, SChr 251, 260, 265 (1978&ndash;80).

</li>

<li>
P2.39b: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Dialogi</i></strong>
<i>CPL</i> 1713; ed. A. de Vog&uuml;&eacute;, SChr 251, 260, 265 (1978&ndash;80).

</li>

<li>
P2.39c: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
P2.&dagger;39a (`Petrus Alphonsi'): 
<strong>Petrus Alfonsi [early 12th cent.]
</strong>
<br>
<strong><i>De disciplina clericali</i></strong>
<i>PL</i> 157. 671&ndash;706; ed. A. Hilka
&amp; W. S&ouml;derhjelm (Helsinki / Heidelberg 1911); Diaz 892.

</li>

<li>
P2.40a: 
<strong><i>Vitas patrum</i>. Collections with this common title invariably begin with
Rufinus's translation (often ascribed to Jerome) of the <i>Historia monachorum
in Aegypto</i> (<i>PL</i> 21. 387&ndash;462; ed. E. Schulz-Fl&uuml;gel [Berlin 1990]), and then
go on to include other Lives and <i>apophthegmata</i> of the type collected  and
published by H. Rosweyde and reprinted in <i>PL</i> vols. 73&ndash;4. Jerome's Lives
of St Paul the Hermit, St Hilarion, and St Malchus (<i>CPL</i> 617&ndash;19) also make
a frequent appearance. [See also <i>Historia monachorum in Aegypto</i>; Jerome,
<i>Liber adhortationum sanctorum patrum</i>.]
</strong>
<br>
</li>

<li>
P2.41: 
<strong>John Beleth [&dagger; after 1182]
</strong>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
P2.42b (`liber I. de dedicationis ecclesie'): 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>De ecclesiasticis sacramentis</i> (<i>serm.</i> 1&ndash;5)</strong>
<i>PL</i> 162. 505&ndash;62. [In
some copies <i>serm.</i> 4 <i>de dedicatione ecclesiae</i> precedes <i>serm.</i> 1, and in
such texts this title may be found to designate the whole group.]

</li>

<li>
P2.43: 
<strong>Maurice the Englishman [13th cent.]
</strong>
<br>
<strong><i>Distinctiones</i></strong>
part pr. as <i>Dictionarium Sacrae Scripturae</i>, Venice 
1603; Stegm&uuml;ller <i>Bibl.</i> 5566; Bloomfield 0088; Sharpe, <i>Latin Writers</i>, 374.

</li>

<li>
P2.45a, 46c, 47d: 
<strong>Defensor of Ligug&eacute; [late 7th cent.]
</strong>
<br>
<strong><i>Liber scintillarum</i></strong>
<i>CPL</i> 1302; ed. H. M. Rochais, <i>CCSL</i> 117 (1957) 
1&ndash;234.

</li>

<li>
P2.45b: 
<strong>John Beleth [&dagger; after 1182]
</strong>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
P2.46a (`summa magistri Petri Blesensis'): 
<strong>William de Montibus [&dagger;1213]
</strong>
<br>
<strong><i>Poeniteas cito</i></strong>
<i>PL</i> 207. 1153&ndash;6; ed. Goering, <i>William de Montibus</i>, 107&ndash;38;
Bloomfield 3812; <i>WIC</i> 13564.

</li>

<li>
P2.47a: 
<strong>Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</strong>
<br>
<strong><i>Elucidarius</i></strong>
<i>PL</i> 172. 1109&ndash;1176; ed. Y. Lef&egrave;vre, <i>L'Elucidarium et
les lucidaires</i>, Biblioth&egrave;que des &Eacute;coles fran&ccedil;aises d'Ath&egrave;nes et de Rome
180 (Paris 1954), 361&ndash;477.

</li>

<li>
P2.47b: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
P2.48: 
<strong>Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</strong>
<br>
<strong><i>Elucidarius</i></strong>
<i>PL</i> 172. 1109&ndash;1176; ed. Y. Lef&egrave;vre, <i>L'Elucidarium et
les lucidaires</i>, Biblioth&egrave;que des &Eacute;coles fran&ccedil;aises d'Ath&egrave;nes et de Rome
180 (Paris 1954), 361&ndash;477.

</li>

<li>
P2.50b: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Homiliae euangelii</i></strong>
<i>CPL</i> 1367; ed. D. Hurst, <i>CCSL</i> 122 (1955) 
1&ndash;378.

</li>

<li>
P2.51a: 
<strong>Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</strong>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
P2.52, 96d, 97a: 
<strong>Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</strong>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
P2.53: 
<strong>Thomas of Chobham [&dagger; after 1233]
</strong>
<br>
<strong><i>Summa confessorum</i></strong>
ed. F. Broomfield, <i>Analecta
mediaevalia Namurcensia</i> 25 (1968); Bloomfield 1145. [Anonymous copies after
1298 are more likely to be the work of John of Freiburg.]

</li>

<li>
P2.54a: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 890&ndash;94; ed. C. Moreschini, Teubner (2000). 
This title usually designates the five <i>opuscula sacra</i>.

</li>

<li>
P2.54b: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
P2.54c: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De spiritu et anima</i></strong>
pr, [Lauingen] 1472 (<i>GW</i> 2936), &amp;c.; <i>PL</i> 
40. 779&ndash;832; Bloomfield 4935. [There is no evidence to support the 
attribution of the work to Alcher of Clairvaux; on attibutions, D. Aschoff, 
`Der pseudo-augustinische Traktat <i>De spiritu et anima</i>', <i>Revue des &eacute;tudes 
augustinienne</i> 18 (1972) 293&ndash;4. See also above, Augustine ps. <i>De creatione 
primi hominis</i>, for c. 35.]

</li>

<li>
P2.54d (attrib. Augustine): 
<strong>Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</strong>
<br>
<strong><i>De uera innocentia ex operibus S. Augustini</i></strong>
<i>CPL</i> 525; 
ed. M. Gastaldo, <i>CCSL</i> 68A (1972) 257&ndash;365.

</li>

<li>
P2.55: 
<strong>William of Conches [<i>c</i>1080&ndash;1154]
</strong>
<br>
[<i>attrib.</i>]
<strong><i>Moralium dogma philosophorum</i></strong>
<i>PL</i> 171. 1007&ndash;1056; ed. J. R. Holmberg
(Uppsala 1929); Bloomfield 3095, 6088.

</li>

<li>
P2.56: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Orationes</i> and <i>Meditationes</i></strong>
<i>SAO</i> 3. 3&ndash;75, 76&ndash;91, for authentic
works. Manuscript collections varied widely and usually comprised both authentic
and pseudonymous texts; for a 12th-cent. example, see T. H. Bestul, <i> A Durham 
Book of Devotions</i> (Toronto 1987). <i>PL</i> 158. 709&ndash;820 is a compilation based
on later medieval collections; these tend to be far more extensive than those
of the 12th cent. [See also Wilmart, <i>Auteurs spirituels</i>, 147&ndash;216.]

</li>

<li>
P2.57: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Soliloquia</i></strong>
<i>CPL</i> 252; ed. W. H&ouml;rmann, <i>CSEL</i> 89 (1986) 3&ndash;98. [See
also Augustine ps., <i>Soliloquia animae ad Deum</i>; Ecbertus Schonaugiensis 
(<i>ps.</i> Augustine), <i>Soliloquium</i>.]

</li>

<li>
P2.59b: 
<strong>Frideswide
</strong>
<br>
</li>

<li>
P2.61: 
<strong><i>Hymnarium glosatum</i>, used as an instruction-book for novices
and often found with school-books</strong>
pr. Paris 1485 (Goff E154), &amp;c.;
pr. London [<i>c.</i> 1496] (<i>STC</i> 16111), &amp;c.; H. Gneuss, <i>Hymnar und Hymnen 
im englischen Mittelalter</i> (T&uuml;bingen 1968), 194&ndash;206; Hunt, <i>Teaching
Latin</i>, 1. 38&ndash;42.

<br>
</li>

<li>
P2.62a: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
P2.62b (`numerale'): 
<strong>William de Montibus [&dagger;1213]
</strong>
<br>
<strong><i>Numerale</i></strong>
unpr. apart from excerpts in Goering, <i>William de Montibus</i>, 227&ndash;60; Bloomfield 6161, 6163.

</li>

<li>
P2.63: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
P2.&dagger;65: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Liber interpretationis hebraicorum nominum</i></strong>
<i>CPL</i> 581; ed. P. de 
Lagarde, <i>CCSL</i> 72 (1959) 59&ndash;161; Lambert 201. [Anonymous texts usually 
indeterminate.]

</li>

<li>
P2.67 (`pars omeliarum beati Odonis de Cheriton .&nbsp;.'): 
<strong>Odo of Cheriton [&dagger;1247]
</strong>
<br>
<strong><i>Sermones</i></strong>
part pr. as <i>Flores sermonum</i>, Paris 1520 (Shaaber O39); 
Schneyer <i>Rep.</i> 4. 483&ndash;499.

</li>

<li>
P2.68 (`parabole eiusdem [O. de Cheriton]'): 
<strong>Odo of Cheriton [&dagger;1247]
</strong>
<br>
<strong><i>Parabolae</i></strong>
ed. Hervieux, 4. 173&ndash;255; Bloomfield 0449.

</li>

<li>
P2.69a: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
P2.69b: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De institutione nouiciorum</i></strong>
<i>PL</i> 176. 925&ndash;52; ed. H. B. Feiss &amp;
P. Sicard, Sous la r&egrave;gle de S. Augustin 3 (Turnhout 1997); Goy, 340&ndash;67.

</li>

<li>
P2.71: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Psalterium</i></strong>
<i>PL</i> 29. 119&ndash;397; Stegm&uuml;ller <i>Bibl.</i> 21.

</li>

<li>
P2.&dagger;72a: 
<strong>Geoffrey Babio du Louroux [&dagger;1158], archbishop of Bordeaux
</strong>
<br>
<strong><i>Sermones</i></strong>
more than fifty sermons are printed among those
attributed to Hildebert of Lavardin, <i>PL</i> 171. 343&ndash;950, others among
those attributed to John, archbishop of Rouen, <i>PL</i> 147. 27&ndash;62; J.-P. 
Bonnes, `Un des plus grands pr&eacute;dicateurs du XIIe si&egrave;cle: Geoffrey du
Loroux dit Geoffrey Babion', <i>RB</i> 56 (1945&ndash;6) 174&ndash;215;  
Schneyer <i>Rep.</i> 2. 150&ndash;59. [A. Wilmart, `Les sermons d'Hilbert', <i>RB</i> 47 
(1935) 12&ndash;51. Almost all of the sermons attributed to Hildebert in <i>PL</i> 
171 are the works of Geoffrey Babio, Peter Lombard, Peter Comestor or 
Maurice de Sully.] 

</li>

<li>
P2.74a: 
<strong>John of Cornwall [&dagger; after 1179]
</strong>
<br>
<strong><i>Eulogium ad Alexandrum III</i></strong>
<i>PL</i> 199. 1043&ndash;86; ed. N. M.
H&auml;ring, <i>Med. Stud.</i> 13 (1951) 256&ndash;300. [See also above, <i>De homine
assumpto</i>.]

</li>

<li>
P2.78: 
<strong>Petrus Riga [&dagger;1209]
</strong>
<br>
<strong><i>Aurora</i></strong>
ed. P. E. Beichner (Notre Dame, IN, 1965); Stegm&uuml;ller 
<i>Bibl.</i> 6823&ndash;5.

</li>

<li>
P2.79: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
P2.80: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
P2.81: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
P2.82 (`breuiarium extrauagancium'): 
<strong>Bernard of Pavia [&dagger;1213]
</strong>
<br>
<strong><i>Breuiarium extrauagantium</i>, now known as <i>Compilatio prima 
decretalium</i></strong>
ed. Agust&iacute;n, <i>Antiquae collectiones</i>, 9&ndash;353; part ed. E. 
Friedberg, <i>Quinque compilationes antiquae</i> (Leipzig 1882), 1&ndash;65; Kuttner, 
322&ndash;44. [Also known as <i>Iuste</i> from its opening words, `Iuste iudicate'.
The ordinary gloss is by Tancred of Bologna.] Entries listed here may
refer to more than one of the <i>compilationes</i>.

</li>

<li>
P2.83a: 
<strong>Goffredo di Trani [&dagger;1245]
</strong>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. [Cologne <i>c.</i> 1480] (<i>GW</i> 
10949), &amp;c.; Schulte, 2. 89&ndash;91.

</li>

<li>
P2.83b: 
<strong>Tancred of Bologna (Tancredi da Corneto) [&dagger; <i>c</i>1236]
</strong>
<br>
<strong><i>Ordo iudicarius</i></strong>
ed. F. Bergmann (G&ouml;ttingen 1842); Kuttner, 431&ndash;2.

</li>

<li>
P2.84: 
<strong>Tancred of Bologna (Tancredi da Corneto) [&dagger; <i>c</i>1236]
</strong>
<br>
<strong><i>Ordo iudicarius</i></strong>
ed. F. Bergmann (G&ouml;ttingen 1842); Kuttner, 431&ndash;2.

</li>

<li>
P2.85: 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>Panormia</i></strong>
<i>PL</i> 161. 1041&ndash;1344.

</li>

<li>
P2.86a: 
<strong>Benencasa of Arezzo [&dagger;1206]
</strong>
<br>
<strong><i>Casus Decretorum</i></strong>
unpr.; Kuttner, 229&ndash;30.

</li>

<li>
P2.&dagger;86b (anon.): 
<strong>Damasus of Bohemia [early 13th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DDC</i> 4. 1014&ndash;19.
</span>
<br>
<strong><i>Summa titulorum Extrauagantium</i></strong>
unpr.; Kuttner, 393&ndash;6.

</li>

<li>
P2.87 (`quinque libri breuiarii extrauagancium'): 
<strong>Bernard of Pavia [&dagger;1213]
</strong>
<br>
<strong><i>Breuiarium extrauagantium</i>, now known as <i>Compilatio prima 
decretalium</i></strong>
ed. Agust&iacute;n, <i>Antiquae collectiones</i>, 9&ndash;353; part ed. E. 
Friedberg, <i>Quinque compilationes antiquae</i> (Leipzig 1882), 1&ndash;65; Kuttner, 
322&ndash;44. [Also known as <i>Iuste</i> from its opening words, `Iuste iudicate'.
The ordinary gloss is by Tancred of Bologna.] Entries listed here may
refer to more than one of the <i>compilationes</i>.

</li>

<li>
P2.88: 
<strong>Bartholomew of Brescia [&dagger;1258]
</strong>
<br>
<strong><i>Glossa ordinaria in Decretum</i>, a revision of the work of Iohannes 
Teutonicus</strong>
pr. Venice 1496 &amp;c.; pr. Venice 1605; Schulte, 2. 86&ndash;87; Kuttner,
103&ndash;115.

</li>

<li>
P2.89a: 
<strong>Iohannitius (Hunayn ibn Ishaq al-`Ibadi) [809&ndash;873]
</strong>
<br>
<strong><i>Isagoge ad Artem paruam Galeni</i>, tr. Constantinus Africanus</strong>
 pr. Venice 1491 &amp;c.; ed. D. Garcia &amp; J. L. Vidal, <i>Asclepio</i> 26&ndash;27 (1974&ndash;5)
267&ndash;382; ed. G. Maurach, <i>Sudhoffs Archiv</i> 62 (1978) 148&ndash;74; Thorndike/Kibre 
856, 1352.

</li>

<li>
P2.89b: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>Aphorismata</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 
2678), &amp;c.; many versions are listed in <i>HL</i> 29&ndash;90.

</li>

<li>
P2.89c: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>Prognostica</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.; many versions are listed in <i>HL</i> 199&ndash;221.

</li>

<li>
P2.89d, 90: 
<strong>Philaretus [7th cent.]
</strong>
<br>
<strong><i>Liber pulsuum</i>, Latin tr.</strong>
pr. Venice 1483 &amp;c.; Thorndike/Kibre 764.

</li>

<li>
P2.89e, 90: 
<strong>Theophilus [7th cent.]
</strong>
<br>
<strong><i>Liber urinarum</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.; Thorndike/Kibre 393; <i>Lexicon der &Auml;rzte</i>, 5. 549.

</li>

<li>
P2.89f: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong><i>Tegni</i>, tr. ? Gerard of Cremona</strong>
pr. in <i>Articella</i> (Venice 1487), fols.
159&ndash;210; Thorndike/Kibre 1585 (prologue), 858 (text), 757 (commentary). [The
commentary by Haly ibn Ridwan (Thorndike/Kibre 757, 1585) is often found 
with the text.]

</li>

<li>
P2.90: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong><i>Tegni</i>, tr. ? Gerard of Cremona</strong>
pr. in <i>Articella</i> (Venice 1487), fols.
159&ndash;210; Thorndike/Kibre 1585 (prologue), 858 (text), 757 (commentary). [The
commentary by Haly ibn Ridwan (Thorndike/Kibre 757, 1585) is often found 
with the text.]

</li>

<li>
P2.91a, 120, 126a, 127a: 
<strong>Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</strong>
<br>
<strong><i>Viaticum</i></strong>
pr. Venice 1505 &amp;c.; pr. Lyon 1515, 2. 144r&ndash;171v (with the 
works of Isaac Judaeus); pr. Basel 1536, 1. 1&ndash;167 (with the works of 
Constantinus); Thorndike/Kibre 187, 334, 1298, 1357. [M. F. Wack, 
<i>Lovesickness in the Middle Ages. The Viaticum and its Commentaries</i> 
(Philadelphia, PA, 1990).]

</li>

<li>
P2.91b: 
<strong>Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</strong>
<br>
<strong><i>De dietis uniuersalibus et particularibus</i>, tr. Constantinus
Africanus or Gerard of Cremona</strong>
pr. Lyon 1515, 1. 11r&ndash;103r, 103r&ndash;156r;
Thorndike/Kibre 239, 1252.

</li>

<li>
P2.92a: 
<strong>Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</strong>
<br>
<strong><i>Liber urinarum</i>, tr. Constantinus Africanus</strong>
pr. Lyon 1515, 1. 
156r&ndash;203r; pr. from Pavia MS Aldini 449 by E. Fontana (Pisa 1966); 
Thorndike/Kibre 688, 1608.

</li>

<li>
P2.&dagger;92b: 
<strong>Nicholas of Salerno [early 12th cent.]
</strong>
<br>
<strong>(attrib.), <i>Electuaria</i></strong>
unpr.; Thorndike/Kibre 245.

</li>

<li>
P2.&dagger;93b (`summa magistri Alexandri de urinis'): 
<strong>Alexander of Tralles [early 6th cent.]
</strong>
<br>
<strong>(attrib.), <i>De agnoscendis febribus et pulsibus et urinis</i></strong>
ed. 
B. Nosske (Leipzig 1919), 7&ndash;25.

</li>

<li>
P2.&dagger;94 (anon.): 
<strong><i>Antidotarium Nicholai</i></strong>
pr. Venice 1471 (Goff N160), &amp;c.; Thorndike/Kibre 
165, 490.

<br>
</li>

<li>
P2.97a: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong><i>Methodus medendi ad Glauconem</i>, Latin tr.</strong>
pr. Venice 1490 (<i>GW</i> 
10481), 2. 445r&ndash;458v; Thorndike/Kibre 722, 1186, 1297.

</li>

<li>
P2.97b (`liber aureus', anon.): 
<strong>Iohannes Afflacius [late 11th cent.]
</strong>
<br>
<strong>(<i>ps.</i> Constantinus Africanus), <i>Liber aureus de remediorum
et aegritudinum cognitione</i></strong>
pr. Basel 1536, 168&ndash;207 (with the works of
Constantinus); Thorndike/Kibre 1447.

</li>

<li>
P2.97c (`summa dictaminum que dicitur aurea gemma'): 
<strong>Henricus Francigena [fl. 1115&ndash;1125]
</strong>
<br>
<strong><i>Aurea gemma</i></strong>
unpr.; Worstbrock 1. 70&ndash;79. The model
letters only ed. B. Odebrecht in <i>Archiv f&uuml;r Urkundenforschung</i> 14 (1936)
231&ndash;61.

</li>

<li>
P2.&Dagger;98c: 
<strong>Giles of Corbeil [<i>c</i>1140&ndash;1224]
</strong>
<br>
<strong><i>De urinis</i></strong>
ed. L. Choulant (Leipzig 1826), 1&ndash;18; Wickersheimer, 
196&ndash;7; <i>WIC</i> 4432. The usual commentary is that of Gilbertus Anglicus.

</li>

<li>
P2.&Dagger;99b (`cyrurgia'): 
<strong>Roland of Parma [fl. 1200]
</strong>
<br>
<strong><i>Chirurgia</i></strong>
ed. Renzi, 2. 497&ndash;724; Thorndike/Kibre 191, 856.

</li>

<li>
P2.&Dagger;99c: 
<strong>Roger Frugardi of Salerno [fl. 1170]
</strong>
<br>
<strong><i>Chirurgia</i></strong>
ed. Renzi, 2. 426&ndash;96; ed. K. Sudhoff, <i>Studien
zur Geschichte der Medizin</i> 12 (1918) 148&ndash;236; Thorndike/Kibre 1064 
(prologue), 191 (text).

</li>

<li>
P2.99a: 
<strong>Copho [fl. 1100]
</strong>
<br>
<strong><i>Practica</i></strong>
ed. Renzi, 4. 439&ndash;505; ed. R. Creutz, <i>Archiv f&uuml;r die
Geschichte der Medizin</i> 33 (1940&ndash;41) 249&ndash;338; Thorndike/Kibre 349.

</li>

<li>
P2.102 (`liber Ypocratis ad Cesarem de phisica in gallico'): 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Regimen sanitatis ad Caesarem</i>, French tr.</strong>
ed. A. B. Hunt,
<i>Popular Medicine in Thirteenth-Century England</i> (Cambridge 1990),
106&ndash;141; Dean 406.

</li>

<li>
P2.&dagger;103: 
<strong>P. Terentius Afer (Terence) [<i>c</i>195&ndash;159 BC]
</strong>
<br>
<strong><i>Comoediae</i></strong>
ed. R. Kauer &amp; W. M. Lindsay, OCT (1958<sup>2</sup>).

</li>

<li>
P2.&dagger;105: 
<strong>Q. Curtius Rufus [1st cent.]
</strong>
<br>
<strong><i>Historia Alexandri</i></strong>
pr. [Venice <i>c.</i> 1471] (<i>GW</i> 7871), &amp;c.; ed. 
K. M&uuml;ller &amp; H. Sch&ouml;nfeld (Munich 1954). [For anonymous entries, see 
also <i>Historia Alexandri magni</i>.]

</li>

<li>
P2.106 (`iij stacii magni'): 
<strong>P. Papinius Statius [AD <i>c</i>45&ndash;<i>c</i>96]
</strong>
<br>
<strong><i>Thebais</i> (`magnus')</strong>
pr. with <i>Achilleis</i>, [Rome <i>c.</i> 1470] (Rhodes 
1641), [Parma before 1473] (Goff S701), &amp;c.; ed. A. Klotz &amp; T. C. Klinnert, 
Teubner (1973<sup>2</sup>). 

</li>

<li>
P2.107: 
<strong>D. Iunius Iuuenalis (Juvenal) [<i>c</i>60&ndash;<i>c</i>130]
</strong>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
P2.108: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
<strong><i>De beneficiis</i></strong>
ed. C. Hosius, Teubner (1914).

</li>

<li>
P2.109: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
P2.110 (`liber unus qui sic incipit, ``Phebeyo domitus''$>'): 
<strong>Claudianus Claudius [&dagger; after 404]
</strong>
<br>
<strong><i>Claudianus maior</i>, comprising all the shorter poems except
<i>Panegyricus dictus Probino et Olybrio consulibus</i>, and often including also
the minor poems of doubtful authenticity</strong>
 ed. J. B. Hall, Teubner (1985), 12&ndash;288, 342&ndash;409. [Begins with <i>In Rufinum</i>, which may stand
as a title for the whole collection, as in FA8.485, P2.110.]

</li>

<li>
P2.111: 
<strong>Alexander de Villa Dei [<i>c</i>1170&ndash;<i>c</i>1240]
</strong>
<br>
<strong><i>Doctrinale magnum</i></strong>
ed. D. Reichling (Berlin 1893); <i>WIC</i> 17375.

</li>

<li>
P2.112: 
<strong>Q. Aurelius Symmachus [<i>c</i>340&ndash;402]
</strong>
<br>
<strong><i>Epistolae</i></strong>
ed. O. Seeck, MGH <i>Auct. Antiq.</i> 6/1
(1883); Manitius, <i>HSS</i>, 195 no. 124.

</li>

<li>
P2.113: 
<strong>Gervase of Pr&eacute;montr&eacute; OPrem [&dagger;1228]
</strong>
<br>
<strong><i>Epistolae</i></strong>
ed. C. L. Hugo (&Eacute;tival 1725), supplemented by C. R. 
Cheney, <i>BJRL</i> 33 (1950) 47&ndash;56.

</li>

<li>
P2.114b: 
<strong>Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 171. 141&ndash;312.

</li>

<li>
P2.&Dagger;115, 116a: 
<strong>Ranulf de Glanvill [&dagger;1190]
</strong>
<br>
<strong>(attrib.), <i>Tractatus de legibus et consuetudinibus regum
Angliae</i></strong>
ed. G. D. G. Hall (London 1965).

</li>

<li>
P2.117a: 
<strong>Brigit of Kildare
</strong>
<br>
</li>

<li>
P2.117b: 
<strong>Catherine of Alexandria
</strong>
<br>
</li>

<li>
P2.117c: 
<strong>Margaret of Antioch [See also ps. Theotimus, <i>Passio S. Margaretae</i>.]
</strong>
<br>
</li>

<li>
P2.119a: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Vita S. Pauli primi heremitae</i></strong>
<i>CPL</i> 617; Lambert 261.

</li>

<li>
P2.119b: 
<strong>Athanasius [<i>c</i>296&ndash;373], patriarch of Alexandria
</strong>
<br>
<strong><i>Vita S. Antonii</i>, tr. Evagrius</strong>
<i>CPG</i> 2101; <i>PG</i> 26. 833&ndash;976; <i>PL</i> 
73. 125&ndash;70; <i>BHL</i> 609. [The edition by H. Hoppenbrouwers, <i>Latinitas 
Christianorum primaeva</i> 14 (1960), presents an older Latin version.]

</li>

<li>
P2.119c: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Vita S. Hilarionis</i></strong>
<i>CPL</i> 618; Lambert 262.

</li>

<li>
P2.119d: 
<strong>Catherine of Alexandria
</strong>
<br>
</li>

<li>
P2.144b: 
<strong>Odo of Cheriton [&dagger;1247]
</strong>
<br>
<strong><i>Parabolae</i></strong>
ed. Hervieux, 4. 173&ndash;255; Bloomfield 0449.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>121 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
