{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K466. Catalogus, c. 1360</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K466.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2763_anchor">Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</a>
<br>
<strong><i>Epigrammata ex sententiis S. Augustini</i></strong>
<i>CPL</i> 526.

</li>

<li>
K466.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2763_anchor">Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</a>
<br>
<strong><i>De uera innocentia ex operibus S. Augustini</i></strong>
<i>CPL</i> 525; 
ed. M. Gastaldo, <i>CCSL</i> 68A (1972) 257&ndash;365.

</li>

<li>
K466.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1957_anchor">Iulianus Pomerius [early 6th cent.]
</a>
<br>
<strong><i>De uita contemplatiua</i></strong>
<i>CPL</i> 998.

</li>

<li>
K466.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Epistula Prosperi ad A.</i>, <i>Epistula Hilarii ad A.</i> (<i>epp.</i> 225&ndash;6)</strong>
 <i>PL</i> 33. 1002&ndash;1007, 1007&ndash;1012; ed. A. Goldbacher, <i>CSEL</i> 57 (1911) 454&ndash;81.

</li>

<li>
K466.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2763_anchor">Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</a>
<br>
<strong><i>Responsiones ad capitula obiectionum Gallorum calumniantium</i></strong>
<i>CPL</i> 520.

</li>

<li>
K466.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2763_anchor">Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</a>
<br>
<strong><i>Epistula ad Rufinum de gratia et libero arbitrio</i></strong>
<i>CPL</i> 516.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
