{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Guildhall</h2><h3>SH46. Bequest by Andrew Horn, 9 October 1328</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH46.*2a: 
<strong><i>Quadripartitus</i></strong>
ed. F. Liebermann, <i>Die Gesetze der Angelsachsen</i> (Halle
1898&ndash;1916), 1. 279&ndash;371 (1&ndash;2 Cn; other texts in chronological order); C. P.
Wormald &amp; R. Sharpe in <i>Law and Government in Medieval England and Normandy</i>,
edited by G. S. Garnett &amp; J. G. H. Hudson (Cambridge 1994), 111&ndash;72.

<br>
</li>

<li>
SH46.*2a: 
<strong><i>Statuta Angliae</i></strong>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

<li>
SH46.*2b: 
<strong><i>Britton</i></strong>
pr. London [?1533] (<i>STC</i> 3803), &amp;c.; ed. F. M. Nichols 
(Oxford 1865).

<br>
</li>

<li>
SH46.*2c: 
<strong><i>Le Mireur a justices</i></strong>
ed. W. J. Whittaker, Selden Soc. 7 (1895). 

<br>
</li>

<li>
SH46.3: 
<strong>Henry of Huntingdon [1084&ndash;1155]
</strong>
<br>
<strong><i>Historia Anglorum</i></strong>
ed. D. E. Greenway, OMT (1996).

</li>

<li>
SH46.*4: 
<strong><i>Statuta Angliae</i></strong>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

<li>
SH46.*4<sup>x</sup>: 
<strong><i>Exceptiones contra breuia</i></strong>
ed. G. E. Woodbine, <i>Four Thirteenth-Century Law Tracts</i> (London 1910), 163&ndash;83.

<br>
</li>

<li>
SH46.*4<sup>x</sup>: 
<strong><i>Laws of Oleron</i></strong>
ed. T. Twiss, <i>The Black Book of the Admiralty</i>, RS
55 (1871&ndash;6), 1. 88&ndash;130.

<br>
</li>

<li>
SH46.*4<sup>x</sup>: 
<strong>Ralph of Hengham [&dagger;1311]
</strong>
<br>
<strong>(attrib.), <i>Summa Fait assavoir</i></strong>
ed. G. E. Woodbine, <i>Four Thirteenth-Century Law Tracts</i>
(London 1910), 53&ndash;115.

</li>

<li>
SH46.*4<sup>x</sup>: 
<strong>Ralph of Hengham [&dagger;1311]
</strong>
<br>
<strong><i>Summa parua</i></strong>
ed. W. H. Dunham, <i>Radulphi de Hengham Summae</i> (Cambridge
1932), 51&ndash;71.

</li>

<li>
SH46.*4<sup>x</sup>: 
<strong><i>Seneschaucie</i>, an anonymous tract on management and accounting for
large estates</strong>
ed. D. Oschinsky, <i>Walter of Henley</i> (Oxford 1971), 75&ndash;112,
261&ndash;305; Dean 393.

<br>
</li>

<li>
SH46.*4<sup>x</sup>: 
<strong>Walter of Henley [fl. 1250]
</strong>
<br>
<strong><i>Hosebandrie</i></strong>
ed. D. Oschinsky, <i>Walter of Henley</i> (Oxford 1971), 
113&ndash;90, 307&ndash;385; Dean 394.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
