{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/99" title="Worcester">Worcester</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Worcester</h2><h3 class="medieval_catalogue_desc">B118. Leland, c. 1536-40</h3>
<em>16 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B118.1: 
<strong>Byrhtferth OSB [early 11th cent.], monk of Ramsey
</strong>
<br>
<strong><i>Vita S. Ecgwini</i></strong>
ed. J. A. Giles, <i>Vita quorundum Anglo-Saxonum</i> (sic), 
Caxton Soc. (1854), 349&ndash;96; <i>BHL</i> 2432.

</li>

<li>
B118.&dagger;2: 
<strong>Osbert of Clare OSB [&dagger; after 1139], monk of Westminster
</strong>
<br>
<strong><i>Vita S. Ethelberti</i></strong>
ed. J. E. B. Mayor, RS 30 (1863&ndash;9),
1. 262&ndash;94. The Life attributed to Osbert at <i>BHL</i> 2627 is older.

</li>

<li>
B118.*3: 
<strong>Nicholas of Ockham OFM [<i>c</i>1245&ndash;<i>c</i>1320]
</strong>
<br>
<strong><i>Sermones</i></strong>
reported in Worcester Cathedral, MS Q. 74; Little &amp; Pelster, 
98.

</li>

<li>
B118.*4: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

<li>
B118.*4<sup>x</sup>: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De poenitentia</i></strong>
<i>CPL</i> 156.

</li>

<li>
B118.*5: 
<strong>Senatus of Worcester OSB [&dagger;1207]
</strong>
<br>
<strong><i>Epistolae</i></strong>
unpr. apart from <i>ep.</i> 2, ed. C. H.
Turner, <i>Early Worcester Manuscripts</i> (Oxford 1916), xlv&ndash;li; Sharpe, <i>Latin
Writers</i>, 602&ndash;603.

</li>

<li>
B118.*6: 
<strong>John the Deacon of Rome [late 9th cent.]
</strong>
<br>
<strong><i>Vita S. Gregorii papae</i></strong>
<i>PL</i> 75. 59&ndash;242; <i>BHL</i> 3641&ndash;2.

</li>

<li>
B118.*7: 
<strong>Dunchad [9th cent.]
</strong>
<br>
<strong><i>Glossae in Martianum</i></strong>
ed. C. E. Lutz (Lancaster, PA, 1944); 
Lapidge/Sharpe 1182.

</li>

<li>
B118.*7<sup>x</sup>: 
<strong>Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</strong>
<br>
<strong>Commentary on Martianus Capella</strong>
ed. C. E. Lutz (Leiden 1962&ndash;5).

</li>

<li>
B118.*8: 
<strong>Theophilus [7th cent.]
</strong>
<br>
<strong><i>Liber urinarum</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.; Thorndike/Kibre 393; <i>Lexicon der &Auml;rzte</i>, 5. 549.

</li>

<li>
B118.*9: 
<strong>Leo the Great [<i>sedit</i> 440&ndash;461]
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>CPL</i> 1656.

</li>

<li>
B118.*10: 
<strong>`Aethicus Ister' (? Virgil of Salzburg)
</strong>
<br>
<strong><i>Cosmographia</i></strong>
<i>CPL</i> 2348; ed. H. Wuttke (Leipzig 1853); ed. O. 
Prinz, MGH <i>Quellen</i> 14 (1993); ed. M. W. Herren (Turnhout 2011).

</li>

<li>
B118.*11a: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De arte metrica</i></strong>
<i>CPL</i> 1565; ed. C. B. Kendall, <i>CCSL</i> 123A (1975) 81&ndash;141.

</li>

<li>
B118.*11b: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De schematibus et tropis</i></strong>
<i>CPL</i> 1567; ed. C. B. Kendall, <i>CCSL</i> 123A (1975) 151&ndash;71.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>16 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
