{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R46. Union catalogue by author and title, early 14th cent.</h3>
<em>5 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R46.1: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 207. 1&ndash;560; L. Wahlgren, <i>The Letter Collection of Peter
of Blois. Studies in the Manuscript Tradition</i>, Studia Graeca et Latina
Gothoburgensia 58 (1993).

</li>

<li>
R46.2: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Compendium in Iob</i></strong>
<i>PL</i> 207. 795&ndash;826;
Stegm&uuml;ller <i>Bibl.</i> 6431.

</li>

<li>
R46.3: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De transfiguratione Christi</i></strong>
<i>PL</i> 207. 777&ndash;92.

</li>

<li>
R46.4: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Sermones</i></strong>
<i>PL</i> 207. 559&ndash;776; Schneyer <i>Rep.</i> 4. 623&ndash;8.

</li>

<li>
R46.5: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De conuersione S. Pauli</i></strong>
<i>PL</i> 207. 791&ndash;6.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
