{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/52" title="Coventry">Coventry</a>  &gt; Books written by John de Bruges, c. 1240</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Coventry</h2><h3 class="medieval_catalogue_desc">B23. Books written by John de Bruges, c. 1240</h3>
<em>15 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B23.2: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on Isaiah</strong>
<i>PL</i> 116. 715&ndash;1086; Stegm&uuml;ller <i>Bibl.</i> 3083.

</li>

<li>
B23.8: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>dub.</i>]
<strong>`Super epistolas canonicas'</strong>
unidentified.

</li>

<li>
B23.9b: 
<strong><i>Regula S. Benedicti</i></strong>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
B23.9c: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
B23.12a: 
<strong>Palladius [4th cent.]
</strong>
<br>
<strong><i>De agricultura</i></strong>
pr. in <i>Scriptores rei rusticae</i>, Venice 1472 (Goff
S346), &amp;c.; ed. R. H. Rodgers, Teubner (1975).

</li>

<li>
B23.12b: 
<strong>Ildefonsus of Toledo [&dagger;667], bishop of Toledo
</strong>
<br>
<span class="biblio_block">
A. Braegelmann, <i>The Life and Writings of St Ildefonsus of Toledo</i>
(Washington, DC, 1942).
</span>
<br>
<strong><i>De uirginitate perpetua beatae Mariae</i></strong>
<i>CPL</i> 1247; ed. V. Yarza
Urquiola &amp; C. Codo&ntilde;er, <i>CCSL</i> 114A (2007); Diaz 223.

</li>

<li>
B23.13b: 
<strong>Helperic of Auxerre [9th cent.]
</strong>
<br>
<strong><i>Computus</i></strong>
<i>PL</i> 137. 17&ndash;48; on the manuscripts see L.
Traube in <i>Neues Archiv</i> 18 (1893) 71&ndash;105; P. McGurk, <i>Medium &AElig;vum</i>
43 (1974) 1&ndash;5..

</li>

<li>
B23.&dagger;13a (`librum experimentorum', anon.): 
<strong>Bernardus Silvestris [&dagger; after 1159]
</strong>
<br>
<strong><i>Experimentarius</i></strong>
ed. M. Brini-Savorelli, <i>Rivista critica di storia della
filosofia</i> 14 (1959) 306&ndash;342; Thorndike/Kibre 633, 1594. [C. S. F. 
Burnett in <i>AHDLMA</i> 44 (1977) 62&ndash;108.]

</li>

<li>
B23.14c: 
<strong>Geoffrey of Monmouth [&dagger;1154]
</strong>
<br>
<strong><i>Prophetia Merlini</i> (<i>Historia regum Britanniae</i> VII), often found separately</strong>
 ed. A. Griscom (London 1929), 383&ndash;97; ed. E. Faral, <i>La L&eacute;gende arturienne</i>
(Paris 1929), 3. 186&ndash;203. [= &sect;&sect; 106&ndash;118 in Faral's text of the <i>Historia regum Britanniae</i>.]

</li>

<li>
B23.22: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
B23.24a (`generaciones ueteris et noui testamenti'): 
<strong>Peter of Poitiers [<i>c</i>1130&ndash;1205]
</strong>
<br>
<strong><i>Genealogia historiarum</i></strong>
ed. P. S. Moore (Notre Dame, IN, 1936);
Stegm&uuml;ller <i>Bibl.</i> 6778; Glorieux <i>R&eacute;p.</i> 100f.

</li>

<li>
B23.24b: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B23.24c: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on the Psalms (<i>Parua glosatura</i>)</strong>
<i>GO</i> 2. 456&ndash;651; ed. Erasmus,
Freiburg 1533 (as the work of Haimo of Halberstadt), &amp;c.;<i>PL</i> 116. 193&ndash;696; 
Stegm&uuml;ller <i>Bibl.</i> 1357.

</li>

<li>
B23.28: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B23.29: 
<strong>Osbertus [?]
</strong>
<br>
<strong><i>Liber de statu ecclesiae</i></strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>15 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
