{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: Peterborough</h2><h3>BP10. Books given by Abbot Robert of Sutton (1263-74)</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
BP10.2: 
<strong>Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</strong>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
BP10.2: 
<strong>William of Rennes OP [fl. 1250]
</strong>
<br>
<strong><i>Apparatus</i> to Raymond of Pe&ntilde;afort, <i>Summa de casibus poenitentiae</i></strong>
 pr. Rome 1603, &amp;c.; Kaeppeli 1637.

</li>

<li>
BP10.3: 
<strong>Richard Fishacre OP [&dagger;1248]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
unpr. apart from prol. ed. R. J. Long
in <i>Med. Stud.</i> 34 (1972) 71&ndash;98; Sharpe <i>Latin Writers</i>, 477; Stegm&uuml;ller 
<i>Sent.</i> 718; Kaeppeli 3466.

</li>

<li>
BP10.4: 
<strong>Richard Wetheringsett [13th cent.]
</strong>
<br>
<strong><i>Summa Qui bene praesunt</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 519; 
Bloomfield 4583.  [Almost always anonymous.]

</li>

<li>
BP10.5a: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Templum Domini</i></strong>
ed. J. W. Goering &amp; F. A. C. Mantello (Toronto 1984);
Thomson, <i>Grosseteste</i>, 138&ndash;140; Bloomfield 5982.

</li>

<li>
BP10.5b: 
<strong>Willelmus Peraldus OP [&dagger;1261]
</strong>
<br>
<strong><i>De professione monachorum</i></strong>
ed. B. Pez, <i>Thesaurus
anecdotorum nouissimus</i> (Vienna 1721), 567&ndash;650; Kaeppeli 1624.

</li>

<li>
BP10.6a: 
<strong>John of Kent [&dagger;after 1213]
</strong>
<br>
<strong><i>Summa de poenitentia</i></strong>
unpr.; J. W. Goering, <i>BMCL</i> 18 (1988)
13&ndash;31; recorded anonymously, Bloomfield 0865, 4339; Sharpe, <i>Latin Writers</i>,
269&ndash;70.

</li>

<li>
BP10.7: 
<strong>Huguccio [&dagger;1210], bishop of Ferrara
</strong>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994).
</span>
<br>
<strong><i>Summa super Decreta</i></strong>
unpr.; Schulte, 1. 156&ndash;70; Kuttner, 
155&ndash;60. 

</li>

<li>
BP10.8: 
<strong>Goffredo di Trani [&dagger;1245]
</strong>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. [Cologne <i>c.</i> 1480] (<i>GW</i> 
10949), &amp;c.; Schulte, 2. 89&ndash;91.

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>De anima</i>, Latin tr.</strong>
pr. Padua 1472 (<i>GW</i> 2349), &amp;c.; Thorndike/Kibre 
179, 1271. [Versions by James of Venice and William de Moerbeke are planned to 
appear, <i>AL</i> 12/1&ndash;2; 

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>De caelo et mundo</i>, Latin tr.</strong>
to appear, <i>AL</i> vol. 8/1&ndash;2. [The
translation by Robert Grosseteste was not generally known; William de 
Moerbeke's version circulated in three redactions, of which the second was
most widely received; ed. F. Bossier, <i>AL Database</i> 1 (2003).]

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>De generatione et corruptione</i>, <i>translatio uetus</i></strong>
ed. J. Judycka, 
<i>AL</i> 9/1 (1986); Thorndike/Kibre 374. Another translation by William of
Moerbeke, which circulated widely, ed. J. Judycka, <i>AL Database</i> 1 (2003)..

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>De longitudine et breuitate uitae</i>, tr. James of Venice</strong>
to 
appear, <i>AL</i> vol. 16; Thorndike/Kibre 372. The title `De morte et
uita' refers to a truncated version of the text which circulated as
part of the <i>corpus uetustius</i>.

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>De sensu et sensato</i>, Latin tr.</strong>
ed. L. Peeters, <i>AL</i> 13 (forthcoming);
Thorndike/Kibre 1262. 

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Libri naturales</i>, a collection comprising Aristotle's <i>Physica</i>,
<i>De generatione et corruptione</i>, <i>De caelo</i>, <i>Meteora</i> I&ndash;III, <i>De plantis</i>,
and the <i>pseudo</i>-Aristotelian <i>Liber de causis</i> and <i>De differentia spiritus
et animae</i>; in the late 13th cent. new translations from Greek were substituted
for those from Arabic</strong>
<i>AL Codd.</i> 1. 49&ndash;51 for analysis.

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Meteora</i>, Latin tr.</strong>
to appear, <i>AL</i> 10/1; Thorndike/Kibre 1076. 
Another translation by William of Moerbeke: ed. G. Vuillemin-Diem, <i>AL</i> 10/2 
(2008); Thorndike/Kibre 386. Copies of Book IV alone may be the translation 
by Henricus Aristippus, ed. E. Rubino, to appear, <i>AL</i> 10/1 (Thorndike/Kibre 
1298).

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Physica</i>, tr. James of Venice</strong>
ed. F. Bossier &amp; J. Brams, <i>AL</i> 7/1 
(1990).
Other translations:&ndash; <i>Translatio Vaticana</i>: ed. A. Mansion, <i>AL</i> 7/2 (1990).
Tr. Gerard of Cremona: to appear, <i>AL</i> 7/3. Tr. Michael Scot (<i>translatio
noua</i>): to appear, <i>AL</i> 7/4.

</li>

<li>
BP10.9: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Liber de causis</i>, Latin tr.</strong>
ed. A. Pattin in <i>Tijdschrift voor 
Filosofie</i> 28 (1966) 90&ndash;203; the text is also printed with the edition 
of Aquinas's commentary, ed. H. D. Saffrey (Fribourg/Louvain 1954); 
Thorndike/Kibre 996; <i>PAL</i> 18&ndash;20 (no. 13). The work is largely extracted 
from Proclus's <i>Elementatio theologica</i>, and Albertus Magnus names the
compiler as David Iudaeus. Copies are often said to be accompanied by 
a commentary, `Cum ergo remouet causa secunda uniuersalis', attributed
to Alfarabius and to other writers; these passages are in fact 
demonstrations added by the compiler. 

</li>

<li>
BP10.9: 
<strong>Nicholas of Damascus [<i>c</i>64 BC&ndash;?]
</strong>
<br>
<strong><i>De uegetabilibus et plantis</i>, tr. Alfred of Shareshill</strong>
ed. E. H. F. 
Meyer (Leipzig 1841); Thorndike/Kibre 1587, 1705.

</li>

<li>
BP10.9: 
<strong>William of Conches [<i>c</i>1080&ndash;1154]
</strong>
<br>
<strong><i>De philosophia mundi</i></strong>
<i>PL</i> 90. 1127&ndash;78 and <i>PL</i> 172.
41&ndash;102; ed. G. Maurach (Pretoria 1980).

</li>

<li>
BP10.10: 
<strong>Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</strong>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
BP10.10b: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
BP10.12: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
BP10.14a: 
<strong>Henry of Avranches [&dagger;1260]
</strong>
<br>
<strong><i>Versus de uita S. Thomae</i></strong>
ed. Russell &amp; Heironimus, 37&ndash;43;
<i>BHL</i> 8226. The attribution to Henry of <i>Vita et passio S. Thomae</i> (<i>BHL</i> 
8225, 8229) is insecure.

</li>

<li>
BP10.14b: 
<strong>Henry of Avranches [&dagger;1260]
</strong>
<br>
<strong><i>Vita metrica S. Oswaldi</i></strong>
ed. D. R. Townsend, <i>Mediaeval Studies</i> 
56 (1994) 1&ndash;65; <i>BHL</i> 6365d.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
