{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/395" title="Merton College">Merton College</a>  &gt; Books assigned to the warden's study, 1483</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Merton College</h2><h3 class="medieval_catalogue_desc">UO55. Books assigned to the warden's study, 1483</h3>
<em>25 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO55.3: 
<strong>Iohannes de Deo [&dagger;1267]
</strong>
<br>
<strong><i>Cauillationes</i></strong>
pr. with Willelmus Durandus, <i>Speculum iudiciale</i>,
Venice 1566; Diaz 1280; Schulte, 2. 104&ndash;6.

</li>

<li>
UO55.5: 
<strong>Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</strong>
<br>
<strong>Commentary on Boethius's <i>Philosophiae consolatio</i></strong>
unpr.; dedication, 
ed. R. J. Dean, <i>Studies in Philology</i> 63 (1966) 600&ndash;603; extracts in 
<i>Chaucer's Boece and the Medieval Tradition of Boethius</i>, ed. A. J. Minnis
(Cambridge 1993), 35&ndash;91; Kaeppeli 3134.

</li>

<li>
UO55.10: 
<strong>Petrus Elias [mid 12th cent.]
</strong>
<br>
<strong><i>Summa in Priscianum</i></strong>
ed. L. A. Reilly, Studies and Texts 113 (Toronto 1993).

</li>

<li>
UO55.14: 
<strong>William of Tournai [late 13th cent.]
</strong>
<br>
<strong><i>Flores Bernardi</i></strong>
unpr.; Bloomfield 1155.

</li>

<li>
UO55.19: 
<strong><i>Statuta Angliae</i></strong>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

<li>
UO55.21: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De spiritu et anima</i></strong>
pr, [Lauingen] 1472 (<i>GW</i> 2936), &amp;c.; <i>PL</i> 
40. 779&ndash;832; Bloomfield 4935. [There is no evidence to support the 
attribution of the work to Alcher of Clairvaux; on attibutions, D. Aschoff, 
`Der pseudo-augustinische Traktat <i>De spiritu et anima</i>', <i>Revue des &eacute;tudes 
augustinienne</i> 18 (1972) 293&ndash;4. See also above, Augustine ps. <i>De creatione 
primi hominis</i>, for c. 35.]

</li>

<li>
UO55.22: 
<strong>Walter of Ch&acirc;tillon [late 12th cent.]
</strong>
<br>
<strong><i>Alexandreis</i></strong>
<i>PL</i> 209. 463&ndash;572; ed. M. L. Colker
(Padua 1978).

</li>

<li>
UO55.23: 
<strong>Walter of Ch&acirc;tillon [late 12th cent.]
</strong>
<br>
<strong><i>Alexandreis</i></strong>
<i>PL</i> 209. 463&ndash;572; ed. M. L. Colker
(Padua 1978).

</li>

<li>
UO55.23b: 
<strong>Claudianus Claudius [&dagger; after 404]
</strong>
<br>
<strong><i>Claudianus maior</i>, comprising all the shorter poems except
<i>Panegyricus dictus Probino et Olybrio consulibus</i>, and often including also
the minor poems of doubtful authenticity</strong>
 ed. J. B. Hall, Teubner (1985), 12&ndash;288, 342&ndash;409. [Begins with <i>In Rufinum</i>, which may stand
as a title for the whole collection, as in FA8.485, P2.110.]

</li>

<li>
UO55.24: 
<strong>Theodulus [?9th cent.]
</strong>
<br>
<strong><i>Ecloga</i></strong>
ed. J. Osternacher (Linz/Urfahr 1902); ed. F. Mosetti
Casaretto, Per Verba 5 (Florence 1997); <i>WIC</i> 664. [For commentaries 
see <i>CTC</i> 2. 303&ndash;348.]

</li>

<li>
UO55.&dagger;27: 
<strong>Henry Bracton [&dagger;1268]
</strong>
<br>
<strong>(attrib.), <i>De legibus et consuetudinibus Angliae</i></strong>
ed. G. E.
Woodbine &amp; S. E. Thorne (Cambridge, MA, 1968&ndash;77<sup>2</sup>).

</li>

<li>
UO55.29: 
<strong>Witelo [13th cent.]
</strong>
<br>
<strong><i>Perspectiua</i></strong>
pr. N&uuml;rnberg 1535 &amp;c.; ed. F. Risner, <i>Opticae 
thesaurus</i> (Basel 1572); Thorndike/Kibre 1689. [An edition was begun by
S. Ungaru &amp; M. Smith, Studia Copernicana 15, 21, 28 (1977&ndash;91), covering
Books I&ndash;III and V of the ten books.]

</li>

<li>
UO55.30: 
<strong>Thomas Waleys OP [&dagger;1350]
</strong>
<br>
[<i>app.</i>]
<strong>`Tabula super lecturam Waleys'</strong>
unidentified.

</li>

<li>
UO55.33: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
UO55.36: 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
[<i>dub.</i>]
<strong>`Liber Pecham de gradibus formarum'</strong>
not identified. Might it be the
<i>quaestio</i> by Richard Middleton?

</li>

<li>
UO55.38: 
<strong>Gerard [#unkn.#]
</strong>
<br>
<strong>`Determinatio de uisione beatifica'</strong>
not identified.

</li>

<li>
UO55.39: 
<strong>Diego Perez de Valencia OESA [<i>c</i>1408&ndash;1490]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
pr. Valencia 1484 (Goff P276), &amp;c.; 
Stegm&uuml;ller <i>Bibl.</i> 3983.  [Sometimes confused with Thomas Waleys, <i>Expositio 
super duos nocturnos Psalterii</i>

</li>

<li>
UO55.40: 
<strong>Thomas of York OFM [&dagger; by 1269]
</strong>
<br>
<strong>(attrib.) <i>Manus que contra Omnipotentem tenditur</i></strong>
ed. M. Bierbaum,
<i>Bettelorden und Weltgeistlichkeit an der Universit&auml;t Paris</i>, <i>Franziskanische
Studien</i>, Beiheft 2 (M&uuml;nster 1920), 36&ndash;168; F. Pelster in <i>AFH</i> 15 (1922) 
3&ndash;22; Glorieux <i>Th.</i> 306b.

</li>

<li>
UO55.44: 
<strong>`Ambrosiaster' [fl. 370]
</strong>
<br>
<strong><i>Quaestiones ueteris et noui testamenti</i></strong>
<i>CPL</i> 185.

</li>

<li>
UO55.48: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Oeconomica</i>, tr. Leonardo Bruni</strong>
pr. together with Bruni's
commentary, [Verona <i>c.</i> 1471&ndash;2] (<i>GW</i> 2435), &amp;c.; preface, ed. H. Baron,
<i>Leonardo Bruni</i> (Berlin 1928), 120&ndash;21.

</li>

<li>
UO55.52: 
<strong>Martin of Troppau OP [&dagger;1278]
</strong>
<br>
<strong><i>Margarita Decreti</i></strong>
pr. [Cologne] 1481 (<i>CIBN</i> M177), &amp;c.; 
Kaeppeli 2973.

</li>

<li>
UO55.56: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>PL</i> 196. 887&ndash;992; ed. J. Ribaillier, Textes 
philosophiques du moyen &acirc;ge 6 (Paris 1958).

</li>

<li>
UO55.59: 
<strong>John Beleth [&dagger; after 1182]
</strong>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
UO55.61: 
<strong>Geoffrey de Vinsauf [&dagger; after 1200]
</strong>
<br>
<strong><i>Poetria noua</i></strong>
ed. E. Faral, <i>Les Arts po&eacute;tiques du XIIe et XIIIe 
si&egrave;cle</i> (Paris 1924), 197&ndash;262.

</li>

<li>
UO55.64: 
<strong>Richard Swineshead [&dagger; after 1354]
</strong>
<br>
<strong><i>Calculationes</i></strong>
pr. Padua [<i>c</i>1477] (Goff S830),&amp;c.; extracts, ed.
E. D. Sylla, <i>The Oxford Calculators and the Mathematics of Motion 1320&ndash;1350</i>
(New York, NY, 1991),648&ndash;714; M. Clagett, <i>The Science of Mechanics in the 
Middle Ages</i> (Madison, WI, 1959), 298&ndash;304; Sharpe, <i>Latin Writers</i>, 513. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>25 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
