{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Secular Colleges: London, Whittington's College</h2><h3>SC264. Bequest by Edward Lupton, 19 October 1482</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC264.1&ndash;2: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
SC264.1&ndash;2: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
SC264.3: 
<strong><i>Biblia sacra</i> with the <i>Glossa ordinaria</i></strong>
pr. [Strassburg not after 1480]
(<i>GW</i> 4282) / repr. with introduction by K. Froehlich &amp; M. T. Gibson, Turnhout 
1992.

<br>
</li>

<li>
SC264.4: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
