{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: Boston guild</h2><h3 class="medieval_catalogue_desc">SH4. Inventory of goods, 1523 &times; 1524</h3>
<em>5 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH4.&para;2: 
<strong>Iohannes Herolt OP [&dagger;1468]
</strong>
<br>
<strong><i>Sermones Discipuli</i></strong>
pr. Cologne 1474 (<i>GW</i> 12340), &amp;c.; Kaeppeli 2387.

</li>

<li>
SH4.4: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
SH4.5: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
SH4.26: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
SH4.199: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
