{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Merton College</h2><h3>UO59. Books received from William Romsey and others, 2 Aug. 1494.</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO59.*1: 
<strong>Pierre Bersuire [<i>c</i>1290&ndash;1362]
</strong>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Reductorium morale super totam Bibliam</i>, the sixteenth book of 
his <i>Reductorium morale</i>, which circulated widely on its own</strong>
pr. as 
<i>Liber Bibliae moralis</i>, Ulm 1474 (<i>GW</i> 3862), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
6426. 

</li>

<li>
UO59.*2: 
<strong>Petrus Aureoli OFM [&dagger;1322]
</strong>
<br>
<strong><i>Compendium litterale totius scripture</i></strong>
pr. [Strassburg not after 1476]
(<i>GW</i> 3077), &amp;c.; pr. Quaracchi 1896; Glorieux <i>R&eacute;p.</i> 351h; Stegm&uuml;ller 
<i>Bibl.</i> 6422.

</li>

<li>
UO59.*2<sup>x</sup>: 
<strong>William Norton OFM [fl. 1400]
</strong>
<br>
<strong><i>Tabula super doctorem de Lyra</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 795.

</li>

<li>
UO59.*3: 
<strong>Bernard de Gordon [&dagger; <i>c</i>1320]
</strong>
<br>
<strong><i>De conseruatione uitae humanae</i></strong>
pr. Lyon 1574, 669&ndash;855;
L. E. Dema&icirc;tre, <i>Doctor Bernard de Gordon, Professor and Practitioner</i> (Toronto
1980), 176&ndash;7; Thorndike/Kibre 637 (<i>De phlebotomia</i>), 433 (<i>De urinis</i>), 
1150 (<i>De pulsibus</i>), 1420 (<i>Regimen sanitatis</i>). The four parts are often 
found separately.

</li>

<li>
UO59.*3: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De lapsu uirginis consecratae</i> (<i>ps.</i> Ambrose, <i>ps.</i> Jerome)</strong>
<i>CPL</i> 
651; <i>CPPM</i> 2. 3580. Possibly the work of Nicetas of Remesiana. [See also 
Ambrose, <i>De uirginitate</i>.]

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De agone christiano</i></strong>
<i>CPL</i> 296.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Sermones XVII in Psalmum XC Qui habitat</i></strong>
<i>SBO</i> 4. 383&ndash;492.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Magnificat seu Sermo in canticum beatae Mariae uirginis</i></strong>
<i>PL</i> 184.
1121&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1731. [See also ps. Hugh of Saint-Victor,
<i>Expositio in canticum beatae Mariae uirginis</i>.]

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Eucherius [&dagger;449], bishop of Lyon
</strong>
<br>
<strong><i>Formulae spiritualis intelligentiae</i></strong>
<i>CPL</i> 488; ed. C. Wotke, 
<i>CSEL</i> 31 (1894) 3&ndash;62; ed. C. Mandolfo, <i>CCSL</i> 66 (2005); Stegm&uuml;ller 
<i>Bibl.</i> 2257&ndash;8; <i>CPPM</i> 2. 675. [An excerpt from this circulated as `de 
essentia diuinitatis' under the names of Ambrose, Augustine, and Jerome: 
<i>PL</i> 42. 1199&ndash;1208; <i>CPPM</i> 2. 35, 172, 863.]

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<span class="biblio_block">
B. Roth, <i>Franz von Mayronis OFM. Sein Leben, seine Werke, seine Lehre 
vom Formalunterschied in Gott</i>, Franziskanische Forschungen 3 (1936);
H. Rossmann, <i>Die Hierarchie der Welt: Gestalt und System des Franz
von Meyronnes OFM mit besonderer Ber&uuml;cksichtigung seiner 
Sch&ouml;pfungslehre</i>, Franziskanische Forschungen 23 (1972).
</span>
<br>
<strong><i>De indulgentiis</i></strong>
pr. Basel 1498 (Goff M94); Roth, <i>Franz von 
Mayronis</i>, 236&ndash;9; Bloomfield 4895.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Henricus de Langenstein [<i>c</i>1325&ndash;1397]
</strong>
<br>
<strong><i>Epistola consolatoria ad Eckardum episcopum super obitu fratris 
ipsius</i></strong>
ed. G. Sommerfeldt in <i>Historisches Jahrbuch</i> 30 (1909) 298&ndash;307;
Bloomfield 0552, 2579. Two other letters, Bloomfield 0545, 2539 and 3965.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De Balac et Balaam</i> (<i>Miscellanea</i> I 99)</strong>
<i>PL</i> 177. 529&ndash;32; Goy,
452&ndash;7.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Conturbatio animae in extremis</i></strong>
unpr.; Lambert 954; Bloomfield 3881.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>De compunctione cordis</i>, tr. ? Annianus</strong>
<i>CPG</i> 4308&ndash;9; ed. G. Schmitz,
<i>Monumenta tachygraphica codicis Paris. lat. 2718</i>, fasc. 2 (Hanover 1883).

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>De eo quod nemo laeditur nisi a semet ipso</i>, Latin tr.</strong>
<i>CPG</i> 4400; ed.
A. M. Malingrey, <i>Sacris erudiri</i> 16 (1965) 320&ndash;54.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>De reparatione lapsi</i>, tr. ? Annianus</strong>
<i>CPG</i> 4305; ed. J. Dumortier, SChr 117 (1966) 241&ndash;322.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong>Homilies on Psalm 50, Latin tr.</strong>
<i>CPG</i> 4544&ndash;5; ed. S. Gelenius,
<i>Opera D. Iohannis Chrysostomi</i> (Basel 1547), 1. 723&ndash;51; Stegm&uuml;ller 
<i>Bibl.</i> 4337,5.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Sermo in letania</i></strong>
<i>CPL</i> 935; <i>PLS</i> 4. 846&ndash;50.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Sermo in passionem saluatoris nostri Iesu Christi</i></strong>
ed. S. Gelenius,
<i>Opera D. Iohannis Chrysostomi</i> (Basel 1547), 3. 826&ndash;33.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De cruce dominica</i>, inc. `Quid dicam? Quid loquar quod uobis nomen
imponam'</strong>
ed. S. Gelenius, <i>Opera D. Iohannis Chrysostomi</i> (Basel 1547), 
3. 836&ndash;41.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De militia christiana</i></strong>
<i>CPL</i> 1148.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De militia spiritali</i></strong>
<i>CPL</i> 1147.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Quomodo primus homo toti praelatus est creaturae</i>, inc. `Dignitas
humanae originis facile agnoscitur'</strong>
<i>CPL</i> 921.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>John Waleys OFM [&dagger;1285]
</strong>
<br>
<strong><i>Breuiloquium de uirtutibus antiquorum principum et 
philosophorum</i></strong>
pr. Lyon 1511, fols. 200v&ndash;216r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322b.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XII utilitatibus tribulationis</i></strong>
unpr.; Bloomfield 1302; Sharpe,
<i>Latin Writers</i>, 423. French and English translations were popular. The text 
in <i>PL</i> 207. 989&ndash;1006 is not a true representation of the work. 

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Regula aurea Silentium teneas</i></strong>
ed. A. I. Doyle, `The European
circulation of three Latin spiritual texts', in <i>Latin and Vernacular. Studies
in late medieval texts and manuscripts</i>, ed. A. J. Minnis (Cambridge 1989),
129&ndash;46 (text, 142); Sharpe, <i>Latin Writers</i>, 423.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Petrus Chrysologus [&dagger;449], archbishop of Ravenna
</strong>
<br>
<strong><i>Sermo de decollatione Ioannis Baptistae</i> (<i>serm.</i> 127; <i>ps.</i> 
Chrysostom)</strong>
<i>CPL</i> 930; <i>PL</i> 52. 549&ndash;52.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>De confessione</i> (<i>serm.</i> 15)</strong>
unpr.; Thomson, <i>Grossesteste</i>, 125 
(no. 79), 172 (no. 15); Bloomfield 4926.

</li>

<li>
UO59.*3<sup>x</sup>: 
<strong>Walter Hilton OSA [&dagger;1396]
</strong>
<br>
<strong><i>Epistola ad Adam Horsley de origine et utilitate religionis</i></strong>
 ed. J. P. H. Clark &amp; C. Taylor, Analecta Cartusiana 124 (1987), 119&ndash;72; 
Sharpe, <i>Latin Writers</i>, 735; Bloomfield 1671.

</li>

<li>
UO59.4: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ratione dicendi ad Herennium</i></strong>
ed. F. Marx, Teubner (1894); ed. G.
Achard (Paris 1989).

</li>

<li>
UO59.*6: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
UO59.7: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
UO59.*8: 
<strong>Iosephus Flauius [&dagger; after 100]
</strong>
<br>
<strong><i>Antiquitates iudaicae</i> and <i>De bello iudaico</i>, Latin tr.</strong>
pr. 
[Augsburg] 1470 (Goff J481), &amp;c.;  pr. Basel 1524; <i>Antiquitates</i> I&ndash;V, 
ed. F. Blatt, <i>The Latin Josephus</i> (Copenhagen 1958).

</li>

<li>
UO59.*11: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Naples 1475 (Goff S368), &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
