{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/84" title="St Albans">St Albans</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: St Albans</h2><h3 class="medieval_catalogue_desc">B91. Leland, c. 1536-40</h3>
<em>9 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B91.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong>Commentary on the Athanasian Creed</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 
1170; Hunt, <i>Nequam</i>, 129&ndash;30.

</li>

<li>
B91.3 (`tractatus Luciani de febribus et de epidimiali morbo'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2114_anchor">Lucian [?]
</a>
<br>
<strong><i>De febribus</i></strong>
unidentified.

</li>

<li>
B91.4 (`Oribasius'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2429_anchor">Oribasius [<i>c</i>320&ndash;<i>c</i>400]
</a>
<br>
</li>

<li>
B91.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3642_anchor">Warner of Saint-Victor OSA [&dagger;1170]
</a>
<br>
<strong><i>Gregorianum</i></strong>
&para;*pr. Paris 1518 (Moreau, 2. 1826); <i>PL</i> 193. 23&ndash;462;
Stegm&uuml;ller <i>Bibl.</i> 2365.

</li>

<li>
B91.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/U/#entry3447_anchor">Uthred of Boldon OSB [&dagger;1397]
</a>
<br>
<strong><i>De substantialibus regulae monachalis</i>, inc. `Nouitio inquirenti'</strong>
 unpr.; Sharpe, <i>Latin Writers</i>, 701.

</li>

<li>
B91.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry129_anchor">Alexander of Aphrodisias [early 3rd cent.]
</a>
<br>
<strong><i>De fato</i>, Latin tr. by William of Moerbeke</strong>
ed. P. Thillet, &Eacute;tudes
de philosophie m&eacute;di&eacute;vale 51 (Paris 1963); <i>CTC</i> 1. 107&ndash;111; Thorndike/Kibre 
503, 1014.

</li>

<li>
B91.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2817_anchor">Ralph d'Escures OSB [&dagger;1122]
</a>
<br>
<strong>(<i>ps.</i> Anselm), <i>Homilia de assumptione Mariae</i> (<i>hom.</i> 9)</strong>
 <i>PL</i> 95. 1505&ndash;1508 and <i>PL</i> 158. 644&ndash;9; Schneyer <i>Rep.</i> 5. 17.

</li>

<li>
B91.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry384_anchor">Bachiarius [early 5th cent.]
</a>
<br>
<strong><i>De lapso</i></strong>
<i>CPL</i> 569.

</li>

<li>
B91.&dagger;10 (`Matthaei Parisiensis . . . pulcherrima historia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2204_anchor">Matthew Paris OSB [<i>c</i>1195&ndash;after 1259], monk of St Albans
</a>
<br>
<strong><i>Gesta abbatum</i></strong>
ed. H. T. Riley, RS 28/4 (1867&ndash;9).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>9 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
