{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K285. Catalogus, c. 1360</h3>
<em>9 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K285.1 (`de institutis et regulis cenobiorum et de habitu monachi
   et canonica oratione et de psalmorum modo', Books I&ndash;IV): 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
K285.2 (`de origine et qualitate et remediis octo principalium
   uitiorum', Books V&ndash;XII): 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
K285.3 (`ad Leontium et Elladium x collationes', I): 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
K285.4 (`ad Honoratum et Eucherium collationes 7', II): 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
K285.5 (`ad Inuenianum Mineruium Leontium et Theodorum alias 
   collationes 7', III): 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
K285.6: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
K285.8: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>De incarnatione Domini contra Nestorium</i></strong>
<i>CPL</i> 514.

</li>

<li>
K285.9: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
[<i>dub.</i>]
<strong>`Penitenciarius'</strong>
unidentified.

</li>

<li>
K285.10: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
[<i>dub.</i>]
<strong>`De Egyptiacis monachis'</strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>9 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
