{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC145. Will of John Lownde, 6 October 1505; Peterhouse</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC145.&para;*1: 
<strong>Pierre Bersuire [<i>c</i>1290&ndash;1362]
</strong>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Repertorium morale siue Dictionarius biblicus</i></strong>
pr. N&uuml;rnberg 1489 
(<i>GW</i> 3866), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 6427.

</li>

<li>
UC145.&para;2: 
<strong>John of Bromyard OP [&dagger;1352]
</strong>
<br>
<strong><i>Summa praedicantium</i></strong>
pr. [Basel, not after 1484] (Goff J260), 
&amp;c.; Kaeppeli 2236.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
