{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K481. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K481.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2533_anchor">Petrus Aureoli OFM [&dagger;1322]
</a>
<br>
<strong><i>Tractatus de conceptione beatae Mariae Virginis</i></strong>
pr. in Bibliotheca
Franciscana scholastica medii aevi 3 (Quaracchi 1904), 23&ndash;94; Glorieux <i>R&eacute;p.</i>
351c.

</li>

<li>
K481.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2533_anchor">Petrus Aureoli OFM [&dagger;1322]
</a>
<br>
<strong><i>Repercussorium contra aduersarium innocentiae matris Dei</i></strong>
pr. in 
Bibliotheca Franciscana scholastica medii aevi 3 (Quaracchi 1904), 95&ndash;153;
Glorieux <i>R&eacute;p.</i> 351d.

</li>

<li>
K481.&loz;6 SC?.*?? = H2.*1258: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2533_anchor">Petrus Aureoli OFM [&dagger;1322]
</a>
<br>
<strong><i>Compendium litterale totius scripture</i></strong>
pr. [Strassburg not after 1476]
(<i>GW</i> 3077), &amp;c.; pr. Quaracchi 1896; Glorieux <i>R&eacute;p.</i> 351h; Stegm&uuml;ller 
<i>Bibl.</i> 6422.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
