{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R10. Union catalogue by author and title, early 14th cent.</h3>
<em>32 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R10.1 (`sermo de natali Domini ``Quod mortuus est Christus''$>', 
  1 copy) = K404.24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>De circumcisione Domini</i> (<i>hom. in Lucam</i> 14), tr. Jerome</strong>
 <i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959) 83&ndash;91.

</li>

<li>
R10.2 (hom. 1, 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.3 (36 copies, among them B13, B24, B71, B120, and BC4): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Super uetus testamentum</i></strong>
usually refers to translations by Rufinus or
Jerome of the homilies on the Hexateuch, but the contents vary greatly.

</li>

<li>
R10.4 (13 copies) = K404.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Super epistolam Pauli ad Romanos</i>, tr. Rufinus</strong>
<i>CPG</i> 1457; <i>PG</i> 14.
833&ndash;1292; Stegm&uuml;ller <i>Bibl.</i> 6221.

</li>

<li>
R10.5 (27 copies, among them B13.194, B71.11, and B75.132; some
   may be the Homilies, <i>CPG</i> 1432): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Epithalamium super Cantica canticorum</i>, tr. Rufinus</strong>
<i>CPG</i> 1433;
<i>PG</i> 13. 61&ndash;198; ed. W. A. Baehrens, <i>GCS</i> 33 (1925) 61&ndash;241; ed. O. Rousseau,
SChr 37<sup>2</sup> (1966); Stegm&uuml;ller <i>Bibl.</i> 6200.

</li>

<li>
R10.&dagger;5 (up to 27 copies) = K404.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on the Song of Songs, tr. Jerome</strong>
<i>CPG</i> 1432; ed. W. A. Baehrens,
<i>GCS</i> 33 (1925) 26&ndash;60; Lambert 206; Stegm&uuml;ller <i>Bibl.</i> 6199.

</li>

<li>
R10.6 (7 copies with possible double counting) = K404.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Epithalamium super Cantica canticorum</i>, tr. Rufinus</strong>
<i>CPG</i> 1433;
<i>PG</i> 13. 61&ndash;198; ed. W. A. Baehrens, <i>GCS</i> 33 (1925) 61&ndash;241; ed. O. Rousseau,
SChr 37<sup>2</sup> (1966); Stegm&uuml;ller <i>Bibl.</i> 6200.

</li>

<li>
R10.7 (8 copies, among them B13.*97<sup>x</sup> and B75.27) = K404.17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Jeremiah, tr. Jerome</strong>
<i>CPG</i> 1438,1; <i>PL</i> 25. 585&ndash;692; two
additional homilies in Latin, ed. P. Nautin &amp; P. Husson, SChr 238 (1977) 
300&ndash;367; Stegm&uuml;ller <i>Bibl.</i> 6205.

</li>

<li>
R10.8 (attrib. Origen, 6 copies) = K404.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry714_anchor">Cyprian of Carthage [&dagger;258], bishop of Carthage
</a>
<br>
[<i>pseud.</i>]
<strong><i>De singularitate cleri</i></strong>
<i>CPL</i> 62, 770; pr. with ps. Augustine's
<i>De uita christiana</i> and other texts, Cologne 1467 (<i>GW</i> 3038).

</li>

<li>
R10.9 (two copies, among them B13.97): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Judges, tr. Rufinus</strong>
<i>CPG</i> 1421;  ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 464&ndash;522; Stegm&uuml;ller <i>Bibl.</i> 6183.

</li>

<li>
R10.10 (8 copies, among them B13.97 and B75.27) = K404.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Isaiah, tr. Jerome</strong>
<i>CPG</i> 1437; ed. W. A. Baehrens, <i>GCS</i> 33
(1925) 242&ndash;89; Stegm&uuml;ller <i>Bibl.</i> 6202.

</li>

<li>
R10.11 (13 copies, among them B13.212 and B71.113) = K404.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Joshua, tr. Rufinus</strong>
<i>CPG</i> 1420; ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 286&ndash;463; ed. A. Jaubert, SChr 71 (1960).

</li>

<li>
R10.12 (hom. 16 or 17, 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Luke, tr. Jerome</strong>
<i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959)
1&ndash;222; Stegm&uuml;ller <i>Bibl.</i> 6215.

</li>

<li>
R10.15 (hom. 6, 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.16 (hom. 7, 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.17 (hom. 5, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.18 (6 copies) = K404.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Genesis, tr. Rufinus</strong>
<i>CPG</i> 1411; ed. W. A. Baehrens, <i>GCS</i> 29
(1920) 1&ndash;144; Stegm&uuml;ller <i>Bibl.</i> 6170. Some copies would include the
pseudonymous hom. 17 (Stegm&uuml;ller <i>Bibl.</i> 6171.

</li>

<li>
R10.19 (6 copies) = K404.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Exodus, tr. Rufinus</strong>
<i>CPG</i> 1414; ed. W. A. Baehrens, <i>GCS</i> 29
(1920) 145&ndash;279; Stegm&uuml;ller <i>Bibl.</i> 6174.

</li>

<li>
R10.20 (9 copies) = K404.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Leviticus, tr. Rufinus</strong>
<i>CPG</i> 1416; ed. W. A. Baehrens, 
<i>GCS</i> 29 (1920) 280&ndash;507; Stegm&uuml;ller <i>Bibl.</i> 6176. [Printed as Cyril of
Alexandria, q.v.]

</li>

<li>
R10.21 (7 copies, among them B71.114 and B75.27) = K404.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Judges, tr. Rufinus</strong>
<i>CPG</i> 1421;  ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 464&ndash;522; Stegm&uuml;ller <i>Bibl.</i> 6183.

</li>

<li>
R10.22 (3 copies) = K404.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homily on 1 Samuel, tr. Rufinus</strong>
<i>CPG</i> 1423; ed. W. A. Baehrens, <i>GCS</i> 33
(1925) 1&ndash;25; Stegm&uuml;ller <i>Bibl.</i> 6185.

</li>

<li>
R10.23 (5 copies, among them B24.52) = K404.18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Ezekiel, tr. Jerome</strong>
<i>CPG</i> 1440; ed. M. Borret, SChr 352
(1989); Stegm&uuml;ller <i>Bibl.</i> 6208.

</li>

<li>
R10.24 (8 copies, among them B71.111) = K404.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Numbers, tr. Rufinus</strong>
<i>CPG</i> 1418; ed. W. A. Baehrens, <i>GCS</i> 
30 (1921) 3&ndash;285; Stegm&uuml;ller <i>Bibl.</i> 6178.

</li>

<li>
R10.25 (2 copies) = K404.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>De circumcisione Domini</i> (<i>hom. in Lucam</i> 14), tr. Jerome</strong>
 <i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959) 83&ndash;91.

</li>

<li>
R10.26 (1 copy) = K404.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Luke, tr. Jerome</strong>
<i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959)
1&ndash;222; Stegm&uuml;ller <i>Bibl.</i> 6215.

</li>

<li>
R10.27 (`epistole', 1 copy) = K404.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>dub.</i>]
<strong>`Epistolae'</strong>
unidentified.

</li>

<li>
R10.28 (1 copy) = K404.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Planctus</i>, tr. Jerome</strong>
<i>CPG</i> 1522; Lambert 532.

</li>

<li>
R10.30 (`super pentateuchum', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Super uetus testamentum</i></strong>
usually refers to translations by Rufinus or
Jerome of the homilies on the Hexateuch, but the contents vary greatly.

</li>

<li>
R10.31 (`super benedictionibus patriarcharum', hom. 17, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Genesis, tr. Rufinus</strong>
<i>CPG</i> 1411; ed. W. A. Baehrens, <i>GCS</i> 29
(1920) 1&ndash;144; Stegm&uuml;ller <i>Bibl.</i> 6170. Some copies would include the
pseudonymous hom. 17 (Stegm&uuml;ller <i>Bibl.</i> 6171.

</li>

<li>
R10.32 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>dub.</i>]
<strong>`Super epistolas Pauli'</strong>
unidentified.

</li>

<li>
R10.33 (1 copy) = K404.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Commentary on Matthew, Latin tr.</strong>
<i>CPG</i> 1450; ed. E. Klostermann &amp; E. Benz, <i>GCS</i> 40
(1935&ndash;7) 80&ndash;703; Stegm&uuml;ller <i>Bibl.</i> 6211.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>32 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
