{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/227" title="Winchester College">Winchester College</a>  &gt; Inventory of goods, 1 September 1405   </p>{% endif %}<h2>SECULAR INSTITUTIONS: Secular Colleges: Winchester College</h2><h3 class="medieval_catalogue_desc">SC330. Inventory of goods, 1 September 1405   </h3>
<em>31 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC330.75: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
SC330.76 = SC330.83: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1706_anchor">John of Genoa OP [&dagger; after 1286]
</a>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SC330.77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
SC330.77<sup>x</sup> = SC334.129b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1502_anchor">Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</a>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
SC330.78: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1789_anchor">John of Mirfield [fl. 1390]
</a>
<br>
<strong><i>Florarium Bartholomaei</i></strong>
part ed. P. H. S. Hartley &amp; H. R. Aldridge, 
<i>Johannes de Mirfield of St Bartholomew's Hospital, Smithfield. His Life and 
Works</i> (Cambridge 1936), 114&ndash;164.

</li>

<li>
SC330.*79: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3678_anchor">William of Canterbury OSB [late 12th cent.]
</a>
<br>
<strong><i>Vita et miracula S. Thomae Cantuariensis</i></strong>
ed. J. C. Robertson, RS 
67/1 (1875), 137&ndash;546; <i>BHL</i> 8184.

</li>

<li>
SC330.*80 = SC334.*152: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2835_anchor">Ranulf Higden OSB [&dagger;1364]
</a>
<br>
<strong><i>Polychronicon</i></strong>
ed. C. Babington &amp; J. R. Lumby, RS 41 (1865&ndash;86); 
J. Taylor, <i>The Universal Chronicle of Ranulf Higden</i> (Oxford 1966).

</li>

<li>
SC330.81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3753_anchor">Willelmus de Pagula [early 14th cent.]
</a>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

<li>
SC330.83, 84 (2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1706_anchor">John of Genoa OP [&dagger; after 1286]
</a>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SC330.85: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1432_anchor">Hugutio of Pisa [12th cent.]
</a>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994), 35&ndash;66, dates the
<i>Liber deriuationum</i> to `the decade around 1161' (p. 47), making 
it likely that the author is not to be identified with the jurist
of the same name.
</span>
<br>
<strong><i>Liber deriuationum</i></strong>
ed. E. Cecchini &amp; others (Florence 
2004). [There is a facsimile of Biblioteca Laurenziana, MS Plut. 
XXVII sin. 5 (AD 1236), ed. G. Nencioni (Florence 2000). List 
of manuscripts by A. Marigo, <i>I codici manoscritti delle Deriuationes 
di Uguccione Pisano</i> (Rome 1936).]

</li>

<li>
SC330.86 (`in maiori'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2743_anchor">Priscian [fl. 500]
</a>
<br>
<strong><i>Institutiones grammaticae</i> I&ndash;XVI</strong>
<i>CPL</i> 1546; <i>GL</i> 2. 1&ndash;597, 3. 1&ndash;105.

</li>

<li>
SC330.87: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong>Commentary on Priscian's <i>De constructione</i></strong>
unpr.; Kaeppeli 3507; 
Sharpe, <i>Latin Writers</i>, 561.

</li>

<li>
SC330.88a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1703_anchor">John of Garland [&dagger; after 1258]
</a>
<br>
<strong><i>Vnus omnium</i></strong>
unpr.; <i>WIC</i> 3050; A. B. Hunt, <i>Teaching and Learning Latin in Thirteenth-Century England</i>
(Cambridge 1991), 1. 395&ndash;9; Bursill-Hall, `Iohannes de Garlandia', 172.

</li>

<li>
SC330.88b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2743_anchor">Priscian [fl. 500]
</a>
<br>
<strong><i>De constructione</i> (<i>Institutiones grammaticae</i> XVII&ndash;XVIII)</strong>
<i>CPL</i> 
1546; <i>GL</i> 3. 105&ndash;377.

</li>

<li>
SC330.88c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2568_anchor">Petrus Elias [mid 12th cent.]
</a>
<br>
<strong><i>Summa in Priscianum minorem</i> (on <i>Institutiones</i> XVII&ndash;XVIII)</strong>
ed. 
J. E. Tolson, <i>CIMA</i> 27 (1978) 2&ndash;158; ed. L. A. Reilly (Toronto 1993), 
832&ndash;1057.

</li>

<li>
SC330.89 = SC335.146a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De disciplina scholarium</i></strong>
ed. O. Weijers (Leiden 1976).

</li>

<li>
SC330.90a (`qui incipit Nec fonte'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2517_anchor">Aulus Persius Flaccus [AD 34&ndash;62]
</a>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
SC330.90b (`mag. I. de G. qui incipit Fecit deus mira'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1703_anchor">John of Garland [&dagger; after 1258]
</a>
<br>
<strong><i>Stella maris</i></strong>
ed. E. F. Wilson (Cambridge, MA, 1946); <i>WIC</i> 2934.

</li>

<li>
SC330.90c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1440_anchor"><i>Hymnarium glosatum</i>, used as an instruction-book for novices
and often found with school-books</a>
pr. Paris 1485 (Goff E154), &amp;c.;
pr. London [<i>c.</i> 1496] (<i>STC</i> 16111), &amp;c.; H. Gneuss, <i>Hymnar und Hymnen 
im englischen Mittelalter</i> (T&uuml;bingen 1968), 194&ndash;206; Hunt, <i>Teaching
Latin</i>, 1. 38&ndash;42.

<br>
</li>

<li>
SC330.90d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong>unspec.
</strong>
</li>

<li>
SC330.91a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry149_anchor">Alexander de Villa Dei [<i>c</i>1170&ndash;<i>c</i>1240]
</a>
<br>
<strong><i>Doctrinale magnum</i></strong>
ed. D. Reichling (Berlin 1893); <i>WIC</i> 17375.

</li>

<li>
SC330.91b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1703_anchor">John of Garland [&dagger; after 1258]
</a>
<br>
<strong><i>Synonyma</i></strong>
pr. [Cologne 1485] &amp;c., London 1496 &amp;c. (<i>STC</i> 11601&ndash;11617);
Bursill-Hall, `Iohannes de Garlandia', 170&ndash;71 (B15); <i>WIC</i> 374.

</li>

<li>
SC330.93 (`summa Gaufredi') = SC334.106: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1177_anchor">Goffredo di Trani [&dagger;1245]
</a>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. [Cologne <i>c.</i> 1480] (<i>GW</i> 
10949), &amp;c.; Schulte, 2. 89&ndash;91.

</li>

<li>
SC330.99 = SC338.12a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
SC330.99<sup>x</sup> = SC338.12b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
SC330.100 = SC335.134: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3028_anchor">Roger of Waltham [&dagger; after 1332]
</a>
<br>
<strong><i>Compendium morale</i></strong>
unpr.; Bloomfield 1977, 5286, 5289.

</li>

<li>
SC330.101 = SC334.143a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3777_anchor">William of Saint-Amour [<i>c</i>1200&ndash;1272]
</a>
<br>
<strong><i>Collectiones catholicae et canonicae Scripturae</i></strong>
pr. in <i>Opera omnia</i>
(Constance 1632), 111&ndash;487; Glorieux <i>R&eacute;p.</i> 160l.

</li>

<li>
SC330.103 (abbrev.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum historiale</i></strong>
pr. Douai 1624 / repr. Graz 1964&ndash;5;
Kaeppeli 3987.

</li>

<li>
SC330.106a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1092_anchor">Geoffrey of Monmouth [&dagger;1154]
</a>
<br>
<strong><i>Prophetia Merlini</i> (<i>Historia regum Britanniae</i> VII), often found separately</strong>
 ed. A. Griscom (London 1929), 383&ndash;97; ed. E. Faral, <i>La L&eacute;gende arturienne</i>
(Paris 1929), 3. 186&ndash;203. [= &sect;&sect; 106&ndash;118 in Faral's text of the <i>Historia regum Britanniae</i>.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>31 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
