{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Secular Colleges: Winchester College</h2><h3>SC329. Bequest by William of Wykeham, 24 July 1404</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC329.2: 
<strong>John of Genoa OP [&dagger; after 1286]
</strong>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SC329.3: 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
SC329.3<sup>x</sup>: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
SC329.4: 
<strong>John of Mirfield [fl. 1390]
</strong>
<br>
<strong><i>Florarium Bartholomaei</i></strong>
part ed. P. H. S. Hartley &amp; H. R. Aldridge, 
<i>Johannes de Mirfield of St Bartholomew's Hospital, Smithfield. His Life and 
Works</i> (Cambridge 1936), 114&ndash;164.

</li>

<li>
SC329.*5: 
<strong>William of Canterbury OSB [late 12th cent.]
</strong>
<br>
<strong><i>Vita et miracula S. Thomae Cantuariensis</i></strong>
ed. J. C. Robertson, RS 
67/1 (1875), 137&ndash;546; <i>BHL</i> 8184.

</li>

<li>
SC329.6: 
<strong>Willelmus de Pagula [early 14th cent.]
</strong>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
