{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K85. Catalogus, c. 1360</h3>
<em>37 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K85.1 (`de contemptu mundi ad clericos'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Ad clericos de conuersione</i></strong>
<i>SBO</i> 4. 69&ndash;116.

</li>

<li>
K85.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De diligendo Deo</i></strong>
<i>SBO</i> 3. 119&ndash;154.

</li>

<li>
K85.3 (attrib. Bernard): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
K85.*4&ndash;5 (`de xii gradibus humilitatis. de xii gradibus superbie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De XII gradibus humilitatis</i></strong>
<i>SBO</i> 3. 15&ndash;59.

</li>

<li>
K85.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De gratia et libero arbitrio</i></strong>
<i>SBO</i> 3. 155&ndash;203.

</li>

<li>
K85.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De praecepto et dispensatione</i></strong>
pr. [Paris 1494/9] (<i>GW</i> 3909), &amp;c.; 
<i>SBO</i> 3. 253&ndash;94.

</li>

<li>
K85.8 (`ad cistercienses et cluniacenses apologeticum', 6 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Apologia ad Guillelum S. Theodorici abbatem</i></strong>
<i>SBO</i> 3. 81&ndash;108.

</li>

<li>
K85.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De consideratione</i></strong>
<i>SBO</i> 3. 393&ndash;493.

</li>

<li>
K85.10 (`de laude noue militie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De laude nouae militiae</i></strong>
<i>SBO</i> 3. 213&ndash;39.

</li>

<li>
K85.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones XVII in Psalmum XC Qui habitat</i></strong>
<i>SBO</i> 4. 383&ndash;492.

</li>

<li>
K85.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones super Cantica canticorum</i></strong>
<i>SBO</i> vols. 1&ndash;2.

</li>

<li>
K85.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Homiliae quattuor super Missus est</i></strong>
<i>SBO</i> 4. 13&ndash;58; Stegm&uuml;ller 
<i>Bibl.</i> 1726.

</li>

<li>
K85.14 (`ad magnificat', attrib. Bernard): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>Explanatio in Canticum beatae Mariae</i></strong>
<i>PL</i> 175. 413&ndash;32 and <i>PL</i> 
40. 1137&ndash;42; Goy, 383&ndash;92.

</li>

<li>
K85.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola ad Hugonem de Sancto Victore de baptismo aliisque questionibus
ab ipso positis</i> (<i>ep.</i> 77)</strong>
<i>SBO</i> 7. 
184&ndash;200.

</li>

<li>
K85.16 (`contra hereses Petri Adelardi ad Innocentium papam ep.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola contra quaedam capitula errorum Abaelardi</i> (<i>ep.</i>
190)</strong>
<i>SBO</i> 8. 17&ndash;38.

</li>

<li>
K85.17 (attrib. Bernard): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>Epistola ad fratres de Monte Dei</i></strong>
<i>PL</i> 184. 309&ndash;354; ed. J. M. 
D&eacute;chanet, SChr 223 (1975); Bloomfield 1742. [Manuscripts listed by V. 
Honemann, <i>Die Epistola ad fratres de Monte Dei des Willhelm von 
Saint-Thierry. Lateinische &Uuml;berlieferung und mittelalterliche 
&Uuml;bersetzungen</i> (Munich 1978), 12&ndash;95.] [See also Bernard, <i>Apologia</i>, 
which sometimes appears as `Bernardus ad fratres de Monte Dei'.]

</li>

<li>
K85.*18 (attrib. Bernard): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry77_anchor">Alanus ab Insula (Alain de Lille) [<i>c.</i> 1128&ndash;1203]
</a>
<br>
<span class="biblio_block">
R. de Lage, <i>Alain de Lille, po&egrave;te du XIIe si&egrave;cle</i> (Paris 1951),
169&ndash;86.
</span>
<br>
<strong><i>De sex alis cherubim</i></strong>
<i>PL</i> 210. 269&ndash;80; Stegm&uuml;ller <i>Bibl.</i> 949. [Anonymous
copies may be the work of Clement of Lanthony.]

</li>

<li>
K85.19 (`de tribus uirtutibus caritate castitate et humilitate'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De moribus et officio episcoporum ad Henricum Senonensem 
archiepiscopum</i> (<i>ep.</i> 42)</strong>
<i>SBO</i> 7. 100&ndash;131.

</li>

<li>
K85.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
K85.*21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>pseud.</i>]
<strong><i>Meditationes piissimae de cognitione humanae conditionis</i></strong>
<i>PL</i> 184.
485&ndash;508; Bloomfield 3126.

</li>

<li>
K85.22 (`exortationum de
   passione Christi liber unus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>SBO</i> 6/2. 7&ndash;255.

</li>

<li>
K85.23 (`de passione beatae Mariae et passione filii sui'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>pseud.</i>]
<strong><i>Planctus Mariae</i></strong>
pr. [Cologne <i>c.</i> 1470] (<i>GW</i> 4055); ed. C. W. 
Marx in <i>JMLat</i> 4 (1994) 118&ndash;29; H. Barr&eacute; in <i>Revue d'asc&eacute;tique et de 
mystique</i> 28 (1952) 245&ndash;66. The text is a widely circulating extract 
from Oglerio of Locedio's <i>De laudibus sanctae Dei genitricis</i> (ed. J. B. 
Adriani (Turin 1893)). [For the incipit <i>Quis dabit capiti meo aquam</i> 
[Ier 9:1], Bloomfield 4839 gives only two copies, though there are 
very many.]

</li>

<li>
K85.24 (attrib. Bernard): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1080_anchor">Geoffrey of Auxerre [mid 12th cent.]
</a>
<br>
<strong><i>De colloquio Simonis et Iesu</i></strong>
<i>PL</i> 184. 437&ndash;76; ed. H.
Rochais, SChr 364 (1990).

</li>

<li>
K85.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola ad Robertum nepotem suum</i> (<i>ep.</i> 1)</strong>
<i>SBO</i> 7. 1&ndash;11.

</li>

<li>
K85.26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola ad Adam monachum</i> (<i>ep.</i> 7)</strong>
<i>SBO</i> 7. 31&ndash;46.

</li>

<li>
K85.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>De amore Dei</i>. This title designates a pair of treatises</strong>
&ndash; <i>a.</i>  <i>De 
contemplando Deo</i>: <i>PL</i> 184. 365&ndash;80; ed. J. Hourlier, SChr 61 (1968). 
<i>b.</i> <i>De natura et dignitate amoris</i>: <i>PL</i> 184. 379&ndash;408; ed. R. Thomas, 
<i>Pain de C&icirc;teaux</i> 24 (Chambarand 1965).

</li>

<li>
K85.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermo in assumptione beatae Mariae</i></strong>
<i>PL</i> 184. 1001&ndash;1010; 
J. Leclercq in <i>RTAM</i> 20 (1953) 5&ndash;12.

</li>

<li>
K85.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
[<i>dub.</i>]
<strong>`Super Isaiam'</strong>
unidentified.

</li>

<li>
K85.34: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones super Cantica canticorum</i></strong>
<i>SBO</i> vols. 1&ndash;2.

</li>

<li>
K85.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry324_anchor">Arnold of Bonneval OSB [&dagger; after 1156], abbot of Bonneval
</a>
<br>
<strong><i>De operibus sex dierum</i></strong>
<i>PL</i> 189. 1515&ndash;70; Stegm&uuml;ller <i>Bibl.</i> 2251.

</li>

<li>
K85.38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistolae</i></strong>
<i>SBO</i> vols. 7&ndash;8.

</li>

<li>
K85.39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermones</i></strong>
<i>SBO</i> vols. 4&ndash;6.

</li>

<li>
K85.40 (`de uiis uite sc. confessione et penitentia', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermo de septem gradibus confessionis</i> (<i>serm. de diuersis</i> 40)</strong>
<i>SBO</i>
6. 234&ndash;43.

</li>

<li>
K85.41 (`sermo de septem gradibus obedientiae'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Sermo de uirtute obedientiae</i> (<i>serm. de diuersis</i> 41)</strong>
<i>SBO</i>
6. 243&ndash;54.

</li>

<li>
K85.42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>Epistola de conceptione beatae Mariae</i> (<i>ep.</i> 174)</strong>
<i>SBO</i> 7. 388&ndash;92.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>37 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
