{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K492. Catalogus, c. 1360</h3>
<em>21 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K492.3: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Genesis</strong>
<i>PL</i> 107. 439&ndash;670; Stegm&uuml;ller <i>Bibl.</i> 7021.

</li>

<li>
K492.4: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Exodus</strong>
<i>PL</i> 108. 9&ndash;246; Stegm&uuml;ller <i>Bibl.</i> 7022. Or perhaps
Walahfrid's <i>Abbreuiatio</i>: unpr.; Stegm&uuml;ller <i>Bibl.</i> 8318.

</li>

<li>
K492.5: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Numbers</strong>
<i>PL</i> 108. 587&ndash;838; Stegm&uuml;ller <i>Bibl.</i> 7025. Or
perhaps Walahrid's <i>Abbreuiatio</i>: unpr.; Stegm&uuml;ller <i>Bibl.</i> 8320.

</li>

<li>
K492.6: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Samuel and Kings</strong>
<i>PL</i> 109. 9&ndash;280; Stegm&uuml;ller <i>Bibl.</i> 7033&ndash;6.

</li>

<li>
K492.7: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Leviticus</strong>
<i>PL</i> 108. 245&ndash;586; Stegm&uuml;ller <i>Bibl.</i> 7024.
Or perhaps Walahfrid's <i>Abbreuiatio</i>: <i>PL</i> 114. 795&ndash;850; Stegm&uuml;ller <i>Bibl.</i> 8319.

</li>

<li>
K492.8: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Deuteronomy</strong>
<i>PL</i> 108. 837&ndash;998; Stegm&uuml;ller <i>Bibl.</i> 7027.
Or perhaps Walahfrid's <i>Abbreuiatio</i>: unpr.; Stegm&uuml;ller <i>Bibl.</i> 8321.

</li>

<li>
K492.&lt;&gt;10: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Judith</strong>
<i>PL</i> 109. 539&ndash;92; ed. A. Simonetti (Florence
2008); Stegm&uuml;ller <i>Bibl.</i> 7038.

</li>

<li>
K492.&lt;&gt;13: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Ecclesiasticus</strong>
<i>PL</i> 109. 763&ndash;1126; Stegm&uuml;ller <i>Bibl.</i>
7053.

</li>

<li>
K492.14: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Jeremiah</strong>
<i>PL</i> 111. 793&ndash;1272; Stegm&uuml;ller <i>Bibl.</i> 7054&ndash;5.

</li>

<li>
K492.15: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Maccabees</strong>
<i>PL</i> 109. 1125&ndash;1256; Stegm&uuml;ller <i>Bibl.</i> 
7058&ndash;9.

</li>

<li>
K492.16: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 107. 727&ndash;1156; Stegm&uuml;ller <i>Bibl.</i>  7060.

</li>

<li>
K492.17: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Proverbs</strong>
<i>CPL</i> 1351; ed. D. Hurst, <i>CCSL</i> 119B (1983) 21&ndash;163.

</li>

<li>
K492.18: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
<i>PL</i> 111. 1273&ndash;1616 and <i>PL</i> 112.
9&ndash;834; Stegm&uuml;ller <i>Bibl.</i> 7064&ndash;77.

</li>

<li>
K492.19: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on Revelation</strong>
<i>PL</i> 117. 937&ndash;1220 (as Haimo); Stegm&uuml;ller 
<i>Bibl.</i> 3072, 3122.

</li>

<li>
K492.20: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
K492.21: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
K492.22: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong><i>De computo</i></strong>
ed. W. M. Stevens, <i>CCCM</i> 44 (1979) 199&ndash;321.

</li>

<li>
K492.23: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<strong><i>De clericorum institutione</i></strong>
<i>PL</i> 107. 293&ndash;420; ed. A. Knoepfler 
(Munich 1900); ed. D. Zimpel, Freiburger Beitr&auml;ge zur mittelalterlichen
Geschichte 7 (1996).

</li>

<li>
K492.24: 
<strong>Ratramnus of Corbie [&dagger; after 868]
</strong>
<br>
<strong><i>De praedestinatione Dei</i></strong>
<i>PL</i> 121. 13&ndash;80.

</li>

<li>
K492.25: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
[<i>dub.</i>]
<strong>`De opere Christi'</strong>
unidentified.

</li>

<li>
K492.26: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>21 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
