{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Rochester</h2><h3>B79. Catalogue, 1202</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B79.*1: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
B79.*2: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
B79.*3: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
B79.*4: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De consensu euangelistarum</i></strong>
<i>CPL</i> 273.

</li>

<li>
B79.*5: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones de uerbis Domini et apostoli</i>, a common grouping of 
ninety-nine sermons on the Gospels and Epistles</strong>
analysis and list of 
manuscripts by P. P. Verbraken in <i>RB</i> 77 (1967) 27&ndash;46; L. De Coninck,
<i>La tradition manuscrite du recueil De uerbis Domini jusqu'au XIIe 
si&egrave;cle</i> (Turnhout 2006). Most English copies lack the last ten sermons, 
R&ouml;mer, 2/1. 350&ndash;53. 

</li>

<li>
B79.*6: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Enarrationes in Psalmos</i></strong>
<i>CPL</i> 283; ed. E. Dekkers &amp; J. Fraipont, 
<i>CCSL</i> 38&ndash;40 (1956); ed. F. Gori, <i>CSEL</i> 93&ndash;95 (in progress), of which
Pss 119&ndash;50 have appeared, <i>CSEL</i> 95/3&ndash;5 (2001&ndash;5). [This title, now standard,
originated with Erasmus.]

</li>

<li>
B79.*7: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermo de ouibus</i> (<i>serm.</i> 47)</strong>
<i>CPL</i> 284; <i>PL</i> 38. 295&ndash;316; ed. C.
Lambot, <i>CCSL</i> 41 (1961) 571&ndash;604.

</li>

<li>
B79.*7: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermo de pastoribus</i> (<i>serm.</i> 46)</strong>
<i>CPL</i> 284; <i>PL</i> 38. 270&ndash;95; ed. C.
Lambot, <i>CCSL</i> 41 (1961) 527&ndash;70.

</li>

<li>
B79.*8: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Contra Faustum manichaeum</i></strong>
<i>CPL</i> 321.

</li>

<li>
B79.*9: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Enchiridion</i></strong>
<i>CPL</i> 295; ed. E. Evans, <i>CCSL</i> 46 (1969) 23&ndash;114.

</li>

<li>
B79.*9b: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De bono mortis</i></strong>
<i>CPL</i> 129.

</li>

<li>
B79.*9c: 
<strong>Lanfranc OSB [<i>c</i>1005&ndash;1089]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 150. 407&ndash;442; R. B. C.
Huygens in <i>Sacris erudiri</i> 16 (1965) 355&ndash;403.

</li>

<li>
B79.10a: 
<strong>Vigilius Thapsensis [fl. 484], bishop of Thapsus
</strong>
<br>
<strong><i>Contra Felicianum arianum</i></strong>
<i>CPL</i> 808. [See also Athanasius.]

</li>

<li>
B79.10b: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Cur Deus homo</i></strong>
<i>SAO</i> 2. 37&ndash;133.

</li>

<li>
B79.10c: 
<strong><i>Liber Ioseph et Aseneth</i>, Latin tr. from Greek</strong>
ed. M. R. James in P.
Batiffol, <i>Studia Patristica</i> (Paris 1890), 2. 89&ndash;115; C. Burchard, 
<i>Untersuchungen zu Joseph und Aseneth. &Uuml;berlieferung &ndash; Ortsbestimmung</i>
(T&uuml;bingen 1965); Stegm&uuml;ller <i>Bibl.</i> 88,4&ndash;5.

<br>
</li>

<li>
B79.*11: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De doctrina christiana</i></strong>
<i>CPL</i> 263; ed. J. Martin, <i>CCSL</i> 32 
(1962) 1&ndash;167; ed. R. P. H. Green (Oxford 1995).

</li>

<li>
B79.*11<sup>x</sup>: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De uera religione</i></strong>
<i>CPL</i> 264; ed. W. M. Green, <i>CSEL</i> 77/2 (1961); ed. K. D.
Daur, <i>CCSL</i> 32 (1962) 187&ndash;260.

</li>

<li>
B79.*12: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>In epistulam Iohannis ad Parthos tractatus X</i></strong>
<i>CPL</i> 279; ed. P. 
Aga&euml;sse, SChr 75 (1984). [Some references to `A. de caritate' might be
the <i>Sermones de caritate</i>.]

</li>

<li>
B79.*13&ndash;14: 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
B79.*13&ndash;14: 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
B79.*15: 
<strong>Didymus Caecus of Alexandria [<i>c</i>313&ndash;398]
</strong>
<br>
<strong><i>De spiritu sancto</i>, tr. Jerome</strong>
<i>CPG</i> 2544; ed. L. Doutreleau, SChr 386
(1992); Lambert 258.

</li>

<li>
B79.*15: 
<strong>Quodvultdeus [&dagger;453], bishop of Carthage
</strong>
<br>
<strong>(<i>ps.</i> Augustine), <i>Sermo aduersus quinque haereses</i> (<i>serm.</i> 10)</strong>
 <i>CPL</i> 410; ed. R. Braun, <i>CCSL</i> 60 (1976) 261&ndash;301. [This and the other
sermons of Quodvultdeus are always ascribed to Augustine in manuscripts.]

</li>

<li>
B79.*15b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermo de muliere forti</i> (<i>serm.</i> 37)</strong>
<i>CPL</i> 284; <i>CPPM</i> 1. 121; <i>PL</i> 38.
221&ndash;35; ed. C. Lambot, <i>CCSL</i> 41 (1961) 446&ndash;73.

</li>

<li>
B79.*16: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De nuptiis et concupiscentia</i></strong>
<i>CPL</i> 350. The letter to Valerius
(<i>ep.</i> 200) often precedes the work, and the second book is sometimes
distinguished as <i>Contra cartulam</i>.

</li>

<li>
B79.17: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De agone christiano</i></strong>
<i>CPL</i> 296.

</li>

<li>
B79.*18: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De praesentia Dei</i> (<i>ep.</i> 187)</strong>
<i>CPL</i> 262; <i>PL</i> 33. 832&ndash;48; ed. A.
Goldbacher, <i>CSEL</i> 57 (1911) 81&ndash;119; R&ouml;mer, 2/1. 296&ndash;7.

</li>

<li>
B79.*19: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>In epistulam Iohannis ad Parthos tractatus X</i></strong>
<i>CPL</i> 279; ed. P. 
Aga&euml;sse, SChr 75 (1984). [Some references to `A. de caritate' might be
the <i>Sermones de caritate</i>.]

</li>

<li>
B79.*20: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De Genesi ad litteram</i></strong>
<i>CPL</i> 266.

</li>

<li>
B79.*21: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Confessiones</i></strong>
<i>CPL</i> 251; ed. L. Verheijen, <i>CCSL</i> 27 (1981).

</li>

<li>
B79.*22: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Retractationes</i></strong>
<i>CPL</i> 250; ed. A. Mutzenbecher, <i>CCSL</i> 57 (1984).

</li>

<li>
B79.23: 
<strong>`Ambrosiaster' [fl. 370]
</strong>
<br>
<strong><i>Quaestiones ueteris et noui testamenti</i></strong>
<i>CPL</i> 185.

</li>

<li>
B79.*24: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
B79.25: 
<strong>Adalbert of Metz [&dagger; <i>c.</i> 980]
</strong>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

<li>
B79.*26&ndash;7: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
B79.*26&ndash;7: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
B79.*28: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
B79.*29: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Registrum</i></strong>
<i>CPL</i> 1714; ed. D. Norberg, <i>CCSL</i> 140, 140A (1982).

</li>

<li>
B79.*30: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De mysteriis</i></strong>
<i>CPL</i> 155.

</li>

<li>
B79.*31: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De fide</i></strong>
<i>CPL</i> 150; ed. O. Faller, <i>CSEL</i> 78 (1962). Some copies will
also contain <i>De spiritu sancto</i> and <i>De incarnationis dominicae sacramento</i>,
linked works addressed to the emperor Gratian: <i>CPL</i> 151, 152; ed. O. Faller,
<i>CSEL</i> 79 (1964).

</li>

<li>
B79.32: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong>Commentary on Luke</strong>
<i>CPL</i> 143.

</li>

<li>
B79.33: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De uirginitate</i>. In manuscripts the title `De uirginitate' usually
heads the text listed as <i>De uirginibus</i> (<i>CPL</i> 145), while `De uirginibus'
can refer to <i>De uirginitate</i> (<i>CPL</i> 147), as in Bodl. MS Bodley 792 (<i>SC</i>
2640) (s. xii<sup>1</sup>). The treatises usually travel as a group</strong>
&ndash; <i>a.</i>
<i>De uirginibus</i> (<i>CPL</i> 145). <i>b.</i> <i>De uiduis</i> (<i>CPL</i> 146). <i>c.</i> <i>De uirginitate</i>
(<i>CPL</i> 147). These may be accompanied by <i>De institutione uirginis</i> (<i>CPL</i> 148),
<i>Exhortatio uirginitatis</i> (<i>CPL</i> 149), or <i>ps.</i> Ambrose, <i>De lapsu uirginis
consecratae</i> (<i>CPL</i> 651). On its own the title `De uirginitate' in catalogues
probably designates such a group.

</li>

<li>
B79.*34: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>Hexaemeron</i></strong>
<i>CPL</i> 123.

</li>

<li>
B79.*35: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De officiis ministrorum</i></strong>
<i>CPL</i> 144.

</li>

<li>
B79.36: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De poenitentia</i></strong>
<i>CPL</i> 156.

</li>

<li>
B79.*37: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
B79.38: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Isaiah</strong>
<i>CPL</i> 584; ed. M. Adriaen, <i>CCSL</i> 73 (1963); Lambert
207.

</li>

<li>
B79.39: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Breuiarium in Psalmos</i></strong>
<i>CPL</i> 629; Lambert 427. [Other works now
identified as Jerome on the Psalms, <i>CPL</i> 592, 593, have a much more 
restricted circulation; their authenticity rests on the arguments of Morin.]

</li>

<li>
B79.40: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Ezekiel</strong>
<i>CPL</i> 587; Lambert 213.

</li>

<li>
B79.41: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Matthew</strong>
<i>CPL</i> 590; Lambert 217.

</li>

<li>
B79.42: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Daniel</strong>
<i>CPL</i> 588; Lambert 215.

</li>

<li>
B79.42: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on the minor prophets</strong>
<i>CPL</i> 589; Lambert 216.

</li>

<li>
B79.43: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Jeremiah</strong>
<i>CPL</i> 586; ed. S. Reiter, <i>CCSL</i> 74 (1960); 
Lambert 211.

</li>

<li>
B79.44: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Ecclesiastes</strong>
<i>CPL</i> 583; Lambert 205.

</li>

<li>
B79.*45: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Joshua, tr. Rufinus</strong>
<i>CPG</i> 1420; ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 286&ndash;463; ed. A. Jaubert, SChr 71 (1960).

</li>

<li>
B79.*46: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. de Lagarde,
<i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
B79.*47: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Aduersus Iouinianum</i></strong>
<i>CPL</i> 610; Lambert 252.

</li>

<li>
B79.50: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
B79.51: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Revelation</strong>
<i>CPL</i> 1363.

</li>

<li>
B79.52: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De temporum ratione</i>, inc. `De natura rerum et ratione temporum' 
(pref.), `De temporum ratione domino iuuante' (text)</strong>
<i>CPL</i> 2320; ed. 
C. W. Jones, <i>CCSL</i> 123B (1977) 263&ndash;460. [There will be further copies 
referred to as <i>De temporibus</i>, which, without corroboration, cannot be 
correctly identified.]

</li>

<li>
B79.53: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Tobit</strong>
<i>CPL</i> 1350; ed. D. Hurst, <i>CCSL</i> 119B (1983) 3&ndash;19.

</li>

<li>
B79.54: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Martyrologium</i></strong>
<i>CPL</i> 2032. Bede's Martyrology does not survive in any copies of
English provenance, but the Martyrology of Usuard besides other texts circulated
in his name.

</li>

<li>
B79.58: 
<strong><i>Historia monachorum in Aegypto</i>, tr. Rufinus</strong>
<i>PL</i> 21. 387&ndash;462;
ed. E. Schulz-Fl&uuml;gel (Berlin 1990); <i>BHL</i> 6524.  [See also <i>Vitas patrum</i>.]

<br>
</li>

<li>
B79.58: 
<strong><i>Vitas patrum</i>. Collections with this common title invariably begin with
Rufinus's translation (often ascribed to Jerome) of the <i>Historia monachorum
in Aegypto</i> (<i>PL</i> 21. 387&ndash;462; ed. E. Schulz-Fl&uuml;gel [Berlin 1990]), and then
go on to include other Lives and <i>apophthegmata</i> of the type collected  and
published by H. Rosweyde and reprinted in <i>PL</i> vols. 73&ndash;4. Jerome's Lives
of St Paul the Hermit, St Hilarion, and St Malchus (<i>CPL</i> 617&ndash;19) also make
a frequent appearance. [See also <i>Historia monachorum in Aegypto</i>; Jerome,
<i>Liber adhortationum sanctorum patrum</i>.]
</strong>
<br>
</li>

<li>
B79.59: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
B79.60: 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 161. 47&ndash;1022.

</li>

<li>
B79.61: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
B79.62: 
<strong>Amalarius of Metz [<i>c</i>780&ndash;853], bishop of Metz
</strong>
<br>
<strong><i>Liber officialis</i></strong>
<i>PL</i> 105. 985&ndash;1242; ed. J. M. Hanssens, <i>Amalarii 
episcopi opera</i>, Studi e testi 138&ndash;40 (Rome 1948), 2. 13&ndash;543.

</li>

<li>
B79.63: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B79.64: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
unpr.; Stegm&uuml;ller, <i>Bibl.</i> 6574.

</li>

<li>
B79.66: 
<strong>Gilbert de la Porr&eacute;e [1076&ndash;1154]
</strong>
<br>
<strong>Gloss on the Psalms (<i>Media glosatura</i>)</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 
2511.

</li>

<li>
B79.67: 
<strong>Gilbert de la Porr&eacute;e [1076&ndash;1154]
</strong>
<br>
<strong>Gloss on the Pauline Epistles</strong>
fragments ed. R. M. Martin, <i>RHE</i> 13 
(1912) 677&ndash;83; Stegm&uuml;ller <i>Bibl.</i> 2515&ndash;28; Landgraf, 109&ndash;10.

</li>

<li>
B79.68: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
unpr.; Stegm&uuml;ller, <i>Bibl.</i> 6582&ndash;92.

</li>

<li>
B79.*72: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sermones de diebus festis et dominicis</i></strong>
printed among the sermons
attributed to Hildebert of Lavardin, <i>PL</i> 171. 343&ndash;950; list in Schneyer 
<i>Rep.</i> 4. 701&ndash;4. [A. Wilmart, `Les sermons d'Hilbert', <i>RB</i> 47 (1935) 
12&ndash;51. Almost all of the sermons attributed to Hildebert in <i>PL</i> 171 are 
the works of Geoffrey Babio, Peter Lombard, Peter Comestor or Maurice de 
Sully.]

</li>

<li>
B79.73: 
<strong>Orosius [&dagger; after 418]
</strong>
<br>
<strong><i>Historia aduersus paganos</i></strong>
<i>CPL</i> 571; pr. Augsburg 1471 (Goff O96),
&amp;c.

</li>

<li>
B79.*74: 
<strong>Hegesippus is the common medieval name for the Latin <i>Historia Iosephi de
bello iudaico et excidio urbis Hierosolymitanae</i></strong>
ed. V. Ussani, <i>CSEL</i> 66/1 
(1932).

<br>
</li>

<li>
B79.*76: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>De reparatione lapsi</i>, tr. ? Annianus</strong>
<i>CPG</i> 4305; ed. J. Dumortier, SChr 117 (1966) 241&ndash;322.

</li>

<li>
B79.79: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ordine creaturarum</i></strong>
<i>CPL</i> 1189.

</li>

<li>
B79.*80: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Epistles to Galatians, Ephesians, Titus and Philemon</strong>
 <i>CPL</i> 591; commentary on Galatians, ed. G. Raspanti, <i>CCSL</i> 77A (2006);
Lambert 219.

</li>

<li>
B79.*81a: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Synonyma</i></strong>
<i>CPL</i> 1203; ed. J. Elfassi, <i>CCCM</i> 111B (2009); Diaz 105.

</li>

<li>
B79.*81b: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
B79.*81<sup>x</sup>: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De ecclesiasticis officiis</i></strong>
<i>CPL</i> 1207; ed. C. M. Lawson, <i>CCSL</i> 
113 (1989); Diaz 104.

</li>

<li>
B79.*81<sup>x</sup>: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Epistula ad Massonem episcopum</i></strong>
<i>CPL</i> 1209; Diaz 124.

</li>

<li>
B79.*82: 
<strong>Osbern of Canterbury OSB [&dagger;1094], monk of Christ Church
</strong>
<br>
<strong><i>Vita S. Dunstani</i></strong>
ed. W. Stubbs, RS 63 (1874), 69&ndash;161;  <i>BHL</i> 2344&ndash;5.

</li>

<li>
B79.*83: 
<strong>Ambrosius Autpertus [&dagger;781]
</strong>
<br>
<strong><i>De conflictu uitiorum et uirtutum</i></strong>
<i>PL</i> 17. 1057&ndash;74
&amp; under other authors; ed. R. Weber, <i>CCCM</i>  27B (1979) 907&ndash;31; Bloomfield 0455.

</li>

<li>
B79.*84: 
<strong>Lanfranc OSB [<i>c</i>1005&ndash;1089]
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 150. 515&ndash;52; ed. H. Clover &amp; M. T. Gibson, OMT (1979).

</li>

<li>
B79.&dagger;85a: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De arca Noe morali et mystica</i></strong>
<i>PL</i> 176. 617&ndash;80, 681&ndash;704; ed. 
P. Sicard, <i>CCCM</i> 176 (2001); Goy, 212&ndash;37, 237&ndash;45.

</li>

<li>
B79.87: 
<strong><i>Liber florum</i>, inc. `Cum multos diuine auctoritatis', a 12th-cent.
theological florilegium</strong>
unpr.; R. W. Hunt in <i>Sapientiae doctrina.
M&eacute;langes offerts &agrave; Dom Hildebrand Bascour</i>, <i>RTAM sp&eacute;cial</i> 1 (Leuven 1980),
137&ndash;47.

<br>
</li>

<li>
B79.*89: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De sacramentis christianae fidei</i></strong>
<i>PL</i> 176. 173&ndash;618; Goy, 133&ndash;72.

</li>

<li>
B79.*89<sup>x</sup>: 
<strong>Patrick of Dublin OSB [&dagger;1084], bishop of Dublin
</strong>
<br>
[attrib.]
<strong><i>De tribus habitaculis animae</i></strong>
ed. A. Gwynn, <i>The Writings of Bishop 
Patrick</i> (Dublin 1955), 102&ndash;125; Sharpe, <i>Latin Writers</i>, 414.

</li>

<li>
B79.*91: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>De institutis coenobiorum</i></strong>
<i>CPL</i> 513.

</li>

<li>
B79.*92: 
<strong>C. Iulius Hyginus [<i>c.</i> 64 BC&ndash;17 AD]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De astrologia</i>, inc. `Duo sunt extremi uertices mundi'</strong>
ed. A. Boutemy,
<i>Latomus</i> 3 (1939) 128&ndash;37; Thorndike/Kibre 473. This is much commoner in
English libraries than the authentic work.

</li>

<li>
B79.*92<sup>x</sup>: 
<strong><i>Epistola Alexandri ad Aristotelem de situ Indie</i></strong>
ed. W. W. Boer (The Hague 
1953); ed. M. Feldbusch, <i>Beitr&auml;ge zur classischen Philologie</i> 78 (Meisenheim
1976). [See also Aristotle ps., <i>Epistola ad Alexandrum</i>.]

<br>
</li>

<li>
B79.*92<sup>x</sup>: 
<strong><i>Historia Alexandri magni</i>, tr. Julius Valerius</strong>
ed. J. Zacher (Halle 
1867); BM <i>Cat. Rom.</i> 1. 106&ndash;20. [The title <i>Gesta Alexandri magni</i>
usually comprises this text with <i>Epistola Alexandri ad Aristotelem de
situ Indiae</i>; it may also refer to <i>Historia de proeliis</i>.]

<br>
</li>

<li>
B79.*92<sup>x</sup>: 
<strong>Paul the Deacon [<i>c</i>720&ndash;799]
</strong>
<br>
<strong><i>Historia Langobardorum</i></strong>
<i>CPL</i> 1179.

</li>

<li>
B79.*93: 
<strong>Iulianus Pomerius [early 6th cent.]
</strong>
<br>
<strong><i>De uita contemplatiua</i></strong>
<i>CPL</i> 998.

</li>

<li>
B79.*94a: 
<strong>Iulianus Pomerius [early 6th cent.]
</strong>
<br>
<strong><i>De uita contemplatiua</i></strong>
<i>CPL</i> 998.

</li>

<li>
B79.*94b: 
<strong>Odo of Cluny OSB [<i>c</i>879&ndash;942], abbot of Cluny
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>PL</i> 133. 517&ndash;638.

</li>

<li>
B79.*94c: 
<strong>Defensor of Ligug&eacute; [late 7th cent.]
</strong>
<br>
<strong><i>Liber scintillarum</i></strong>
<i>CPL</i> 1302; ed. H. M. Rochais, <i>CCSL</i> 117 (1957) 
1&ndash;234.

</li>

<li>
B79.95: 
<strong><i>Ps.</i> Clement of Rome
</strong>
<br>
<strong><i>Recognitiones</i>, tr. Rufinus</strong>
pr. Paris 1504, Basel 1526 (Adams C2124); 
ed. B. Rehm &amp; G. Strecker, <i>GCS</i> 51 (1993<sup>2</sup>). See note on B68.343.

</li>

<li>
B79.*96: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
B79.*98: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De arte metrica</i></strong>
<i>CPL</i> 1565; ed. C. B. Kendall, <i>CCSL</i> 123A (1975) 81&ndash;141.

</li>

<li>
B79.*100: 
<strong>`Dares Phrygius'
</strong>
<br>
<strong><i>De excidio Troiae historia</i></strong>
ed. F. Meister, Teubner (1873).

</li>

<li>
B79.*100: 
<strong>Dionysius Periegetes [2nd cent.]
</strong>
<br>
<strong><i>Periegesis</i>, tr. Priscian</strong>
<i>CPL</i> 1554.

</li>

<li>
B79.*100: 
<strong><i>Historia Britonum</i>, commonly attributed to Nennius</strong>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
B79.*100: 
<strong><i>Prophetia Sibyllae</i>. The usual Sibylline prophecy in English manuscripts is
<i>Sibylla Tiburtina</i></strong>
<i>PL</i> 90. 1181&ndash;6 (among <i>ps.</i> Bedan works); ed. E. Sackur,
<i>Sibyllinische Texte und Forschungen</i> (Halle 1898), 177&ndash;87; A. Holdenried,
<i>The Sybil and Her Scribes</i> (London 2005); Stegm&uuml;ller <i>Bibl.</i> 124.

<br>
</li>

<li>
B79.*100: 
<strong>Solinus [3rd cent.]
</strong>
<br>
<strong><i>Collectanea rerum mirabilium</i></strong>
pr. Venice 1473 (Goff S615), &amp;c.; 
ed. T. Mommsen (Berlin 1895).

</li>

<li>
B79.*103a: 
<strong>Leo the Great [<i>sedit</i> 440&ndash;461]
</strong>
<br>
<strong><i>Tomus Leonis</i> (<i>ep.</i> 28)</strong>
<i>CPL</i> 1656; <i>PL</i> 54. 755&ndash;82. Sometimes found with
seven other letters, as, for example, in BL MS Royal 7 A. II (s. xiii,
Muchelney), fols. 69v&ndash;74r.

</li>

<li>
B79.*104: 
<strong>William of Saint-Thierry OCist [1075/80&ndash;1148]
</strong>
<br>
<strong><i>Vita I S. Bernardi</i> (with Arnold of Bonneval and Geoffrey of Auxerre)</strong>
 <i>PL</i> 185. 225&ndash;368; ed. P. Verdeyen &amp; C. Vande Veire, <i>CCCM</i> 89B (2011); 
<i>BHL</i> 1211&ndash;16.

</li>

<li>
B79.*104<sup>x</sup>: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Apologia ad Guillelum S. Theodorici abbatem</i></strong>
<i>SBO</i> 3. 81&ndash;108.

</li>

<li>
B79.*104<sup>x</sup>: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>De consideratione</i></strong>
<i>SBO</i> 3. 393&ndash;493.

</li>

<li>
B79.*104<sup>x</sup>: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>De praecepto et dispensatione</i></strong>
pr. [Paris 1494/9] (<i>GW</i> 3909), &amp;c.; 
<i>SBO</i> 3. 253&ndash;94.

</li>

<li>
B79.*104<sup>x</sup>: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Vita S. Malachiae</i></strong>
<i>SBO</i> 3. 307&ndash;378; <i>BHL</i> 5188.

</li>

<li>
B79.*104<sup>x</sup>: 
<strong>John of Cornwall [&dagger; after 1179]
</strong>
<br>
<strong><i>Eulogium ad Alexandrum III</i></strong>
<i>PL</i> 199. 1043&ndash;86; ed. N. M.
H&auml;ring, <i>Med. Stud.</i> 13 (1951) 256&ndash;300. [See also above, <i>De homine
assumpto</i>.]

</li>

<li>
B79.*104<sup>x</sup>: 
<strong>Serlo of Wilton OCist [&dagger;1181]
</strong>
<br>
<strong>Commentary on the Lord's Prayer</strong>
ed. L. Braceland,
<i>Serlo of Savigny and Serlo of Wilton. Seven Unpublished Works</i>
(Kalamazoo, MI, 1988), 76&ndash;105.

</li>

<li>
B79.105: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B79.106: 
<strong><i>Historia Britonum</i>, commonly attributed to Nennius</strong>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
B79.&dagger;108: 
<strong><i>Aurea gemma ecclesiae</i></strong>
unidentified.

<br>
</li>

<li>
B79.109: 
<strong>Ralph of Flaix OSB [mid 12th cent.], abbot of Flaix
</strong>
<br>
<strong>Commentary on Leviticus</strong>
pr. Marburg/Cologne 1536, repr.
in <i>Maxima bibliotheca ueterum patrum</i> (Lyon 1677), 17. 48&ndash;246;
Stegm&uuml;ller <i>Bibl.</i> 7093.

</li>

<li>
B79.110: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
B79.111: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
B79.119: 
<strong>Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</strong>
<br>
<span class="biblio_block">
J. Gobry in <i>DS</i> 7. 880&ndash;86.
</span>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
B79.120: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>Gesta regum Anglorum</i></strong>
ed. W. Stubbs, RS 90 (1887&ndash;9); ed. M. 
Winterbottom &amp; R. M. Thomson, OMT (1998&ndash;9).

</li>

<li>
B79.122a: 
<strong>Calixtus II (Guido of Burgundy) [<i>c</i>1050&ndash;1124, <i>sedit</i> 1119&ndash;1124]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Liber S. Iacobi</i>. A full text of the <i>ps.</i> Calixtine <i>Liber S. Iacobi</i>
(<i>BHL</i> 4076a) has been printed, ed. W. M. Whitehill (Santiago de Compostella
1944); a much shortened text was previously recorded (<i>BHL</i> 4072), <i>Acta SS.</i>
Iul. VI (1729), 43&ndash;44 (part of <i>ps.</i> Calixtine epistle), 47&ndash;58 (<i>miracula</i>).
</strong>
</li>

<li>
B79.122b: 
<strong><i>Ps.</i> Turpinus
</strong>
<br>
<strong><i>Historia Caroli magni et Rolandi</i></strong>
ed. H. W. Klein (Munich 1986).

</li>

<li>
B79.123: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ortu beatae Mariae et de infantia saluatoris</i>.
The <i>ps.</i> Matthaean infancy gospel, <i>De ortu beatae Mariae et infantia
saluatoris</i>, whose translation was ascribed to Jerome</strong>
ed. J. Gijsel,
<i>CCSA</i> 9 (1997); Lambert 348&ndash;9 (prologue, <i>ep. supp.</i> 48&ndash;9), 670; Stegm&uuml;ller 
<i>Bibl.</i> 168; <i>BHL</i> 5334&ndash;42 and suppl. 

</li>

<li>
B79.&Dagger;124a: 
<strong>Paul the Deacon of Naples [9th cent.]
</strong>
<br>
<strong><i>Vita S. Mariae Aegyptiacae</i>, tr. from Greek by Paul the Deacon
of Naples</strong>
<i>PL</i> 73. 671&ndash;90 (among <i>Vitas patrum</i>); <i>BHL</i> 5415.

</li>

<li>
B79.126: 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>Panormia</i></strong>
<i>PL</i> 161. 1041&ndash;1344.

</li>

<li>
B79.*128: 
<strong>Geoffrey Babio du Louroux [&dagger;1158], archbishop of Bordeaux
</strong>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 162. 1228&ndash;1500 (as Anselm of Laon); 
Stegm&uuml;ller <i>Bibl.</i> 2604, 7899 (as Stephen Langton).

</li>

<li>
B79.&Dagger;128: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong>Commentary on Matthew</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 6575, 7900.

</li>

<li>
B79.*135: 
<strong>Anastasius Bibliothecarius [&dagger; after 873]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Liber pontificalis</i></strong>
<i>PL</i> 127. 1003&ndash;1596.

</li>

<li>
B79.&dagger;138: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De libero arbitrio</i></strong>
<i>CPL</i> 260; ed. W. M. Green, <i>CCSL</i> 29 (1970) 211&ndash;321.

</li>

<li>
B79.&dagger;138a: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De praedestinatione sanctorum</i></strong>
<i>CPL</i> 354.

</li>

<li>
B79.139: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on the Psalms (<i>Parua glosatura</i>)</strong>
<i>GO</i> 2. 456&ndash;651; ed. Erasmus,
Freiburg 1533 (as the work of Haimo of Halberstadt), &amp;c.;<i>PL</i> 116. 193&ndash;696; 
Stegm&uuml;ller <i>Bibl.</i> 1357.

</li>

<li>
B79.&dagger;141: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Registrum</i></strong>
<i>CPL</i> 1714; ed. D. Norberg, <i>CCSL</i> 140, 140A (1982).

</li>

<li>
B79.142b: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>De diligendo Deo</i></strong>
<i>SBO</i> 3. 119&ndash;154.

</li>

<li>
B79.&dagger;142a: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De institutione nouiciorum</i></strong>
<i>PL</i> 176. 925&ndash;52; ed. H. B. Feiss &amp;
P. Sicard, Sous la r&egrave;gle de S. Augustin 3 (Turnhout 1997); Goy, 340&ndash;67.

</li>

<li>
B79.144: 
<strong>Reginald of Canterbury OSB [&dagger; <i>c</i>1112]
</strong>
<br>
<strong><i>Vita S. Malchi</i></strong>
ed. L. R. Lind (Urbana, IL, 1942); <i>BHL</i> 5190b.

</li>

<li>
B79.&Dagger;145: 
<strong>Benedict of Peterborough OSB [&dagger;1193], monk of Christ Church, Canterbury,
later abbot of Peterborough
</strong>
<br>
<strong><i>Passio et miracula S. Thomae Cantuariensis</i></strong>
ed. J. C. Robertson, 
RS 67/2 (1876), 1&ndash;281; <i>BHL</i> 8170&ndash;4.

</li>

<li>
B79.&Dagger;145: 
<strong>William of Canterbury OSB [late 12th cent.]
</strong>
<br>
<strong><i>Vita et miracula S. Thomae Cantuariensis</i></strong>
ed. J. C. Robertson, RS 
67/1 (1875), 137&ndash;546; <i>BHL</i> 8184.

</li>

<li>
B79.147a: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
B79.148: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Catholic Epistles</strong>
<i>CPL</i> 1362; ed. D. Hurst, <i>CCSL</i> 121 
(1983) 179&ndash;342.

</li>

<li>
B79.149: 
<strong>Goscelin of Saint-Bertin OSB [&dagger; after 1114]
</strong>
<br>
<strong><i>Historia miracula et translatio S. Augustini</i></strong>
ed. D. Papebroch,
<i>Acta SS.</i> Maii VI (1688), 373&ndash;443; <i>BHL</i> 777, 779, 781.

</li>

<li>
B79.151b: 
<strong>Goscelin of Saint-Bertin OSB [&dagger; after 1114]
</strong>
<br>
<strong><i>Vita S. Mildrethae</i></strong>
ed. D. W. Rollason, <i>The Mildrith Legend</i> 
(Leicester 1982), 108&ndash;143; <i>BHL</i> 5960.

</li>

<li>
B79.153: 
<strong>Aelmer of Canterbury OSB [&dagger;1137], prior of Christ Church, Canterbury
</strong>
<br>
<strong><i>Sermones</i></strong>
not known to survive; Sharpe, <i>Latin Writers</i>, 27.

</li>

<li>
B79.156: 
<strong>C. Sollius Apollinaris Sidonius [<i>c</i>432&ndash;<i>c</i>480], bishop of Clermont-Ferrand
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 987; ed. A. Loyen (Paris 1970).

</li>

<li>
B79.&dagger;162: 
<strong>&AElig;lfric OSB [&dagger; <i>c.</i> 1010], abbot of Eynsham
</strong>
<br>
<strong>Glossary</strong>
ed. J. Zupitza, <i>Aelfrics Grammatik und Glossar</i> (Berlin
1880), 297&ndash;322.

</li>

<li>
B79.163: 
<strong>Adam Parvipontanus (Adam of Balsham) [12th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DNB</i> (`Adam Angligena'); Sharpe, <i>Latin Writers</i>, 5.
</span>
<br>
<strong><i>Ars disserendi</i></strong>
ed. L. Minio-Paluello, <i>Twelfth-Century Logic. Texts 
and Studies</i> 1 (Rome 1956), 1&ndash;68.

</li>

<li>
B79.169: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De inuentione</i></strong>
ed. E. Stroebel, Teubner (1915).

</li>

<li>
B79.170: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De institutione arithmetica</i></strong>
<i>CPL</i> 879; ed. J. Schilling &amp;
H. Oosthout , <i>CCSL</i> 94A (1999).

</li>

<li>
B79.171a: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De institutione musica</i></strong>
<i>CPL</i> 880.

</li>

<li>
B79.171b: 
<strong>Guido of Arezzo [&dagger; <i>c</i>1050]
</strong>
<br>
<strong><i>Musica</i>, four texts transmitted together</strong>
&ndash; <i>a.</i> <i>Micrologus</i>, <i>b.</i> 
<i>Regulae rhythmicae</i>, <i>c.</i> <i>Praefatio in Antiphonarium</i> (or <i>Aliae regulae 
de cantu ignoto</i>), <i>d.</i> <i>Epistola de cantu ignoto</i>: <i>PL</i> 141. 379&ndash;432; ed.
A. Rusconi (Florence 2008). [Also <i>Micrologus</i>: ed. J. Smits van Waesberghe, 
<i>Corpus scriptorum de musica</i> 4 (Rome 1955), 79&ndash;234; manuscripts described, 
4&ndash;71. <i>Praefatio in Antiphonarium</i>: ed. J. Smits van Waesberghe, <i>Divitiae 
musicae artis</i> A. 3 (Buren 1975).]

</li>

<li>
B79.173&ndash;4: 
<strong>Priscian [fl. 500]
</strong>
<br>
<strong><i>Institutiones grammaticae</i> I&ndash;XVI</strong>
<i>CPL</i> 1546; <i>GL</i> 2. 1&ndash;597, 3. 1&ndash;105.

</li>

<li>
B79.173&ndash;4: 
<strong>Priscian [fl. 500]
</strong>
<br>
<strong><i>Institutiones grammaticae</i> I&ndash;XVI</strong>
<i>CPL</i> 1546; <i>GL</i> 2. 1&ndash;597, 3. 1&ndash;105.

</li>

<li>
B79.175: 
<strong>Priscian [fl. 500]
</strong>
<br>
<strong><i>De constructione</i> (<i>Institutiones grammaticae</i> XVII&ndash;XVIII)</strong>
<i>CPL</i> 
1546; <i>GL</i> 3. 105&ndash;377.

</li>

<li>
B79.177: 
<strong>Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</strong>
<br>
<strong>Commentary on Donatus's <i>Ars minor</i></strong>
ed. W. Fox, Teubner (1902).
With or without his Commentary on Donatus's <i>Ars maior</i>: ed. H. Hagen, <i>Anecdota
Helvetica</i> (Leipzig 1870), 219&ndash;274; complemented by the missing portions,
ed. J. P. Elder, <i>Harvard Studies in Classical Philology</i> 56&ndash;57 (1945&ndash;6)
129&ndash;60; Manitius, <i>Geschichte</i>, 1. 506&ndash;8.

</li>

<li>
B79.178: 
<strong>Aelius Donatus [4th cent.]
</strong>
<br>
<strong><i>Ars minor</i></strong>
<i>GL</i> 4. 355&ndash;66; ed. A. Sch&ouml;nberger (Frankfurt 2008).

</li>

<li>
B79.179: 
<strong>Q. Horatius Flaccus (Horace) [65&ndash;8 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. F. Klingner, Teubner (1950); ed. S. Borzs&aacute;k, Teubner 
(1984).

</li>

<li>
B79.181: 
<strong>P. Vergilius Maro [70&ndash;19 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
B79.182: 
<strong>C. Sallustius Crispus [86&ndash;<i>c</i>34 BC]
</strong>
<br>
<strong><i>Catilina</i> and <i>Iugurtha</i></strong>
ed. A. Kurfess, Teubner (1957).  Both
works usually together.

</li>

<li>
B79.183: 
<strong>P. Terentius Afer (Terence) [<i>c</i>195&ndash;159 BC]
</strong>
<br>
<strong><i>Comoediae</i></strong>
ed. R. Kauer &amp; W. M. Lindsay, OCT (1958<sup>2</sup>).

</li>

<li>
B79.184: 
<strong>Arator [early 6th cent.]
</strong>
<br>
<strong><i>Historia apostolica</i></strong>
<i>CPL</i> 1504; ed. A. Orb&aacute;n, <i>CCSL</i> 130, 130A 
(2006).

</li>

<li>
B79.185: 
<strong>Aulus Persius Flaccus [AD 34&ndash;62]
</strong>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
B79.186: 
<strong>M. Annaeus Lucanus [AD 39&ndash;65]
</strong>
<br>
<strong><i>De bello ciuili</i></strong>
ed. A. E. Housman (Oxford 1926); ed. G. Luck 
(Berlin 1985).

</li>

<li>
B79.188: 
<strong>Macrobius [fl. 400]
</strong>
<br>
<strong>Commentary on Cicero's <i>De somno Scipionis</i></strong>
ed. L. von Jan
(Quedlinburg/Leipzig 1848); ed. J. Willis, Teubner (1970<sup>2</sup>).

</li>

<li>
B79.189: 
<strong>Macrobius [fl. 400]
</strong>
<br>
<strong><i>Saturnalia</i></strong>
ed. J. Willis, Teubner (1970<sup>2</sup>); ed. R. A. Kaster
(Oxford, 2011).

</li>

<li>
B79.189: 
<strong>Prudentius [348&ndash;410]
</strong>
<br>
<strong><i>Peristephanon</i></strong>
<i>CPL</i> 1443; ed. M. P. Cunningham, <i>CCSL</i> 126 (1966) 251&ndash;389.

</li>

<li>
B79.190: 
<strong>Seneca the Elder [55 BC&ndash;AD <i>c</i>40]
</strong>
<br>
<strong><i>Declamationes</i></strong>
ed. H. J. M&uuml;ller (Vienna 1887); ed. L. 
H$aring$$kanson, Teubner (1989).

</li>

<li>
B79.191: 
<strong>P. Ovidius Naso [43 BC&ndash;AD 17/18]
</strong>
<br>
<strong><i>Fasti</i></strong>
ed. D. E. W. Wormell &amp; E. Courtney, Teubner (1978).

</li>

<li>
B79.192: 
<strong>P. Vergilius Maro [70&ndash;19 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
B79.194: 
<strong>Prudentius [348&ndash;410]
</strong>
<br>
<strong><i>Psychomachia</i></strong>
<i>CPL</i> 1441; ed. M. P. Cunningham, <i>CCSL</i> 126 (1966) 149&ndash;81.

</li>

<li>
B79.*197: 
<strong>P. Papinius Statius [AD <i>c</i>45&ndash;<i>c</i>96]
</strong>
<br>
<strong><i>Achilleis</i> (`paruus')</strong>
pr. Venice 1472 (Goff S695), &amp;c.; ed. O. A. W. 
Dilke (Cambridge 1954). 

</li>

<li>
B79.198: 
<strong>Petrus Elias [mid 12th cent.]
</strong>
<br>
<strong><i>Summa in Priscianum</i></strong>
ed. L. A. Reilly, Studies and Texts 113 (Toronto 1993).

</li>

<li>
B79.199: 
<strong>Nigel Witeker OSB [&dagger; after 1206]
</strong>
<br>
<strong><i>Miracula S. Virginis Mariae metrice</i></strong>
ed. J. Ziolkowski (Toronto 1986).

</li>

<li>
B79.204: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B79.&dagger;205a: 
<strong>Iohannes Faventinus [&dagger;1187]
</strong>
<br>
<strong><i>Summa super Decreta</i></strong>
unpr.; Schulte, 1. 137&ndash;40; Kuttner, 143&ndash;6. See 
note on B79.205a.

</li>

<li>
B79.206: 
<strong>C. Suetonius Tranquillus [AD <i>c</i>69&ndash;<i>c</i>140]
</strong>
<br>
<strong><i>De uita Caesarum</i></strong>
pr. Rome 1470 (Goff S815), &amp;c.; ed. M. Ihm, 
Teubner (1907). [For the edition by Erasmus, 1518, see <i>Scriptores historiae
Augustae</i>.]

</li>

<li>
B79.208: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Logica noua</i> comprised four works of Aristotle</strong>
&ndash; <i>a.</i> <i>De sophisticis
elenchis</i>, tr. Boethius: ed. B. G. Dod, <i>AL</i> 6/1&ndash;3 (1975), 5&ndash;60.
<i>b.</i> <i>Topica</i>, tr. Boethius: ed. L. Minio-Paluello, <i>AL</i> 5/1&ndash;3 (1969), 
5&ndash;179. <i>c.</i> <i>Analytica priora</i>, tr. Boethius: ed. L. Minio-Paluello, 
<i>AL</i> 3/1&ndash;4 (1962), 5&ndash;139, 143&ndash;91 (two recensions). <i>d.</i> <i>Analytica 
posteriora</i>, tr. James of Venice: ed. L. Minio-Paluello &amp; B. G. Dod, 
<i>AL</i> 4/1&ndash;4 (1968), 5&ndash;107.

</li>

<li>
B79.209a: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De inuentione</i></strong>
ed. E. Stroebel, Teubner (1915).

</li>

<li>
B79.209b: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
B79.212: 
<strong>Ralph of Beauvais [12th cent.]
</strong>
<br>
<strong><i>Liber Titan</i></strong>
ed. C. H. J. M. Kneepkens, Artistarium 8 (1991).

</li>

<li>
B79.213: 
<strong>P. Ovidius Naso [43 BC&ndash;AD 17/18]
</strong>
<br>
<strong>Collected works, known as `Ouidius magnus'
</strong>
</li>

<li>
B79.214a: 
<strong>Claudianus Claudius [&dagger; after 404]
</strong>
<br>
<strong><i>De raptu Proserpinae</i></strong>
ed. J. B. Hall (Cambridge 1969); ed. J. B. 
Hall, Teubner (1985), 289&ndash;341.

</li>

<li>
B79.214b: 
<strong>Claudianus Claudius [&dagger; after 404]
</strong>
<br>
<strong><i>Claudianus maior</i>, comprising all the shorter poems except
<i>Panegyricus dictus Probino et Olybrio consulibus</i>, and often including also
the minor poems of doubtful authenticity</strong>
 ed. J. B. Hall, Teubner (1985), 12&ndash;288, 342&ndash;409. [Begins with <i>In Rufinum</i>, which may stand
as a title for the whole collection, as in FA8.485, P2.110.]

</li>

<li>
B79.215: 
<strong>John of Cornwall [&dagger; after 1179]
</strong>
<br>
<strong><i>De homine assumpto</i></strong>
excerpts ed. E. Rathbone in <i>RTAM</i> 17 (1950) 
53&ndash;7. [Some entries listed under this title may in fact refer to to his
<i>Eulogium ad Alexandrum</i>, as BA1.836 shows.]

</li>

<li>
B79.&dagger;217: 
<strong>Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</strong>
<br>
<strong><i>Viaticum</i></strong>
pr. Venice 1505 &amp;c.; pr. Lyon 1515, 2. 144r&ndash;171v (with the 
works of Isaac Judaeus); pr. Basel 1536, 1. 1&ndash;167 (with the works of 
Constantinus); Thorndike/Kibre 187, 334, 1298, 1357. [M. F. Wack, 
<i>Lovesickness in the Middle Ages. The Viaticum and its Commentaries</i> 
(Philadelphia, PA, 1990).]

</li>

<li>
B79.219a: 
<strong>Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</strong>
<br>
<strong><i>De stomacho</i></strong>
pr. Lyon 1515, 2. 178r&ndash;186v (with the works of Isaac
Iudaeus); pr. Basel 1536, 215&ndash;74 (with the works of Constantinus);
Thorndike/Kibre 1012. The two editions differ in substance.

</li>

<li>
B79.221a: 
<strong>Q. Serenus [4th cent.]
</strong>
<br>
<strong><i>Liber medicinalis</i></strong>
pr. Venice 1488 &amp;c.; ed. F. Vollmer,
<i>Corpus medicorum latinorum</i> 2/3 (Leipzig/Berlin 1916); ed. R. P&eacute;pin (Paris 
1950); Thorndike/Kibre 173, 865.

</li>

<li>
B79.223b: 
<strong>Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</strong>
<br>
<strong><i>Liber febrium</i>, tr. Constantinus Africanus</strong>
pr. Lyon 1515, 
1. 203v&ndash;226v; Thorndike/Kibre 820, 1304.

</li>

<li>
B79.223c: 
<strong><i>Antidotarium Nicholai</i></strong>
pr. Venice 1471 (Goff N160), &amp;c.; Thorndike/Kibre 
165, 490.

<br>
</li>

<li>
B79.&dagger;225: 
<strong>Alexander of Tralles [early 6th cent.]
</strong>
<br>
<strong><i>De medicina</i></strong>
pr. Lyon 1504 &amp;c.; tr. F. L. E. Brunet, <i>Oeuvres 
m&eacute;dicales d'Alexandre de Tralles</i> (Paris 1933&ndash;7); Thorndike/Kibre 259.

</li>

<li>
B79.226a: 
<strong>Dioscorides [1st cent.]
</strong>
<br>
<strong>Dioscorides in English medieval catalogues is most likely to 
refer to the 11th-cent. Latin alphabetical redaction, based on the 
ancient Latin translation of his <i>De materia medica</i>, with the addition 
of more recent material by Peter of Abano (`Petrus Paduanensis')</strong>
pr. 
Colle 1478 (<i>GW</i> 8436), Lyon 1512; <i>CTC</i> 4. 23&ndash;7. 

</li>

<li>
B79.226b: 
<strong>Oribasius [<i>c</i>320&ndash;<i>c</i>400]
</strong>
<br>
</li>

<li>
B79.230a: 
<strong>Bartholomew of Salerno [early 12th cent.]
</strong>
<br>
<strong><i>Practica medicinae</i></strong>
ed. Renzi, 4. 321&ndash;406; Thorndike/Kibre 1080.

</li>

<li>
B79.230b: 
<strong>John of Saint-Paul [&dagger;1214/15]
</strong>
<br>
<strong><i>Breuiarium de signis morborum</i></strong>
largely unpr.; Thorndike/Kibre 153, 
1284; Wickersheimer, 480&ndash;81. See note on P9.77 for edited excerpts.

</li>

<li>
B79.231: 
<strong>John of Saint-Paul [&dagger;1214/15]
</strong>
<br>
<strong><i>De simplicium medicinarum uirtutibus</i>, inc. `Cogitanti mihi'</strong>
 pr. with the works of Isaac (Lyon 1515), 2. 186v&ndash;189v; ed. G. H. Kroemer,
diss. (Leipzig 1920); Thorndike/Kibre 229, 230, 1034, 1700. 

</li>

<li>
B79.235: 
<strong>Razes (Abu Bakr Muhammad Ibn Zakariyya al-Razi) [865&ndash;925]
</strong>
<br>
<strong><i>Liber Almansoris</i>, tr. Gerard of Cremona</strong>
pr. Milan 1481 (Goff 
R175), fols. 7r&ndash;114r; &amp;c.; Carmody, 134&ndash;5; Thorndike/Kibre 272, 679.

</li>

<li>
B79.*236: 
<strong>Omnibonus [late 12th cent.]
</strong>
<br>
<strong><i>Abbreuiatio Decreti Gratiani</i></strong>
extracts ed. J. F. von Schulte,
<i>Dissertatio de Decreto ab Omnibono abbreuiato</i> (Bonn 1892).

</li>

<li>
B79.*237: 
<strong>Lethbert of Saint-Ruf [fl. 1110]
</strong>
<br>
<strong><i>Flores Psalmorum</i></strong>
part pr. in <i>PL</i> 21. 642&ndash;960
(as Rufinus); A. Wilmart, 'Le commentaire sur les Psaumes imprim&eacute; sous
le nom de Rufin', <i>RB</i> 31 (1914) 258&ndash;76; Stegm&uuml;ller <i>Bibl.</i> 5395. [The 
preface was written by Walter, bishop of Maguelonne, whence the work is 
sometimes ascribed to Magelonensis.]

</li>

<li>
B79.*239: 
<strong>John of Salisbury [<i>c</i>1115&ndash;1180], bishop of Chartres
</strong>
<br>
<strong><i>Policraticus</i></strong>
ed. C. C. J. Webb (Oxford 1909); I&ndash;IV, ed. K. S. B.
Keats-Rohan, <i>CCCM</i> 118 (1993).

</li>

<li>
B79.*240: 
<strong>Gilbert Foliot OSB [&dagger;1187/8], bishop of London
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>PL</i> 202. 1147&ndash;1304; Stegm&uuml;ller 
<i>Bibl.</i> 2490.

</li>

<li>
B79.*241: 
<strong>Zacharias of Besan&ccedil;on OPrem [&dagger;1156]
</strong>
<br>
<strong><i>De concordia euangelistarum</i></strong>
<i>CPG</i> 1106,12; <i>PL</i> 186. 11&ndash;620; 
Stegm&uuml;ller <i>Bibl.</i> 8400.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
