{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/233" title="Edinburgh castle">Edinburgh castle</a>  &gt; Inventory, 26 March 1578</p><h2>SCOTLAND: Edinburgh castle</h2><h3 class="medieval_catalogue_desc">S11. Inventory, 26 March 1578</h3>
<em>124 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S11.&para;1&ndash;4 (vols 2, 4&ndash;6): 
<strong>`Perceforest'
</strong>
<br>
<strong><i>Anciennes croniques Dangleterre, faictz et gestes du roy Perceforest,
et des chevaliers du Franc Palais</i></strong>
pr. in 6 vols, Paris 1528 &amp;c.

</li>

<li>
S11.&para;5 (`Lucan, Sueton, and Salust in frenche'): 
<strong><i>Les Faits des Romains</i></strong>
pr. as <i>Lucan Suetoine et Saluste en fran&ccedil;ois</i>,
Paris 1490 (Macfarlane 12), &amp;c.; ed. L.-F. Flutre &amp; K. Sneyders de Vogel
(Paris/Groningen 1935&ndash;8); Chavy, 544.

<br>
</li>

<li>
S11.&para;6: 
<strong>Petrus de Natalibus (Pietro Ungarello di Marco de' Natali) [late 14th cent.]
</strong>
<br>
<strong><i>Catalogus sanctorum et gestorum eorum</i>, French tr. by Guy Breslay 
as <i>Cathalogue des sainctz et sainctes</i></strong>
pr. Paris 1525 (Moreau, 3. 875).

</li>

<li>
S11.&para;7: 
<strong><i>Gyron le courtoys. Avecques la divise des armes de tous les chevaliers de 
la Table Ronde</i></strong>
pr. Paris [c. 1501], &amp;c.; repr. with introduction by C. E.
Pickford, Arthurian Romances 4 (London 1977).

<br>
</li>

<li>
S11.&para;8 (`the thrid volume of Titus Livius'): 
<strong>T. Livius (Livy) [59 BC&ndash;AD 17]
</strong>
<br>
<strong><i>Ab urbe condita</i>, French tr. by Pierre Bersuire</strong>
pr. Paris 1486&ndash;7
(Goff L250), &amp;c.; Chavy, 1379; Lucas, 239&ndash;40.

</li>

<li>
S11.&para;9 (`the werkis of Allane Charter'): 
<strong>Alain Chartier [<i>c.</i> 1385&ndash;1433]
</strong>
<br>
<span class="biblio_block">
P. Bourgain-Hemeryck, <i>Les &OElig;uvres latines d'Alain Chartier</i> (Paris
1977); E. Cayley, <i>Debate and Dialogue: Alain Chartier in his cultural
context</i> (Oxford 2006).
</span>
<br>
<strong><i>Oeuvres</i></strong>
pr. Paris 1489 (<i>GW</i> 6557), &amp;c.; ed. J. C. Laidlaw (Cambridge
1974).

</li>

<li>
S11.&para;11&ndash;12 (`the ellevint buik of sanct Augustine', 'first buik'): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
S11.&para;13 (`the first buik of Rolland amoreuse'): 
<strong>Matteo Maria Boiardo [1440/41&ndash;1494]
</strong>
<br>
<strong><i>Orlando innamorato</i>, French tr. by Jacques Vincent du Crest Arnaud
as <i>Le (premier) livre de Roland lamoureux</i></strong>
pr. in 3 vols, Paris 1549&ndash;50.

</li>

<li>
S11.&para;15 (`the first buik of Amades de Gaule'): 
<strong><i>Amadis de Gaula</i>. <i>Los quatro libros del virtuoso cavallero Amadis de
Gaula</i></strong>
pr. Zaragoza 1508, &amp;c.

<br>
<strong><i>Le premier livre d'Amadis de Gaule</i>, French tr. from 
Spanish by Nicolas de Herberay, sieur des Essarts</strong>
pr. Paris 1540, &amp;c.; ed. 
H. Vaganay (Paris 1918). [Herberay translated eight books at the request of
Francis I; other books followed by other hands until there were twenty-one; 
S. Rawles, `The earliest editions of Nicolas de Herberay's translations of 
<i>Amadis de Gaule</i>', <i>The Library</i> 6th ser. 3 (1981) 91&ndash;108.]

</li>

<li>
S11.&para;16 (`ane parte of Plutarche in frenche') ?= S17.&para;55: 
<strong>Plutarch [&dagger; after 120]
</strong>
<br>
<strong>French tr. by Jacques Amyot &amp; others, <i>Les Vies des hommes illustres
grecs et romans comparees l'une avec l'autre</i></strong>
pr. Paris [1559], &amp;c. 

</li>

<li>
S11.&para;17 (`Valerius Maximus in frenche'): 
<strong>Valerius Maximus [fl. AD 30]
</strong>
<br>
<strong>French tr. by Jehan le Blond</strong>
pr. Paris 1548.

</li>

<li>
S11.&para;18: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i>, French tr. by Jean de Vignay, <i>La legende doree</i></strong>
pr.
Lyon 1476, &amp;c.; Chavy, 748.

</li>

<li>
S11.&para;19 (`la mere des histories'): 
<strong><i>Rudimentum nouiciorum</i>, French adaptation as <i>La Mer des histoires</i></strong>
pr.
Paris 1488 (Goff R346), &amp;c.; Chavy, 973.

<br>
</li>

<li>
S11.&para;20 (`the first volume of Vita Christi'): 
<strong>Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</strong>
<br>
<strong><i>Vita Christi</i>, French tr. by Guillaume Lemenand</strong>
 pr. Lyon 1487, &amp;c. 

</li>

<li>
S11.&para;21 (`foure volumes of la mere des historeis'): 
<strong><i>Rudimentum nouiciorum</i>, French adaptation as <i>La Mer des histoires</i></strong>
pr.
Paris 1488 (Goff R346), &amp;c.; Chavy, 973.

<br>
<strong><i>Rudimentum nouiciorum</i>, French adaptation as <i>La Mer des histoires</i>,
augmented with <i>Chronique de Saint-Denis</i>, Robert Gaguin's <i>Compendium 
super Francorum gestis</i></strong>
pr. in four parts as <i>Le premier (quatrieme) volume 
de la Mer des histoires et croniques de la France</i>, Paris 1517&ndash;18 (Moreau,
2. 1668, 1895).

</li>

<li>
S11.&para;22: 
<strong>Riccobaldus Ferrariensis (Riccobaldo da Ferrara) [&dagger; after 1312]
</strong>
<br>
<strong><i>Historia uniuersalis</i>, French tr. by S&eacute;bastien Mamerot, with 
continuation by Robert Gaguin</strong>
pr. as <i>Chronique Martiniane de tous
les papes</i>, Paris [<i>c.</i> 1507] (Macfarlane 158; Moreau, 1. 143); 
Chavy, 934, 1211.

</li>

<li>
S11.&para;23 (`the play of the chas'): 
<strong>Jacobus de Cessolis OP [&dagger; after 1322]
</strong>
<br>
<strong><i>Liber de moribus hominum et officiis nobilium ac popularium
super ludo scaccorum</i>, English tr. as <i>The play of the chesse</i> by William 
Caxton from the French of Jean de Vignay</strong>
pr. [Brugge] 1747 (<i>STC</i> 4920; 
<i>GW</i> 6532); pr. [Westminster <i>c.</i> 1483] (<i>STC</i> 4921; <i>GW</i> 6533).

</li>

<li>
S11.&para;24: 
<strong>Guillaume Paradin de Cuyseaulx [<i>c.</i> 1510&ndash;1590]
</strong>
<br>
<strong><i>Cronique de Savoye</i></strong>
pr. Lyon 1552, 1561.

</li>

<li>
S11.&para;&dagger;25 (`the buik of hunting'): 
<strong>William Twici [&dagger;1328]
</strong>
<br>
<strong><i>L'Art de v&eacute;nerie</i> (Dean 405), English tr. as <i>Art of Hunting</i></strong>
ed. 
B. Danielsson (Stockholm 1977).

</li>

<li>
S11.&para;&dagger;26 (`the destruction of Troy'): 
<strong>Jacques Milet [<i>c</i>1425&ndash;1466]
</strong>
<br>
<strong><i>La Destruction de Troye la grant</i></strong>
&para;*pr. Paris 1498 (Macfarlane 52),
&amp;c.; ed. E. Stengel (Marburg &amp; Leipzig 1883).

</li>

<li>
S11.&para;29 (`the decameron of Bocas'): 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>Decamerone</i>, French tr. by Anthoine Le Ma&ccedil;on as <i>Le Decameron
de Messire Jehan Bocace Florentin</i></strong>
pr. Paris 1545, &amp;c.

</li>

<li>
S11.&para;30: 
<strong><i>Speculum humanae saluationis</i>, French tr. by Julien Macho as <i>Le Mirouer
de la redempcion de lumain lygnage</i></strong>
pr. [Lyon] 1478 (Goff S661), &amp;c.; Chavy,
1326.

<br>
</li>

<li>
S11.&para;31 (`Boece de consolation'): 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i>, indeterminate French tr.
</strong>
</li>

<li>
S11.&para;32 ?= S11.&para;40: 
<strong><i>Le Jardin de plaisance et fleur de rethoricque</i></strong>
pr. Paris [<i>c.</i> 1501]
(Macfarlane 239), &amp;c.; ed. E. Droz &amp; A. Piaget (Paris 1910&ndash;25).

<br>
</li>

<li>
S11.33: 
<strong><i>Lancelot</i></strong>
ed. A. Micha (Geneva 1978&ndash;83). [The early printed editions
likely to be <i>Lancelot du Lac</i>: pr. (in three parts) Rouen 1488 (I &amp; II), 
Paris 1488 (III) (Goff L33; CIBN L29&ndash;30), &amp;c. Editions include the Vulgate 
<i>Lancelot</i> and adds the <i>Queste del Saint Graal</i> and the <i>Mort le Roi Artu</i>, 
as set out in note on H1.36.]

<br>
</li>

<li>
S11.&para;34 (`an greit volume of Cronica cronicorum', probably Paris 1521): 
<strong>Hartmann Schedel [1410&ndash;1485]
</strong>
<br>
<strong><i>Liber cronicarum</i></strong>
pr. N&uuml;rnberg 1493 (Goff S307);
R. J. Schoeck in <i>BIHR</i> 35 (1962) 84&ndash;6.  Or the French abridgement, <i>Cronica
cronicarum abbrege</i>: pr. Paris 1521, Paris 1532.

</li>

<li>
S11.&para;&dagger;35 (`ane compend of the cronicles in spanioll'): 
<strong><i>Suma y compendio de todas las cronicas del mundo</i></strong>
pr. Antwerp 1555.

<br>
</li>

<li>
S11.&para;36 (`ane buik of devilry'): 
<strong>Eloy d'Amerval [fl. 1455&ndash;1508]
</strong>
<br>
<strong><i>Le livre de la deablerie</i></strong>
pr. Paris 1508; ed. R. Deschaux &amp; B.
Charrier, Textes litt&eacute;raires fran&ccedil;ais 406 (Geneva 1991).

</li>

<li>
S11.&para;37 (`Bocas of the geneologie of the goddis'): 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>Genealogia deorum gentilium</i>, French tr.</strong>
pr. Paris 1498 (<i>GW</i>
4491), &amp;c.

</li>

<li>
S11.&para;39 (`discours of the misereis of the time present'): 
<strong>Pierre de Ronsard [1524&ndash;1585]
</strong>
<br>
<strong><i>Discours des miseres de ce temps. A la Royne mere du Roy</i></strong>
pr. Paris 
1562, &amp;c.; ed. M. C. Smith, Textes litt&eacute;raires fran&ccedil;ais 263 (Geneva 1979).
[For the response printed in 1563, see under Antoine de Chandieu.]

</li>

<li>
S11.&para;40: 
<strong><i>Le Jardin de plaisance et fleur de rethoricque</i></strong>
pr. Paris [<i>c.</i> 1501]
(Macfarlane 239), &amp;c.; ed. E. Droz &amp; A. Piaget (Paris 1910&ndash;25).

<br>
</li>

<li>
S11.&para;41: 
<strong>Sebastian M&uuml;nster [1489&ndash;1552]
</strong>
<br>
<strong><i>Isaias propheta Hebraice, Graece et Latine. Addita est duplex
latina interpretatio Hieronymi et Munsteri</i></strong>
pr. Basel [?1535].

</li>

<li>
S11.&para;42 (`geneologie of the kingis of France'): 
<strong>Jehan Bouchet [1476&ndash;<i>c</i>1558]
</strong>
<br>
<strong><i>Les anciennes et modernes genealogies des Roys de France et
mesmement du roy Pharamond avec leurs epitaphes et effigies</i></strong>
pr.
Paris 1531, &amp;c.

</li>

<li>
S11.&para;43: 
<strong>L. Iunius Columella [&dagger; after 65]
</strong>
<br>
<strong><i>De re rustica</i></strong>
pr. in <i>Scriptores rei rusticae</i>, Venice 1472 (Goff 
S346), &amp;c.; ed. V. Lundstr&ouml;m &amp; others (Uppsala 1897&ndash;1968).

</li>

<li>
S11.&para;44 (`the prothogall of the chancellarie of France'): 
<strong><i>Le grant stille et protocolle de la chancellerie de France</i></strong>
pr. Paris
1513 (Moreau, 1. 725), &amp;c.

<br>
</li>

<li>
S11.&para;&dagger;45 (`the regret of the duke of Guise died'): 
<strong><i>La Complaincte de France sur le grief trespas et mort de feu tres-vertueux
et tres-magnanime prince Fran&ccedil;ois de Lorraine duc de Guyse</i></strong>
pr. Troyes
1563 (Brunet, <i>Suppl&eacute;ment</i>, 1. 283&ndash;4).

<br>
</li>

<li>
S11.&para;46: 
<strong><i>Suppl&eacute;ement de devotion de coeur en Dieu</i></strong>
pr. Paris 1555.

<br>
</li>

<li>
S11.&para;47: 
<strong><i>The newe Actis and constitionis of parliament maid be Iames the fift
king of Scottis</i></strong>
pr. Edinburgh 1541 (<i>STC</i> 21878.5).

<br>
</li>

<li>
S11.&para;48 (`historie of the tyme present be S. Fontene'): 
<strong>Simon Fontaine [fl. 1544]
</strong>
<br>
<strong><i>Histoire catholique de nostre temps</i></strong>
pr. Paris 1558, &amp;c.

</li>

<li>
S11.&para;49: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De officiis</i>, French tr. by Anjorrant Bourr&eacute;</strong>
pr. Lyon 1493/4 (<i>GW</i>
6976), &amp;c.; Chavy, 256, 352; Lucas, 237. Or French tr. by David
Miffant:  pr. Paris [<i>c.</i> 1500] (<i>GW</i> 6978), &amp;c.; Chavy, 352; Lucas, 237.  

</li>

<li>
S11.&para;50 (`the triumphe of faith'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Le Triumphe et excellente victoire de la foy</i></strong>
pr. Paris 1562.

</li>

<li>
S11.&para;&dagger;51 (`the triumph of Pallas'): 
<strong>Fran&ccedil;ois Habert [&dagger;1561]
</strong>
<br>
<strong><i>La nouvelle Pallas</i></strong>
pr. Lyon 1545, 1547.

</li>

<li>
S11.&para;52 (`the oratioun in the prayers of the auld cardinal of Lorraine'): 
<strong>Charles de Guise, cardinal of Lorraine [1525&ndash;1574]
</strong>
<br>
<strong><i>L'oraison de monseigneur le illustrisme et reverendissime cardinal
de Lorraine, faicte en l'assemblee de Poyssi, le Roy y estant present, le
xvi jour de september MDLXI</i></strong>
pr. Paris 1561, Lyon 1561, &amp;c.

</li>

<li>
S11.&para;53 (`the epistles of Ovid in frenche meter'): 
<strong>P. Ovidius Naso [43 BC&ndash;AD 17/18]
</strong>
<br>
<strong><i>Heroides</i>, French tr. by Octovien de Saint-Gelais</strong>
pr. Paris 
[1499&ndash;1503] (<i>CIBN</i> O103), &amp;c.; Chavy, 1042.

</li>

<li>
S11.&para;54 (`the first buik of the Novallis Ronsard'): 
<strong>Pierre de Ronsard [1524&ndash;1585]
</strong>
<br>
<strong><i>Les nues ou nouvelles</i></strong>
pr. without place 1565.

</li>

<li>
S11.&para;55 (`Daines Ugieri in italian'): 
<strong>Danese Ugieri [#]
</strong>
<br>
<strong><i>Opera bella e piacevole d'armi e d'amore</i></strong>
pr. Venice 1553.

</li>

<li>
S11.&para;&dagger;56 (`the king of Frances maioritie'): 
<strong>Charles IX [1550&ndash;1574], king of France
</strong>
<br>
<strong><i>La Declaration faicte par le Roi de sa majorit&eacute;, tenant sa lict de
justice en sa cour de parlement &agrave; Rouen</i></strong>
pr. Rouen [1563].

</li>

<li>
S11.&para;57 (`the nynte buk of the Amades de Gaule'): 
<strong><i>Amadis de Gaula</i>. <i>Los quatro libros del virtuoso cavallero Amadis de
Gaula</i></strong>
pr. Zaragoza 1508, &amp;c.

<br>
<strong><i>Le premier livre d'Amadis de Gaule</i>, French tr. from 
Spanish by Nicolas de Herberay, sieur des Essarts</strong>
pr. Paris 1540, &amp;c.; ed. 
H. Vaganay (Paris 1918). [Herberay translated eight books at the request of
Francis I; other books followed by other hands until there were twenty-one; 
S. Rawles, `The earliest editions of Nicolas de Herberay's translations of 
<i>Amadis de Gaule</i>', <i>The Library</i> 6th ser. 3 (1981) 91&ndash;108.]

</li>

<li>
S11.&para;58 (`off penitence'): 
<strong>Gabriel Dupuyherbault [&dagger;1566]
</strong>
<br>
<strong><i>De penitence et des parties d'icelle. Auecques le Miroir de l'homme
chrestien</i></strong>
pr. Paris 1557.

</li>

<li>
S11.&para;61 (`the morall triumphis of Petrark in italiane'): 
<strong>Francesco Petrarca [1304&ndash;1374]
</strong>
<br>
<strong><i>I trionfi</i></strong>
pr. with commentary by Bernardo Lapini, Bologna 1476
(Goff P380), &amp;c.; ed. V. Pacca &amp; L. Paolino (Milan 1996).

</li>

<li>
S11.&para;63 (`ane bischoppis epistle to the ministeris'): 
<strong>Jean du Tillet [&dagger;1570], bishop of Saint-Brieuc
</strong>
<br>
<strong><i>Ep&icirc;tre d'un &eacute;v&ecirc;que aux ministres des &eacute;glises nouvelles</i></strong>
pr.
Paris 1563.

</li>

<li>
S11.&para;65 (`vulgar lettres of diverse noblemen in italian'): 
<strong><i>Lettere volgari di diversi nobilissimi huomini</i></strong>
pr. Venice 1542 (Adams
L571).

<br>
</li>

<li>
S11.&para;66: 
<strong>C. Sallustius Crispus [86&ndash;<i>c</i>34 BC]
</strong>
<br>
<strong>Italian tr., various possibilities.
</strong>
</li>

<li>
S11.&para;67 (`the manuell of the ingrate man'): 
<strong>Mathieu de la Lande [fl. 1544]
</strong>
<br>
<strong><i>Manuel des abu de lhomme ingrat</i></strong>
pr. Metz 1544.

</li>

<li>
S11.&dagger;68 (`errores amoreuses'): 
<strong>Pontus de Tyard [1521&ndash;1605], bishop of Chalon-sur-Sa&ocirc;ne
</strong>
<br>
<strong><i>Erreurs amoureuses</i></strong>
pr. Paris 1549, &amp;c.; ed. J. A. McClelland,
Textes litt&eacute;raires fran&ccedil;ais 136 (Geneva 1967).

</li>

<li>
S11.&para;69: 
<strong>Guillaume Aubert de Poitiers [<i>c.</i> 1534&ndash;<i>c.</i> 1601]
</strong>
<br>
<strong><i>Elegie sur trespas de feu Ioach(im) du Bellay</i></strong>
pr. Paris 1560,
1561.

</li>

<li>
S11.&para;70 (`the armes of the marques Dalbuif'): 
<strong>Remy Belleau [1528&ndash;1577]
</strong>
<br>
<strong><i>Larmes sur le trespas de monseigneur Rene de Lorraine et de
madame Louyse de Rieux, marquis et marquise d'Elbeuf</i></strong>
Paris 1566.

</li>

<li>
S11.&para;71 (`dictionar in frenche and latine'): 
<strong>Robertus Stephanus (Robert Estienne) the elder [<i>c</i>1503&ndash;1559]
</strong>
<br>
<strong><i>Dictionarium Latinogallicum</i></strong>
pr. Paris 1538, &amp;c. And <i>Dictionnaire
fran&ccedil;ois&ndash;latin</i>: pr. Paris 1539.

</li>

<li>
S11.&para;72 (`ane uther dictionar in frenche and latine'): 
<strong>Robertus Stephanus (Robert Estienne) the elder [<i>c</i>1503&ndash;1559]
</strong>
<br>
<strong><i>Dictionarium Latinogallicum</i></strong>
pr. Paris 1538, &amp;c. And <i>Dictionnaire
fran&ccedil;ois&ndash;latin</i>: pr. Paris 1539.

</li>

<li>
S11.&para;74 (`the sege of Troy in italiane rime'): 
<strong><i>Libro di Troiano</i>, a verse account of the siege of Troy in Italian</strong>
pr.
[Florence <i>c.</i> 1490] (Goff T460), &amp;c.

<br>
</li>

<li>
S11.&para;75: 
<strong>F. Vegetius Renatus [fl. 400]
</strong>
<br>
<strong><i>De re militari</i></strong>
pr. [Utrecht <i>c.</i> 1473/4] (Goff V104), &amp;c.; ed. 
A. &Ouml;nnerfors, Teubner (1995); ed. M. D. Reeve, OCT (2004).

</li>

<li>
S11.76 (`the begyning of the scottis cronicle in frenche bie
   Dienye Savage'): 
<strong>Hector Boece [?1465&ndash;1536]
</strong>
<br>
<strong><i>Scotorum historia</i>, incomplete French tr. by Denis Sauvage</strong>
pr. Paris
1527 (Moreau, 3. 1143).

</li>

<li>
S11.&para;77 (`the levint buik of the Amades de Gaule'): 
<strong><i>Amadis de Gaula</i>. <i>Los quatro libros del virtuoso cavallero Amadis de
Gaula</i></strong>
pr. Zaragoza 1508, &amp;c.

<br>
<strong><i>Le premier livre d'Amadis de Gaule</i>, French tr. from 
Spanish by Nicolas de Herberay, sieur des Essarts</strong>
pr. Paris 1540, &amp;c.; ed. 
H. Vaganay (Paris 1918). [Herberay translated eight books at the request of
Francis I; other books followed by other hands until there were twenty-one; 
S. Rawles, `The earliest editions of Nicolas de Herberay's translations of 
<i>Amadis de Gaule</i>', <i>The Library</i> 6th ser. 3 (1981) 91&ndash;108.]

</li>

<li>
S11.&para;78 (`the institutionis of astronomie'): 
<strong>Jean-Pierre de Mesmes [1516&ndash;<i>post</i> 1578]
</strong>
<br>
<span class="biblio_block">
N. Bingen, `Jean-Pierre de Mesmes', in <i>Biblioth&egrave;que d'humanisme et
de renaissance</i> 66 (2004) 331&ndash;57.
</span>
<br>
<strong><i>Les Institutions astronomiques</i></strong>
pr. Paris 1557.

</li>

<li>
S11.&para;79 (`the first buik of Enguerant'): 
<strong>Enguerrand de Monstrelet [&dagger;1453]
</strong>
<br>
<strong><i>Cronicques</i></strong>
&para;*pr. Paris [<i>c.</i> 1503] (Macfarlane 144); ed. L. Douet
d'Arcq (Paris 1857&ndash;62 / repr. New York 1966).

</li>

<li>
S11.&para;81 (`the magreit of the quene of Nauarre'): 
<strong>Marguerite d'Angoul&ecirc;me [1492&ndash;1549], queen of Navarre
</strong>
<br>
<strong><i>Marguerites de la marguerite des princesses</i></strong>
pr. Paris 1547.

</li>

<li>
S11.&para;83 (`lyues of certaine of the illustres by Emelius Probus'): 
<strong>Cornelius Nepos [99&ndash;24 BC]
</strong>
<br>
<strong><i>De uiris illustribus</i></strong>
pr. Venice 1471 (Goff C915), &amp;c.

</li>

<li>
S11.&para;84 (`the matamorphosis of Ovid in italian'): 
<strong>P. Ovidius Naso [43 BC&ndash;AD 17/18]
</strong>
<br>
<strong><i>Metamorphoses</i>, Italian tr., various possibilities.
</strong>
</li>

<li>
S11.&para;&dagger;85 (`the institutioun of lentren'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Traict&eacute; du sainct jeusne de caresme</i></strong>
pr. Paris 1566.

</li>

<li>
S11.&para;86 (`the olive augmentit'): 
<strong>Joachim du Bellay [1525&ndash;1560]
</strong>
<br>
<strong><i>L'Olive augment&eacute;e depuis la premi&egrave;re &eacute;dition</i></strong>
pr. Paris 1550, &amp;c.

</li>

<li>
S11.&para;87 (`Marcus Aurelius in italian'): 
<strong>Antonio de Guevara OFM [&dagger; 1547], bishop of Mondonedo
</strong>
<br>
<strong><i>Libro aureo de Marco Aurelio</i>, Italian tr. by Portomaris da Trino</strong>
 pr. Venice 1556.

</li>

<li>
S11.&para;88 (`the complaint of the university of Paris contra the 
   Jesuittes'): 
<strong><i>Complaincte de l'Universit&eacute; de Paris contra aucuns estrangers
nouvellement venus surnommez J&eacute;suites</i></strong>
pr. without place 1564 
(Brunet, 2. 197), &amp;c.

<br>
</li>

<li>
S11.&para;89 (`Orlando furioso'): 
<strong>Lodovico Ariosto [1474&ndash;1533]
</strong>
<br>
<strong><i>Orlando furioso</i></strong>
pr. Ferrara 1516, &amp;c. Or in a French tr. as
<i>Roland furieux</i>: pr. Paris 1545 &amp;c.

</li>

<li>
S11.&para;90 (`off the beginning and progres of the realme of France'): 
<strong>Charles du Moulin [1500&ndash;1566]
</strong>
<br>
<strong><i>Traicte de l'origine, progres, et excellence du royaume et 
monarchie des fran&ccedil;ois et coronne de France</i></strong>
pr. Paris 1561.

</li>

<li>
S11.&para;91 (`harang of the frenche people against rebellion'): 
<strong>Guillaume des Autels [1529&ndash;1581]
</strong>
<br>
<strong><i>Harengue au peuple fran&ccedil;ois contra la r&eacute;bellion</i></strong>
pr. Paris
1560.

</li>

<li>
S11.&para;93: 
<strong><i>Suppl&eacute;ement de devotion de coeur en Dieu</i></strong>
pr. Paris 1555.

<br>
</li>

<li>
S11.&para;94 (`the cardinal of Loyranis oratioun at the assembly of Poesy'): 
<strong>Charles de Guise, cardinal of Lorraine [1525&ndash;1574]
</strong>
<br>
<strong><i>L'oraison de monseigneur le illustrisme et reverendissime cardinal
de Lorraine, faicte en l'assemblee de Poyssi, le Roy y estant present, le
xvi jour de september MDLXI</i></strong>
pr. Paris 1561, Lyon 1561, &amp;c.

</li>

<li>
S11.&para;96 (`ane ansuer to Ronsard'): 
<strong>Antoine de Chandieu [1534&ndash;1591]
</strong>
<br>
<strong><i>Response aux calomnies contenues au Discours et suyre du Discours
sur les miseres de ce temps, faits par Messire Pierre Ronsard; la premiere
de par A. Zamariel, les deux autres par B. de Mont-Dieu</i> [by Antoine de
Chandieu &amp; Jacques Gr&eacute;vin, ?1538&ndash;1570]</strong>
pr. [Paris] 1563.

</li>

<li>
S11.&para;97 (`the misereis of the tyme present be Ronsard'): 
<strong>Pierre de Ronsard [1524&ndash;1585]
</strong>
<br>
<strong><i>Discours des miseres de ce temps. A la Royne mere du Roy</i></strong>
pr. Paris 
1562, &amp;c.; ed. M. C. Smith, Textes litt&eacute;raires fran&ccedil;ais 263 (Geneva 1979).
[For the response printed in 1563, see under Antoine de Chandieu.]

</li>

<li>
S11.&para;98: 
<strong><i>Le Recueil de poesie fran&ccedil;oise</i></strong>
pr. Lyon 1550.

<br>
</li>

<li>
S11.&para;99 (`the spheir of the warld'): 
<strong>Alessandro Piccolomini [1508&ndash;1579], archbishop of Patras, coadjutor bishop of Siena
</strong>
<br>
<strong><i>De la sfera del mondo</i></strong>
pr. Venice 1548, &amp;c. Or French tr. from 
Italian by Jacques Goupyl as <i>La Sphere du monde</i>: pr. Paris 1550.

</li>

<li>
S11.&para;100 (`the singular combat of Dauid and Golias'): 
<strong>Joachim du Bellay [1525&ndash;1560]
</strong>
<br>
<strong><i>La Monomachie de Dauid et de Goliath</i></strong>
pr. Paris 1560, &amp;c.

</li>

<li>
S11.&para;102 (`the historie of Jasone'): 
<strong>Raoul Lef&egrave;vre [fl. 1460]
</strong>
<br>
<strong><i>Les fais et prouesses du chevalier Jason</i></strong>
pr. [Brugge <i>c.</i> 1475]
(<i>CIBN</i> L85), &amp;c.;  ed. G. Pinkernell, <i>L'Histoire de Jason: eine Roman aus 
der 15. Jahrhundert</i> (Frankfurt 1971).

</li>

<li>
S11.&para;103 (`Pantagruell in frenche'): 
<strong>Fran&ccedil;ois Rabelais [<i>c.</i> 1490&ndash;?1553]
</strong>
<br>
<strong><i>Pantagruel</i></strong>
pr. Lyon 1533, &amp;c.

</li>

<li>
S11.&para;104 (`contionero de romanses'): 
<strong><i>Cancionero de romances</i></strong>
pr. Antwerp [?1550]; ed. A. R. Rodr&iacute;guez Morino
(Madrid 1967).

<br>
</li>

<li>
S11.&para;105 (`the sacrifice evangelick'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Traict&eacute; du sacrifice evangelique</i>, dedicated to Mary, queen of
Scots</strong>
pr. Paris 1564.

</li>

<li>
S11.&para;106 (`resolution of certane christiane poyntis'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Certaine r&eacute;solution et d&eacute;termination des poincts &agrave; pr&eacute;sent
controvers&eacute;es touchant la religion chrestienne</i></strong>
pr. Paris 1564.

</li>

<li>
S11.&para;107 (`the suchingis of Oliver Magne'): 
<strong>Olivier de Magny [&dagger; <i>c.</i> 1560]
</strong>
<br>
<strong><i>Les Souspirs</i></strong>
pr. Paris 1557; ed. D. Wilkin, Textes litt&eacute;raires
fran&ccedil;ais 255 (Geneva 1978).

</li>

<li>
S11.&para;108 ?= S17.&para;100: 
<strong>Guillaume Gu&eacute;roult [&dagger;1559]
</strong>
<br>
<strong><i>Figures de la Bible illustrees de huictains fran&ccedil;oys</i></strong>
pr. Paris
1564, &amp;c.

</li>

<li>
S11.&para;109 (`the king of Frances declaratioun upon Danvilles edictis'): 
<strong>Charles IX [1550&ndash;1574], king of France
</strong>
<br>
<strong><i>Declaration du Roy sur le different d'aucuns escripts cydevant
publiez soubz les noms de Monsieur de Dampville</i> &amp;c.</strong>
pr. [without place 
1563].

</li>

<li>
S11.&para;110 (`the first buik of Claud Butat in frenche'): 
<strong>Marc-Claude de Buttet [1529/30&ndash;1586]
</strong>
<br>
<strong><i>Le premier livre des vers de Marc-Claude de Buttet auquel a est&eacute;
ajout&eacute; le second, ensemble l'Amalth&eacute;e</i></strong>
pr. Paris 1561.

</li>

<li>
S11.&para;111 (`the sectis of hereseis in this tyme'): 
<strong>Stanislaus Hosius [1504&ndash;1579], cardinal
</strong>
<br>
<strong><i>De origine haeresium nostri temporis</i>, French tr. by Jean de Billy
as <i>Des sectes et h&eacute;r&eacute;sies de nostre temps et de leur origine</i></strong>
pr. Paris
1564.

</li>

<li>
S11.&para;112 (`the treaties of Starnis Lawes bischop of Warne'): 
<strong>Stanislaus Hosius [1504&ndash;1579], cardinal
</strong>
<br>
<strong><i>De expresso Dei uerbo libellus</i>, French tr. Lancelot de Carles as
<i>Trait&eacute; de l'expresse parole de Dieu</i></strong>
pr. Paris 1562.

</li>

<li>
S11.&para;114 (`ane gaddering of sindry historeis in frenche'): 
<strong>Iohannes Boemus [<i>c.</i>1485&ndash;1535]
</strong>
<br>
<strong><i>Omnium gentium mores</i>, French tr. as <i>Recueil de diuerses histoires
touchant les situations de toutes regions et pays avec les particulieres
moeurs, loix, et ceremonies</i></strong>
pr. Paris [1539], &amp;c.

</li>

<li>
S11.&para;115 (`the buik of human policie'): 
<strong>Francesco Patrizi [1413&ndash;1494], bishop of Gaeta
</strong>
<br>
<strong><i>Le liure de police humaine, extraict des volumes de F. Patrice
par maistre Gilles d'Aurigny</i>, French tr. by Jehan le Blond</strong>
pr. Paris 1544, 
&amp;c.

</li>

<li>
S11.&para;116 (`Clement Marot'): 
<strong>Cl&eacute;ment Marot [1496&ndash;1544]
</strong>
<br>
<strong>unspec.
</strong>
</li>

<li>
S11.&para;117 (`the consolationis of Bembo'): 
<strong>Pietro Bembo [1470&ndash;1547], cardinal
</strong>
<br>
<strong><i>De gli asolani nequali si ragiona d'amore</i>, French tr. by Jehan Martin,
<i>Les Azolains de Monseigneur Bembo de la nature d'amour</i></strong>
pr. Paris 1545, &amp;c.

</li>

<li>
S11.&para;118 (`abrigement of the art poetik in frenche'): 
<strong>Pierre de Ronsard [1524&ndash;1585]
</strong>
<br>
<strong><i>Abr&eacute;g&eacute; de l'art po&eacute;tique fran&ccedil;ois</i></strong>
pr. Paris 1565.

</li>

<li>
S11.&para;119 (`the defence of the illustratioun of the frenche language'): 
<strong>Joachim du Bellay [1525&ndash;1560]
</strong>
<br>
<strong><i>La Deffence et illustration de la langue fran&ccedil;oyse</i></strong>
pr. Paris
1549, &amp;c.; ed. J. C. Monferran, Textes litt&eacute;raires fran&ccedil;ais 543 (Geneva
2001).

</li>

<li>
S11.&para;120 (`a gaddering of sumpathies'): 
<strong><i>Le Recueil de tout solas et plaisir et paragon de poesie</i></strong>
pr. Paris
1552.

<br>
</li>

<li>
S11.&para;121 (`the epistle of Ignatius'): 
<strong>Ignatius [AD <i>c</i>35&ndash;<i>c</i>107], bishop of Antioch
</strong>
<br>
<strong><i>Epistolae</i>, French tr. from Greek as <i>Les epistres de sainct Ignace 
traduicte de grec en fran&ccedil;oys</i></strong>
pr. Paris 1562 (Adams I34).

</li>

<li>
S11.&para;122 (`the principallis of astronomie') ?= S16.&para;34: 
<strong>Reinerus Gemma, Frisius [1508&ndash;1555]
</strong>
<br>
<strong><i>De principiis astronomiae et cosmographiae</i>, French tr. by Claude
de Boissi&egrave;re as <i>Les Principes d'atronomie et cosmographie</i></strong>
pr. Paris
1556, &amp;c.

</li>

<li>
S11.&para;123 (`the remonstrant of the emprior Fer' maid to the paip'): 
<strong>Ferdinand I [1503&ndash;1564], emperor
</strong>
<br>
<strong><i>Les graues et sainctes remonstrances de l'empereur Ferdinand &agrave;
nostre sainct pere le pape</i></strong>
pr. Paris 1563.

</li>

<li>
S11.&para;125 (`the praise of foly in frenche'): 
<strong>Desiderius Erasmus [1466&ndash;1536]
</strong>
<br>
<strong><i>Moriae encomium</i>, French tr. as <i>De la declamation des louenges
de follie</i></strong>
pr. Paris 1520, &amp;c.

</li>

<li>
S11.&para;&dagger;126 (`four homoleis anent the images in France'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Traict&eacute; catholique des images et du vray usage d'icelles</i></strong>
pr.
Paris 1564.

</li>

<li>
S11.&para;127 (`the intertenyment of helth'): 
<strong>Prospero Calano [fl. 1524&ndash;38]
</strong>
<br>
<strong><i>Traict&eacute; excellent de l'entretenement de sant&eacute;</i></strong>
pr. Paris 1550.

</li>

<li>
S11.&para;128 (`the treatie of the sacrament by Petr Martit'): 
<strong>Pietro Martire Vermigli [1499&ndash;1562]
</strong>
<br>
<strong><i>De sacramento eucharistiae in celeberrima Angliae schola Oxoniensi
habita tractatio</i></strong>
pr. [London 1549] (<i>STC</i> 24673). Or French tr. as <i>Trait&eacute;
du sacrement de l'eucharistie par M. Pierre Martyr</i>: pr. without place 1562.

</li>

<li>
S11.&para;&dagger;129 (`the answer to Johnne Calvynis epistle'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Epistre &agrave; Jean Caluin pour luy remonstrer qu'il repugne &agrave; la parole
de Dieu en ce qu'il a escrit des images</i></strong>
pr. Paris 1564. Or <i>Second epistre
en laquelle est refut&eacute;e une vaine imagination de la participation du corps
et sang de Iesu Christ par un decoulement spiritual</i>: pr. Paris 1564. [Both
written against Calvin's <i>Institutio Christianae religionis</i>.]

</li>

<li>
S11.130 (`off the fals propheittis'): 
<strong>Bartholomaeus de Usingen (Bartolom&auml;us Arnoldi) OSA [1462&ndash;1532]
</strong>
<br>
<strong><i>Libellus de falsis prophetis</i></strong>
pr. Erfurt 1525 (<i>Index Aureliensis</i>,
2. 282; BM <i>Cat. German</i>, 67).

</li>

<li>
S11.&para;131 (`Hippocrates in frenche'): 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong>unspec., French tr.
</strong>
</li>

<li>
S11.&para;132 (`a litle buik of the chas'): 
<strong>Jacobus de Cessolis OP [&dagger; after 1322]
</strong>
<br>
<strong><i>Liber de moribus hominum et officiis nobilium ac popularium
super ludo scaccorum</i>, English tr. as <i>The play of the chesse</i> by William 
Caxton from the French of Jean de Vignay</strong>
pr. [Brugge] 1747 (<i>STC</i> 4920; 
<i>GW</i> 6532); pr. [Westminster <i>c.</i> 1483] (<i>STC</i> 4921; <i>GW</i> 6533).

</li>

<li>
S11.&para;134 (`the remonstrans of the estaitts of Burgunze'): 
<strong>Jean B&eacute;gat [1523&ndash;1572]
</strong>
<br>
<strong><i>Remonstrances au Roy des d&eacute;putez des trois Estats de son duch&eacute; de
Bourgoigne sur l'&eacute;dict de la pacification</i></strong>
pr. Antwerp 1563, &amp;c.

</li>

<li>
S11.&para;135 (`sangis of the bible in frenche be Lancelote de la Carle'): 
<strong>Lancelot de Carles [&dagger;1568], bishop of Riez
</strong>
<br>
<strong><i>Les Cantiques de la Bible mis en vers fran&ccedil;ois</i></strong>
pr. Paris
1560, &amp;c.

</li>

<li>
S11.&para;136 (`ane exhortation to the kingis counsall aganis the trublis'): 
<strong>Estienne Pasquier [1529&ndash;1615]
</strong>
<br>
<strong><i>Exhortation aux princes et seigneurs du Conseil priv&eacute; du Roy pour
obvier aux s&eacute;ditions qui occultement semblent nous menacer pour le
fait de la religion</i></strong>
pr. without place 1561.

</li>

<li>
S11.&para;138 (`the maner to tak away the contrauersie of religioun
   be Renat' Benedict'): 
<strong>Rene Benoist [1521&ndash;1608], preacher to Mary, queen of Scots
</strong>
<br>
<strong><i>Necessarius atque certus modus tollendae religionis discordiae</i></strong>
pr.
Paris 1562. Or perhaps one of the Scots translations.

</li>

<li>
S11.&para;140 (`the kingis apologie aganis the staittis of Burgunze'): 
<strong>Charles IX [1550&ndash;1574], king of France
</strong>
<br>
<strong><i>Apologie de l'Edit du Roy sur la pacification de son royaume contre
la remonstrance des estats de Bourgongne</i></strong>
pr. without place 1564. [See
Jean B&eacute;gat, <i>Remonstrance</i>.]

</li>

<li>
S11.&para;141 (`the writ of Nicolas Clamanses'): 
<strong>Nicolas de Clamanges [<i>c</i>1355&ndash;1437]
</strong>
<br>
<span class="biblio_block">
C. M. Bellitto, <i>Nicolas de Clamanges: Spirituality, Personal Reform, and
Pastoral Renewal on the eve of the Reformation</i> (Washington, DC, 2001).
</span>
<br>
<strong><i>De corrupto ecclesiae statu</i></strong>
pr. Paris 1521, &amp;c. French tr. as
<i>Escrit de Nicolas Clemangis docteur de Paris et archediacre de Bayeux
touchant l'estat corrompu de l'Eglise</i>: pr. Orleans 1564.

</li>

<li>
S11.&para;142 (`Bertram upoun the sacrament'): 
<strong>Ratramnus of Corbie [&dagger; after 868]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i>, French tr. by ?Augustin Marlorat as 
<i>Trait&eacute; de Bertram, prestre, &agrave; Charles le Chauve, roy de France, du corps 
et du sang de nostre Seigneur J&eacute;sus Christ</i></strong>
pr. [Geneva] 1562.

</li>

<li>
S11.&para;143 (`epithalamium regis et reginae'): 
<strong>Adrien Turn&egrave;be [1512&ndash;1565]
</strong>
<br>
<strong><i>Epithalamium Francisci Valesii illustrissimi Franciae Delphini
et Mariae Stuartae serenissimae Scotorum reginae</i></strong>
Paris 1558.

</li>

<li>
S11.&para;148 (`the livis of the paipes be Platine'): 
<strong>Bartholomaeus Platina (Bartolomeo Sacchi il Platina) [1421&ndash;1481]
</strong>
<br>
<strong><i>Vitae pontificum Romanorum</i>, French tr.</strong>
 
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>124 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
