{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; AUGUSTINIAN CANONS</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
AUGUSTINIAN CANONS</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Anglesey</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A1"  title="View details of catalogue A1">A1 List of books, 1314 (14)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Barnwell</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A2"  title="View details of catalogue A2">A2 Leland, c. 1536-40 (6)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bourne</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A3"  title="View details of catalogue A3">A3 Leland, c. 1536-40 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bridlington</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A4"  title="View details of catalogue A4">A4 List of books, early 13th cent. (97)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A5"  title="View details of catalogue A5">A5 Leland, c. 1536-40 (19)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bristol</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A6"  title="View details of catalogue A6">A6 Leland, c. 1536-40 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury-St Gregory</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A7"  title="View details of catalogue A7">A7 Leland, c. 1536-40 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Christchurch</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A8"  title="View details of catalogue A8">A8 Leland, c. 1536-40 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Cirencester</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A9"  title="View details of catalogue A9">A9 Leland, c. 1536-40 (12)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Elsham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
A10 Lincolnshire list, 1528 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Guisborough</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A11"  title="View details of catalogue A11">A11 Leland, c. 1536-40 (5)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Hartland</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A12"  title="View details of catalogue A12">A12 Leland, c. 1536-40 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Keynsham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A13"  title="View details of catalogue A13">A13 Leland, c. 1536-40 (4)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Kirkham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A14"  title="View details of catalogue A14">A14 Leland, c. 1536-40 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Kyme</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
A15 Lincolnshire list, 1528 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Lanthony</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A16"  title="View details of catalogue A16">A16 Catalogue, late 14th cent. (512)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A17"  title="View details of catalogue A17">A17 Leche bequest, (69)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A18"  title="View details of catalogue A18">A18 Leland, c. 1536-40 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Launde</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A19"  title="View details of catalogue A19">A19 Leland, c. 1536-40 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Leicester</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A20"  title="View details of catalogue A20">A20 Catalogue, 15th cent. (2380)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A21"  title="View details of catalogue A21">A21 Leland, c. 1536-40 (5)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Markby</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A22"  title="View details of catalogue A22">A22 Lincolnshire list, 1528 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Newburgh</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A23"  title="View details of catalogue A23">A23 Leland, c. 1536-40 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Newnham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A24"  title="View details of catalogue A24">A24 Leland, c. 1536-40 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Nocton Park</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
A25 Lincolnshire list, 1528 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Osney</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A26"  title="View details of catalogue A26">A26 Leland, c. 1536-40 (7)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Plympton</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A27"  title="View details of catalogue A27">A27 Books bequeathed by Robert, archdeacon of Totnes, late 12th cent. (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A28"  title="View details of catalogue A28">A28 Leland, c. 1536-40 (6)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Selborne</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A29"  title="View details of catalogue A29">A29 List of books, 1490 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Southampton</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A30"  title="View details of catalogue A30">A30 Leland, c. 1536-40 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Southwick</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A31"  title="View details of catalogue A31">A31 Leland, c. 1536-40 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Taunton</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A32"  title="View details of catalogue A32">A32 Leland, c. 1536-40 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Thornholm</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
A33 Lincolnshire list, 1528 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Thornton</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A34"  title="View details of catalogue A34">A34 Lincolnshire list, 1528 (13)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A35"  title="View details of catalogue A35">A35 Leland, c. 1536-40 (5)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Thurgarten</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A36"  title="View details of catalogue A36">A36 Inventory, 15th cent. (78)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Walsingham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A37"  title="View details of catalogue A37">A37 Leland, c. 1536-40 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Waltham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A38"  title="View details of catalogue A38">A38 Catalogue, early 13th cent. (139)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A39"  title="View details of catalogue A39">A39 Leland, c. 1536-40 (18)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Wellow</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
A40 Lincolnshire list, 1528 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Worksop</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/A41"  title="View details of catalogue A41">A41 List of books, 1187 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
