{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/388" title="All Souls College">All Souls College</a>  &gt; Gift of books by Henry VI, 10 June 1440</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College</h2><h3 class="medieval_catalogue_desc">UO5. Gift of books by Henry VI, 10 June 1440</h3>
<em>38 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO5.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2471_anchor"><i>Paruum uolumen</i>, a standard collection</a>
pr. Mainz 1477 &amp;c.;
ed. A. &amp; M. Kriegel, <i>Corpus iuris ciuilis</i> (Leipzig 1866). Its contents
comprised Books X&ndash;XII of Justinian's <i>Codex</i> (known as the <i>Tres libri</i>);
Justinian's <i>Nouellae</i>; <i>Libri feudorum</i>; <i>Tractatus de pace Constantiae</i>;
<i>Extrauagantes duae Henrici VII imperatoris</i>; and <i>Constitutiones Frederici II
imperatoris</i>. [The <i>Paruum uolumen</i> is often paired with Justinian's
<i>Institutiones</i>.]

<br>
</li>

<li>
UO5.2 = UO6.236: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1454_anchor">Iacobus de Beluiso [c1270&ndash;1335]
</a>
<br>
<span class="biblio_block">
<i>DDC</i> 6. 79&ndash;80.
</span>
<br>
<strong><i>Lectura Summam autenticorum et Vsus feudorum elucidans</i></strong>
pr. 
Lyon 1511; Savigny, 6. 63&ndash;4; Lange, 2. 618&ndash;19.

</li>

<li>
UO5.3 (`Petrus in repeticionibus super ff. ueteri'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2527_anchor">Petrus de Anchorano [<i>c</i>1330&ndash;1416]
</a>
<br>
<strong><i>Repetitiones</i> on various passages from Justinian's <i>Digestum 
uetus</i></strong>
<i>Repetitio c. Canonum statuta de constitutionibus</i>: pr. Bologna 
1475 (<i>GW</i> 1627), &amp;c.; <i>Repetitio c. Postulasti de foro competenti</i>, pr.
Bologna 1474 (<i>GW</i> 1633), &amp;c.; also <i>Repetitio ad l. Ea quae a iudice</i>
(recorded by Dolezalek from Trier, Staatsbibliothek, MS 975/923, fols.
140&ndash;167).

</li>

<li>
UO5.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1488_anchor">Iacobus de Ravanis (Jacques de R&eacute;vigny) [&dagger;1296], bishop of Verdun
</a>
<br>
<span class="biblio_block">
<i>LexMA</i> 7. 772.
</span>
<br>
<strong>Commentary on Justinian's <i>Digestum nouum</i></strong>
unpr.; Savigny, 
5. 611&ndash;12; Lange, 2. 541. [Three manuscripts listed in E. M. Meijers, 
<i>Etudes d'histoire de droit</i> (Leiden 1956&ndash;66), 3. 77.]

</li>

<li>
UO5.5 (`prima pars H. in lectura') = UO6.200: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1314_anchor">Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Strassburg 1512 &amp;c.; Schulte, 2. 125.

</li>

<li>
UO5.6 (abbrev.) = UO6.217: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1314_anchor">Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Strassburg 1512 &amp;c.; Schulte, 2. 125.

</li>

<li>
UO5.7 (`W. D. abbreuiat' super Decret.') ?= UO6.308: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong>(attrib.), <i>Summa super Decretalibus</i></strong>
unpr.; Schulte, 2. 154&ndash;5.

</li>

<li>
UO5.8b (`Compostolanus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry451_anchor">Bernard of Compostella iunior [13th cent.]
</a>
<br>
<strong>Commentary on the Decretals, inc. `Hactenus ut loquar'</strong>
pr. Paris 1516; 
Schulte, 2. 118&ndash;9; Diaz 1348.

</li>

<li>
UO5.8c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry786_anchor">Dinus de Mugello [&dagger;1298]
</a>
<br>
<strong><i>De Regulis iuris</i></strong>
pr. Rome 1472 (<i>GW</i> 8354), &amp;c.; 
Schulte, 2. 177. [The <i>Regulae iuris</i> is the last title in <i>Liber Sextus
Decretalium</i>.]

</li>

<li>
UO5.9 (`secunda pars') = UO6.201: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1314_anchor">Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Strassburg 1512 &amp;c.; Schulte, 2. 125.

</li>

<li>
UO5.10 = UO6.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
UO5.11 (`T. de cristiana religione') = UO6.73: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Summa theologica</i></strong>
<i>STO</i> vols. 4&ndash;12; Glorieux <i>R&eacute;p.</i> 14ax.

</li>

<li>
UO5.12 (`liber de quadruplici sensu sacre scripture compilatus per M.
   E. Lacy', 2nd fo.) = UO8.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry843_anchor">Edmund Lacy [&dagger;1455], bishop of Exeter
</a>
<br>
<strong>Commentary on Leviticus</strong>
not known to survive. A copy was presented
to All Souls College by King Henry VI.

</li>

<li>
UO5.13 (I, IV, anon.) = UO6.75: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
<i>SBonO</i> vols. 1&ndash;4; Distelbrink 
2; Glorieux <i>R&eacute;p.</i> 305b; Stegm&uuml;ller <i>Sent.</i> 111.

</li>

<li>
UO5.16 (`Linc. de decem preceptis', 2nd fo.) = UO6.44<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>De decem mandatis</i></strong>
ed. R. C. Dales &amp; E. B. King, <i>Auctores Britannici
medii aeui</i> 10 (1987); Thomson, <i>Grosseteste</i>, 131&ndash;2.

</li>

<li>
UO5.16<sup>x</sup> (`de decem preceptis') = UO6.44: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Dicta CXLVII</i></strong>
part ed. E. Brown, <i>Fasciculus rerum expetendarum</i> 
(London 1690), 2. 258&ndash;305; Thomson, <i>Grosseteste</i>, 214&ndash;32.

</li>

<li>
UO5.17 (`Boicius de trinitate', 2nd fo. does not match) = UO6.95: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 890&ndash;94; ed. C. Moreschini, Teubner (2000). 
This title usually designates the five <i>opuscula sacra</i>.

</li>

<li>
UO5.18 (`diusersa opera beati A.') = UO6.59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry241_anchor">Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</a>
<br>
<strong><i>Opera</i></strong>
pr. under the title <i>Opera et tractatus</i> (N&uuml;rnberg 1491) (<i>GW</i>
2032); pr. under the title <i>Opuscula</i>, [Basel, not after 1497] (<i>GW</i> 2033), 
[Strassburg <i>c.</i> 1497&ndash;1500] (<i>GW</i> 2034). 

</li>

<li>
UO5.*19 (`liber Y. de ecclesiasticis officiis') = UO6.*46: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>De ecclesiasticis officiis</i></strong>
<i>CPL</i> 1207; ed. C. M. Lawson, <i>CCSL</i> 
113 (1989); Diaz 104.

</li>

<li>
UO5.*19<sup>x</sup> = UO6.*46<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry469_anchor">Bernold of Constance [&dagger;1100]
</a>
<br>
<strong><i>Micrologus de ecclesiasticis obseruationibus</i></strong>
<i>PL</i> 151. 977&ndash;1022. [The
text at UO5 is a composite.]

</li>

<li>
UO5.*20 = UO6.*58: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry913_anchor">Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</a>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
UO5.21 (`. . cum diuersis tractatibus beati A.') = UO8.38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De diuersis quaestionibus LXXXIII</i></strong>
<i>CPL</i> 289; ed. A. 
Mutzenbecher, <i>CCSL</i> 44A (1975) 3&ndash;249.

</li>

<li>
UO5.22 = UO6.54: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on 1&ndash;4 Kings, inc. `Rectoribus populi has uirtutes esse
necessarias'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7752&ndash;55.

</li>

<li>
UO5.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. 
de Lagarde, <i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
UO5.24 (`Hugo de Sancto Victore in angelica Ierarchia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong>Commentary on <i>ps.</i> Dionysius's <i>Hierarchia caelestis</i></strong>
<i>PL</i> 175.
923&ndash;1154; ed. D. Poirel (in preparation); Goy, 181&ndash;96.

</li>

<li>
UO5.25a (`A. in suo Enchiridion') = UO6.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Enchiridion</i></strong>
<i>CPL</i> 295; ed. E. Evans, <i>CCSL</i> 46 (1969) 23&ndash;114.

</li>

<li>
UO5.25b (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Liber interpretationis hebraicorum nominum</i></strong>
<i>CPL</i> 581; ed. P. de 
Lagarde, <i>CCSL</i> 72 (1959) 59&ndash;161; Lambert 201. [Anonymous texts usually 
indeterminate.]

</li>

<li>
UO5.26a (`Casterdon') = UO6.45: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2903_anchor">Richard Castleton [?]
</a>
<br>
<strong>Commentary on Revelation</strong>
not known to survive; Sharpe, <i>Latin 
Writers</i>, 464.

</li>

<li>
UO5.26b (`Barenguidum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry441_anchor">Berengaudus [9th cent.], monk of Ferri&egrave;res
</a>
<br>
<strong><i>Expositio super septem uisiones libri Apocalypsis</i></strong>
pr. as the
work of Ambrose, Paris 1554, &amp;c.; <i>PL</i> 17. 765&ndash;970 (with the works of 
Ambrose); Stegm&uuml;ller <i>Bibl.</i> 1711.

</li>

<li>
UO5.26c (`Costesay super apolcapsim'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1288_anchor">Henry Cossey OFM [&dagger;?1336]
</a>
<br>
<strong>Commentary on Revelation</strong>
unpr.; Sharpe, <i>Latin Writers</i>, 166;
Stegm&uuml;ller <i>Bibl.</i> 3158.

</li>

<li>
UO5.27a = UO6.108: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3624_anchor">Walter Burley [1275&ndash;after 1344]
</a>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong>Commentary on Aristotle's <i>Ethica</i></strong>
pr. Venice 1481 (<i>GW</i> 5778), &amp;c.; 
Sharpe, <i>Latin Writers</i>, 718&ndash;19.

</li>

<li>
UO5.27b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3624_anchor">Walter Burley [1275&ndash;after 1344]
</a>
<br>
<strong>Commentary on Aristotle's <i>Politica</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 
719&ndash;20.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>38 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
