{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Bath</h2><h3 class="medieval_catalogue_desc">B8. Leland, c. 1536-40</h3>
<em>8 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B8.1: 
<strong>Iohannitius (Hunayn ibn Ishaq al-`Ibadi) [809&ndash;873]
</strong>
<br>
<strong><i>Isagoge ad Artem paruam Galeni</i>, tr. Constantinus Africanus</strong>
 pr. Venice 1491 &amp;c.; ed. D. Garcia &amp; J. L. Vidal, <i>Asclepio</i> 26&ndash;27 (1974&ndash;5)
267&ndash;382; ed. G. Maurach, <i>Sudhoffs Archiv</i> 62 (1978) 148&ndash;74; Thorndike/Kibre 
856, 1352.

</li>

<li>
B8.2: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong>(attrib.), <i>Dynamidia ad Maecenatem</i></strong>
pr. in all 16th-cent. editions of 
Galen, Venice 1502 &amp;c.; Thorndike/Kibre 982, 1216.

</li>

<li>
B8.&dagger;2: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Epistola ad Maecenatem</i></strong>
ed. E. Liechtenhan, <i>Corpus medicorum latinorum</i>
5 (Berlin 1968), 26&ndash;33 (with Marcellus, <i>De medicamentis</i>); <i>HL</i> 150&ndash;52.

</li>

<li>
B8.3: 
<strong>Lawrence of Durham OSB [&dagger;1154]
</strong>
<br>
<strong><i>Hypognosticon</i></strong>
ed. M. Liguori Mistretta, PhD diss. (Fordham 
University, New York 1941); excerpts ed. J. Raine, Surtees Soc. 70 (1880) 
62&ndash;71; Stegm&uuml;ller <i>Bibl.</i> 5386.

</li>

<li>
B8.4: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong><i>De morbo et accidenti</i>, Latin tr.</strong>
pr. Venice 1490 (<i>GW</i> 10481), 2. 355r&ndash;369r; Thorndike/Kibre 684.

</li>

<li>
B8.5: 
<strong>Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</strong>
<br>
<strong><i>Liber febrium</i>, tr. Constantinus Africanus</strong>
pr. Lyon 1515, 
1. 203v&ndash;226v; Thorndike/Kibre 820, 1304.

</li>

<li>
B8.6: 
<strong>C. Iulius Caesar [100&ndash;44 BC]
</strong>
<br>
<strong><i>Bellum ciuile</i>, <i>Bellum Alexandrinum</i>, <i>Bellum Africanum</i>, <i>Bellum
Hispaniense</i></strong>
ed. A. Klotz, Teubner (1957<sup>2</sup>). [Transmitted with <i>Bellum 
Gallicum</i>.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
