{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: New College</h2><h3 class="medieval_catalogue_desc">UO69. Books for the use of the scholars, 18 September 1377</h3>
<em>11 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO69.*1: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on Aristotle's  <i>Meteora</i></strong>
ed. P. Hossfeld <i>AMO</i> 6/1 (2003); 
Fauser 16; Glorieux <i>R&eacute;p.</i> 6af.

</li>

<li>
UO69.*1<sup>x</sup>: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<strong>Commentary on Aristotle's <i>De anima</i></strong>
ed. A. Borgnet, <i>Alberti Magni
opera omnia</i> (Paris 1890&ndash;99), 5. 117&ndash;420; Fauser 18; Glorieux <i>R&eacute;p.</i>
6ar; Lohr, 342. 

</li>

<li>
UO69.2a: 
<strong>Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong>Commentary on Aristotle's <i>Sophistici elenchi</i></strong>
pr. Venice 1496/7
(<i>GW</i> 7195) / repr. Frankfurt 1967; Lohr, 328&ndash;9; Glorieux <i>R&eacute;p.</i> 400ae.

</li>

<li>
UO69.2b: 
<strong>Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</strong>
<br>
<strong>Commentary on Aristotle's <i>De generatione et corruptione</i></strong>
pr. 
Naples [<i>c.</i> 1476] (<i>GW</i> 7198), &amp;c.; pr. Venice 1505 / repr. Frankfurt 
1970; Glorieux <i>R&eacute;p.</i> 400r.

</li>

<li>
UO69.3a: 
<strong>Peter of Auvergne [&dagger;1304]
</strong>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>Meteora</i></strong>
pr. Salamanca 1497 
(Hain 12852); Glorieux <i>R&eacute;p.</i> 210g; Lohr, 338&ndash;9.

</li>

<li>
UO69.3b: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong>Commentary on Aristotle's <i>Analytica posteriora</i></strong>
ed. P. Rossi 
(Florence 1981); Thomson, <i>Grosseteste</i>, 84&ndash;5.

</li>

<li>
UO69.4: 
<strong>Averroes (Ibn Rushd) [1126&ndash;1198]
</strong>
<br>
<strong><i>Commentarium magnum</i> on Aristotle's <i>De caelo et mundo</i>, tr. Michael
Scot</strong>
pr. <i>Aristotelis omnia quae extant opera</i>, 11 vols. (Venice 1573&ndash;6), 5. 1r&ndash;336v.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
