{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/395" title="Merton College">Merton College</a>  &gt; Electio list of philosophical books, 1408&ndash;9</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Merton College</h2><h3 class="medieval_catalogue_desc">UO51. Electio list of philosophical books, 1408&ndash;9</h3>
<em>41 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO51.*5 (`expositorem de anima cum multis questionibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry26_anchor">Adam of Buckfield [&dagger;1285]
</a>
<br>
<span class="biblio_block">
<i>BRUO</i> 297; Sharpe, <i>Latin Writers</i>, 6&ndash;8.
</span>
<br>
<strong>Commentary on Aristotle's <i>De anima</i></strong>
ed. H. Powell, <i>The Life and
Writings of Adam of Buckfield</i>, BLitt diss. (Oxford 1964), 5&ndash;232; Lohr,
320&ndash;21; Sharpe, <i>Latin Writers</i>, 6.

</li>

<li>
UO51.*5<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1079_anchor">Geoffrey de Aspall [&dagger;1287]
</a>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>De anima</i></strong>
ed. V. Cizmic, diss. 
(Munich 2006); Sharpe, <i>Latin Writers</i>, 120.

</li>

<li>
UO51.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3274_anchor"><i>Tabulae Alphonsi regis</i></a>
pr. Venice 1483 (<i>GW</i> 1257); ed. E. Poulle 
(Paris 1984); Thorndike/Kibre 1552.

<br>
</li>

<li>
UO51.13 (`Ysiderus', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
UO51.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry822_anchor">Aelius Donatus [4th cent.]
</a>
<br>
<strong><i>De barbarismo</i> (<i>Ars maior</i> III)</strong>
ed. L. Holtz, <i>Donat et la tradition 
de l'enseignement grammatical</i> (Paris 1981), 653&ndash;74.

</li>

<li>
UO51.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong>Commentary on Aristotle's <i>Physica</i></strong>
pr. Padua 1493 (<i>GW</i> 7197), 
&amp;c.; pr. Venice 1502 repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400g.

</li>

<li>
UO51.*22 ?= UO68.343: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry905_anchor">Euclid [fl. 300 BC]
</a>
<br>
<strong><i>Elementa</i>, tr. from Arabic by Adelard of Bath</strong>
pr. Venice 1482 (<i>GW</i> 
9428), &amp;c.; ed. G. D. Goldat, PhD diss. (University of Wisconsin 1954); ed. 
H. L. L. Busard &amp; M. Folkerts, <i>Robert of Chester's (?) Redaction of Euclid's 
Elementa</i> (Basel 1992). This version, known as Adelard II, is the most widely 
known of three versions attributed to Adelard, and that most consistenly 
ascribed to him in manuscripts. It was also that used by Campanus of Novara 
for his commentary. 

</li>

<li>
UO51.24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De senectute</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
UO51.25 (`quadrantem Campani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry551_anchor">Campanus of Novara [&dagger;1296]
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 17. 420&ndash;24.
</span>
<br>
<strong><i>De quadrante</i></strong>
unpr.; Thorndike/Kibre 396, 1405.

</li>

<li>
UO51.*28 (`autorem de causis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Liber de causis</i>, Latin tr.</strong>
ed. A. Pattin in <i>Tijdschrift voor 
Filosofie</i> 28 (1966) 90&ndash;203; the text is also printed with the edition 
of Aquinas's commentary, ed. H. D. Saffrey (Fribourg/Louvain 1954); 
Thorndike/Kibre 996; <i>PAL</i> 18&ndash;20 (no. 13). The work is largely extracted 
from Proclus's <i>Elementatio theologica</i>, and Albertus Magnus names the
compiler as David Iudaeus. Copies are often said to be accompanied by 
a commentary, `Cum ergo remouet causa secunda uniuersalis', attributed
to Alfarabius and to other writers; these passages are in fact 
demonstrations added by the compiler. 

</li>

<li>
UO51.*28<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>De intellectu et intelligibili</i></strong>
ed. A. Borgnet, <i>Alberti Magni 
opera omnia</i> (Paris 1890&ndash;99), 9. 477&ndash;525; Fauser 22; Glorieux <i>R&eacute;p.</i> 
6av.

</li>

<li>
UO51.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong>Commentary on Aristotle's <i>Ethica</i></strong>
<i>STO</i> 47. 1&ndash;607; Glorieux 
<i>R&eacute;p.</i> 14at.

</li>

<li>
UO51.56: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3008_anchor">Roger Bacon OFM [&dagger;1294]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>Perspectiua</i>, part 5 of his <i>Opus maius</i></strong>
ed. D. C. Lindberg, 
<i>Roger Bacon and the Origins of Perspectiua in the Middle Ages</i> (Oxford 
1996).

</li>

<li>
UO51.59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

<li>
UO51.71 (`Burley de anima'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3624_anchor">Walter Burley [1275&ndash;after 1344]
</a>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong><i>Expositio libri de anima</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 714.

</li>

<li>
UO51.81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong><i>Quadripartitum</i>, tr. John of Seville</strong>
pr. Venice 1484 (Goff P1088), 
Venice 1493 (Goff P1089), &amp;c.; Carmody, 18&ndash;19.

</li>

<li>
UO51.93: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry822_anchor">Aelius Donatus [4th cent.]
</a>
<br>
<strong><i>De barbarismo</i> (<i>Ars maior</i> III)</strong>
ed. L. Holtz, <i>Donat et la tradition 
de l'enseignement grammatical</i> (Paris 1981), 653&ndash;74.

</li>

<li>
UO51.94: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry905_anchor">Euclid [fl. 300 BC]
</a>
<br>
<strong><i>Elementa</i>, tr. from Arabic by Adelard of Bath</strong>
pr. Venice 1482 (<i>GW</i> 
9428), &amp;c.; ed. G. D. Goldat, PhD diss. (University of Wisconsin 1954); ed. 
H. L. L. Busard &amp; M. Folkerts, <i>Robert of Chester's (?) Redaction of Euclid's 
Elementa</i> (Basel 1992). This version, known as Adelard II, is the most widely 
known of three versions attributed to Adelard, and that most consistenly 
ascribed to him in manuscripts. It was also that used by Campanus of Novara 
for his commentary. 

</li>

<li>
UO51.*96: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>Naturales quaestiones</i></strong>
ed. A. Gercke, Teubner (1907).

</li>

<li>
UO51.97: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong>Commentary on Cicero's <i>Topica</i></strong>
<i>CPL</i> 888.

</li>

<li>
UO51.98: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De syllogismo hypothetico</i></strong>
<i>CPL</i> 886.

</li>

<li>
UO51.106: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<strong>Commentary on Aristotle's <i>Physica</i></strong>
pr. Padua 1493 (<i>GW</i> 7197), 
&amp;c.; pr. Venice 1502 repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400g.

</li>

<li>
UO51.112 (`expositorem super libros phisicorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong>Commentary on Aristotle's <i>Physica</i></strong>
<i>STO</i> 2. 1&ndash;458; Glorieux <i>R&eacute;p.</i> 14al.

</li>

<li>
UO51.119 (`rethoricam Tullii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De inuentione</i></strong>
ed. E. Stroebel, Teubner (1915).

</li>

<li>
UO51.140 (`sextum naturalium Auicenne'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>De anima</i>, tr. Dominicus Gundisalvi</strong>
pr. in <i>Auicenna opera</i>
(Venice 1508), 1&ndash;28; ed. S. van Riet, <i>Liber de anima seu Sextus de
naturalibus</i> (Louvain 1968&ndash;72); Diaz 1034. [D. N. Hasse,
<i>Avicenna's De anima in the Latin West</i> (London &amp; Turin 2000).]

</li>

<li>
UO51.143: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3291_anchor">Themistius [<i>c</i>317&ndash;<i>c</i>388]
</a>
<br>
<strong>Commentary on Aristotle's <i>De anima</i>, tr. W. Moerbeke</strong>
ed. G. Verbeke, 
Corpus latinum commentariorum in Aristotelem graecorum 1 (Louvain 1957).

</li>

<li>
UO51.148: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<strong><i>Logica</i>, tr. Avendauth</strong>
pr. in <i>Avicennae opera</i>, Venice 1508,
fols. 2r&ndash;12v; Diaz 931.

</li>

<li>
UO51.160 (`tractatus de puritate artis logice', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3624_anchor">Walter Burley [1275&ndash;after 1344]
</a>
<br>
<strong><i>De puritate artis logicae</i>, <i>Tractatus longior</i>, the later text (after
1324)</strong>
ed. P. Boehner, <i>Walter Burleigh. De puritate artis logicae</i> 
(St Bonaventure, NY, 1955), 1&ndash;197; Weisheipl, no. 13b. The second part of
the text is translated under the title <i>De propositionibus hypotheticis
conditionalibus</i> by I. Boh, <i>Franciscan Studies</i> 23 (1963) 4&ndash;67 (text, 
14&ndash;66 [even pages]).

</li>

<li>
UO51.168: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<strong>Commentary on Aristotle's <i>Physica</i></strong>
pr. Padua 1493 (<i>GW</i> 7197), 
&amp;c.; pr. Venice 1502 repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400g.

</li>

<li>
UO51.&dagger;171 (`Petrum de Aluernia') = UO54.&dagger;148: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2534_anchor">Peter of Auvergne [&dagger;1304]
</a>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De caelo et mundo</i>, Book III, chapter 9, 
and Book IV</strong>
pr. with the text and Thomas's commentary on Books I and II,
Venice 1495 (<i>GW</i> 2355), &amp;c.; Glorieux <i>R&eacute;p.</i> 201v; Lohr, 337&ndash;8.

</li>

<li>
UO51.177: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De institutione arithmetica</i></strong>
<i>CPL</i> 879; ed. J. Schilling &amp;
H. Oosthout , <i>CCSL</i> 94A (1999).

</li>

<li>
UO51.*179: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong>Commentary on Aristotle's <i>Analytica posteriora</i></strong>
<i>STO</i> 1*/2. 3&ndash;247; 
Glorieux <i>R&eacute;p.</i> 14ba.

</li>

<li>
UO51.*179<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong>Commentary on Aristotle's <i>Metaphysica</i></strong>
ed. M. R. Cathala &amp; 
R. M. Spiazzi (Turin 1964, <sup>2</sup>1971); Glorieux <i>R&eacute;p.</i> 14bz.

</li>

<li>
UO51.180 (`Egidius super libros elenchorum') = UO54.137: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<strong>Commentary on Aristotle's <i>Sophistici elenchi</i></strong>
pr. Venice 1496/7
(<i>GW</i> 7195) / repr. Frankfurt 1967; Lohr, 328&ndash;9; Glorieux <i>R&eacute;p.</i> 400ae.

</li>

<li>
UO51.181 (`kylwarby super libros priorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong>Commentary on Aristotle's <i>Analytica priora</i></strong>
pr. Venice 1499 (<i>GW</i>
7190) (as Giles of Rome); Lohr, 111&ndash;12.

</li>

<li>
UO51.182: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2743_anchor">Priscian [fl. 500]
</a>
<br>
<strong><i>Institutiones grammaticae</i> I&ndash;XVI</strong>
<i>CPL</i> 1546; <i>GL</i> 2. 1&ndash;597, 3. 1&ndash;105.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>41 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
