{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/395" title="Merton College">Merton College</a>  &gt; Electio list of philosophical books, 13 January 1452</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Merton College</h2><h3 class="medieval_catalogue_desc">UO54. Electio list of philosophical books, 13 January 1452</h3>
<em>11 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO54.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1701_anchor">John of Gaddesden [&dagger; by 1349]
</a>
<br>
<strong><i>Rosa medicinae</i></strong>
pr. Pavia 1492 (Goff J326), &amp;c.; Sharpe, <i>Latin 
Writers</i>, 252&ndash;3; Thorndike/Kibre 552, 577.

</li>

<li>
UO54.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
<strong><i>Viaticum</i></strong>
pr. Venice 1505 &amp;c.; pr. Lyon 1515, 2. 144r&ndash;171v (with the 
works of Isaac Judaeus); pr. Basel 1536, 1. 1&ndash;167 (with the works of 
Constantinus); Thorndike/Kibre 187, 334, 1298, 1357. [M. F. Wack, 
<i>Lovesickness in the Middle Ages. The Viaticum and its Commentaries</i> 
(Philadelphia, PA, 1990).]

</li>

<li>
UO54.5 (`Gilbertum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1144_anchor">Gilbertus Anglicus [early 13th cent.]
</a>
<br>
<strong><i>Compendium seu Lilium medicinae</i></strong>
pr. Lyon 1510; Sharpe, <i>Latin 
Writers</i>, 144; Thorndike/Kibre 3, 881.

</li>

<li>
UO54.15 = UO65.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De inuentione</i></strong>
ed. E. Stroebel, Teubner (1915).

</li>

<li>
UO54.18 (`pantegni') ?= UO68.*339: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
<strong><i>Pantegni</i></strong>
pr. Lyon 1515, 2. 1r&ndash;57v  (<i>Theorica Pantegni</i>), 58r&ndash;144r
(<i>Practica Pantegni</i>) (with the works of Isaac Iudaeus); Thorndike/Kibre 348,
1221. Manuscripts are listed in C. S. F. Burnett &amp; D. Jacquart, <i>Constantine the
African and `Ali ibn al-`Abbas al-Magusi</i> (Leiden 1994), 316&ndash;51.

</li>

<li>
UO54.81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2631_anchor">Petrus Thomae (Pedro Tom&aacute;s) OFM [<i>c</i>1280&ndash;<i>c</i>1340]
</a>
<br>
<strong><i>De esse intelligibili</i></strong>
unpr.; manuscripts listed by G. G. Bridges, 
<i>Identity and Distinction in Petrus Thomae OFM</i> (St Bonaventure, NY, 1959), 
177&ndash;80.

</li>

<li>
UO54.88 (`Aschinden'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1573_anchor">John Ashendon [&dagger; after 1365]
</a>
<br>
<strong><i>Summa de accidentibus mundi</i></strong>
pr. Venice 1489 (<i>GW</i> 9392);
Sharpe, <i>Latin Writers</i>, 206&ndash;207.

</li>

<li>
UO54.137 (`exposit' logice'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong>Commentary on Aristotle's <i>Sophistici elenchi</i></strong>
pr. Venice 1496/7
(<i>GW</i> 7195) / repr. Frankfurt 1967; Lohr, 328&ndash;9; Glorieux <i>R&eacute;p.</i> 400ae.

</li>

<li>
UO54.&dagger;148 (`exposit' naturalis
   philosophie', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2534_anchor">Peter of Auvergne [&dagger;1304]
</a>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De caelo et mundo</i>, Book III, chapter 9, 
and Book IV</strong>
pr. with the text and Thomas's commentary on Books I and II,
Venice 1495 (<i>GW</i> 2355), &amp;c.; Glorieux <i>R&eacute;p.</i> 201v; Lohr, 337&ndash;8.

</li>

<li>
UO54.165: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2106_anchor">M. Annaeus Lucanus [AD 39&ndash;65]
</a>
<br>
<strong><i>De bello ciuili</i></strong>
ed. A. E. Housman (Oxford 1926); ed. G. Luck 
(Berlin 1985).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>11 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
