{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R15. Union catalogue by author and title, early 14th cent.</h3>
<em>9 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R15.*1 (1 copy, hom. 2, <i>CPG</i> 2847) = H2.*1095<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
<strong><i>Homilia super illud Attende tibi ipsi</i>, tr. Rufinus (<i>hom.</i> 2)</strong>
<i>CPG</i> 
2847; <i>PG</i> 31. 1733&ndash;44.

</li>

<li>
R15.1 (`sermones eius', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
<strong><i>Homiliae</i>, tr. Rufinus</strong>
<i>PG</i> 31. 1723&ndash;94; ed. C. Lo Cicero, <i>CCSL</i>
20A (2008).

</li>

<li>
R15.2 (7 copies, one of them = B71.56): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
<strong><i>Hexaemeron</i>, tr. Eustathius</strong>
<i>CPG</i> 2835; <i>PG</i> 30. 869&ndash;968; <i>PL</i> 
53. 867&ndash;966; ed. E. Amand de Mendieta &amp; S. Y. Rudberg, TU 66 (Berlin 1958); 
Stegm&uuml;ller <i>Bibl.</i> 2268.

</li>

<li>
R15.3 (6 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

<li>
R15.4 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
[<i>dub.</i>]
<strong>`Super Ezechielem ad litteram'</strong>
unidentified.

</li>

<li>
R15.5 (`ad monachos', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

<li>
R15.&Dagger;6 (`regula', 3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

<li>
R15.7 (`monita', 5 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry425_anchor">Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</a>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

<li>
R15.8 (`dialogus', attrib. Basil, 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De sacerdotio</i>, tr. Annianus</strong>
<i>CPG</i> 4316; pr. Cologne [<i>c.</i> 1470]
(Goff J282).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>9 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
