{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: Peterborough</h2><h3>BP9. Books given by Abbot John de Caux (1250-63)</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
BP9.3: 
<strong><i>Concilium Lateranense IV</i>, the Statutes of the Fourth Lateran Council
(1215)</strong>
ed. A. Garc&iacute;a y Garc&iacute;a, <i>Constitutiones Concilii quarti 
Lateranensis</i>, Monumenta iuris canonici, ser. A, 2 (Rome 1981), 41&ndash;118.

<br>
</li>

<li>
BP9.4: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Templum Domini</i></strong>
ed. J. W. Goering &amp; F. A. C. Mantello (Toronto 1984);
Thomson, <i>Grosseteste</i>, 138&ndash;140; Bloomfield 5982.

</li>

<li>
BP9.5: 
<strong><i>Testamentum XII patriarcharum</i>, tr. Robert Grosseteste</strong>
<i>PG</i> 2. 1038&ndash;1150;
Thomson, <i>Grosseteste</i>, 42&ndash;4; Stegm&uuml;ller <i>Bibl.</i> 87,7 and 7398,2.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
