{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/BX" title="BENEDICTINES">BENEDICTINES</a>  &gt; Canterbury College, Oxford</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
BENEDICTINES</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury College, Oxford</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC101"  title="View details of catalogue BC101">BC101 Inventory of books in library of Canterbury College, Oxford, 1443 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC103"  title="View details of catalogue BC103">BC103 Inventory of books in library of Canterbury College, Oxford, 1501 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC104 Inventory of books in library of Canterbury College, Oxford, 1501 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BC106"  title="View details of catalogue BC106">BC106 Inventory of books in library of Canterbury College, Oxford, 1521 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BC107 Inventory of books in library of Canterbury College, Oxford, 1524 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>5 catalogues found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
