{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/100" title="Wymondham">Wymondham</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Wymondham</h2><h3 class="medieval_catalogue_desc">B119. Leland, c. 1536-40</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B119.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong><i>De anima</i></strong>
<i>CPL</i> 897; ed. J. W. Halporn, <i>CCSL</i> 96 (1973) 533&ndash;75.

</li>

<li>
B119.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2938_anchor">Richard of Wallingford OSB [&dagger;1336]
</a>
<br>
<strong><i>Computus</i></strong>
not known to survive. See note on B119.2.

</li>

<li>
B119.&dagger;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1856_anchor">John of Saint-Paul [&dagger;1214/15]
</a>
<br>
<strong><i>Breuiarium de signis morborum</i></strong>
largely unpr.; Thorndike/Kibre 153, 
1284; Wickersheimer, 480&ndash;81. See note on P9.77 for edited excerpts.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
