{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/336" title="Stirling, Franciscans">Stirling, Franciscans</a>  &gt; Payments to William Foular for books, 20 Feb 1503</p><h2>SCOTLAND: Stirling, Franciscans</h2><h3 class="medieval_catalogue_desc">S31. Payments to William Foular for books, 20 Feb 1503</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S31.&para;3 (`Strabo de scitu orbis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3243_anchor">Strabo [64/3 BC&ndash;after AD 21]
</a>
<br>
<strong><i>Geographia</i>, Latin tr. by Guarinus Veronensis &amp; Gregorius Tiphernas</strong>
 pr. Rome [1469] (Goff S793), &amp;c.

</li>

<li>
S31.&para;4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
S31.&para;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De sermone Domini in monte</i></strong>
<i>CPL</i> 274; ed. A. Mutzenbecher, <i>CCSL</i> 35 (1967).

</li>

<li>
S31.&para;7 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2201_anchor">Matthew of Cracow [&dagger;1410]
</a>
<br>
<strong>(attrib.), <i>Ars moriendi</i>, inc. `Cum de presenti'</strong>
pr.
Cologne [<i>c.</i> 1474] (<i>GW</i> 2597), &amp;c.

</li>

<li>
S31.&para;8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong><i>Itinerarium mentis in Deum</i></strong>
<i>SBonO</i> 5. 295&ndash;313; ed. A. S&eacute;pinski
(Quaracchi 1964); Distelbrink 19; Glorieux <i>R&eacute;p.</i> 305m.

</li>

<li>
S31.10 (`Holcatis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong>unspec. 
</strong>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
