{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/223" title="Warwick">Warwick</a>  &gt; Inventory of church goods, 22 February 1465 </p><h2>SECULAR INSTITUTIONS: Secular Colleges: Warwick</h2><h3 class="medieval_catalogue_desc">SC319. Inventory of church goods, 22 February 1465 </h3>
<em>14 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC319.13: 
<strong>John of Genoa OP [&dagger; after 1286]
</strong>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SC319.17 (`Hampoles sawter'): 
<strong>Richard Rolle [&dagger;1349]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
pr. Cologne 1536, 1&ndash;83; Stegm&uuml;ller <i>Bibl.</i> 
7298; Allen, <i>Rolle</i>, 165&ndash;9.

</li>

<li>
SC319.18 (`book of the kynges of Coleyn'): 
<strong>John of Hildesheim OCarm [&dagger;1375]
</strong>
<br>
<strong><i>Historia trium regum</i></strong>
pr. as <i>Liber de gestis et translatione 
trium regum</i>, [Cologne] 1477 (Goff J336), &amp;c.; M. Behland, <i>Die 
Dreik&ouml;nigslegende des Iohannes von Hildesheim</i> (Munich 1968).

</li>

<li>
SC319.19 (`Haymo'): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
SC319.20 (`maister of stories'): 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
SC319.21: 
<strong>John of Mirfield [fl. 1390]
</strong>
<br>
<strong><i>Florarium Bartholomaei</i></strong>
part ed. P. H. S. Hartley &amp; H. R. Aldridge, 
<i>Johannes de Mirfield of St Bartholomew's Hospital, Smithfield. His Life and 
Works</i> (Cambridge 1936), 114&ndash;164.

</li>

<li>
SC319.23: 
<strong>Iohannes de Burgo [&dagger; after 1398]
</strong>
<br>
<strong><i>Pupilla oculi</i></strong>
pr. London 1510 (<i>STC</i> 4115), &amp;c.; Bloomfield 2441; 
Sharpe, <i>Latin Writers</i>, 222.

</li>

<li>
SC319.24a (`pastorals'): 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
SC319.24b: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Dialogi</i></strong>
<i>CPL</i> 1713; ed. A. de Vog&uuml;&eacute;, SChr 251, 260, 265 (1978&ndash;80).

</li>

<li>
SC319.28: 
<strong>Antonius Rampigollis OESA [early 15th cent.]
</strong>
<br>
<strong><i>Figurae bibliorum siue Compendium morale</i></strong>
pr. Milan 1494 (Goff 
R23), &amp;c.; Bloomfield 1312.

</li>

<li>
SC319.29: 
<strong>Willelmus de Pagula [early 14th cent.]
</strong>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

<li>
SC319.30: 
<strong>Petrus Riga [&dagger;1209]
</strong>
<br>
<strong><i>Aurora</i></strong>
ed. P. E. Beichner (Notre Dame, IN, 1965); Stegm&uuml;ller 
<i>Bibl.</i> 6823&ndash;5.

</li>

<li>
SC319.32 (`j book cald pharetra'): 
<strong>William de la Furmentarie OFM [?]
</strong>
<br>
<strong>(attrib.), <i>Pharetra</i></strong>
pr. [Strassburg 1472] (Goff P571), &amp;c.;
ed. A. C. Peltier, <i>S. Bonaventurae opera omnia</i> 
(Paris 1864&ndash;71), 7. 1&ndash;231; Glorieux <i>R&eacute;p.</i> 311t; Distelbrink 178; 
Bloomfield 2530. [One copy of the work is dated 1261, which provides a 
<i>terminus ad quem</i>; it is usually anonymous, but some copies carry an
ascription to Bonaventure, other to Guibert of Tournai, and one very
distinctively to William de la Furmentarie, an English friar.]

</li>

<li>
SC319.33 (`2o fo communis offerimus'): 
<strong>Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</strong>
<br>
<strong><i>De mysterio missae</i></strong>
<i>PL</i> 171. 1177&ndash;96; <i>WIC</i> 17396. And (in
many cases also) id. <i>De sacra eucharistia</i>: <i>PL</i> 171. 1195&ndash;1212; 
<i>WIC</i> 17700.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>14 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
