{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/77" title="Reading">Reading</a>  &gt; Letter concerning theft of a book, 1253</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Reading</h2><h3 class="medieval_catalogue_desc">B73. Letter concerning theft of a book, 1253</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B73.&Dagger;1b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry77_anchor">Alanus ab Insula (Alain de Lille) [<i>c.</i> 1128&ndash;1203]
</a>
<br>
<span class="biblio_block">
R. de Lage, <i>Alain de Lille, po&egrave;te du XIIe si&egrave;cle</i> (Paris 1951),
169&ndash;86.
</span>
<br>
<strong><i>De sex alis cherubim</i></strong>
<i>PL</i> 210. 269&ndash;80; Stegm&uuml;ller <i>Bibl.</i> 949. [Anonymous
copies may be the work of Clement of Lanthony.]

</li>

<li>
B73.1a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Templum Domini</i></strong>
ed. J. W. Goering &amp; F. A. C. Mantello (Toronto 1984);
Thomson, <i>Grosseteste</i>, 138&ndash;140; Bloomfield 5982.

</li>

<li>
B73.1d (`arbor hystorie scolastice depicta et illustrata'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2613_anchor">Peter of Poitiers [<i>c</i>1130&ndash;1205]
</a>
<br>
<strong><i>Genealogia historiarum</i></strong>
ed. P. S. Moore (Notre Dame, IN, 1936);
Stegm&uuml;ller <i>Bibl.</i> 6778; Glorieux <i>R&eacute;p.</i> 100f.

</li>

<li>
B73.1h (exc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2618_anchor">Petrus Riga [&dagger;1209]
</a>
<br>
<strong><i>Aurora</i></strong>
ed. P. E. Beichner (Notre Dame, IN, 1965); Stegm&uuml;ller 
<i>Bibl.</i> 6823&ndash;5.

</li>

<li>
B73.1i: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Interpretationes nominum hebraicorum</i>, inc. `Aaz apprehendens'</strong>
 often pr. in early bibles, Rome 1471 (<i>GW</i> 4210), &amp;c.;
Stegm&uuml;ller <i>Bibl.</i> 7192,1 (attrib. Remigius of Auxerre), 7708&ndash;9;
Lambert 402; Sharpe, <i>Latin Writers</i>, 628.

</li>

<li>
B73.1n = B76.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De spiritu et anima</i></strong>
pr, [Lauingen] 1472 (<i>GW</i> 2936), &amp;c.; <i>PL</i> 
40. 779&ndash;832; Bloomfield 4935. [There is no evidence to support the 
attribution of the work to Alcher of Clairvaux; on attibutions, D. Aschoff, 
`Der pseudo-augustinische Traktat <i>De spiritu et anima</i>', <i>Revue des &eacute;tudes 
augustinienne</i> 18 (1972) 293&ndash;4. See also above, Augustine ps. <i>De creatione 
primi hominis</i>, for c. 35.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
