{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Glastonbury</h2><h3 class="medieval_catalogue_desc">B45. Bale, c. 1550</h3>
<em>56 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B45.: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
[<i>dub.</i>]
<strong>`Sanctuarium diuinum'</strong>
unidentified.

</li>

<li>
B45.1: 
<strong>Baldwin of Ford OCist [&dagger;1190], archbishop of Canterbury
</strong>
<br>
<strong><i>Sermones siue Tractatus diuersi</i></strong>
<i>PL</i> 204. 403&ndash;572; ed. R. Thomas, Pain
de C&icirc;teaux 35&ndash;40 (Chimay 1973&ndash;5); ed. D. N. Bell, <i>CCCM</i> 99 (1991) 1&ndash;339.

</li>

<li>
B45.*4: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>Gesta regum Anglorum</i></strong>
ed. W. Stubbs, RS 90 (1887&ndash;9); ed. M. 
Winterbottom &amp; R. M. Thomson, OMT (1998&ndash;9).

</li>

<li>
B45.5: 
<strong>Gildas [early 6th cent.]
</strong>
<br>
<strong><i>De excidio Britanniae</i></strong>
<i>CPL</i> 1319; ed. T. Mommsen, MGH <i>Auct. Antiq.</i>
13 (1898), 25&ndash;85; ed. M. Winterbottom (Chichester 1978).

</li>

<li>
B45.6: 
<strong>Gerald of Wales [1146&ndash;1226]
</strong>
<br>
<strong><i>Speculum ecclesiae</i></strong>
ed. J. S. Brewer, RS 21/4 (1873), 3&ndash;354.

</li>

<li>
B45.7: 
<strong>Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</strong>
<br>
<strong><i>De uirtutibus</i></strong>
not known to survive.

</li>

<li>
B45.8: 
<strong>Gebeno of Eberbach OCist [13th cent.], monk of Eberbach
</strong>
<br>
<strong><i>Speculum futurorum saeculorum</i>, a cento derived from 
Hildegard's <i>Sciuias</i></strong>
ed. J. C. Santos Paz, Millennio 
medievale 46 (2004).

</li>

<li>
B45.9: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Epistolae</i></strong>
ed. E. D&uuml;mmler, MGH <i>Epistolae</i> 4 (1895); <i>CMA
Gallia</i>, 2. 171&ndash;5.

</li>

<li>
B45.10: 
<strong>Gerald of Wales [1146&ndash;1226]
</strong>
<br>
<strong><i>Topographia Hiberniae</i></strong>
ed. J. F. Dimock, RS 21/5 (1867), 3&ndash;202.

</li>

<li>
B45.11: 
<strong>Baldwin of Ford OCist [&dagger;1190], archbishop of Canterbury
</strong>
<br>
<strong><i>Sermones siue Tractatus diuersi</i></strong>
<i>PL</i> 204. 403&ndash;572; ed. R. Thomas, Pain
de C&icirc;teaux 35&ndash;40 (Chimay 1973&ndash;5); ed. D. N. Bell, <i>CCCM</i> 99 (1991) 1&ndash;339.

</li>

<li>
B45.11b: 
<strong>Baldwin of Ford OCist [&dagger;1190], archbishop of Canterbury
</strong>
<br>
<strong><i>Carmen deuotionis</i></strong>
not known to survive.

</li>

<li>
B45.&dagger;13: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>Didascalicon de studio legendi</i></strong>
pr. [Strassburg not after 1474]
(Goff H532); <i>PL</i> 176. 741&ndash;838; ed. C. Buttimer
(Washington, DC, 1939); Goy, 14&ndash;36.

</li>

<li>
B45.15: 
<strong>&AElig;thelwold OSB [&dagger;984], bishop of Winchester
</strong>
<br>
<strong><i>Regularis concordia</i></strong>
ed. T. Symons, NMT (1953); ed. T. Symons
&amp; S. Spath, <i>Corpus consuetudinum monasticarum</i> 7/3 (Siegburg 1984), 61&ndash;147;
ed. L. Kornexl (Munich 1993).

</li>

<li>
B45.16: 
<strong><i>Liber Ioseph et Aseneth</i>, Latin tr. from Greek</strong>
ed. M. R. James in P.
Batiffol, <i>Studia Patristica</i> (Paris 1890), 2. 89&ndash;115; C. Burchard, 
<i>Untersuchungen zu Joseph und Aseneth. &Uuml;berlieferung &ndash; Ortsbestimmung</i>
(T&uuml;bingen 1965); Stegm&uuml;ller <i>Bibl.</i> 88,4&ndash;5.

<br>
</li>

<li>
B45.17: 
<strong>H. of Sawtry OCist [12th cent.]
</strong>
<br>
<strong><i>Tractatus de purgatorio S. Patricii</i></strong>
ed. K. Warnke, <i>Das Buch vom
Espurgatoire S. Patrice der Marie de France und seine Quellen</i>, Bibliotheca
Normannica 9 (Halle/Saale, 1938), 2&ndash;166 [first col.]; <i>BHL</i> 6510&ndash;12a.

</li>

<li>
B45.18a: 
<strong>Roger of Caen OSB [&dagger;1095]
</strong>
<br>
<strong>(?), <i>De professione monachorum</i></strong>
<i>PL</i> 158. 687&ndash;706; ed. T.
Wright, RS 59/2 (1875), 175&ndash;200; Sharpe, <i>Latin Writers</i>, 584; Hunt, 
<i>Nequam</i>, 148; Bloomfield 4771; <i>WIC</i> 15778. [In manuscripts ascribed most 
commonly to Alexander Nequam or Anselm; the attribution to Roger of Caen, 
found in three Norman copies, is favoured by Manitius.]

</li>

<li>
B45.19: 
<strong><i>Compendium de Britannia</i></strong>
unpr.; J. P. Carley in <i>Nottingham French Studies</i> 30 (1991) 10.

<br>
</li>

<li>
B45.21: 
<strong>John de Berwick OFM [&dagger; after 1300]
</strong>
<br>
<strong><i>Quaestiones de formis</i></strong>
not known to survive; Sharpe, <i>Latin 
Writers</i>, 215.

</li>

<li>
B45.23: 
<strong><i>De origine gigantium</i>, in one of several versions</strong>
ed. J. P. Carley &amp; J. C.
Crick in <i>Arthurian Literature</i> 13 (1994) 41&ndash;114.

<br>
</li>

<li>
B45.25: 
<strong>Gerinus [?]
</strong>
<br>
<strong><i>De lege diuina</i></strong>
unidentified.

</li>

<li>
B45.28: 
<strong>Sedulius [fl. 450]
</strong>
<br>
<strong><i>Carmen paschale</i></strong>
<i>CPL</i> 1447.

</li>

<li>
B45.29a: 
<strong>Berengaudus [9th cent.], monk of Ferri&egrave;res
</strong>
<br>
<strong><i>Expositio super septem uisiones libri Apocalypsis</i></strong>
pr. as the
work of Ambrose, Paris 1554, &amp;c.; <i>PL</i> 17. 765&ndash;970 (with the works of 
Ambrose); Stegm&uuml;ller <i>Bibl.</i> 1711.

</li>

<li>
B45.29b: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>CPL</i> 910; <i>PL</i> 70. 1055&ndash;1106
(as Cassiodorus, with biblical quotations marked); <i>PL</i> 117. 295&ndash;358 (as 
Haimo); Stegm&uuml;ller <i>Bibl.</i> 3065, 3079.

</li>

<li>
B45.31: 
<strong>Petrus Calo (Pietro da Chioggia) [&dagger;1348]
</strong>
<br>
<strong><i>Noua legenda</i></strong>
unpr.; A. Poncelet in <i>AB</i> 29 (1910) 5&ndash;116.

</li>

<li>
B45.33: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>Passio S. Indracti</i></strong>
not known to survive.

</li>

<li>
B45.35: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
[<i>app.</i>]
<strong><i>De causa accessus Roberti G. ad Romanam curiam</i></strong>
see S. Gieben in 
<i>Collectanea Franciscana</i> 41 (1971) 340&ndash;93.

</li>

<li>
B45.37: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia abbatum</i></strong>
<i>CPL</i> 1378; <i>BHL</i> 8968.

</li>

<li>
B45.38a: 
<strong>Geoffrey of Burton OSB [&dagger;1151], abbot of Burton-on-Trent
</strong>
<br>
<strong><i>Vita S. Modwennae</i></strong>
ed. R. J. Bartlett, OMT (2002); <i>BHL</i> 2097; 
Sharpe, <i>Latin Writers</i>, 122.

</li>

<li>
B45.38b: 
<strong>Thomas de Cantelupe</strong>
<i>BHL</i> 8254&ndash;55.

<br>
</li>

<li>
B45.39: 
<strong>Theodore of Tarsus [&dagger;690], archbishop of Canterbury
</strong>
<br>
<strong>Penitential</strong>
ed. P. W. Finsterwalder, <i>Die Canones
Theodori Cantuariensis und ihre &Uuml;berlieferungsformen</i> (Weimar 1929), 239&ndash;334.

</li>

<li>
B45.40: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Dialogus quaestionum LXV</i></strong>
<i>CPL</i> 373a; <i>PL</i> 40. 733&ndash;52; <i>CPPM</i> 2. 151.

</li>

<li>
B45.43: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
B45.44: 
<strong>Roger Swineshead OSB [&dagger; by 1365]
</strong>
<br>
<strong>unspecified work; on the author, see Sharpe, <i>Latin 
Writers</i>, 597.
</strong>
</li>

<li>
B45.45: 
<strong>Philip Beverley [&dagger; by 1325]
</strong>
<br>
<strong><i>Quaestiones in Periermenias et in Sex principia</i></strong>
not known
to survive; Sharpe, <i>Latin Writers</i>, 436.

</li>

<li>
B45.46: 
<strong>Geoffrey Marshall OSB [?], monk of Glastonbury
</strong>
<br>
<strong><i>De dialectica reportorium</i> and <i>Reportorium geometriae</i>, presumably 
two volumes of notes assembled by Geoffrey</strong>
not known to survive.

</li>

<li>
B45.47: 
<strong>Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</strong>
<br>
<strong>Commentary on Bede's <i>De arte metrica</i></strong>
ed. M. H. King, <i>CCSL</i> 123A 
(1975) 82&ndash;171.

</li>

<li>
B45.49: 
<strong>Avianus [4th cent.]
</strong>
<br>
<strong><i>Fabulae</i></strong>
ed. Hervieux 3. 263&ndash;88; ed. A. Guaglianone (Turin 1958);
<i>WIC</i> 16951.

</li>

<li>
B45.50: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De arte metrica</i></strong>
<i>CPL</i> 1565; ed. C. B. Kendall, <i>CCSL</i> 123A (1975) 81&ndash;141.

</li>

<li>
B45.51: 
<strong>Erchanbert of Freising [&dagger;854]
</strong>
<br>
<strong><i>Tractatus super Donati Artem maiorem</i></strong>
ed. W. V. Clausen (Chicago 1948).

</li>

<li>
B45.52: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De orthographia</i></strong>
ed. A. Marsili (Pisa 1952) (first recension); 
<i>PL</i> 101. 901&ndash;920 (later recension); ed. S. Bruni (Florence 1997); 
<i>CMA Gallia</i>, 2. 142&ndash;5.

</li>

<li>
B45.53: 
<strong><i>Quaedam narratio de nobili rege Arthuro</i></strong>
unpr.; J. P. Carley in <i>Nottingham French Studies</i> 30 (1992) 3&ndash;6.

<br>
</li>

<li>
B45.54: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>Gesta regum Anglorum</i></strong>
ed. W. Stubbs, RS 90 (1887&ndash;9); ed. M. 
Winterbottom &amp; R. M. Thomson, OMT (1998&ndash;9).

</li>

<li>
B45.55: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>Historia nouella</i></strong>
ed. K. R. Potter [&amp; R. A. B. Mynors], NMT (1955),
revd by E. J. King, OMT (1998<sup>2</sup>).

</li>

<li>
B45.57: 
<strong>Geoffrey of Monmouth [&dagger;1154]
</strong>
<br>
<strong><i>Historia regum Britanniae</i></strong>
ed. M. D. Reeve &amp; N. Wright (Woodbridge
2007). [See also J. C. Crick, <i>The Historia regum Britannie of Geoffrey of 
Monmouth</i> 3 <i>A Summary Catalogue of the Manuscripts</i> (Cambridge 1989).]

</li>

<li>
B45.59: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>De antiquitate Glastonie ecclesie</i></strong>
ed. J. Scott (Woodbridge 1981).

</li>

<li>
B45.*60: 
<strong>Peter of Ickham OSB [&dagger;1295]
</strong>
<br>
<strong><i>Compilatio de gestis Britonum et Anglorum</i></strong>
unpr.; Sharpe, <i>Latin 
Writers</i>, 427.

</li>

<li>
B45.62a: 
<strong>Edmund of Stourton [early 14th cent.]
</strong>
<br>
<strong><i>De nominibus Mariae et Ioannis</i></strong>
see note.

</li>

<li>
B45.62b: 
<strong>Edmund of Stourton [early 14th cent.]
</strong>
<br>
<strong><i>Dialogus super regulam S. Benedicti</i></strong>
not known to survive.

</li>

<li>
B45.&dagger;63: 
<strong>Henricus Francigena [fl. 1115&ndash;1125]
</strong>
<br>
<strong><i>Aurea gemma</i></strong>
unpr.; Worstbrock 1. 70&ndash;79. The model
letters only ed. B. Odebrecht in <i>Archiv f&uuml;r Urkundenforschung</i> 14 (1936)
231&ndash;61.

</li>

<li>
B45.&dagger;64: 
<strong>Robert of Avesbury [&dagger;1360]
</strong>
<br>
<strong><i>De gestis mirabilibus regis Edwardi Tertii</i></strong>
ed. E. M. Thompson, 
RS 93 (1889), 279&ndash;471.

</li>

<li>
B45.*65: 
<strong>Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</strong>
<br>
<strong><i>Annales sex regum Angliae</i></strong>
ed. T. Hog (London 1845); Kaeppeli 3149.

</li>

<li>
B45.&dagger;68: 
<strong>Ralph of Coggeshall OCist [&dagger; after 1224]
</strong>
<br>
<strong><i>Chronicon Anglicanum</i></strong>
ed. J. Stevenson, RS 66 (1875).

</li>

<li>
B45.&dagger;69: 
<strong><i>Encomium Emmae Reginae</i></strong>
ed. A. Campbell, Camd. 3rd ser. 72 (1949).

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
