{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH" title="SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions">SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH/322" title="York, St Leonard">York, St Leonard</a>  &gt; Bequest by Robert Alne, 24 December 1440</p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: York, St Leonard</h2><h3 class="medieval_catalogue_desc">SH129. Bequest by Robert Alne, 24 December 1440</h3>
<em>1 identified entry found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH129.2: 
<strong>William Revetour [&dagger;1442]
</strong>
<br>
<strong>Creed Play</strong>
not known to survive; A. F. Johnson in <i>Speculum</i> 50
(1975), 55&ndash;90.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>1 identified entry found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
