{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Secular Colleges: Ipswich</h2><h3>SC255. Inventory of church goods, 22 Feb. {x} 29 Oct. 1529</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC255.&para;8&ndash;9: 
<strong><i>Antiphonale ad usum ecclesiae Sarisburiensis</i></strong>
pr. Paris for Francis
Birckmann, London, 1519&ndash;20 (<i>STC</i> 15790&ndash;90a).

<br>
</li>

<li>
SC255.&para;8&ndash;9: 
<strong><i>Antiphonale ad usum ecclesiae Sarisburiensis</i></strong>
pr. Paris for Francis
Birckmann, London, 1519&ndash;20 (<i>STC</i> 15790&ndash;90a).

<br>
</li>

<li>
SC255.&para;10: 
<strong><i>Breuiarium ad usum ecclesiae Sarisburiensis</i></strong>
pr. [Southern Netherlands,
<i>c.</i> 1475] (<i>STC</i> 15816), &amp;c.

<br>
</li>

<li>
SC255.&para;13: 
<strong><i>Graduale ad usum ecclesiae Sariburiensis</i></strong>
pr. Paris 1508 (<i>STC</i> 15862), &amp;c.

<br>
</li>

<li>
SC255.&para;14: 
<strong><i>Missale ad usum ecclesiae Sarisburiensis</i></strong>
pr. Paris 1487 (<i>Bod-inc</i> M271),
&amp;c. [Entries here for identified printed missals only.]

<br>
</li>

<li>
SC255.&para;17: 
<strong><i>Processionale ad usum ecclesiae Sarisburiensis</i></strong>
pr. London 1501 (<i>STC</i>
16232.6), &amp;c.

<br>
</li>

<li>
SC255.&para;18: 
<strong><i>Processionale ad usum ecclesiae Sarisburiensis</i></strong>
pr. London 1501 (<i>STC</i>
16232.6), &amp;c.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
