{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K498. Catalogus, c. 1360</h3>
<em>32 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K498.1: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>De trinitate</i></strong>
<i>PL</i> 196. 887&ndash;992; ed. J. Ribaillier, Textes 
philosophiques du moyen &acirc;ge 6 (Paris 1958).

</li>

<li>
K498.2 7,
  R98.17 (`de Beniamyn et fratribus eius', 11 copies) = K498.2: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Beniamin minor</i></strong>
<i>PL</i> 196. 1&ndash;64; Stegm&uuml;ller <i>Bibl.</i> 7325.

</li>

<li>
K498.3 (`de contemplatione lib. 5'): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Beniamin maior</i></strong>
<i>PL</i> 196. 63&ndash;202; ed. J. Grosfillier, L'Oeuvre de
Richard de Saint-Victor 1 (Turnhout 2013); Stegm&uuml;ller <i>Bibl.</i> 7324.

</li>

<li>
K498.4: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De exterminatione mali et promotione boni</i></strong>
<i>PL</i> 196. 1073&ndash;1116;
Bloomfield 4779.

</li>

<li>
K498.5: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De statu interioris hominis</i></strong>
<i>PL</i> 196. 1115&ndash;60; Stegm&uuml;ller <i>Bibl.</i> 
7333; Bloomfield 3605.

</li>

<li>
K498.6 (1 copy): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Ad nouitios</i>, a sermon on Psalm 28, `Afferte Domino &amp;c. Vobis dicitur,
nouicii. Attendite, nouicii'</strong>
<i>PL</i> 196. 285&ndash;322. Editions since the 
16th cent. have merged various works on particular psalms under the title 
<i>Adnotationes mysticae in Psalmos</i> (<i>PL</i> 196. 265&ndash;404).

</li>

<li>
K498.7 (`de 4 uentis', inc., Book III): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De eruditione hominis interioris</i></strong>
<i>PL</i> 196. 1229&ndash;1366; Stegm&uuml;ller 
<i>Bibl.</i> 7338. [Not to be confused with his <i>De statu interioris hominis</i>.]

</li>

<li>
K498.8&ndash;9 (`super Danielem et de
   mistico sompno Nebuchadonosor. De arbore Nabugodonosor'): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De eruditione hominis interioris</i></strong>
<i>PL</i> 196. 1229&ndash;1366; Stegm&uuml;ller 
<i>Bibl.</i> 7338. [Not to be confused with his <i>De statu interioris hominis</i>.]

</li>

<li>
K498.10: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De templo Ezechielis</i></strong>
<i>PL</i> 196. 527&ndash;600; Stegm&uuml;ller <i>Bibl.</i> 7337.

</li>

<li>
K498.14: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De emmanuele</i></strong>
<i>PL</i> 196. 601&ndash;66; Stegm&uuml;ller <i>Bibl.</i> 7334.

</li>

<li>
K498.15 (`contra Andream iudaizantem', Book I): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De emmanuele</i></strong>
<i>PL</i> 196. 601&ndash;66; Stegm&uuml;ller <i>Bibl.</i> 7334.

</li>

<li>
K498.&lt;&gt;16 (`librum qui dicitur Exceptiones .&nbsp;.'): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Liber exceptionum</i></strong>
<i>PL</i> 177. 191&ndash;284 (Part I only); ed. J. Ch&acirc;tillon,
Textes philosophiques du moyen &acirc;ge 5 (Paris 1958); Stegm&uuml;ller <i>Bibl.</i> 7317. [Part
II, Books I&ndash;IX, circulated as <i>Allegoriae super V. T.</i>: <i>PL</i> 175. 633&ndash;750;
ed. Ch&acirc;tillon, 213&ndash;373. Books XI&ndash;XIV, <i>Allegoriae super N. T.</i>: <i>PL</i> 175.
751&ndash;924; ed. Ch&acirc;tillon, 439&ndash;517; Stegm&uuml;ller <i>Bibl.</i> 3847&ndash;8 (Hugh), 6573 (Petrus Comestor), 7316 (Richard)]

</li>

<li>
K498.17&ndash;18: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong>Commentary on Joel and Nahum</strong>
<i>PL</i> 175. 321&ndash;72 and <i>PL</i> 96. 705&ndash;58; Goy,
485&ndash;6; Stegm&uuml;ller <i>Bibl.</i> 3824. For the attribution to Richard rather than
Hugh, see H. J. Pollitt in <i>RTAM</i> 32 (1965) 296&ndash;306.]

</li>

<li>
K498.&lt;&gt;19: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De potestate ligandi et soluendi</i></strong>
<i>PL</i> 196. 1159&ndash;78;
ed. J. Ribaillier, <i>Richard de Saint-Victor. Opuscules th&eacute;ologiques</i> (Paris 1967), 77&ndash;110;
Stegm&uuml;ller <i>Bibl.</i> 7340.

</li>

<li>
K498.&lt;&gt;20: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De spiritu blasphemiae</i></strong>
<i>PL</i> 196. 1186&ndash;92; ed. J. Ribaillier, 
<i>Richard de Saint-Victor. Opuscules th&eacute;ologiques</i> (Paris 1967), 121&ndash;9.

</li>

<li>
K498.&lt;&gt;21 (`de tribus appropriatis'): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De tribus personis appropriatis in Trinitate</i></strong>
<i>PL</i> 196. 991&ndash;4; ed. J. 
Ribaillier, <i>Richard de Saint-Victor. Opuscules th&eacute;ologiques</i> (Paris 1967),
182&ndash;7.

</li>

<li>
K498.&lt;&gt;22: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De uerbis Apostoli</i>, nine very brief treatises on passages of St Paul</strong>
 <i>PL</i> 196. 665&ndash;84; ed. J. Ribaillier, <i>Richard de Saint-Victor. Opuscules 
th&eacute;ologiques</i> (Paris 1967), 314&ndash;37; Stegm&uuml;ller <i>Bibl.</i> 7342.

</li>

<li>
K498.&lt;&gt;23: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Ad me clamat ex Seir</i> [Is 21</strong>
11], also titled <i>Liber de Verbo 
incarnato</i>: <i>PL</i> 196. 995&ndash;1010; ed. J. Ribaillier, <i>Richard de Saint-Victor. 
Opuscules th&eacute;ologiques</i> (Paris 1967), 256&ndash;80.

</li>

<li>
K498.&lt;&gt;24: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De uerbis Apostoli</i>, nine very brief treatises on passages of St Paul</strong>
 <i>PL</i> 196. 665&ndash;84; ed. J. Ribaillier, <i>Richard de Saint-Victor. Opuscules 
th&eacute;ologiques</i> (Paris 1967), 314&ndash;37; Stegm&uuml;ller <i>Bibl.</i> 7342.

</li>

<li>
K498.&lt;&gt;25: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De iudicaria potestate in finali et uniuersali iudicio</i></strong>
<i>PL</i> 196. 
1178&ndash;86; ed. J. Ribaillier, <i>Richard de Saint-Victor. Opuscules th&eacute;ologiques</i>
(Paris 1967), 142&ndash;54; Stegm&uuml;ller <i>Bibl.</i> 7340,1.

</li>

<li>
K498.&lt;&gt;26: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De differenti poena peccati mortalis et uenialis</i> and <i>Elemosina Patris 
non erit in obliuione</i></strong>
<i>PL</i> 196. 1191&ndash;4; ed. J. Ribaillier, <i>Richard de 
Saint-Victor. Opuscules th&eacute;ologiques</i> (Paris 1967), 291&ndash;3.

</li>

<li>
K498.27: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Beniamin minor</i></strong>
<i>PL</i> 196. 1&ndash;64; Stegm&uuml;ller <i>Bibl.</i> 7325.

</li>

<li>
K498.28: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De tribus principalibus processionibus</i></strong>
ed J. Ch&acirc;tillon &amp; W. J. 
Tulloch (Paris 1951).

</li>

<li>
K498.29: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De meditandis plagis quae circa finem mundi euenient</i></strong>
<i>PL</i> 196. 201&ndash;212;
Stegm&uuml;ller <i>Bibl.</i> 7329.

</li>

<li>
K498.30: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De tribus principalibus processionibus</i></strong>
ed J. Ch&acirc;tillon &amp; W. J. 
Tulloch (Paris 1951).

</li>

<li>
K498.31: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Sermones centum</i></strong>
<i>PL</i> 177. 899&ndash;1210 (as Hugh).

</li>

<li>
K498.32: 
<strong>Robert of Flamborough OSA [fl. 1200]
</strong>
<br>
<strong><i>Liber poenitentialis</i></strong>
ed. J. J. F. Frith (Toronto 1971).

</li>

<li>
K498.*34: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Beniamin maior</i></strong>
<i>PL</i> 196. 63&ndash;202; ed. J. Grosfillier, L'Oeuvre de
Richard de Saint-Victor 1 (Turnhout 2013); Stegm&uuml;ller <i>Bibl.</i> 7324.

</li>

<li>
K498.36 (Book II): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>De emmanuele</i></strong>
<i>PL</i> 196. 601&ndash;66; Stegm&uuml;ller <i>Bibl.</i> 7334.

</li>

<li>
K498.38 (1 copy): 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Tractatus super quosdam Psalmos</i>, inc. `<i>Quare fremuerunt</i> [Ps 2</strong>
1]
Quid per gentes que Deum nesciunt': <i>PL</i> 196. 265&ndash;74, 277&ndash;86, 321&ndash;36,
343&ndash;6, 365&ndash;70, 377&ndash;80; J. Ch&acirc;tillon in <i>DS</i> 13. 618&ndash;20. Editions since 
the 16th cent. have merged various works on particular psalms under the title 
<i>Adnotationes mysticae in Psalmos</i> (<i>PL</i> 196. 265&ndash;404).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>32 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
