{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R39. Union catalogue by author and title, early 14th cent.</h3>
<em>13 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R39.&dagger;1 (`de uirginitate beate Marie', 1 copy) = K5.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
[<i>pseud.</i>]
<strong><i>Rhythmus de laude uirginitatis</i></strong>
pr. in <i>Maxima bibliotheca ueterum
patrum</i> (Lyon 1677), 23. 165&ndash;9; Hoste, 108. [See also Maurice of Rievaulx,
<i>Rhythmus</i>.]

</li>

<li>
R39.2 (1 copy) = K5.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
[<i>pseud.</i>]
<strong>Commentary on the Song of Songs</strong>
not known to survive; Hoste, 104&ndash;5.

</li>

<li>
R39.3 (7 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
[<i>dub.</i>]
<strong>`De quattuor hominibus'</strong>
unidentified.

</li>

<li>
R39.4 (`de xii oneribus in aduentu domini', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>Sermones de oneribus</i></strong>
<i>PL</i> 184. 817&ndash;24 and 195. 361&ndash;500; Stegm&uuml;ller
<i>Bibl.</i> 942; Hoste, 55&ndash;61.

</li>

<li>
R39.5 (4 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>Sermones de tempore et de sanctis</i>. In England perhaps the most probable
collection is that in Durham, UL, MS Cosin V. 1. 11 (s. xii), and three other
copies</strong>
ed. C. H. Talbot (Rome 1952); Hoste, 85&ndash;8. Also possible is the first
Clairvaux collection: <i>PL</i> 195. 209&ndash;360; ed. G. Raciti, <i>CCCM</i> 2A (1989)
1&ndash;238; Hoste, 88&ndash;93. Other smaller collections are also found.

</li>

<li>
R39.6 (3 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De spiritali amicitia</i></strong>
<i>CCCM</i> 1 (1971), 287&ndash;350; Hoste, 63&ndash;9. [See
also Thomas of Frackenham.]

</li>

<li>
R39.7 (`de inclusis', 2 copies): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De institutione inclusarum</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 637&ndash;82;
Hoste, 75&ndash;80. The last part of the text (&sect;&sect;29&ndash;32) circulated under the title
<i>Meditationes</i>.

</li>

<li>
R39.8 (`super illud Cum factus esset Iesus annorum 12', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De Iesu puero duodenni</i></strong>
ed. A. Hoste, <i>CCCM</i> 1 (1971) 249&ndash;78; Hoste,
51&ndash;4.

</li>

<li>
R39.9 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>Speculum caritatis</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 5&ndash;161; Hoste,
41&ndash;49.

</li>

<li>
R39.10 (`dialogus', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>Dialogus inter hominem et rationem</i></strong>
not known to survive; Sharpe, 
<i>Latin Writers</i>, 29.

</li>

<li>
R39.11 (1 copy) = K5.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De anima</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 685&ndash;754; Hoste, 81&ndash;2.

</li>

<li>
R39.12 (1 copy) = K5.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>Epistolae</i></strong>
not known to survive. Walter Daniel's Life of Aelred, 41, 
refers to his many letters to important people. 

</li>

<li>
R39.13 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>Vita S. Edwardi regis et confessoris</i></strong>
<i>PL</i> 195. 737&ndash;90; Hoste, 
123&ndash;6; <i>BHL</i> 2423.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>13 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
