{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K53. Catalogus, c. 1360</h3>
<em>1 identified entry found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K53.1 (two copies = B96.1, B13.48): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry21_anchor">Adalbert of Metz [&dagger; <i>c.</i> 980]
</a>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>1 identified entry found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
