{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/70" title="Norwich">Norwich</a>  &gt; Fragmentary list of books, 16th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Norwich</h2><h3 class="medieval_catalogue_desc">B59. Fragmentary list of books, 16th cent.</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B59.10: 
<strong>Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</strong>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
B59.11: 
<strong>William de Lanicea OFM [late 12th cent.]
</strong>
<br>
<strong><i>Dieta salutis</i></strong>
pr. Cologne 1474 (<i>GW</i> 4720), &amp;c.; ed. A. C. Peltier, 
<i>S. Bonaventurae opera omnia</i> (Paris 1864&ndash;71), 8. 247&ndash;347; Distelbrink 124; 
Bloomfield 2301. [The accompanying <i>Themata</i>, ib. 8. 347&ndash;58; Bloomfield 0077.]

</li>

<li>
B59.&dagger;12: 
<strong>James of Milan OFM [? late 13th cent.]
</strong>
<br>
<strong><i>Stimulus amoris</i></strong>
pr. Quaracchi 1949<sup>2</sup>; F. Eisermann, <i>Stimulus 
Amoris. Inhalt, lateinische &Uuml;berlieferung, deutsche &Uuml;bersetzungen, Rezeption</i>
(T&uuml;bingen 2001); Distelbrink 217.

</li>

<li>
B59.19: 
<strong>Alexander de Villa Dei [<i>c</i>1170&ndash;<i>c</i>1240]
</strong>
<br>
<strong><i>Doctrinale magnum</i></strong>
ed. D. Reichling (Berlin 1893); <i>WIC</i> 17375.

</li>

<li>
B59.22: 
<strong><i>Hortus uocabulorum</i></strong>
pr. by W. de Worde, Westminster 1500 (<i>STC</i> 13829), &amp;c.

<br>
</li>

<li>
B59.&para;23: 
<strong>Ambrosius Calepinus (Ambrogio Calepino) [<i>c</i>1435&ndash;1509]
</strong>
<br>
<strong><i>Dictionum Latinarum et Graecarum interpres</i></strong>
pr. Reggio d'Emilia 
1502 &amp;c.

</li>

<li>
B59.24: 
<strong>John Holt [&dagger;1504]
</strong>
<br>
<strong><i>Lac puerorum</i></strong>
pr. by W. de Worde, Westminster ?1505 &amp;c. (<i>STC</i> 
13603.7&ndash;13606.3); Sharpe, <i>Latin Writers</i>, 265.

</li>

<li>
B59.25: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
<strong><i>Epistulae morales</i></strong>
ed. L. D. Reynolds, OCT (1965).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
