{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K5. Catalogus, c. 1360</h3>
<em>18 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K5.1: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>De Iesu puero duodenni</i></strong>
ed. A. Hoste, <i>CCCM</i> 1 (1971) 249&ndash;78; Hoste,
51&ndash;4.

</li>

<li>
K5.2: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Speculum caritatis</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 5&ndash;161; Hoste,
41&ndash;49.

</li>

<li>
K5.3: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>De spiritali amicitia</i></strong>
<i>CCCM</i> 1 (1971), 287&ndash;350; Hoste, 63&ndash;9. [See
also Thomas of Frackenham.]

</li>

<li>
K5.4: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Dialogus inter hominem et rationem</i></strong>
not known to survive; Sharpe, 
<i>Latin Writers</i>, 29.

</li>

<li>
K5.5: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>De institutione inclusarum</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 637&ndash;82;
Hoste, 75&ndash;80. The last part of the text (&sect;&sect;29&ndash;32) circulated under the title
<i>Meditationes</i>.

</li>

<li>
K5.6: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Sermones de oneribus</i></strong>
<i>PL</i> 184. 817&ndash;24 and 195. 361&ndash;500; Stegm&uuml;ller
<i>Bibl.</i> 942; Hoste, 55&ndash;61.

</li>

<li>
K5.7: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>De anima</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 685&ndash;754; Hoste, 81&ndash;2.

</li>

<li>
K5.8: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
[<i>pseud.</i>]
<strong>Commentary on the Song of Songs</strong>
not known to survive; Hoste, 104&ndash;5.

</li>

<li>
K5.9: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Rhythmus de laude uirginitatis</i></strong>
pr. in <i>Maxima bibliotheca ueterum
patrum</i> (Lyon 1677), 23. 165&ndash;9; Hoste, 108. [See also Maurice of Rievaulx,
<i>Rhythmus</i>.]

</li>

<li>
K5.10: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
[<i>dub.</i>]
<strong>`De diuersis uirtutibus et militia christiana', inc. `Sagitta'
(presumably <i>Sagitta Ionathae</i> [2 Rg 1</strong>
22]): unidentified; Hoste, 110.

</li>

<li>
K5.12: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>De sanctis ecclesiae Hagustaldensis</i></strong>
ed. J. Raine, Surtees Soc. 44
(1864), 173&ndash;203; Hoste, 127&ndash;8.

</li>

<li>
K5.13: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Relatio de standardo</i></strong>
<i>PL</i> 195. 701&ndash;712; ed. R. Howlett, RS 82/3 
(1886), 181&ndash;99; Hoste, 119&ndash;20.

</li>

<li>
K5.14: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Vita S. Edwardi regis et confessoris</i></strong>
<i>PL</i> 195. 737&ndash;90; Hoste, 
123&ndash;6; <i>BHL</i> 2423.

</li>

<li>
K5.15: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Vita S. Niniani</i></strong>
ed. A. P. Forbes, <i>Lives of St Ninian and St Kentigern</i>
(Edinburgh 1874), 137&ndash;57; Hoste, 115&ndash;17; <i>BHL</i> 6239&ndash;40.

</li>

<li>
K5.16: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Vita Dauidis Scotorum regis</i> (= <i>De genealogia regum Anglorum</i>, c. 1)</strong>
 <i>PL</i> 195. 711&ndash;16; Hoste, 113&ndash;14. The title may disguise a copy of the full text
of <i>De genealogia</i>.

</li>

<li>
K5.17: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Sermones de tempore et de sanctis</i>. In England perhaps the most probable
collection is that in Durham, UL, MS Cosin V. 1. 11 (s. xii), and three other
copies</strong>
ed. C. H. Talbot (Rome 1952); Hoste, 85&ndash;8. Also possible is the first
Clairvaux collection: <i>PL</i> 195. 209&ndash;360; ed. G. Raciti, <i>CCCM</i> 2A (1989)
1&ndash;238; Hoste, 88&ndash;93. Other smaller collections are also found.

</li>

<li>
K5.18: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Sermones in causis et synodis</i></strong>
 
</li>

<li>
K5.19: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>Epistolae</i></strong>
not known to survive. Walter Daniel's Life of Aelred, 41, 
refers to his many letters to important people. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>18 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
