{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R27. Union catalogue by author and title, early 14th cent.</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R27.1 (`sermones', 1 copy): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
R27.2 (26 copies, among them A38.15, B13.161, B49.10, B71.29): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Strassburg 1519, &amp;c.; 
<i>PL</i> 117. 361&ndash;938; Stegm&uuml;ller <i>Bibl.</i> 3101&ndash;114.

</li>

<li>
R27.3 (19 copies, among them B24.55 and BC4.164): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong>Commentary on Isaiah</strong>
<i>PL</i> 116. 715&ndash;1086; Stegm&uuml;ller <i>Bibl.</i> 3083.

</li>

<li>
R27.4 (`super euangelia', 6 copies): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
R27.5 (`super Apocalipsim libri vi', 3 copies, one of them = B29.17): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong>Commentary on Revelation</strong>
<i>PL</i> 117. 937&ndash;1220 (as Haimo); Stegm&uuml;ller 
<i>Bibl.</i> 3072, 3122.

</li>

<li>
R27.6 (`exposiciones eius per totum annum super euangelia', 7 copies): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
