{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/133" title="London-Franciscan">London-Franciscan</a>  &gt; Leland, c. 1536-40</p><h2>NEW FRIARS: London-Franciscan</h2><h3 class="medieval_catalogue_desc">F30. Leland, c. 1536-40</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F30.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong>Commentary on <i>ps.</i> Dionysius's <i>Hierarchia caelestis</i></strong>
<i>PL</i> 175.
923&ndash;1154; ed. D. Poirel (in preparation); Goy, 181&ndash;96.

</li>

<li>
F30.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3663_anchor">William of Auxerre [&dagger;1231]
</a>
<br>
<strong><i>Summa aurea super quatuor libros Sententiarum</i></strong>
ed. J. Ribaillier, 
Spicilegium Bonaventurianum 16&ndash;20 (Paris/Grottaferrata 1980&ndash;87); Stegm&uuml;ller 
<i>Sent.</i> 281.  

</li>

<li>
F30.&dagger;4 (`tabula optima originalium secundum ordinem 
   librorum sed non alphabeti'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3273_anchor"><i>Tabula septem custodiarum</i></a>
unpr.; Rouse &amp; Rouse, <i>Registrum</i>, 
xcviii&ndash;cxxvi.

<br>
</li>

<li>
F30.5 (`corectorium coruptorii sancti Thome', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2917_anchor">Richard Knapwell OP [&dagger; after 1286]
</a>
<br>
<strong><i>Correctorium corruptorii Quare</i></strong>
ed. P. Glorieux, Biblioth&egrave;que thomiste
(Le Saulchoir 1927); Kaeppeli 3475; Stegm&uuml;ller <i>Sent.</i> 892.

</li>

<li>
F30.6 (`Egidius de corpore et sanguine domini'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong><i>Theoremata de corpore Christi</i></strong>
pr. Bologna 1481 (<i>GW</i> 7208), &amp;c.; 
pr. Rome 1554 / repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400i.

</li>

<li>
F30.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry241_anchor">Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</a>
<br>
<strong><i>De sacrificio azymi et fermentati</i></strong>
<i>SAO</i> 2. 221&ndash;32.

</li>

<li>
F30.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry790_anchor"><i>Ps.</i> Dionysius the Areopagite
</a>
<br>
<strong><i>Epistulae</i>, Latin tr. The group circulating with the <i>ps.</i> Dionysian
corpus, comprising ten letters addressed to Gaius (<i>epp.</i> 1&ndash;4) and others</strong>
 <i>CPG</i> 6604&ndash;6613; ed. P. Chevallier, <i>Dionysiaca</i> (Bruges 1937&ndash;50), 605&ndash;669,
1479&ndash;1578.

</li>

<li>
F30.9 (1&ndash;6, 12): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Quaestiones de quolibet</i></strong>
<i>Quodl.</i> 7&ndash;11, <i>STO</i> 25/1; <i>Quodl.</i> 
1&ndash;3, 6, 4&ndash;5, and 12, <i>STO</i> 25/2 (1996); ed. R. M. Spiazzi (Turin 1949); 
Glorieux <i>R&eacute;p.</i> 14bg &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
