{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K444. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K444.1: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Compendium in Iob</i></strong>
<i>PL</i> 207. 795&ndash;826;
Stegm&uuml;ller <i>Bibl.</i> 6431.

</li>

<li>
K444.2: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De amicitia christiana</i></strong>
<i>PL</i> 207. 871&ndash;958; ed. M.-M. Davy, <i>Un 
trait&eacute; de l'amour du XIIe si&egrave;cle: Pierre de Blois</i> (Paris 1932); 
Bloomfield 4936, 5832.

</li>

<li>
K444.3: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De transfiguratione Christi</i></strong>
<i>PL</i> 207. 777&ndash;92.

</li>

<li>
K444.4: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De conuersione S. Pauli</i></strong>
<i>PL</i> 207. 791&ndash;6.

</li>

<li>
K444.5: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Dialogus inter Henricum II et abbatem Bonaeuallensem</i></strong>
<i>PL</i> 207. 
975&ndash;88; ed. R. B. C. Huygens, <i>RB</i> 68 (1958) 87&ndash;112, repr. <i>CCCM</i> 171 (1999) 
377&ndash;408.

</li>

<li>
K444.6: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Epistola de periculis praelatorum</i> (<i>ep.</i> 102)</strong>
<i>PL</i> 207. 314&ndash;26.

</li>

<li>
K444.7: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Inuectiua contra perfidiam Iudaeorum</i></strong>
<i>PL</i> 207. 825&ndash;70.

</li>

<li>
K444.8: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 207. 1&ndash;560; L. Wahlgren, <i>The Letter Collection of Peter
of Blois. Studies in the Manuscript Tradition</i>, Studia Graeca et Latina
Gothoburgensia 58 (1993).

</li>

<li>
K444.9: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Sermones</i></strong>
<i>PL</i> 207. 559&ndash;776; Schneyer <i>Rep.</i> 4. 623&ndash;8.

</li>

<li>
K444.10: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De testimoniis fidei catholicae</i>, inc. `Cum in fundamentis'</strong>
unpr.;
Sharpe, <i>Latin Writers</i>, 420.

</li>

<li>
K444.11: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Vita S. Guthlaci</i></strong>
ed. C. Horstmann, <i>Nova Legenda Angliae</i> (Oxford
1901), 2. 698&ndash;719 (<i>uita</i>), 719&ndash;27 (<i>translatio</i>); <i>BHL</i> 3728&ndash;9. 

</li>

<li>
K444.&lt;&gt;12: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De itinere Hierosolymitano</i></strong>
<i>PL</i> 207. 1057&ndash;1070; ed. R. B. C. 
Huygens, <i>CCCM</i> 194 (2002) 75&ndash;95.

</li>

<li>
K444.&lt;&gt;13: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De praestigiis fortunae</i>, referred to in his <i>Inuecta in deprauatorem</i>
(<i>PL</i> 207. 1115) and cited in several of the letters (<i>PL</i> 207. 11, 71, 239);
not identifiable among the surviving works.
</strong>
</li>

<li>
K444.&lt;&gt;14: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>De confessione</i></strong>
<i>PL</i> 207. 1077&ndash;1092; Bloomfield 5210.

</li>

<li>
K444.17: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Exhortatio ad eos qui nec accipiunt nec praedicant crucem</i></strong>
<i>PL</i> 207.
529&ndash;34 (as <i>ep.</i> 232), identified by Warner &amp; Gilson as `perhaps the
<i>opusculum nouellum de assertione fidei</i> mentioned in the <i>Inuectiua</i>'.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
