{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>REGISTRUM ANGLIE: REGISTRUM ANGLIE</h2><h3>R11. Union catalogue by author and title, early 14th cent.</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R11.1: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Exodus</strong>
<i>PL</i> 108. 9&ndash;246; Stegm&uuml;ller <i>Bibl.</i> 7022. Or perhaps
Walahfrid's <i>Abbreuiatio</i>: unpr.; Stegm&uuml;ller <i>Bibl.</i> 8318.

</li>

<li>
R11.2: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 107. 727&ndash;1156; Stegm&uuml;ller <i>Bibl.</i>  7060.

</li>

<li>
R11.3: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
R11.4: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Samuel and Kings</strong>
<i>PL</i> 109. 9&ndash;280; Stegm&uuml;ller <i>Bibl.</i> 7033&ndash;6.

</li>

<li>
R11.5: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 107. 727&ndash;1156; Stegm&uuml;ller <i>Bibl.</i>  7060.

</li>

<li>
R11.6: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

<li>
R11.7: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
R11.8: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Proverbs</strong>
<i>CPL</i> 1351; ed. D. Hurst, <i>CCSL</i> 119B (1983) 21&ndash;163.

</li>

<li>
R11.9: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De computo</i></strong>
ed. W. M. Stevens, <i>CCCM</i> 44 (1979) 199&ndash;321.

</li>

<li>
R11.10: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Genesis</strong>
<i>PL</i> 107. 439&ndash;670; Stegm&uuml;ller <i>Bibl.</i> 7021.

</li>

<li>
R11.11: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De clericorum institutione</i></strong>
<i>PL</i> 107. 293&ndash;420; ed. A. Knoepfler 
(Munich 1900); ed. D. Zimpel, Freiburger Beitr&auml;ge zur mittelalterlichen
Geschichte 7 (1996).

</li>

<li>
R11.12: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Maccabees</strong>
<i>PL</i> 109. 1125&ndash;1256; Stegm&uuml;ller <i>Bibl.</i> 
7058&ndash;9.

</li>

<li>
R11.13: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
R11.14: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De laudibus sanctae crucis</i></strong>
<i>PL</i> 107. 137&ndash;294; ed. M. Perrin,
<i>CCCM</i> 100 (1997); prefatory verses, ed. E. D&uuml;mmler, MGH <i>PLAC</i> 2 (1884), 
159&ndash;62.

</li>

<li>
R11.15: 
<strong>Peter Damian OSB [1007&ndash;1072]
</strong>
<br>
<strong><i>Liber Dominus uobiscum</i></strong>
<i>PL</i> 145. 231&ndash;52.

</li>

<li>
R11.16: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Jeremiah</strong>
<i>PL</i> 111. 793&ndash;1272; Stegm&uuml;ller <i>Bibl.</i> 7054&ndash;5.

</li>

<li>
R11.17: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Leviticus</strong>
<i>PL</i> 108. 245&ndash;586; Stegm&uuml;ller <i>Bibl.</i> 7024.
Or perhaps Walahfrid's <i>Abbreuiatio</i>: <i>PL</i> 114. 795&ndash;850; Stegm&uuml;ller <i>Bibl.</i> 8319.

</li>

<li>
R11.18: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Numbers</strong>
<i>PL</i> 108. 587&ndash;838; Stegm&uuml;ller <i>Bibl.</i> 7025. Or
perhaps Walahrid's <i>Abbreuiatio</i>: unpr.; Stegm&uuml;ller <i>Bibl.</i> 8320.

</li>

<li>
R11.19: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Deuteronomy</strong>
<i>PL</i> 108. 837&ndash;998; Stegm&uuml;ller <i>Bibl.</i> 7027.
Or perhaps Walahfrid's <i>Abbreuiatio</i>: unpr.; Stegm&uuml;ller <i>Bibl.</i> 8321.

</li>

<li>
R11.20: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on the Pauline Epistles</strong>
<i>PL</i> 111. 1273&ndash;1616 and <i>PL</i> 112.
9&ndash;834; Stegm&uuml;ller <i>Bibl.</i> 7064&ndash;77.

</li>

<li>
R11.21: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De clericorum institutione</i></strong>
<i>PL</i> 107. 293&ndash;420; ed. A. Knoepfler 
(Munich 1900); ed. D. Zimpel, Freiburger Beitr&auml;ge zur mittelalterlichen
Geschichte 7 (1996).

</li>

<li>
R11.22: 
<strong>Ratramnus of Corbie [&dagger; after 868]
</strong>
<br>
<strong><i>De praedestinatione Dei</i></strong>
<i>PL</i> 121. 13&ndash;80.

</li>

<li>
R11.23: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on Revelation</strong>
<i>PL</i> 117. 937&ndash;1220 (as Haimo); Stegm&uuml;ller 
<i>Bibl.</i> 3072, 3122.

</li>

<li>
R11.24: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
[<i>dub.</i>]
<strong>`De opere Christi'</strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
