{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K296. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K296.1&ndash;2: 
<strong>Iosephus Flauius [&dagger; after 100]
</strong>
<br>
<strong><i>Antiquitates iudaicae</i> and <i>De bello iudaico</i>, Latin tr.</strong>
pr. 
[Augsburg] 1470 (Goff J481), &amp;c.;  pr. Basel 1524; <i>Antiquitates</i> I&ndash;V, 
ed. F. Blatt, <i>The Latin Josephus</i> (Copenhagen 1958).

</li>

<li>
K296.6: 
<strong>Hegesippus is the common medieval name for the Latin <i>Historia Iosephi de
bello iudaico et excidio urbis Hierosolymitanae</i></strong>
ed. V. Ussani, <i>CSEL</i> 66/1 
(1932).

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
