{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/391" title="Corpus Christi College">Corpus Christi College</a>  &gt; List of Grocyn's Greek books, bought by John Claymond, in or soon after 1520</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Corpus Christi College</h2><h3 class="medieval_catalogue_desc">UO31. List of Grocyn's Greek books, bought by John Claymond, in or soon after 1520</h3>
<em>30 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO31.*1: 
<strong><i>Lexicon Suida</i>, in Greek</strong>
pr. Milan 1499 (Goff S829), &amp;c.; ed. A. Adler,
Teubner (1928&ndash;38).

<br>
</li>

<li>
UO31.*2: 
<strong>Plato [429&ndash;347 BC]
</strong>
<br>
<strong><i>Leges</i>, Greek text</strong>
 
</li>

<li>
UO31.*3: 
<strong><i>Psalterium Graece</i></strong>
pr. Venice [not after 1498] (Goff P1033), &amp;c.

<br>
</li>

<li>
UO31.&para;4: 
<strong>Apollonius Rhodius [3rd cent. BC]
</strong>
<br>
<strong>$sp$$'Argonautik&aacute;$rm$$</strong>
pr. Florence 1496 (<i>GW</i> 2271), &amp;c.; ed. 
H. Fr&auml;nkel, OCT (1961); ed. F. Vian (Paris 1974&ndash;81).

</li>

<li>
UO31.5: 
<strong>Manuel Moschopulus [fl. 1300]
</strong>
<br>
</li>

<li>
UO31.&para;7: 
<strong><i>Psalterium Graece</i></strong>
pr. Venice [not after 1498] (Goff P1033), &amp;c.

<br>
</li>

<li>
UO31.*8: 
<strong>Theophylact [&dagger; after 1125], archbishop of Ochrid
</strong>
<br>
<strong>Commentary on the Gospels, Greek text</strong>
pr. Paris 1531, 
Rome 1542 (Adams T594), &amp;c.; <i>PG</i> 123. 144&ndash;488.

</li>

<li>
UO31.9: 
<strong>Arrian [AD 86&ndash;160]
</strong>
<br>
<strong>$sp$$'Alex&aacute;ndrou 'An&aacute;basis$rm$$</strong>
pr. Venice 1535 (Adams A2008), 
Basel 1539 (Adams A2009), &amp;c.; ed. E. C. Marchant, OCT (1904).

</li>

<li>
UO31.&para;10a: 
<strong>Theocritus [3rd cent. BC]
</strong>
<br>
<strong>$sp$$'Id&uacute;llia$rm</strong>
pr. with Hesiod, [Milan <i>c.</i> 1480] (Goff T143),
with Hesiod and other works, Venice 1496 (Goff T144), &amp;c.; ed. A. S. F. Gow
(Cambridge ). 

</li>

<li>
UO31.&para;10b: 
<strong>Apollonius Rhodius [3rd cent. BC]
</strong>
<br>
<strong>$sp$$'Argonautik&aacute;$rm$$</strong>
pr. Florence 1496 (<i>GW</i> 2271), &amp;c.; ed. 
H. Fr&auml;nkel, OCT (1961); ed. F. Vian (Paris 1974&ndash;81).

</li>

<li>
UO31.11: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Opera</i>, in Greek</strong>
 
</li>

<li>
UO31.*12: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong>Homilies on Matthew, Greek text</strong>
<i>CPG</i> 4424; <i>PG</i> 57. 13&ndash;472, 58.
473&ndash;6.

</li>

<li>
UO31.13: 
<strong>Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</strong>
<br>
<strong>$sp$$`Armonik&aacute;$rm$$, Greek text</strong>
ed. I. D&uuml;ring, <i>Die Harmonielehre
des Klaudios Ptolemaios</i> (G&ouml;teborg 1930).

</li>

<li>
UO31.*14: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>De sacerdotio</i>, Greek text</strong>
<i>CPG</i> 4316; ed. A.-M. Malingrey, SChr 272 
(Paris 1980).

</li>

<li>
UO31.*15: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>app.</i>]
<strong>Commentary on Matthew excerpted from works of Chrysostom in Oxford,
Corpus Christi College, MS 25 (AD 1109).
</strong>
</li>

<li>
UO31.*17: 
<strong>Thucydides [460/55&ndash;<i>c</i>400 BC]
</strong>
<br>
<strong>$sp$$Per&igrave; tou^ Peloponnhsiakou^ pol&eacute;mou$rm$$</strong>
pr. Venice 1502 (Adams
T662), &amp;c.;
ed. H. S. Jones &amp; J. E. Powell, OCT (1942).

</li>

<li>
UO31.*18: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
[<i>pseud.</i>]
<strong>$sp$$Probl&hacute;mata$rm$$</strong>
pr. with Aristotle's <i>Opera</i>, Venice 1495&ndash;8 
(<i>GW</i> 2334), &amp;c.; ed. W. S. Hett, Loeb (1961&ndash;5).

</li>

<li>
UO31.19: 
<strong>Demosthenes [384&ndash;322 BC]
</strong>
<br>
<strong><i>Orationes</i></strong>
pr. in Greek, Venice 1504 (Adams D259), &amp;c.; pr. Basel 
1532 (Adams D261), &amp;c.

</li>

<li>
UO31.*20: 
<strong>Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</strong>
<br>
<strong><i>Opera</i>, in Greek</strong>
pr. Basel 1532 (Adams B344), Venice 1535, &amp;c.

</li>

<li>
UO31.21: 
<strong>Manuel Moschopulus [fl. 1300]
</strong>
<br>
<strong>$sp$$'Erwt&hacute;mata$rm$$</strong>
pr. with Demetrius Chalcondylas, [Milan <i>c.</i>
1493] (<i>GW</i> 8250), &amp;c.

</li>

<li>
UO31.*22: 
<strong>Iulius Pollux [180&ndash;238]
</strong>
<br>
<strong>$sp$$'Onomastik&oacute;n$rm$$</strong>
pr. Venice 1502, &amp;c.; ed. E. Bethe, 
<i>Lexicographi Graeci</i> 9, Teubner (1967<sup>2</sup>).

</li>

<li>
UO31.*23: 
<strong>Cyrus Rhetor []
</strong>
<br>
<strong>$sp$$Per&igrave; diafora^s st&aacute;sews$rm$$</strong>
ed. C. Walz, <i>Rhetores Graeci</i>
(Stuttgart 1832&ndash;6), 8. 387&ndash;96.

</li>

<li>
UO31.24: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i>, Greek tr.</strong>
????.

</li>

<li>
UO31.*26: 
<strong>Ammonius Hermiae [fl. 600]
</strong>
<br>
<strong>Commentary on Porphyry's <i>Isagoge</i>, Greek text</strong>
pr. Venice 1500, &amp;c.;
ed. A. Busse (Berlin 1891).

</li>

<li>
UO31.*27: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong>$sp$$'Hqik&agrave; Nikom&aacute;ceia$rm$$</strong>
ed. I. Bywater, OCT (1890).

</li>

<li>
UO31.*29: 
<strong>Simeon Metaphrastes [late 10th cent.]
</strong>
<br>
<strong><i>Menologion</i></strong>
printed in an unrepresentative text in <i>PG</i> 114&ndash;116;
for editions of individual lives, see C. Hogel, <i>Symeon Metaphrastes</i> 
(Copenhagen 2002), 172&ndash;95.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>30 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
