{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; REGISTRUM ANGLIE</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
REGISTRUM ANGLIE</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Union catalogue by author and title, early 14th cent.</span>

<ul><!-- start CCC list -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R1"  title="View details of catalogue R1">&bull; R1 (343)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R2"  title="View details of catalogue R2">&bull; R2 (18)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R3"  title="View details of catalogue R3">&bull; R3 (81)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R4"  title="View details of catalogue R4">&bull; R4 (12)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R5"  title="View details of catalogue R5">&bull; R5 (5)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R6"  title="View details of catalogue R6">&bull; R6 (117)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R7"  title="View details of catalogue R7">&bull; R7 (55)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R8"  title="View details of catalogue R8">&bull; R8 (59)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R9"  title="View details of catalogue R9">&bull; R9 (35)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R10"  title="View details of catalogue R10">&bull; R10 (32)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R11"  title="View details of catalogue R11">&bull; R11 (24)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R12"  title="View details of catalogue R12">&bull; R12 (5)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R13"  title="View details of catalogue R13">&bull; R13 (12)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R14"  title="View details of catalogue R14">&bull; R14 (12)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R15"  title="View details of catalogue R15">&bull; R15 (9)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R16"  title="View details of catalogue R16">&bull; R16 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R17"  title="View details of catalogue R17">&bull; R17 (20)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R18"  title="View details of catalogue R18">&bull; R18 (24)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R19"  title="View details of catalogue R19">&bull; R19 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R20"  title="View details of catalogue R20">&bull; R20 (5)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R21"  title="View details of catalogue R21">&bull; R21 (31)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R22"  title="View details of catalogue R22">&bull; R22 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R23"  title="View details of catalogue R23">&bull; R23 (10)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R24"  title="View details of catalogue R24">&bull; R24 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R25"  title="View details of catalogue R25">&bull; R25 (17)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R26"  title="View details of catalogue R26">&bull; R26 (11)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R27"  title="View details of catalogue R27">&bull; R27 (6)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R28"  title="View details of catalogue R28">&bull; R28 (6)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R29"  title="View details of catalogue R29">&bull; R29 (7)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R30"  title="View details of catalogue R30">&bull; R30 (7)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R31"  title="View details of catalogue R31">&bull; R31 (4)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R32"  title="View details of catalogue R32">&bull; R32 (8)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R33"  title="View details of catalogue R33">&bull; R33 (41)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R34"  title="View details of catalogue R34">&bull; R34 (48)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R35"  title="View details of catalogue R35">&bull; R35 (23)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R36"  title="View details of catalogue R36">&bull; R36 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R37"  title="View details of catalogue R37">&bull; R37 (7)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R38"  title="View details of catalogue R38">&bull; R38 (11)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R39"  title="View details of catalogue R39">&bull; R39 (13)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R40"  title="View details of catalogue R40">&bull; R40 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R41"  title="View details of catalogue R41">&bull; R41 (6)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R42"  title="View details of catalogue R42">&bull; R42 (12)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R43"  title="View details of catalogue R43">&bull; R43 (4)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R44"  title="View details of catalogue R44">&bull; R44 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R45"  title="View details of catalogue R45">&bull; R45 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R46"  title="View details of catalogue R46">&bull; R46 (5)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R47"  title="View details of catalogue R47">&bull; R47 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R48"  title="View details of catalogue R48">&bull; R48 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R49"  title="View details of catalogue R49">&bull; R49 (4)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R50"  title="View details of catalogue R50">&bull; R50 (10)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R51"  title="View details of catalogue R51">&bull; R51 (5)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R52"  title="View details of catalogue R52">&bull; R52 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R53"  title="View details of catalogue R53">&bull; R53 (11)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R54"  title="View details of catalogue R54">&bull; R54 (10)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R55"  title="View details of catalogue R55">&bull; R55 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R56"  title="View details of catalogue R56">&bull; R56 (9)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R57"  title="View details of catalogue R57">&bull; R57 (22)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R58"  title="View details of catalogue R58">&bull; R58 (7)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R59"  title="View details of catalogue R59">&bull; R59 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R60"  title="View details of catalogue R60">&bull; R60 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R62"  title="View details of catalogue R62">&bull; R62 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R63"  title="View details of catalogue R63">&bull; R63 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R64"  title="View details of catalogue R64">&bull; R64 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R65"  title="View details of catalogue R65">&bull; R65 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R66"  title="View details of catalogue R66">&bull; R66 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R67"  title="View details of catalogue R67">&bull; R67 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R68"  title="View details of catalogue R68">&bull; R68 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R69"  title="View details of catalogue R69">&bull; R69 (3)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R70"  title="View details of catalogue R70">&bull; R70 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R71"  title="View details of catalogue R71">&bull; R71 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R72"  title="View details of catalogue R72">&bull; R72 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R73"  title="View details of catalogue R73">&bull; R73 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R74"  title="View details of catalogue R74">&bull; R74 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R75"  title="View details of catalogue R75">&bull; R75 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R76"  title="View details of catalogue R76">&bull; R76 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R77"  title="View details of catalogue R77">&bull; R77 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R78"  title="View details of catalogue R78">&bull; R78 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R79"  title="View details of catalogue R79">&bull; R79 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R80"  title="View details of catalogue R80">&bull; R80 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R81"  title="View details of catalogue R81">&bull; R81 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R82"  title="View details of catalogue R82">&bull; R82 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R83"  title="View details of catalogue R83">&bull; R83 (15)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R84"  title="View details of catalogue R84">&bull; R84 (10)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R85"  title="View details of catalogue R85">&bull; R85 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R86"  title="View details of catalogue R86">&bull; R86 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R87"  title="View details of catalogue R87">&bull; R87 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R88"  title="View details of catalogue R88">&bull; R88 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R89"  title="View details of catalogue R89">&bull; R89 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R90"  title="View details of catalogue R90">&bull; R90 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R91"  title="View details of catalogue R91">&bull; R91 (2)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R92"  title="View details of catalogue R92">&bull; R92 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R93"  title="View details of catalogue R93">&bull; R93 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R94"  title="View details of catalogue R94">&bull; R94 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R95"  title="View details of catalogue R95">&bull; R95 (1)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R96"  title="View details of catalogue R96">&bull; R96 (10)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R97"  title="View details of catalogue R97">&bull; R97 (65)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R98"  title="View details of catalogue R98">&bull; R98 (24)</a>

</li><!-- end CCC list item -->
<li style="display: inline-block; width: 80px;" ><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/R99"  title="View details of catalogue R99">&bull; R99 (5)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>98 catalogues found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
