{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K328. Catalogus, c. 1360</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K328.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1645_anchor">John of Cornwall [&dagger; after 1179]
</a>
<br>
<strong><i>Eulogium ad Alexandrum III</i></strong>
<i>PL</i> 199. 1043&ndash;86; ed. N. M.
H&auml;ring, <i>Med. Stud.</i> 13 (1951) 256&ndash;300. [See also above, <i>De homine
assumpto</i>.]

</li>

<li>
K328.2 (attrib. John of Cornwall): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2926_anchor">Richard the Premonstratensian [late 12th cent.]
</a>
<br>
<strong><i>De canone missae</i></strong>
<i>PL</i> 177. 455&ndash;70; Sharpe,
<i>Latin Writers</i>, 499&ndash;501. [Sometimes attributed to John of Cornwall; 
B. Haur&eacute;au, <i>Notices et extraits</i> 24/2 (1876) 145, collects the evidence 
for the attribution to Richard the Premonstratensian.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
