{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/397" title="Oriel College">Oriel College</a>  &gt; Inventory of the college library, 31 May 1375</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Oriel College</h2><h3 class="medieval_catalogue_desc">UO79. Inventory of the college library, 31 May 1375</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO79.1: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
UO79.2 (`decretales antiquas'): 
<strong>Bernard of Pavia [&dagger;1213]
</strong>
<br>
<strong><i>Breuiarium extrauagantium</i>, now known as <i>Compilatio prima 
decretalium</i></strong>
ed. Agust&iacute;n, <i>Antiquae collectiones</i>, 9&ndash;353; part ed. E. 
Friedberg, <i>Quinque compilationes antiquae</i> (Leipzig 1882), 1&ndash;65; Kuttner, 
322&ndash;44. [Also known as <i>Iuste</i> from its opening words, `Iuste iudicate'.
The ordinary gloss is by Tancred of Bologna.] Entries listed here may
refer to more than one of the <i>compilationes</i>.

</li>

<li>
UO79.3: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UO79.5: 
<strong>Azo of Bologna [&dagger;1220]
</strong>
<br>
<strong><i>Summa Codicis</i> and <i>Summa Institutionum</i></strong>
pr. Speyer 1482 (<i>GW</i> 3144),
&amp;c.; pr. Venice 1610.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
