{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/187" title="Eton College">Eton College</a>  &gt; List of books returned to the bursars, 8 December 1558</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Eton College</h2><h3 class="medieval_catalogue_desc">SC243. List of books returned to the bursars, 8 December 1558</h3>
<em>27 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC243.&para;1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
SC243.&para;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry956_anchor">Felinus Sandeus (Felino Maria Sandeo) [1444&ndash;1503]
</a>
<br>
<span class="biblio_block">
G. Arrighi, <i>Felino Sandei (1444&ndash;1503), Canonista e Umanista</i>,
Accademia Lucchese di scienze lettore e arti, Studi e testi 23 (Lucca
1987).
</span>
<br>
<strong><i>Super Decretales</i></strong>
pr. Venice 1497&ndash;9 (Goff S142); Schulte, 2. 351.
But perhaps more likely the collection printed as commentary on the five 
books, ed. Jacques Mareshcal, [?Lyon 1513].

</li>

<li>
SC243.&para;3&ndash;4 (Book II pts 1&ndash;2): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2365_anchor">Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</a>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
SC243.&para;*5 (`reportorium Abbatis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry180_anchor">Alonso D&iacute;az de Montalvo [1405&ndash;1499]
</a>
<br>
<strong><i>Repertorium quaestionum super Nicholaum de Tudeschis</i>, ed. Ludovicus
de Campis</strong>
pr. Seville 1477 (<i>GW</i> 8302), &amp;c.

</li>

<li>
SC243.&para;6&ndash;7 (2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
SC243.&para;*8 (`lexicon hebraicum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3067_anchor">Sanctes Pagninus (Santi Pagnino) [1470&ndash;1541]
</a>
<br>
<strong><i>Thesaurus linguae sanctae</i></strong>
pr. Lyon 1529 (Adams P36), &amp;c.

</li>

<li>
SC243.&para;9 (`cornucopia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2354_anchor">Niccol&ograve; Perotti [1430&ndash;1480]
</a>
<br>
<strong><i>Cornucopiae linguae latinae</i></strong>
pr. Venice 1489 (Goff P288), &amp;c.;
ed. J.-L. Charlet &amp; M. Furno in <i>Res publica litterarum</i> 11 (1988) 271&ndash;322.

</li>

<li>
SC243.&para;*10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3145_anchor">Silius Italicus [1st cent.]
</a>
<br>
<strong><i>Punica</i></strong>
pr. Rome [1471] (Goff S503), &amp;c.; ed. J. Delz, Teubner (1987).

</li>

<li>
SC243.&para;*10<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2591_anchor">Petrus Marsus [1442&ndash;1512]
</a>
<br>
<strong>Commentary on Silius Italicus's <i>Punica</i></strong>
pr. with the poem, 
Venice 1483 (<i>Bod-inc</i> S201), &amp;c.

</li>

<li>
SC243.?*11 (`Aristotiles'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong>miscellaneous works
</strong>
</li>

<li>
SC243.&para;*12 (`Antonius Sabellicus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2161_anchor">Marcus Antonius Coccius Sabellicus [?1436&ndash;1506]
</a>
<br>
<strong><i>Decades rerum Venetiarum</i></strong>
pr. Venice 1487 (Goff S5).

</li>

<li>
SC243.&para;*13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Catena aurea in quatuor euangelia</i></strong>
ed. A. Guarienti
(Turin 1953); Stegm&uuml;ller <i>Bibl.</i> 8044&ndash;7; Glorieux <i>R&eacute;p.</i> 14ae, 14ak,
14ap, 14aq.

</li>

<li>
SC243.&para;*14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/#entry2794_anchor">M. Fabius Quintilianus [&dagger; <i>c</i>100]
</a>
<br>
<strong><i>Institutio oratoria</i></strong>
pr. Rome 1470 (Goff Q24), &amp;c.; ed. M. 
Winterbottom, OCT (1970).

</li>

<li>
SC243.&para;15 (`Suetonius cum commenta'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3244_anchor">C. Suetonius Tranquillus [AD <i>c</i>69&ndash;<i>c</i>140]
</a>
<br>
<strong><i>De uita Caesarum</i></strong>
pr. Rome 1470 (Goff S815), &amp;c.; ed. M. Ihm, 
Teubner (1907). [For the edition by Erasmus, 1518, see <i>Scriptores historiae
Augustae</i>.]

</li>

<li>
SC243.&para;16 (`commentaria'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry545_anchor">C. Iulius Caesar [100&ndash;44 BC]
</a>
<br>
<strong><i>Opera</i>, usually under the title <i>Commentarii</i></strong>
pr. Rome 1469 (<i>GW</i>
5863), &amp;c.

</li>

<li>
SC243.&para;17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1836_anchor">Johannes Reuchlin [1454/5&ndash;1522]
</a>
<br>
<strong><i>De uerbo mirifico</i></strong>
pr. Basel <i>c.</i> 1494 (Goff R154), &amp;c.

</li>

<li>
SC243.&para;*18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry253_anchor">Antoninus Gislandius OP [fl. 1500]
</a>
<br>
<strong><i>Opus aureum . . super euangeliis totius anni</i></strong>
pr. Lyon 1508.

</li>

<li>
SC243.*19 (`Phascalius de corpore et sanguine domini'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2476_anchor">Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</a>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

<li>
SC243.*19<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2555_anchor">Peter the Chanter [&dagger;1197]
</a>
<br>
<strong><i>Distinctiones Abel</i></strong>
part ed. J. B. Pitra, <i>Spicilegium Solesmense</i>
3 (1852&ndash;8) 1&ndash;308 and <i>Analecta sacra Spicilegio Solesmensi parata</i>
2 (1876&ndash;84) 6&ndash;154, 585&ndash;623; Landgraf, 162.

</li>

<li>
SC243.*20 (`equiuoca Alani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry77_anchor">Alanus ab Insula (Alain de Lille) [<i>c.</i> 1128&ndash;1203]
</a>
<br>
<span class="biblio_block">
R. de Lage, <i>Alain de Lille, po&egrave;te du XIIe si&egrave;cle</i> (Paris 1951),
169&ndash;86.
</span>
<br>
<strong><i>Distinctiones theologicae</i></strong>
pr. [Strassburg <i>c.</i> 1474] (<i>GW</i> 488);
<i>PL</i> 210. 685&ndash;1012; R. H. Rouse &amp; M. A. Rouse, `Biblical distinctions in the
thirteenth century',  <i>AHDLMA</i> 41 (1974) 27&ndash;47.

</li>

<li>
SC243.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry990_anchor"><i>Floretum</i>, a Wycliffite compilation of <i>distinctiones</i></a>
unpr.; Bloomfield
0108; A. M. Hudson in <i>JTS</i> new ser. 23 (1972) 65&ndash;81 and 25 (1974) 129&ndash;40.

<br>
</li>

<li>
SC243.&para;23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
4 vols, pr. Paris 1512&ndash;30, [1522] (Adams O280); 
ed. D. Erasmus, Basel 1536 (Adams O283), &amp;c.

</li>

<li>
SC243.&para;24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
SC243.&para;*25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2121_anchor">Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</a>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
SC243.&para;*26 (`Mesue de re medica'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1784_anchor">Iohannes Mesue (Masawaih al-Mardini) [&dagger;1015]
</a>
<br>
<strong><i>Opera medicinalia</i></strong>
pr. [Venice 1471] (Goff M508), [Padua 1471] 
(Goff M509), &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>27 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
