{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/227" title="Winchester College">Winchester College</a>  &gt; List of books in Fromond's Chapel, 30 April 1566</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Winchester College</h2><h3 class="medieval_catalogue_desc">SC346. List of books in Fromond's Chapel, 30 April 1566</h3>
<em>96 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC346.1: 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
SC346.&para;2: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Quaestiones selectae</i>, an abridgement of his <i>Scriptum super 
Sententias</i>, made by Iohannes de Colonia</strong>
pr. [Venice <i>c.</i> 1476&ndash;7] 
(<i>GW</i> 9092).

</li>

<li>
SC346.&para;3: 
<strong>Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</strong>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
SC346.&para;4: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
SC346.&para;6: 
<strong>Heinrich Herpf OFM [&dagger;1478]
</strong>
<br>
<strong><i>Speculum aureum decem praeceptorum Dei</i></strong>
pr. Mainz 1474 (Goff H39), &amp;c.

</li>

<li>
SC346.&para;*7: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Homiliae XXI</i>, ed. Petrus Balbus</strong>
pr. [Brussels] 1479 (Goff J285),
&amp;c. 

</li>

<li>
SC346.&para;8&ndash;10: 
<strong>Antoninus Florentinus (Antonino Pierozzi) OP [1389&ndash;1459], archbishop of 
Florence
</strong>
<br>
<strong><i>Summa moralis</i></strong>
pr. Venice 1477&ndash;80 (<i>GW</i> 2185), &amp;c.; Kaeppeli 239.

</li>

<li>
SC346.11: 
<strong>Pierre Bersuire [<i>c</i>1290&ndash;1362]
</strong>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Repertorium morale siue Dictionarius biblicus</i></strong>
pr. N&uuml;rnberg 1489 
(<i>GW</i> 3866), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 6427.

</li>

<li>
SC346.&para;12: 
<strong><i>Biblia sacra</i> with the <i>Glossa ordinaria</i> and Nicholas of Lyre's 
<i>Postilla</i></strong>
pr. Venice 1495 (<i>GW</i> 4283), &amp;c.; pr. Basel 1506&ndash;8, 6 vols, 
&amp;c.

<br>
</li>

<li>
SC346.&para;12<sup>x</sup>: 
<strong>Matthias Doering OFM [<i>c.</i> 1395&ndash;1469]
</strong>
<br>
<strong><i>Replicae</i> to Paulus de S. Maria's <i>Additiones</i> to Nicholas of Lyre's 
<i>Postilla</i></strong>
pr. Venice 1481 (<i>GW</i> 4286), &amp;c.

</li>

<li>
SC346.*13: 
<strong>Iosephus Flauius [&dagger; after 100]
</strong>
<br>
<strong><i>Antiquitates iudaicae</i> and <i>De bello iudaico</i>, Latin tr.</strong>
pr. 
[Augsburg] 1470 (Goff J481), &amp;c.;  pr. Basel 1524; <i>Antiquitates</i> I&ndash;V, 
ed. F. Blatt, <i>The Latin Josephus</i> (Copenhagen 1958).

</li>

<li>
SC346.&para;*15: 
<strong><i>Biblia sacra</i> with the <i>Glossa ordinaria</i> and Nicholas of Lyre's 
<i>Postilla</i></strong>
pr. Venice 1495 (<i>GW</i> 4283), &amp;c.; pr. Basel 1506&ndash;8, 6 vols, 
&amp;c.

<br>
</li>

<li>
SC346.&para;16: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
SC346.18: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
SC346.&para;19: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Collectio ex opusculis S. Augustini in epistulas Pauli apostoli</i></strong>
 <i>CPL</i> 1360.

</li>

<li>
SC346.&para;20: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
SC346.&para;21a: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
<i>CPG</i> 6600&ndash;6607; pr. Bruges [1479] (<i>GW</i> 8408),
&amp;c.; ed. P. Chevallier, <i>Dionysiaca</i> (Bruges 1937&ndash;50). [The several 
translations are printed concurrently by Chevallier.]

</li>

<li>
SC346.&para;21b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
SC346.&para;21<sup>x</sup>: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
SC346.&para;24: 
<strong>Caesarius of Heisterbach OCist [<i>c</i>1180&ndash;1240]
</strong>
<br>
<strong><i>Dialogus miraculorum</i></strong>
pr. Cologne <i>c.</i> 1473 (<i>GW</i> 5880), &amp;c.; 
ed. J. Strange (Cologne 1851); ed. N. N&ouml;rges &amp; H. Schneider, Fontes 
Christiani 86 (2009). [His unfinished <i>Libri VIII miraculorum</i>, ed. A. Hilka,
<i>Die Wundergeschichten des Caesarius von Heisterbach</i> (Bonn 1937), 15&ndash;122,
was unknown.]

</li>

<li>
SC346.&para;*25: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<span class="biblio_block">
B. Roth, <i>Franz von Mayronis OFM. Sein Leben, seine Werke, seine Lehre 
vom Formalunterschied in Gott</i>, Franziskanische Forschungen 3 (1936);
H. Rossmann, <i>Die Hierarchie der Welt: Gestalt und System des Franz
von Meyronnes OFM mit besonderer Ber&uuml;cksichtigung seiner 
Sch&ouml;pfungslehre</i>, Franziskanische Forschungen 23 (1972).
</span>
<br>
<strong>Commentary on the Lombard's Sentences, sometimes titled <i>Conflatus</i></strong>
 Book I, pr. Treviso 1476 (Goff M90), Basel 1489 (Goff M91), &amp;c.; 
Books I&ndash;IV, ed. Maurice O'Fihely, Venice 1504&ndash;7 &amp;c.; ed. H. Carmelitanus,
Venice 1520; Roth, <i>Franz von Mayronis</i>, 87&ndash;160; Stegm&uuml;ller <i>Sent.</i> 218.

</li>

<li>
SC346.&para;*25<sup>x</sup>: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<strong><i>Quodlibeta</i></strong>
ed. Maurice O'Fihely, with his Sentence Commentary,
Venice 1504&ndash;7; Roth, <i>Franz von Mayronis</i>, 180&ndash;82; Glorieux <i>Quodl.</i> 
2. 89&ndash;90.

</li>

<li>
SC346.&para;*26: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
SC346.&para;*26<sup>x</sup>: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Quodlibet</i></strong>
<i>DSO</i> vols. 25&ndash;6; Glorieux <i>R&eacute;p.</i> 344s; Glorieux 
<i>Quodl.</i> 1. 218&ndash;19, 2. 152.

</li>

<li>
SC346.&para;27: 
<strong>Alexander Carpenter [fl. 1430]
</strong>
<br>
<strong><i>Destructorium uitiorum</i></strong>
pr. Cologne 1480 (<i>GW</i> 865), &amp;c.;
Bloomfield 3612.

</li>

<li>
SC346.&para;*28&ndash;34<sup>x</sup>: 
<strong>Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>De uiribus cordis</i>, tr. Arnold of Villanova</strong>
pr. with Avicenna's
<i>Canon</i>, Padua 1476 (<i>GW</i> 3116), &amp;c.; Thorndike/Kibre 273; Diaz 1608.

</li>

<li>
SC346.&para;28&ndash;34: 
<strong>Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</strong>
<br>
<strong><i>Canon medicinae</i>, tr. Gerard of Cremona</strong>
pr. Milan 1473 (<i>GW</i> 3115,
<i>CIBN</i> A806), [Strassburg, not before 1473] (<i>GW</i> 3114, <i>CIBN</i> A807), &amp;c. 

</li>

<li>
SC346.&para;35: 
<strong>John of Gaddesden [&dagger; by 1349]
</strong>
<br>
<strong><i>Rosa medicinae</i></strong>
pr. Pavia 1492 (Goff J326), &amp;c.; Sharpe, <i>Latin 
Writers</i>, 252&ndash;3; Thorndike/Kibre 552, 577.

</li>

<li>
SC346.&para;36: 
<strong>Iacobus Dondi Paduanus (Jacopo Dondi dall'Orologio) [1290&ndash;1359]
</strong>
<br>
<strong><i>Aggregator</i> (1355)</strong>
pr. [Strassburg <i>c.</i> 1470] (<i>GW</i> 9042), &amp;c.

</li>

<li>
SC346.&para;37a: 
<strong>Matthaeus Silvaticus [fl. 1317&ndash;1337]
</strong>
<br>
<strong><i>Liber pandectarum medicinae</i></strong>
pr. Naples 1474 (Goff S570), &amp;c.; 
Thorndike/Kibre 1225, 1305.

</li>

<li>
SC346.&para;37b: 
<strong>Simon of Genoa [&dagger;1330]
</strong>
<br>
<strong><i>Clauis sanationis</i></strong>
pr. [Ferrara ?1472] (<i>ISTC</i>), &amp;c.; Thorndike/Kibre
230, 466, 1014.

</li>

<li>
SC346.&para;38: 
<strong>Guido de Cauliaco (Gui de Chauliac) [&dagger;1368]
</strong>
<br>
<strong><i>Chirurgia</i></strong>
pr. [L&eacute;rida <i>c.</i> 1479&ndash;80] (<i>ISTC</i>); pr. Venice 1498
(<i>GW</i> 11696), &amp;c.; Wickersheimer, 214&ndash;15, suppl. 95&ndash;6; Thorndike/Kibre
1076, 1301.

</li>

<li>
SC346.&para;38<sup>x</sup>: 
<strong>Bonaventura de Castello (Bonaventura Castelli) [&dagger; by 1351]
</strong>
<br>
<strong><i>De utilitatibus aquae balnei de Porrecta</i></strong>
pr. as <i>Recepta aquae
balnei de Porrecta</i> w. Gentilis Fulginas, [Padua] 1473 (<i>GW</i> 10617), &amp;c.;
Thorndike/Kibre 46.

</li>

<li>
SC346.&para;39: 
<strong>Matthaeus Silvaticus [fl. 1317&ndash;1337]
</strong>
<br>
<strong><i>Liber pandectarum medicinae</i></strong>
pr. Naples 1474 (Goff S570), &amp;c.; 
Thorndike/Kibre 1225, 1305.

</li>

<li>
SC346.*40: 
<strong>Iacobus de Forlivio (Giacomo della Torre) [&dagger;1414]
</strong>
<br>
<span class="biblio_block">
P. Sambin in <i>Quaderni per la storia dell' Universit&agrave; di Padova</i> 1
(1968) 15&ndash;47.
</span>
<br>
<strong>Commentary on Hippocrates's <i>Aphorismi</i></strong>
pr. [Venice] 1473 (<i>IGI</i>
4977), &amp;c.; <i>HL</i> 80&ndash;83.

</li>

<li>
SC346.*41: 
<strong>Petrus de Crescentiis (Pietro de' Crescenzi) [<i>c</i>1233&ndash;<i>c</i>1320]
</strong>
<br>
<strong><i>Ruralia commoda</i></strong>
pr. [Augsburg 1471] (<i>GW</i> 7820), &amp;c.; ed.
W. Richter &amp; R. Richter-Bergmeier (Heidelberg 1995&ndash;8).

</li>

<li>
SC346.46a: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
SC346.46b: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
SC346.&para;48: 
<strong>Alonso D&iacute;az de Montalvo [1405&ndash;1499]
</strong>
<br>
<strong><i>Repertorium quaestionum super Nicholaum de Tudeschis</i>, ed. Ludovicus
de Campis</strong>
pr. Seville 1477 (<i>GW</i> 8302), &amp;c.

</li>

<li>
SC346.&para;50: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
SC346.&para;51: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
SC346.&para;52: 
<strong>William Lyndwood [&dagger;1446]
</strong>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
SC346.&para;53: 
<strong>Albertus de Saxonia [&dagger;1390]
</strong>
<br>
<strong><i>Quaestiones in Aristotelis libros de caelo et mundo</i></strong>
pr. Pavia
1481 (<i>GW</i> 795), &amp;c.; Lohr, 350.

</li>

<li>
SC346.&para;55: 
<strong>Petrus Tartaretus [fl. 1480&ndash;95]
</strong>
<br>
<strong><i>Expositio super textu logices Aristotelis</i></strong>
pr. [Poitiers 1493/4]
(Goff T37), Feiburg 1494 (Goff T38), Paris 1494 (Goff T39), &amp;c.

</li>

<li>
SC346.&para;56: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Libri naturales</i>, tr. Iohannes Argyropulus</strong>
pr. Paris [<i>c.</i> 1513]
(Moreau, 2. 489), &amp;c.

</li>

<li>
SC346.&para;57: 
<strong>Bartholomew the Englishman [&dagger;1250]
</strong>
<br>
<strong><i>De proprietatibus rerum</i></strong>
pr. Frankfurt 1601; H. Meyer, <i>Die
Enzyklop&auml;die des Bartholom&auml;us Anglicus. Untersuchungen zur &Uuml;berlieferungs-
und Rezeptionsgeschichte von De proprietatibus rerum</i> (Munich 2000);
Sharpe, <i>Latin Writers</i>, 69. A collaborative edition is in progress in the
series De diuersis artibus (Turnhout 2007&ndash;).

</li>

<li>
SC346.&para;58: 
<strong>Iohannes Regiomontanus (Johann M&uuml;ller) [1436&ndash;1476]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 11. 348&ndash;52; <i>LexMA</i> 7. 580&ndash;81.
</span>
<br>
<strong><i>Epitome in Almagestum Ptolemaei</i></strong>
pr. Venice 1496 (Goff R111), &amp;c.

</li>

<li>
SC346.&para;59: 
<strong>Thomas Bradwardine [1290&ndash;1349], archbishop of Canterbury
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 244&ndash;6 and 3. xv&ndash;xvi; <i>DSB</i> 2. 390-97.
</span>
<br>
<strong><i>Geometria speculatiua</i></strong>
pr. Paris 1495 (<i>GW</i> 5002), &amp;c.; ed. G.
Molland (Wiesbaden 1989).

</li>

<li>
SC346.&para;60: 
<strong>Alfonso de C&oacute;rdoba []
</strong>
<br>
<strong><i>Tabulae astronomicae Elisabeth Reginae</i></strong>
pr. Venice 1503 (Adams
C2622), Venice 1524 (<i>Index Aureliensis</i>, 1. 371).

</li>

<li>
SC346.&para;*61: 
<strong><i>Tabulae Alphonsi regis</i></strong>
pr. Venice 1483 (<i>GW</i> 1257); ed. E. Poulle 
(Paris 1984); Thorndike/Kibre 1552.

<br>
</li>

<li>
SC346.&para;*61<sup>x</sup>: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>Sophistici elenchi</i></strong>
<i>DSO</i> 2. 1&ndash;80;
Glorieux <i>R&eacute;p.</i> 344e.

</li>

<li>
SC346.&para;63a: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong>Commentary on Aristotle's <i>De interpretatione</i></strong>
<i>STO</i> 1*/1. 3&ndash;92; Glorieux <i>R&eacute;p.</i> 14bs.

</li>

<li>
SC346.&para;63b: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong>Commentary on Aristotle's <i>Analytica posteriora</i></strong>
<i>STO</i> 1*/2. 3&ndash;247; 
Glorieux <i>R&eacute;p.</i> 14ba.

</li>

<li>
SC346.&para;63<sup>x</sup>: 
<strong>Dominicus de Flandria OP [<i>c.</i> 1425&ndash;1479]
</strong>
<br>
<strong><i>Quaestiones super commentaria S. Thomae in libros Posteriorum
Analyticorum</i></strong>
pr. Venice 1496 (Goff T256); pr. Venice 1507, &amp;c.; Lohr, 398&ndash;9;
Kaeppeli 852.

</li>

<li>
SC346.&para;64: 
<strong>Alcabitius (`Abd al-`Aziz bin `Uthman al-Kabisi al-Hasan) [&dagger; <i>c</i>967]
</strong>
<br>
<strong><i>Liber introductorius</i>, tr. John of Seville</strong>
pr. [Modena 1473/4]
(<i>GW</i> 842) Venice 1482 (<i>GW</i> 843), &amp;c.; Carmody, 144&ndash;9; Diaz 977; 
Thorndike/Kibre 1078.

</li>

<li>
SC346.&para;64<sup>x</sup>: 
<strong>Albumasar (Abu Ma`shar Ja`far) [787&ndash;886]
</strong>
<br>
<span class="biblio_block">
D. E. Pingree in <i>DSB</i> 1. 32&ndash;9. 
</span>
<br>
<strong><i>Flores astrorum</i>, tr. John of Seville</strong>
ed. S. Caroti &amp; S.
Zampani (Pisa 1977); Carmody, 92&ndash;4; Thorndike/Kibre 616, 1013.

</li>

<li>
SC346.&para;65: 
<strong>Guido Bonatti OFM [&dagger; <i>c</i>1297]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 11. 603&ndash;608; Weijers, 3. 86&ndash;7.
</span>
<br>
<strong><i>Decem tractatus astronomiae</i></strong>
pr. Augsburg 1491 (<i>GW</i> 4643), &amp;c.; 
Carmody, 172; Weijers, 3. 87.

</li>

<li>
SC346.&para;66: 
<strong>John of Genoa OP [&dagger; after 1286]
</strong>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SC346.&para;67: 
<strong>Ambrosius Calepinus (Ambrogio Calepino) [<i>c</i>1435&ndash;1509]
</strong>
<br>
<strong><i>Dictionum Latinarum et Graecarum interpres</i></strong>
pr. Reggio d'Emilia 
1502 &amp;c.

</li>

<li>
SC346.&Dagger;69: 
<strong>Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</strong>
<br>
<strong>Commentary on the elder Seneca's <i>Declamationes</i></strong>
unpr.; Kaeppeli 3146.

</li>

<li>
SC346.*71: 
<strong>P. Ovidius Naso [43 BC&ndash;AD 17/18]
</strong>
<br>
<strong>Collected works, known as `Ouidius magnus'
</strong>
</li>

<li>
SC346.&para;71<sup>x</sup>: 
<strong>Ausonius [&dagger; <i>c</i>395]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De rosis nascentibus</i></strong>
ed. R. P. H. Green (Oxford 1991), 669&ndash;71.

</li>

<li>
SC346.&para;73: 
<strong>Priscian [fl. 500]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. [Venice] 1470 (Goff P960), &amp;c.

</li>

<li>
SC346.&para;73<sup>x</sup>: 
<strong>Dionysius Periegetes [2nd cent.]
</strong>
<br>
<strong><i>Periegesis</i>, tr. Priscian</strong>
<i>CPL</i> 1554.

</li>

<li>
SC346.&para;*74: 
<strong>Ambrosius Calepinus (Ambrogio Calepino) [<i>c</i>1435&ndash;1509]
</strong>
<br>
<strong><i>Dictionum Latinarum et Graecarum interpres</i></strong>
pr. Reggio d'Emilia 
1502 &amp;c.

</li>

<li>
SC346.&para;75: 
<strong>Franciscus Niger []
</strong>
<br>
<strong><i>Grammatica</i></strong>
pr. Venice 1480 (Goff N226), &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>96 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
