{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K515. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K515: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong>&lt;&gt;, works reported from Pignon, &sect; 114.
</strong>
</li>

<li>
K515.3: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong>Commentary on Wisdom</strong>
pr. [Cologne, not after 1476] (Goff H288), 
&amp;c.; Kaeppeli 3497; Stegm&uuml;ller <i>Bibl.</i> 7416.

</li>

<li>
K515.5: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong>Commentary on Matthew</strong>
not known to survive; Sharpe, <i>Latin Writers</i>,
554.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
