{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/38" title="Bardney">Bardney</a>  &gt; Lincolnshire list, 1528</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Bardney</h2><h3 class="medieval_catalogue_desc">B5. Lincolnshire list, 1528</h3>
<em>17 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/319/"  title="(attrib.), De peccatore et de ratione, & other works: full details of book"  class="link_from_index_to_book">B5.*1</a> = H2.*1290: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2810_anchor">Ralph of Battle OSB [<i>c</i>1040&ndash;1124]
</a>
<br>
<strong>(attrib.), <i>De peccatore et de ratione</i>, &amp; other works</strong>
unpr.; Sharpe, 
<i>Latin Writers</i>, 444. The author identifies himself only as `Rodulfus 
monachus'.

</li>

<li>
B5.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Pauline Epistles (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 1301&ndash;1696,
<i>PL</i> 192. 9&ndash;520; Stegm&uuml;ller <i>Bibl.</i> 6654&ndash;68.

</li>

<li>
B5.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3286_anchor">Tertullian [&dagger; <i>c</i>220]
</a>
<br>
<strong>Commentary on Gospels</strong>
not known to survive.

</li>

<li>
B5.4 (`Petrus Amfulsus de contemptu mundi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2525_anchor">Petrus Alfonsi [early 12th cent.]
</a>
<br>
<strong><i>De disciplina clericali</i></strong>
<i>PL</i> 157. 671&ndash;706; ed. A. Hilka
&amp; W. S&ouml;derhjelm (Helsinki / Heidelberg 1911); Diaz 892.

</li>

<li>
B5.5 = B6.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
B5.&dagger;6 (`sententie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>Miscellanea</i></strong>
<i>PL</i> 177. 469&ndash;900; Goy, 452&ndash;7. [The collection reprinted
by Migne did not circulate as such in manuscript; its components, many of
them not Hugh's work, travelled separately.]

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/320/"  title="Sententiarum libri IV: full details of book"  class="link_from_index_to_book">B5.*7</a> = H2.*784: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/321/"  title="Distinctiones theologicae: full details of book"  class="link_from_index_to_book">B5.*8</a> = H2.*683: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Distinctiones theologicae</i></strong>
unpr. apart from excerpts in Goering,
<i>William de Montibus</i>, 261&ndash;303; Stegm&uuml;ller <i>Bibl.</i> 2993&ndash;5; Bloomfield 0159, 0478.

</li>

<li>
B5.9 (`de archa ecclesie et de archa matris nostre'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>De arca Noe morali et mystica</i></strong>
<i>PL</i> 176. 617&ndash;80, 681&ndash;704; ed. 
P. Sicard, <i>CCCM</i> 176 (2001); Goy, 212&ndash;37, 237&ndash;45.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/318/"  title="De institutione inclusarum: full details of book"  class="link_from_index_to_book">B5.*10<sup>x</sup></a> = H2.*901<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De institutione inclusarum</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 637&ndash;82;
Hoste, 75&ndash;80. The last part of the text (&sect;&sect;29&ndash;32) circulated under the title
<i>Meditationes</i>.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/318/"  title=": full details of book"  class="link_from_index_to_book">B5.10</a> (`Vita anachoritarum utriusque sexus') = H2.*901: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry211_anchor"><i>Ancrene Riwle</i>, Latin tr.</a>
ed. C. D'Evelyn, EETS 216 (1944).

<br>
</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/322/"  title="Chronica pontificum et imperatorum: full details of book"  class="link_from_index_to_book">B5.*11</a> = H2.*658a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2193_anchor">Martin of Troppau OP [&dagger;1278]
</a>
<br>
<strong><i>Chronica pontificum et imperatorum</i></strong>
ed. L. Weiland, MGH <i>Scriptores</i> 
22 (1872), 377&ndash;482; Kaeppeli 2974; A. D. von den Brincken in <i>Deutsches 
Archiv</i> 41 (1985) 460&ndash;531. [On the work's reception in England see 
W. V. Ikas in <i>EHR</i> 116 (2001) 327-41 and at greater length, <i>Fortsetzungen
zur Papst- und Kaiserchronik Martins von Troppau aus England</i>, MGH (Hannover
2004).]

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/322/"  title="Viridarium consolationis de uirtutibus et uitiis: full details of book"  class="link_from_index_to_book">B5.*11<sup>x</sup></a> = H2.*658<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1455_anchor">Iacobus Beneventanus OP [&dagger; after 1271]
</a>
<br>
<strong><i>Viridarium consolationis de uirtutibus et uitiis</i></strong>
 pr. in <i>Bibliotheca Casinensis</i> (1873&ndash;94), 4. 263&ndash;315; Bloomfield 5058; 
Kaeppeli 2052.

</li>

<li>
B5.&dagger;12 (`historia regis Macedonum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2819_anchor">Ralph Gubiun OSB [&dagger;1151]
</a>
<br>
<strong>(attrib.), <i>Historia Alexandri Macedonis</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 448. 

</li>

<li>
B5.13 (`libellus Fulcherii de captione Jerusalem'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1042_anchor">Fulcher of Chartres [<i>c</i>1059&ndash;1127/8]
</a>
<br>
<strong><i>Historia Hierosolymitana</i></strong>
ed. H. Hagenmeyer (Heidelberg 1913); 
ed. S. de Sandoli, <i>Itinera Hierosolymitana Crucesignorum</i> (Jerusalem
1978), 1. 95&ndash;130.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>17 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
