{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Corpus Christi College</h2><h3>UO30. List of Grocyn's books sold to John Clamond, ?1521</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO30.*1: 
<strong>Plotinus [205&ndash;269/70]
</strong>
<br>
<strong>$sp$$'Enne&aacute;des$rm$$</strong>
pr. Basel 1580; ed. P. Henry &amp; H. R. Schwyzer,
OCT (1964&ndash;82); <i>CTC</i> 7. 57&ndash;60.

</li>

<li>
UO30.*2: 
<strong>Damascius Damascenus [<i>c.</i> 458&ndash;after 538]
</strong>
<br>
<strong>$sp$$Per&igrave; tw^n pr&wacute;twn a'rcw^n$rm$$</strong>
ed. L. G. Westerink (Paris
1986&ndash;91).

</li>

<li>
UO30.*2<sup>x</sup>: 
<strong>Damascius Damascenus [<i>c.</i> 458&ndash;after 538]
</strong>
<br>
<strong>Commentary on Plato's Parmenides</strong>
ed. L. G. Westerink &amp; J. Combes
(Paris 1997).

</li>

<li>
UO30.*2<sup>x</sup>: 
<strong>Plato [429&ndash;347 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Definitiones</i>, Greek text</strong>
ed. J. Souilh&eacute;, <i>Platon. Oeuvres
compl&egrave;tes</i> 13/3 (Paris 1930), 153&ndash;416.

</li>

<li>
UO30.*3: 
<strong>Proclus [410/12&ndash;485]
</strong>
<br>
<strong>Commentary on Plato's <i>Res publica</i>, Greek text</strong>
ed. G. Kroll, Teubner 
(1899&ndash;1901), 1. 5&ndash;296.

</li>

<li>
UO30.*4: 
<strong>Proclus [410/12&ndash;485]
</strong>
<br>
<strong>Commentary on Plato's <i>Timaeus</i>, Greek text</strong>
ed. E. Diehl, Teubner
(1903&ndash;6).

</li>

<li>
UO30.*5: 
<strong>Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</strong>
<br>
<strong>$sp$$Tetr&aacute;biblos$rm$$</strong>
ed. W. Huebner, Teubner (1998).

</li>

<li>
UO30.*6: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>Opera</i>, Greek text</strong>
<i>CPG</i> 6600&ndash;6607; ed. Chevallier, <i>Dionysiaca</i>
(Bruges 1937&ndash;50); ed. G. Heil, A. M. Ritter, B. R. Suchla (Berlin 1990&ndash;91).

</li>

<li>
UO30.*7: 
<strong>Simplicius [6th cent.]
</strong>
<br>
<strong>Commentary on Aristotle's <i>De caelo</i>, Greek text</strong>
pr. Venice 1526 
(Adams A1785); ed. J. L. Heiberg, Commentaria in Aristotelem Graeca 7 
(Berlin 1894).

</li>

<li>
UO30.*8: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong>$sp$$Fusik&hgrave; a'kr&oacute;asis$rm$$</strong>
 
</li>

<li>
UO30.*9: 
<strong>Eustratius [fl. 1082&ndash;1114]
</strong>
<br>
<strong>(&amp; others), Commentary on Aristotle's <i>Ethica</i>, Greek text</strong>
ed. G.
Heylbut, <i>Eustratii et Michaelis et anonyma in Ethica Nicomachea
commentaria</i> (Berlin 1892).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
