{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Burden Hostel</h2><h3 class="medieval_catalogue_desc">UC8. List of canon and civil law books, 1529</h3>
<em>32 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC8.&para;1: 
<strong>Iohannes de Imola [&dagger;1436]
</strong>
<br>
<strong><i>Lectura in primam et secundam partem Digesti noui</i></strong>
pr. Venice 
1497&ndash;8 (<i>IGI</i> 5287); Savigny, 6. 279.

</li>

<li>
UC8.&para;2: 
<strong>Cinus of Pistoia [<i>c</i>1270&ndash;1336]
</strong>
<br>
<strong><i>Lectura in Codice</i></strong>
pr. Strassburg <i>c.</i> 1475 (<i>GW</i> 7045), &amp;c.

</li>

<li>
UC8.&para;3: 
<strong>Felinus Sandeus (Felino Maria Sandeo) [1444&ndash;1503]
</strong>
<br>
<span class="biblio_block">
G. Arrighi, <i>Felino Sandei (1444&ndash;1503), Canonista e Umanista</i>,
Accademia Lucchese di scienze lettore e arti, Studi e testi 23 (Lucca
1987).
</span>
<br>
<strong><i>Super Decretales</i></strong>
pr. Venice 1497&ndash;9 (Goff S142); Schulte, 2. 351.
But perhaps more likely the collection printed as commentary on the five 
books, ed. Jacques Mareshcal, [?Lyon 1513].

</li>

<li>
UC8.&para;4: 
<strong>Franciscus de Zabarellis (Francesco Zabarella) [1360&ndash;1417]
</strong>
<br>
<strong><i>Lectura super Constitutiones Clementinas</i></strong>
pr. [Rome <i>c.</i> 1468&ndash;9]
(Goff Z2), &amp;c.; Schulte, 2. 284.

</li>

<li>
UC8.&para;5: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 6. 640&ndash;69.
</span>
<br>
<strong><i>Lectura super corpus iuris ciuilis</i>, comprising his commentaries
on Justinian's <i>Codex</i> and the whole of the Digest</strong>
pr. Lyon 1481/2 
(<i>GW</i> 3474), &amp;c.

</li>

<li>
UC8.&para;6: 
<strong>Vivianus Tuscus [13th cent.]
</strong>
<br>
<strong><i>Casus longi</i> on Justinian's <i>Codex</i>, <i>Digestum uetus</i>, and
<i>Inforciatum</i></strong>
pr. in three volumes, [Freiburg <i>c.</i> 1494] (Goff T558,
T560, T562); pr. in three volumes, [Lyon 1490&ndash;97] (<i>CIBN</i> T408&ndash;410, 
Goff T559, T561).

</li>

<li>
UC8.&para;7a: 
<strong>Martin of Troppau OP [&dagger;1278]
</strong>
<br>
<strong><i>Margarita Decreti</i></strong>
pr. [Cologne] 1481 (<i>CIBN</i> M177), &amp;c.; 
Kaeppeli 2973.

</li>

<li>
UC8.&para;7b: 
<strong>Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</strong>
<br>
<strong><i>Quaestiones mercuriales super regulis iuris</i></strong>
pr. Rome [1472] 
(<i>GW</i> 1734), &amp;c.

</li>

<li>
UC8.&para;8: 
<strong>Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</strong>
<br>
<strong><i>Consilia</i></strong>
pr. as <i>Consiliorum partes V</i>, Venice 1491 (Goff
U21), &amp;c.

</li>

<li>
UC8.&para;9: 
<strong>Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</strong>
<br>
<strong><i>Lectura super I et II Decretalium</i></strong>
pr. Milan 1476&ndash;8 (Goff
U23), &amp;c.; pr. Venice 1585; Schulte, 2. 276.

</li>

<li>
UC8.&para;10: 
<strong>Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</strong>
<br>
<strong><i>Lectura super I&ndash;IX Codicis</i></strong>
pr. in one volume, [Venice
1480&ndash;81] (Goff U19), &amp;c. Individual books were also printed separately;
see V. Colli, `Incunabula operum Baldi de Ubaldis', <i>Ius commune</i> 26 (1999)
241&ndash;97.

</li>

<li>
UC8.&para;11: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
UC8.&para;12: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UC8.&para;13: 
<strong>William Lyndwood [&dagger;1446]
</strong>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
UC8.&para;14: 
<strong>Iohannes de Imola [&dagger;1436]
</strong>
<br>
<strong><i>In Clementinas opus</i></strong>
pr. Rome 1474 (Hain 9142), &amp;c.; Schulte, 2. 298.

</li>

<li>
UC8.&para;15: 
<strong>Franciscus de Accoltis [<i>c</i>1416&ndash;1488]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 1. 104&ndash;105.
</span>
<br>
<strong><i>Lectura super prima parte Codicis</i></strong>
pr. Pavia 1502; Savigny, 6. 
338.

</li>

<li>
UC8.&para;16: 
<strong>Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</strong>
<br>
<strong><i>Lectura super prima et secunda parte Codicis</i></strong>
pr. Venice 1485 
(Hain 15318), Venice 1489&ndash;90  (Hain 15313), &amp;c.; A. Sabbatani, <i>De vita 
et operibus Alexandri Tartagni de Imola</i> (Milan 1972), 124.

</li>

<li>
UC8.&para;17: 
<strong>Raphael Fulgosus []
</strong>
<br>
<strong><i>Consilia</i></strong>
pr. with those of Raphael de Raymundis, Brescia
1490 (<i>CIBN</i> R20), &amp;c.; Savigny, 6. 276.

</li>

<li>
UC8.&para;18: 
<strong>Philippus Decius [1454&ndash;1535]
</strong>
<br>
<strong><i>Consilia</i></strong>
pr. Lyon 1519 (Adams D192), &amp;c.; Savigny, 6. 395&ndash;6.

</li>

<li>
UC8.&para;19: 
<strong>Petrus de Anchorano [<i>c</i>1330&ndash;1416]
</strong>
<br>
<strong>unspecified works
</strong>
</li>

<li>
UC8.&para;20: 
<strong>Iacobus Alvarotus [1385&ndash;1453]
</strong>
<br>
<strong><i>Lectura in Vsus feudorum</i></strong>
pr. Venice 1477 (<i>GW</i> 1589), &amp;c.;
Savigny, 6. 479.

</li>

<li>
UC8.21: 
<strong>Henry Bohic [&dagger; after 1350]
</strong>
<br>
<strong><i>Distinctiones in libros V Decretalium</i></strong>
pr. Lyon 1498 (<i>GW</i> 
4964), &amp;c.; Schulte, 2. 266&ndash;70.

</li>

<li>
UC8.&para;22: 
<strong>Angelus de Gambilionibus (Angelo Gambiglioni) [&dagger; <i>c</i>1461]
</strong>
<br>
<span class="biblio_block">
D. &amp; P. Maffei, <i>Angelo Gambiglioni giureconsulto aretino del quattrocento.
La vita, i libri, le opere</i>, Biblioteca della Rivista di storia del diritto
italiano 34 (Rome 1994).
</span>
<br>
<strong><i>Lectura super prima parte Institutionum</i></strong>
pr. separately, Perugia 
1482 (<i>GW</i> 10498), &amp;c.; Schulte, 2. 365.

</li>

<li>
UC8.&para;23: 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UC8.&para;&dagger;25: 
<strong>Iohannes de Imola [&dagger;1436]
</strong>
<br>
<strong><i>Repetitio de iure iurando</i> [X 2. 24. 28]</strong>
pr. Bologna 1476 
(Goff J348), &amp;c.; Savigny, 6. 280.

</li>

<li>
UC8.&para;26: 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong><i>Speculum iudiciale</i></strong>
pr. Strassburg 1473 (<i>GW</i> 9148), &amp;c.; 
Schulte, 2. 148&ndash;52; Lange, 2. 483&ndash;6.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
