{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC135. Will of Henry Hornby, 10 December 1517; various</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC135.&para;2: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
UC135.&para;2: 
<strong>Thomas Waleys OP [&dagger;1350]
</strong>
<br>
<strong>Commentary on Augustine's <i>De ciuitate Dei</i> I&ndash;X 29</strong>
pr. [Strassburg 
<i>c.</i> 1468] (<i>GW</i> 2883), Mainz 1473, &amp;c.; Kaeppeli 3891; Sharpe, <i>Latin 
Writers</i>, 685. In the printed editions the text is completed with the 
latter part of Nicholas Trevet's commentary.

</li>

<li>
UC135.&para;3: 
<strong><i>Biblia sacra</i> with the <i>Glossa ordinaria</i> and Nicholas of Lyre's 
<i>Postilla</i></strong>
pr. Venice 1495 (<i>GW</i> 4283), &amp;c.; pr. Basel 1506&ndash;8, 6 vols, 
&amp;c.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
