{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K405. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K405.2: 
<strong>Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</strong>
<br>
<strong>Commentary on Genesis&ndash;Numbers</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 6057, 
6124&ndash;7.

</li>

<li>
K405.3: 
<strong>Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</strong>
<br>
[<i>dub.</i>]
<strong>`De libro uitae'</strong>
unidentified.

</li>

<li>
K405.4: 
<strong>Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</strong>
<br>
[<i>dub.</i>]
<strong>`De onere Philistiim'</strong>
unidentified.

</li>

<li>
K405.5: 
<strong>Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</strong>
<br>
[<i>dub.</i>]
<strong>`Liber partium'</strong>
unidentified.

</li>

<li>
K405.6: 
<strong>Odo of Cluny OSB [<i>c</i>879&ndash;942], abbot of Cluny
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>PL</i> 133. 517&ndash;638.

</li>

<li>
K405.7: 
<strong>Ado of Vienne [&dagger;875], archbishop of Vienne
</strong>
<br>
<strong><i>Chronicon siue Breuiarium de sex mundi aetatibus</i></strong>
<i>PL</i> 123. 23&ndash;138.

</li>

<li>
K405.8: 
<strong>Odo of Morimond OCist [&dagger;1161]
</strong>
<br>
<span class="biblio_block">
<i>DS</i> 11. 624&ndash;7.
</span>
<br>
<strong><i>Analytica ternarii</i>, the final part of his <i>Analytica</i>, which 
circulated separately</strong>
ed. H. Lange, <i>CIMA</i> 69 (1999); <i>DS</i> 11. 624&ndash;7.

</li>

<li>
K405.&lt;&gt;9: 
<strong>Odo of Cluny OSB [<i>c</i>879&ndash;942], abbot of Cluny
</strong>
<br>
<strong><i>Epitome Moralium S. Gregorii in Iob</i></strong>
<i>PL</i> 133. 107&ndash;512; Stegm&uuml;ller
<i>Bibl.</i> 6118.

</li>

<li>
K405.10: 
<strong>Odo of Cluny OSB [<i>c</i>879&ndash;942], abbot of Cluny
</strong>
<br>
<strong><i>Sermo in festo S. Benedicti</i></strong>
<i>PL</i> 133. 721&ndash;9.

</li>

<li>
K405.&Dagger;12: 
<strong>Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</strong>
<br>
<strong><i>Sermones</i></strong>
ed. C. de Clercq (Brussels 1983); Schneyer <i>Rep.</i> 4. 
392&ndash;4.  [See also entries under Odo of Cheriton.]

</li>

<li>
K405.&Dagger;12: 
<strong>Odo of Cheriton [&dagger;1247]
</strong>
<br>
<strong><i>Sermones</i></strong>
part pr. as <i>Flores sermonum</i>, Paris 1520 (Shaaber O39); 
Schneyer <i>Rep.</i> 4. 483&ndash;499.

</li>

<li>
K405.13: 
<strong>Odo of Cluny OSB [<i>c</i>879&ndash;942], abbot of Cluny
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Dialogus de musica</i></strong>
<i>PL</i> 133. 757&ndash;96; on authorship, see M. Huglo in <i>Revue de musicologie</i> 55 (1969) 119&ndash;71.

</li>

<li>
K405.14: 
<strong>Odo of Cheriton [&dagger;1247]
</strong>
<br>
<strong><i>Summa de poenitentia</i></strong>
unpr.; Bloomfield 3871.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
