{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; Corpus Christi College</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Corpus Christi College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO24"  title="View details of catalogue UO24">UO24 List of books belonging to John Claymond, early 16th cent. (139)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO25"  title="View details of catalogue UO25">UO25 Inventory of books formerly belonging to William Grocyn, in or soon after 1520 (125)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO26"  title="View details of catalogue UO26">UO26 List of select books formerly belonging to William Grocyn, in or soon after 1520 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO27"  title="View details of catalogue UO27">UO27 List of Grocyn's books in alphabetical order of authors, in or soon after 1520 (10)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO28"  title="View details of catalogue UO28">UO28 List of Grocyn's books, divided into manuscript and printed, in or soon after 1520 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
UO29 Select list of books formerly owned by Grocyn, intended for donation, in or soon after 1520 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO30"  title="View details of catalogue UO30">UO30 List of Grocyn's books sold to John Clamond, ?1521 (11)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO31"  title="View details of catalogue UO31">UO31 List of Grocyn's Greek books, bought by John Claymond, in or soon after 1520 (30)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO32"  title="View details of catalogue UO32">UO32 List of Grocyn's books in Greek, in or soon after 1520 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO33"  title="View details of catalogue UO33">UO33 Catalogue of the Library, 1589 (473)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>10 catalogues found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
