{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K205. Catalogus, c. 1360</h3>
<em>1 identified entry found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K205.1 (&mdash;): 
<strong>Gregory [late 13th or 14th cent.]
</strong>
<br>
<strong><i>De musica</i></strong>
ed. M. Hochadel, <i>Commentum Oxoniense in musicam Boethii</i>,
Ver&ouml;ffentlichungen der Musikhistorischen Kommission 16 (Munich 2002),
413&ndash;33; Bale, <i>Index</i>, 98. Two quotations from Gregory's treatise are 
found among other excerpts in Bodl. MS 240 (s. xiv, Bury St Edmunds), 
pp. 894&ndash;8.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>1 identified entry found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
