{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K559. Catalogus, c. 1360</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K559.1: 
<strong>Servius (Maurus Servius Honoratus) [fl. 400]
</strong>
<br>
<strong>Commentary on Virgil's Eclogues</strong>
ed. G. Thilo &amp; H. Hagen, Teubner
(1881&ndash;7), 3/1. 1&ndash;127.

</li>

<li>
K559.2: 
<strong>Servius (Maurus Servius Honoratus) [fl. 400]
</strong>
<br>
<strong>Commentary on Virgil's Georgics</strong>
ed. G. Thilo &amp; H. Hagen, Teubner
(1881&ndash;7), 3/1. 128&ndash;360.

</li>

<li>
K559.3: 
<strong>Servius (Maurus Servius Honoratus) [fl. 400]
</strong>
<br>
<strong>Commentary on Virgil</strong>
pr. with Virgil, Venice 1475/6 (<i>Bod-Inc</i> V-087), 
&amp;c.; ed. G. Thilo &amp; H. Hagen, Teubner (1881&ndash;7). The edition begun by E. K. 
Rand (Cambridge, MA, 1946&ndash;65) covers only Books I&ndash;V.

</li>

<li>
K559.4: 
<strong>Servius (Maurus Servius Honoratus) [fl. 400]
</strong>
<br>
<strong><i>De finalibus syllabis</i></strong>
<i>GL</i> 4. 449&ndash;55.

</li>

<li>
K559.5: 
<strong>Servius (Maurus Servius Honoratus) [fl. 400]
</strong>
<br>
<strong><i>De centum metris</i></strong>
<i>GL</i> 4. 456&ndash;67.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
