{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC128. Will of John Geffray, 31 October 1479; King's</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC128.1: 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UC128.2: 
<strong>Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</strong>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
UC128.3: 
<strong>Iohannes Gaufridi [&dagger; <i>c</i>1360]
</strong>
<br>
<span class="biblio_block">
<i>HLF</i> 38 (1938) 522&ndash;31; <i>DDC</i> 6. 106&ndash;107.
</span>
<br>
<strong><i>Collectarium iuris</i></strong>
pr. Lyon 1514. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
