{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/201" title="London, St Peter-upon-Cornhill">London, St Peter-upon-Cornhill</a>  &gt; Leland, autumn 1534 &times; spring 1535</p><h2>SECULAR INSTITUTIONS: Secular Colleges: London, St Peter-upon-Cornhill</h2><h3 class="medieval_catalogue_desc">SC268. Leland, autumn 1534 &times; spring 1535</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC268.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2339_anchor">Nicholas de Gorran OP [&dagger; <i>c</i>1295]
</a>
<br>
<strong><i>Distinctiones theologicae</i></strong>
unpr.; Kaeppeli 3090; Bloomfield 0062.

</li>

<li>
SC268.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2964_anchor">Robert Cowton OFM [&dagger; after 1313]
</a>
<br>
<strong><i>Lectura super Sententias</i></strong>
largely unpr.; Sharpe, <i>Latin
Writers</i>, 531&ndash;2; Stegm&uuml;ller <i>Sent.</i> 732.

</li>

<li>
SC268.3 (`summa Fauentini super decreta'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1681_anchor">Iohannes Faventinus [&dagger;1187]
</a>
<br>
<strong><i>Summa super Decreta</i></strong>
unpr.; Schulte, 1. 137&ndash;40; Kuttner, 143&ndash;6. See 
note on B79.205a.

</li>

<li>
SC268.4 UO9.17,UO22.*12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong>Commentary on the Minor Prophets</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7423;
Kaeppeli 3948; Sharpe, <i>Latin Writers</i>, 554.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
