{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/187" title="Eton College">Eton College</a>  &gt; Bequest by John Mower, 12 April 1489</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Eton College</h2><h3 class="medieval_catalogue_desc">SC233. Bequest by John Mower, 12 April 1489</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC233.*1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
SC233.*1<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De uita et moribus clericorum suorum</i> (<i>serm.</i> 355&ndash;6)</strong>
<i>CPL</i> 284; 
<i>PL</i> 39. 1568&ndash;81.

</li>

<li>
SC233.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
SC233.*3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Sermones de uerbis Domini et apostoli</i>, a common grouping of 
ninety-nine sermons on the Gospels and Epistles</strong>
analysis and list of 
manuscripts by P. P. Verbraken in <i>RB</i> 77 (1967) 27&ndash;46; L. De Coninck,
<i>La tradition manuscrite du recueil De uerbis Domini jusqu'au XIIe 
si&egrave;cle</i> (Turnhout 2006). Most English copies lack the last ten sermons, 
R&ouml;mer, 2/1. 350&ndash;53. 

</li>

<li>
SC233.*3<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De essentia Dei</i> (<i>ep. supp.</i> 14)</strong>
<i>PL</i> 42. 1199&ndash;1208; Lambert 314.

</li>

<li>
SC233.4 (`Rabanum ad Lodowicum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1398_anchor">Hrabanus Maurus [&dagger;856]
</a>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Maccabees</strong>
<i>PL</i> 109. 1125&ndash;1256; Stegm&uuml;ller <i>Bibl.</i> 
7058&ndash;9.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
