{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/209" title="Pleshey">Pleshey</a>  &gt; Inventory of goods, 10 January 1528</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Pleshey</h2><h3 class="medieval_catalogue_desc">SC283. Inventory of goods, 10 January 1528</h3>
<em>72 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC283.&para;2: 
<strong>Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</strong>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
SC283.&para;3: 
<strong>Alexander Carpenter [fl. 1430]
</strong>
<br>
<strong><i>Destructorium uitiorum</i></strong>
pr. Cologne 1480 (<i>GW</i> 865), &amp;c.;
Bloomfield 3612.

</li>

<li>
SC283.&para;4: 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in Psalmos</i>, circulating separately</strong>
pr. Paris 1483
&amp;c.; Glorieux <i>R&eacute;p.</i> 345f<sup>22</sup>.

</li>

<li>
SC283.&dagger;6: 
<strong>Willelmus de Pagula [early 14th cent.]
</strong>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

<li>
SC283.7: 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
SC283.&para;8: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong>Gloss on the Psalms (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 55&ndash;1296;
Stegm&uuml;ller <i>Bibl.</i> 6637.

</li>

<li>
SC283.&dagger;9: 
<strong>Ranulf Higden OSB [&dagger;1364]
</strong>
<br>
<strong><i>Ars conponendi sermones</i></strong>
ed. M. Jennings, Davis Medieval
Texts and Studies 6 (Leiden 1991).

</li>

<li>
SC283.10: 
<strong>Gregory of Elvira [&dagger; after 392], bishop of Elvira
</strong>
<br>
<strong>(attrib.), <i>De fide catholica</i></strong>
<i>CPL</i> 554; ed. V.
Bulhart, <i>CCSL</i> 69 (1967) 271&ndash;2; Lambert 315.

</li>

<li>
SC283.11a: 
<strong>Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong><i>De regimine principum</i></strong>
pr. Augsburg 1473 (<i>GW</i> 7217), &amp;c.; 
pr. Rome 1556 / repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400q; 
Bloomfield 2051.

</li>

<li>
SC283.12: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones de uerbis Domini et apostoli</i>, a common grouping of 
ninety-nine sermons on the Gospels and Epistles</strong>
analysis and list of 
manuscripts by P. P. Verbraken in <i>RB</i> 77 (1967) 27&ndash;46; L. De Coninck,
<i>La tradition manuscrite du recueil De uerbis Domini jusqu'au XIIe 
si&egrave;cle</i> (Turnhout 2006). Most English copies lack the last ten sermons, 
R&ouml;mer, 2/1. 350&ndash;53. 

</li>

<li>
SC283.*14: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
SC283.*14<sup>x</sup>: 
<strong>Cuthbert [fl. 735], monk of Jarrow
</strong>
<br>
<strong><i>Epistola de obitu Baedae</i></strong>
<i>CPL</i> 1383; <i>BHL</i> 1068.

</li>

<li>
SC283.15: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De ortu et obitu patrum</i></strong>
<i>CPL</i> 1191; ed. C. Chaparro G&oacute;mez (Paris
1985); Diaz 103.

</li>

<li>
SC283.&dagger;16: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones de tempore et de sanctis</i>, a selection of Augustine's
sermons in this liturgical arrangement</strong>
pr. as volumes 6 and 7 of his 
collected sermons, Basel 1494&ndash;5 (<i>GW</i> 2920).

</li>

<li>
SC283.17: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
SC283.18: 
<strong>Willelmus de Pagula [early 14th cent.]
</strong>
<br>
<strong><i>Summa summarum</i></strong>
unpr.; excerpts ed. L. E. Boyle, <i>Proceedings of 
Second Congress of Medieval Canon Law</i> (Vatican City 1965), 415&ndash;56; 
Bloomfield 0234; Sharpe, <i>Latin Writers</i>, 800.

</li>

<li>
SC283.&dagger;19: 
<strong>Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</strong>
<br>
<strong>Commentary on Books I and II of the Lombard's Sentences</strong>
Book I,
pr. Venice 1492 (<i>GW</i> 7206), &amp;c.; Book II, pr. Venice 1482 (<i>GW</i> 7207),
&amp;c.; Stegm&uuml;ller <i>Sent.</i> 43; Glorieux <i>R&eacute;p.</i> 400k, bb. [The commentaries were
completed at long intervals, and a third book ends incomplete at III d. 11, 
Glorieux <i>R&eacute;p.</i> 400bc. The edition by A. de Aguilar covers I&ndash;III (3rd edn, 
C&oacute;rdoba 1699&ndash;1706). A fourth book was printed by Aguilar as the work of 
Giles of Rome (C&oacute;rdoba 1708), but it is not recognized by the repertories.]

</li>

<li>
SC283.20: 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
SC283.*22: 
<strong>Ranulf Higden OSB [&dagger;1364]
</strong>
<br>
<strong><i>Polychronicon</i></strong>
ed. C. Babington &amp; J. R. Lumby, RS 41 (1865&ndash;86); 
J. Taylor, <i>The Universal Chronicle of Ranulf Higden</i> (Oxford 1966).

</li>

<li>
SC283.*22<sup>x</sup>: 
<strong>Ranulf Higden OSB [&dagger;1364]
</strong>
<br>
<strong><i>Ars conponendi sermones</i></strong>
ed. M. Jennings, Davis Medieval
Texts and Studies 6 (Leiden 1991).

</li>

<li>
SC283.&para;23: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Speculum peccatoris</i></strong>
pr. [Speyer <i>c.</i> 1471] (<i>GW</i> 7469), &amp;c.; 
<i>PL</i> 40. 983&ndash;92 (as <i>ps.</i> Augustine); Bloomfield 4918; Lambert 616.

</li>

<li>
SC283.&para;24: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
SC283.25: 
<strong><i>Speculum iuniorum</i></strong>
unpr.; Bloomfield 5103. [For a mistaken identification
of the author as Galienus, see L. E. Boyle, `Three English pastoral <i>summae</i>',
<i>Studia Gratiana</i> 11 (1967) 133&ndash;44.] [See also Simon of Hinton, <i>Summa 
iuniorum</i>.]

<br>
</li>

<li>
SC283.26: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Tabula super Sacram Scripturam</i>, also titled <i>Distinctiones</i></strong>
unpr.;
Stegm&uuml;ller <i>Bibl.</i> 3998,1; Bloomfield 0122.

</li>

<li>
SC283.27: 
<strong>Iohannes de Caulibus OFM [14th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 55. 768&ndash;74.
</span>
<br>
<strong>(attrib.; <i>ps.</i> Bonaventure), <i>Meditationes uitae Christi</i></strong>
pr. Augsburg 
1468 (<i>GW</i> 4739), &amp;c.; ed. A. C. Peltier, <i>Sancti Bonaventurae opera omnia</i> 
(Paris 1864&ndash;71), 12. 509&ndash;630; ed. M. Stallings-Taney, <i>CCCM</i> 153 (1997); 
Distelbrink 166. [The <i>ps.</i> Bonaventure <i>Meditationes passionis Christi</i> are
derived from this work. Stallings's text relies on 14th-cent. manuscripts;
Peltier reprinted a Vatican edition of 1596 that lay at the end of a long
line of revisions; C. M. Stallings-Taney in <i>Franciscan Studies</i> 55 (1998)
253&ndash;80.]

</li>

<li>
SC283.28: 
<strong>William de Lanicea OFM [late 12th cent.]
</strong>
<br>
<strong><i>Dieta salutis</i></strong>
pr. Cologne 1474 (<i>GW</i> 4720), &amp;c.; ed. A. C. Peltier, 
<i>S. Bonaventurae opera omnia</i> (Paris 1864&ndash;71), 8. 247&ndash;347; Distelbrink 124; 
Bloomfield 2301. [The accompanying <i>Themata</i>, ib. 8. 347&ndash;58; Bloomfield 0077.]

</li>

<li>
SC283.29: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XII utilitatibus tribulationis</i></strong>
unpr.; Bloomfield 1302; Sharpe,
<i>Latin Writers</i>, 423. French and English translations were popular. The text 
in <i>PL</i> 207. 989&ndash;1006 is not a true representation of the work. 

</li>

<li>
SC283.30: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
SC283.31: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Templum Domini</i></strong>
ed. J. W. Goering &amp; F. A. C. Mantello (Toronto 1984);
Thomson, <i>Grosseteste</i>, 138&ndash;140; Bloomfield 5982.

</li>

<li>
SC283.32: 
<strong>Hugutio of Pisa [12th cent.]
</strong>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994), 35&ndash;66, dates the
<i>Liber deriuationum</i> to `the decade around 1161' (p. 47), making 
it likely that the author is not to be identified with the jurist
of the same name.
</span>
<br>
<strong><i>Liber deriuationum</i></strong>
ed. E. Cecchini &amp; others (Florence 
2004). [There is a facsimile of Biblioteca Laurenziana, MS Plut. 
XXVII sin. 5 (AD 1236), ed. G. Nencioni (Florence 2000). List 
of manuscripts by A. Marigo, <i>I codici manoscritti delle Deriuationes 
di Uguccione Pisano</i> (Rome 1936).]

</li>

<li>
SC283.&para;35: 
<strong>Andreas Didacus de Escobar OSB [<i>c.</i> 1357&ndash;1427]
</strong>
<br>
<strong><i>Modus confitendi siue Confessio catholicorum generalis</i></strong>
pr. [Rome
1471&ndash;4] (<i>GW</i> 1769), &amp;c.; Bloomfield 4989; Schulte, 2. 440.

</li>

<li>
SC283.&para;36: 
<strong>Leo the Great [<i>sedit</i> 440&ndash;461]
</strong>
<br>
<strong><i>Sermones</i></strong>
<i>CPL</i> 1657&ndash;8; pr. [Rome 1470] (Goff L131), &amp;c.; ed. A. 
Chavasse, <i>CCSL</i> 138, 138A (1973).

</li>

<li>
SC283.37: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
SC283.38: 
<strong>Iohannes de Burgo [&dagger; after 1398]
</strong>
<br>
<strong><i>Pupilla oculi</i></strong>
pr. London 1510 (<i>STC</i> 4115), &amp;c.; Bloomfield 2441; 
Sharpe, <i>Latin Writers</i>, 222.

</li>

<li>
SC283.39: 
<strong>Bartholomew the Englishman [&dagger;1250]
</strong>
<br>
<strong><i>De proprietatibus rerum</i></strong>
pr. Frankfurt 1601; H. Meyer, <i>Die
Enzyklop&auml;die des Bartholom&auml;us Anglicus. Untersuchungen zur &Uuml;berlieferungs-
und Rezeptionsgeschichte von De proprietatibus rerum</i> (Munich 2000);
Sharpe, <i>Latin Writers</i>, 69. A collaborative edition is in progress in the
series De diuersis artibus (Turnhout 2007&ndash;).

</li>

<li>
SC283.40: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>Liber exceptionum</i></strong>
<i>PL</i> 177. 191&ndash;284 (Part I only); ed. J. Ch&acirc;tillon,
Textes philosophiques du moyen &acirc;ge 5 (Paris 1958); Stegm&uuml;ller <i>Bibl.</i> 7317. [Part
II, Books I&ndash;IX, circulated as <i>Allegoriae super V. T.</i>: <i>PL</i> 175. 633&ndash;750;
ed. Ch&acirc;tillon, 213&ndash;373. Books XI&ndash;XIV, <i>Allegoriae super N. T.</i>: <i>PL</i> 175.
751&ndash;924; ed. Ch&acirc;tillon, 439&ndash;517; Stegm&uuml;ller <i>Bibl.</i> 3847&ndash;8 (Hugh), 6573 (Petrus Comestor), 7316 (Richard)]

</li>

<li>
SC283.41: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
SC283.42: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
SC283.45: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>De anima</i>, Latin tr.</strong>
pr. Padua 1472 (<i>GW</i> 2349), &amp;c.; Thorndike/Kibre 
179, 1271. [Versions by James of Venice and William de Moerbeke are planned to 
appear, <i>AL</i> 12/1&ndash;2; 

</li>

<li>
SC283.46: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
SC283.47: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De spiritu et anima</i></strong>
pr, [Lauingen] 1472 (<i>GW</i> 2936), &amp;c.; <i>PL</i> 
40. 779&ndash;832; Bloomfield 4935. [There is no evidence to support the 
attribution of the work to Alcher of Clairvaux; on attibutions, D. Aschoff, 
`Der pseudo-augustinische Traktat <i>De spiritu et anima</i>', <i>Revue des &eacute;tudes 
augustinienne</i> 18 (1972) 293&ndash;4. See also above, Augustine ps. <i>De creatione 
primi hominis</i>, for c. 35.]

</li>

<li>
SC283.48: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
SC283.50: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong>(attrib.), <i>Quaestiones</i> on Aristotle's <i>De anima</i></strong>
<i>DSO</i> 3. 
475&ndash;642; Lohr, 193&ndash;4.

</li>

<li>
SC283.&dagger;51: 
<strong>Richard Rolle [&dagger;1349]
</strong>
<br>
<strong><i>Emendatio uitae</i></strong>
pr. Paris 1510 &amp;c.; ed. N. J. Watson, TMLT 21 (1995),
33&ndash;68; Bloomfield 3191; Allen, <i>Rolle</i>, 230&ndash;45.

</li>

<li>
SC283.&dagger;&para;51: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Regula monachorum ad Eustochium sacram Deo uirginem</i></strong>
<i>CPPM</i> 2. 3663;
<i>PL</i> 30. 391&ndash;426; Lambert 560.

</li>

<li>
SC283.52: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
SC283.53: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>De anima</i>, Latin tr.</strong>
pr. Padua 1472 (<i>GW</i> 2349), &amp;c.; Thorndike/Kibre 
179, 1271. [Versions by James of Venice and William de Moerbeke are planned to 
appear, <i>AL</i> 12/1&ndash;2; 

</li>

<li>
SC283.54: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Opus imperfectum in Matthaeum</i></strong>
<i>CPL</i> 707; J. van Banning, <i>CCSL</i> 87B
(1988); Stegm&uuml;ller <i>Bibl.</i> 4350. [The tradition is largely English, and
this work is much commoner in England than the authentic Homilies on Matthew.]

</li>

<li>
SC283.55: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
SC283.&dagger;56: 
<strong>Peter of Tarentaise OP (later Innocent V) [<i>c</i>1224&ndash;1276, <i>sedit</i> 1276]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Toulouse 1649&ndash;52; 
Stegm&uuml;ller <i>Sent.</i> 690; Kaeppeli 3340.

</li>

<li>
SC283.&Dagger;58: 
<strong>Edmund of Abingdon [&dagger;1240], archbishop of Canterbury
</strong>
<br>
<strong><i>Speculum ecclesiae</i>, Latin tr. from French</strong>
ed. H. P. Forshaw,
<i>Auctores Britannici medii aeui</i> 3 (1973), 29&ndash;111 [odd pages].

</li>

<li>
SC283.&para;59: 
<strong>Paulus de S. Maria (Pablo de Burgos) [<i>c</i>1351&ndash;1435], bishop of Burgos
</strong>
<br>
<strong><i>Scrutinium Scripturarum contra perfidiam Iudaeorum</i></strong>
pr. Strassburg 
1469 (Goff P201), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 6328.

</li>

<li>
SC283.60: 
<strong>William de Lanicea OFM [late 12th cent.]
</strong>
<br>
<strong><i>Dieta salutis</i></strong>
pr. Cologne 1474 (<i>GW</i> 4720), &amp;c.; ed. A. C. Peltier, 
<i>S. Bonaventurae opera omnia</i> (Paris 1864&ndash;71), 8. 247&ndash;347; Distelbrink 124; 
Bloomfield 2301. [The accompanying <i>Themata</i>, ib. 8. 347&ndash;58; Bloomfield 0077.]

</li>

<li>
SC283.&dagger;61: 
<strong>Gregory X (Teobaldo Visconti) [1210&ndash;1276, <i>sedit</i> 1271&ndash;1276]
</strong>
<br>
<strong>Constitutions of Second Council of Lyon (1274)</strong>
ed. Mansi, 24.
81&ndash;108; N. P. Tanner, <i>Decrees of the Ecumenical Councils</i> (London 1990),
1. 303&ndash;331. [The ordinary gloss is by Iohannes Garsias Hispanus.] 

</li>

<li>
SC283.62: 
<strong>John of Freiburg OP [&dagger;1314]
</strong>
<br>
<strong><i>Summa confessorum</i></strong>
pr. Augsburg 1476 (Goff J316), &amp;c.; Schulte, 2.
421&ndash;2; Bloomfield 5256; Kaeppeli 2344. [Published in 1298; anonymous copies
often indistinguishable from the earlier work by Thomas of Chobham.]

</li>

<li>
SC283.&para;63: 
<strong>Nicolaus Falcutius (Niccol&ograve; Falcucci) [&dagger;1411/12]
</strong>
<br>
<strong><i>Sermones medicinales septem</i></strong>
pr. Pavia 1481&ndash;4 (<i>GW</i> 9704), &amp;c. One 
of the published parts is titled <i>De membris spiritualibus</i>.

</li>

<li>
SC283.64: 
<strong>John Waleys OFM [&dagger;1285]
</strong>
<br>
<strong><i>Communiloquium siue Summa collationum ad omne genus hominum</i></strong>
 pr. Lyon 1511, 1r&ndash;139v, &amp;c.; Glorieux <i>Rep.</i> 322a.

</li>

<li>
SC283.65: 
<strong><i>Gesta Romanorum cum applicationibus moralizatis</i></strong>
pr. [Cologne <i>c.</i> 
1473] (<i>GW</i> 10082), &amp;c.; ed. H. Oesterley (Berlin 1872 / repr. Hildesheim 
1963); W. R&ouml;ll in <i>MLJ</i> 21 (1986) 208&ndash;229; B. Weiske, <i>Gesta Romanorum</i> 
(T&uuml;bingen 1992).

<br>
</li>

<li>
SC283.&para;67: 
<strong>Andreas Didacus de Escobar OSB [<i>c.</i> 1357&ndash;1427]
</strong>
<br>
<strong><i>Modus confitendi siue Confessio catholicorum generalis</i></strong>
pr. [Rome
1471&ndash;4] (<i>GW</i> 1769), &amp;c.; Bloomfield 4989; Schulte, 2. 440.

</li>

<li>
SC283.68: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<strong><i>Liber exceptionum</i></strong>
<i>PL</i> 177. 191&ndash;284 (Part I only); ed. J. Ch&acirc;tillon,
Textes philosophiques du moyen &acirc;ge 5 (Paris 1958); Stegm&uuml;ller <i>Bibl.</i> 7317. [Part
II, Books I&ndash;IX, circulated as <i>Allegoriae super V. T.</i>: <i>PL</i> 175. 633&ndash;750;
ed. Ch&acirc;tillon, 213&ndash;373. Books XI&ndash;XIV, <i>Allegoriae super N. T.</i>: <i>PL</i> 175.
751&ndash;924; ed. Ch&acirc;tillon, 439&ndash;517; Stegm&uuml;ller <i>Bibl.</i> 3847&ndash;8 (Hugh), 6573 (Petrus Comestor), 7316 (Richard)]

</li>

<li>
SC283.69: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
SC283.&para;72: 
<strong><i>Regimen sanitatis Salernitanum</i></strong>
ed. Renzi, 5. 1&ndash;104; A. Sinno, <i>Regimen
sanitatis. Flos medicinae scholae Salernitanae</i> (Milan 1987); <i>WIC</i> 1039, 
6849, 18083. [Manuscripts and numerous early editions are listed by
Renzi, 5. 113&ndash;72; G. Giambacorta &amp; A. Giordano, <i>Regimen sanitatis 
Salernitana. Bibliografia</i>, Ars medica antiqua. Bibliografia di medicina
antiqua 1 (Milan 1983).]

<br>
</li>

<li>
SC283.73: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
SC283.75a: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
SC283.75b: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
SC283.&para;78: 
<strong>Matthew of Cracow [&dagger;1410]
</strong>
<br>
<strong>(attrib.), <i>Ars moriendi</i>, inc. `Cum de presenti'</strong>
pr.
Cologne [<i>c.</i> 1474] (<i>GW</i> 2597), &amp;c.

</li>

<li>
SC283.&para;79: 
<strong>Werner Rolewinck [1425&ndash;1502]
</strong>
<br>
<strong><i>Fasciculus temporum</i></strong>
pr. Cologne [1473] (Goff R253), Cologne 1474 
(Goff R254), &amp;c.

</li>

<li>
SC283.81: 
<strong>John of Genoa OP [&dagger; after 1286]
</strong>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SC283.82: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
SC283.&para;103: 
<strong><i>Processionale ad usum ecclesiae Sarisburiensis</i></strong>
pr. London 1501 (<i>STC</i>
16232.6), &amp;c.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>72 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
