{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/H" title="LIBRARIES OF KING HENRY VIII">LIBRARIES OF KING HENRY VIII</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/H/154" title="various">various</a>  &gt; Thomas Berthelet's account, 1541-3</p><h2>LIBRARIES OF KING HENRY VIII: various</h2><h3 class="medieval_catalogue_desc">H3. Thomas Berthelet's account, 1541-3</h3>
<em>50 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
H3.&para;3: 
<strong>Miles Coverdale [1487/88&ndash;1569]
</strong>
<br>
<strong>(as translator), Psalter, in Latin and English</strong>
pr. London 1540 (<i>STC</i>
2368).

</li>

<li>
H3.6a: 
<strong><i>Nouum testamentum latine</i>, edited by Wouter Deleen</strong>
&para;*pr. London 1540
(<i>STC</i> 2799); Sharpe, <i>Latin Writers</i>, 733.

<br>
</li>

<li>
H3.&para;7: 
<strong>Johannes Gymnich [16th cent.]
</strong>
<br>
<strong><i>Enarrationes euangeliorum dominicalium</i></strong>
pr. Paris 1538.

</li>

<li>
H3.&para;8b: 
<strong>Johannes Gymnich [16th cent.]
</strong>
<br>
<strong><i>Enarrationes euangeliorum dominicalium</i></strong>
pr. Paris 1538.

</li>

<li>
H3.12: 
<strong>`Ambrosiaster' [fl. 370]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
<i>CPL</i> 184; ed. H. J. Vogels, <i>CSEL</i>
81 (1966&ndash;9).

</li>

<li>
H3.&para;15 (ditto): 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
H3.&para;?*16: 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
H3.&para;17: 
<strong>Andreas Althamer [<i>c</i>1500&ndash;1539]
</strong>
<br>
<strong><i>Conciliationes locorum Scripturae</i></strong>
pr. [N&uuml;rnberg 1534] (Adams A818),
&amp;c.

</li>

<li>
H3.&para;18 (`opus Zmaragdi'): 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
H3.&para;19b (`summaria'): 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
H3.&para;20b (`summaria'): 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
H3.&para;21b (`summaria'): 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong>Commentary on the Gospels and Epistles</strong>
<i>PL</i> 102. 13&ndash;552; Stegm&uuml;ller
<i>Bibl.</i> 7695.

</li>

<li>
H3.&para;22: 
<strong>Sedulius Scottus  [mid 9th cent.]
</strong>
<br>
<strong><i>Collectaneum in omnes beati Pauli epistolas</i></strong>
pr. Basel
1528 (Adams S855), &amp;c.; <i>PL</i> 103. 9&ndash;270; ed. H. J. Frede &amp; H. Stanjek, 
Vetus Latina. Aus der Geschichte der lateinschen Bibel 31&ndash;32 (Freiburg 
1996&ndash;7); Stegm&uuml;ller <i>Bibl.</i> 7607&ndash;21.

</li>

<li>
H3.23: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong>Gloss on the Pauline Epistles (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 1301&ndash;1696,
<i>PL</i> 192. 9&ndash;520; Stegm&uuml;ller <i>Bibl.</i> 6654&ndash;68.

</li>

<li>
H3.&para;24 (attrib. Bede): 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
H3.&para;25: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Quaestiones super epistolas Pauli</i></strong>
<i>PL</i> 175. 431&ndash;634; Stegm&uuml;ller
<i>Bibl.</i> 3831&ndash;44.

</li>

<li>
H3.&para;26a: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Catena aurea in quatuor euangelia</i></strong>
ed. A. Guarienti
(Turin 1953); Stegm&uuml;ller <i>Bibl.</i> 8044&ndash;7; Glorieux <i>R&eacute;p.</i> 14ae, 14ak,
14ap, 14aq.

</li>

<li>
H3.&para;26b: 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
H3.&para;28: 
<strong>Arnobius Junior [fl. 450]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
<i>CPL</i> 242; ed. K. D. Maur, <i>CCSL</i> 
25 (1990).

</li>

<li>
H3.&para;29 (`Haimo super psalmos'): 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Breuiarium in Psalmos</i></strong>
<i>CPL</i> 629; Lambert 427. [Other works now
identified as Jerome on the Psalms, <i>CPL</i> 592, 593, have a much more 
restricted circulation; their authenticity rests on the arguments of Morin.]

</li>

<li>
H3.&para;30: 
<strong>Iohannes de Turrecremata (Juan de Torquemada) OP [1388&ndash;1468]
</strong>
<br>
<strong><i>Quaestiones euangeliorum de tempore et de sanctis</i></strong>
pr. Rome 1477 (Goff
T544), &amp;c.; Kaeppeli 2735; Stegm&uuml;ller <i>Bibl.</i> 5019,2.

</li>

<li>
H3.&para;31: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
H3.&para;32a: 
<strong>Arnobius Junior [fl. 450]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
<i>CPL</i> 242; ed. K. D. Maur, <i>CCSL</i> 
25 (1990).

</li>

<li>
H3.&para;33a: 
<strong>Arnobius Junior [fl. 450]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
<i>CPL</i> 242; ed. K. D. Maur, <i>CCSL</i> 
25 (1990).

</li>

<li>
H3.&para;37a: 
<strong>Johannes Gymnich [16th cent.]
</strong>
<br>
<strong><i>Enarrationes euangeliorum dominicalium</i></strong>
pr. Paris 1538.

</li>

<li>
H3.&para;37b: 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
H3.&para;39a: 
<strong>Arnobius Junior [fl. 450]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
<i>CPL</i> 242; ed. K. D. Maur, <i>CCSL</i> 
25 (1990).

</li>

<li>
H3.&para;40: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Lectura super Matthaeum</i></strong>
ed. R. Cai (Turin 1951); Stegm&uuml;ller
<i>Bibl.</i> 8048; Glorieux <i>R&eacute;p.</i> 14r.

</li>

<li>
H3.&para;41: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Catena aurea in quatuor euangelia</i></strong>
ed. A. Guarienti
(Turin 1953); Stegm&uuml;ller <i>Bibl.</i> 8044&ndash;7; Glorieux <i>R&eacute;p.</i> 14ae, 14ak,
14ap, 14aq.

</li>

<li>
H3.&para;42 (`postilla Guilelmi &dagger;Pariensis'): 
<strong>Willelmus Parisiensis OP [&dagger; <i>c</i>1485/6]
</strong>
<br>
<strong><i>Postilla siue Expositio epistolarum et euangeliorum</i></strong>
pr. 
[?Germany, not before 1474] (<i>GW</i> 11921, Goff G642), &amp;c. <i>GW</i> records 
over one hundred early editions; these usually carry the attribution to 
Guillelmus, Guillermus, Guillerinus, &amp;c. The work is an elaboration of 
that of Iohannes Herolt (`Discipulus') (Kaeppeli 2393&ndash;4), and its 
authorship is discussed in <i>GW</i> 10. 426&ndash;30.

</li>

<li>
H3.&para;43: 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
H3.&para;43a: 
<strong>Johannes Gymnich [16th cent.]
</strong>
<br>
<strong><i>Enarrationes euangeliorum dominicalium</i></strong>
pr. Paris 1538.

</li>

<li>
H3.&para;44: 
<strong>Arnobius Junior [fl. 450]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
<i>CPL</i> 242; ed. K. D. Maur, <i>CCSL</i> 
25 (1990).

</li>

<li>
H3.&para;45: 
<strong>Jacques Lef&egrave;vre d'&Eacute;taples (Iacobus Faber Stapulensis) [<i>c</i>1455&ndash;1536]
</strong>
<br>
<span class="biblio_block">
E. Amann in <i>DTC</i> 9. 132&ndash;59.
</span>
<br>
<strong><i>Commentarii in epistolas catholicas</i></strong>
pr. Basel 1527 (Adams F10),
&amp;c.; preface, Rice 141.

</li>

<li>
H3.&para;46a: 
<strong>Didymus Caecus of Alexandria [<i>c</i>313&ndash;398]
</strong>
<br>
<strong>Commentary on the Catholic Epistles, tr. Epiphanius Scholasticus</strong>
<i>CPG</i> 
2562; pr. Cologne 1531 &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 2069,7&ndash;13.

</li>

<li>
H3.&para;46b: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Catholic Epistles</strong>
<i>CPL</i> 1362; ed. D. Hurst, <i>CCSL</i> 121 
(1983) 179&ndash;342.

</li>

<li>
H3.&para;47: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Catena aurea in quatuor euangelia</i></strong>
ed. A. Guarienti
(Turin 1953); Stegm&uuml;ller <i>Bibl.</i> 8044&ndash;7; Glorieux <i>R&eacute;p.</i> 14ae, 14ak,
14ap, 14aq.

</li>

<li>
H3.&para;48: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Catena aurea in quatuor euangelia</i></strong>
ed. A. Guarienti
(Turin 1953); Stegm&uuml;ller <i>Bibl.</i> 8044&ndash;7; Glorieux <i>R&eacute;p.</i> 14ae, 14ak,
14ap, 14aq.

</li>

<li>
H3.&para;49a: 
<strong>Denys Ryckel OCarth [1402&ndash;1471]
</strong>
<br>
<strong>Commentary on the Catholic Epistles</strong>
pr. Cologne 1530 &amp;c.; pr. <i>Doctoris
ecstatici D. Dionysii Cartusiani opera omnia</i> (Montreuil/Tournai 1896&ndash;1935),
13.541&ndash;698 and 14. 3&ndash;7; Stegm&uuml;ller <i>Bibl.</i> 2141&ndash;7.

</li>

<li>
H3.&para;49b: 
<strong>Jacques Lef&egrave;vre d'&Eacute;taples (Iacobus Faber Stapulensis) [<i>c</i>1455&ndash;1536]
</strong>
<br>
<strong><i>Commentarii in epistolas catholicas</i></strong>
pr. Basel 1527 (Adams F10),
&amp;c.; preface, Rice 141.

</li>

<li>
H3.&para;50a: 
<strong>Didymus Caecus of Alexandria [<i>c</i>313&ndash;398]
</strong>
<br>
<strong>Commentary on the Catholic Epistles, tr. Epiphanius Scholasticus</strong>
<i>CPG</i> 
2562; pr. Cologne 1531 &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 2069,7&ndash;13.

</li>

<li>
H3.&para;50b: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Catholic Epistles</strong>
<i>CPL</i> 1362; ed. D. Hurst, <i>CCSL</i> 121 
(1983) 179&ndash;342.

</li>

<li>
H3.&para;51a: 
<strong>Johannes Gymnich [16th cent.]
</strong>
<br>
<strong><i>Enarrationes euangeliorum dominicalium</i></strong>
pr. Paris 1538.

</li>

<li>
H3.&para;52: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong>Homilies on Matthew, hom. 1&ndash;8 tr. Annianus with hom. 9&ndash;90 tr. George 
of Trebizond</strong>
<i>CPG</i> 4424; pr. in this form, Basel 1504 &amp;c.; Stegm&uuml;ller 
<i>Bibl.</i> 4348,2.

</li>

<li>
H3.&para;54: 
<strong>Denys Ryckel OCarth [1402&ndash;1471]
</strong>
<br>
<strong>Commentary on the Gospels</strong>
pr. Cologne 1532 &amp;c.; pr. <i>Doctoris 
ecstatici D. Dionysii Cartusiana opera omnia</i> (Montreuil/Tournai 1896&ndash;1935), 
vols. 11&ndash;12; Stegm&uuml;ller <i>Bibl.</i> 2122&ndash;5.

</li>

<li>
H3.&para;83 (5 copies): 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
H3.&para;87 (3 copies): 
<strong><i>The Institution of a Christen Man</i>, known as the Bishop's Book</strong>
ed. C. Lloyd
(Oxford 1825), 21&ndash;211.

<br>
</li>

<li>
H3.&para;111&ndash;13 (72 copies), H5.&para;16: 
<strong>Henry VIII [1491&ndash;1547, <i>regnauit</i> 1509&ndash;1547]
</strong>
<br>
[<i>app.</i>]
<strong><i>A Necessary Doctrine and Erudition for any Christen man</i>, known as 
the King's Book</strong>
ed. T. A. Lacey (London 1932).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>50 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
