{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/BX" title="BENEDICTINES">BENEDICTINES</a>  &gt; Canterbury-St Augustine's</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
BENEDICTINES</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Canterbury-St Augustine's</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BA1"  title="View details of catalogue BA1">BA1 Catalogue, 15th cent. (3686)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BA2 Books noted in additions to Martyrology, late 12th to early 13th cent. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BA3 Books noted by Thomas Sprot and William Thorne, early (?) and late 14th cent. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/BA4"  title="View details of catalogue BA4">BA4 Books borrowed by a monk, later 14th cent. (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BA5 Books noted by Thomas Elmham, 1414 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BA6 Books stolen by John Gaywoode, 1457 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BA7 Select titles noted by Leland, before 30 July 1538 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
BA8 Books noted in Leland's Scriptores, c. 1545 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>8 catalogues found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
