{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3 class="medieval_catalogue_desc">UC115. Will of Thomas Colyer, 1506; various</h3>
<em>24 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC115.&para;1: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Opuscula</i></strong>
there are several early printed collections of
<i>opuscula</i>, among them <i>Opuscula LXX</i>, pr. [southern Netherlands
c. 1488] (Copinger 574); <i>Opuscula LXXI</i>, pr. Venice 1490 (Goff
T258); and <i>Opuscula LXXIII</i>, pr. Venice 1498 (Goff T257). 

</li>

<li>
UC115.&para;2: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1492 (<i>GW</i> 1599), Basel 1506 (Adams A934), &amp;c.

</li>

<li>
UC115.&para;3: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
UC115.&para;4: 
<strong>Giovanni Pico della Mirandola [1443&ndash;1494]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Bologna 1495&ndash;6 (Goff P632), &amp;c.; pr. Basel 1557 / repr.
Hildesheim 1969.

</li>

<li>
UC115.&para;5: 
<strong>Werner Rolewinck [1425&ndash;1502]
</strong>
<br>
<strong><i>Fasciculus temporum</i></strong>
pr. Cologne [1473] (Goff R253), Cologne 1474 
(Goff R254), &amp;c.

</li>

<li>
UC115.&para;6: 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
UC115.&para;7: 
<strong>William de la Furmentarie OFM [?]
</strong>
<br>
<strong>(attrib.), <i>Pharetra</i></strong>
pr. [Strassburg 1472] (Goff P571), &amp;c.;
ed. A. C. Peltier, <i>S. Bonaventurae opera omnia</i> 
(Paris 1864&ndash;71), 7. 1&ndash;231; Glorieux <i>R&eacute;p.</i> 311t; Distelbrink 178; 
Bloomfield 2530. [One copy of the work is dated 1261, which provides a 
<i>terminus ad quem</i>; it is usually anonymous, but some copies carry an
ascription to Bonaventure, other to Guibert of Tournai, and one very
distinctively to William de la Furmentarie, an English friar.]

</li>

<li>
UC115.&para;8: 
<strong>Felix Hemmerlin [1389&ndash;?1459]
</strong>
<br>
<strong><i>Opuscula et tractatus</i></strong>
pr. Strassburg 1497 (Goff H16), &amp;c.

</li>

<li>
UC115.&para;9: 
<strong>Aegidius Aurifaber [&dagger;1466]
</strong>
<br>
<span class="biblio_block">
<i>DS</i> 1. 1138&ndash;9.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Speculum exemplorum</i></strong>
pr. Deventer 1481 (Goff S651), &amp;c.; Bloomfield
2003. The author is thought to be Johannes Busch.

</li>

<li>
UC115.&para;10: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>Mineralia</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris 1890&ndash;99),
5. 1&ndash;103; Fauser 17; Glorieux <i>R&eacute;p.</i> 6ag.

</li>

<li>
UC115.&para;12: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Metaphysica</i> I&ndash;IV 4, tr. James of Venice</strong>
ed. G. Vuillemin-Diem, 
<i>AL</i> 25/1 (1970), 5&ndash;73. 
Other translations:&ndash; <i>Translatio composita</i>: <i>ibid.</i> 89&ndash;155.
<i>Translatio media (I&ndash;X, XII&ndash;XIV)</i>: ed. G. Vuillemin-Diem, <i>AL</i> 25/2 (1976), 
7&ndash;275.
<i>Translatio noua</i> (I&ndash;XIV complete), by William of Moerbeke: ed. 
G. Vuillemin-Diem, <i>AL</i> 25/3 (1995).

</li>

<li>
UC115.&para;13: 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
UC115.&para;14: 
<strong>Pius II (Enea Silvio de' Piccolomini) [1405&ndash;1464, <i>sedit</i> 1458&ndash;1464]
</strong>
<br>
<strong><i>Epistulae familiares</i></strong>
pr. Louvain 1477 (Goff P715), &amp;c.; ed. R.
Volkan, <i>Der Briefwechsel des Eneas Silvius Piccolomini</i> (Vienna 1909&ndash;12).

</li>

<li>
UC115.&para;16: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UC115.17b: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
[<i>unidentified</i>]
<strong><i>De modo significandi octo partium</i></strong>
pr. London [c. 1496] (<i>STC</i>
270). 

</li>

<li>
UC115.&para;17a: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>Ethica</i>, tr. Leonardo Bruni (1417)</strong>
pr. Cologne <i>c.</i> 1470 (<i>GW</i> 2384, 
5614), &amp;c.; prefaces, ed. H. Baron, <i>Leonardo Bruni. 
Humanistisch-Philosophische Schriften</i> (Berlin 1928), 75&ndash;81.

</li>

<li>
UC115.&para;20: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong>Homilies on Matthew, tr. Annianus</strong>
<i>CPG</i> 4424; Stegm&uuml;ller <i>Bibl.</i> 
4350. Annianus translated hom. 1&ndash;25 from the series of ninety homilies.

</li>

<li>
UC115.&para;21: 
<strong>Angelus Politianus (Angelo Ambrosini) [1454&ndash;1494]
</strong>
<br>
<strong><i>Illustrium uirorum epistolae</i></strong>
pr. Lyon 1499 (<i>GW</i> 9368), &amp;c.

</li>

<li>
UC115.&para;22: 
<strong>Lactantius Firmianus [fl. 305&ndash;323]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Subiaco 1465 (Goff L1), &amp;c.; edited by Iohannes Andreae,
Rome 1470 (Goff L3), &amp;c.

</li>

<li>
UC115.&para;23: 
<strong>Guido delle Colonne OFM [&dagger;1408]
</strong>
<br>
<strong><i>Historia destructionis Troiae</i></strong>
ed. N. E. Griffin (Cambridge, MA, 
1936).

</li>

<li>
UC115.&para;24: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UC115.&para;25: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UC115.&para;26: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
UC115.&para;27: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
