{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>REGISTRUM ANGLIE: REGISTRUM ANGLIE</h2><h3>R38. Union catalogue by author and title, early 14th cent.</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R38.1: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De uirtutibus et uitiis</i></strong>
<i>PL</i> 101. 613&ndash;38; <i>CMA Gallia</i>, 2.
153&ndash;9; Bloomfield 1442.

</li>

<li>
R38.2: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De fide sanctae et indiuiduae trinitatis</i></strong>
<i>PL</i> 101. 11&ndash;58; ed. E.
Knibbs &amp; E. A. Matter, <i>CCCM</i> 249 (2012); <i>CMA Gallia</i>, 2. 134&ndash;9.

</li>

<li>
R38.3: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De uirtutibus et uitiis</i></strong>
<i>PL</i> 101. 613&ndash;38; <i>CMA Gallia</i>, 2.
153&ndash;9; Bloomfield 1442.

</li>

<li>
R38.4: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
R38.5: 
<strong>Adalbert of Metz [&dagger; <i>c.</i> 980]
</strong>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

<li>
R38.6&ndash;7: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De fide sanctae et indiuiduae trinitatis</i></strong>
<i>PL</i> 101. 11&ndash;58; ed. E.
Knibbs &amp; E. A. Matter, <i>CCCM</i> 249 (2012); <i>CMA Gallia</i>, 2. 134&ndash;9.

</li>

<li>
R38.6&ndash;7: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De fide sanctae et indiuiduae trinitatis</i></strong>
<i>PL</i> 101. 11&ndash;58; ed. E.
Knibbs &amp; E. A. Matter, <i>CCCM</i> 249 (2012); <i>CMA Gallia</i>, 2. 134&ndash;9.

</li>

<li>
R38.8&ndash;9: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De trinitate ad Fredegisum quaestiones</i></strong>
<i>PL</i> 101. 57&ndash;64;
<i>CMA Gallia</i>, 2. 151&ndash;3.

</li>

<li>
R38.8&ndash;9: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De trinitate ad Fredegisum quaestiones</i></strong>
<i>PL</i> 101. 57&ndash;64;
<i>CMA Gallia</i>, 2. 151&ndash;3.

</li>

<li>
R38.10: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>De uirtutibus et uitiis</i></strong>
<i>PL</i> 101. 613&ndash;38; <i>CMA Gallia</i>, 2.
153&ndash;9; Bloomfield 1442.

</li>

<li>
R38.11: 
<strong>Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
