{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/185" title="Darlington">Darlington</a>  &gt; List of books in the library, 1487</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Darlington</h2><h3 class="medieval_catalogue_desc">SC222. List of books in the library, 1487</h3>
<em>17 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC222.*1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
SC222.*1<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry130_anchor">Alexander of Ashby OSA [&dagger; by 1213], prior of Canons Ashby
</a>
<br>
<strong><i>Comprehensio historiarum ueteris ac noui testamenti</i></strong>
unpr.; <i>WIC</i>
1291; Stegm&uuml;ller <i>Bibl.</i> 1114; Sharpe, <i>Latin Writers</i>, 47.

</li>

<li>
SC222.&dagger;2 (`epistole Pauli glosati'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Pauline Epistles (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 1301&ndash;1696,
<i>PL</i> 192. 9&ndash;520; Stegm&uuml;ller <i>Bibl.</i> 6654&ndash;68.

</li>

<li>
SC222.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1612_anchor">Iohannes de Burgo [&dagger; after 1398]
</a>
<br>
<strong><i>Pupilla oculi</i></strong>
pr. London 1510 (<i>STC</i> 4115), &amp;c.; Bloomfield 2441; 
Sharpe, <i>Latin Writers</i>, 222.

</li>

<li>
SC222.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2835_anchor">Ranulf Higden OSB [&dagger;1364]
</a>
<br>
<strong><i>Speculum curatorum</i></strong>
unpr.; J. Taylor, <i>The Universal Chronicle of Ranulf
Higden</i> (Oxford 1966), 182; Bloomfield 1063.

</li>

<li>
SC222.5 (`liber uocatus Chebbam'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3353_anchor">Thomas of Chobham [&dagger; after 1233]
</a>
<br>
<strong><i>Summa confessorum</i></strong>
ed. F. Broomfield, <i>Analecta
mediaevalia Namurcensia</i> 25 (1968); Bloomfield 1145. [Anonymous copies after
1298 are more likely to be the work of John of Freiburg.]

</li>

<li>
SC222.&dagger;6a (`summarium super decretales', w. abstract from <i>Rationale</i>): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong>(attrib.), <i>Summa super Decretalibus</i></strong>
unpr.; Schulte, 2. 154&ndash;5.

</li>

<li>
SC222.&dagger;6b (`unum abstractum de racionale diuinorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
SC222.&para;7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
SC222.&para;8 (`manipulus confessoris', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1227_anchor">Guido de Monte Rocherii [14th cent.]
</a>
<br>
<strong><i>Manipulus curatorum</i></strong>
pr. Paris 1473 (<i>GW</i> 11730), &amp;c.; Bloomfield
5019; Schulte, 2. 429&ndash;30.

</li>

<li>
SC222.9 (`pars oculi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3753_anchor">Willelmus de Pagula [early 14th cent.]
</a>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

<li>
SC222.10 (`Raymondus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
SC222.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry948_anchor"><i>Fasciculus morum</i>, a Franciscan compilation</a>
ed. S. Wenzel (University
Park, PA, 1989); Bloomfield 6196; Sharpe, <i>Latin Writers</i>, 572.

<br>
</li>

<li>
SC222.&para;15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
SC222.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1432_anchor">Hugutio of Pisa [12th cent.]
</a>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994), 35&ndash;66, dates the
<i>Liber deriuationum</i> to `the decade around 1161' (p. 47), making 
it likely that the author is not to be identified with the jurist
of the same name.
</span>
<br>
<strong><i>Liber deriuationum</i></strong>
ed. E. Cecchini &amp; others (Florence 
2004). [There is a facsimile of Biblioteca Laurenziana, MS Plut. 
XXVII sin. 5 (AD 1236), ed. G. Nencioni (Florence 2000). List 
of manuscripts by A. Marigo, <i>I codici manoscritti delle Deriuationes 
di Uguccione Pisano</i> (Rome 1936).]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>17 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
