{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K425. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K425: 
<strong>Paulinus of Milan [early 5th cent.]
</strong>
<br>
<strong>&lt;&gt;, works reported from Gennadius, &sect; 69, Isidore, &sect;, 4.
</strong>
</li>

<li>
K425.8: 
<strong>Paulinus of Nola [&dagger;431], bishop of Nola
</strong>
<br>
<strong><i>Vita S. Felicis</i>, a series of poems</strong>
<i>CPL</i> 203; ed. W.
Hartel, <i>CSEL</i> 30 (1894) (where it is interspersed with other poems); 
<i>BHL</i> 2870&ndash;71.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
