{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/200" title="London, St Martin-le-Grand">London, St Martin-le-Grand</a>  &gt; Inventory of books and vestments, after 1503</p><h2>SECULAR INSTITUTIONS: Secular Colleges: London, St Martin-le-Grand</h2><h3 class="medieval_catalogue_desc">SC262. Inventory of books and vestments, after 1503</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC262.4: 
<strong>Sulpicius Severus [<i>c</i>363&mdash;after 420]
</strong>
<br>
<strong><i>Vita S. Martini</i></strong>
<i>CPL</i> 475&ndash;7; <i>BHL</i> 5610, 5611&ndash;16; ed. J. Fontaine, SChr 133 (1967).

</li>

<li>
SC262.5b: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
SC262.&para;17: 
<strong><i>Processionale ad usum ecclesiae Sarisburiensis</i></strong>
pr. London 1501 (<i>STC</i>
16232.6), &amp;c.

<br>
</li>

<li>
SC262.&para;29: 
<strong><i>Legenda ad usum Sarum</i></strong>
&para;pr. for William Caxton, Paris 1488 (<i>STC</i> 
16136, <i>GW</i> 5447).

<br>
</li>

<li>
SC262.43: 
<strong>Hugutio of Pisa [12th cent.]
</strong>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994), 35&ndash;66, dates the
<i>Liber deriuationum</i> to `the decade around 1161' (p. 47), making 
it likely that the author is not to be identified with the jurist
of the same name.
</span>
<br>
<strong><i>Liber deriuationum</i></strong>
ed. E. Cecchini &amp; others (Florence 
2004). [There is a facsimile of Biblioteca Laurenziana, MS Plut. 
XXVII sin. 5 (AD 1236), ed. G. Nencioni (Florence 2000). List 
of manuscripts by A. Marigo, <i>I codici manoscritti delle Deriuationes 
di Uguccione Pisano</i> (Rome 1936).]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
