{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/77" title="Reading">Reading</a>  &gt; Books kept in Dormitory, 14th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Reading</h2><h3 class="medieval_catalogue_desc">B74. Books kept in Dormitory, 14th cent.</h3>
<em>13 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B74.*7&ndash;9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Enarrationes in Psalmos</i></strong>
<i>CPL</i> 283; ed. E. Dekkers &amp; J. Fraipont, 
<i>CCSL</i> 38&ndash;40 (1956); ed. F. Gori, <i>CSEL</i> 93&ndash;95 (in progress), of which
Pss 119&ndash;50 have appeared, <i>CSEL</i> 95/3&ndash;5 (2001&ndash;5). [This title, now standard,
originated with Erasmus.]

</li>

<li>
B74.10 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1000_anchor">Folcard OSB [&dagger; after 1085], monk of Saint-Bertin
</a>
<br>
<strong><i>Vita S. Botulphi</i></strong>
prologue, ed. Hardy, 1. 373&ndash;4; text, <i>Acta SS.</i>
Iun. III (1701), 402&ndash;403; <i>BHL</i> 1428.

</li>

<li>
B74.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong>(and Epiphanius), <i>Historia tripartita</i></strong>
<i>CPL</i> 899, 2269. [See W. Jacob 
&amp; R. Hanslik, <i>Handschriftliche &Uuml;berlieferung der sogen. Historia Tripartita</i> 
(Berlin 1954).] [Almost invariably anonymous in catalogues.]

</li>

<li>
B74.*13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
B74.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong>Commentary on Catholic Epistles</strong>
<i>CPL</i> 1362; ed. D. Hurst, <i>CCSL</i> 121 
(1983) 179&ndash;342.

</li>

<li>
B74.17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
B74.18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1361_anchor">Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 433; ed. P. Smulders, <i>CCSL</i> 62&ndash;62A (1979);
ed. M. Figura &amp; others, SChr 443 (1999&ndash;2001).

</li>

<li>
B74.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1183_anchor">Goscelin of Saint-Bertin OSB [&dagger; after 1114]
</a>
<br>
<strong><i>Vita S. Mildburgae</i></strong>
ed. A. J. M. Edwards, diss. (London 1960); not in
<i>BHL</i>.

</li>

<li>
B74.20<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2394_anchor">Odo OSB [&dagger;1101], cardinal of Ostia
</a>
<br>
<strong>(attrib.), <i>Miracula inuentionis beatae Mildburgae uirginis</i></strong>
 ed. P. A. Hatward, <i>EHR</i> 114 (1999) 543&ndash;73; Sharpe, <i>Latin Writers</i>, 64.

</li>

<li>
B74.*21&ndash;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>13 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
