{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University</h2><h3 class="medieval_catalogue_desc">UO3A. List of books recorded by an Italian visitor to Oxford, early 16th cent.</h3>
<em>21 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO3A.1: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Epistolae</i></strong>
ed. E. D&uuml;mmler, MGH <i>Epistolae</i> 4 (1895); <i>CMA
Gallia</i>, 2. 171&ndash;5.

</li>

<li>
UO3A.2: 
<strong>William of Jumi&egrave;ges OSB [&dagger; ?1087]
</strong>
<br>
<strong><i>Gesta Normannorum ducum</i></strong>
ed. J. Marx (Rouen 1914); ed. E. M. C. 
van Houts, OMT (1992&ndash;5).

</li>

<li>
UO3A.3: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
[<i>dub.</i>]
<strong><i>Gesta Francorum</i>
</strong>
</li>

<li>
UO3A.4: 
<strong>Einhard [<i>c</i>770&ndash;840]
</strong>
<br>
<strong><i>Vita Caroli regis Francorum et imperatoris Romanorum</i></strong>
ed. O. 
Holder-Egger, MGH <i>Scr. rerum Germ.</i> 25 (1911<sup>6</sup>); ed. L. Halphen (Paris
1923); <i>BHL</i> 1580. [M. M. Tischler, <i>Einharts Vita Karoli. Studien zur 
Entstehung, &Uuml;berlieferung und Rezeption</i>, MGH <i>Schriften</i> 48 (2001).]

</li>

<li>
UO3A.5: 
<strong>Ansegisus [&dagger;833]
</strong>
<br>
<strong><i>Capitularia</i></strong>
ed. A. Boretius, MGH <i>Capitularia</i> 1 (1883), 382&ndash;450.

</li>

<li>
UO3A.6a: 
<strong>Alhazen (Abu `Ali al-Hasan ibn al-Hasan ibn al-Haytham) [965&ndash;1038]
</strong>
<br>
<strong><i>De aspectibus</i>, tr. Gerard of Cremona</strong>
ed. F. Risner, <i>Opticae
thesaurus Alhazeni</i> (Basel 1572), 1&ndash;282; Carmody, 139&ndash;40; Thorndike/Kibre 
803, 1208.

</li>

<li>
UO3A.6b: 
<strong>Alhazen (Abu `Ali al-Hasan ibn al-Hasan ibn al-Haytham) [965&ndash;1038]
</strong>
<br>
<strong><i>De crepusculis siue De ascensionibus nubium</i>, tr. Gerard of 
Cremona</strong>
pr. with Petrus Nonius's <i>De crepusculis</i>, Lisbon 1541, &amp;c.;
Carmody, 140&ndash;41; Lindberg 1A; Thorndike/Kibre 1022.

</li>

<li>
UO3A.7: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on Ezekiel</strong>
ed. M. A. Signer, <i>CCCM</i> 53E (1991); 
Stegm&uuml;ller <i>Bibl.</i> 1314.

</li>

<li>
UO3A.8: 
<strong>Proclus [410/12&ndash;485]
</strong>
<br>
<strong><i>De fide ad Armenos</i>, tr. Dionysius Exiguus</strong>
<i>CPG</i> 5897; <i>PL</i> 67.
407&ndash;418; the translator's preface to Felicianus and Pastor: <i>CPL</i> 653c;
ed. F. Glorie, <i>CCSL</i> 85 (1972) 63&ndash;6.

</li>

<li>
UO3A.9: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ponderibus et mensuris</i>, an excerpt from Isidore, <i>Etymologiae</i>
XVI 25&ndash;26. [See notes on R1.309, R7.54.]
</strong>
</li>

<li>
UO3A.10: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>dub.</i>]
<strong>`De celo et mundo'</strong>
unidentified.

</li>

<li>
UO3A.&Dagger;11: 
<strong>Matthew Paris OSB [<i>c</i>1195&ndash;after 1259], monk of St Albans
</strong>
<br>
<strong><i>Chronica maiora</i></strong>
ed. H. R. Luard, RS 57 (1872&ndash;84).

</li>

<li>
UO3A.13: 
<strong>Jordanus de Nemore [early 13th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 7. 171&ndash;9.
</span>
<br>
<strong><i>De triangulis</i></strong>
ed. M. Curtze (Thorn 1887); Thorndike/Kibre 260.

</li>

<li>
UO3A.&dagger;14: 
<strong>Geber (Jabir ibn Aflah Abu Muhammad al-Ishbili) [&dagger;<i>c</i>1145]
</strong>
<br>
<strong><i>Elementa astronomica</i>, tr. Gerard of Cremona</strong>
pr. N&uuml;rnberg 1534; 
Carmody, 163&ndash;4. 

</li>

<li>
UO3A.15: 
<strong>Albategni (Abu `Abd Allah Muhammad ibn Jabir al-Battani) [<i>c.</i> 858&ndash;929]
</strong>
<br>
<span class="biblio_block">
C. A. Nallino, <i>Al-Battani siue Albatenii Opus astronomicon</i>,  
Pubblicazioni del Reale Observatorio di Brera in Milano 40 (Milan
1899&ndash;1907), 1. xxiii&ndash;xxxi; <i>DSB</i> 1. 507&ndash;516.
</span>
<br>
<strong><i>De scientia astrorum</i>, tr. Plato of Tivoli</strong>
pr. N&uuml;rnberg
1537; pr. Bologna 1645; Carmody, 130; Thorndike/Kibre 770.

</li>

<li>
UO3A.16: 
<strong>Iulius Firmicus Maternus [&dagger; after 360]
</strong>
<br>
<strong><i>Mathesis</i></strong>
<i>CPL</i> 101; pr. Venice 1497 (<i>GW</i> 9880), Venice 1499 (<i>GW</i>
9881), &amp;c.; ed. P. Monat (Paris 1992).

</li>

<li>
UO3A.17: 
<strong>Autolycus [4th cent. BC]
</strong>
<br>
<strong><i>De motu sphaerae</i>, tr. Gerard of Cremona</strong>
ed. J. Mogenet, <i>Archives
internationales d'histoire des sciences</i> 2 (1948) 139&ndash;64; Carmody, 22; 
Thorndike/Kibre 1151.

</li>

<li>
UO3A.18: 
<strong>Sex. Iulius Frontinus [<i>c</i>30&ndash;104 AD]
</strong>
<br>
<strong><i>Stratagemata</i></strong>
ed. G. Gundermann, Teubner (1888).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
