{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/C" title="CARTHUSIANS">CARTHUSIANS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/C/104" title="London">London</a>  &gt; Loans to Hinton, early 16th cent.</p>{% endif %}<h2>CARTHUSIANS: London</h2><h3 class="medieval_catalogue_desc">C4. Loans to Hinton, early 16th cent.</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
C4.&para;1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2121_anchor">Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</a>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
C4.&para;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1059_anchor">Gallus OCist [fl. 1370], abbot of K&ouml;nigssaal
</a>
<br>
<span class="biblio_block">
<i>VL</i> 2. 1063&ndash;5.
</span>
<br>
<strong><i>Malogranatum</i></strong>
pr. [Strassburg, not after 1473] (Goff G47), &amp;c.; M.
Gerwing, <i>Malograntaum, oder der dreifache Weg zum Vollkommenheit</i> (Munich
1986).

</li>

<li>
C4.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry503_anchor">Birgitta of Sweden [<i>c</i>1303&ndash;1373]
</a>
<br>
<strong><i>Reuelationes</i></strong>
pr. [L&uuml;beck] 1492 (<i>GW</i> 4391); pr. Rome 1628; ed. 
B. Bergh &amp; others (Uppsala 1967&ndash;2002). [The Syon copy, SS1.*797, is 
augmented with related texts; see note ad loc.]

</li>

<li>
C4.6 (`Gerson de contemptu mundi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3370_anchor">Thomas &agrave; Kempis [1379&ndash;1471]
</a>
<br>
<strong><i>Imitatio Christi</i></strong>
ed. C. Hirsche (Berlin 1891); ed. T.
Lupo, Storia e attualit&agrave; 6 (Vatican City 1982).

</li>

<li>
C4.&para;7a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2513_anchor"><i>Pectorale dominicae passionis</i>, by an anonymous Franciscan</a>
pr. 
[Alost <i>c.</i> 1486&ndash;92] (Goff P247).

<br>
</li>

<li>
C4.8 (`reuelaciones s. matildis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2229_anchor">Mechtild von Hackeborn [1241&ndash;1299]
</a>
<br>
<strong><i>Liber specialis gratiae</i></strong>
ed. J. Lef&egrave;vre d'&Eacute;taples in <i>Liber trium
uirorum et trium spiritualium uirginum</i>, Paris 1513 &amp;c.; ed. L. Paquelin,
<i>Reuelationes Gertrudianae et Mechtildianae</i>, vol. 2 (Poitiers/Paris 1877).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
