{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/47" title="Castle Acre">Castle Acre</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Castle Acre</h2><h3 class="medieval_catalogue_desc">B19. Leland, c. 1536-40</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B19.1: 
<strong>Boethius of Denmark [fl. 1270&ndash;1280]
</strong>
<br>
<strong><i>Modi significandi siue Quaestiones super Priscianum maiorem</i></strong>
 ed. J. Pinborg &amp; H. Roos, <i>Corpus philosophorum Danicorum medii aeui</i> 4 
(Copenhagen 1969).

</li>

<li>
B19.2: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 120. 31&ndash;994; ed. B. Paulus, <i>CCCM</i> 56, 56A, 56B (1984).

</li>

<li>
B19.&dagger;3: 
<strong>M. Fabius Quintilianus [&dagger; <i>c</i>100]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Declamationes XIX maiores</i></strong>
ed. L. H$aring$$kanson, Teubner (1982).

</li>

<li>
B19.4: 
<strong>Gilbert the Universal [&dagger;1134], bishop of London
</strong>
<br>
<strong>Gloss on Lamentations</strong>
<i>GO</i> 3. 183&ndash;215; Stegm&uuml;ller <i>Bibl.</i> 2544.

</li>

<li>
B19.5: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Proverbs</strong>
<i>CPL</i> 1351; ed. D. Hurst, <i>CCSL</i> 119B (1983) 21&ndash;163.

</li>

<li>
B19.6: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Acts of the Apostles</strong>
<i>CPL</i> 1357, 1358; ed. M. L. W. 
Laistner, <i>CCSL</i> 121 (1983) 1&ndash;99, 103&ndash;163.

</li>

<li>
B19.&dagger;7: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>De locis sanctis</i></strong>
<i>CPL</i> 2333; ed. J. Fraipont, <i>CCSL</i> 175 (1965) 251&ndash;80.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
