{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Bardney</h2><h3 class="medieval_catalogue_desc">B5. Lincolnshire list, 1528</h3>
<em>17 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B5.*1: 
<strong>Ralph of Battle OSB [<i>c</i>1040&ndash;1124]
</strong>
<br>
<strong>(attrib.), <i>De peccatore et de ratione</i>, &amp; other works</strong>
unpr.; Sharpe, 
<i>Latin Writers</i>, 444. The author identifies himself only as `Rodulfus 
monachus'.

</li>

<li>
B5.2: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong>Gloss on the Pauline Epistles (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 1301&ndash;1696,
<i>PL</i> 192. 9&ndash;520; Stegm&uuml;ller <i>Bibl.</i> 6654&ndash;68.

</li>

<li>
B5.3: 
<strong>Tertullian [&dagger; <i>c</i>220]
</strong>
<br>
<strong>Commentary on Gospels</strong>
not known to survive.

</li>

<li>
B5.4: 
<strong>Petrus Alfonsi [early 12th cent.]
</strong>
<br>
<strong><i>De disciplina clericali</i></strong>
<i>PL</i> 157. 671&ndash;706; ed. A. Hilka
&amp; W. S&ouml;derhjelm (Helsinki / Heidelberg 1911); Diaz 892.

</li>

<li>
B5.5: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
B5.&dagger;6: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>Miscellanea</i></strong>
<i>PL</i> 177. 469&ndash;900; Goy, 452&ndash;7. [The collection reprinted
by Migne did not circulate as such in manuscript; its components, many of
them not Hugh's work, travelled separately.]

</li>

<li>
B5.*7: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
B5.*8: 
<strong>William de Montibus [&dagger;1213]
</strong>
<br>
<strong><i>Distinctiones theologicae</i></strong>
unpr. apart from excerpts in Goering,
<i>William de Montibus</i>, 261&ndash;303; Stegm&uuml;ller <i>Bibl.</i> 2993&ndash;5; Bloomfield 0159, 0478.

</li>

<li>
B5.9: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De arca Noe morali et mystica</i></strong>
<i>PL</i> 176. 617&ndash;80, 681&ndash;704; ed. 
P. Sicard, <i>CCCM</i> 176 (2001); Goy, 212&ndash;37, 237&ndash;45.

</li>

<li>
B5.*10<sup>x</sup>: 
<strong>Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</strong>
<br>
<strong><i>De institutione inclusarum</i></strong>
ed. C. H. Talbot, <i>CCCM</i> 1 (1971) 637&ndash;82;
Hoste, 75&ndash;80. The last part of the text (&sect;&sect;29&ndash;32) circulated under the title
<i>Meditationes</i>.

</li>

<li>
B5.10: 
<strong><i>Ancrene Riwle</i>, Latin tr.</strong>
ed. C. D'Evelyn, EETS 216 (1944).

<br>
</li>

<li>
B5.*11: 
<strong>Martin of Troppau OP [&dagger;1278]
</strong>
<br>
<strong><i>Chronica pontificum et imperatorum</i></strong>
ed. L. Weiland, MGH <i>Scriptores</i> 
22 (1872), 377&ndash;482; Kaeppeli 2974; A. D. von den Brincken in <i>Deutsches 
Archiv</i> 41 (1985) 460&ndash;531. [On the work's reception in England see 
W. V. Ikas in <i>EHR</i> 116 (2001) 327-41 and at greater length, <i>Fortsetzungen
zur Papst- und Kaiserchronik Martins von Troppau aus England</i>, MGH (Hannover
2004).]

</li>

<li>
B5.*11<sup>x</sup>: 
<strong>Iacobus Beneventanus OP [&dagger; after 1271]
</strong>
<br>
<strong><i>Viridarium consolationis de uirtutibus et uitiis</i></strong>
 pr. in <i>Bibliotheca Casinensis</i> (1873&ndash;94), 4. 263&ndash;315; Bloomfield 5058; 
Kaeppeli 2052.

</li>

<li>
B5.&dagger;12: 
<strong>Ralph Gubiun OSB [&dagger;1151]
</strong>
<br>
<strong>(attrib.), <i>Historia Alexandri Macedonis</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 448. 

</li>

<li>
B5.13: 
<strong>Fulcher of Chartres [<i>c</i>1059&ndash;1127/8]
</strong>
<br>
<strong><i>Historia Hierosolymitana</i></strong>
ed. H. Hagenmeyer (Heidelberg 1913); 
ed. S. de Sandoli, <i>Itinera Hierosolymitana Crucesignorum</i> (Jerusalem
1978), 1. 95&ndash;130.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
