{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/53" title="Crowland">Crowland</a>  &gt; Select list, early 14th cent.</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Crowland</h2><h3 class="medieval_catalogue_desc">B24. Select list, early 14th cent.</h3>
<em>92 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B24.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
B24.2 (a collection of forty): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Sermones</i></strong>
<i>CPL</i> 284.

</li>

<li>
B24.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
B24.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Enarrationes in Psalmos</i></strong>
<i>CPL</i> 283; ed. E. Dekkers &amp; J. Fraipont, 
<i>CCSL</i> 38&ndash;40 (1956); ed. F. Gori, <i>CSEL</i> 93&ndash;95 (in progress), of which
Pss 119&ndash;50 have appeared, <i>CSEL</i> 95/3&ndash;5 (2001&ndash;5). [This title, now standard,
originated with Erasmus.]

</li>

<li>
B24.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Sermones de uerbis Domini et apostoli</i>, a common grouping of 
ninety-nine sermons on the Gospels and Epistles</strong>
analysis and list of 
manuscripts by P. P. Verbraken in <i>RB</i> 77 (1967) 27&ndash;46; L. De Coninck,
<i>La tradition manuscrite du recueil De uerbis Domini jusqu'au XIIe 
si&egrave;cle</i> (Turnhout 2006). Most English copies lack the last ten sermons, 
R&ouml;mer, 2/1. 350&ndash;53. 

</li>

<li>
B24.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
B24.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Contra Faustum manichaeum</i></strong>
<i>CPL</i> 321.

</li>

<li>
B24.&dagger;8 (`Augustinus super epistulas canonicas'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>In epistulam Iohannis ad Parthos tractatus X</i></strong>
<i>CPL</i> 279; ed. P. 
Aga&euml;sse, SChr 75 (1984). [Some references to `A. de caritate' might be
the <i>Sermones de caritate</i>.]

</li>

<li>
B24.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De sermone Domini in monte</i></strong>
<i>CPL</i> 274; ed. A. Mutzenbecher, <i>CCSL</i> 35 (1967).

</li>

<li>
B24.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
B24.11 (attrib. Aug.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3482_anchor">Vigilius Thapsensis [fl. 484], bishop of Thapsus
</a>
<br>
<strong><i>Contra Felicianum arianum</i></strong>
<i>CPL</i> 808. [See also Athanasius.]

</li>

<li>
B24.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Registrum</i></strong>
<i>CPL</i> 1714; ed. D. Norberg, <i>CCSL</i> 140, 140A (1982).

</li>

<li>
B24.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry21_anchor">Adalbert of Metz [&dagger; <i>c.</i> 980]
</a>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

<li>
B24.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
[<i>dub.</i>]
<strong>`De utilitate professionis'</strong>
unidentified.

</li>

<li>
B24.15 (`libri plures Greg. Naz.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1199_anchor">Gregory of Nazianzus [330&ndash;390]
</a>
<br>
<strong><i>Orationes</i>, tr. Rufinus</strong>
<i>CPG</i> 3010; ed. A. Engelbrecht, <i>CSEL</i> 46 (1910);
<i>CTC</i> 2. 127&ndash;34. [Copies usually contain the <i>Apologeticus</i> and a further seven
or eight <i>orationes</i>.]

</li>

<li>
B24.16a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De mysteriis</i></strong>
<i>CPL</i> 155.

</li>

<li>
B24.16b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De sacramentis</i></strong>
<i>CPL</i> 154.

</li>

<li>
B24.17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Expositio de Psalmo CXVIII</i></strong>
<i>CPL</i> 141.

</li>

<li>
B24.18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Sententiae de poenitentia Salomonis</i></strong>
ed. R. W. Hunt in <i>MARS</i> 4 
(1958) 30&ndash;34.

</li>

<li>
B24.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong>Commentary on Luke</strong>
<i>CPL</i> 143.

</li>

<li>
B24.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 875&ndash;1286; ed. O. Faller &amp; M. Zelzer,
<i>CSEL</i> 82/1&ndash;3 (1968&ndash;90). [The letters were reordered by Faller &amp; Zelzer; for
a concordance, see <i>CSEL</i> 82/2 (1990) x&ndash;xiv.]

</li>

<li>
B24.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De apologia prophetae Dauid</i></strong>
<i>CPL</i> 135.

</li>

<li>
B24.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Hexaemeron</i></strong>
<i>CPL</i> 123.

</li>

<li>
B24.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Nabuthae</i></strong>
<i>CPL</i> 138.

</li>

<li>
B24.24 (`de uirginitate'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De uirginitate</i>. In manuscripts the title `De uirginitate' usually
heads the text listed as <i>De uirginibus</i> (<i>CPL</i> 145), while `De uirginibus'
can refer to <i>De uirginitate</i> (<i>CPL</i> 147), as in Bodl. MS Bodley 792 (<i>SC</i>
2640) (s. xii<sup>1</sup>). The treatises usually travel as a group</strong>
&ndash; <i>a.</i>
<i>De uirginibus</i> (<i>CPL</i> 145). <i>b.</i> <i>De uiduis</i> (<i>CPL</i> 146). <i>c.</i> <i>De uirginitate</i>
(<i>CPL</i> 147). These may be accompanied by <i>De institutione uirginis</i> (<i>CPL</i> 148),
<i>Exhortatio uirginitatis</i> (<i>CPL</i> 149), or <i>ps.</i> Ambrose, <i>De lapsu uirginis
consecratae</i> (<i>CPL</i> 651). On its own the title `De uirginitate' in catalogues
probably designates such a group.

</li>

<li>
B24.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De patriarchis</i></strong>
<i>CPL</i> 132.

</li>

<li>
B24.26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Ioseph patriarcha</i></strong>
<i>CPL</i> 131.

</li>

<li>
B24.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De poenitentia</i></strong>
<i>CPL</i> 156.

</li>

<li>
B24.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De fuga saeculi</i></strong>
<i>CPL</i> 133.

</li>

<li>
B24.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De officiis ministrorum</i></strong>
<i>CPL</i> 144.

</li>

<li>
B24.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De sacramentis</i></strong>
<i>CPL</i> 154.

</li>

<li>
B24.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
B24.32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong>Commentary on Isaiah</strong>
<i>CPL</i> 584; ed. M. Adriaen, <i>CCSL</i> 73 (1963); Lambert
207.

</li>

<li>
B24.33: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong>Commentary on the minor prophets</strong>
<i>CPL</i> 589; Lambert 216.

</li>

<li>
B24.35 (attrib. Jerome): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1389_anchor">Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</a>
<br>
<strong>(<i>ps.</i> Jerome), Commentary on the Song of Songs</strong>
 <i>PL</i> 172. 347&ndash;496; Stegm&uuml;ller <i>Bibl.</i> 3573; Lambert 450.

</li>

<li>
B24.&dagger;35 (attrib. Jerome): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on the Song of Songs, tr. Jerome</strong>
<i>CPG</i> 1432; ed. W. A. Baehrens,
<i>GCS</i> 33 (1925) 26&ndash;60; Lambert 206; Stegm&uuml;ller <i>Bibl.</i> 6199.

</li>

<li>
B24.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong>Commentary on Ecclesiastes</strong>
<i>CPL</i> 583; Lambert 205.

</li>

<li>
B24.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong>Commentary on Matthew</strong>
<i>CPL</i> 590; Lambert 217.

</li>

<li>
B24.38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
[<i>pseud.</i>]
<strong>Commentary on Mark</strong>
<i>CPL</i> 632; ed. M. J. Cahill, <i>CCSL</i> 82 (1997); 
Lambert 473. [The commentary listed as Jerome's, <i>CPL</i> 594, was attributed
to Jerome by Morin, and was hardly known in England.]

</li>

<li>
B24.39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
[<i>pseud.</i>]
<strong><i>Opus imperfectum in Matthaeum</i></strong>
<i>CPL</i> 707; J. van Banning, <i>CCSL</i> 87B
(1988); Stegm&uuml;ller <i>Bibl.</i> 4350. [The tradition is largely English, and
this work is much commoner in England than the authentic Homilies on Matthew.]

</li>

<li>
B24.40: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De laudibus Pauli</i>, tr. Annianus</strong>
<i>CPG</i> 4344; <i>PG</i> 50. 473&ndash;514.

</li>

<li>
B24.41: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
[<i>dub.</i>]
<strong>`Super epistolas Pauli'</strong>
see note on B24.41.

</li>

<li>
B24.42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong>Homilies on Hebrews, tr. Mutianus</strong>
<i>CPG</i> 4440; <i>PG</i> 63. 237&ndash;456; 
Stegm&uuml;ller <i>Bibl.</i> 4397.

</li>

<li>
B24.*43 (`de muliere bona et mala') = R9.*3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De decollatione Ioannis Baptistae</i>, inc. `Heu me quid agam'</strong>
<i>CPL</i>
931. [The sermon so referred to in medieval lists may be that by Petrus
Chrysologus, inc. `Hodie nobis Ioannis uirtus'.]

</li>

<li>
B24.*43<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De reparatione lapsi</i>, tr. ? Annianus</strong>
<i>CPG</i> 4305; ed. J. Dumortier, SChr 117 (1966) 241&ndash;322.

</li>

<li>
B24.*44: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De compunctione cordis</i>, tr. ? Annianus</strong>
<i>CPG</i> 4308&ndash;9; ed. G. Schmitz,
<i>Monumenta tachygraphica codicis Paris. lat. 2718</i>, fasc. 2 (Hanover 1883).

</li>

<li>
B24.*45: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De eo quod nemo laeditur nisi a semet ipso</i>, Latin tr.</strong>
<i>CPG</i> 4400; ed.
A. M. Malingrey, <i>Sacris erudiri</i> 16 (1965) 320&ndash;54.

</li>

<li>
B24.*46 (attrib. Chrysostom): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2557_anchor">Petrus Chrysologus [&dagger;449], archbishop of Ravenna
</a>
<br>
<strong><i>Sermo de decollatione Ioannis Baptistae</i> (<i>serm.</i> 127; <i>ps.</i> 
Chrysostom)</strong>
<i>CPL</i> 930; <i>PL</i> 52. 549&ndash;52.

</li>

<li>
B24.*47<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De regressu Asiae</i>, Latin tr.</strong>
<i>CPG</i> 4394; <i>PG</i> 52. 421&ndash;4.

</li>

<li>
B24.*48: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>De ascensione</i>, tr. ? Annianus</strong>
<i>CPG</i> 4342; <i>PG</i> 50. 441&ndash;52; 
Wilmart, no. 14.

</li>

<li>
B24.*48<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1041_anchor">Fulbert of Chartres [&dagger;1029], bishop of Chartres
</a>
<br>
[<i>pseud.</i>]
<strong><i>De eo quod tria sunt necessaria ad perfectionem christianae religionis</i></strong>
 <i>PL</i> 141. 196&ndash;204. [See note on B13.83.]

</li>

<li>
B24.*49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong>Homilies on Psalm 50, Latin tr.</strong>
<i>CPG</i> 4544&ndash;5; ed. S. Gelenius,
<i>Opera D. Iohannis Chrysostomi</i> (Basel 1547), 1. 723&ndash;51; Stegm&uuml;ller 
<i>Bibl.</i> 4337,5.

</li>

<li>
B24.50: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Super uetus testamentum</i></strong>
usually refers to translations by Rufinus or
Jerome of the homilies on the Hexateuch, but the contents vary greatly.

</li>

<li>
B24.51: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Super epistolam Pauli ad Romanos</i>, tr. Rufinus</strong>
<i>CPG</i> 1457; <i>PG</i> 14.
833&ndash;1292; Stegm&uuml;ller <i>Bibl.</i> 6221.

</li>

<li>
B24.52: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Ezekiel, tr. Jerome</strong>
<i>CPG</i> 1440; ed. M. Borret, SChr 352
(1989); Stegm&uuml;ller <i>Bibl.</i> 6208.

</li>

<li>
B24.*53 (attrib. Origen): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry714_anchor">Cyprian of Carthage [&dagger;258], bishop of Carthage
</a>
<br>
[<i>pseud.</i>]
<strong><i>De singularitate cleri</i></strong>
<i>CPL</i> 62, 770; pr. with ps. Augustine's
<i>De uita christiana</i> and other texts, Cologne 1467 (<i>GW</i> 3038).

</li>

<li>
B24.55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on Isaiah</strong>
<i>PL</i> 116. 715&ndash;1086; Stegm&uuml;ller <i>Bibl.</i> 3083.

</li>

<li>
B24.56 (`super euangelia et epistolas'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
B24.57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong>Commentary on Catholic Epistles</strong>
<i>CPL</i> 1362; ed. D. Hurst, <i>CCSL</i> 121 
(1983) 179&ndash;342.

</li>

<li>
B24.58: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong>Commentary on Acts of the Apostles</strong>
<i>CPL</i> 1357, 1358; ed. M. L. W. 
Laistner, <i>CCSL</i> 121 (1983) 1&ndash;99, 103&ndash;163.

</li>

<li>
B24.&dagger;59 (`[Beda super] epistolam ad Romanos'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry996_anchor">Florus of Lyon [&dagger; <i>c</i>860]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
B24.60a (`Bede de gestis Anglorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
B24.61: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>Homiliae euangelii</i></strong>
<i>CPL</i> 1367; ed. D. Hurst, <i>CCSL</i> 122 (1955) 
1&ndash;378.

</li>

<li>
B24.&dagger;62&ndash;3 (`Guidonis Longobardi super epistolas Pauli'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Pauline Epistles (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 1301&ndash;1696,
<i>PL</i> 192. 9&ndash;520; Stegm&uuml;ller <i>Bibl.</i> 6654&ndash;68.

</li>

<li>
B24.&dagger;64 (`[Guidonis Longobardi] super [&mdash;]'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Psalms (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 55&ndash;1296;
Stegm&uuml;ller <i>Bibl.</i> 6637.

</li>

<li>
B24.&dagger;65 (`Robertus super epp. Pauli') = R54.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2957_anchor">Robert of Bridlington OSA [&dagger; after 1154]
</a>
<br>
<strong>Commentary on the Pauline Epistles; unpr.; Sharpe, <i>Latin Writers</i>,
527; Stegm&uuml;ller <i>Bibl.</i> 7382,1&ndash;13.
</strong>
</li>

<li>
B24.70: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2618_anchor">Petrus Riga [&dagger;1209]
</a>
<br>
<strong><i>Aurora</i></strong>
ed. P. E. Beichner (Notre Dame, IN, 1965); Stegm&uuml;ller 
<i>Bibl.</i> 6823&ndash;5.

</li>

<li>
B24.71: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>De sacramentis christianae fidei</i></strong>
<i>PL</i> 176. 173&ndash;618; Goy, 133&ndash;72.

</li>

<li>
B24.72: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>De naturis rerum</i></strong>
I&ndash;II, ed. T. Wright, RS 34 (1863), 1&ndash;354; III&ndash;V
(commentary on Ecclesiastes), unpr.; Hunt, <i>Nequam</i>, 134&ndash;6; Stegm&uuml;ller 
<i>Bibl.</i> 1172.

</li>

<li>
B24.73: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3184_anchor">Solinus [3rd cent.]
</a>
<br>
[<i>dub.</i>]
<strong>`De commemoratione locorum'</strong>
unidentified.

</li>

<li>
B24.74: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3184_anchor">Solinus [3rd cent.]
</a>
<br>
<strong><i>Collectanea rerum mirabilium</i></strong>
pr. Venice 1473 (Goff S615), &amp;c.; 
ed. T. Mommsen (Berlin 1895).

</li>

<li>
B24.75: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong>(and Epiphanius), <i>Historia tripartita</i></strong>
<i>CPL</i> 899, 2269. [See W. Jacob 
&amp; R. Hanslik, <i>Handschriftliche &Uuml;berlieferung der sogen. Historia Tripartita</i> 
(Berlin 1954).] [Almost invariably anonymous in catalogues.]

</li>

<li>
B24.76 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry913_anchor">Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</a>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
B24.77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1936_anchor">Iosephus Flauius [&dagger; after 100]
</a>
<br>
<strong><i>Antiquitates iudaicae</i> and <i>De bello iudaico</i>, Latin tr.</strong>
pr. 
[Augsburg] 1470 (Goff J481), &amp;c.;  pr. Basel 1524; <i>Antiquitates</i> I&ndash;V, 
ed. F. Blatt, <i>The Latin Josephus</i> (Copenhagen 1958).

</li>

<li>
B24.79: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1398_anchor">Hrabanus Maurus [&dagger;856]
</a>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 107. 727&ndash;1156; Stegm&uuml;ller <i>Bibl.</i>  7060.

</li>

<li>
B24.80: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2464_anchor">Papias [fl. 1050]
</a>
<br>
<strong><i>Elementarium doctrinae rudimentum</i></strong>
pr. Milan 1476 (<i>CIBN</i> P22), 
&amp;c.; Venice 1496 / repr. Turin 1966; a new edition was begun by V. de Angelis, 
A fasc. 1&ndash;3 (Milan 1977&ndash;80).

</li>

<li>
B24.81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
[<i>dub.</i>]
<strong>`De interpretatione diei'</strong>
unidentified.

</li>

<li>
B24.82: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Sermones</i></strong>
printed among the sermons attributed to Hildebert of 
Lavardin, <i>PL</i> 171. 476&ndash;481, 583&ndash;744 and <i>PL</i> 198. 1809&ndash;1844; Schneyer 
<i>Rep.</i> 4. 636&ndash;47. [A. Wilmart, `Les sermons d'Hilbert', <i>RB</i> 47 (1935) 
12&ndash;51; M.-M. Lebreton, `Recherches sur les manuscrits contenant des sermons
de Pierre le Mangeur', <i>Bulletin d'information de l'Institut de recherche
et d'histoire des textes</i> 2 (1953) 25&ndash;44. Almost all of the sermons 
attributed to Hildebert in <i>PL</i> 171 are the works of Geoffrey Babio, 
Peter Lombard, Peter Comestor or Maurice de Sully.]

</li>

<li>
B24.85: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong><i>Expositio Psalmorum</i></strong>
<i>CPL</i> 900; pr. Basel 1491 (<i>GW</i> 6163); 
ed. M. Adriaen, <i>CCSL</i> 97&ndash;8 (1958); ed. P. Stoppacci (Florence 2012&ndash;).

</li>

<li>
B24.86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>De uirtute orandi</i></strong>
<i>PL</i> 176. 977&ndash;88; ed. H. B. Feiss &amp;
P. Sicard, Sous la r&egrave;gle de S. Augustin 3 (Turnhout 1997); Goy, 404&ndash;38.

</li>

<li>
B24.87: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1528_anchor">Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</a>
<br>
<strong><i>De missarum mysteriis</i></strong>
<i>PL</i> 217. 773&ndash;916. [List of manuscripts
by D. F. Wright in <i>Rivista di storia della chiesa in Italia</i> 29 (1975) 
444&ndash;52; edition by C. Egger in progress.]

</li>

<li>
B24.88: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1528_anchor">Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</a>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
B24.89: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1589_anchor">John Beleth [&dagger; after 1182]
</a>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
B24.91 (`liber de morali philosophia', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3687_anchor">William of Conches [<i>c</i>1080&ndash;1154]
</a>
<br>
[<i>attrib.</i>]
<strong><i>Moralium dogma philosophorum</i></strong>
<i>PL</i> 171. 1007&ndash;1056; ed. J. R. Holmberg
(Uppsala 1929); Bloomfield 3095, 6088.

</li>

<li>
B24.&dagger;&dagger;92 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry454_anchor">Bernard Gui OP [1261&ndash;1331]
</a>
<br>
<strong><i>Nomina discipulorum Iesu Christi</i></strong>
unpr.; Kaeppeli 610.

</li>

<li>
B24.95: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Hunt, <i>Nequam</i>, 150&ndash;53; Schneyer <i>Rep.</i> 1. 271&ndash;7.

</li>

<li>
B24.96: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>De scripturis et scriptoribus sacris</i></strong>
<i>PL</i> 175. 9&ndash;28; Goy, 43&ndash;8.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>92 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
