{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/390" title="Brasenose College">Brasenose College</a>  &gt; Inventory of books drawn up for the Marian commissioners, 1556</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Brasenose College</h2><h3 class="medieval_catalogue_desc">UO23. Inventory of books drawn up for the Marian commissioners, 1556</h3>
<em>95 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO23.&para;*1: 
<strong>Jacques Lef&egrave;vre d'&Eacute;taples (Iacobus Faber Stapulensis) [<i>c</i>1455&ndash;1536]
</strong>
<br>
<span class="biblio_block">
E. Amann in <i>DTC</i> 9. 132&ndash;59.
</span>
<br>
<strong><i>Commentarii in omnes diui Pauli epistolas</i></strong>
pr. Paris 1512, &amp;c.

</li>

<li>
UO23.&para;*3 (`quintuplum psalterium'): 
<strong>Jacques Lef&egrave;vre d'&Eacute;taples (Iacobus Faber Stapulensis) [<i>c</i>1455&ndash;1536]
</strong>
<br>
<strong><i>Quincuplex Psalterium</i></strong>
pr. Paris 1509 (Moreau, 1. 27), &amp;c.; pr. Paris
1513 / repr. Geneva 1979; preface, Rice 66.

</li>

<li>
UO23.&para;4: 
<strong><i>Nouum testamentum graece</i>, ed. Erasmus</strong>
pr. Basel 1516, &amp;c.

<br>
</li>

<li>
UO23.&para;5 (`paraphrasis E. in epistolas apostolicas'): 
<strong>Desiderius Erasmus [1466&ndash;1536]
</strong>
<br>
<strong><i>Paraphrasis in Nouum testamentum</i></strong>
pr. Basel 1522&ndash;4 &amp;c.; part 6
(Hbr&ndash;3 Jo), ed. J. J. Bateman, <i>Erasmi opera omnia</i> 7/6 (Amsterdam 1997).

</li>

<li>
UO23.&para;6 (`tomus primus quatuor consiliorum generalium'): 
<strong><i>Conciliorum quatuor generalium</i></strong>
pr. in 4 vols, Cologne 1530, Paris 1535.

<br>
</li>

<li>
UO23.&para;*8: 
<strong>William Lyndwood [&dagger;1446]
</strong>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
UO23.&para;*9 (`decreta iuris'): 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UO23.&para;10 (`Leuchestus in Scotum super 2<sup>o</sup> Sententiarum'): 
<strong>Franciscus Leuchettus (Francesco Liceto) OFM []
</strong>
<br>
<strong>Commentary on Duns Scotus's Sentence Commentary</strong>
pr. Paris 1519&ndash;20.

</li>

<li>
UO23.&para;11: 
<strong>Iosephus Flauius [&dagger; after 100]
</strong>
<br>
<strong><i>Antiquitates iudaicae</i> and <i>De bello iudaico</i>, Latin tr.</strong>
pr. 
[Augsburg] 1470 (Goff J481), &amp;c.;  pr. Basel 1524; <i>Antiquitates</i> I&ndash;V, 
ed. F. Blatt, <i>The Latin Josephus</i> (Copenhagen 1958).

</li>

<li>
UO23.&para;12: 
<strong>T. Livius (Livy) [59 BC&ndash;AD 17]
</strong>
<br>
<strong><i>Ab urbe condita</i></strong>
ed. W. Weissenborn, M. M&uuml;ller, &amp; W. Heraeus, 
Teubner (1887&ndash;1908).

</li>

<li>
UO23.&para;*13 (`Appianus de ciuilibus bellis'): 
<strong>Appian [&dagger; <i>c.</i> 165]
</strong>
<br>
<strong><i>De bellis ciuilibus</i>, <i>Historia Romana</i> XIII&ndash;XVII, Latin tr. by
Piercandido Decembrio</strong>
&para;*pr. [Venice] 1472 (<i>GW</i>2293), &amp;c.; M. Zaggia in 
<i>Studi medievali</i> 3rd ser. 34 (1993) 193&ndash;243.

</li>

<li>
UO23.&para;14 (w. comm.): 
<strong>D. Iunius Iuuenalis (Juvenal) [<i>c</i>60&ndash;<i>c</i>130]
</strong>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
UO23.&para;*15 (`genealogii Beccarii'): 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>Genealogia deorum gentilium</i></strong>
pr. Venice 1472 (Goff B749), &amp;c.;
ed. V. Romano (Bari 1951); ed. V. Zaccaria in <i>Tutte le opere di Giovanni 
Boccaccio</i>, ed. V. Branca (Milan 1964&ndash;98), 7&ndash;8. 7&ndash;1583.

</li>

<li>
UO23.&para;*15<sup>x</sup>: 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>De montibus, siluis, fontibus</i></strong>
pr. Venice 1473 (<i>GW</i> 4482), &amp;c.;
ed. V. Zaccaria in <i>Tutte le opere di Giovanni Boccaccio</i>, ed. V. Branca 
(Milan 1964&ndash;98), 8/2. 1828&ndash;2029.  

</li>

<li>
UO23.&para;*16: 
<strong>Plato [429&ndash;347 BC]
</strong>
<br>
<strong><i>Opera</i>, tr. Marsilio Ficino</strong>
pr. Venice 1484&ndash;5 (Goff P771), &amp;c.

</li>

<li>
UO23.&para;&dagger;17 (`antiquitatum quaedam uolumina'): 
<strong>Philo Iudaeus [1st cent.]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Antiquitates biblicae</i>, <i>Quaestiones et solutiones in Genesim</i>, and
<i>Interpretatio hebraicorum nominum</i>, Latin version, ed. Johann Sichard</strong>
&para;pr. 
together, Basel 1527 (Adams P1031).

</li>

<li>
UO23.&para;18 (`de orbis situ'): 
<strong>Pomponius Mela [1st cent.]
</strong>
<br>
<strong><i>Chorographia</i></strong>
pr. Milan 1471 (Goff M447), &amp;c.; ed. G. Ranstrand
(Stockhom 1971); ed. P. Parroni (Rome 1984).

</li>

<li>
UO23.&para;*19: 
<strong>Dominicus Nannus Mirabellius [fl. 1500]
</strong>
<br>
<strong><i>Polyanthea</i></strong>
pr. Savona 1503 &amp;c.

</li>

<li>
UO23.&para;*21 (2 vols): 
<strong>Marcus Antonius Coccius Sabellicus [?1436&ndash;1506]
</strong>
<br>
<strong><i>Enneades seu Rhapsodiae historiarum</i></strong>
pr. Venice 1498&ndash;1504 (Goff S7),
&amp;c.

</li>

<li>
UO23.&para;*23 (`rhetorica C.'): 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ratione dicendi ad Herennium</i></strong>
ed. F. Marx, Teubner (1894); ed. G.
Achard (Paris 1989).

</li>

<li>
UO23.&para;*24: 
<strong>P. Vergilius Maro [70&ndash;19 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
UO23.&para;*25 (`. . cum commento'): 
<strong>P. Terentius Afer (Terence) [<i>c</i>195&ndash;159 BC]
</strong>
<br>
<strong><i>Comoediae</i></strong>
ed. R. Kauer &amp; W. M. Lindsay, OCT (1958<sup>2</sup>).

</li>

<li>
UO23.&para;26: 
<strong>Pius II (Enea Silvio de' Piccolomini) [1405&ndash;1464, <i>sedit</i> 1458&ndash;1464]
</strong>
<br>
<strong><i>Epistulae familiares</i></strong>
pr. Louvain 1477 (Goff P715), &amp;c.; ed. R.
Volkan, <i>Der Briefwechsel des Eneas Silvius Piccolomini</i> (Vienna 1909&ndash;12).

</li>

<li>
UO23.&para;27: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
UO23.&para;*28: 
<strong>Macrobius [fl. 400]
</strong>
<br>
<strong><i>Opera</i>, comprising the Commentary on <i>Somnium Scipionis</i> and
the <i>Saturnalia</i></strong>
pr. Venice 1472 (Goff M8), &amp;c.

</li>

<li>
UO23.&para;29 (`. . cum commento'): 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Epistulae ad familiares</i>, with commentary by Hubertinus Clericus</strong>
pr.
Venice 1480 (<i>GW</i> 6834), &amp;c.

</li>

<li>
UO23.&para;*30 (`Gagatanus in Phys' Aristotelis'): 
<strong>Gaietanus de Thienis [1387&ndash;1462]
</strong>
<br>
<strong><i>Recollectae super Physica Aristotelis</i></strong>
pr. [Treviso <i>c.</i> 1476] (Goff
G33), &amp;c.; Lohr, 390&ndash;92.

</li>

<li>
UO23.&para;*31 (`opera agricolationum uariorum authorum'): 
<strong>M. Porcius Cato Censor [234&ndash;149 BC]
</strong>
<br>
<strong><i>De argi cultura</i></strong>
pr. in <i>Scriptores rei rusticae</i>, Venice 1472 (Goff 
S346), &amp;c.; ed. A. Mazzarino, Teubner (1962).

</li>

<li>
UO23.&para;33: 
<strong>Henricus Institoris OP (Heinrich Kramer) [1430&ndash;1505]
</strong>
<br>
<strong>(with Jakob Sprenger), <i>Malleus maleficarum</i></strong>
pr. [Speyer 1487] (Goff
I163), &amp;c.; Kaeppeli 2127. Often prefaced with Innocent VIII's bull 
`Summis desiderantes affectibus' (5 December 1484).

</li>

<li>
UO23.&para;34 (`Arnaldus de medicina'): 
<strong>Arnold of Villanova [<i>c</i>1240&ndash;1311]
</strong>
<br>
<span class="biblio_block">
M. McVaugh in <i>DSB</i> 1. 289&ndash;91.
</span>
<br>
<strong><i>Opera</i></strong>
pr. Lyon 1504 &amp;c.

</li>

<li>
UO23.&para;*35: 
<strong>Iohannes Angelus (Johann Engel) [1463&ndash;1512]
</strong>
<br>
<strong><i>Astrolabium planum in tabulis ascendens</i></strong>
pr. Augsburg 1488 (<i>GW</i>
1900), &amp;c.; Thorndike/Kibre 529, 1094.

</li>

<li>
UO23.&para;*36 (`opus transmarinae peregrinationis ad sepulturam domini'): 
<strong>Bernhard von Breidenbach [<i>c</i>1440&ndash;1497]
</strong>
<br>
<strong><i>Peregrinationes in Terram Sanctam</i></strong>
pr. Mainz 1486 (<i>GW</i> 5075), 
&amp;c.

</li>

<li>
UO23.&para;*37: 
<strong>Iulius Firmicus Maternus [&dagger; after 360]
</strong>
<br>
<strong><i>Mathesis</i></strong>
<i>CPL</i> 101; pr. Venice 1497 (<i>GW</i> 9880), Venice 1499 (<i>GW</i>
9881), &amp;c.; ed. P. Monat (Paris 1992).

</li>

<li>
UO23.&para;38: 
<strong>Iulius Firmicus Maternus [&dagger; after 360]
</strong>
<br>
<strong><i>Mathesis</i></strong>
<i>CPL</i> 101; pr. Venice 1497 (<i>GW</i> 9880), Venice 1499 (<i>GW</i>
9881), &amp;c.; ed. P. Monat (Paris 1992).

</li>

<li>
UO23.&para;39: 
<strong>Petrus de Alliaco (Pierre d'Ailly) [<i>c</i>1350&ndash;1420/21], cardinal bishop of Cambrai
</strong>
<br>
<span class="biblio_block">
F. Oakley, <i>The Political Thought of Pierre d'Ailly</i> (New Haven, CT, 1964), 
350&ndash;56.
</span>
<br>
<strong><i>Quaestiones</i> on Iohannes de Sacro bosco, <i>Tractatus de sphaera</i></strong>
 pr. with the text, Paris 1498 (Goff J418), &amp;c.; Thorndike/Kibre 1644.

</li>

<li>
UO23.&para;*40: 
<strong>Campanus of Novara [&dagger;1296]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 17. 420&ndash;24.
</span>
<br>
<strong>Commentary on Euclid's <i>Elementa</i></strong>
pr. Venice 1482 (<i>GW</i> 9428), &amp;c.;
H. H. L. Busard, <i>Campanus of Novara and Euclid's Elements</i> (Wiesbaden
2005). [The text uses the Adelard II version, and Campanus is named in the
editions as Iohannes Campanus.]

</li>

<li>
UO23.&para;41: 
<strong>Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</strong>
<br>
<strong><i>Geographia</i>, tr. by Iacobus Angelus as <i>Cosmographia</i></strong>
pr. Venice 
1475 (Goff P1081), &amp;c.

</li>

<li>
UO23.&para;42 (`ephemaerides Stocfleri'): 
<strong>Johann Stoeffler [1452&ndash;1531]
</strong>
<br>
<strong>(with Jakob Pflaum), <i>Almanach noua</i>, continuing from the <i>Ephemerides</i>
of Regiomontanus</strong>
pr. Ulm 1499 (Goff S791), &amp;c.; <i>VL</i> 7. 578&ndash;80. 

</li>

<li>
UO23.&para;*43: 
<strong>Campanus of Novara [&dagger;1296]
</strong>
<br>
<strong>Commentary on Euclid's <i>Elementa</i></strong>
pr. Venice 1482 (<i>GW</i> 9428), &amp;c.;
H. H. L. Busard, <i>Campanus of Novara and Euclid's Elements</i> (Wiesbaden
2005). [The text uses the Adelard II version, and Campanus is named in the
editions as Iohannes Campanus.]

</li>

<li>
UO23.&para;*43<sup>x</sup>: 
<strong>Aulus Gellius [<i>c</i>130&ndash;<i>c</i>180]
</strong>
<br>
<strong><i>Noctes atticae</i></strong>
ed. P. K. Marshall, OCT (1968).

</li>

<li>
UO23.&para;*44 (5 vols): 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
UO23.&para;45: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Rome 1471 (<i>GW</i> 7883), &amp;c.

</li>

<li>
UO23.&para;*46: 
<strong>Tertullian [&dagger; <i>c</i>220]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1521 (Adams T405), &amp;c.

</li>

<li>
UO23.&para;47: 
<strong>Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
by Raphael Volaterranus, pr. Rome 1515 (Adams B332),
&amp;c.; by various hands, Paris 1520, Cologne 1523, &amp;c.; tr. Janus Cornarius: pr.
Basel 1540 (Adams B336), &amp;c. 

</li>

<li>
UO23.&para;48 (`tabula operum diui Hieronimi in uno uolumine'): 
<strong>Johannes Oecolampadius [1482&ndash;1531]
</strong>
<br>
<strong><i>Index in tomos omnes operum diui Hieronymi</i></strong>
pr. Basel 1520; 
keyed to Erasmus's edition of Jerome's <i>Opera</i> (Basel 1516).

</li>

<li>
UO23.&para;49 (8 vols): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
UO23.&para;50 (`Cyrillus in uno uolumine'): 
<strong>Cyril of Alexandria [&dagger;444], patriarch of Alexandria
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel: Andreas Cratander, 1528.

</li>

<li>
UO23.&para;51: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
UO23.&para;*52: 
<strong>Johannes Tritheim OSB [1462&ndash;1516], abbot of Sponheim
</strong>
<br>
<strong><i>De scriptoribus ecclesiasticis</i></strong>
pr. Basel 1494 (Goff T452), &amp;c.

</li>

<li>
UO23.&para;*53 (2 vols, Basel 1538): 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1492 (<i>GW</i> 1599), Basel 1506 (Adams A934), &amp;c.

</li>

<li>
UO23.&para;54: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Paris 1518 (Moreau, 2. 1835; Adams G1165), &amp;c.

</li>

<li>
UO23.&para;55: 
<strong>Hilary of Poitiers [<i>c</i>310&ndash;367], bishop of Poitiers
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Paris 1510 (Adams H549), &amp;c.

</li>

<li>
UO23.&para;*56 (2 vols): 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
4 vols, pr. Paris 1512&ndash;30, [1522] (Adams O280); 
ed. D. Erasmus, Basel 1536 (Adams O283), &amp;c.

</li>

<li>
UO23.&para;*57: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong>Commentary on Wisdom</strong>
pr. [Cologne, not after 1476] (Goff H288), 
&amp;c.; Kaeppeli 3497; Stegm&uuml;ller <i>Bibl.</i> 7416.

</li>

<li>
UO23.&para;*58 (`opuscula', 1 vol., Paris 1517): 
<strong>Bonaventure OFM [1221&ndash;1274]
</strong>
<br>
<strong><i>Opuscula</i></strong>
pr. [Cologne] 1484[/5] (<i>GW</i> 4644), Cologne 1486 (<i>GW</i>
4646), &amp;c.

</li>

<li>
UO23.&para;*58<sup>x</sup>: 
<strong>Bonaventure OFM [1221&ndash;1274]
</strong>
<br>
<strong><i>Breuiloquium pauperis seu Compendium sacrae Scripturae</i></strong>
<i>SBonO</i>
5. 201&ndash;291; Distelbrink 1; Glorieux <i>R&eacute;p.</i> 305k.

</li>

<li>
UO23.&para;58<sup>x</sup>: 
<strong>Bonaventure OFM [1221&ndash;1274]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De septem gradibus contemplationis</i></strong>
pr. with his <i>opuscula</i>, 
[Cologne <i>c.</i> 1485] (<i>GW</i> 4644), &amp;c.; Distelbrink 107; Thomson, 
<i>Grosseteste</i>, 250&ndash;51.

</li>

<li>
UO23.&para;*59: 
<strong>Bruno [<i>c</i>1032&ndash;1101]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
pr. [W&uuml;rzburg <i>c.</i> 1488&ndash;9] (Goff P1046),
&amp;c.; <i>PL</i> 142. 39&ndash;530; Stegm&uuml;ller <i>Bibl.</i> 1833.

</li>

<li>
UO23.&para;60: 
<strong>Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</strong>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
UO23.&para;*61: 
<strong><i>Concordantia maior</i>, the so-called `third concordance' compiled by the
Dominicans of Saint-Jacques, Paris</strong>
pr. Strassburg, [not after 1474] (<i>GW</i>
7418) (under the name Conradus de Alemannia), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
1999, 3605&ndash;6; R. H. Rouse &amp; M. A. Rouse in <i>AFP</i> 44 (1974) 5&ndash;30; 
Kaeppeli 755 (as Conradus de Halberstadt OP). Rouse &amp; Rouse show that the
work circulated in Paris by 1286; the attribution to Conrad is made only
in the printed editions. [For the so-called `second concordance' or 
`English concordance', see Richard Stainsby.]

<br>
</li>

<li>
UO23.&para;*61<sup>x</sup>: 
<strong>John of Segovia [<i>c</i>1395&ndash;1458]
</strong>
<br>
<span class="biblio_block">
<i>LexMA</i> 5. 605.
</span>
<br>
<strong><i>Concordantiae partium indeclinabilium</i></strong>
pr. Basel 1476, &amp;c.; &para;*pr. 
with Conrad of Halberstadt, Basel 1521 (<i>VD</i> C4900); Stegm&uuml;ller <i>Bibl.</i> 4961.

</li>

<li>
UO23.&para;62 (2 vols): 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>Opera</i>, Latin tr. by Ambrogio Traversari &amp; others</strong>
<i>CPG</i> 6600&ndash;6607;
triple translation with commentaries, pr. Strassburg 1503 &amp;c.; &para;*pr. 
with commentary by Jacques Lef&egrave;vre d'&Eacute;taples &amp; Josse Clichtove, Paris 
1515 (Moreau, 2. 1075).

</li>

<li>
UO23.&para;63 (`&dagger;Augustinus de euangelica praeparatione'): 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>De euangelica praeparatione</i>, tr. George of Trebizond</strong>
<i>CPG</i> 3486;
pr. Venice 1470 (<i>GW</i> 9440), &amp;c. 

</li>

<li>
UO23.&para;*65: 
<strong>Richard of Saint-Victor OSA [&dagger;1173]
</strong>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>Opera</i></strong>
pr. Venice 1506, Paris 1518 (Adams R502), &amp;c.

</li>

<li>
UO23.&para;*68 (`opera .&nbsp;. in tribus tomis et tribus uoluminibus'): 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Venice 1506 (Adams H1143); pr. in three vols, Paris 1526. 

</li>

<li>
UO23.&para;*69 (`opera'): 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Opera</i></strong>
pr. [Cologne 1478] (<i>GW</i> 3905), &amp;c.

</li>

<li>
UO23.&para;*70 (4 vols): 
<strong>Alexander of Hales OFM [<i>c</i>1185&ndash;1245]
</strong>
<br>
<strong><i>Summa theologica</i></strong>
pr. N&uuml;rnberg 1481&ndash;2 (<i>GW</i> 871), &amp;c.; [ed. V. 
Doucet &amp; others] (Quaracchi 1924&ndash;48);
Stegm&uuml;ller/Doucet <i>Sent.</i> 59a.

</li>

<li>
UO23.&para;71 (3 vols): 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
UO23.&para;*72<sup>x</sup>: 
<strong>Henricus de Gorinchem [&dagger;1431]
</strong>
<br>
<strong><i>Conclusiones</i> on the Lombard's Sentences</strong>
pr. alone, [Reutlingen
<i>c.</i> 1480] (Goff H21a), [Cologne <i>c.</i> 1482] (Goff H21), &amp;c.; pr. with 
the Lombard's text, Basel 1487 (Goff P490), &amp;c.; Stegm&uuml;ller <i>Sent.</i> 321.

</li>

<li>
UO23.&para;72: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UO23.&para;74 (4 vols): 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
UO23.&para;*75: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Orationes</i></strong>
pr. Rome 1471 (<i>GW</i> 6761), &amp;c.; ed. A. Klotz &amp; others,
Teubner (1918&ndash;33).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>95 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
