{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH" title="SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions">SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH/274" title="London, hospital of St Mary Elsing">London, hospital of St Mary Elsing</a>  &gt; Inventory of books, 7 October 1448</p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, hospital of St Mary Elsing</h2><h3 class="medieval_catalogue_desc">SH33. Inventory of books, 7 October 1448</h3>
<em>56 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH33.32 (NT): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
SH33.33 (`magister sentenciarum glosat''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
SH33.34 (`magister historiarum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
SH33.35 (`psalterium glosatum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Psalms (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 55&ndash;1296;
Stegm&uuml;ller <i>Bibl.</i> 6637.

</li>

<li>
SH33.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
SH33.39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
SH33.42 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1528_anchor">Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</a>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
SH33.43: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry948_anchor"><i>Fasciculus morum</i>, a Franciscan compilation</a>
ed. S. Wenzel (University
Park, PA, 1989); Bloomfield 6196; Sharpe, <i>Latin Writers</i>, 572.

<br>
</li>

<li>
SH33.44 (`gemma anime', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1389_anchor">Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</a>
<br>
<strong>(attrib.), <i>Gemma animae siue De diuinis officiis</i></strong>
<i>PL</i> 172. 541&ndash;738.

</li>

<li>
SH33.45 (`liber encheridion', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Enchiridion</i></strong>
<i>CPL</i> 295; ed. E. Evans, <i>CCSL</i> 46 (1969) 23&ndash;114.

</li>

<li>
SH33.46 (`Crisostomus in opere imperfecto'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
[<i>pseud.</i>]
<strong><i>Opus imperfectum in Matthaeum</i></strong>
<i>CPL</i> 707; J. van Banning, <i>CCSL</i> 87B
(1988); Stegm&uuml;ller <i>Bibl.</i> 4350. [The tradition is largely English, and
this work is much commoner in England than the authentic Homilies on Matthew.]

</li>

<li>
SH33.47 (`A. de simbolo'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Sermo ad catechumenos de symbolo</i></strong>
<i>CPL</i> 309; ed. R. Vander 
Plaetse, <i>CCSL</i> 46 (1969) 185&ndash;99. [The four books <i>De symbolo</i> are
<i>CPL</i> 309 and Quodvultdeus, <i>De symbolo</i>, <i>CPL</i> 401, 402, and 403;
as for example in Worcester cathedral, MS F. 57 (s. xiii), fols. 
218r&ndash;229v, or BL MS Royal 5 C. VI (s. xiv), fols. 73v&ndash;(87).]

</li>

<li>
SH33.48 (attrib. Augustine): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry195_anchor">Ambrosius Autpertus [&dagger;781]
</a>
<br>
<strong><i>De conflictu uitiorum et uirtutum</i></strong>
<i>PL</i> 17. 1057&ndash;74
&amp; under other authors; ed. R. Weber, <i>CCCM</i>  27B (1979) 907&ndash;31; Bloomfield 0455.

</li>

<li>
SH33.49 (`ueritas theologie', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1420_anchor">Hugo Ripelinus OP [&dagger; <i>c</i>1300]
</a>
<br>
<strong><i>Compendium ueritatis theologicae</i></strong>
ed. A. Borgnet, <i>Alberti
Magni opera omnia</i> (Paris 1890&ndash;99), 34. 1&ndash;270; Stegm&uuml;ller <i>Sent.</i> 368; 
Kaeppeli 1982.

</li>

<li>
SH33.50 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1612_anchor">Iohannes de Burgo [&dagger; after 1398]
</a>
<br>
<strong><i>Pupilla oculi</i></strong>
pr. London 1510 (<i>STC</i> 4115), &amp;c.; Bloomfield 2441; 
Sharpe, <i>Latin Writers</i>, 222.

</li>

<li>
SH33.51 (`pars oculi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3753_anchor">Willelmus de Pagula [early 14th cent.]
</a>
<br>
<strong><i>Oculus sacerdotis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 799; Bloomfield 
1088, 2499, 3129, 3686.

</li>

<li>
SH33.52 (`Parisiensis de sacramentis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3662_anchor">William of Auvergne, known as Parisiensis [<i>c</i>1180&ndash;1249], bishop of Paris 
</a>
<br>
<span class="biblio_block">
P. Viard in <i>DS</i> 6 (1967) 1182&ndash;92.
</span>
<br>
<strong><i>De sacramentis</i></strong>
pr. [N&uuml;rnberg 1497] (<i>GW</i> 11869), &amp;c.; pr.
in <i>Guillelmi Alverni opera omnia</i> (Paris/Orleans 1674), 1. 407&ndash;455; 
Ottman 16; Glorieux <i>R&eacute;p.</i> 141o. [Entries reported here are perhaps 
indistinguishable from <i>ps.</i> William, <i>Dialogus de septem sacramentis</i>, 
Glorieux <i>R&eacute;p.</i> 141ag.]

</li>

<li>
SH33.53 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1789_anchor">John of Mirfield [fl. 1390]
</a>
<br>
<strong><i>Florarium Bartholomaei</i></strong>
part ed. P. H. S. Hartley &amp; H. R. Aldridge, 
<i>Johannes de Mirfield of St Bartholomew's Hospital, Smithfield. His Life and 
Works</i> (Cambridge 1936), 114&ndash;164.

</li>

<li>
<a href="{% if editable %}/e{% endif %}/mlgb/book/3852/"  title=": full details of book"  class="link_from_index_to_book">SH33.*54</a>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3086_anchor"><i>Secretum secretorum</i> (<i>ps.</i> Aristotle), Latin tr. from Arabic by Philippus
Tripolitanus</a>
ed. R. Steele, <i>Opera hactenus inedita Rogeri Baconi</i> (Oxford 
1909&ndash;40), 5. 1&ndash;175; S. J. Williams, <i>The Secret of Secrets. The scholarly
career of a pseudo-Aristotelian text in the Latin middle ages</i> (Ann Arbor, MI,
2003), 360&ndash;63 (translator's prologue), 388&ndash;413 (list of manuscripts); <i>PAL</i> 
54&ndash;75 (no. 81B). [See also John of Seville, for an excerpt translated in the 
12th cent., and Aristotle <i>ps.</i>, <i>Epistola Aristotelis ad Alexandrum</i> for 
other possible copies.] 

<br>
</li>

<li>
SH33.57 (inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Psalterium</i></strong>
<i>PL</i> 29. 119&ndash;397; Stegm&uuml;ller <i>Bibl.</i> 21.

</li>

<li>
SH33.58 (`minores collaciones patrum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1627_anchor">John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</a>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
SH33.59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Dialogi</i></strong>
<i>CPL</i> 1713; ed. A. de Vog&uuml;&eacute;, SChr 251, 260, 265 (1978&ndash;80).

</li>

<li>
SH33.60: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2835_anchor">Ranulf Higden OSB [&dagger;1364]
</a>
<br>
<strong><i>Speculum curatorum</i></strong>
unpr.; J. Taylor, <i>The Universal Chronicle of Ranulf
Higden</i> (Oxford 1966), 182; Bloomfield 1063.

</li>

<li>
SH33.&dagger;61 (`uiridarium psalterii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2927_anchor">Richard Rolle [&dagger;1349]
</a>
<br>
<strong><i>Viridarium</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7301; Allen, <i>Rolle</i>, 161&ndash;5;
Sharpe, <i>Latin Writers</i>, 336, 503. The work collects verses from the Psalms
that mention <i>misericordia</i> and related words.

</li>

<li>
SH33.62 (`B. de uita Christi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1630_anchor">Iohannes de Caulibus OFM [14th cent.]
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 55. 768&ndash;74.
</span>
<br>
<strong>(attrib.; <i>ps.</i> Bonaventure), <i>Meditationes uitae Christi</i></strong>
pr. Augsburg 
1468 (<i>GW</i> 4739), &amp;c.; ed. A. C. Peltier, <i>Sancti Bonaventurae opera omnia</i> 
(Paris 1864&ndash;71), 12. 509&ndash;630; ed. M. Stallings-Taney, <i>CCCM</i> 153 (1997); 
Distelbrink 166. [The <i>ps.</i> Bonaventure <i>Meditationes passionis Christi</i> are
derived from this work. Stallings's text relies on 14th-cent. manuscripts;
Peltier reprinted a Vatican edition of 1596 that lay at the end of a long
line of revisions; C. M. Stallings-Taney in <i>Franciscan Studies</i> 55 (1998)
253&ndash;80.]

</li>

<li>
SH33.63: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3197_anchor"><i>Speculum humanae saluationis</i></a>
pr. [Low Countries <i>c.</i> 1466] (Goff S656),
&amp;c.; ed. P. Lutz &amp; P. Perdrizet (Mulhouse 1907); Bloomfield 2562.

<br>
</li>

<li>
SH33.64&ndash;65 (`legenda aurea', `legenda alia sanctorum non completa'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1502_anchor">Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</a>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
SH33.66: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

<li>
SH33.70: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1317_anchor">Henricus Suso OP (Heinrich Seuse) [1295&ndash;1366]
</a>
<br>
<strong><i>Horologium sapientiae</i></strong>
ed. P. K&uuml;nzle, <i>Heinrich Seuses
Horologium sapientiae</i>, Spicilegium Friburgense 23 (1977); Bloomfield 5416; 
Kaeppeli 1852. [W. Wichgraf, 'Susos Horologium sapientiae in England nach
HSS. des 15. Jahrhunderts', <i>Anglia</i> 41 (1929) 123&ndash;33, 269&ndash;87, 345&ndash;73, 
and 42 (1930) 351&ndash;2.]

</li>

<li>
SH33.71: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3792_anchor">William of Tournai [late 13th cent.]
</a>
<br>
<strong><i>Flores Bernardi</i></strong>
unpr.; Bloomfield 1155.

</li>

<li>
SH33.72: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2930_anchor">Richard Scrope [&dagger;1405], archibishop of York
</a>
<br>
<strong>Postills on the Pauline Epistles</strong>
not known to survive; Sharpe,
<i>Latin Writers</i>, 509.

</li>

<li>
SH33.73 (`Haymo super epistolas et euangelia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
SH33.74: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2368_anchor">Nigel Witeker OSB [&dagger; after 1206]
</a>
<br>
<strong><i>Speculum stultorum</i></strong>
ed. T. Wright, <i>Anglo-Latin Satirical Poets</i>,
RS 59/1 (1872), 3&ndash;10 (prose preface), 11&ndash;145 (verse); ed. J. H. Mozley &amp; R.
Raymo (Berkeley, CA, 1960) (verse only); <i>WIC</i> 18944; Sharpe, <i>Latin Writers</i>,
401.

</li>

<li>
SH33.75 (`H. de S. V. de claustro corporis et anime'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1411_anchor">Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</a>
<br>
<span class="biblio_block">
J. Gobry in <i>DS</i> 7. 880&ndash;86.
</span>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
SH33.76: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
SH33.77 (`textus sexti'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2078_anchor"><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</a>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
SH33.77b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry691_anchor"><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</a>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
SH33.78: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1555_anchor">Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</a>
<br>
<strong><i>Apparatus ad Sextum</i></strong>
pr. with <i>Liber sextus</i>, Mainz 1465 &amp;c. (<i>GW</i>
4848&ndash;87); standard edition is <i>Corpus iuris canonici</i> 3/3 (Rome 1582); 
Schulte, 2. 213&ndash;14. [See also under <i>Liber Sextus</i>.]

</li>

<li>
SH33.79 (`Abbas doctor super decretales'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2365_anchor">Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</a>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
SH33.80: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1217_anchor">Guido de Baysio, known as Archidiaconus [&dagger;1313], archdeacon of Bologna
</a>
<br>
<strong><i>Apparatus ad Sextum</i></strong>
pr. Milan 1490 (<i>GW</i> 3743); Schulte, 
2. 188&ndash;9. [See also under <i>Liber Sextus</i>.]

</li>

<li>
SH33.81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry461_anchor">Bernard of Pavia [&dagger;1213]
</a>
<br>
<strong><i>Breuiarium extrauagantium</i>, now known as <i>Compilatio prima 
decretalium</i></strong>
ed. Agust&iacute;n, <i>Antiquae collectiones</i>, 9&ndash;353; part ed. E. 
Friedberg, <i>Quinque compilationes antiquae</i> (Leipzig 1882), 1&ndash;65; Kuttner, 
322&ndash;44. [Also known as <i>Iuste</i> from its opening words, `Iuste iudicate'.
The ordinary gloss is by Tancred of Bologna.] Entries listed here may
refer to more than one of the <i>compilationes</i>.

</li>

<li>
SH33.83: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1194_anchor">Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</a>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
SH33.85 (`Reymundus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
SH33.86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1706_anchor">John of Genoa OP [&dagger; after 1286]
</a>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
SH33.87 (`Brito'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3673_anchor">William Brito [late 13th cent.]
</a>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
SH33.&dagger;88 (`Ysidorus de mirabilibus mundi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3336_anchor">Thierry of Saint-Trond OSB [&dagger;1107]
</a>
<br>
<strong>(<i>ps.</i> Ovid), <i>De mirabilibus mundi</i></strong>
ed. J. G.
Pr&eacute;aux, <i>Latomus</i> 6 (1947) 353&ndash;65; <i>WIC</i> 8095, 18131.

</li>

<li>
SH33.89: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2464_anchor">Papias [fl. 1050]
</a>
<br>
<strong><i>Elementarium doctrinae rudimentum</i></strong>
pr. Milan 1476 (<i>CIBN</i> P22), 
&amp;c.; Venice 1496 / repr. Turin 1966; a new edition was begun by V. de Angelis, 
A fasc. 1&ndash;3 (Milan 1977&ndash;80).

</li>

<li>
SH33.90 (`liber topicorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Topica</i>, tr. Boethius</strong>
ed. L. Minio-Paluello, <i>AL</i> 5/1&ndash;3 (1969), 
5&ndash;179. [See also Aristotle, <i>Logica noua</i>.]

</li>

<li>
SH33.&dagger;91 (`liber Galieni et Ypocratis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1368_anchor">Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</a>
<br>
<strong><i>Aphorismata</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 
2678), &amp;c.; many versions are listed in <i>HL</i> 29&ndash;90.

</li>

<li>
SH33.&dagger;91a (`liber Galieni'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong><i>Megategni</i>, tr. Constantinus Africanus</strong>
pr. Lyon 1515, 2. 189v&ndash;209v (with
the works of Isaac Iudaeus); Thorndike/Kibre 1163. Manuscripts are listed by P. Kibre
in <i>Galen's Method of Healing. Proceedings of the 1982 Galen Symposium</i>,
ed. F. Kudlien &amp; R. J. Durling (Leiden 1991), 117&ndash;118.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>56 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
