{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse</h2><h3>UC49. Leland, c. 1535</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC49.: 
<strong>Abraham Ibn Ezra (Abram ben Meir Ibn Ezra) [1092&ndash;1167]
</strong>
<br>
<strong><i>De luminaribus et creticis diebus</i>, tr. Peter of Abano</strong>
pr. in
the <i>Opera</i>, Venice 1507, fols. 71v&ndash;75v; Thorndike/Kibre 487. Or tr. 
Henricus Bate: pr. [Padua] 1482/3 (<i>GW</i> 112); Thorndike/Kibre 466. [This 
edition is also cited (as pr. [Venice: Ratdolt] 1482) for the version
of Peter of Abano.]

</li>

<li>
UC49.&dagger;&dagger;1: 
<strong>Elias of Assisi OFM [&dagger;1253]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 450&ndash;58.
</span>
<br>
<strong>Alchemical writings
</strong>
</li>

<li>
UC49.&dagger;2: 
<strong>Alphidius [?]
</strong>
<br>
<strong><i>De lapide philosophorum</i></strong>
unpr.; Singer 144; Thorndike/Kibre
730, 1407.

</li>

<li>
UC49.3: 
<strong>Roger of Hereford [late 12th cent.]
</strong>
<br>
[<i>dub.</i>]
<strong>`Expositiones de rebus metallicis'
</strong>
</li>

<li>
UC49.4: 
<strong>Plinius Secundus [?4th cent.]
</strong>
<br>
<span class="biblio_block">
<i>LexMA</i> 6. 446&ndash;7.
</span>
<br>
<strong><i>Medicina</i></strong>
ed. A. &Ouml;nnerfors, <i>Corpus medicorum latinorum</i> 3 (Berlin 
1964); Thorndike/Kibre 188, 570.

</li>

<li>
UC49.5: 
<strong>Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>De anima</i>, tr. Dominicus Gundisalvi</strong>
pr. in <i>Auicenna opera</i>
(Venice 1508), 1&ndash;28; ed. S. van Riet, <i>Liber de anima seu Sextus de
naturalibus</i> (Louvain 1968&ndash;72); Diaz 1034. [D. N. Hasse,
<i>Avicenna's De anima in the Latin West</i> (London &amp; Turin 2000).]

</li>

<li>
UC49.*8: 
<strong>Thetel [?]
</strong>
<br>
<span class="biblio_block">
The name is sometimes treated as a variant on Zael (Zahel); it only
accompanies work(s) on stones and their images.
</span>
<br>
<strong><i>De lapidibus</i>, Latin tr.</strong>
ed. J. B. Pitra, <i>Spicilegium Solesmense</i>
(Paris 1852&ndash;8), 3. 335&ndash;7; ed. J. Evans, <i>Magical Jewels of the Middle 
Ages and Renaissance</i> (Oxford 1922), 235&ndash;7; Thorndike/Kibre 616, 715, 
996, 1452; Glorieux <i>Arts</i> 441h attributes the translation to Thomas of
Cantimpr&eacute;.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>Mineralia</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris 1890&ndash;99),
5. 1&ndash;103; Fauser 17; Glorieux <i>R&eacute;p.</i> 6ag.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Master Alexander [?]
</strong>
<br>
<strong><i>De coitu</i>, inc. `Creator uolens omne genus' (Thorndike/Kibre
273), survives in Bodl. MS e Musaeo 219 (<i>SC</i> 3541) (s. xiii ex.), fols.
105&ndash;110, and Oxford, Merton College, MS 324 (s. xv), fols. 113v&ndash;118r. It
appears to be based on Constantinus Africanus, <i>Liber maior de coitu</i>, with
a similar incipit, `Creator uolens animalium genus'</strong>
pr. Basel 1536, 299&ndash;307;
Thorndike/Kibre 273.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Alexander de Villa Dei [<i>c</i>1170&ndash;<i>c</i>1240]
</strong>
<br>
<strong><i>Algorismus</i></strong>
ed. J. O. Halliwell, <i>Rara mathematica</i>
(London 1839), 73&ndash;83; <i>WIC</i> 7470; Thorndike/Kibre 597.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Chiromantia</i></strong>
unpr.; <i>PAL</i> 22&ndash;3 (no. 19); Thorndike/Kibre 830, 
1585.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Physiognomia</i></strong>
various texts listed, <i>PAL</i> 45&ndash;50 (nos. 62&ndash;72);
to appear, <i>AL</i> vol. 19.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Virtutes septem herbarum</i></strong>
unpr.; Thorndike/Kibre 517; not in 
<i>PAL</i>.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong><i>Cyranides</i>, Latin tr.</strong>
ed. L. Delatte, <i>Textes latins et vieux 
fran&ccedil;ais relatifs aux Cyranides</i> (Li&egrave;ge/Paris 1942), 1&ndash;206;
Thorndike/Kibre 67 (prol.), 504.

<br>
</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong>(?), <i>De semine</i>, inc. `Sperma hominis descendit'</strong>
pr. Venice 1508,
1. 38v&ndash;39v; pr. in <i>Galeni opera</i> (Basel 1542), 8. 133&ndash;54; Thorndike/Kibre 
1521.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Geoffrey of Meaux [1310&ndash;1348]
</strong>
<br>
<strong><i>Iudicium de eclypsi solis</i></strong>
ed. L. Thorndike, <i>Latin Treatises
on Comets</i> (Cicago, IL, 1950), 215&ndash;18; Thorndike/Kibre 45.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Geoffrey of Meaux [1310&ndash;1348]
</strong>
<br>
<strong><i>Iudicium magnae coniunctionis Saturni et Iouis</i></strong>
unpr.; 
Thorndike/Kibre 1364.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Geoffrey de Vinsauf [&dagger; after 1200]
</strong>
<br>
<strong><i>Super Palladium de plantationibus et insertionibus arborum</i></strong>
 unpr.; Thorndike/Kibre 879; Singer 998.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>`Hermes'
</strong>
<br>
<strong><i>De quindecim stellis</i>, Latin tr.</strong>
ed. L. Delatte, <i>Textes latins
et vieux fran&ccedil;ais relatifs aux Cyranides</i> (Li&egrave;ge/Paris 1942), 241&ndash;75;
Thorndike, `Astrological images', 224&ndash;7; Carmody, 56.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>De aere aqua et regionibus</i>, Latin tr.</strong>
pr. with works of Razes,
Milan 1481 (Goff R175), &amp;c.; <i>HL</i> 25&ndash;8.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>De natura foetus</i>, tr. Bartholomew of Messina</strong>
pr. in <i>Articella</i>,
Venice 1483 (<i>GW</i> 2679), &amp;c.; <i>HL</i> 189&ndash;91.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>De natura hominis</i>, tr. Bartholomew of Messina</strong>
pr. Milan 1481 
(Goff R175), &amp;c.; <i>HL</i> 192&ndash;5.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>De pharmaciis</i>, Latin tr.</strong>
pr. Milan 1481 (Goff R175), &amp;c.; <i>HL</i>
165&ndash;6.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</strong>
<br>
<strong><i>Lex</i>, tr. ? Arnold of Villanova</strong>
pr. in <i>Articella</i>, Venice 1483
(<i>GW</i> 2679), &amp;c.; <i>HL</i> 182&ndash;6.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Iohannes [?]
</strong>
<br>
<strong><i>Summa chiromantiae</i></strong>
unpr.; Thorndike/Kibre 176.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Philo of Byzantium [2nd cent. BC]
</strong>
<br>
<strong><i>De ingeniis spiritualibus</i>, a partial Latin tr. of his <i>Mechanica 
syntaxis</i></strong>
ed. V. Rose, <i>Anecdota Graeca et Graecolatina</i> (Berlin
1864&ndash;70), 2. 299&ndash;313, repr. in W. Schmidt &amp; others, <i>Heronis Alexandrini
opera</i>, Teubner (1899&ndash;1914), 1. 458&ndash;88 [even pages]; Thorndike/Kibre 694, 696,
1233, 1305.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De lapidibus preciosis et sigillis eorum</i></strong>
unpr.; Carmody, 21;
Thorndike/Kibre 1344.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Ram&oacute;n Lull [1232&ndash;1316]
</strong>
<br>
<strong><i>Ars generalis et ultima</i></strong>
pr. Barcelona 1501 &amp;c.; Diaz 1833; 
Glorieux <i>R&eacute;p.</i> 335io.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Ram&oacute;n Lull [1232&ndash;1316]
</strong>
<br>
<strong><i>Liber de regionibus sanitatis et infirmitatis</i></strong>
unpr.; Diaz 1815;
Thorndike/Kibre 1230.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Ram&oacute;n Lull [1232&ndash;1316]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Anima transmutatoriae artis metallorum</i></strong>
unpr.; Thorndike/Kibre
698.

</li>

<li>
UC49.*8<sup>x</sup>: 
<strong>Ram&oacute;n Lull [1232&ndash;1316]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Epistola accurtationis</i></strong>
unpr.; Thorndike/Kibre 296.

</li>

<li>
UC49.9: 
<strong>`Rosinus' [#]
</strong>
<br>
<strong><i>Epistola ad Euthesiam</i></strong>
unpr.; Singer 51; Thorndike/Kibre 747.

</li>

<li>
UC49.10: 
<strong>M. Valerius Martialis [<i>c</i>40&ndash;104]
</strong>
<br>
<strong><i>Epigrammata</i></strong>
ed. W. M. Lindsay, OCT (1903); ed. W. Heraeus &amp; 
I. Borovskij, Teubner (1976<sup>2</sup>).

</li>

<li>
UC49.*11: 
<strong>Aimoin of Fleury [&dagger; after 1010]
</strong>
<br>
<strong><i>Abbreuiatio historiarum</i></strong>
<i>PL</i> 139. 627&ndash;802; Potthast, 2. 158&ndash;9.

</li>

<li>
UC49.12: 
<strong>Maximianus [6th cent.]
</strong>
<br>
<strong><i>Elegiae</i></strong>
<i>CPL</i> 1519; ed. T. Agazzino (Bologna 1970).

</li>

<li>
UC49.14: 
<strong>Ricardus Anglicus [<i>c</i>1162&ndash;1242]
</strong>
<br>
<strong><i>Signa</i></strong>
part ed. H. E. Beusing, <i>Das Leben und Werke des Ricardus
Anglicus</i>, diss. (Leipzig 1922), 32&ndash;42; Sharpe, <i>Latin Writers</i>, 472.

</li>

<li>
UC49.*15: 
<strong>Moses Maimonides [1138&ndash;1204]
</strong>
<br>
<strong><i>De uenenis</i>, tr. Armengaudus Blasius (1307)</strong>
unpr.; 
Thorndike/Kibre 750, 751 (translator's preface).

</li>

<li>
UC49.*16: 
<strong>William Holme OFM [early 15th cent.]
</strong>
<br>
<strong><i>De simplicibus medicinis</i> (1415), `excerptus a .12. medicine
doctoribus'</strong>
unpr.; Sharpe, <i>Latin Writers</i>, 777.

</li>

<li>
UC49.*17: 
<strong>Philip the Chancellor (Philippe de Gr&egrave;ve) [&dagger;1236]
</strong>
<br>
<span class="biblio_block">
H. Meylan, in an unpublished thesis for the Ecole des chartes (1927), cited
by F. Ueberweg, <i>Grundriss der Geschichte der Philosophie</i>, ed. B. Geyer
(1923&ndash;8), 2. 730, distinguishes Philippus Cancellarius from Philippus de
Greva, with whom he has been customarily identified.
</span>
<br>
<strong><i>Sermones dominicales</i></strong>
unpr.; Schneyer <i>Rep.</i> 4. 818&ndash;25; 
Glorieux <i>R&eacute;p.</i> 119c.

</li>

<li>
UC49.18: 
<strong>Thomas Waleys OP [&dagger;1350]
</strong>
<br>
<strong><i>De modo et forma praedicandi</i></strong>
part ed. T. M. Charland, <i>Artes
praedicandi</i> (Ottawa 1936), 327&ndash;403; Kaeppeli 3898.

</li>

<li>
UC49.*19: 
<strong>Odo of Cheriton [&dagger;1247]
</strong>
<br>
<strong><i>Sermones</i></strong>
part pr. as <i>Flores sermonum</i>, Paris 1520 (Shaaber O39); 
Schneyer <i>Rep.</i> 4. 483&ndash;499.

</li>

<li>
UC49.*20: 
<strong>John Lathbury OFM [&dagger;1362]
</strong>
<br>
<strong><i>Alphabetum morale siue Distinctiones theologicae</i></strong>
unpr.;
Stegm&uuml;ller <i>Bibl.</i> 4758; Bloomfield 0117; Sharpe, <i>Latin Writers</i>, 273.

</li>

<li>
UC49.*25: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Epithalamium super Cantica canticorum</i>, tr. Rufinus</strong>
<i>CPG</i> 1433;
<i>PG</i> 13. 61&ndash;198; ed. W. A. Baehrens, <i>GCS</i> 33 (1925) 61&ndash;241; ed. O. Rousseau,
SChr 37<sup>2</sup> (1966); Stegm&uuml;ller <i>Bibl.</i> 6200.

</li>

<li>
UC49.*26: 
<strong>Gilbert of Hoyland OCist [&dagger;1172], abbot of Swineshead
</strong>
<br>
<strong>Sermons on the Song of Songs 3</strong>
1&ndash;5:10: <i>PL</i> 184. 11&ndash;252; Stegm&uuml;ller 
<i>Bibl.</i> 2493.

</li>

<li>
UC49.*27: 
<strong>Thomas Ringstead OP [&dagger;1366]
</strong>
<br>
<strong>Commentary on Proverbs</strong>
pr. Paris 1510 &amp;c.; Sharpe, <i>Latin
Writers</i>, 676; Kaeppeli 3845; Stegm&uuml;ller <i>Bibl.</i> 8172.

</li>

<li>
UC49.*29: 
<strong>Alexander Bonini de Alexandria OFM [<i>c</i>1270&ndash;1316]
</strong>
<br>
<strong>Commentary on Aristotle's <i>Metaphysica</i></strong>
pr. Venice 1572 (as
Alexander of Hales); Lohr, 354.

</li>

<li>
UC49.31: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>Communia naturalium</i></strong>
ed. Steele, 2&ndash;4. 1&ndash;456 [continuous pagination].

</li>

<li>
UC49.33: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>De multiplicatione specierum</i></strong>
ed. D. C. Lindberg, <i>Roger Bacon's
Philosophy of Nature</i> (Oxford 1983), 1&ndash;269.

</li>

<li>
UC49.33: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De forma resultante in speculo</i>, an extract from Albertus Magnus,
<i>Summa de creaturis</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris
1890&ndash;99), 35. 198&ndash;203; Glorieux <i>R&eacute;p.</i> 312cg.

</li>

<li>
UC49.35: 
<strong>Jordanus de Nemore [early 13th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 7. 171&ndash;9.
</span>
<br>
<strong><i>Elementa super demonstrationem ponderum</i></strong>
ed. E. A. Moody &amp; M. 
Clagett, <i>The Medieval Science of Weights</i> (Madison, WI, 1952), 128&ndash;42;
R. B. Thomson, <i>Med. Stud.</i> 38 (1976) 97&ndash;144; Thorndike/Kibre 1000. 
This work and the longer <i>De ratione ponderis</i> have the same opening 
words; the <i>Elementa</i> has the wider English circulation.

</li>

<li>
UC49.36: 
<strong>Euclid [fl. 300 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ponderibus</i>, Latin tr. from Arabic</strong>
ed. E. A. Moody &amp; M. 
Clagett, <i>The Medieval Science of Weights</i> (Madison, WI, 1952), 26&ndash;31;
Thorndike/Kibre 266, 501.

</li>

<li>
UC49.37: 
<strong>Theodosius [fl. 100 BC]
</strong>
<br>
<strong><i>Sphaerica</i>, tr. Gerald of Cremona</strong>
pr. with Iohannes de Sacro
Bosco's <i>Sphaera</i>, Venice 1518, fols. 91r&ndash;104, 133v&ndash;139v; 
Thorndike/Kibre 1523.

</li>

<li>
UC49.38: 
<strong>Archimedes [<i>c</i>287&ndash;212 BC]
</strong>
<br>
<span class="biblio_block">
M. Clagett in <i>DSB</i> 1. 213&ndash;31.
</span>
<br>
<strong><i>De mensura circuli</i>, tr. from Arabic by Gerard of Cremona</strong>
ed. M. 
Clagett, <i>Archimedes in the Middle Ages</i> (Madison, WI; Philadelphia, PA, 
1964&ndash;84), 1. 40&ndash;58; Thorndike/Kibre 996. 

</li>

<li>
UC49.39: 
<strong>John of Tynemouth [mid 13th cent.], mathematician
</strong>
<br>
<strong><i>De curuis superficiebus</i></strong>
ed. M. Clagett, <i>Archimedes in the Middle 
Ages</i> (Madison, WI; Philadelphia, PA, 1964&ndash;84), 1. 439&ndash;520 (text, 
450&ndash;507); Thorndike/Kibre 277; Sharpe, <i>Latin Writers</i>, 333. 

</li>

<li>
UC49.*41: 
<strong>Walter Burley [1275&ndash;after 1344]
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong>Commentary on Aristotle's <i>Ethica</i></strong>
pr. Venice 1481 (<i>GW</i> 5778), &amp;c.; 
Sharpe, <i>Latin Writers</i>, 718&ndash;19.

</li>

<li>
UC49.*41: 
<strong>Walter Burley [1275&ndash;after 1344]
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong>Commentary on Aristotle's <i>Politica</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 
719&ndash;20.

</li>

<li>
UC49.*42: 
<strong>Eustratius [fl. 1082&ndash;1114]
</strong>
<br>
<strong>(&amp; others), Commentary on Aristotle's <i>Ethica</i>, tr. R. Grosseteste</strong>
 ed. H. F. P. Mercken,  <i>Corpus latinum commentariorum in Aristotelem graecorum</i>
6/1&ndash;3 (Louvain 1973&ndash;91); Thomson, <i>Grosseteste</i>, 68&ndash;70.

</li>

<li>
UC49.43: 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Perspectiua</i></strong>
ed. D. C. Lindberg, <i>John Pecham and the Science of 
Optics</i> (Madison, WI, 1970), 60&ndash;239. [Anonymous copies may be the work of
Alhacen.]

</li>

<li>
UC49.44: 
<strong>Simon Bredon [&dagger;1372]
</strong>
<br>
<span class="biblio_block">
<i>BRUO</i> 257&ndash;8; <i>DSB</i> 2. 435&ndash;6.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De aequatorio planetarum</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 612;
Thorndike/Kibre 1560. 

</li>

<li>
UC49.*47: 
<strong>Alhazen (Abu `Ali al-Hasan ibn al-Hasan ibn al-Haytham) [965&ndash;1038]
</strong>
<br>
<strong><i>De aspectibus</i>, tr. Gerard of Cremona</strong>
ed. F. Risner, <i>Opticae
thesaurus Alhazeni</i> (Basel 1572), 1&ndash;282; Carmody, 139&ndash;40; Thorndike/Kibre 
803, 1208.

</li>

<li>
UC49.*48: 
<strong>Alhazen (Abu `Ali al-Hasan ibn al-Hasan ibn al-Haytham) [965&ndash;1038]
</strong>
<br>
<strong><i>De crepusculis siue De ascensionibus nubium</i>, tr. Gerard of 
Cremona</strong>
pr. with Petrus Nonius's <i>De crepusculis</i>, Lisbon 1541, &amp;c.;
Carmody, 140&ndash;41; Lindberg 1A; Thorndike/Kibre 1022.

</li>

<li>
UC49.*55: 
<strong>Proclus [410/12&ndash;485]
</strong>
<br>
<strong><i>Elementatio theologica</i>, tr. William of Moerbeke</strong>
ed. H. Boese 
(Louvain 1987); Kaeppeli 1608; Glorieux <i>R&eacute;p.</i> 21m. [The usual title in
manuscripts is `Incipiunt propositiones Procli'; there are 211 
propositions, each followed by discussion.]

</li>

<li>
UC49.55: 
<strong>Byrhtferth OSB [early 11th cent.], monk of Ramsey
</strong>
<br>
<strong>Glosses on Bede's <i>De temporum ratione</i></strong>
pr. in <i>Opera Bedae</i> 
(Basel 1563), 2. 49&ndash;173; Sharpe, <i>Latin Writers</i>, 81.

</li>

<li>
UC49.55: 
<strong>William Gillingham OSB [&dagger;1410/11], monk of Christ Church, Canterbury
</strong>
<br>
<strong><i>Tabula de uiris illustribus</i>, `uidelicet de sanctis et egregiis
doctoribus qui hactenus fuerunt in ordine monachorum'</strong>
not known to 
survive; Sharpe, <i>Latin Writers</i>, 771.

</li>

<li>
UC49.*56: 
<strong>Alfred of Shareshill [fl. 1200]
</strong>
<br>
<strong><i>De motu cordis</i></strong>
ed. C. Baeumker, <i>BGPM</i> 23/1&ndash;2 (1932); Thorndike/Kibre 96, 1020.

</li>

<li>
UC49.57: 
<strong>`Hermes'
</strong>
<br>
[<i>dub.</i>]
<strong>`De legibus astrorum'
</strong>
</li>

<li>
UC49.58: 
<strong>`Hermes'
</strong>
<br>
[<i>dub.</i>]
<strong>`Practica astrolabii'
</strong>
</li>

<li>
UC49.61: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>De impressionibus aeris seu De prognosticatione</i></strong>
ed. Baur, 41&ndash;51;
Thomson, <i>Grosseteste</i>, 103&ndash;104.

</li>

<li>
UC49.&dagger;62: 
<strong>Roger of Hereford [late 12th cent.]
</strong>
<br>
<strong><i>De iudiciis astronomiae</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 590; 
Thorndike/Kibre 434. [Book II has the title <i>De tribus generalibus iudiciis 
astronomiae</i>: unpr.; Thorndike/Kibre 1266.]

</li>

<li>
UC49.63: 
<strong>William Heytesbury [1313&ndash;1380]
</strong>
<br>
<strong><i>Sophismata XXXII</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 776.
The abbreviation by Robert Stonham (P6.184) is also unpr.; Sharpe, <i>Latin
Writers</i>, 573.

</li>

<li>
UC49.64: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
<strong><i>Summulae dialectices</i></strong>
ed. Steele, 15. 193&ndash;359; ed. A. de Libera,
<i>AHDLMA</i> 53 (1986) 139&ndash;289 and 54 (1987) 171&ndash;278; Lohr, 117.

</li>

<li>
UC49.*65: 
<strong>Richard Kilvington [&dagger;1362]
</strong>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>De generatione et corruptione</i></strong>
unpr.; 
Sharpe, <i>Latin Writers</i>, 485.

</li>

<li>
UC49.*66a: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>De natura et origine animae</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera 
omnia</i> (Paris 1890&ndash;99), 9. 375&ndash;434; Fauser 30; Glorieux <i>R&eacute;p.</i> 6bj.

</li>

<li>
UC49.*66b: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on Aristotle's <i>De sensu et sensato</i></strong>
ed. A. Borgnet, 
<i>Albert Magni opera omnia</i> (Paris 1890&ndash;99), 9. 1&ndash;93; Fauser 20;
Glorieux <i>R&eacute;p.</i> 6at.

</li>

<li>
UC49.*66c: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on Aristotle's <i>De senectute et iuuentute</i></strong>
ed. A. 
Borgnet, <i>Albert Magni opera omnia</i> (Paris 1890&ndash;99), 9. 305&ndash;319; Fauser 
26; Glorieux <i>R&eacute;p.</i> 6ax.

</li>

<li>
UC49.*66d: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on <i>ps.</i> Aristotle's <i>De respiratione et inspiratione</i></strong>
 ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris 1890&ndash;99), 9. 213&ndash;51;
Fauser 24; Glorieux <i>R&eacute;p.</i> 6ay.

</li>

<li>
UC49.*66<sup>x</sup>: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on Aristotle's <i>De longitudine et breuitate uitae</i></strong>
 ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris 1890&ndash;99), 9. 345&ndash;71; 
Fauser 27; Glorieux <i>R&eacute;p.</i> 6ba.

</li>

<li>
UC49.*66<sup>x</sup>: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on <i>ps.</i> Aristotle, <i>De motu animalium</i></strong>
ed. A. Borgnet, 
<i>Alberti Magni opera omnia</i> (Paris 1890&ndash;99), 9. 257&ndash;300; Fauser 25; 
Glorieux <i>R&eacute;p.</i> 6az.

</li>

<li>
UC49.*66<sup>x</sup>: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentary on Aristotle's <i>De somno et uigilia</i></strong>
ed. A. Borgnet, 
<i>Albert Magni opera omnia</i> (Paris 1890&ndash;99), 9. 121&ndash;207; Fauser 23; 
Glorieux <i>R&eacute;p.</i> 6aw.

</li>

<li>
UC49.*66<sup>x</sup>: 
<strong>Albertus Magnus OP [1193&ndash;1280]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>De intellectu et intelligibili</i></strong>
ed. A. Borgnet, <i>Alberti Magni 
opera omnia</i> (Paris 1890&ndash;99), 9. 477&ndash;525; Fauser 22; Glorieux <i>R&eacute;p.</i> 
6av.

</li>

<li>
UC49.*67: 
<strong>Bartholomew the Englishman [&dagger;1250]
</strong>
<br>
<strong><i>De proprietatibus rerum</i></strong>
pr. Frankfurt 1601; H. Meyer, <i>Die
Enzyklop&auml;die des Bartholom&auml;us Anglicus. Untersuchungen zur &Uuml;berlieferungs-
und Rezeptionsgeschichte von De proprietatibus rerum</i> (Munich 2000);
Sharpe, <i>Latin Writers</i>, 69. A collaborative edition is in progress in the
series De diuersis artibus (Turnhout 2007&ndash;).

</li>

<li>
UC49.69: 
<strong>Alkindus (al-Kindi) [&dagger; after 870]
</strong>
<br>
<strong><i>De mutatione temporum</i>, Latin tr.</strong>
ed. G. Bos &amp; C. S. F.
Burnett, <i>Scientific Weather Forecasting in the Middle Ages. The Writings
of Al-kindi</i> (London 2000), 263&ndash;310; Carmody, 79&ndash;81; Jenks 89, 109;
Thorndike/Kibre 1040 (text), 1364 (prologue), 1383, 1385. The translator 
is not known, but some manuscripts name him unintelligibly as `Agozont'.

</li>

<li>
UC49.71: 
<strong>Thomas Bradwardine [1290&ndash;1349], archbishop of Canterbury
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 244&ndash;6 and 3. xv&ndash;xvi; <i>DSB</i> 2. 390-97.
</span>
<br>
<strong><i>Geometria speculatiua</i></strong>
pr. Paris 1495 (<i>GW</i> 5002), &amp;c.; ed. G.
Molland (Wiesbaden 1989).

</li>

<li>
UC49.72: 
<strong>Euclid [fl. 300 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De speculis</i></strong>
ed. A. A. Bj&ouml;rnbo, <i>Abh. zur Geschichte der
mathematischen Wissenschaften</i> 26/3 (1912) 97&ndash;106; Thorndike/Kibre 1510.

</li>

<li>
UC49.74: 
<strong>Thomas Bradwardine [1290&ndash;1349], archbishop of Canterbury
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 244&ndash;6 and 3. xv&ndash;xvi; <i>DSB</i> 2. 390-97.
</span>
<br>
<strong><i>De proportione uelocitatum in motibus</i></strong>
ed. H. Lamar Crosby
(Madison, WI, 1955); Thorndike/Kibre 984.

</li>

<li>
UC49.*75: 
<strong>Galen [<i>c</i>129&ndash;?199]
</strong>
<br>
<strong>(?), <i>De semine</i>, inc. `Sperma hominis descendit'</strong>
pr. Venice 1508,
1. 38v&ndash;39v; pr. in <i>Galeni opera</i> (Basel 1542), 8. 133&ndash;54; Thorndike/Kibre 
1521.

</li>

<li>
UC49.76: 
<strong>Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</strong>
<br>
<strong><i>Liber maior de coitu</i></strong>
pr. Basel 1536, 1. 299&ndash;307; ed. E. Montero 
Cartelle (Santiago de Compostella 1983); Thorndike/Kibre 272&ndash;3. [Compare 
Alexander, <i>De coitu</i>; <i>Liber minor de coitu</i>.]

</li>

<li>
UC49.*77: 
<strong>Campanus of Novara [&dagger;1296]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 17. 420&ndash;24.
</span>
<br>
<strong><i>Computus maior</i></strong>
pr. with John de Sacro Bosco in <i>Sphaera
mundi</i>, Venice 1518 (Shaaber H332), fols. 153v&ndash;158v; Thorndike/Kibre
1365.

</li>

<li>
UC49.78: 
<strong>Iohannes de Sacro Bosco [early 13th cent.]
</strong>
<br>
<strong><i>Algorismus</i></strong>
ed. J. O. Halliwell, <i>Rara mathematica</i> (London 1839), 
1&ndash;26; ed. F. Saaby Pedersen, Corpus philosophorum Danicorum medii aevi
10/1 (Copenhagen 1983), 174&ndash;201; Thorndike/Kibre 991.

</li>

<li>
UC49.*79: 
<strong>John Walter [&dagger;1412]
</strong>
<br>
<strong><i>Tabulae et canones</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 341&ndash;2.

</li>

<li>
UC49.80: 
<strong>John Killingworth [&dagger;1445]
</strong>
<br>
<strong><i>Algorismus</i></strong>
unpr.; L. C. Karpinski in <i>EHR</i> 29 (1914) 707&ndash;717;
Thorndike/Kibre 181, 974; Sharpe, <i>Latin Writers</i>, 270.

</li>

<li>
UC49.82: 
<strong>John Ashendon [&dagger; after 1365]
</strong>
<br>
<strong><i>De significatione coniunctionis Saturni et Martis in Cancro que
erit 1357 et de significatione coniunctionis magnae Saturni et Iouis
quae erit 1365</i> (1357)</strong>
ed. K. V. Snedegar, DPhil diss. (Oxford 1988), 
341&ndash;92, 393&ndash;433; Sharpe, <i>Latin Writers</i>, 205; Thorndike/Kibre 1489, 
1135.

</li>

<li>
UC49.*83&ndash;4: 
<strong>John Holbroke [&dagger; by 1437]
</strong>
<br>
<strong><i>Tabulae cum canonibus</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 263;
Thorndike/Kibre 1265.

</li>

<li>
UC49.*83&ndash;4: 
<strong>John Holbroke [&dagger; by 1437]
</strong>
<br>
<strong><i>Tabulae cum canonibus</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 263;
Thorndike/Kibre 1265.

</li>

<li>
UC49.86: 
<strong>Simon Bredon [&dagger;1372]
</strong>
<br>
<span class="biblio_block">
<i>BRUO</i> 257&ndash;8; <i>DSB</i> 2. 435&ndash;6.
</span>
<br>
<strong>Commentary on Boethius's <i>Arithmetica</i></strong>
pr. Paris 1495 (as
Thomas Bradwardine); Sharpe, <i>Latin Writers</i>, 611; Thorndike/Kibre 1175.

</li>

<li>
UC49.89: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>pseud.</i>]
<strong>Commentary on Avicenna's <i>De anima</i></strong>
pr. in <i>Sanioris medicinae
Rogeri Baconis de arte chymiae scripta</i> (Frankfurt 1603), 17&ndash;86; 
Singer 124; Thorndike/Kibre 454.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
