{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A" title="AUGUSTINIAN CANONS">AUGUSTINIAN CANONS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A/8" title="Cirencester">Cirencester</a>  &gt; Leland, c. 1536-40</p><h2>AUGUSTINIAN CANONS: Cirencester</h2><h3 class="medieval_catalogue_desc">A9. Leland, c. 1536-40</h3>
<em>12 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
A9.*1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong>Gloss on the Psalms</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1163; Hunt, 
<i>Nequam</i>, 134.

</li>

<li>
A9.*1<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong>Commentary on Proverbs</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1164; Hunt, <i>Nequam</i>,
136&ndash;7.

</li>

<li>
A9.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry58_anchor">Aelred of Rievaulx OCist [1109&ndash;1167], abbot of Rievaulx
</a>
<br>
<strong><i>De Iesu puero duodenni</i></strong>
ed. A. Hoste, <i>CCCM</i> 1 (1971) 249&ndash;78; Hoste,
51&ndash;4.

</li>

<li>
A9.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2393_anchor">Odo of Morimond OCist [&dagger;1161]
</a>
<br>
<span class="biblio_block">
<i>DS</i> 11. 624&ndash;7.
</span>
<br>
<strong><i>Analytica ternarii</i>, the final part of his <i>Analytica</i>, which 
circulated separately</strong>
ed. H. Lange, <i>CIMA</i> 69 (1999); <i>DS</i> 11. 624&ndash;7.

</li>

<li>
A9.*4 = H2.*619: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong>Commentary on Ezra and Nehemiah</strong>
<i>CPL</i> 1349; ed. D. Hurst, <i>CCSL</i> 119A
(1969) 237&ndash;392.

</li>

<li>
A9.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1081_anchor">Geoffrey Babio du Louroux [&dagger;1158], archbishop of Bordeaux
</a>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 162. 1228&ndash;1500 (as Anselm of Laon); 
Stegm&uuml;ller <i>Bibl.</i> 2604, 7899 (as Stephen Langton).

</li>

<li>
A9.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>Laus diuinae sapientiae</i></strong>
ed. T. Wright, RS 34 (1863), 355&ndash;503;
Hunt, <i>Nequam</i>, 138.

</li>

<li>
A9.?*7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2965_anchor">Robert of Cricklade OSA [&dagger; after 1188]
</a>
<br>
<strong><i>Homiliae super Ezechielem</i></strong>
unpr.; Schneyer <i>Rep.</i> 5. 171&ndash;6; Stegm&uuml;ller
<i>Bibl.</i> 7455.

</li>

<li>
A9.*8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2965_anchor">Robert of Cricklade OSA [&dagger; after 1188]
</a>
<br>
<strong><i>De connubio Iacob</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 532; 
Stegm&uuml;ller <i>Bibl.</i> 7447.

</li>

<li>
A9.9 (`de laude gloriosae uirginis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong>Commentary on the Song of Songs</strong>
unpr.; Hunt, <i>Nequam</i>, 137. The work
is sometimes referred to as <i>Laus beatissimae uirginis</i> (C. J. McDonough in
<i>Mediaeval Studies</i> 66 (2004) 99&ndash;128), which was treated as a separate lost 
work by Hunt, <i>Nequam</i>, 130.

</li>

<li>
A9.*10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry143_anchor">Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</a>
<br>
<strong><i>Speculum speculationum</i></strong>
ed. R. M. Thomson, Auctores Britannici medii
aevi 11 (1988); Hunt, <i>Nequam</i>, 137&ndash;8.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>12 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
