{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/334" title="St Andrew's University">St Andrew's University</a>  &gt; List of books bequeathed by Alexander Inglis, 1496</p><h2>SCOTLAND: St Andrew's University</h2><h3 class="medieval_catalogue_desc">S30. List of books bequeathed by Alexander Inglis, 1496</h3>
<em>17 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S30.&para;1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
S30.&para;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2449_anchor">P. Ovidius Naso [43 BC&ndash;AD 17/18]
</a>
<br>
<strong><i>Heroides</i></strong>
ed. R. Ehwald, Teubner (1888).

</li>

<li>
S30.&para;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1967_anchor">Iunianus Maius [fl. 1475]
</a>
<br>
<strong><i>De priscorum proprietate uerborum</i></strong>
pr. [Naples] 1475 (Goff M95),
&amp;c.

</li>

<li>
S30.&para;&dagger;4 (`epistole Marcii Tulii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Epistulae ad Atticum</i></strong>
ed. W. S. Watt, OCT (1965); ed. D. R.
Shackleton Bailey (Cambridge 1965&ndash;70).

</li>

<li>
S30.&para;5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Orationes</i></strong>
pr. Rome 1471 (<i>GW</i> 6761), &amp;c.; ed. A. Klotz &amp; others,
Teubner (1918&ndash;33).

</li>

<li>
S30.&para;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Epistulae ad familiares</i></strong>
ed. D. R. Shackleton Bailey (Cambridge 1977).

</li>

<li>
S30.&para;7a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
S30.&para;7b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Paradoxa stoicorum</i></strong>
ed. O. Plasberg, Teubner (1908); ed. R. Badali (Milan 1968).

</li>

<li>
S30.&para;7c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De amicitia</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
S30.&para;7d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De senectute</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
S30.&para;8a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>Tragoediae</i></strong>
ed. O. Zwierlein, OCT (1986).

</li>

<li>
S30.&para;8b (incomplete): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
S30.&para;9 Sc346.&para;68: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry90_anchor">Albrecht von Eyb [1420&ndash;1475]
</a>
<br>
<strong><i>Margarita poetica de arte dictandi et practicandi epistolas</i></strong>
pr. 
N&uuml;rnberg 1472 (<i>GW</i> 9529), &amp;c.

</li>

<li>
S30.&para;10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1391_anchor">Q. Horatius Flaccus (Horace) [65&ndash;8 BC]
</a>
<br>
<strong><i>Opera</i></strong>
ed. F. Klingner, Teubner (1950); ed. S. Borzs&aacute;k, Teubner 
(1984).

</li>

<li>
S30.&para;&dagger;11 (`epistole Philetpy'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Epistolae selectae</i>, edited with commentary by Martinus Phileticus</strong>
 pr. [Rome <i>c.</i> 1490] (<i>GW</i> 6874), &amp;c.

</li>

<li>
S30.&para;12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1065_anchor">Gasparino Barzizza [<i>c</i>1360&ndash;1431]
</a>
<br>
<span class="biblio_block">
G. G. G. Mercer, <i>The Teaching of Gasparino Barzizza</i> (London 1979).
</span>
<br>
<strong><i>Epistolae</i></strong>
pr. Paris [1470] (<i>GW</i> 3675), &amp;c.; ed. G. A. Furietti,
<i>Gasparini Barzizii Bergomatis opera</i> (Rome 1723), 1. 220&ndash;336.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>17 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
