{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: Peterborough</h2><h3>BP18. Books given by Abbot Henry of Overton (1361-91)</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
BP18.1: 
<strong>Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</strong>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Strassburg 1512 &amp;c.; Schulte, 2. 125.

</li>

<li>
BP18.2: 
<strong>Iohannes de Deo [&dagger;1267]
</strong>
<br>
<strong><i>Liber pastoralis</i></strong>
unpr.; Diaz 1268; Schulte, 2. 96.

</li>

<li>
BP18.4: 
<strong>John of Genoa OP [&dagger; after 1286]
</strong>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
BP18.6: 
<strong>Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</strong>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
BP18.&dagger;7: 
<strong>Willelmus de Rubruk OFM [<i>c</i>1215&ndash;<i>c</i>1270]
</strong>
<br>
<strong><i>Itinerarium ad partes orientales</i></strong>
ed. C. R. Beazley, Hakluyt Soc., 
Extra S. 1 (1903); ed. A. Van den Wyngaert, <i>Sinica Franciscana</i> 1 (Quaracchi 
1929), 164&ndash;332.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
