{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Z" title="CISTERCIANS">CISTERCIANS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Z/379" title="Revesby">Revesby</a>  &gt; Leland, c. 1536-40</p><h2>CISTERCIANS: Revesby</h2><h3 class="medieval_catalogue_desc">Z17. Leland, c. 1536-40</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
Z17.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1082_anchor">Geoffrey of Burton OSB [&dagger;1151], abbot of Burton-on-Trent
</a>
<br>
<strong><i>Vita S. Modwennae</i></strong>
ed. R. J. Bartlett, OMT (2002); <i>BHL</i> 2097; 
Sharpe, <i>Latin Writers</i>, 122.

</li>

<li>
Z17.2 = Z18.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2957_anchor">Robert of Bridlington OSA [&dagger; after 1154]
</a>
<br>
<strong>Commentary on the Minor prophets</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7379,1&ndash;11.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
