{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/387" title="University">University</a>  &gt; Gift of books by Humfrey Duke of Gloucester, 25 November 1439</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University</h2><h3 class="medieval_catalogue_desc">UO1. Gift of books by Humfrey Duke of Gloucester, 25 November 1439</h3>
<em>151 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO1.1&ndash;3 (3 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
UO1.4&ndash;7 (`dictionarius', 4 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2541_anchor">Pierre Bersuire [<i>c</i>1290&ndash;1362]
</a>
<br>
<span class="biblio_block">
C. Samaran in <i>HLF</i> 39 (1962) 259&ndash;450.
</span>
<br>
<strong><i>Repertorium morale siue Dictionarius biblicus</i></strong>
pr. N&uuml;rnberg 1489 
(<i>GW</i> 3866), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 6427.

</li>

<li>
UO1.9 (`concordancia biblie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry670_anchor"><i>Concordantia maior</i>, the so-called `third concordance' compiled by the
Dominicans of Saint-Jacques, Paris</a>
pr. Strassburg, [not after 1474] (<i>GW</i>
7418) (under the name Conradus de Alemannia), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
1999, 3605&ndash;6; R. H. Rouse &amp; M. A. Rouse in <i>AFP</i> 44 (1974) 5&ndash;30; 
Kaeppeli 755 (as Conradus de Halberstadt OP). Rouse &amp; Rouse show that the
work circulated in Paris by 1286; the attribution to Conrad is made only
in the printed editions. [For the so-called `second concordance' or 
`English concordance', see Richard Stainsby.]

<br>
</li>

<li>
UO1.10a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry913_anchor">Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</a>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
UO1.10b (`Beda de gestis Anglorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
UO1.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong>(and Epiphanius), <i>Historia tripartita</i></strong>
<i>CPL</i> 899, 2269. [See W. Jacob 
&amp; R. Hanslik, <i>Handschriftliche &Uuml;berlieferung der sogen. Historia Tripartita</i> 
(Berlin 1954).] [Almost invariably anonymous in catalogues.]

</li>

<li>
UO1.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong>Commentary on Acts of the Apostles</strong>
<i>CPL</i> 1357, 1358; ed. M. L. W. 
Laistner, <i>CCSL</i> 121 (1983) 1&ndash;99, 103&ndash;163.

</li>

<li>
UO1.13 (attrib. G. de la Porr&eacute;e): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1149_anchor">Gilbert of Hoyland OCist [&dagger;1172], abbot of Swineshead
</a>
<br>
<strong>Sermons on the Song of Songs 3</strong>
1&ndash;5:10: <i>PL</i> 184. 11&ndash;252; Stegm&uuml;ller 
<i>Bibl.</i> 2493.

</li>

<li>
UO1.14 (`Ricardus de Sancto Victore', identified from 2<sup>o</sup> fo., confirmed
   by Gascoigne): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>De potestate ligandi et soluendi</i></strong>
<i>PL</i> 196. 1159&ndash;78;
ed. J. Ribaillier, <i>Richard de Saint-Victor. Opuscules th&eacute;ologiques</i> (Paris 1967), 77&ndash;110;
Stegm&uuml;ller <i>Bibl.</i> 7340.

</li>

<li>
UO1.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong>Homilies on Numbers, tr. Rufinus</strong>
<i>CPG</i> 1418; ed. W. A. Baehrens, <i>GCS</i> 
30 (1921) 3&ndash;285; Stegm&uuml;ller <i>Bibl.</i> 6178.

</li>

<li>
UO1.16 (`psalterium glosatum', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong>Gloss on the Psalms (<i>Magna glosatura</i>)</strong>
<i>PL</i> 191. 55&ndash;1296;
Stegm&uuml;ller <i>Bibl.</i> 6637.

</li>

<li>
UO1.17 (`I. Deuor' super historiam scripture'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1661_anchor">John Deverose [fl. 1360]
</a>
<br>
<strong><i>Illustrationes super historias sanctae scripturae</i></strong>
not known to
survive; Stegm&uuml;ller <i>Bibl.</i> 4427.

</li>

<li>
UO1.*18 (`Beda de temporibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>De temporum ratione</i>, inc. `De natura rerum et ratione temporum' 
(pref.), `De temporum ratione domino iuuante' (text)</strong>
<i>CPL</i> 2320; ed. 
C. W. Jones, <i>CCSL</i> 123B (1977) 263&ndash;460. [There will be further copies 
referred to as <i>De temporibus</i>, which, without corroboration, cannot be 
correctly identified.]

</li>

<li>
UO1.18 (`Musca super cantica canticorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1839_anchor">John Ridewall OFM [&dagger; after 1340]
</a>
<br>
<strong>Commentary on Proverbs and the Song of Songs</strong>
not known to survive; 
Stegm&uuml;ller <i>Bibl.</i> 4884; Sharpe, <i>Latin Writers</i>, 301. 

</li>

<li>
UO1.19&ndash;20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2560_anchor">Peter of Cornwall OSA [1140&ndash;1221]
</a>
<br>
<strong><i>Pantheologus</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 425&ndash;6.

</li>

<li>
UO1.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1884_anchor">Iohannes de Tambaco (Johann von Dambach) OP [1288&ndash;1372]
</a>
<br>
<strong><i>Consolatio theologiae</i></strong>
pr. Mainz [<i>c.</i> 1470/75] (Goff J435), 
&amp;c.; Kaeppeli 2256.

</li>

<li>
UO1.&dagger;22 (`flores certorum librorum Augustini'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2763_anchor">Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</a>
<br>
<strong><i>De uera innocentia ex operibus S. Augustini</i></strong>
<i>CPL</i> 525; 
ed. M. Gastaldo, <i>CCSL</i> 68A (1972) 257&ndash;365.

</li>

<li>
UO1.23&ndash;24 ('prima pars Petri Damiani', 'secunda pars eiusdem'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2564_anchor">Peter Damian OSB [1007&ndash;1072]
</a>
<br>
<strong><i>Epistolae</i></strong>
ed. K. Reindel, <i>Die Briefe des Petrus Damiani</i>, 4 vols, 
MGH <i>Die Briefe der deutschen Kaiserzeit</i> 4 (1983&ndash;93). Peter's treatises
are mostly addressed as letters; what appears as <i>opuscula</i> in <i>PL</i> 145 
appears as letters here. Kirkestede's source is unknown.

</li>

<li>
UO1.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2643_anchor">Francesco Petrarca [1304&ndash;1374]
</a>
<br>
<strong><i>De uita solitaria</i></strong>
pr. [Strassburg, not after 1473] (Goff P417), &amp;c.; 
ed. G. Martellotti &amp; others, <i>Petrarca. Prose</i> (Milan 1955), 286&ndash;591.

</li>

<li>
UO1.*26 (`Beda de temporibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
<strong><i>De temporibus</i></strong>
<i>CPL</i> 2318; ed. C. W. Jones, <i>CCSL</i> 123C (1980) 
585&ndash;611. [The same title is also used to refer to Bede, <i>De temporum ratione</i>
(<i>CPL</i> 2320), and unconfirmed entries may be either work; where there is
some corroboration, it always points to  <i>De temporum ratione</i>, though
sometimes manuscript catalogues have simply accepted the medieval title and
not confirmed the text, e.g. James, <i>St John's</i>, 31. The cumulative indexing
has led to reassignment of identifications in a number of cases.] 

</li>

<li>
UO1.&dagger;27 (`tabula super diuersos libros Augustini', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>Tabulae originalium Augustini</i></strong>
unpr.; D. A. Callus in <i>Studia 
mediaevalia R. J. Martin</i> (Bruges 1948), 243&ndash;70; Kaeppeli 3521.

</li>

<li>
UO1.28 (`Epistole Cassiodori', identified from 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry634_anchor"><i>Ps.</i> Clement of Rome
</a>
<br>
<strong><i>Epistola ad Iacobum fratrem Domini</i>, transmitted with the 
<i>Recognitiones</i> in some copies</strong>
ed. B. Rehm &amp; G. Strecker, <i>GCS</i> 51 
(1993<sup>2</sup>), 375&ndash;87. A second letter is first attested in the 
<i>ps.</i>-Isidorean decretals (<i>PL</i> 56. 893&ndash;6); it too circulated with the 
<i>Recognitiones</i>.

</li>

<li>
UO1.&dagger;28 (`epistole Cassiodori', but 2nd fo. does not fit): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong><i>Variae</i></strong>
<i>CPL</i> 896; ed. $caring$$. J. Fridh, <i>CCSL</i> 96 (1973) 3&ndash;499.

</li>

<li>
UO1.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
UO1.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
UO1.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 875&ndash;1286; ed. O. Faller &amp; M. Zelzer,
<i>CSEL</i> 82/1&ndash;3 (1968&ndash;90). [The letters were reordered by Faller &amp; Zelzer; for
a concordance, see <i>CSEL</i> 82/2 (1990) x&ndash;xiv.]

</li>

<li>
UO1.32a (`Petrus de Vineis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2638_anchor">Petrus de Vinea [&dagger;1249], chancellor to Frederick II
</a>
<br>
<strong><i>Summa dictaminis</i></strong>
ed. S. Schardius, <i>Epistolarum Petri de Vineis 
libri VI</i> (Basel 1566); manuscripts listed by H. M. Schaller, <i>Deutsches 
Archiv</i> 12 (1956) 114&ndash;59. 

</li>

<li>
UO1.32b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2544_anchor">Peter of Blois [&dagger;1211], archdeacon of Bath
</a>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 207. 1&ndash;560; L. Wahlgren, <i>The Letter Collection of 
Peter of Blois. Studies in the Manuscript Tradition</i>, Studia Graeca et Latina
Gothoburgensia 58 (1993).

</li>

<li>
UO1.&dagger;33 (`tabula originalium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>Tabula super originalia patrum</i></strong>
unpr.; Kaeppeli 3521; Sharpe, 
<i>Latin Writers</i>, 564.

</li>

<li>
UO1.34 (`epistole'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry714_anchor">Cyprian of Carthage [&dagger;258], bishop of Carthage
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 50; ed. G. F. Diercks, <i>CCSL</i> 3B, 3C (1994&ndash;5). Copies
include most of the shorter treatises among the letters; see Rouse &amp; Rouse,
<i>Registrum</i>, 145.

</li>

<li>
UO1.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry345_anchor">Athanasius [<i>c</i>296&ndash;373], patriarch of Alexandria
</a>
<br>
<strong><i>De trinitate</i>, a standard Athanasian group of texts, comprising</strong>
&ndash;
<i>a.</i>  <i>De trinitate</i>, Books I&ndash;VII (attributed by Morin to Eusebius 
Vercellensis): <i>CPL</i> 105; ed. V. Bulhart, <i>CCSL</i>9 (1957) 3&ndash;99; Book VIII, 
ib. 115&ndash;18 (a later addition). [The work circulated under the names of 
Athanasius, Ambrosius, Vigilius Thapsensis.]
<i>b.</i> A form of the Nicene Creed with 
commentary: <i>CPL</i> 552; ed. V. Bulhart, 129&ndash;32 (Book IX), 135&ndash;45 (Book X). 
<i>c.</i> <i>De trinitate et de spiritu sancto</i>: ed. V. Bulhart, 165&ndash;205. 
<i>d.</i> Vigilius Thapsensis, <i>Contra arianos</i>: <i>CPL</i> 807. The final part, 
<i>Sententia Probi iudicis</i>, is sometimes treated as a separate book. 
<i>e.</i> Potamius, <i>Epistola ad Athanasium</i>: <i>CPL</i> 542. 
<i>f.</i> <i>Ps.</i> Athanasius, <i>Ep.</i> 2, <i>ad Luciferum</i>: <i>PL</i> 13. 1039&ndash;42; see <i>CPL</i> 117. 
<i>g.</i> <i>Ps.</i> Vigilius Thapsensis, <i>Solutiones obiectionum arianorum</i>: <i>CPL</i> 812. 

</li>

<li>
UO1.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De sermone Domini in monte</i></strong>
<i>CPL</i> 274; ed. A. Mutzenbecher, <i>CCSL</i> 35 (1967).

</li>

<li>
UO1.38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry1982_anchor">Lactantius Firmianus [fl. 305&ndash;323]
</a>
<br>
<strong><i>Diuinae institutiones</i></strong>
<i>CPL</i> 85.

</li>

<li>
UO1.39 (`liber Iuliani episcopi de origine mortis humane', 2<sup>o</sup> fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1958_anchor">Julian of Toledo [&dagger;690], bishop of Toledo
</a>
<br>
<strong><i>Prognosticon futuri saeculi</i></strong>
<i>CPL</i> 1258; ed. J. N. Hillgarth, <i>CCSL</i> 
115 (1976) 11&ndash;126.

</li>

<li>
UO1.40 (`Seneca de causis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3094_anchor">Seneca the Elder [55 BC&ndash;AD <i>c</i>40]
</a>
<br>
<strong><i>Declamationes</i></strong>
ed. H. J. M&uuml;ller (Vienna 1887); ed. L. 
H$aring$$kanson, Teubner (1989).

</li>

<li>
UO1.41 (`liber de extraccione sermonum cum dictis Lincoln''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2973_anchor">Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</a>
<br>
<strong><i>Dicta CXLVII</i></strong>
part ed. E. Brown, <i>Fasciculus rerum expetendarum</i> 
(London 1690), 2. 258&ndash;305; Thomson, <i>Grosseteste</i>, 214&ndash;32.

</li>

<li>
UO1.&Dagger;42 (`Cato moralizatus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2651_anchor">Philippus de Bergamo [&dagger; <i>c</i>1380]
</a>
<br>
<strong><i>Speculum regiminis</i></strong>
pr. Augsburg 1475 (<i>GW</i> 6277),
&amp;c.; Bloomfield 3615. The work is a commentary on <i>Disticha Catonis</i>.

</li>

<li>
UO1.42 (`Cato moralizatus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry806_anchor"><i>Disticha Catonis</i></a>
ed. M. Boas &amp; H. Botschuyver (Amsterdam 1952); Manitius,
<i>HSS</i>, 164&ndash;9. [For glossed texts in late medieval contexts, see Philippus de 
Bergamo and Robertus de Euromodio.]

<br>
</li>

<li>
UO1.43a (` . . cum commento'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>De anima</i>, Latin tr. from Arabic by Michael Scot</strong>
pr. Padua 1472 (<i>GW</i> 
2349), &amp;c.; Thorndike/Kibre 179, 1271. 
Latin tr. from Greek by James of Venice [<i>AL</i> 12/1], ed. J. Decorte &amp; J. Brams,
<i>ALD</i>. 
Latin tr. from Greek by William de Moerbeke [<i>AL</i> 12/2], pr. with Thomas 
Aquinas's commentary, ed. R. A. Gauthier, <i>STO</i> 45/1 (1984).  

</li>

<li>
UO1.43b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry370_anchor">Averroes (Ibn Rushd) [1126&ndash;1198]
</a>
<br>
<strong><i>Commentarium magnum</i> on Aristotle's <i>Ethica</i>, tr. Michael Scot</strong>
 pr. <i>Aristotelis omnia quae extant opera</i>, 11 vols. (Venice 1573&ndash;6), vol. 
2; ed. F. S. Crawford, <i>CCAA</i> 6/1, Medieval Academy of America 59 (1953).

</li>

<li>
UO1.44 (`liber eticorum', but 2nd fo. does not fit): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
UO1.45 (`policraticon', anon., 2<sup>o</sup> fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1858_anchor">John of Salisbury [<i>c</i>1115&ndash;1180], bishop of Chartres
</a>
<br>
<strong><i>Policraticus</i></strong>
ed. C. C. J. Webb (Oxford 1909); I&ndash;IV, ed. K. S. B.
Keats-Rohan, <i>CCCM</i> 118 (1993).

</li>

<li>
UO1.46 (Y. in ethimologiis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
UO1.47 (`Franciscus rerum memorendarum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2643_anchor">Francesco Petrarca [1304&ndash;1374]
</a>
<br>
<strong><i>Rerum memorandarum libri</i></strong>
pr. [Louvain 1483] (Goff P406); 
ed. G. Billanovich (Florence 1943).

</li>

<li>
UO1.48 (`liber Platonis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2691_anchor">Plato [429&ndash;347 BC]
</a>
<br>
<strong><i>Phaedo</i>, tr. Leonardo Bruni</strong>
unpr.; preface, ed. H. Baron, <i>Leonardo 
Bruni</i> (Berlin 1928), 3&ndash;4.

</li>

<li>
UO1.49 (`etica A. traducta per Leonardum Aleatinum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Ethica</i>, tr. Leonardo Bruni (1417)</strong>
pr. Cologne <i>c.</i> 1470 (<i>GW</i> 2384, 
5614), &amp;c.; prefaces, ed. H. Baron, <i>Leonardo Bruni. 
Humanistisch-Philosophische Schriften</i> (Berlin 1928), 75&ndash;81.

</li>

<li>
UO1.50 (`politeca A. traducte per eundem'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Politica</i>, tr. Leonardo Bruni (1437)</strong>
pr. [Barcelona <i>c.</i> 1481] (<i>GW</i> 
2446), &amp;c.; prefaces, ed. H. Baron,<i>Leonardo Bruni</i> (Berlin 1928), 70&ndash;74.

</li>

<li>
UO1.51 (`Seneca de breuitate uite', dial. 10): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>Dialogi</i></strong>
ed. L. D. Reynolds, OCT (1977). [The itemization of the
Dialogues in a manuscript such as BA1.1613 is misleading; <i>De otio</i> (dial. 8) 
and <i>Consolatio ad Polybium</i> (<i>dial.</i> 11) were no doubt present but subsumed 
under the preceding dialogues, as in the extant copies, since the starts of 
both texts were already missing in the archetype.] 

</li>

<li>
UO1.52 (`Franciscus de remediis fortuitorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2643_anchor">Francesco Petrarca [1304&ndash;1374]
</a>
<br>
<strong><i>De remediis utriusque fortunae</i></strong>
pr. [Strassburg <i>c.</i> 1475] (Goff 
P407), &amp;c.; ed. W. Fiske (Florence 1887). 

</li>

<li>
UO1.53: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De officiis</i></strong>
ed. M. Winterbottom, OCT (1994).

</li>

<li>
UO1.&dagger;54 (`libri Galieni', possible 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong>Commentary on Hippocrates' <i>Aphorismata</i>, Latin tr.</strong>
pr. in the 
<i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 2678), &amp;c.; <i>HL</i> 39&ndash;40.

</li>

<li>
UO1.55 (`compendium medicine secundum Gilbertinum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1144_anchor">Gilbertus Anglicus [early 13th cent.]
</a>
<br>
<strong><i>Compendium seu Lilium medicinae</i></strong>
pr. Lyon 1510; Sharpe, <i>Latin 
Writers</i>, 144; Thorndike/Kibre 3, 881.

</li>

<li>
UO1.56 (comm.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1368_anchor">Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</a>
<br>
<strong><i>Aphorismata</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 
2678), &amp;c.; many versions are listed in <i>HL</i> 29&ndash;90.

</li>

<li>
UO1.&dagger;56 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong>Commentary on Hippocrates' <i>Aphorismata</i>, Latin tr.</strong>
pr. in the 
<i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 2678), &amp;c.; <i>HL</i> 39&ndash;40.

</li>

<li>
UO1.57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1368_anchor">Hippocrates [<i>c</i>460&ndash;<i>c</i>380 BC]
</a>
<br>
<strong><i>Aphorismata</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] (<i>GW</i> 
2678), &amp;c.; many versions are listed in <i>HL</i> 29&ndash;90.

</li>

<li>
UO1.58 (`expositio super artem medicine'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry335_anchor"><i>Articella</i>, a standard collection of medical works</a>
pr. [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.

<br>
</li>

<li>
UO1.59 (`Bernardus de urinis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry453_anchor">Bernard de Gordon [&dagger; <i>c</i>1320]
</a>
<br>
<strong><i>De conseruatione uitae humanae</i></strong>
pr. Lyon 1574, 669&ndash;855;
L. E. Dema&icirc;tre, <i>Doctor Bernard de Gordon, Professor and Practitioner</i> (Toronto
1980), 176&ndash;7; Thorndike/Kibre 637 (<i>De phlebotomia</i>), 433 (<i>De urinis</i>), 
1150 (<i>De pulsibus</i>), 1420 (<i>Regimen sanitatis</i>). The four parts are often 
found separately.

</li>

<li>
UO1.60 (`Alexander Gerosophista'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry129_anchor">Alexander of Aphrodisias [early 3rd cent.]
</a>
<br>
<strong><i>Expositio libri meteorologicarum Aristotelis</i>, tr. William of 
Moerbeke</strong>
ed. A. J. Smet,  <i>Corpus latinum commentariorum in Aristotelem 
graecorum</i> 4 (Louvain 1968); Kaeppeli 1586.

</li>

<li>
UO1.&dagger;60 (`Alexander gerosofista'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry148_anchor">Alexander of Tralles [early 6th cent.]
</a>
<br>
<strong><i>De medicina</i></strong>
pr. Lyon 1504 &amp;c.; tr. F. L. E. Brunet, <i>Oeuvres 
m&eacute;dicales d'Alexandre de Tralles</i> (Paris 1933&ndash;7); Thorndike/Kibre 259.

</li>

<li>
UO1.61: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong><i>De elementis</i>, Latin tr.</strong>
pr. Venice 1490 (<i>GW</i> 10481), 2. 
217r&ndash;235v; Thorndike/Kibre 1269.

</li>

<li>
UO1.62 (`tercius et quintus liber canonum A.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 15. 494&ndash;501.
</span>
<br>
<strong><i>Canon medicinae</i>, tr. Gerard of Cremona</strong>
pr. Milan 1473 (<i>GW</i> 3115,
<i>CIBN</i> A806), [Strassburg, not before 1473] (<i>GW</i> 3114, <i>CIBN</i> A807), &amp;c. 

</li>

<li>
UO1.63 (`Vincentius super libros Ypocratis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3483_anchor">Vincentius [ unkn. ]
</a>
<br>
<strong>Commentary on Hippocrates</strong>
not identified.

</li>

<li>
UO1.64 (`Constantinus in pantegni'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
<strong><i>Pantegni</i></strong>
pr. Lyon 1515, 2. 1r&ndash;57v  (<i>Theorica Pantegni</i>), 58r&ndash;144r
(<i>Practica Pantegni</i>) (with the works of Isaac Iudaeus); Thorndike/Kibre 348,
1221. Manuscripts are listed in C. S. F. Burnett &amp; D. Jacquart, <i>Constantine the
African and `Ali ibn al-`Abbas al-Magusi</i> (Leiden 1994), 316&ndash;51.

</li>

<li>
UO1.65 (`lilium Bernardi de Gordonio'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry453_anchor">Bernard de Gordon [&dagger; <i>c</i>1320]
</a>
<br>
<strong><i>Lilium medicinae</i></strong>
pr. Naples 1477 (<i>GW</i> 4080), &amp;c.; Thorndike/Kibre
772.

</li>

<li>
UO1.66 (`Petrus Hispanus de pulsibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2573_anchor">Petrus Hispanus (later John XXI) [<i>c</i>1205&ndash;1277, <i>sedit</i> 1276&ndash;1277]
</a>
<br>
<span class="biblio_block">
J. Meirinhos, `Les manuscrits et l'attribution d'oeuvres &agrave; Petrus
Hispanus', in <i>Florilegium mediaevale. &Eacute;tudes offertes &agrave; Jacqueline Hamesse
&agrave; l'occasion de son &eacute;m&eacute;ritat</i> (Louvain-la-Neuve 2009),349&ndash;77.
</span>
<br>
<strong>Gloss on Philaretus, <i>De pulsibus</i></strong>
unpr.; Diaz 1394; Thorndike/Kibre 
1277, 1624.

</li>

<li>
UO1.67 (anon., 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry995_anchor">L. Annaeus Florus [early 2nd cent.]
</a>
<br>
<strong><i>Epitoma de Tito Liuio</i></strong>
pr. [Paris 1471] (<i>GW</i> 10092), &amp;c.; ed. 
E. Malcovati (Rome 1972<sup>2</sup>).

</li>

<li>
UO1.67b (`cum arte medicine'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry335_anchor"><i>Articella</i>, a standard collection of medical works</a>
pr. [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.

<br>
</li>

<li>
UO1.68 (anon., 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry995_anchor">L. Annaeus Florus [early 2nd cent.]
</a>
<br>
<strong><i>Epitoma de Tito Liuio</i></strong>
pr. [Paris 1471] (<i>GW</i> 10092), &amp;c.; ed. 
E. Malcovati (Rome 1972<sup>2</sup>).

</li>

<li>
UO1.69 (`Serapion de simplicibus medicinis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3103_anchor">Serapion the Younger [13th century]
</a>
<br>
<strong><i>Liber aggregationum in medicinis simplicibus</i>, tr. Simon of Genoa and
Abraham of Tortosa</strong>
pr. Milan 1473 (Goff S467), &amp;c.; Thorndike/Kibre 1077.

</li>

<li>
UO1.70 (`collectarium Aueroise'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry370_anchor">Averroes (Ibn Rushd) [1126&ndash;1198]
</a>
<br>
<strong><i>Colliget</i>, tr. Armengaud Blasius</strong>
pr. <i>Aristotelis omnia quae extant 
opera</i> (Venice 1573&ndash;6), 10. 1r&ndash;172v; Thorndike/Kibre 1171.

</li>

<li>
UO1.71 (`Serapion in practica'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3102_anchor">Serapion the Elder (Yuhanna ibn Sarabiyun) [late 9th cent.]
</a>
<br>
<strong><i>Practica</i>, tr. Gerard of Cremona</strong>
pr. as <i>Breuiarium medicinae</i>, 
Venice 1479 (Goff S465), &amp;c.; Thorndike/Kibre 723.

</li>

<li>
UO1.72 (`Rasis ad Almansorem'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2849_anchor">Razes (Abu Bakr Muhammad Ibn Zakariyya al-Razi) [865&ndash;925]
</a>
<br>
<strong><i>Liber Almansoris</i>, tr. Gerard of Cremona</strong>
pr. Milan 1481 (Goff 
R175), fols. 7r&ndash;114r; &amp;c.; Carmody, 134&ndash;5; Thorndike/Kibre 272, 679.

</li>

<li>
UO1.&Dagger;73 (`cirurgigia Brunii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry530_anchor">Brunus Longoburgensis [13th cent.]
</a>
<br>
<strong><i>Chirurgia maior</i></strong>
pr. Venice 1498 (<i>GW</i> 11696), fols. 83r&ndash;102v;
Thorndike/Kibre 101, 1076, 1363.

</li>

<li>
UO1.74 (`Bartholomeus in practica'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry412_anchor">Bartholomew of Salerno [early 12th cent.]
</a>
<br>
<strong><i>Practica medicinae</i></strong>
ed. Renzi, 4. 321&ndash;406; Thorndike/Kibre 1080.

</li>

<li>
UO1.75 (`Ysaac de febribus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1943_anchor">Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</a>
<br>
<strong><i>Liber febrium</i>, tr. Constantinus Africanus</strong>
pr. Lyon 1515, 
1. 203v&ndash;226v; Thorndike/Kibre 820, 1304.

</li>

<li>
UO1.76 (`Gerardus super uiaticum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1114_anchor">Gerardus Bituricensis [13th cent.] 
</a>
<br>
<span class="biblio_block">
Wickersheimer, 203, 204&ndash;5, distinguishes Gerardus Bituricensis, i.e.
Gerard de Berry, from Gerard of Montpellier.
</span>
<br>
<strong>Commentary on Constantinus's <i>Viaticum</i></strong>
pr. Venice
1505, 89r&ndash;192r; Thorndike/Kibre 324, 325; Wickersheimer, 203.

</li>

<li>
UO1.77 (`passionarium Theodori Presc''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3306_anchor">Theodorus Priscianus [4th cent.]
</a>
<br>
<strong><i>Gynaecia</i></strong>
ed. V. Rose, <i>Theodori Prisciani Euporiston libri III</i>, 
Teubner (1894), 224&ndash;8; Thorndike/Kibre 755, 847, 884.

</li>

<li>
UO1.&dagger;78 (`expositio super nono Almazoris'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1127_anchor">Gerardus de Solo [early 14th cent.]
</a>
<br>
<strong><i>Practica super nono Almansoris</i></strong>
pr. with Razes' <i>Liber Almansoris</i>, 
Padua 1480 (Goff R179), &amp;c.; Thorndike/Kibre 220 &amp;c.

</li>

<li>
UO1.79 (`Gerardus de modo medendi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1120_anchor">Gerard of Montpellier [13th cent.]
</a>
<br>
<strong><i>Summa de modo medendi</i>, inc. `Cum omnis scientia'</strong>
unpr.; 
Thorndike/Kibre 327; Wickersheimer, 204&ndash;5. [See also Copho for a similar
text.]

</li>

<li>
UO1.81 (`Mesue de simplicibus et compositis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1784_anchor">Iohannes Mesue (Masawaih al-Mardini) [&dagger;1015]
</a>
<br>
<strong><i>De consolatione medicinarum simplicium</i>, also titled <i>De simplicibus 
medicinis</i></strong>
pr. in his <i>Opera medicinalia</i>, [Venice 1471] (Goff M508), fols. 
1r&ndash;55v, &amp;c.; Thorndike/Kibre 415, 1493.

</li>

<li>
UO1.82 (`Platearius de simplicibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2688_anchor">Matthaeus Platearius [&dagger;1161]
</a>
<br>
<strong><i>De simplicibus medicinae</i></strong>
pr. with the works of Serapion, Venice 1497 
(Goff S466), &amp;c.; <i>VL</i><sup>2</sup> 1. 1282&ndash;5; Thorndike/Kibre 211, 84. [See also 
John of Saint-Paul. There is a medieval French translation, ed. P. 
Dorveaux (Paris 1913).]

</li>

<li>
UO1.83 (`Willelmus de Saliceto uel Placencia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3780_anchor">Willelmus de Saliceto [<i>c</i>1210&ndash;<i>c</i>1280]
</a>
<br>
<strong><i>De salute corporis</i></strong>
pr. [Netherlands, not after 1472] (ISTC), Cologne 
1495 (Goff S30), &amp;c.; &para;*pr. London 1509 (<i>STC</i> 12512); Thorndike/Kibre 1165, 
1370.

</li>

<li>
UO1.84 (`Plinius de naturis rerum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2697_anchor">C. Plinius Secundus (Pliny the Elder) [AD 23&ndash;79]
</a>
<br>
<strong><i>Historia naturalis</i></strong>
ed. L. van Jan &amp; K. Mayhoff, Teubner (1892&ndash;1906).

</li>

<li>
UO1.85 (`liber philosophorum Aristotelis comen''): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Libri naturales</i>, a collection comprising Aristotle's <i>Physica</i>,
<i>De generatione et corruptione</i>, <i>De caelo</i>, <i>Meteora</i> I&ndash;III, <i>De plantis</i>,
and the <i>pseudo</i>-Aristotelian <i>Liber de causis</i> and <i>De differentia spiritus
et animae</i>; in the late 13th cent. new translations from Greek were substituted
for those from Arabic</strong>
<i>AL Codd.</i> 1. 49&ndash;51 for analysis.

</li>

<li>
UO1.86 (`afforismi Vrsonis cum commento'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/U/#entry3444_anchor">Urso of Calabria [late 12th cent.]
</a>
<br>
<strong><i>Liber aphorismorum</i></strong>
ed. G. von Jagow, diss. (Leipzig 1924); 
Thorndike/Kibre 258.

</li>

<li>
UO1.87 (`tabula Belingam') = UO4.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2898_anchor">Richard Billingham [&dagger; after 1361]
</a>
<br>
<strong><i>Tabula logicae et philosophiae</i></strong>
not known to survive.

</li>

<li>
UO1.88: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De mundo</i>, tr. Nicholaus Siculus</strong>
ed. W. L. Lorimer &amp; L. Minio
Paluello, <i>AL</i> 11/1&ndash;2 (1965<sup>2</sup>), 29&ndash;49; Thorndike/Kibre 891.

</li>

<li>
UO1.90 (`Auicenna et Albertus in diuersis philosophie contentis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
[<i>pseud.</i>]
<strong>unspec.
</strong>
</li>

<li>
UO1.*91<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry84_anchor">Albericus Remensis [13th cent.]
</a>
<br>
<strong><i>Philosophia</i></strong>
ed. R.-A. Gauthier in <i>Revue des sciences philosophiques
et th&eacute;ologiques</i> 68 (1984) 3&ndash;49 (text, 29&ndash;48).

</li>

<li>
UO1.92: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<strong>Commentary on Aristotle's  <i>Meteora</i></strong>
ed. P. Hossfeld <i>AMO</i> 6/1 (2003); 
Fauser 16; Glorieux <i>R&eacute;p.</i> 6af.

</li>

<li>
UO1.93: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<strong><i>De animalibus</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera omnia</i> (Paris
1890&ndash;99), vols. 11&ndash;12; ed. H. Stadler, BGPM 15&ndash;16 (1916); Fauser 29;
Glorieux <i>R&eacute;p.</i> 6bf.

</li>

<li>
UO1.*94: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry373_anchor">Avicenna (Abu `Ali al-Husain ibn `Abdallah Ibn Sina) [980&ndash;1037]
</a>
<br>
<strong><i>Metaphysica</i>, tr. Dominicus Gundisalvi</strong>
pr. in <i>Auicennae opera</i>
(Venice 1508), 70r&ndash;109v; Diaz 1026; Thorndike/Kibre 1068.

</li>

<li>
UO1.95 = UO4.17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>Tragoediae</i></strong>
ed. O. Zwierlein, OCT (1986).

</li>

<li>
UO1.96a (`liber Alfragani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry152_anchor">Alfraganus (Ahmad Ibn Muhammad al-Farghani) [&dagger; after 861]
</a>
<br>
<strong><i>Liber de aggregationibus scientiae stellarum</i>, tr. Gerard of 
Cremona</strong>
ed. R. Campani (Florence 1910); Thorndike/Kibre 960. Or the same 
work, <i>De scientia astrorum</i>, tr. John of Seville and known as <i>De 
differentiis</i>: pr. Ferrara 1493 (<i>GW</i> 1268); ed. F. J. Carmody (Berkeley, 
CA, 1943); Carmody, 115; Diaz 970; Thorndike/Kibre 429, 960.

</li>

<li>
UO1.96b (`Alicen') ? = UO3A.6a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry162_anchor">Alhazen (Abu `Ali al-Hasan ibn al-Hasan ibn al-Haytham) [965&ndash;1038]
</a>
<br>
<strong><i>De aspectibus</i>, tr. Gerard of Cremona</strong>
ed. F. Risner, <i>Opticae
thesaurus Alhazeni</i> (Basel 1572), 1&ndash;282; Carmody, 139&ndash;40; Thorndike/Kibre 
803, 1208.

</li>

<li>
UO1.97 = UO3A.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3008_anchor">Roger Bacon OFM [&dagger;1294]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>dub.</i>]
<strong>`De celo et mundo'</strong>
unidentified.

</li>

<li>
UO1.&dagger;98&ndash;99 (`Haly Abenragel', `idem in secunda parte de eisdem'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1254_anchor">Haly ibn Regel (`Ali ibn abi 'r-Rijal) [&dagger; after 1040]
</a>
<br>
<strong><i>De iudiciis astrorum</i>, tr. Aegidius de Tebaldis &amp; Petrus de
Regio</strong>
pr. Venice 1485 (Goff H4), &amp;c.; Carmody, 150&ndash;54; Thorndike/Kibre
475, 590.

</li>

<li>
UO1.100 (`Egidius de cometis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1163_anchor">Gilles de Lessines OP [&dagger; after 1304]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 5. 401&ndash;402.
</span>
<br>
<strong><i>De essentia motu et significatione cometarum</i></strong>
ed. L.
Thorndike, <i>Latin Treatises on Comets</i> (Chicago, IL, 1950), 103&ndash;184; 
Thorndike/Kibre 1286, 1527; Kaeppeli 44; Weijers, 2. 63.

</li>

<li>
UO1.101 (`Zael de iudiciis astrorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/#entry3819_anchor">Zahel (Sahl ibn Bishr al-Isra'ili) [&dagger;822/50]
</a>
<br>
<strong><i>Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus</i>, tr. John of Seville</strong>
pr. with Ptolemy's works, Venice 
1493 (Goff P1089), sig. P8v&ndash;Q4r; Carmody, 40&ndash;43; Thorndike/Kibre 
1411. [The Latin Zahel is usually in five books, not exactly corresponding 
to the Arabic original. The five are <i>Introductorius</i>, <i>Quinquaginta praecepta</i>
(sig. Q4r&ndash;Q5r), <i>De interrogationibus</i>, <i>De significatore temporis</i>, and 
<i>Liber electionum</i>. The fifth is a separate work in the Arabic.]

</li>

<li>
UO1.102 (`Albamazar in magno introductorio'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry108_anchor">Albumasar (Abu Ma`shar Ja`far) [787&ndash;886]
</a>
<br>
<span class="biblio_block">
D. E. Pingree in <i>DSB</i> 1. 32&ndash;9. 
</span>
<br>
<strong><i>Maius introductorium in scientia astrorum</i>, tr. John of Seville 
(1133)</strong>
pr. Augsburg 1489 (<i>GW</i> 840), &amp;c.; ed. R. Lemay, <i>Kitab al-madkhal 
al-kabir ila ilm ahkam al-nujum.  Liber introductorii maioris ad scientiam 
iudiciorum astrorum</i> (Naples 1995&ndash;6), vols. 4&ndash;6; Carmody, 89&ndash;90; 
Diaz 973; Thorndike/Kibre 116. [Among classical or 12th-cent.
philosophical texts, the translation by Hermann of Carinthia (1140) is
more likely; ed. Lemay, vols. 7&ndash;8.]

</li>

<li>
UO1.104 (`Zael de uita hominis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/#entry3819_anchor">Zahel (Sahl ibn Bishr al-Isra'ili) [&dagger;822/50]
</a>
<br>
<strong><i>De significatore temporis in interrogationibus</i>, tr. John of
Seville</strong>
pr. with Ptolemy's works, Venice 1493 (Goff P1089),
sig. S3v&ndash;S5v; Carmody, 40&ndash;43; Thorndike/Kibre 1411.

</li>

<li>
UO1.106 (`liber Almagesti'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong><i>Almagesta</i>, tr. Gerard of Cremona</strong>
pr. Venice 1515, Venice 1547;
Carmody, 15; Thorndike/Kibre 180, 1245. On the manuscripts, see P. Kunitzsch,
<i>Der Almagest</i> (Wiesbaden 1974), 87&ndash;112. [The Latin title derives from the
Arabic form of the Greek &#160; &#788;&#919; &#956;&#949;&#947;&#953;&#769;&#963;&#964;&#951;.]

</li>

<li>
UO1.107 (`liber Thebet', identified from 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3289_anchor">Thebit ben Corat (Thabit bin Qurra) [830&ndash;901]
</a>
<br>
<strong><i>De quantitate stellarum</i>, Latin tr.</strong>
ed. F. J. Carmody,
<i>The Astronomical Works of Thabit b. Qurra</i> (Berkeley, CA, 1960), 145&ndash;8;
Carmody, 119&ndash;21; Thorndike/Kibre 1147.

</li>

<li>
UO1.108 (`summa astronomie Aschlyndon'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1573_anchor">John Ashendon [&dagger; after 1365]
</a>
<br>
<strong><i>Summa de accidentibus mundi</i></strong>
pr. Venice 1489 (<i>GW</i> 9392);
Sharpe, <i>Latin Writers</i>, 206&ndash;207.

</li>

<li>
UO1.109 (`tripertitum Tholomei'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong><i>Quadripartitum</i>, tr. John of Seville</strong>
pr. Venice 1484 (Goff P1088), 
Venice 1493 (Goff P1089), &amp;c.; Carmody, 18&ndash;19.

</li>

<li>
UO1.111 (`panegericon Porphyrii') = UO4.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2719_anchor">Publilius Optatianus Porphyrius [4th cent.]
</a>
<br>
<strong><i>Panegyricus Constantini</i></strong>
ed. E. Kluge, Teubner (1926); ed. G.
Polara, <i>Carmina Publilii Optatiani Porfirii</i> (Turin 1973); id. <i>Ricerche
sulla tradizione manoscritta di Publilio Optaziano Porfirio</i> (Salerno
1971).

</li>

<li>
UO1.112 (`oraciones Tullii', 2<sup>o</sup> fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Oratio pro Roscio Amerimo</i></strong>
ed. A. C. Clark, OCT (1918).

</li>

<li>
UO1.113 = UO4.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2328_anchor">Nicolas de Clamanges [<i>c</i>1355&ndash;1437]
</a>
<br>
<span class="biblio_block">
C. M. Bellitto, <i>Nicolas de Clamanges: Spirituality, Personal Reform, and
Pastoral Renewal on the eve of the Reformation</i> (Washington, DC, 2001).
</span>
<br>
<strong><i>Epistolae</i></strong>
pr. in his <i>Opera omnia</i>, ed. J. M. Lydius (Leiden 1613).

</li>

<li>
UO1.114 (`opera xxii Tullii in magno uolumine') = UO4.21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Opera</i></strong>
 
</li>

<li>
UO1.*115 (`epistole Tullii ad Quintum fratrem'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Epistulae ad Quintum fratrem</i></strong>
ed. D. R. Shackleton Bailey (Cambridge
1980).

</li>

<li>
UO1.116a (`bellum Troie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry730_anchor">`Dares Phrygius'
</a>
<br>
<strong><i>De excidio Troiae historia</i></strong>
ed. F. Meister, Teubner (1873).

</li>

<li>
UO1.116b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3086_anchor"><i>Secretum secretorum</i> (<i>ps.</i> Aristotle), Latin tr. from Arabic by Philippus
Tripolitanus</a>
ed. R. Steele, <i>Opera hactenus inedita Rogeri Baconi</i> (Oxford 
1909&ndash;40), 5. 1&ndash;175; S. J. Williams, <i>The Secret of Secrets. The scholarly
career of a pseudo-Aristotelian text in the Latin middle ages</i> (Ann Arbor, MI,
2003), 360&ndash;63 (translator's prologue), 388&ndash;413 (list of manuscripts); <i>PAL</i> 
54&ndash;75 (no. 81B). [See also John of Seville, for an excerpt translated in the 
12th cent., and Aristotle <i>ps.</i>, <i>Epistola Aristotelis ad Alexandrum</i> for 
other possible copies.] 

<br>
</li>

<li>
UO1.117 (`epistole Collusii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry643_anchor">Coluccio Salutati [1331&ndash;1406]
</a>
<br>
<strong><i>Epistolae</i></strong>
ed. F. Novati (Rome 1891&ndash;1911).

</li>

<li>
UO1.118 (`epistole Tullii familiares'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Epistulae ad familiares</i></strong>
ed. D. R. Shackleton Bailey (Cambridge 1977).

</li>

<li>
UO1.119 (`Quinctillianus de institucione oratoris'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/#entry2794_anchor">M. Fabius Quintilianus [&dagger; <i>c</i>100]
</a>
<br>
<strong><i>Institutio oratoria</i></strong>
pr. Rome 1470 (Goff Q24), &amp;c.; ed. M. 
Winterbottom, OCT (1970).

</li>

<li>
UO1.120 (`Macrobius Saturnalium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2134_anchor">Macrobius [fl. 400]
</a>
<br>
<strong><i>Saturnalia</i></strong>
ed. J. Willis, Teubner (1970<sup>2</sup>); ed. R. A. Kaster
(Oxford, 2011).

</li>

<li>
UO1.121a (`Verrine Ciceronis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Orationes in C. Verrem</i></strong>
ed. A. Klotz, Teubner (1923).

</li>

<li>
UO1.121b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Orationes philippicae</i></strong>
ed. A. C. Clark, OCT (1918<sup>2</sup>); ed. 
P. Fedeli, Teubner (1982).

</li>

<li>
UO1.122 (`rhetorica Tullii', 2<sup>o</sup> fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De ratione dicendi ad Herennium</i></strong>
ed. F. Marx, Teubner (1894); ed. G.
Achard (Paris 1989).

</li>

<li>
UO1.123: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1598_anchor">Giovanni Boccaccio [1313&ndash;1375]
</a>
<br>
<strong><i>Genealogia deorum gentilium</i></strong>
pr. Venice 1472 (Goff B749), &amp;c.;
ed. V. Romano (Bari 1951); ed. V. Zaccaria in <i>Tutte le opere di Giovanni 
Boccaccio</i>, ed. V. Branca (Milan 1964&ndash;98), 7&ndash;8. 7&ndash;1583.

</li>

<li>
UO1.125 (`Apuleius de asino aureo') = UO4.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry299_anchor">L. Apuleius [<i>c</i>123&ndash;after 161]
</a>
<br>
<strong><i>Metamorphoses</i></strong>
ed. R. Helm, Teubner (1931<sup>3</sup>); ed. D. S. Robertson 
(Paris 1940&ndash;45).

</li>

<li>
UO1.126 (`catholicon Ianuensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1706_anchor">John of Genoa OP [&dagger; after 1286]
</a>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
UO1.127 (`P. in maiori'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2743_anchor">Priscian [fl. 500]
</a>
<br>
<strong><i>Institutiones grammaticae</i> I&ndash;XVI</strong>
<i>CPL</i> 1546; <i>GL</i> 2. 1&ndash;597, 3. 1&ndash;105.

</li>

<li>
UO1.128: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry362_anchor">Aulus Gellius [<i>c</i>130&ndash;<i>c</i>180]
</a>
<br>
<strong><i>Noctes atticae</i></strong>
ed. P. K. Marshall, OCT (1968).

</li>

<li>
UO1.129: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry792_anchor">Dionysius de Burgo S. Sepulchri OESA [&dagger;1342]
</a>
<br>
<strong>Commentary on Valerius Maximus' <i>Memorabilia</i></strong>
pr. Strassburg [not
after 1475] (<i>GW</i> 8411); <i>CTC</i> 5. 326&ndash;8.

</li>

<li>
UO1.*135<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3321_anchor">Theophilus [7th cent.]
</a>
<br>
<strong><i>Liber urinarum</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.; Thorndike/Kibre 393; <i>Lexicon der &Auml;rzte</i>, 5. 549.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>151 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
