{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH" title="SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions">SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SH/314" title="Winchester, Holy Cross">Winchester, Holy Cross</a>  &gt; Bequest by Henricus de Segusio, 29 October 1271</p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: Winchester, Holy Cross</h2><h3 class="medieval_catalogue_desc">SH116. Bequest by Henricus de Segusio, 29 October 1271</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH116.23a (`glosa iuris .&nbsp;. et uocatur Bartholomeus Brixiensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry398_anchor">Bartholomew of Brescia [&dagger;1258]
</a>
<br>
<strong><i>Glossa ordinaria in Decretum</i>, a revision of the work of Iohannes 
Teutonicus</strong>
pr. Venice 1496 &amp;c.; pr. Venice 1605; Schulte, 2. 86&ndash;87; Kuttner,
103&ndash;115.

</li>

<li>
SH116.23b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1177_anchor">Goffredo di Trani [&dagger;1245]
</a>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. [Cologne <i>c.</i> 1480] (<i>GW</i> 
10949), &amp;c.; Schulte, 2. 89&ndash;91.

</li>

<li>
SH116.56: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry414_anchor">Bartholomaeus de S. Concordio Pisanus OP [<i>c</i>1260&ndash;1347]
</a>
<br>
<strong><i>Summa de casibus conscientiae</i></strong>
pr. [Milan] 1473 (<i>GW</i> 3450), &amp;c.;
Kaeppeli 436.

</li>

<li>
SH116.57a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3673_anchor">William Brito [late 13th cent.]
</a>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
SH116.57b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2900_anchor">Richard of Bury [1281&ndash;1345], bishop of Durham
</a>
<br>
<strong><i>Philobiblon</i></strong>
ed. E. C. Thomas (London 1888 / repr. Oxford 1960); 
ed. A. Altamura (Naples 1954). The real author was Robert Holcot.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
