{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/227" title="Winchester College">Winchester College</a>  &gt; Bequest by Bishop John Holyman, 4 June 1558  </p><h2>SECULAR INSTITUTIONS: Secular Colleges: Winchester College</h2><h3 class="medieval_catalogue_desc">SC344. Bequest by Bishop John Holyman, 4 June 1558  </h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC344.&para;1: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
SC344.&para;2: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
SC344.&para;3: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Rome 1471 (<i>GW</i> 7883), &amp;c.

</li>

<li>
SC344.&para;4: 
<strong>Cyril of Alexandria [&dagger;444], patriarch of Alexandria
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel: Andreas Cratander, 1528.

</li>

<li>
SC344.&para;5: 
<strong>Tertullian [&dagger; <i>c</i>220]
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1521 (Adams T405), &amp;c.

</li>

<li>
SC344.&para;6: 
<strong>Irenaeus of Lyon [&dagger;202]
</strong>
<br>
<strong><i>Contra haereses</i></strong>
<i>CPG</i> 1306&ndash;21; ed. D. Erasmus, Basel 1526 (Adams
I150), &amp;c.; ed. A. Rousseau &amp; L. Doutreleau, SChr 100, 152&ndash;3, 210&ndash;11, 
263&ndash;4, 293&ndash;4 (1965&ndash;82).

</li>

<li>
SC344.&para;7: 
<strong>Cassiodorus Senator [<i>c</i>485&ndash;580]
</strong>
<br>
<strong>(and Epiphanius), <i>Historia tripartita</i></strong>
<i>CPL</i> 899, 2269. [See W. Jacob 
&amp; R. Hanslik, <i>Handschriftliche &Uuml;berlieferung der sogen. Historia Tripartita</i> 
(Berlin 1954).] [Almost invariably anonymous in catalogues.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
