{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Battle</h2><h3>B9. Leland, c. 1536-40</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B9.1: 
<strong>Odo de Castro Radulphi [&dagger;1273]
</strong>
<br>
<strong><i>Distinctiones super Psalterium</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 6082&ndash;3.

</li>

<li>
B9.2: 
<strong>Clement of Lanthony OSA [&dagger; after 1169]
</strong>
<br>
<strong><i>De sex alis cherubim</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1980.

</li>

<li>
B9.3: 
<strong>Iordanes [fl. 550]
</strong>
<br>
<strong><i>De summa temporum</i></strong>
<i>CPL</i> 912.

</li>

<li>
B9.4: 
<strong><i>Itinerarium Antonini</i></strong>
<i>CPL</i> 2330.

<br>
</li>

<li>
B9.5: 
<strong>Melito of Sardis [&dagger; <i>c</i>190]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De transitu beatae Mariae uirginis</i></strong>
<i>CPG</i> 1096; <i>BHL</i> 5351&ndash;2.

</li>

<li>
B9.6: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Nomina regionum et locorum de Actibus Apostolorum</i></strong>
<i>CPL</i> 1359; ed. M. L. W. Laistner, <i>CCSL</i> 121 (1983) 167&ndash;78.

</li>

<li>
B9.7: 
<strong>Martin of Braga [&dagger;580], bishop of Braga
</strong>
<br>
<strong><i>Formula uitae honestae</i></strong>
<i>CPL</i> 1080; Diaz 27; Bloomfield 4457.

</li>

<li>
B9.8: 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i>, being the second part of
his <i>Decretum</i></strong>
<i>PL</i> 161. 135&ndash;200.

</li>

<li>
B9.8: 
<strong>Ivo of Chartres [<i>c</i>1040&ndash;1116]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 161. 47&ndash;1022.

</li>

<li>
B9.9: 
<strong><i>Historia Britonum</i>, commonly attributed to Nennius</strong>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
B9.10: 
<strong>Odo of Canterbury OSB [&dagger;1200], abbot of Battle
</strong>
<br>
<strong><i>Tractatus in libros Regum</i></strong>
ed. C. de Clercq (Ventimiglia 1980); Stegm&uuml;ller <i>Bibl.</i> 6058.

</li>

<li>
B9.11: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
B9.12: 
<strong>Richard of Melksham [?]
</strong>
<br>
<strong><i>Sermones</i></strong>
unidentified.

</li>

<li>
B9.13: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong><i>Sermones</i></strong>
largely unpr.; listed in Schneyer <i>Rep.</i> 5. 466&ndash;507 and by P. B.
Roberts, <i>Studies in the Sermons of Stephen Langton</i> (Toronto 1968), 139&ndash;242.

</li>

<li>
B9.15: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
B9.16: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
[<i>dub.</i>]
<strong>`De proprietate sermonum'</strong>
unidentified.

</li>

<li>
B9.&dagger;16: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Disputatio de rhetorica</i></strong>
<i>PL</i> 101. 919&ndash;46; ed. C. Halm, 
<i>Rhetores latini minores</i> (Leipzig 1863), 525&ndash;50; <i>CMA Gallia</i>, 
2. 159&ndash;62.

</li>

<li>
B9.&dagger;16: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De differentiis</i>, comprising <i>De differentiis uerborum</i> and <i>De
differentiis rerum</i></strong>
<i>CPL</i> 1187, 1202; Diaz 101. [The two works travel both 
separately and also together (as <i>De differentiis</i> Books I and II), but 
catalogue entries are not always distinct as to what is contained; <i>CPL</i> 
1202 is the more common; ed. M. A. Andr&eacute;s Sanz, <i>CCSL</i> 111A (2006); <i>CPL</i>
1187, ed. C. Cordo&ntilde;er (Paris 1992). The title is not necessarily 
distinguishable in catalogues from the much rarer <i>ps.</i> Isidore, <i>Liber 
differentiarum siue de proprietate sermonum</i>, <i>CPL</i> 1226; anonymous 
collections of <i>differentiae</i> are likely to be unidentifiable.] 

</li>

<li>
B9.17: 
<strong>Gerald of Wales [1146&ndash;1226]
</strong>
<br>
<strong><i>Itinerarium Kambriae</i></strong>
ed. J. F. Dimock, RS 21/6 (1868), 3&ndash;152.

</li>

<li>
B9.17: 
<strong>Gerald of Wales [1146&ndash;1226]
</strong>
<br>
<strong><i>Topographia Hiberniae</i></strong>
ed. J. F. Dimock, RS 21/5 (1867), 3&ndash;202.

</li>

<li>
B9.18: 
<strong>Gebeno of Eberbach OCist [13th cent.], monk of Eberbach
</strong>
<br>
<strong><i>Speculum futurorum saeculorum</i>, a cento derived from 
Hildegard's <i>Sciuias</i></strong>
ed. J. C. Santos Paz, Millennio 
medievale 46 (2004).

</li>

<li>
B9.18: 
<strong>Hildegard of Bingen [1098&ndash;1179], abbess of Bingen
</strong>
<br>
<strong><i>Sciuias siue Visiones ac reuelationes</i></strong>
ed. J. Lef&egrave;vre d'&Eacute;aples in 
<i>Liber trium uirorum et trium spiritualium uirginum</i>, Paris 1513 &amp;c.; <i>PL</i> 
197. 383&ndash;738; ed. A. F&uuml;hrkotter &amp; A. Carlevaris, <i>CCCM</i> 43, 43A (1978). 
Manuscript copies in English libraries are more likely to be the much commoner 
cento derived from her book by Gebeno of Eberbach, <i>Speculum futurorum 
saeculorum</i>: ed. J. C. Santos Paz, Millennio medievale 46 (2004). On the 
manuscript tradition, M. Embach, <i>Die Schriften Hildegards von Bingen. Studien 
zu ihrer &Uuml;berlieferung im Mittelalter und in der fr&uuml;hen Neuzeit</i>, Erudiri 
sapientia 4 (Berlin, 2003). 

</li>

<li>
B9.19: 
<strong>Michael de Smaulfield [?]
</strong>
<br>
<strong><i>Summa</i></strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
