{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/208" title="Ottery St Mary">Ottery St Mary</a>  &gt; List of books taken to London, before November 1448</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Ottery St Mary</h2><h3 class="medieval_catalogue_desc">SC281. List of books taken to London, before November 1448</h3>
<em>6 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC281.2 (`historia Britanie', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1298_anchor">Henry of Huntingdon [1084&ndash;1155]
</a>
<br>
<strong><i>Historia Anglorum</i></strong>
ed. D. E. Greenway, OMT (1996).

</li>

<li>
SC281.3 (inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2368_anchor">Nigel Witeker OSB [&dagger; after 1206]
</a>
<br>
<strong><i>Speculum stultorum</i></strong>
ed. T. Wright, <i>Anglo-Latin Satirical Poets</i>,
RS 59/1 (1872), 3&ndash;10 (prose preface), 11&ndash;145 (verse); ed. J. H. Mozley &amp; R.
Raymo (Berkeley, CA, 1960) (verse only); <i>WIC</i> 18944; Sharpe, <i>Latin Writers</i>,
401.

</li>

<li>
SC281.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry402_anchor">Bartholomew of Exeter [&dagger;1184], bishop of Exeter
</a>
<br>
<strong><i>Poenitentiale</i></strong>
ed. A. Morey, <i>Bartholomew of Exeter</i> (Cambridge 1937),
175&ndash;313; Bloomfield 1159.

</li>

<li>
SC281.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2544_anchor">Peter of Blois [&dagger;1211], archdeacon of Bath
</a>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 207. 1&ndash;560; L. Wahlgren, <i>The Letter Collection of 
Peter of Blois. Studies in the Manuscript Tradition</i>, Studia Graeca et Latina
Gothoburgensia 58 (1993).

</li>

<li>
SC281.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Quaestiones</i> on Aristotle's <i>Meteora</i></strong>
<i>DSO</i> 4. 1&ndash;263; Sharpe, 
<i>Latin Writers</i>, 263.

</li>

<li>
SC281.11 (`quaternus dictaminis', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1224_anchor">Guido Faba [early 13th cent.]
</a>
<br>
<span class="biblio_block">
E. H. Kantorowicz, `An ``autobiography'' of Guido Faba', <i>MARS</i> 1 (1941&ndash;3)
253&ndash;80.
</span>
<br>
<strong><i>Summa de modo dictaminis</i>, inc. `Quasimodo geniti'</strong>
ed. A. Gaudenzi
in <i>Il Propugnatore</i> new ser. 3/1 (1890) 287&ndash;338, ib. 3/2 (1893) 345&ndash;93; 
N. Denholm-Young, <i>Collected Papers</i> (Cardiff 1969), 65, lists copies from 
England.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>6 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
