{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/388" title="All Souls College">All Souls College</a>  &gt; Inventory of the library, c. 1513</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College</h2><h3 class="medieval_catalogue_desc">UO16. Inventory of the library, c. 1513</h3>
<em>104 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO16.4 (`concordancie S. Iacobi'): 
<strong><i>Concordantia maior</i>, the so-called `third concordance' compiled by the
Dominicans of Saint-Jacques, Paris</strong>
pr. Strassburg, [not after 1474] (<i>GW</i>
7418) (under the name Conradus de Alemannia), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
1999, 3605&ndash;6; R. H. Rouse &amp; M. A. Rouse in <i>AFP</i> 44 (1974) 5&ndash;30; 
Kaeppeli 755 (as Conradus de Halberstadt OP). Rouse &amp; Rouse show that the
work circulated in Paris by 1286; the attribution to Conrad is made only
in the printed editions. [For the so-called `second concordance' or 
`English concordance', see Richard Stainsby.]

<br>
</li>

<li>
UO16.31: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De quantitate animae</i></strong>
<i>CPL</i> 257; ed. W. H&ouml;rmann, <i>CSEL</i> 89 (1986) 
131&ndash;231.

</li>

<li>
UO16.34 (`epistole A. ad &dagger;Valensarum'): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
UO16.&para;36: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De doctrina christiana</i></strong>
<i>CPL</i> 263; ed. J. Martin, <i>CCSL</i> 32 
(1962) 1&ndash;167; ed. R. P. H. Green (Oxford 1995).

</li>

<li>
UO16.41 (`exposicio fratris Iohannis Morawzaus'): 
<strong>Iohannes Moravecz OP [fl. 1350]
</strong>
<br>
<strong>unknown work
</strong>
</li>

<li>
UO16.&para;*48 (`auctoritates exposite super Pantheologia Genesi', vol. 1): 
<strong>Rainerius Iordanis de Pisis OP [&dagger; <i>c</i>1348]
</strong>
<br>
<strong><i>Pantheologia</i></strong>
pr. N&uuml;rnberg 1473 (Goff R5), &amp;c.; Kaeppeli 3429; 
Stegm&uuml;ller <i>Bibl.</i> 7169. 

</li>

<li>
UO16.49: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Commentarioli in Psalmos</i></strong>
<i>CPL</i> 582; Lambert 204.

</li>

<li>
UO16.&para;52&ndash;3 (vols 2&ndash;3): 
<strong>Rainerius Iordanis de Pisis OP [&dagger; <i>c</i>1348]
</strong>
<br>
<strong><i>Pantheologia</i></strong>
pr. N&uuml;rnberg 1473 (Goff R5), &amp;c.; Kaeppeli 3429; 
Stegm&uuml;ller <i>Bibl.</i> 7169. 

</li>

<li>
UO16.63 (`exposicio uernans
   super psalterium'): 
<strong>Lethbert of Saint-Ruf [fl. 1110]
</strong>
<br>
<strong><i>Flores Psalmorum</i></strong>
part pr. in <i>PL</i> 21. 642&ndash;960
(as Rufinus); A. Wilmart, 'Le commentaire sur les Psaumes imprim&eacute; sous
le nom de Rufin', <i>RB</i> 31 (1914) 258&ndash;76; Stegm&uuml;ller <i>Bibl.</i> 5395. [The 
preface was written by Walter, bishop of Maguelonne, whence the work is 
sometimes ascribed to Magelonensis.]

</li>

<li>
UO16.&para;75&ndash;7 (vols 1, 3, and 4): 
<strong>Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</strong>
<br>
<strong><i>Speculum historiale</i></strong>
pr. Douai 1624 / repr. Graz 1964&ndash;5;
Kaeppeli 3987.

</li>

<li>
UO16.&para;85 (`orthographia Iohannis Aretini'): 
<strong>Iohannes Tortellius (Giovanni Tortelli) [<i>c</i>1400&ndash;1466]
</strong>
<br>
<span class="biblio_block">
M. Regoliosi in <i>Italia medioevale e umanistica</i> 9 (1966) 123&ndash;89,
12 (1969) 129&ndash;96.
</span>
<br>
<strong><i>De orthographia</i></strong>
pr. Rome 1471 (Goff T394), &amp;c.; G. Donati,
<i>L'Orthographia di Giovanni Tortelli</i> (Messina 2006); P. Tom&egrave; in 
<i>Miscellanea Bibliothecae Apostolicae Vaticanae</i> 18 (2011) 517&ndash;81.

</li>

<li>
UO16.90 (`liber qui incipit
   Abhominabitur'): 
<strong>Eustasius de Portu OP [?]
</strong>
<br>
<strong><i>Distinctiones Holcot</i></strong>
unpr.; Kaeppeli 1063; Bloomfield
0066.

</li>

<li>
UO16.*111 (`Dedicus in libros ethicorum'): 
<strong>Iohannes Dedecus [? late 14th cent.]
</strong>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>Ethica</i></strong>
pr. Oxford 1518 (<i>STC</i> 6458); 
Lohr, 187; Sharpe, <i>Latin Writers</i>, 234.

</li>

<li>
UO16.120 (`Aristoteles de animalibus'): 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Libri de animalibus</i></strong>
This title usually refers to a standard 
collection of Aristotle's major zoological works in 19 books, tr. from Arabic
by Michael Scot (<i>c.</i> 1220), consisting of <i>De historia animalium libri X</i>, 
<i>De partibus animalium libri IV</i>, <i>De generatione animalium libri V</i>: 
Books I&ndash;X, to appear.; Books XI&ndash;XIV, ed. A. van Oppenraaij (Leiden 1998); 
Books XV&ndash;XIX, ed. A. van Oppenraaij (Leiden 1992). It may sometimes refer
to the collection in 21 books, tr. from Greek by William of Moerbeke, which
adds <i>De progressu animalium liber I</i> and <i>De motu animalium liber I</i>:&ndash;
<i>a.</i> <i>De historia animalium</i>, Books I&ndash;V, ed. 
P. Beullens &amp; F. Bossier, <i>AL</i> 17/2. 1. 1 (2000); Books VI&ndash;X, <i>ALD1</i>. 
<i>b.</i> <i>De partibus animalium</i>, ed. P. Rossi, <i>ALD1</i>. 
<i>c.</i> <i>De generatione animalium</i>, ed. H. J. Drossaart Lulofs, <i>AL</i> 17/2. 5 
(1966). <i>d.</i> <i>De progressu animalium</i>, ed. P. De Leemans, <i>AL</i> 17/2. 2&ndash;3 
(2011). <i>e.</i> <i>De motu animalium</i>, ed. P. De Leemans, <i>AL</i> 17/1. 3 (2011); 
Thorndike/Kibre 1188.

</li>

<li>
UO16.128 (`algarismus'): 
<strong>Iohannes de Sacro Bosco [early 13th cent.]
</strong>
<br>
<strong><i>Tractatus de sphaera</i></strong>
ed. L. Thorndike (Chicago, IL, 1949);
Thorndike/Kibre 1577, 1524. [In almost all cases anonymous.]

</li>

<li>
UO16.130 (`scripta diui Iohannis de Spira'): 
<strong>Iohannes de Lineriis [early 14th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 7. 122&ndash;8.
</span>
<br>
<strong><i>Canones</i> to the Alphonsine Tables</strong>
unpr.; Thorndike/Kibre 889.

</li>

<li>
UO16.134 (`theorica
   planetarum'): 
<strong>William of Saint-Cloud [late 13th cent.]
</strong>
<br>
<span class="biblio_block">
Weijers, 3. 129.
</span>
<br>
<strong><i>Kalendarium reginae</i> (1296)</strong>
ed. R. I. Harper, diss. (Emory
University, Atlanta, GA, 1996); Thorndike/Kibre 1568.

</li>

<li>
UO16.139 (`Ysagoge
   Iohannicii'): 
<strong>Iohannitius (Hunayn ibn Ishaq al-`Ibadi) [809&ndash;873]
</strong>
<br>
<strong><i>Isagoge ad Artem paruam Galeni</i>, tr. Constantinus Africanus</strong>
 pr. Venice 1491 &amp;c.; ed. D. Garcia &amp; J. L. Vidal, <i>Asclepio</i> 26&ndash;27 (1974&ndash;5)
267&ndash;382; ed. G. Maurach, <i>Sudhoffs Archiv</i> 62 (1978) 148&ndash;74; Thorndike/Kibre 
856, 1352.

</li>

<li>
UO16.148 (`textus prophirii'): 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>Logica uetus</i> comprised</strong>
&ndash;
<i>a.</i> the <i>Isagoge</i> of Porphyrius, tr. Boethius: ed. L. Minio-Paluello, <i>AL</i>
1/6&ndash;7 (1966), 5&ndash;31.
<i>b.</i> Aristotle's <i>Categoriae</i> (usually called <i>Praedicamenta</i>), tr. Boethius:
ed. L. Minio-Paluello, <i>AL</i> 1/1&ndash;5 (1961), 5&ndash;41.
<i>c.</i> his <i>De interpretatione</i> (usually called <i>Peri ermenias</i>), tr. Boethius:
ed. L. Minio-Paluello, <i>AL</i> 2/1&ndash;2 (1965), 5&ndash;38.
<i>d.</i> <i>Liber sex principiorum</i> (attrib. to Aristotle, perh. by Gilbert de la Porr&eacute;e):
ed. L. Minio-Paluello, <i>AL</i> 1/6&ndash;7 (1966), 35&ndash;58.
<i>e.</i> Boethius, <i>Liber diuisionum</i>: <i>CPL</i> 887.
<i>f.</i> Boethius, <i>De differentiis topicis</i>: <i>CPL</i> 889. [Some copies,
<i>e.g.</i> FA8.307, contained other texts in addition.]

</li>

<li>
UO16.&para;151: 
<strong>Iohannes de Lapide (Johannes Heynlin von Stein) OCarth [1428/31&ndash;1496]
</strong>
<br>
<span class="biblio_block">
<i>VL</i> 3. 1213&ndash;19.
</span>
<br>
<strong>Commentary on Porphyry's <i>Isagoge</i></strong>
pr. Basel [1495] (Goff P942), &amp;c.

</li>

<li>
UO16.*159: 
<strong>Iohannitius (Hunayn ibn Ishaq al-`Ibadi) [809&ndash;873]
</strong>
<br>
<strong><i>Isagoge ad Artem paruam Galeni</i>, tr. Constantinus Africanus</strong>
 pr. Venice 1491 &amp;c.; ed. D. Garcia &amp; J. L. Vidal, <i>Asclepio</i> 26&ndash;27 (1974&ndash;5)
267&ndash;382; ed. G. Maurach, <i>Sudhoffs Archiv</i> 62 (1978) 148&ndash;74; Thorndike/Kibre 
856, 1352.

</li>

<li>
UO16.163 (`item
   alius liber incipiens Capud', among medical texts): 
<strong>Roger Frugardi of Salerno [fl. 1170]
</strong>
<br>
<strong><i>Chirurgia</i></strong>
ed. Renzi, 2. 426&ndash;96; ed. K. Sudhoff, <i>Studien
zur Geschichte der Medizin</i> 12 (1918) 148&ndash;236; Thorndike/Kibre 1064 
(prologue), 191 (text).

</li>

<li>
UO16.&para;*167 (`prima pars Rasis') +: 
<strong>Razes (Abu Bakr Muhammad Ibn Zakariyya al-Razi) [865&ndash;925]
</strong>
<br>
<strong><i>Liber Elhaui id est Continens artem medicinae</i>, tr. Faragius</strong>
 pr. Brescia 1486 (Goff R178), &amp;c.; Thorndike/Kibre 539, 694.

</li>

<li>
UO16.&para;*169 (`secunda pars'): 
<strong>Razes (Abu Bakr Muhammad Ibn Zakariyya al-Razi) [865&ndash;925]
</strong>
<br>
<strong><i>Liber Elhaui id est Continens artem medicinae</i>, tr. Faragius</strong>
 pr. Brescia 1486 (Goff R178), &amp;c.; Thorndike/Kibre 539, 694.

</li>

<li>
UO16.&para;169 (`Argiropolus'): 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>Ethica</i>, tr. Iohannes Argyropulus</strong>
pr. Florence [<i>c.</i> 1480] (<i>GW</i>
2361), &amp;c. [See also Jacques Lef&egrave;vre, <i>Ars moralis</i>.]

</li>

<li>
UO16.&para;170 (`Tartaretus', 2nd fo.): 
<strong>Petrus Tartaretus [fl. 1480&ndash;95]
</strong>
<br>
<strong><i>Quaestiones super sex libros Ethicorum Aristotelis</i></strong>
pr. Paris
1496 (Goff T46), &amp;c.

</li>

<li>
UO16.&para;172: 
<strong>Iohannes Canonicus [early 14th cent.]
</strong>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>Physica</i></strong>
pr. Padua 1475 (Goff J262), 
St Albans 1481 (<i>STC</i> 14621), &amp;c.; Sharpe, <i>Latin Writers</i>, 633.

</li>

<li>
UO16.&para;*173: 
<strong>Bessarion [1403&ndash;1472], cardinal
</strong>
<br>
<strong><i>Aduersus calumniatorem Platonis</i></strong>
pr. Rome 1469 (<i>GW</i> 4183), &amp;c.

</li>

<li>
UO16.&para;*174&ndash;7 (`opera Antonini iiij uoluminibus'): 
<strong>Antoninus Florentinus (Antonino Pierozzi) OP [1389&ndash;1459], archbishop of 
Florence
</strong>
<br>
<strong><i>Summa moralis</i></strong>
pr. Venice 1477&ndash;80 (<i>GW</i> 2185), &amp;c.; Kaeppeli 239.

</li>

<li>
UO16.178 (vol. 2): 
<strong>Thomas Netter of Walden OCarm [&dagger;1430]
</strong>
<br>
<strong><i>Doctrinale antiquitatum fidei</i></strong>
ed. B. Blanciotti (Venice 1757&ndash;9 / 
repr. Farnborough 1967). [Usually in 3 vols.]

</li>

<li>
UO16.&para;*179 (`Lyra in sex uoluminibus impressis') = UO19.&para;*4&ndash;9: 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
UO16.&para;180 = UO17.&para;*68: 
<strong>Martin Bucer [1491&ndash;1551]
</strong>
<br>
<strong>(`Aretius Felinus'), <i>Psalmorum libri quinque ad ebraicam ueritatem
uersi</i></strong>
pr. Strassburg 1529 (Adams B1410), &amp;c.

</li>

<li>
UO16.&para;181 (`biblia ex translacione Pagnini') = UO17.&para;*43: 
<strong>Sanctes Pagninus (Santi Pagnino) [1470&ndash;1541]
</strong>
<br>
<strong><i>Biblia</i>, tr. from Hebrew by Sanctes Pagninus</strong>
pr. Lyon 1528 (Adams
B1008).

</li>

<li>
UO16.&para;182 (vol. 3) + &para;186&ndash;7 (vols 1&ndash;2): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Enarrationes in Psalmos</i></strong>
<i>CPL</i> 283; ed. E. Dekkers &amp; J. Fraipont, 
<i>CCSL</i> 38&ndash;40 (1956); ed. F. Gori, <i>CSEL</i> 93&ndash;95 (in progress), of which
Pss 119&ndash;50 have appeared, <i>CSEL</i> 95/3&ndash;5 (2001&ndash;5). [This title, now standard,
originated with Erasmus.]

</li>

<li>
UO16.&para;183: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones</i></strong>
<i>CPL</i> 284.

</li>

<li>
UO16.&para;184 (w. comm.): 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
UO16.&para;185 (`Augustinus ad Romanos'): 
<strong>Florus of Lyon [&dagger; <i>c</i>860]
</strong>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Paris 1499 (Goff A1277,
Shaaber B498), Paris 1522 (Adams A2174, Shaaber B376). The early editions
attribute the work to Bede. It is a catena of extracts from the writings 
of Augustine, and it is often ascribed to Augustine or to Bede; analysis 
in <i>PL</i> 119. 279&ndash;420; Stegm&uuml;ller <i>Bibl.</i> 2276&ndash;90.

</li>

<li>
UO16.&para;188 (vol. 6) = UO17.&para;89: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
UO16.&para;*189 (`Hugo cardinalis in septem uoluminibus'): 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UO16.&para;190 (`repertorium Montalui'): 
<strong>Alonso D&iacute;az de Montalvo [1405&ndash;1499]
</strong>
<br>
<strong><i>Repertorium siue tabula notabilium quaestionum Nicolai archiepiscopi
Panormi</i></strong>
pr. Lyon [not after 1484] (<i>GW</i>8306), &amp;c.

</li>

<li>
UO16.&para;191 (`Abbas in 4<sup>or</sup> uoluminibus'): 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UO16.&para;*192 (`archidiaconus super decreta'): 
<strong>Guido de Baysio, known as Archidiaconus [&dagger;1313], archdeacon of Bologna
</strong>
<br>
<strong><i>Rosarium seu Apparatus ad Decretum</i></strong>
pr. [Strassburg 1473] (<i>GW</i> 
3744), &amp;c.; Schulte, 2. 187&ndash;8.

</li>

<li>
UO16.&para;195: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UO16.&para;200: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UO16.&para;210 (`sextus cum clementinis'): 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
UO16.&para;211 (III): 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UO16.&para;212 (IV&ndash;V): 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UO16.&para;*213&ndash;15 (`prima pars Speculi cum Reportor'', 4 pts in 3vols): 
<strong>Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</strong>
<br>
<strong>(attrib.), <i>Summa super Decretalibus</i></strong>
unpr.; Schulte, 2. 154&ndash;5.

</li>

<li>
UO16.&para;216: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UO16.&para;217: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UO16.&para;218&ndash;21 (I&ndash;II in 4 vols): 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UO16.&para;222 (`Prepositus super 4<sup>o</sup> Decretalium'): 
<strong>Iohannes Antonius de S. Georgio [1439&ndash;1509]
</strong>
<br>
<strong><i>Commentaria super quarto Decretalium</i></strong>
pr. Pavia 1476 (Goff S136), 
&amp;c.; Schulte, 2. 340.

</li>

<li>
UO16.&para;231 (`Henricus Bowyc', unspec.): 
<strong>Henry Bohic [&dagger; after 1350]
</strong>
<br>
<strong><i>Distinctiones in libros V Decretalium</i></strong>
pr. Lyon 1498 (<i>GW</i> 
4964), &amp;c.; Schulte, 2. 266&ndash;70.

</li>

<li>
UO16.&para;236: 
<strong>Guido de Baysio, known as Archidiaconus [&dagger;1313], archdeacon of Bologna
</strong>
<br>
<strong><i>Apparatus ad Sextum</i></strong>
pr. Milan 1490 (<i>GW</i> 3743); Schulte, 
2. 188&ndash;9. [See also under <i>Liber Sextus</i>.]

</li>

<li>
UO16.&para;256: 
<strong>William Lyndwood [&dagger;1446]
</strong>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
UO16.&para;259 (`Philippus Francus'): 
<strong>Philippus Franchus de Franchis [&dagger;1471]
</strong>
<br>
<strong><i>Apparatus super Librum sextum Decretalium</i></strong>
pr. Venice 1499 (<i>GW</i>
10248), &amp;c.; Schulte, 2. 188&ndash;9.

</li>

<li>
UO16.260: 
<strong>Petrus de Anchorano [<i>c</i>1330&ndash;1416]
</strong>
<br>
<strong>Commentary on the Sext</strong>
pr. Lyon 1517 &amp;c.; Schulte, 2. 281.

</li>

<li>
UO16.&para;264: 
<strong>Franciscus de Zabarellis (Francesco Zabarella) [1360&ndash;1417]
</strong>
<br>
<strong><i>Lectura super Constitutiones Clementinas</i></strong>
pr. [Rome <i>c.</i> 1468&ndash;9]
(Goff Z2), &amp;c.; Schulte, 2. 284.

</li>

<li>
UO16.269 (`Paulus de
   Lyzariis super Constit' Clement''): 
<strong>Paulus de Liazariis [&dagger;1356]
</strong>
<br>
<strong><i>Lectura super Clementinas</i></strong>
unpr.; Schulte, 2. 247; <i>DDC</i> 6. 1276&ndash;7.

</li>

<li>
UO16.&para;270: 
<strong>Iohannes de Imola [&dagger;1436]
</strong>
<br>
<strong><i>In Clementinas opus</i></strong>
pr. Rome 1474 (Hain 9142), &amp;c.; Schulte, 2. 298.

</li>

<li>
UO16.&para;*274 (`speculum
   consciencie Arnoldi quod gnotosolitos appelatur'): 
<strong>Arnold Geilhoven [&dagger;1442]
</strong>
<br>
<strong><i>Gnotosolitos siue Speculum conscientiae</i> (1423&ndash;4)</strong>
&para;*pr. Brussels
1476 (<i>GW</i> 2512); N. Mann in <i>JWCI</i> 32 (1969) 73&ndash;108.

</li>

<li>
UO16.275 (`speculum
   iudiciale G. Duranti cum suppletionne Io. An.'): 
<strong>Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</strong>
<br>
<strong><i>Additiones ad Durantis Speculum iudiciale</i></strong>
pr. [Strassburg 1475] 
(<i>GW</i> 1675); Schulte, 2. 221&ndash;3.

</li>

<li>
UO16.&para;280 (`Bartachinus in tribus uoluminibus'): 
<strong>Iohannes Bertachinus (Giovanni Bertachini) [<i>c</i>1448&ndash;1500]
</strong>
<br>
<strong><i>Repertorium iuris utriusque</i></strong>
pr. Rome 1481 (<i>GW</i> 4152), &amp;c.;
Schulte, 2. 349.

</li>

<li>
UO16.&para;281: 
<strong>Iohannes Bertachinus (Giovanni Bertachini) [<i>c</i>1448&ndash;1500]
</strong>
<br>
<strong><i>Repertorium iuris utriusque</i></strong>
pr. Rome 1481 (<i>GW</i> 4152), &amp;c.;
Schulte, 2. 349.

</li>

<li>
UO16.&para;294: 
<strong>Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</strong>
<br>
<strong><i>Super Vsibus feudorum</i></strong>
pr. Rome [<i>c.</i> 1474] (Goff U37), &amp;c.

</li>

<li>
UO16.&para;295: 
<strong>Paulus de Castro [1360/62&ndash;1441]
</strong>
<br>
<strong><i>Lectura super prima et secunda Digesti ueteris</i></strong>
pr. Bologna 1483 
(Goff P172), &amp;c. [part 1]; pr. Bologna 1478 (), &amp;c. [part 2]; pr. [Milan]
1489/90 (Hain 4613, 4619), Venice 1495 (<i>BSB-Ink</i> P68), &amp;c. [parts 1&ndash;2].

</li>

<li>
UO16.&para;296: 
<strong>Jason de Maino (Giasone dal Maino) [1435&ndash;1519]
</strong>
<br>
<strong><i>Lectura super Digesto ueteri</i></strong>
pr. Pavia 1492 (<i>ISTC</i>), &amp;c. [part I]; 
pr. Milan 1507, &amp;c.; Savigny, 6. 409&ndash;410.

</li>

<li>
UO16.&para;302: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

<li>
UO16.&para;305a + 306a: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 6. 640&ndash;69.
</span>
<br>
<strong><i>Lectura super Digestum uetus</i></strong>
pr. Naples <i>c</i>. 1471/2 (<i>GW</i> 3581), &amp;c.
[part I]; pr. Perugia <i>c.</i> 1471/2 (<i>GW</i> 3593), &amp;c. [part II].

</li>

<li>
UO16.&para;305b: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<strong><i>Lectura super Authenticis</i></strong>
pr. Milan 1477 (<i>GW</i> 3475), &amp;c.

</li>

<li>
UO16.&para;306c (`super tribus libris C.'): 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<strong><i>Lectura super tribus libris Codicis</i> [on Books X&ndash;XII]</strong>
pr. [Naples
<i>c.</i> 1471] (<i>GW</i> 3523), &amp;c.

</li>

<li>
UO16.307 (`paruum uolumen cum autenticis'): 
<strong><i>Authenticum</i> was a common medieval arrangement in nine <i>collationes</i> of
Justinian's <i>Nouellae</i></strong>
ed. G. E. Heimbach (Leipzig 1851); Warner &amp; Gilson,
BM <i>Cat. Royal</i>, 1. 355.

<br>
</li>

<li>
UO16.&para;308&ndash;9 (both parts): 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<strong><i>Lectura super Digestum nouum</i></strong>
pr. Venice 1471 (<i>GW</i> 3546), &amp;c. [part
I]; pr. Venice 1473 (<i>GW</i> 3563), [part II].

</li>

<li>
UO16.&para;310&ndash;11 (both parts): 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<strong><i>Lectura super Infortiatum</i></strong>
pr. [Italy] 1470 (<i>GW</i> 3611), &amp;c. [part I];
pr. Perugia 1474/5 (<i>GW</i> 3629), &amp;c. [part II].

</li>

<li>
UO16.&para;313: 
<strong>Odofredus of Bologna [&dagger;1265]
</strong>
<br>
<strong><i>Lectura super Digesto ueteri</i></strong>
pr. Paris 1504 &amp;c.; Savigny, 5. 
368; Lange, 1. 330.

</li>

<li>
UO16.&para;314: 
<strong>Odofredus of Bologna [&dagger;1265]
</strong>
<br>
<strong><i>Lectura super Digesto ueteri</i></strong>
pr. Paris 1504 &amp;c.; Savigny, 5. 
368; Lange, 1. 330.

</li>

<li>
UO16.&para;315 (uetus): 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
UO16.&para;316 (nouum): 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
UO16.320 (`Galiocus super quibusdam titulis et Odofridus super ff. nouo'): 
<strong>Albertus Galeottus [13th cent.]
</strong>
<br>
<strong><i>Summulae quaestionum siue Margarita</i></strong>
unpr.; Savigny, 5. 527&ndash;31.

</li>

<li>
UO16.*340: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<strong><i>Lectura super tribus libris Codicis</i> [on Books X&ndash;XII]</strong>
pr. [Naples
<i>c.</i> 1471] (<i>GW</i> 3523), &amp;c.

</li>

<li>
UO16.*340b: 
<strong>Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</strong>
<br>
<strong><i>Super Vsibus feudorum</i></strong>
pr. Rome [<i>c.</i> 1474] (Goff U37), &amp;c.

</li>

<li>
UO16.*340<sup>x</sup>: 
<strong>Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</strong>
<br>
<strong><i>Commentum super Pace Constantiae</i></strong>
pr. with his <i>Super Vsibus
feudorum</i>, Rome [<i>c.</i> 1474] (Goff U37), &amp;c.

</li>

<li>
UO16.&para;349 (`breuiloquus', anon.): 
<strong>Johannes Reuchlin [1454/5&ndash;1522]
</strong>
<br>
<strong><i>Vocabularius breuiloquus</i></strong>
pr. Basel 1478 (Goff R155), &amp;c.

</li>

<li>
UO16.&para;*355: 
<strong>M. Fabius Quintilianus [&dagger; <i>c</i>100]
</strong>
<br>
<strong><i>Institutio oratoria</i></strong>
pr. Rome 1470 (Goff Q24), &amp;c.; ed. M. 
Winterbottom, OCT (1970).

</li>

<li>
UO16.&para;362: 
<strong>Niccol&ograve; Perotti [1430&ndash;1480]
</strong>
<br>
<strong><i>Cornucopiae linguae latinae</i></strong>
pr. Venice 1489 (Goff P288), &amp;c.;
ed. J.-L. Charlet &amp; M. Furno in <i>Res publica litterarum</i> 11 (1988) 271&ndash;322.

</li>

<li>
UO16.&para;374: 
<strong>T. Maccius Plautus [&dagger; after 184 BC]
</strong>
<br>
<strong><i>Comoediae</i></strong>
ed. W. M. Lindsay, OCT (1904&ndash;5).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>104 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
