{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: New College</h2><h3>UO73. Books donated by John Elmer, 21 December 1408 and 1416</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO73.1: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UO73.2: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UO73.4: 
<strong>Petrus Comestor [&dagger;1187]
</strong>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
UO73.5: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UO73.6: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UO73.7: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
UO73.*8: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
UO73.*8: 
<strong>Paulus de Liazariis [&dagger;1356]
</strong>
<br>
<strong><i>Lectura super Clementinas</i></strong>
unpr.; Schulte, 2. 247; <i>DDC</i> 6. 1276&ndash;7.

</li>

<li>
UO73.*8: 
<strong>William of Mont Lauzun [&dagger;1343]
</strong>
<br>
<strong><i>Lectura super Clementinas</i></strong>
part pr. with text and Iohannes 
Franciscus de Pavinis, Rome 1475 (Goff P246); Schulte, 2. 197&ndash;8. [See 
also under <i>Constitutiones Clementinae</i>.]

</li>

<li>
UO73.9a: 
<strong>Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</strong>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
UO73.9b: 
<strong>Bernard of Compostella iunior [13th cent.]
</strong>
<br>
<strong>Commentary on the Decretals, inc. `Hactenus ut loquar'</strong>
pr. Paris 1516; 
Schulte, 2. 118&ndash;9; Diaz 1348.

</li>

<li>
UO73.9e: 
<strong>Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</strong>
<br>
<strong><i>Summa de sponsalibus et matrimoniis</i></strong>
pr. Basel 1473/5 (<i>GW</i> 1751), 
&amp;c.; Schulte, 2. 214&ndash;16.

</li>

<li>
UO73.10: 
<strong><i>Paruum uolumen</i>, a standard collection</strong>
pr. Mainz 1477 &amp;c.;
ed. A. &amp; M. Kriegel, <i>Corpus iuris ciuilis</i> (Leipzig 1866). Its contents
comprised Books X&ndash;XII of Justinian's <i>Codex</i> (known as the <i>Tres libri</i>);
Justinian's <i>Nouellae</i>; <i>Libri feudorum</i>; <i>Tractatus de pace Constantiae</i>;
<i>Extrauagantes duae Henrici VII imperatoris</i>; and <i>Constitutiones Frederici II
imperatoris</i>. [The <i>Paruum uolumen</i> is often paired with Justinian's
<i>Institutiones</i>.]

<br>
</li>

<li>
UO73.10&ndash;14: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
UO73.10&ndash;14: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
UO73.10&ndash;14: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
UO73.10&ndash;14: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

<li>
UO73.10&ndash;14: 
<strong>Justinian [&dagger;565]
</strong>
<br>
<strong><i>Corpus iuris ciuilis</i>, comprising Justinian's <i>Digestum</i>, <i>Codex</i>,
<i>Institutiones</i>, and <i>Nouellae</i></strong>
pr. with the gloss of Accursius, Lyon 
1584; ed. P. Kr&uuml;ger &amp; others (Berlin 1868&ndash;95). [See also under 
individual titles.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
