{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K293. Catalogus, c. 1360</h3>
<em>8 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K293.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
<strong>Commentary on Revelation</strong>
pr. Venice 1527 / repr. Frankfurt
1964; Russo, 13&ndash;15; Stegm&uuml;ller <i>Bibl.</i> 4016.

</li>

<li>
K293.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De seminibus scripturarum</i>, which long predates Joachim but was 
persistently ascribed to him</strong>
unpr.; Russo, 30&ndash;31, augmented by M. E. Reeves,
<i>The Influence of Prophecy in the Later Middle Ages</i> (Oxford 1969), 524;
Stegm&uuml;ller <i>Bibl.</i> 4033&ndash;4.

</li>

<li>
K293.4 (`de moribus paparum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Prophetiae de papis</i></strong>
pr. not after 1484 (Hain 9376), &amp;c.; Russo, 
41&ndash;8; M. E. Reeves, <i>The Influence of Prophecy in the Later Middle Ages</i> 
(Oxford 1969), 523.

</li>

<li>
K293.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De oneribus prophetarum</i></strong>
ed. O. Holder-Egger, <i>Neues Archiv</i> 33 (1907&ndash;8) 129&ndash;87;
Russo, 37&ndash;8, corrected by M. E. Reeves, <i>The Influence of Prophecy in the Later Middle Ages</i>
(Oxford 1969), 520; Stegm&uuml;ller <i>Bibl.</i> 4036.

</li>

<li>
K293.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De duobus ordinibus prophetantium</i>, as cited by Kirkstead (K293.6),
appears to be the treatise, ``Offendunt pedes uestri'' (Thorndike/Kibre 978).
</strong>
</li>

<li>
K293.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
<strong><i>Liber concordiae noui ac ueteris testamentorum</i></strong>
pr. Venice 1519 / 
repr. Frankfurt 1964; ed. E. R. Daniel, <i>Transactions of the American 
Philosophical Society</i> 73/8 (1983); Russo, 15&ndash;16; Stegm&uuml;ller <i>Bibl.</i> 4010.

</li>

<li>
K293.8 (`super oraculum Cirilli commenta'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1537_anchor">Joachim of Fiore [<i>c</i>1132&ndash;1202]
</a>
<br>
<strong><i>Epistola Cirilli ad Ioachim de oraculo</i>, <i>Epistola Ioachim ad 
Cirillum</i></strong>
ed. P. Piur in K. Burdach, <i>Vom Mittelalter zur Reformation</i> 
(Berlin 1912), 2/4. 246&ndash;51, 254&ndash;327; Russo, 15&ndash;16; M. E. Reeves, <i>The 
Influence of Prophecy in the Later Middle Ages</i> (Oxford 1969), 522&ndash;3.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>8 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
