{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K247. Catalogus, c. 1360</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K247.*1 (`de taedio huius uitae partim metrice, partim prosaice', inc., 
   1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>De querimonia et conflictu carnis et animae</i></strong>
<i>PL</i> 171. 989&ndash;1004;
ed. P. Orth, <i>Wiener Studien</i> Beiheft 26 (2000), 9&ndash;95.

</li>

<li>
K247.&diams;2 (`de exilio suo uersus elegantes', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>De casu huius mundi</i> (carm. 22)</strong>
<i>PL</i> 171. 1418&ndash;20; ed. A. B.
Scott, Teubner (1969), 11&ndash;15; <i>WIC</i> 12488.

</li>

<li>
K247.*3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>De mysterio missae</i></strong>
<i>PL</i> 171. 1177&ndash;96; <i>WIC</i> 17396. And (in
many cases also) id. <i>De sacra eucharistia</i>: <i>PL</i> 171. 1195&ndash;1212; 
<i>WIC</i> 17700.

</li>

<li>
K247.*5 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>Vita metrica S. Mariae Aegyptiacae</i></strong>
<i>PL</i> 171. 1321&ndash;40; ed. N. K. 
Larsen, <i>CCCM</i> 209 (2004); <i>BHL</i> 5419; <i>WIC</i> 18159.

</li>

<li>
K247.*6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>Rhythmus de trinitate</i> (<i>carm. minora</i> 55)</strong>
ed. A. B. Scott, Teubner
(1969), 46&ndash;53; <i>PL</i> 171. 1411&ndash;14; Chevalier 925.

</li>

<li>
K247.7 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 171. 141&ndash;312.

</li>

<li>
K247.8 (`de tribus uitiis sc. muliebri amore, auaritia, et 
   ambitione', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1363_anchor">Hildebert of Lavardin [1056&ndash;1133], archbishop of Tours
</a>
<br>
<strong><i>Plurima cum soleant mores euertere sacros</i></strong>
<i>PL</i> 171. 1428&ndash;30 (as
Hildebert); <i>PL</i> 171. 1491&ndash;4 (as Marbod); <i>WIC</i> 14193; Bloomfield 3935. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
