{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: Peterborough</h2><h3>BP2. Catalogue, early 12th cent.</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
BP2.1: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De ciuitate Dei</i></strong>
<i>CPL</i> 313; pr. [Subiaco 1467] (<i>GW</i> 2874), &amp;c.; 
ed. B. Dombart &amp; A. Kalb, <i>CCSL</i> 47&ndash;8 (1955).

</li>

<li>
BP2.2: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones de uerbis Domini et apostoli</i>, a common grouping of 
ninety-nine sermons on the Gospels and Epistles</strong>
analysis and list of 
manuscripts by P. P. Verbraken in <i>RB</i> 77 (1967) 27&ndash;46; L. De Coninck,
<i>La tradition manuscrite du recueil De uerbis Domini jusqu'au XIIe 
si&egrave;cle</i> (Turnhout 2006). Most English copies lack the last ten sermons, 
R&ouml;mer, 2/1. 350&ndash;53. 

</li>

<li>
BP2.3a: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De bono coniugali</i></strong>
<i>CPL</i> 299.

</li>

<li>
BP2.3b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De sancta uirginitate</i></strong>
<i>CPL</i> 300.

</li>

<li>
BP2.4: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Tractatus in euangelium Iohannis</i></strong>
<i>CPL</i> 278; ed. R. Willems, 
<i>CCSL</i> 36 (1954).

</li>

<li>
BP2.5: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Retractationes</i></strong>
<i>CPL</i> 250; ed. A. Mutzenbecher, <i>CCSL</i> 57 (1984).

</li>

<li>
BP2.6a: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De uidendo Deo</i> (<i>ep.</i> 147, <i>ad Paulinam</i>)</strong>
<i>CPL</i> 262; <i>PL</i> 33. 596&ndash;622;
ed. A. Goldbacher, <i>CSEL</i> 44 (1904) 274&ndash;331; R&ouml;mer, 2/1. 280&ndash;81.

</li>

<li>
BP2.6b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De uera religione</i></strong>
<i>CPL</i> 264; ed. W. M. Green, <i>CSEL</i> 77/2 (1961); ed. K. D.
Daur, <i>CCSL</i> 32 (1962) 187&ndash;260.

</li>

<li>
BP2.7: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
BP2.*8: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong><i>Historia ecclesiastica gentis Anglorum</i></strong>
<i>CPL</i> 1375; pr. [Strassburg,
not after 1475] (<i>ISTC</i>), &amp;c.; ed. B. Colgrave &amp; R. A. B. Mynors, OMT (1969).

</li>

<li>
BP2.*8<sup>x</sup>: 
<strong>&AElig;thelwulf [early 9th cent.]
</strong>
<br>
<strong><i>De abbatibus</i></strong>
ed. A. Campbell (Oxford 1967).

</li>

<li>
BP2.*8<sup>x</sup>: 
<strong><i>Historia Britonum</i>, commonly attributed to Nennius</strong>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
BP2.*8<sup>x</sup>: 
<strong>Methodius [], bishop of Olympus
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De initio et fine saeculi</i></strong>
the form found in most English copies 
is unpr.; the oldest Latin version, ed. W. J. Aerts &amp; G. A. A. Kortekaas,
<i>Die Apokalypse des Pseudo-Methodius</i> (Louvain 1998); other versions, pr. 
in <i>Maxima bibliotheca ueterum patrum</i> (Lyon 1677), 3. 727&ndash;35, and ed. 
E. Sackur, <i>Sibyllinische Texte und Forschungen</i> (Halle 1898), 61&ndash;96.

</li>

<li>
BP2.9: 
<strong>Cassiodorus Senator [<i>c</i>485&ndash;580]
</strong>
<br>
<strong>(and Epiphanius), <i>Historia tripartita</i></strong>
<i>CPL</i> 899, 2269. [See W. Jacob 
&amp; R. Hanslik, <i>Handschriftliche &Uuml;berlieferung der sogen. Historia Tripartita</i> 
(Berlin 1954).] [Almost invariably anonymous in catalogues.]

</li>

<li>
BP2.10: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Joshua, tr. Rufinus</strong>
<i>CPG</i> 1420; ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 286&ndash;463; ed. A. Jaubert, SChr 71 (1960).

</li>

<li>
BP2.11: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Aduersus Iouinianum</i></strong>
<i>CPL</i> 610; Lambert 252.

</li>

<li>
BP2.12: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Isaiah</strong>
<i>CPL</i> 584; ed. M. Adriaen, <i>CCSL</i> 73 (1963); Lambert
207.

</li>

<li>
BP2.13: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on the minor prophets</strong>
<i>CPL</i> 589; Lambert 216.

</li>

<li>
BP2.14: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Ezekiel</strong>
<i>CPL</i> 587; Lambert 213.

</li>

<li>
BP2.*15a: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Daniel</strong>
<i>CPL</i> 588; Lambert 215.

</li>

<li>
BP2.*15b: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De sacramentis</i></strong>
<i>CPL</i> 154.

</li>

<li>
BP2.*15c: 
<strong>John the Deacon of Naples [late 9th cent.]
</strong>
<br>
<strong><i>Vita S. Nicholai</i>, Latin tr. from Greek by John the Deacon</strong>
ed. N. C. 
Falconius, <i>S. Nicolai acta primigenia</i> (Naples 1751), 112&ndash;22, 126; ed. P.
Corsi, <i>Nicolaus. Rivista di teologia ecumenico-patristica</i> 7 (1979) 359&ndash;80;
<i>BHL</i> 6104&ndash;9.

</li>

<li>
BP2.*15d: 
<strong>Folcard OSB [&dagger; after 1085], monk of Saint-Bertin
</strong>
<br>
<strong><i>Vita S. Botulphi</i></strong>
prologue, ed. Hardy, 1. 373&ndash;4; text, <i>Acta SS.</i>
Iun. III (1701), 402&ndash;403; <i>BHL</i> 1428.

</li>

<li>
BP2.*15e: 
<strong>Felix of Crowland [fl. 740]
</strong>
<br>
<strong><i>Vita S. Guthlaci</i></strong>
ed. B. Colgrave (Cambridge 1956); <i>BHL</i> 3723.

</li>

<li>
BP2.*15<sup>x</sup>: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De Helia et ieiunio</i></strong>
<i>CPL</i> 137.

</li>

<li>
BP2.*15<sup>x</sup>: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De mysteriis</i></strong>
<i>CPL</i> 155.

</li>

<li>
BP2.*15<sup>x</sup>: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Libellus de dignitate sacerdotali</i></strong>
<i>CPL</i> 171a.

</li>

<li>
BP2.16a: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De singularitate cleri</i></strong>
<i>CPL</i> 62, 770; pr. with ps. Augustine's
<i>De uita christiana</i> and other texts, Cologne 1467 (<i>GW</i> 3038).

</li>

<li>
BP2.16b: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
<strong><i>De sacerdotio</i>, tr. Annianus</strong>
<i>CPG</i> 4316; pr. Cologne [<i>c.</i> 1470]
(Goff J282).

</li>

<li>
BP2.16c: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Sermones de poenitentia</i> (<i>serm.</i> 351&ndash;2)</strong>
<i>CPL</i> 284; <i>PL</i> 39.
1535&ndash;60. [See also Augustine ps., <i>De poenitentibus</i>, <i>serm.</i> 393.]

</li>

<li>
BP2.16d: 
<strong>Gennadius [late 5th cent.]
</strong>
<br>
<strong><i>Liber ecclesiasticorum dogmatum</i></strong>
<i>CPL</i> 958.

</li>

<li>
BP2.16e&ndash;g: 
<strong>John Cassian [<i>c</i>360&ndash;435], abbot of Marseilles
</strong>
<br>
<strong><i>Collationes</i></strong>
<i>CPL</i> 512.

</li>

<li>
BP2.17: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De uirginitate</i>. In manuscripts the title `De uirginitate' usually
heads the text listed as <i>De uirginibus</i> (<i>CPL</i> 145), while `De uirginibus'
can refer to <i>De uirginitate</i> (<i>CPL</i> 147), as in Bodl. MS Bodley 792 (<i>SC</i>
2640) (s. xii<sup>1</sup>). The treatises usually travel as a group</strong>
&ndash; <i>a.</i>
<i>De uirginibus</i> (<i>CPL</i> 145). <i>b.</i> <i>De uiduis</i> (<i>CPL</i> 146). <i>c.</i> <i>De uirginitate</i>
(<i>CPL</i> 147). These may be accompanied by <i>De institutione uirginis</i> (<i>CPL</i> 148),
<i>Exhortatio uirginitatis</i> (<i>CPL</i> 149), or <i>ps.</i> Ambrose, <i>De lapsu uirginis
consecratae</i> (<i>CPL</i> 651). On its own the title `De uirginitate' in catalogues
probably designates such a group.

</li>

<li>
BP2.18: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
BP2.19: 
<strong>Amalarius of Metz [<i>c</i>780&ndash;853], bishop of Metz
</strong>
<br>
<strong><i>Liber officialis</i></strong>
<i>PL</i> 105. 985&ndash;1242; ed. J. M. Hanssens, <i>Amalarii 
episcopi opera</i>, Studi e testi 138&ndash;40 (Rome 1948), 2. 13&ndash;543.

</li>

<li>
BP2.20: 
<strong>Frechulf of Liseux [&dagger;853]
</strong>
<br>
<strong><i>Chronica</i></strong>
<i>PL</i> 106. 917&ndash;1116, 1117&ndash;1258; ed. M. I. Allen, <i>CCCM</i>
169, 169A (2002). [The two parts, before and 
after Christ, are sometimes separately described. List of manuscripts by 
C. F. Natunewicz in <i>Sacris erudiri</i> 17 (1966) 88&ndash;134.]

</li>

<li>
BP2.21: 
<strong>Iosephus Flauius [&dagger; after 100]
</strong>
<br>
<strong><i>Antiquitates iudaicae</i> and <i>De bello iudaico</i>, Latin tr.</strong>
pr. 
[Augsburg] 1470 (Goff J481), &amp;c.;  pr. Basel 1524; <i>Antiquitates</i> I&ndash;V, 
ed. F. Blatt, <i>The Latin Josephus</i> (Copenhagen 1958).

</li>

<li>
BP2.22: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De numeris</i></strong>
unpr.; R. E. McNally, <i>Der irische Liber de numeris</i> 
(Munich 1957); Diaz 108; <i>CPPM</i> 2. 2674.

</li>

<li>
BP2.23: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
BP2.24: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
BP2.26: 
<strong><i>Vitas patrum</i>. Collections with this common title invariably begin with
Rufinus's translation (often ascribed to Jerome) of the <i>Historia monachorum
in Aegypto</i> (<i>PL</i> 21. 387&ndash;462; ed. E. Schulz-Fl&uuml;gel [Berlin 1990]), and then
go on to include other Lives and <i>apophthegmata</i> of the type collected  and
published by H. Rosweyde and reprinted in <i>PL</i> vols. 73&ndash;4. Jerome's Lives
of St Paul the Hermit, St Hilarion, and St Malchus (<i>CPL</i> 617&ndash;19) also make
a frequent appearance. [See also <i>Historia monachorum in Aegypto</i>; Jerome,
<i>Liber adhortationum sanctorum patrum</i>.]
</strong>
<br>
</li>

<li>
BP2.27: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Strassburg 1519, &amp;c.; 
<i>PL</i> 117. 361&ndash;938; Stegm&uuml;ller <i>Bibl.</i> 3101&ndash;114.

</li>

<li>
BP2.28: 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong><i>Homiliae de tempore</i></strong>
<i>PL</i> 118. 11&ndash;746.

</li>

<li>
BP2.29: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 620, 633; pr. Strassburg [not after 1469] (<i>GW</i> 
12422), &amp;c.

</li>

<li>
BP2.&dagger;30: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De natura rerum</i></strong>
<i>CPL</i> 1188; Diaz 106.

</li>

<li>
BP2.&dagger;31a: 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Quaestiones in Genesim</i></strong>
<i>PL</i> 100. 515&ndash;66; <i>CMA Gallia</i>, 2. 
485&ndash;8; Stegm&uuml;ller <i>Bibl.</i> 1085.

</li>

<li>
BP2.&dagger;31b: 
<strong>Marius Victorinus [<i>c</i>275&ndash;after 363]
</strong>
<br>
<strong><i>De definitionibus</i></strong>
<i>CPL</i> 85.

</li>

<li>
BP2.&dagger;31c: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De differentiis</i>, comprising <i>De differentiis uerborum</i> and <i>De
differentiis rerum</i></strong>
<i>CPL</i> 1187, 1202; Diaz 101. [The two works travel both 
separately and also together (as <i>De differentiis</i> Books I and II), but 
catalogue entries are not always distinct as to what is contained; <i>CPL</i> 
1202 is the more common; ed. M. A. Andr&eacute;s Sanz, <i>CCSL</i> 111A (2006); <i>CPL</i>
1187, ed. C. Cordo&ntilde;er (Paris 1992). The title is not necessarily 
distinguishable in catalogues from the much rarer <i>ps.</i> Isidore, <i>Liber 
differentiarum siue de proprietate sermonum</i>, <i>CPL</i> 1226; anonymous 
collections of <i>differentiae</i> are likely to be unidentifiable.] 

</li>

<li>
BP2.32: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>De differentiis</i>, comprising <i>De differentiis uerborum</i> and <i>De
differentiis rerum</i></strong>
<i>CPL</i> 1187, 1202; Diaz 101. [The two works travel both 
separately and also together (as <i>De differentiis</i> Books I and II), but 
catalogue entries are not always distinct as to what is contained; <i>CPL</i> 
1202 is the more common; ed. M. A. Andr&eacute;s Sanz, <i>CCSL</i> 111A (2006); <i>CPL</i>
1187, ed. C. Cordo&ntilde;er (Paris 1992). The title is not necessarily 
distinguishable in catalogues from the much rarer <i>ps.</i> Isidore, <i>Liber 
differentiarum siue de proprietate sermonum</i>, <i>CPL</i> 1226; anonymous 
collections of <i>differentiae</i> are likely to be unidentifiable.] 

</li>

<li>
BP2.&dagger;32a: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Quaestiones super uetus testamentum</i></strong>
<i>CPL</i> 1195; Diaz 121. The simple 
title `Isidorus super uetus testamentum' may sometimes refer to his <i>In libros 
ueteris et noui testamenti prooemia</i> (<i>CPL</i> 1192).

</li>

<li>
BP2.33: 
<strong>Paulinus of Nola [&dagger;431], bishop of Nola
</strong>
<br>
<strong><i>Vita S. Felicis</i>, a series of poems</strong>
<i>CPL</i> 203; ed. W.
Hartel, <i>CSEL</i> 30 (1894) (where it is interspersed with other poems); 
<i>BHL</i> 2870&ndash;71.

</li>

<li>
BP2.34: 
<strong>Wulfstan Cantor OSB [fl. 1000]
</strong>
<br>
<strong>Life of St &AElig;thelwold</strong>
ed. M. Lapidge &amp; M. Winterbottom,
OMT (1991); <i>BHL</i> 2647.

</li>

<li>
BP2.35: 
<strong>Julian of Toledo [&dagger;690], bishop of Toledo
</strong>
<br>
<strong><i>Prognosticon futuri saeculi</i></strong>
<i>CPL</i> 1258; ed. J. N. Hillgarth, <i>CCSL</i> 
115 (1976) 11&ndash;126.

</li>

<li>
BP2.36: 
<strong>Stephanus [&dagger; after 709]
</strong>
<br>
<strong><i>Vita S. Wilfridi</i></strong>
ed. B. Colgrave (Cambridge 1927); ed. W. 
Levison, MGH <i>Scr. rerum Merov.</i> 6 (1913), 193&ndash;263; <i>BHL</i> 8889.

</li>

<li>
BP2.37: 
<strong>Giselenus
</strong>
<br>
</li>

<li>
BP2.38: 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong><i>Diadema monachorum</i></strong>
<i>PL</i> 102. 593&ndash;690; Bloomfield 2456.

</li>

<li>
BP2.40: 
<strong>Palladius of Hellenopolis [<i>c</i>365&ndash;425]
</strong>
<br>
<strong><i>Historia Lausiaca</i>, Latin tr.</strong>
<i>PL</i> 74. 249&ndash;342; ed. A. Wellhausen,
Patristische Texte und Studien 51 (2003); <i>BHL</i> 6532&ndash;4.

</li>

<li>
BP2.43: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
BP2.44a: 
<strong>Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</strong>
<br>
<strong><i>Epitoma chronicorum</i></strong>
<i>CPL</i> 2257.

</li>

<li>
BP2.&dagger;44b: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De diuersis quaestionibus LXXXIII</i></strong>
<i>CPL</i> 289; ed. A. 
Mutzenbecher, <i>CCSL</i> 44A (1975) 3&ndash;249.

</li>

<li>
BP2.45a: 
<strong>Fursey</strong>
BHL 3209.

<br>
</li>

<li>
BP2.45b: 
<strong><i>Visio S. Baronti monachi</i></strong>
<i>CPL</i> 1313; <i>BHL</i> 997.

<br>
</li>

<li>
BP2.46: 
<strong>Gregory of Nazianzus [330&ndash;390]
</strong>
<br>
<strong><i>Orationes</i>, tr. Rufinus</strong>
<i>CPG</i> 3010; ed. A. Engelbrecht, <i>CSEL</i> 46 (1910);
<i>CTC</i> 2. 127&ndash;34. [Copies usually contain the <i>Apologeticus</i> and a further seven
or eight <i>orationes</i>.]

</li>

<li>
BP2.47: 
<strong>Victor de Vita [fl. 488], bishop of Vita
</strong>
<br>
<strong><i>Historia persecutionis Africanae prouinciae</i></strong>
<i>CPL</i> 798. [Eugenius
of Carthage's <i>Expositio fidei</i> (<i>CPL</i> 799) survives only as incorporated 
in Victor's <i>Historia</i>.]

</li>

<li>
BP2.&dagger;48: 
<strong>&AElig;lfric OSB [&dagger; <i>c.</i> 1010], abbot of Eynsham
</strong>
<br>
<strong>Lives of saints</strong>
ed. W. W. Skeat, EETS OS 76, 82, 94, 114 (1881&ndash;1900).

</li>

<li>
BP2.&dagger;49: 
<strong>Cassiodorus Senator [<i>c</i>485&ndash;580]
</strong>
<br>
<strong><i>Expositio Psalmorum</i></strong>
<i>CPL</i> 900; pr. Basel 1491 (<i>GW</i> 6163); 
ed. M. Adriaen, <i>CCSL</i> 97&ndash;8 (1958); ed. P. Stoppacci (Florence 2012&ndash;).

</li>

<li>
BP2.50: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 50; ed. G. F. Diercks, <i>CCSL</i> 3B, 3C (1994&ndash;5). Copies
include most of the shorter treatises among the letters; see Rouse &amp; Rouse,
<i>Registrum</i>, 145.

</li>

<li>
BP2.&dagger;51: 
<strong>John the Deacon of Rome [late 9th cent.]
</strong>
<br>
<strong><i>Vita S. Gregorii papae</i></strong>
<i>PL</i> 75. 59&ndash;242; <i>BHL</i> 3641&ndash;2.

</li>

<li>
BP2.52: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>Hexaemeron</i></strong>
<i>CPL</i> 123.

</li>

<li>
BP2.54: 
<strong><i>Rex aeterne poli mundani rector et orbis</i></strong>
ed. H. Varnhagen in <i>Zeitschrift
f&uuml;r deutsches Altertum</i> 25 (1881) 1&ndash;25; <i>BHL</i> 2767; <i>WIC</i> 16700. M. Lapidge 
in <i>Scire litteras. Forschungen zum mittelalterlichen Geistesleben</i>, ed. S.
Kr&auml;mer &amp; M. Bernhard (Munich 1988), 255&ndash;65.

<br>
</li>

<li>
BP2.55a: 
<strong><i>Ps.</i> Clement of Rome
</strong>
<br>
<strong><i>Recognitiones</i>, tr. Rufinus</strong>
pr. Paris 1504, Basel 1526 (Adams C2124); 
ed. B. Rehm &amp; G. Strecker, <i>GCS</i> 51 (1993<sup>2</sup>). See note on B68.343.

</li>

<li>
BP2.55b: 
<strong>Sulpicius Severus [<i>c</i>363&mdash;after 420]
</strong>
<br>
<strong><i>Vita S. Martini</i></strong>
<i>CPL</i> 475&ndash;7; <i>BHL</i> 5610, 5611&ndash;16; ed. J. Fontaine, SChr 133 (1967).

</li>

<li>
BP2.56: 
<strong><i>Psalterium iuxta Hebraeos</i>, tr. Jerome</strong>
<i>PL</i> 28. 1123&ndash;1240; ed. J. M. Harden
(London 1922); ed. H. de Sainte-Marie (Rome 1954); Stegm&uuml;ller <i>Bibl.</i> 21b.

<br>
</li>

<li>
BP2.57: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De clericorum institutione</i></strong>
<i>PL</i> 107. 293&ndash;420; ed. A. Knoepfler 
(Munich 1900); ed. D. Zimpel, Freiburger Beitr&auml;ge zur mittelalterlichen
Geschichte 7 (1996).

</li>

<li>
BP2.&dagger;58: 
<strong>Gregory of Tours [538/9&ndash;594], bishop of Tours
</strong>
<br>
<strong><i>Liber miraculorum</i></strong>
<i>CPL</i> 1024.

</li>

<li>
BP2.61: 
<strong>Alfred the Great [&dagger;899]
</strong>
<br>
<strong>unspecified work.
</strong>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
