{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC167. Will of William Warmyster, 13 October 1457; King's College</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC167.1: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Logica uetus</i> comprised</strong>
&ndash;
<i>a.</i> the <i>Isagoge</i> of Porphyrius, tr. Boethius: ed. L. Minio-Paluello, <i>AL</i>
1/6&ndash;7 (1966), 5&ndash;31.
<i>b.</i> Aristotle's <i>Categoriae</i> (usually called <i>Praedicamenta</i>), tr. Boethius:
ed. L. Minio-Paluello, <i>AL</i> 1/1&ndash;5 (1961), 5&ndash;41.
<i>c.</i> his <i>De interpretatione</i> (usually called <i>Peri ermenias</i>), tr. Boethius:
ed. L. Minio-Paluello, <i>AL</i> 2/1&ndash;2 (1965), 5&ndash;38.
<i>d.</i> <i>Liber sex principiorum</i> (attrib. to Aristotle, perh. by Gilbert de la Porr&eacute;e):
ed. L. Minio-Paluello, <i>AL</i> 1/6&ndash;7 (1966), 35&ndash;58.
<i>e.</i> Boethius, <i>Liber diuisionum</i>: <i>CPL</i> 887.
<i>f.</i> Boethius, <i>De differentiis topicis</i>: <i>CPL</i> 889. [Some copies,
<i>e.g.</i> FA8.307, contained other texts in addition.]

</li>

<li>
UC167.2: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Libri naturales</i>, a collection comprising Aristotle's <i>Physica</i>,
<i>De generatione et corruptione</i>, <i>De caelo</i>, <i>Meteora</i> I&ndash;III, <i>De plantis</i>,
and the <i>pseudo</i>-Aristotelian <i>Liber de causis</i> and <i>De differentia spiritus
et animae</i>; in the late 13th cent. new translations from Greek were substituted
for those from Arabic</strong>
<i>AL Codd.</i> 1. 49&ndash;51 for analysis.

</li>

<li>
UC167.3a: 
<strong>P. Papinius Statius [AD <i>c</i>45&ndash;<i>c</i>96]
</strong>
<br>
<strong><i>Thebais</i> (`magnus')</strong>
pr. with <i>Achilleis</i>, [Rome <i>c.</i> 1470] (Rhodes 
1641), [Parma before 1473] (Goff S701), &amp;c.; ed. A. Klotz &amp; T. C. Klinnert, 
Teubner (1973<sup>2</sup>). 

</li>

<li>
UC167.3b: 
<strong>Q. Horatius Flaccus (Horace) [65&ndash;8 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. F. Klingner, Teubner (1950); ed. S. Borzs&aacute;k, Teubner 
(1984).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
