{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/388" title="All Souls College">All Souls College</a>  &gt; Inventory of books drawn up for the Marian commissioners, 1556</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College</h2><h3 class="medieval_catalogue_desc">UO20. Inventory of books drawn up for the Marian commissioners, 1556</h3>
<em>19 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO20.&para;*14: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1492 (<i>GW</i> 1599), Basel 1506 (Adams A934), &amp;c.

</li>

<li>
UO20.&para;*15: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
UO20.&para;*45: 
<strong>Dioscorides [1st cent.]
</strong>
<br>
<strong><i>De materia medica libri V</i>, Latin tr. by Iohannes Ruellius</strong>
pr.
Lyon 1516 (Moreau, 2. 1334), &amp;c.

</li>

<li>
UO20.&para;*46: 
<strong>Iohannes Ruellius (Jean Ruel) [1479&ndash;1537]
</strong>
<br>
<strong><i>De natura stirpium</i></strong>
pr. Basel 1543 (Adams R872), &amp;c.

</li>

<li>
UO20.47: 
<strong>C. Plinius Secundus (Pliny the Elder) [AD 23&ndash;79]
</strong>
<br>
<strong><i>Historia naturalis</i></strong>
ed. L. van Jan &amp; K. Mayhoff, Teubner (1892&ndash;1906).

</li>

<li>
UO20.&para;*61: 
<strong>Plato [429&ndash;347 BC]
</strong>
<br>
<strong><i>Opera</i>, tr. Marsilio Ficino</strong>
pr. Venice 1484&ndash;5 (Goff P771), &amp;c.

</li>

<li>
UO20.&para;65: 
<strong>Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</strong>
<br>
<strong><i>Geographia</i>, tr. by Iacobus Angelus as <i>Cosmographia</i></strong>
pr. Venice 
1475 (Goff P1081), &amp;c.

</li>

<li>
UO20.&para;*67: 
<strong>Marcus Antonius Coccius Sabellicus [?1436&ndash;1506]
</strong>
<br>
<strong><i>Enneades seu Rhapsodiae historiarum</i></strong>
pr. Venice 1498&ndash;1504 (Goff S7),
&amp;c.

</li>

<li>
UO20.&para;*84: 
<strong>Ambrosius Calepinus (Ambrogio Calepino) [<i>c</i>1435&ndash;1509]
</strong>
<br>
<strong><i>Dictionum Latinarum et Graecarum interpres</i></strong>
pr. Reggio d'Emilia 
1502 &amp;c.

</li>

<li>
UO20.&para;97: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 6. 640&ndash;69.
</span>
<br>
<strong><i>Lectura super corpus iuris ciuilis</i>, comprising his commentaries
on Justinian's <i>Codex</i> and the whole of the Digest</strong>
pr. Lyon 1481/2 
(<i>GW</i> 3474), &amp;c.

</li>

<li>
UO20.&para;*100: 
<strong>Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</strong>
<br>
<strong><i>Consilia</i></strong>
four parts, pr. Milan 1484&ndash;5 (<i>CIBN</i> T27); five
parts, Venice 1488&ndash;90 (Goff T23, T22), &amp;c. A. Sabbatani, <i>De vita et operibus 
Alexandri Tartagni de Imola</i> (Milan 1972), 126.

</li>

<li>
UO20.&para;*102: 
<strong>Albericus de Rosate [<i>c.</i> 1290&ndash;1360]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 1. 656&ndash;7.
</span>
<br>
<strong><i>Commentarium super Codice</i></strong>
pr. Milan 1492 (<i>GW</i> 522), &amp;c.; pr. Venice
1585; Savigny, 6. 131.

</li>

<li>
UO20.&para;115: 
<strong>Philippus Decius [1454&ndash;1535]
</strong>
<br>
<strong><i>Super Decretalibus</i>, [ed. C. du Moulin]</strong>
pr. Lyon 1551, &amp;c.; Lange,
2. 881.

</li>

<li>
UO20.&para;124: 
<strong>Bartolus de Saxoferrato [1313&ndash;1357]
</strong>
<br>
<strong><i>Lectura super tribus libris Codicis</i> [on Books X&ndash;XII]</strong>
pr. [Naples
<i>c.</i> 1471] (<i>GW</i> 3523), &amp;c.

</li>

<li>
UO20.125: 
<strong>Iohannes Faber Runcinus [14th cent.]
</strong>
<br>
<strong><i>Lectura super Institutiones Iustiniani</i></strong>
pr. Lyon [<i>c.</i> 1485] (<i>GW</i> 
9633), &amp;c.; Savigny, 6. 40&ndash;45.

</li>

<li>
UO20.&para;*141: 
<strong>Henricus de Piro []
</strong>
<br>
<strong><i>Super Institutionibus</i></strong>
pr. Cologne [<i>c.</i> 1481] (<i>GW</i> 12257), &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>19 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
