{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R10. Union catalogue by author and title, early 14th cent.</h3>
<em>32 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R10.1: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>De circumcisione Domini</i> (<i>hom. in Lucam</i> 14), tr. Jerome</strong>
 <i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959) 83&ndash;91.

</li>

<li>
R10.2: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.3: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Super uetus testamentum</i></strong>
usually refers to translations by Rufinus or
Jerome of the homilies on the Hexateuch, but the contents vary greatly.

</li>

<li>
R10.4: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Super epistolam Pauli ad Romanos</i>, tr. Rufinus</strong>
<i>CPG</i> 1457; <i>PG</i> 14.
833&ndash;1292; Stegm&uuml;ller <i>Bibl.</i> 6221.

</li>

<li>
R10.5: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Epithalamium super Cantica canticorum</i>, tr. Rufinus</strong>
<i>CPG</i> 1433;
<i>PG</i> 13. 61&ndash;198; ed. W. A. Baehrens, <i>GCS</i> 33 (1925) 61&ndash;241; ed. O. Rousseau,
SChr 37<sup>2</sup> (1966); Stegm&uuml;ller <i>Bibl.</i> 6200.

</li>

<li>
R10.&dagger;5: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on the Song of Songs, tr. Jerome</strong>
<i>CPG</i> 1432; ed. W. A. Baehrens,
<i>GCS</i> 33 (1925) 26&ndash;60; Lambert 206; Stegm&uuml;ller <i>Bibl.</i> 6199.

</li>

<li>
R10.6: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Epithalamium super Cantica canticorum</i>, tr. Rufinus</strong>
<i>CPG</i> 1433;
<i>PG</i> 13. 61&ndash;198; ed. W. A. Baehrens, <i>GCS</i> 33 (1925) 61&ndash;241; ed. O. Rousseau,
SChr 37<sup>2</sup> (1966); Stegm&uuml;ller <i>Bibl.</i> 6200.

</li>

<li>
R10.7: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Jeremiah, tr. Jerome</strong>
<i>CPG</i> 1438,1; <i>PL</i> 25. 585&ndash;692; two
additional homilies in Latin, ed. P. Nautin &amp; P. Husson, SChr 238 (1977) 
300&ndash;367; Stegm&uuml;ller <i>Bibl.</i> 6205.

</li>

<li>
R10.8: 
<strong>Cyprian of Carthage [&dagger;258], bishop of Carthage
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De singularitate cleri</i></strong>
<i>CPL</i> 62, 770; pr. with ps. Augustine's
<i>De uita christiana</i> and other texts, Cologne 1467 (<i>GW</i> 3038).

</li>

<li>
R10.9: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Judges, tr. Rufinus</strong>
<i>CPG</i> 1421;  ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 464&ndash;522; Stegm&uuml;ller <i>Bibl.</i> 6183.

</li>

<li>
R10.10: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Isaiah, tr. Jerome</strong>
<i>CPG</i> 1437; ed. W. A. Baehrens, <i>GCS</i> 33
(1925) 242&ndash;89; Stegm&uuml;ller <i>Bibl.</i> 6202.

</li>

<li>
R10.11: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Joshua, tr. Rufinus</strong>
<i>CPG</i> 1420; ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 286&ndash;463; ed. A. Jaubert, SChr 71 (1960).

</li>

<li>
R10.12: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Luke, tr. Jerome</strong>
<i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959)
1&ndash;222; Stegm&uuml;ller <i>Bibl.</i> 6215.

</li>

<li>
R10.15: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.16: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.17: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies 1&ndash;8 on Matthew</strong>
<i>CPL</i> 668&ndash;75.

</li>

<li>
R10.18: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Genesis, tr. Rufinus</strong>
<i>CPG</i> 1411; ed. W. A. Baehrens, <i>GCS</i> 29
(1920) 1&ndash;144; Stegm&uuml;ller <i>Bibl.</i> 6170. Some copies would include the
pseudonymous hom. 17 (Stegm&uuml;ller <i>Bibl.</i> 6171.

</li>

<li>
R10.19: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Exodus, tr. Rufinus</strong>
<i>CPG</i> 1414; ed. W. A. Baehrens, <i>GCS</i> 29
(1920) 145&ndash;279; Stegm&uuml;ller <i>Bibl.</i> 6174.

</li>

<li>
R10.20: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Leviticus, tr. Rufinus</strong>
<i>CPG</i> 1416; ed. W. A. Baehrens, 
<i>GCS</i> 29 (1920) 280&ndash;507; Stegm&uuml;ller <i>Bibl.</i> 6176. [Printed as Cyril of
Alexandria, q.v.]

</li>

<li>
R10.21: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Judges, tr. Rufinus</strong>
<i>CPG</i> 1421;  ed. W. A. Baehrens, <i>GCS</i> 30
(1921) 464&ndash;522; Stegm&uuml;ller <i>Bibl.</i> 6183.

</li>

<li>
R10.22: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homily on 1 Samuel, tr. Rufinus</strong>
<i>CPG</i> 1423; ed. W. A. Baehrens, <i>GCS</i> 33
(1925) 1&ndash;25; Stegm&uuml;ller <i>Bibl.</i> 6185.

</li>

<li>
R10.23: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Ezekiel, tr. Jerome</strong>
<i>CPG</i> 1440; ed. M. Borret, SChr 352
(1989); Stegm&uuml;ller <i>Bibl.</i> 6208.

</li>

<li>
R10.24: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Numbers, tr. Rufinus</strong>
<i>CPG</i> 1418; ed. W. A. Baehrens, <i>GCS</i> 
30 (1921) 3&ndash;285; Stegm&uuml;ller <i>Bibl.</i> 6178.

</li>

<li>
R10.25: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>De circumcisione Domini</i> (<i>hom. in Lucam</i> 14), tr. Jerome</strong>
 <i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959) 83&ndash;91.

</li>

<li>
R10.26: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Luke, tr. Jerome</strong>
<i>CPG</i> 1451; ed. M. Rauer, <i>GCS</i> 49 (1959)
1&ndash;222; Stegm&uuml;ller <i>Bibl.</i> 6215.

</li>

<li>
R10.27: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>dub.</i>]
<strong>`Epistolae'</strong>
unidentified.

</li>

<li>
R10.28: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Planctus</i>, tr. Jerome</strong>
<i>CPG</i> 1522; Lambert 532.

</li>

<li>
R10.30: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong><i>Super uetus testamentum</i></strong>
usually refers to translations by Rufinus or
Jerome of the homilies on the Hexateuch, but the contents vary greatly.

</li>

<li>
R10.31: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Homilies on Genesis, tr. Rufinus</strong>
<i>CPG</i> 1411; ed. W. A. Baehrens, <i>GCS</i> 29
(1920) 1&ndash;144; Stegm&uuml;ller <i>Bibl.</i> 6170. Some copies would include the
pseudonymous hom. 17 (Stegm&uuml;ller <i>Bibl.</i> 6171.

</li>

<li>
R10.32: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
[<i>dub.</i>]
<strong>`Super epistolas Pauli'</strong>
unidentified.

</li>

<li>
R10.33: 
<strong>Origen [<i>c</i>185&ndash;<i>c</i>254]
</strong>
<br>
<strong>Commentary on Matthew, Latin tr.</strong>
<i>CPG</i> 1450; ed. E. Klostermann &amp; E. Benz, <i>GCS</i> 40
(1935&ndash;7) 80&ndash;703; Stegm&uuml;ller <i>Bibl.</i> 6211.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>32 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
