{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/289" title="Holyroodhouse, Queen Mary's library">Holyroodhouse, Queen Mary's library</a>  &gt; Books from the dispersed library of Queen Mary, 1573-8</p><h2>SCOTLAND: Holyroodhouse, Queen Mary's library</h2><h3 class="medieval_catalogue_desc">S17. Books from the dispersed library of Queen Mary, 1573-8</h3>
<em>118 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S17.&para;1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1689_anchor">Giovanni Fiorentino [14th cent.]
</a>
<br>
<strong><i>Il pecorone</i></strong>
pr. Milan 1554, &amp;c.; ed. E. Esposito (Ravenna 1974).

</li>

<li>
S17.&para;2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2082_anchor">Lilius Gregorius Giraldus (Lilio or Giglio Gregorio Giraldi) [1479&ndash;1552]
</a>
<br>
<strong><i>Pinax iconicus antiquorum in sepulturis rituum</i></strong>
pr. Lyon 1556.

</li>

<li>
S17.&para;3 (`Caesaris imagines'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry871_anchor">Enea Vico [1523&ndash;1567]
</a>
<br>
<strong><i>Omnium Caesarum uetustissimae imagines ex antiquis numismatis
desumptae</i></strong>
pr. [Venice] 1553, &amp;c.

</li>

<li>
S17.&para;4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Bucolica</i></strong>
ed. R. A. B. Mynors, OCT (1969).

</li>

<li>
S17.&para;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry589_anchor">Charles Estienne [1504&ndash;<i>c.</i> 1564]
</a>
<br>
<strong><i>L'Entr&eacute;e faicte au roy Charles neufiesme &agrave; Rouen le XII aoust
l'an mil cinq cens soixante trois</i></strong>
pr. Rouen 1563.

</li>

<li>
S17.&para;7 (`la Diana de Jorge de Montemayor en espaignol'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1105_anchor">Jorge de Montemayor [<i>c.</i> 1520&ndash;1561]
</a>
<br>
<strong><i>La Diana</i></strong>
pr. Valencia [1558/9].

</li>

<li>
S17.&para;8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry418_anchor">Bartolom&eacute; de Torres Naharro [fl. 1517]
</a>
<br>
<strong><i>Propaladia</i></strong>
pr. Naples 1517, Seville 1520, &amp;c.

</li>

<li>
S17.&para;9 (`Dante in italien'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry729_anchor">Dante Alighieri [1265&ndash;1321]
</a>
<br>
<strong><i>Divina commedia</i></strong>
pr. Foligno 1472 (Goff D22), &amp;c.

</li>

<li>
S17.&para;10 (`2 buikis of ye Eneide of Virgil in frenche'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1535_anchor">Joachim du Bellay [1525&ndash;1560]
</a>
<br>
<strong><i>Deux livres de l'Eneide</i> [and other poems]</strong>
pr. Paris 1560, &amp;c. [A
verse translation of Books IV and VI.]

</li>

<li>
S17.&para;11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry668_anchor"><i>Concilium Tridentinum</i>. <i>Canones et decreta generalis concilii Tridentini</i></a>
 pr. Rome 1564 (Adams C2795).

<br>
</li>

<li>
S17.&para;12 (`sum buikis of the Repub. of Platon in frenche'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2691_anchor">Plato [429&ndash;347 BC]
</a>
<br>
<strong><i>Res publica</i>, partial French tr. by Louis Leroy</strong>
pr. Paris 1555.

</li>

<li>
S17.&para;13 (`the first buik of Dom Flores, Spanish'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry987_anchor">`Flores'
</a>
<br>
<strong><i>Le premier livre de la Cronique du tresvaillant et redout&eacute; 
Dom Flores de Grece</i>, French tr. from Spanish by Nicolas de Herberay</strong>
pr.
Paris 1552.

</li>

<li>
S17.&para;14 (`dictionaire latin and spanish'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry858_anchor">Aelius Antonius Nebrissensis (Elio Antonio de Nebrija) [<i>c</i>1444&ndash;1522]
</a>
<br>
<strong><i>Vocabularius</i></strong>
pr. Salamanca [c. 1492] (<i>GW</i> 2217, 2219), &amp;c.;
&para;*pr. Lyon 1511; &para;*pr. Paris 1523; &amp;c.; Esparza Torres &amp; Niederehe, 
69 (no. 91). [Later editions titled <i>Dictionarium Latinohispanicum</i>.]

</li>

<li>
S17.&para;15 (`ephemerides Stofleri, latin'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1879_anchor">Johann Stoeffler [1452&ndash;1531]
</a>
<br>
<strong>(with Jakob Pflaum), <i>Almanach noua</i>, continuing from the <i>Ephemerides</i>
of Regiomontanus</strong>
pr. Ulm 1499 (Goff S791), &amp;c.; <i>VL</i> 7. 578&ndash;80. 

</li>

<li>
S17.&para;16 (`Petrarche in ital(ian)'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2643_anchor">Francesco Petrarca [1304&ndash;1374]
</a>
<br>
<strong>unspecified work
</strong>
</li>

<li>
S17.&para;17: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2620_anchor">Pierre de Ronsard [1524&ndash;1585]
</a>
<br>
<strong><i>Oeuvres</i></strong>
pr. Paris 1560, &amp;c.

</li>

<li>
S17.&para;18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry709_anchor">Q. Curtius Rufus [1st cent.]
</a>
<br>
<strong><i>Historia Alexandri</i>, Italian tr. by Pier Candido Decembrio</strong>
pr.
Florence 1478 (<i>GW</i> 7877), &amp;c. Or Italian tr. by Tomaso Porcacchi: pr.
Venice 1558.

</li>

<li>
S17.&para;19 (`lyues of Petrarq in ital(ian)'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2643_anchor">Francesco Petrarca [1304&ndash;1374]
</a>
<br>
<strong><i>De uiris illustribus</i>, Italian tr. by Donato degli Albanzani</strong>
 pr. as <i>Il libro degli homini famosi</i>, Pojano 1476 (Goff P415); pr. as
<i>Le uite de glihuomini illustri</i>, Venice 1527.

</li>

<li>
S17.&para;20 (`ane orison funebre of Q. Marie Regent'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry622_anchor">Claude d'Espence [1511&ndash;1571]
</a>
<br>
<strong><i>Oraison fun&egrave;bre &egrave;s obs&egrave;ques de Marie royne douairiere dEscoce</i></strong>
pr.
Paris 1561.

</li>

<li>
S17.&para;21 (`histoires tragiques de Bandel'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2198_anchor">Matteo Bandello [1480&ndash;1561], bishop of Agen
</a>
<br>
<strong><i>Novelle</i>, French tr. by Pierre Boaistuau as <i>Histoire tragiques</i></strong>
 pr. Paris 1559, &amp;c.; ed. R. A. Carr (Paris 1977).

</li>

<li>
S17.&para;22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1353_anchor">Girolamo della Rovere [1528&ndash;1592], cardinal archbishop of Turin
</a>
<br>
<strong><i>Les deux sermons fun&egrave;bres &egrave;s obs&egrave;ques et enterrement du feu roy
tr&egrave;schrestien Henri deuxieme de ce nom</i></strong>
pr. Paris 1559.

</li>

<li>
S17.&para;23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry1039_anchor">Friedrich Staphylus [1512&ndash;1564]
</a>
<br>
<strong><i>Apologia</i>, English tr. from Latin by Thomas Stapleton</strong>
pr. Antwerp
1565. [The Latin text, pr. Cologne 1562, was a translation by Laurentius 
Surius from the German, <i>Christlicher Gegenbericht</i>, pr. without place 1561.]

</li>

<li>
S17.&para;24 (`sum bukis of Amadis in spanish'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry189_anchor"><i>Amadis de Gaula</i>. <i>Los quatro libros del virtuoso cavallero Amadis de
Gaula</i></a>
pr. Zaragoza 1508, &amp;c.

<br>
</li>

<li>
S17.&para;25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry988_anchor"><i>Flores et Blanchefleur</i>. <i>L'Histoire amoureuse de Flores et Blanchefleur</i>,
French tr. from Spanish by Jacques Vincent du Crest Arnauld</a>
pr. Paris 1554,
&amp;c.

<br>
</li>

<li>
S17.&para;27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2087_anchor">T. Livius (Livy) [59 BC&ndash;AD 17]
</a>
<br>
<strong><i>Ab urbe condita</i>, French tr. by Pierre Bersuire</strong>
pr. Paris 1486&ndash;7
(Goff L250), &amp;c.; Chavy, 1379; Lucas, 239&ndash;40.

</li>

<li>
S17.&para;28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3754_anchor">Guillaume Paradin de Cuyseaulx [<i>c.</i> 1510&ndash;1590]
</a>
<br>
<strong><i>Cronique de Savoye</i></strong>
pr. Lyon 1552, 1561.

</li>

<li>
S17.&para;29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3311_anchor">Theodericus Dorstenius (Dietrich Dorsten) [1492&ndash;1552]
</a>
<br>
<strong><i>Botanicon</i></strong>
pr. Frankfurt 1540.

</li>

<li>
S17.&para;30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry610_anchor"><i>Chroniques de Flandres mis en lumiere par Denis Sauvage</i></a>
pr. Lyon 1661&ndash;2.

<br>
</li>

<li>
S17.&para;31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry871_anchor">Enea Vico [1523&ndash;1567]
</a>
<br>
<strong><i>Le immagini delle donne auguste intagliate in istampa di rame</i></strong>
 pr. Venice 1557 (Adams V633).

</li>

<li>
S17.&para;32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2499_anchor">Paulus Jovius (Paolo Giovio) [1483&ndash;1552], bishop of Nocera dei Pagani
</a>
<br>
<strong><i>Dialogo dell'imprese militari e amorose</i>, Spanish tr. by Alonso de
Ulloa</strong>
pr. Venice 1558, &amp;c.

</li>

<li>
S17.&para;33: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3774_anchor">Guillaume Rouill&eacute; [?1518&ndash;1589]
</a>
<br>
<strong><i>Le Promptuaire des medalles des plus renommes personnes</i></strong>
pr. Lyon
1553.

</li>

<li>
S17.&para;34 = S17.&para;105: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry595_anchor">`Chelidonius Tigurinus'
</a>
<br>
<strong><i>L'Histoire de Chelidonius Tigurinus sur l'institution des princes
chrestiens et origine des royaume</i>, tr. Pierre Boaistuau</strong>
pr. Paris 1559.

</li>

<li>
S17.&para;35 = S17.&para;115: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3268_anchor">Synesius [<i>c</i>370&ndash;413]
</a>
<br>
[<i>app.</i>]
<strong><i>Institution d'un prince chrestien traduite du grec de Synese</i>, tr.
Daniel d'Aug&eacute;</strong>
pr. Paris 1555. [D'Aug&eacute; translated some of Gregory of
Nazianzen from Greek, so this may be a translation; but not clear from what
work of Synesius. ???]

</li>

<li>
S17.&para;36 UO: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3810_anchor">Wolfgang Lazius [1514&ndash;1565]
</a>
<br>
<strong><i>Commentariorum Reipublicae Romanae libri XII</i></strong>
pr. Basel 1551, &amp;c.

</li>

<li>
S17.&para;37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong><i>Geographia</i>, tr. by Iacobus Angelus as <i>Cosmographia</i></strong>
pr. Venice 
1475 (Goff P1081), &amp;c.

</li>

<li>
S17.&para;38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1804_anchor">Johann Oldendorp [<i>c.</i> 1480&ndash;1567]
</a>
<br>
<strong><i>Variarum lectionum libri ad iuris ciuilis interpretationem</i></strong>
pr.
Cologne 1540, &amp;c.

</li>

<li>
S17.&para;39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1305_anchor">Henricus Loritus, Glareanus [1488&ndash;1563]
</a>
<br>
<strong><i>In omnes quae quidem extant T. Liuii decadas annotationes</i></strong>
pr.
Basel 1540.

</li>

<li>
S17.&para;40: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry272_anchor">Antonio Massa [16th cent.]
</a>
<br>
<strong><i>Contra usum duelli</i></strong>
pr. Rome 1554.

</li>

<li>
S17.&para;41 = S17.&para;84: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry346_anchor">Athenaeus of Naucratis [fl. 200]
</a>
<br>
<strong>&#916;&#949;&#953;&#960;&#957;&#959;&#963;&#959;&#966;&#953;&#963;&#964;&#945;&#953;&#769;</strong>
pr. Venice 1514. [Goff A1175 is a single
trial page for printing this work before April 1498.]

</li>

<li>
S17.&para;42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2111_anchor">Lucian [2nd cent.]
</a>
<br>
<strong>&#916;&#953;&#945;&#769;&#955;&#959;&#947;&#959;&#953;</strong>
pr. Florence 1496 (Goff L320); pr. with 
Philostratus, Venice 1503 (Adams L1602), &amp;c.; ed. M. D. Macleod, OCT 
(1972&ndash;87).

</li>

<li>
S17.&para;43: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3676_anchor">Guillaume Bud&eacute; [1468&ndash;1540]
</a>
<br>
<span class="biblio_block">
<i>La France des humanistes. Hell&eacute;nistes</i> 1 (Turnhout 1999), 41&ndash;96.
</span>
<br>
<strong><i>Commentarii linguae Graecae</i></strong>
pr. Paris 1529 (Adams B3093), &amp;c.

</li>

<li>
S17.&para;44: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2691_anchor">Plato [429&ndash;347 BC]
</a>
<br>
<strong><i>Opera</i></strong>
pr. in Greek, Venice 1513 (Adams P1436), Basel 1534 
(Adams P1437), &amp;c.

</li>

<li>
S17.&para;45 (`en
   neuf petits volumes'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Opera</i></strong>
 
</li>

<li>
S17.&para;46 (`Zonaras in frenche'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1922_anchor">Iohannes Zonaras [12th cent.]
</a>
<br>
<strong><i>Chronica</i>. French tr. by Jean Millet de Saint-Amour as <i>Chroniques
de Jean Zonare</i></strong>
pr. Lyon 1560&ndash;61. Or French adaptation by J. de Maumont 
as <i>Les Histoires et chroniques du monde tir&eacute;es tant du gros volume de
Jan Zonaras que de plusieurs autres bons et anciens scripteurs hebrieus 
et grecs</i>: pr. Paris 1561. [The translations follow the edition in Greek
with Latin tr. by Hieronymus Wolfius, <i>Compendium historiarum</i>, Basel 1557.]

</li>

<li>
S17.&para;47 = S17.&para;111: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1699_anchor">Jehan Froissart [<i>c</i>1335&ndash;<i>c</i>1405]
</a>
<br>
<strong><i>Chroniques</i></strong>
pr. Paris [c. 1499] (<i>GW</i> 10406), &amp;c.; ed. J. Kervyn 
de Lettenhove (Brussels 1867&ndash;77); ed. S. Luce &amp; others (Paris 1869&ndash;1975).

</li>

<li>
S17.&para;48 = S17.&para;119: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry849_anchor">Edward Hall [&dagger;1547]
</a>
<br>
<strong><i>The union of the two noble and illustrate families of Lancastre 
and Yorke</i></strong>
pr. London 1548 (<i>STC</i> 12721), &amp;c.

</li>

<li>
S17.&para;49 = S17.&para;121: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1340_anchor">Herodotus [5th cent. BC]
</a>
<br>
<strong><i>Historiae</i>, French tr., various possibilities.
</strong>
</li>

<li>
S17.&para;50 = S17.&para;104: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry625_anchor">Claude Paradin [16th cent.]
</a>
<br>
<strong><i>Alliances g&eacute;n&eacute;alogiques de rois et princes de Gaule</i></strong>
pr. Lyon 1561.

</li>

<li>
S17.&para;51 = S17.&para;103: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2607_anchor">Petrus Paschalius (Pierre Paschal) [1522&ndash;1565]
</a>
<br>
<strong><i>Henrici II Galliarum regis elogium</i></strong>
pr. Paris 1560.

</li>

<li>
S17.&para;52 = S17.&para;99: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry788_anchor">Diodorus Siculus [1st cent. BC]
</a>
<br>
<strong><i>Bibliotheca</i>, Books I&ndash;III, French tr. by Anthoine Macault as <i>Les
trois premiers livres de l'histoire de Diodore</i></strong>
pr. Paris 1535, &amp;c.

</li>

<li>
S17.54 (`the Scottis Chronicle wrettin with hand'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1260_anchor">Hector Boece [?1465&ndash;1536]
</a>
<br>
<strong><i>Scottorum historia</i>, Scots tr. by John Bellenden</strong>
pr. [Edinburgh
?1540] (<i>STC</i> 3203); ed. R. W. Chambers &amp; others, Scottish Text Society
3rd ser. 10, 15 (1938&ndash;41).

</li>

<li>
S17.&para;55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2700_anchor">Plutarch [&dagger; after 120]
</a>
<br>
<strong>French tr. by Jacques Amyot &amp; others, <i>Les Vies des hommes illustres
grecs et romans comparees l'une avec l'autre</i></strong>
pr. Paris [1559], &amp;c. 

</li>

<li>
S17.&para;56: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2161_anchor">Marcus Antonius Coccius Sabellicus [?1436&ndash;1506]
</a>
<br>
<strong><i>Enneades seu Rhapsodiae historiarum</i></strong>
pr. Venice 1498&ndash;1504 (Goff S7),
&amp;c.

</li>

<li>
S17.&para;57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry224_anchor">Andreas Tiraquellus (Andr&eacute; Tiraqueau) [1488&ndash;1558]
</a>
<br>
<strong><i>Commentarii de nobilitate et iure primigeniorum</i></strong>
pr. Paris 1549,
Lyon 1559, Basel 1561, &amp;c.

</li>

<li>
S17.&para;58: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry207_anchor">Anacreon [6th cent. BC]
</a>
<br>
<strong><i>Anacreontis et aliorum lyricorum aliquot poetarum odae</i></strong>
pr. in
Greek with Latin tr., Paris 1554, &amp;c. 

</li>

<li>
S17.&para;59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1895_anchor">Jean de Tournes, the younger [1539&ndash;1615]
</a>
<br>
<strong><i>Insignium aliquot uirorum imagines</i>, pr. by Jean de Tournes, the
elder, Lyon 1559.
</strong>
</li>

<li>
S17.&para;60: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2111_anchor">Lucian [2nd cent.]
</a>
<br>
<strong>&#916;&#953;&#945;&#769;&#955;&#959;&#947;&#959;&#953;</strong>
pr. Florence 1496 (Goff L320); pr. with 
Philostratus, Venice 1503 (Adams L1602), &amp;c.; ed. M. D. Macleod, OCT 
(1972&ndash;87).

</li>

<li>
S17.&para;61: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2160_anchor">Marco Polo [1254&ndash;1323]
</a>
<br>
<strong>French tr. by F. G. L. as <i>La Description g&eacute;ographique des provinces
et villes plus fameuses dl 'Inde orientale par Marc Paule</i></strong>
pr. Paris 1556.

</li>

<li>
S17.&para;62: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1344_anchor">Hesychius Alexandrinus [5th cent.]
</a>
<br>
<strong>&#923;&#949;&#958;&#953;&#954;&#959;&#769;&#957;</strong>
pr. Venice 1514 (Adams H506), &amp;c.; ed. M. Schmidt 
(Jena 1858&ndash;68); ed. K. Latte &amp; others (Copenhagen, Berlin, 1953&ndash;2009).

</li>

<li>
S17.&para;63: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2457_anchor">`Palmerin d'Oliua'
</a>
<br>
<strong><i>Le (premier) livre de Palmerin d'Olive</i>, French tr. from Castilian
by Jacques Vincent du Crest Arnauld</strong>
pr. Paris 1546, Lyon 1553. Or <i>L'histoire
de Palmerin d'Olive</i>, French tr. from Castilian, edited by Jean Maugin: pr.
Paris 1553, &amp;c.

</li>

<li>
S17.&para;64: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3420_anchor"><i>Tristan</i>. <i>Le premier livre du nouveau Tristan et d'Yseulte</i>, French
tr. by Jean Maugin</a>
pr. Paris 1554.

<br>
</li>

<li>
S17.&para;65: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry285_anchor">Aphthonius of Antioch [4th cent.]
</a>
<br>
<strong>&#928;&#961;&#959;&#947;&#965;&#956;&#957;&#945;&#769;&#963;&#956;&#945;&#964;&#945;</strong>
pr. by Aldus Manutius in <i>Rhetores</i>, Venice 
1508&ndash;9 (Adams R447).

</li>

<li>
S17.&para;66: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/F/#entry980_anchor">Flavius Blondus (Flavio Biondo) [1392&ndash;1463]
</a>
<br>
<strong><i>Roma instaurata</i></strong>
pr. [Rome before 1471] (<i>GW</i> 4422), &amp;c.

</li>

<li>
S17.&para;67: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry759_anchor">Demosthenes [384&ndash;322 BC]
</a>
<br>
<strong><i>Orationes</i></strong>
pr. in Greek, Venice 1504 (Adams D259), &amp;c.; pr. Basel 
1532 (Adams D261), &amp;c.

</li>

<li>
S17.&para;68: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3189_anchor">Sophocles [496&ndash;406 BC]
</a>
<br>
<strong><i>Tragoediae septem cum commentariis</i></strong>
pr. in Greek, Venice 1502 
(Adams S1438), &amp;c., Florence 1522, &amp;c, Paris 1552, &amp;c.

</li>

<li>
S17.&para;69: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1466_anchor">Iacobus Fontanus, Brugensis (Jacob Fonteyn) [fl. 1520]
</a>
<br>
<strong><i>De bello Rhodio libri III</i></strong>
pr. Rome 1524, &amp;c.

</li>

<li>
S17.&para;70: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Disputationes Tusculanae</i></strong>
ed. M. Pohlenz, Teubner (1965<sup>2</sup>).

</li>

<li>
S17.&para;71: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>De inuentione</i></strong>
ed. E. Stroebel, Teubner (1915).

</li>

<li>
S17.&para;72: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry144_anchor">Alessandro Piccolomini [1508&ndash;1579], archbishop of Patras, coadjutor bishop of Siena
</a>
<br>
<strong><i>Della filosofia naturale</i></strong>
pr. Rome/Venice 1551&ndash;4, &amp;c.

</li>

<li>
S17.&para;73: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry50_anchor">Adrien Turn&egrave;be [1512&ndash;1565]
</a>
<br>
<strong><i>Epithalamium Francisci Valesii illustrissimi Franciae Delphini
et Mariae Stuartae serenissimae Scotorum reginae</i></strong>
Paris 1558.

</li>

<li>
S17.&para;74 (Thyestes, perhaps tr.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>Tragoediae</i></strong>
ed. O. Zwierlein, OCT (1986).

</li>

<li>
S17.&para;75: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2104_anchor">Ludovicus Regius (Louis Leroy) [<i>c.</i> 1510&ndash;1577]
</a>
<br>
<strong><i>Consolatio in morte Henrici regis</i></strong>
pr. Paris 1560.

</li>

<li>
S17.&para;76: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1879_anchor">Johann Stoeffler [1452&ndash;1531]
</a>
<br>
<strong><i>Elucidatio fabricae ususque astrolabii</i></strong>
pr. Oppenhein 1513, Paris
1553, &amp;c.

</li>

<li>
S17.&para;77 (vol. 8 only): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
S17.&para;78: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1759_anchor">Jehan Lemaire de Belges [1473&ndash;1515/16]
</a>
<br>
<strong><i>Les illustrations de Gaule et singularitez de Troye</i></strong>
ed. J. Stecher, 
<i>Jean Lemaire de Belges. Oeuvres</i> (Louvain 1882&ndash;5), vols. 1&ndash;2.

</li>

<li>
S17.&para;79: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2354_anchor">Niccol&ograve; Perotti [1430&ndash;1480]
</a>
<br>
<strong><i>Cornucopiae linguae latinae</i></strong>
pr. Venice 1489 (Goff P288), &amp;c.;
ed. J.-L. Charlet &amp; M. Furno in <i>Res publica litterarum</i> 11 (1988) 271&ndash;322.

</li>

<li>
S17.&para;80: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
<i>CPG</i> 4427&ndash;40; Greek text 
edited by Bernardino Donato, &para;*pr. Verona 1529 (Adams C1539).

</li>

<li>
S17.&para;81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1699_anchor">Jehan Froissart [<i>c</i>1335&ndash;<i>c</i>1405]
</a>
<br>
<strong><i>Chroniques</i></strong>
pr. Paris [c. 1499] (<i>GW</i> 10406), &amp;c.; ed. J. Kervyn 
de Lettenhove (Brussels 1867&ndash;77); ed. S. Luce &amp; others (Paris 1869&ndash;1975).

</li>

<li>
S17.82 (`Luciani opera et Philostrati quedam gr.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2672_anchor">Philostratus [late 2nd cent.]
</a>
<br>
<strong><i>Icones</i></strong>
pr. with the works of Lucian, Venice 1503 (Adams L1602), &amp;c.

</li>

<li>
S17.&para;82 (`Luciani opera et Philostrati quedam gr.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2111_anchor">Lucian [2nd cent.]
</a>
<br>
<strong>&#916;&#953;&#945;&#769;&#955;&#959;&#947;&#959;&#953;</strong>
pr. Florence 1496 (Goff L320); pr. with 
Philostratus, Venice 1503 (Adams L1602), &amp;c.; ed. M. D. Macleod, OCT 
(1972&ndash;87).

</li>

<li>
S17.&para;83: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1340_anchor">Herodotus [5th cent. BC]
</a>
<br>
<strong>&#160; &#788;&#921;&#963;&#964;&#959;&#961;&#953;&#769;&#945;&#953;</strong>
pr. Venice 1502 (Adams H394), &amp;c.; ed. C. Hude, 
OCT (<sup>3</sup>1927). 

</li>

<li>
S17.&para;84: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry346_anchor">Athenaeus of Naucratis [fl. 200]
</a>
<br>
<strong>&#916;&#949;&#953;&#960;&#957;&#959;&#963;&#959;&#966;&#953;&#963;&#964;&#945;&#953;&#769;</strong>
pr. Venice 1514. [Goff A1175 is a single
trial page for printing this work before April 1498.]

</li>

<li>
S17.&para;85: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry913_anchor">Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</a>
<br>
<strong>&#917;&#965;&#787;&#945;&#947;&#947;&#949;&#955;&#953;&#954;&#951;&#768; &#960;&#961;&#959;&#960;&#945;&#961;&#945;&#963;&#954;&#949;&#965;&#769;&#951;</strong>
&para;*pr. Paris 1544 (Adams E1087). 
With &#917;&#965;&#787;&#945;&#947;&#947;&#949;&#955;&#953;&#954;&#951;&#768; &#945;&#787;&#960;&#959;&#769;&#948;&#949;&#953;&#958;&#953;&#962;: pr. Paris 1544 (Adams E1082).

</li>

<li>
S17.&para;86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong>&#915;&#951;&#959;&#947;&#961;&#945;&#966;&#953;&#769;&#945;</strong>
pr. Basel 1533, Paris 1546, &amp;c.

</li>

<li>
S17.&para;87: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1334_anchor"><i>Ps.</i> Hermes Trismegistus
</a>
<br>
<strong><i>Poemander</i>, tr. Marsilio Ficino</strong>
pr. Paris 1554, &amp;c.

</li>

<li>
S17.&para;88: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1339_anchor">Herodian [&dagger; <i>c</i>250]
</a>
<br>
<strong><i>Historiae</i>, French tr. from Greek by Jacques de Vintimille</strong>
pr. 
Lyon 1554.

</li>

<li>
S17.&para;89: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
S17.&para;90 = S17.&para;109: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2595_anchor">Pedro Mexia [?1496&ndash;?1552]
</a>
<br>
<strong><i>Silva de varia lecion</i> (Seville 1542), French tr. by Claude Gruget 
as <i>Les diverses le&ccedil;ons de Pierre Messie</i></strong>
pr. Paris 1552, &amp;c. 

</li>

<li>
S17.&para;91 (`histoire de Gedefroy de Bouillon'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3660_anchor">Guillaume Aubert de Poitiers [<i>c.</i> 1534&ndash;<i>c.</i> 1601]
</a>
<br>
<strong><i>L'Histoire des guerres faictes par les Chrestiens contre les Turcs
sous la conduicte de Godefroy de Buillon</i></strong>
pr. Paris 1559.

</li>

<li>
S17.&para;92: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3754_anchor">Guillaume Paradin de Cuyseaulx [<i>c.</i> 1510&ndash;1590]
</a>
<br>
<strong><i>Cronique de Savoye</i></strong>
pr. Lyon 1552, 1561.

</li>

<li>
S17.&para;93: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2528_anchor">Petrus Angelius Bargaeus (Pietro Angelio da Barga) [1517&ndash;1596]
</a>
<br>
<strong><i>Cynegetica</i></strong>
pr. Lyon 1561.

</li>

<li>
S17.&para;94: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1927_anchor">Giovangiorgio Trissino [1478&ndash;1550]
</a>
<br>
<strong><i>La Sophonisba</i></strong>
pr. Rome 1524, &amp;c. Or French tr. by Mellin de
Saint-Gelais: pr. Paris 1558.

</li>

<li>
S17.&para;95: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2529_anchor">Petrus Apianus (Peter Bienewitz) [1495&ndash;1552]
</a>
<br>
<strong><i>Cosmographicus liber</i>, French tr. as <i>La cosmographie de Pierre 
Apian</i></strong>
pr. Antwerp 1544, Paris 1551, &amp;c. 

</li>

<li>
S17.&para;96: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2877_anchor">Reinerus Gemma, Frisius [1508&ndash;1555]
</a>
<br>
<strong><i>De principiis astronomiae et cosmographiae</i>, French tr. by Claude
de Boissi&egrave;re as <i>Les Principes d'atronomie et cosmographie</i></strong>
pr. Paris
1556, &amp;c.

</li>

<li>
S17.&para;97: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1267_anchor">Heliodorus of Emesa [3rd cent.]
</a>
<br>
<strong><i>Aethiopica</i>, French tr. from Greek by Jacques Amyot as <i>L'Histoire 
aethiopique de Heliodorus, traitant des amours de Theagenes Thessalien et 
Chariclea aethiopiene</i></strong>
pr. Paris 1547. [The Greek text was discovered in
1526 and first published at Basel in 1534.]

</li>

<li>
S17.&para;99 (`trois liures de Diodore') = S17.&para;102: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry788_anchor">Diodorus Siculus [1st cent. BC]
</a>
<br>
<strong><i>Bibliotheca</i>, Books I&ndash;III, French tr. by Anthoine Macault as <i>Les
trois premiers livres de l'histoire de Diodore</i></strong>
pr. Paris 1535, &amp;c.

</li>

<li>
S17.&para;100: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3711_anchor">Guillaume Gu&eacute;roult [&dagger;1559]
</a>
<br>
<strong><i>Figures de la Bible illustrees de huictains fran&ccedil;oys</i></strong>
pr. Paris
1564, &amp;c.

</li>

<li>
S17.&para;101: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Ethica</i>, French tr. from Greek by Philippe Le Plessis</strong>
pr. Paris 
1553.

</li>

<li>
S17.&para;102: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry788_anchor">Diodorus Siculus [1st cent. BC]
</a>
<br>
<strong><i>Bibliotheca</i>, Books I&ndash;III, French tr. by Anthoine Macault as <i>Les
trois premiers livres de l'histoire de Diodore</i></strong>
pr. Paris 1535, &amp;c.

</li>

<li>
S17.&para;103 (`elogoim Henrici II en 4 langues') = S17.&para;113: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2607_anchor">Petrus Paschalius (Pierre Paschal) [1522&ndash;1565]
</a>
<br>
<strong><i>Henrici II Galliarum regis elogium</i></strong>
pr. Paris 1560.

</li>

<li>
S17.&para;104: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry625_anchor">Claude Paradin [16th cent.]
</a>
<br>
<strong><i>Alliances g&eacute;n&eacute;alogiques de rois et princes de Gaule</i></strong>
pr. Lyon 1561.

</li>

<li>
S17.&para;105: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry595_anchor">`Chelidonius Tigurinus'
</a>
<br>
<strong><i>L'Histoire de Chelidonius Tigurinus sur l'institution des princes
chrestiens et origine des royaume</i>, tr. Pierre Boaistuau</strong>
pr. Paris 1559.

</li>

<li>
S17.&para;106: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2691_anchor">Plato [429&ndash;347 BC]
</a>
<br>
<strong><i>Symposium</i>, French tr. from Greek by Louis Leroy</strong>
pr. Paris 1558, &amp;c.

</li>

<li>
S17.&para;107: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1951_anchor">Judah Abravanel [?1465&ndash;?1523]
</a>
<br>
<strong><i>Dialoghi d'amore</i>, French tr. from Italian by Ponthus de Tyard as 
<i>Philosophie d'amour de M. L&eacute;on H&eacute;breu</i></strong>
pr. Lyon 1551; ed. T. A. Parry
(Chapel Hill, NC, 1974).

</li>

<li>
S17.&para;108: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
S17.&para;109: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2595_anchor">Pedro Mexia [?1496&ndash;?1552]
</a>
<br>
<strong><i>Silva de varia lecion</i> (Seville 1542), French tr. by Claude Gruget 
as <i>Les diverses le&ccedil;ons de Pierre Messie</i></strong>
pr. Paris 1552, &amp;c. 

</li>

<li>
S17.&para;111: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1699_anchor">Jehan Froissart [<i>c</i>1335&ndash;<i>c</i>1405]
</a>
<br>
<strong><i>Chroniques</i></strong>
pr. Paris [c. 1499] (<i>GW</i> 10406), &amp;c.; ed. J. Kervyn 
de Lettenhove (Brussels 1867&ndash;77); ed. S. Luce &amp; others (Paris 1869&ndash;1975).

</li>

<li>
S17.*112: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1306_anchor">Henricus Martellus Germanus [fl. 1489]
</a>
<br>
<strong><i>Insularium illustratum</i></strong>
unpr.; R. Alamagi&agrave;, `I mappamondi di
Enrico Martello e alcuni concetti geografici di Cristoforo Colombo', <i>La
Bibliofilia</i> 42 (1940) 288&ndash;311.

</li>

<li>
S17.&para;113: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2607_anchor">Petrus Paschalius (Pierre Paschal) [1522&ndash;1565]
</a>
<br>
<strong><i>Henrici II Galliarum regis elogium</i></strong>
pr. Paris 1560.

</li>

<li>
S17.&para;114: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2141_anchor">Mambrino Roseo [fl. 1544&ndash;1571]
</a>
<br>
<strong><i>Institutione del prencipe christiano</i>, French adaptation by Jean
Maugin as <i>Le Parangon de vertu pour l'institution de tous les princes 
et grans seigneurs pris de l'italien de Mambrin de la Rose</i></strong>
pr. Paris 
1549, &amp;c.

</li>

<li>
S17.&para;115: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3268_anchor">Synesius [<i>c</i>370&ndash;413]
</a>
<br>
[<i>app.</i>]
<strong><i>Institution d'un prince chrestien traduite du grec de Synese</i>, tr.
Daniel d'Aug&eacute;</strong>
pr. Paris 1555. [D'Aug&eacute; translated some of Gregory of
Nazianzen from Greek, so this may be a translation; but not clear from what
work of Synesius. ???]

</li>

<li>
S17.&para;118: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1453_anchor">Jacques Bassantin, Escossois [1504&ndash;1568]
</a>
<br>
<strong><i>Astronomique discours</i></strong>
pr. Lyon 1557.

</li>

<li>
S17.&para;119: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry849_anchor">Edward Hall [&dagger;1547]
</a>
<br>
<strong><i>The union of the two noble and illustrate families of Lancastre 
and Yorke</i></strong>
pr. London 1548 (<i>STC</i> 12721), &amp;c.

</li>

<li>
S17.&para;121: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1340_anchor">Herodotus [5th cent. BC]
</a>
<br>
<strong><i>Historiae</i>, French tr., various possibilities.
</strong>
</li>

<li>
S17.&para;122a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Bucolica</i></strong>
ed. R. A. B. Mynors, OCT (1969).

</li>

<li>
S17.&para;122b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1796_anchor">Johannes Murmellius [1480&ndash;1517]
</a>
<br>
<strong><i>Tabulae in artis componendorum uersuum rudimenta</i></strong>
pr. Paris 1530, &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>118 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
