{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R33. Union catalogue by author and title, early 14th cent.</h3>
<em>41 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R33.1: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies</strong>
<i>PL</i> 158. 585&ndash;674; A. Wilmart in <i>AHDLMA</i> 2 (1927) 
5&ndash;29.

</li>

<li>
R33.2: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De conceptu uirginali et de originali peccato</i></strong>
<i>SAO</i> 2. 139&ndash;73.

</li>

<li>
R33.3: 
<strong>Eadmer of Canterbury OSB [<i>c</i>1055&ndash;1124]
</strong>
<br>
<strong><i>Vita S. Anselmi</i></strong>
<i>PL</i> 158. 49&ndash;117; ed. R. W. Southern, OMT (1972<sup>2</sup>); <i>BHL</i> 525&ndash;6.

</li>

<li>
R33.4: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De propria uoluntate</i>, part of the <i>Similitudines Anselmi</i></strong>
<i>PL</i> 
159. 618&ndash;20; ed. R. W. Southern &amp; F. S. Schmitt, <i>Memorials of St Anselm</i> 
(London 1969), 51&ndash;3.

</li>

<li>
R33.5: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De concordia praescientiae et praedestinationis</i></strong>
<i>SAO</i> 2. 245&ndash;88.

</li>

<li>
R33.6: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Cur Deus homo</i></strong>
<i>SAO</i> 2. 37&ndash;133.

</li>

<li>
R33.7: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Proslogion</i></strong>
<i>SAO</i> 1. 93&ndash;122.

</li>

<li>
R33.8: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De ueritate</i></strong>
<i>SAO</i> 1. 173&ndash;99.

</li>

<li>
R33.9: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Monologion</i></strong>
<i>SAO</i> 1. 13&ndash;87.

</li>

<li>
R33.10: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Si malum nihil est</i> (<i>ep.</i> 97)</strong>
<i>SAO</i> 3. 224&ndash;8.

</li>

<li>
R33.11: 
<strong>Ralph d'Escures OSB [&dagger;1122]
</strong>
<br>
<strong>(<i>ps.</i> Anselm), <i>Homilia de assumptione Mariae</i> (<i>hom.</i> 9)</strong>
 <i>PL</i> 95. 1505&ndash;1508 and <i>PL</i> 158. 644&ndash;9; Schneyer <i>Rep.</i> 5. 17.

</li>

<li>
R33.12: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong>Homilies</strong>
<i>PL</i> 158. 585&ndash;674; A. Wilmart in <i>AHDLMA</i> 2 (1927) 
5&ndash;29.

</li>

<li>
R33.13: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>dub.</i>]
<strong>`De septem uirtutibus'</strong>
unidentified.

</li>

<li>
R33.14: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De processione spiritus sancti</i></strong>
<i>SAO</i> 2. 175&ndash;219.

</li>

<li>
R33.15: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on the Pauline Epistles</strong>
<i>GO</i> 4. 271&ndash;449; Stegm&uuml;ller 
<i>Bibl.</i> 1359,2.

</li>

<li>
R33.16: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De libertate arbitrii</i></strong>
<i>SAO</i> 1. 207&ndash;26.

</li>

<li>
R33.17: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on the Psalms (<i>Parua glosatura</i>)</strong>
<i>GO</i> 2. 456&ndash;651; ed. Erasmus,
Freiburg 1533 (as the work of Haimo of Halberstadt), &amp;c.;<i>PL</i> 116. 193&ndash;696; 
Stegm&uuml;ller <i>Bibl.</i> 1357.

</li>

<li>
R33.18: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Orationes</i> and <i>Meditationes</i></strong>
<i>SAO</i> 3. 3&ndash;75, 76&ndash;91, for authentic
works. Manuscript collections varied widely and usually comprised both authentic
and pseudonymous texts; for a 12th-cent. example, see T. H. Bestul, <i> A Durham 
Book of Devotions</i> (Toronto 1987). <i>PL</i> 158. 709&ndash;820 is a compilation based
on later medieval collections; these tend to be far more extensive than those
of the 12th cent. [See also Wilmart, <i>Auteurs spirituels</i>, 147&ndash;216.]

</li>

<li>
R33.19: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De incarnatione Verbi</i></strong>
<i>SAO</i> 2. 1&ndash;35.

</li>

<li>
R33.20: 
<strong><i>Similitudines Anselmi</i></strong>
<i>PL</i> 159. 605&ndash;708. This is much commoner than
the arguably authentic (but posthumously edited), <i>Liber Anselmi de 
humanis moribus</i>: ed. R. W. Southern &amp; F. S. Schmitt, <i>Memorials of St 
Anselm</i> (London 1969), 39&ndash;104. [See also Anselm ps., <i>De XIIII  
partibus beatitudinis</i>.]

<br>
</li>

<li>
R33.21: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Quomodo grammatica sit substancia et qualitas</i></strong>
<i>SAO</i> 1. 145&ndash;68.

</li>

<li>
R33.22: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De sacrificio azymi et fermentati</i></strong>
<i>SAO</i> 2. 221&ndash;32.

</li>

<li>
R33.23: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>SAO</i>, vols. 3&ndash;5; S. Niskanen, <i>The Letter Collections of
Anselm of Canterbury</i> (Turnhout 2011).

</li>

<li>
R33.24: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De casu diaboli</i></strong>
<i>SAO</i> 1. 233&ndash;76.

</li>

<li>
R33.25: 
<strong>Alexander of Canterbury OSB [early 12th cent.], monk of Christ Church, 
Canterbury
</strong>
<br>
<strong><i>Liber ex dictis beati Anselmi</i></strong>
ed. R. W. Southern &amp; F. S. Schmitt, 
<i>Memorials of St Anselm</i> (London 1969), 108&ndash;95. [<i>De VII beatitudinibus</i> is 
the usual title of c. 5 (inc. `Queritur inter homines'), circulating 
separately, Bloomfield 4509; this title may also be used for <i>ps.</i> Anselm, 
<i>De XIV partibus beatitudinis</i>.]

</li>

<li>
R33.26: 
<strong><i>Similitudines Anselmi</i></strong>
<i>PL</i> 159. 605&ndash;708. This is much commoner than
the arguably authentic (but posthumously edited), <i>Liber Anselmi de 
humanis moribus</i>: ed. R. W. Southern &amp; F. S. Schmitt, <i>Memorials of St 
Anselm</i> (London 1969), 39&ndash;104. [See also Anselm ps., <i>De XIIII  
partibus beatitudinis</i>.]

<br>
</li>

<li>
R33.27: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De ordine creaturarum</i></strong>
<i>CPL</i> 1189.

</li>

<li>
R33.28: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Commentary on John</strong>
see note on B71.129a.

</li>

<li>
R33.&dagger;29: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Gloss on Matthew</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1359.

</li>

<li>
R33.30: 
<strong>Anselm of Reading OSB [late 12th cent.], monk of Reading
</strong>
<br>
<strong><i>De diuersis significationibus</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 61.

</li>

<li>
R33.31: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>(?), Commentary on Revelation</strong>
<i>PL</i> 162. 1499&ndash;1586; Stegm&uuml;ller 
<i>Bibl.</i> 1361.

</li>

<li>
R33.32: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>dub.</i>]
<strong>`De uersibus heroicis'</strong>
unidentified.

</li>

<li>
R33.33: 
<strong>Anselm of Laon [&dagger;1117]
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>PL</i> 162. 1187&ndash;1228; Stegm&uuml;ller <i>Bibl.</i> 1358.

</li>

<li>
R33.34: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>dub.</i>]
<strong>`De imaginibus'</strong>
unidentified. Perhaps Honorius Augustodunensis,
<i>Imago mundi</i>.

</li>

<li>
R33.35: 
<strong>Eadmer of Canterbury OSB [<i>c</i>1055&ndash;1124]
</strong>
<br>
<strong><i>De beatitudine caelestis patriae</i></strong>
ed. R. W. Southern &amp; F. S. Schmitt, 
<i>Memorials of St Anselm</i> (London 1969), 271&ndash;91.

</li>

<li>
R33.36: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XIIII partibus beatitudinis</i>, adapted from <i>Similitudines Anselmi</i>,
cc. 47&ndash;71, and widely circulated as a separate text</strong>
<i>PL</i> 159. 626&ndash;43. [The
title might also be confused with <i>De VII beatitudinibus</i>.]

</li>

<li>
R33.37: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Epistola ad Waleramnum de sacramentorum diuersitate</i></strong>
<i>SAO</i> 
2. 239&ndash;42. [See also Anselm ps. <i>De sacramento altaris</i>.]

</li>

<li>
R33.38: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Meditatio</i> 3 <i>de redemptione humana</i></strong>
<i>SAO</i> 3. 84&ndash;91.

</li>

<li>
R33.&dagger;39: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>De incarnatione Verbi</i></strong>
<i>SAO</i> 2. 1&ndash;35.

</li>

<li>
R33.40: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Liber Anselmi de humanis moribus</i></strong>
ed. R. W. Southern &amp; 
F. S. Schmitt, <i>Memorials of St Anselm</i> (London 1969), 39&ndash;93. The
work is thought to represent the posthumous editing of a draft by
Anselm. The later expanded text known as <i>Similitudines Anselmi</i> is
far commoner. 

</li>

<li>
R33.41: 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Meditatio</i> 1 <i>de timore mortis</i></strong>
<i>SAO</i> 3. 76&ndash;9.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
