{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>HENRY DE KIRKESTEDE: HENRY DE KIRKESTEDE</h2><h3>K269. Catalogus, c. 1360</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K269: 
<strong>&lt;&gt;Helwicus Teutonicus OP [?13th cent.]
</strong>
<br>
<strong>works reported from the Dominican catalogue, &sect; 69.
</strong>
</li>

<li>
K269.&lt;&gt;2: 
<strong>Iohannes de S. Geminiano OP [&dagger;1333]
</strong>
<br>
<strong><i>Liber de exemplis et similitudinibus rerum</i></strong>
pr. [Deventer <i>c.</i> 1477/9] 
(Goff J427), &amp;c.; Kaeppeli 2642.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
