{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/C" title="CARTHUSIANS">CARTHUSIANS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/C/106" title="Witham">Witham</a>  &gt; John Blacman's gifts, c. 1463-74</p><h2>CARTHUSIANS: Witham</h2><h3 class="medieval_catalogue_desc">C8. John Blacman's gifts, c. 1463-74</h3>
<em>89 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
C8.*1&ndash;3 (3 vols): 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
C8.*4c: 
<strong>Ranulf Higden OSB [&dagger;1364]
</strong>
<br>
<strong><i>Polychronicon</i></strong>
ed. C. Babington &amp; J. R. Lumby, RS 41 (1865&ndash;86); 
J. Taylor, <i>The Universal Chronicle of Ranulf Higden</i> (Oxford 1966).

</li>

<li>
C8.5a: 
<strong><i>Magna carta</i>, issued by King John (1215), and reissued three times in
modified forms by Henry III, which often stands at the head of collections
of statutes</strong>
ed. W. Stubbs, <i>Select Charters</i> (Oxford 1913<sup>9</sup>), 292&ndash;303.

<br>
</li>

<li>
C8.5b: 
<strong>Bartholomaeus de S. Concordio Pisanus OP [<i>c</i>1260&ndash;1347]
</strong>
<br>
<strong><i>Summa de casibus conscientiae</i></strong>
pr. [Milan] 1473 (<i>GW</i> 3450), &amp;c.;
Kaeppeli 436.

</li>

<li>
C8.&dagger;5c (`principia et fines originalium librorum'): 
<strong>Robert Kilwardby OP [&dagger;1279]
</strong>
<br>
<strong><i>Tabulae originalium Augustini</i></strong>
unpr.; D. A. Callus in <i>Studia 
mediaevalia R. J. Martin</i> (Bruges 1948), 243&ndash;70; Kaeppeli 3521.

</li>

<li>
C8.*6a: 
<strong>Geoffrey Salow OSA [mid 14th cent.], canon of Leicester
</strong>
<br>
<strong><i>Lucerna conscientiae</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 128;
Bloomfield 5952.

</li>

<li>
C8.*6b: 
<strong>William Rimington OCist [&dagger; after 1380]
</strong>
<br>
<strong><i>Meditationes siue Stimulus peccatoris</i></strong>
ed. R. O'Brien,
<i>C&icirc;teaux</i> 16 (1965) 278&ndash;304; <i>WIC</i> 15650 (verse prologue).

</li>

<li>
C8.*6c (`ritmicacio tocius scripture sacre'): 
<strong>`Iohannes Castellensis'
</strong>
<br>
<strong><i>Summaria compilatio metrificata</i></strong>
unpr.; <i>WIC</i> 1294.

</li>

<li>
C8.*6d (`oraciones Anselmi ut apparet', 6 prayers): 
<strong>Peter Damian OSB [1007&ndash;1072]
</strong>
<br>
<strong><i>Orationes</i></strong>
<i>PL</i> 145. 917&ndash;28.

</li>

<li>
C8.*6e (`tractatus de uirtutibus et uiciis'): 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>De confessione</i> (<i>serm.</i> 32)</strong>
ed. S. Wenzel, <i>Franciscan Studies</i> 30
(1970) 218&ndash;293;  Thomson, <i>Grosseteste</i>, 125 (no. 80), 176 (no. 32); Bloomfield
1547.

</li>

<li>
C8.*6g (`Alfonsus contra iudeos'): 
<strong>Petrus Alfonsi [early 12th cent.]
</strong>
<br>
<strong><i>Dialogus contra iudaeos</i></strong>
<i>PL</i> 157. 535&ndash;672; ed. K. P. Meith (Berlin
1982); Diaz 893; Reinhardt 250&ndash;58.

</li>

<li>
C8.7 (`sanctus Thomas de ueritatibus'): 
<strong>Hugo Ripelinus OP [&dagger; <i>c</i>1300]
</strong>
<br>
<strong><i>Compendium ueritatis theologicae</i></strong>
ed. A. Borgnet, <i>Alberti
Magni opera omnia</i> (Paris 1890&ndash;99), 34. 1&ndash;270; Stegm&uuml;ller <i>Sent.</i> 368; 
Kaeppeli 1982.

</li>

<li>
C8.8a: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong><i>Interpretationes nominum hebraicorum</i>, inc. `Aaz apprehendens'</strong>
 often pr. in early bibles, Rome 1471 (<i>GW</i> 4210), &amp;c.;
Stegm&uuml;ller <i>Bibl.</i> 7192,1 (attrib. Remigius of Auxerre), 7708&ndash;9;
Lambert 402; Sharpe, <i>Latin Writers</i>, 628.

</li>

<li>
C8.9a: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
C8.9b: 
<strong><i>Theorica planetarum</i></strong>
pr. Ferrara 1472 (<i>GW</i> 10684), Venice 1478 (<i>GW</i>
10685), &amp;c.; ed. F. J. Carmody, <i>Theorica planetarum Gerardi</i> 
(Berkeley, CA, 1942); Carmody, 167&ndash;8; Thorndike/Kibre 223. [O. Pedersen, 
`The <i>Theorica planetarum</i> literature of the middle ages', <i>Classica &amp; 
Medievalia</i> 23 (1962) 225&ndash;32.]

<br>
</li>

<li>
C8.10: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Opus imperfectum in Matthaeum</i></strong>
<i>CPL</i> 707; J. van Banning, <i>CCSL</i> 87B
(1988); Stegm&uuml;ller <i>Bibl.</i> 4350. [The tradition is largely English, and
this work is much commoner in England than the authentic Homilies on Matthew.]

</li>

<li>
C8.11b: 
<strong><i>Historia Alexandri magni</i>, tr. Julius Valerius</strong>
ed. J. Zacher (Halle 
1867); BM <i>Cat. Rom.</i> 1. 106&ndash;20. [The title <i>Gesta Alexandri magni</i>
usually comprises this text with <i>Epistola Alexandri ad Aristotelem de
situ Indiae</i>; it may also refer to <i>Historia de proeliis</i>.]

<br>
</li>

<li>
C8.11e (`Augustinus de uisione s. Pauli apostoli'): 
<strong><i>Visio S. Pauli</i></strong>
one of several recensions, listed <i>BHL</i> 6580&ndash;6582s.

<br>
</li>

<li>
C8.11h (`Ieronimus de signis iudicii'): 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XV signis</i></strong>
three versions are ascribed to Jerome, <i>PL</i> 94. 555
(<i>ps.</i> Bede), <i>PL</i> 198. 1611 (Petrus Comestor), <i>PL</i> 145. 840&ndash;42 (Peter 
Damian); Lambert 652&ndash;4. [A number of verses on the same subject are listed
by W. W. Heist, <i>The Fifteen Signs before Doomsday</i> (East Lansing, MI,
1952) 204&ndash;212.]

</li>

<li>
C8.11l: 
<strong>H. of Sawtry OCist [12th cent.]
</strong>
<br>
<strong><i>Tractatus de purgatorio S. Patricii</i></strong>
ed. K. Warnke, <i>Das Buch vom
Espurgatoire S. Patrice der Marie de France und seine Quellen</i>, Bibliotheca
Normannica 9 (Halle/Saale, 1938), 2&ndash;166 [first col.]; <i>BHL</i> 6510&ndash;12a.

</li>

<li>
C8.11m (`Seneca de quatuor uirtutibus cardinalibus'): 
<strong>Martin of Braga [&dagger;580], bishop of Braga
</strong>
<br>
<strong><i>Formula uitae honestae</i></strong>
<i>CPL</i> 1080; Diaz 27; Bloomfield 4457.

</li>

<li>
C8.11n: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
<strong><i>De beneficiis</i></strong>
ed. C. Hosius, Teubner (1914).

</li>

<li>
C8.11r: 
<strong><i>Regula S. Benedicti</i></strong>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
C8.&dagger;11a (`defensorium logicale Ockham'): 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong><i>Defensorium contra Iohannem XXII</i></strong>
ed. H. S. Offler, <i>Guillelmi de 
Ockham opera politica</i> (Manchester 1940&ndash;74), 3. 19&ndash;156. [The title 
<i>Defensorium</i> is also used for the rarer treatise <i>De imperatorum et 
pontificum potestate</i>.]

</li>

<li>
C8.12a (`Valerius ad Rufinum de muliere spernenda'): 
<strong>Walter Map [<i>c</i>1140&ndash;1210]
</strong>
<br>
<strong><i>Epistola Valerii ad Rufinum ne ducat uxorem</i></strong>
<i>PL</i> 30. 254&ndash;61 (as 
Jerome); ed. R. Hanna &amp; T. Lawler, <i>Jankyn's Book of Wikked Wives</i> (Athens,
GA, 1997), 122&ndash;47; <i>CPL</i> 633 <i>ep.</i> 36. Also incorporated in Map's <i>De nugis
curialium</i>, IV 3&ndash;5: ed. M. R. James, C. N. L. Brooke &amp; R. A. B. Mynors, OMT 
(1983), 288&ndash;312.

</li>

<li>
C8.12b (`A. de regimine principum'): 
<strong><i>Secretum secretorum</i> (<i>ps.</i> Aristotle), Latin tr. from Arabic by Philippus
Tripolitanus</strong>
ed. R. Steele, <i>Opera hactenus inedita Rogeri Baconi</i> (Oxford 
1909&ndash;40), 5. 1&ndash;175; S. J. Williams, <i>The Secret of Secrets. The scholarly
career of a pseudo-Aristotelian text in the Latin middle ages</i> (Ann Arbor, MI,
2003), 360&ndash;63 (translator's prologue), 388&ndash;413 (list of manuscripts); <i>PAL</i> 
54&ndash;75 (no. 81B). [See also John of Seville, for an excerpt translated in the 
12th cent., and Aristotle <i>ps.</i>, <i>Epistola Aristotelis ad Alexandrum</i> for 
other possible copies.] 

<br>
</li>

<li>
C8.12c: 
<strong>Guido delle Colonne OFM [&dagger;1408]
</strong>
<br>
<strong><i>Historia destructionis Troiae</i></strong>
ed. N. E. Griffin (Cambridge, MA, 
1936).

</li>

<li>
C8.*13a (`noua poetria Galfridi anglici'): 
<strong>Geoffrey de Vinsauf [&dagger; after 1200]
</strong>
<br>
<strong><i>Poetria noua</i></strong>
ed. E. Faral, <i>Les Arts po&eacute;tiques du XIIe et XIIIe 
si&egrave;cle</i> (Paris 1924), 197&ndash;262.

</li>

<li>
C8.*13b: 
<strong>Alanus ab Insula (Alain de Lille) [<i>c.</i> 1128&ndash;1203]
</strong>
<br>
<span class="biblio_block">
R. de Lage, <i>Alain de Lille, po&egrave;te du XIIe si&egrave;cle</i> (Paris 1951),
169&ndash;86.
</span>
<br>
<strong><i>Anticlaudianus</i></strong>
<i>PL</i> 210. 487&ndash;594; ed. T. Wright,
<i>Anglo-Latin Satirical Poets</i>, RS 59 (1872), 2. 268&ndash;428; ed. R. Bossuat,
Textes philosophiques du moyen &acirc;ge 1 (Paris 1955).

</li>

<li>
C8.15c (`gesta Karoli in gallicis'): 
<strong><i>Ps.</i> Turpinus
</strong>
<br>
<strong><i>Chronique de Turpin</i>, French tr.</strong>
there are six independent translations
from the 13th-cent. listed by R. N. Walpole &amp; I. Short in <i>Medium &AElig;uum</i> 47
(1978) 123&ndash;30. The text in the Dover catalogue can be identified as that edited
by R. Mortier, <i>Les Textes de la Chanson de Roland</i> 3 (Paris 1941).

</li>

<li>
C8.15f: 
<strong>Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</strong>
<br>
<strong><i>De nominibus utensilium</i></strong>
ed. T. Wright, <i>A Volume of Vocabularies</i>
(London 1857), 96&ndash;119; ed. A. B. Hunt, <i>Teaching and Learning Latin in
Thirteenth-Century England</i> (Cambridge 1991), 1. 181&ndash;90; Hunt, <i>Nequam</i>, 
126&ndash;8; Dean 301.

</li>

<li>
C8.15g: 
<strong>Adam Parvipontanus (Adam of Balsham) [12th cent.]
</strong>
<br>
<span class="biblio_block">
<i>DNB</i> (`Adam Angligena'); Sharpe, <i>Latin Writers</i>, 5.
</span>
<br>
<strong><i>De utensilibus</i></strong>
ed. A. Scheler, <i>Jahrbuch f&uuml;r romanische und englische
Literatur</i> 8 (1867) 75&ndash;93; ed. A. B. Hunt, <i>Teaching and Learning Latin in
Thirteenth-Century England</i> (Cambridge 1991), 1. 172&ndash;6.

</li>

<li>
C8.15n (`speculum morale Gregorii'): 
<strong>Adalbert of Metz [&dagger; <i>c.</i> 980]
</strong>
<br>
<span class="biblio_block">
<i>CMA Gallia</i> 1/1. 13&ndash;15.
</span>
<br>
<strong><i>Speculum Gregorii</i></strong>
preface pr. <i>PL</i> 136. 1309&ndash;12; chapter
headings, ed. R. Wasselynck, <i>RTAM</i> 34 (1967) 255&ndash;62; Stegm&uuml;ller 
<i>Bibl.</i> 859; Bloomfield 3297.

</li>

<li>
C8.16a (`G. in pastoralibus'): 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
C8.16b (`A. de 12 beatitudinibus'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XIIII partibus beatitudinis</i>, adapted from <i>Similitudines Anselmi</i>,
cc. 47&ndash;71, and widely circulated as a separate text</strong>
<i>PL</i> 159. 626&ndash;43. [The
title might also be confused with <i>De VII beatitudinibus</i>.]

</li>

<li>
C8.16e (`Athanasius de ymagine domini Iesu'): 
<strong>Athanasius [<i>c</i>296&ndash;373], patriarch of Alexandria
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Sermo in imagine Berytensi Christi crucifixi</i>, Latin tr.</strong>
various 
translations listed, <i>BHL</i> 4227&ndash;30.

</li>

<li>
C8.&dagger;16c (`Anselmus de uanitate mundi'): 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong><i>De uanitate mundi</i></strong>
<i>PL</i> 176. 703&ndash;740; Goy, 245&ndash;53.

</li>

<li>
C8.17a: 
<strong><i>Gesta Romanorum cum applicationibus moralizatis</i></strong>
pr. [Cologne <i>c.</i> 
1473] (<i>GW</i> 10082), &amp;c.; ed. H. Oesterley (Berlin 1872 / repr. Hildesheim 
1963); W. R&ouml;ll in <i>MLJ</i> 21 (1986) 208&ndash;229; B. Weiske, <i>Gesta Romanorum</i> 
(T&uuml;bingen 1992).

<br>
</li>

<li>
C8.17b: 
<strong><i>Regula S. Augustini</i>, inc. `Ante omnia, fratres'</strong>
<i>CPL</i> 1839a.

<br>
</li>

<li>
C8.18b: 
<strong>John Beleth [&dagger; after 1182]
</strong>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
C8.&dagger;19b (`lapidarius'): 
<strong>Marbod of Rennes [1035&ndash;1123]
</strong>
<br>
<strong><i>Liber lapidum</i>, inc. `Euax rex Arabum legitur scripsisse Neroni'</strong>
 <i>PL</i> 171. 1737&ndash;70; <i>WIC</i> 5968. [See also `Evax rex Arabiae' for prose 
lapidaries.]

</li>

<li>
C8.20b: 
<strong>Bonaventure OFM [1221&ndash;1274]
</strong>
<br>
<strong><i>De sex alis seraphim</i></strong>
<i>SBonO</i> 8. 131&ndash;51; Distelbrink 17.

</li>

<li>
C8.20f (attrib. Augustine): 
<strong>Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</strong>
<br>
<strong><i>De uera innocentia ex operibus S. Augustini</i></strong>
<i>CPL</i> 525; 
ed. M. Gastaldo, <i>CCSL</i> 68A (1972) 257&ndash;365.

</li>

<li>
C8.20g (`Augustinus de laude psalmorum'): 
<strong>Nicetas [&dagger; after 414], bishop of Remesiana
</strong>
<br>
<strong>(<i>ps.</i> Augustine), <i>De psalmodiae bono siue de utilitate hymnorum</i></strong>
 <i>CPL</i> 649; Stegm&uuml;ller <i>Bibl.</i> 5660; <i>CPPM</i> 2. 2811.

</li>

<li>
C8.20h: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Dulcis Iesu memoria</i></strong>
ed. A. Wilmart, <i>Le Jubilus sur le nom de J&eacute;sus 
dit de saint Bernard</i> (Rome 1944).

</li>

<li>
C8.&dagger;20e (`Anselmus de amore Dei'): 
<strong>Anselm of Canterbury OSB [<i>c</i>1033&ndash;1109], archbishop of Canterbury
</strong>
<br>
<strong><i>Oratio</i> 2 <i>ad Christum cum mens uult eius amore feruere</i></strong>
<i>SAO</i> 
3. 6&ndash;9.

</li>

<li>
C8.21a: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
C8.21b: 
<strong>Geoffrey de Vinsauf [&dagger; after 1200]
</strong>
<br>
<strong><i>Poetria noua</i></strong>
ed. E. Faral, <i>Les Arts po&eacute;tiques du XIIe et XIIIe 
si&egrave;cle</i> (Paris 1924), 197&ndash;262.

</li>

<li>
C8.21c (`canon tabularum rede'): 
<strong>William Reed [&dagger;1385], bishop of Chichester
</strong>
<br>
<strong><i>Canones tabularum ad meridiem Oxoniae</i></strong>
unpr.; Sharpe, <i>Latin
Writers</i>, 802; Thorndike/Kibre 1709. 

</li>

<li>
C8.22: 
<strong>William de la Furmentarie OFM [?]
</strong>
<br>
<strong>(attrib.), <i>Pharetra</i></strong>
pr. [Strassburg 1472] (Goff P571), &amp;c.;
ed. A. C. Peltier, <i>S. Bonaventurae opera omnia</i> 
(Paris 1864&ndash;71), 7. 1&ndash;231; Glorieux <i>R&eacute;p.</i> 311t; Distelbrink 178; 
Bloomfield 2530. [One copy of the work is dated 1261, which provides a 
<i>terminus ad quem</i>; it is usually anonymous, but some copies carry an
ascription to Bonaventure, other to Guibert of Tournai, and one very
distinctively to William de la Furmentarie, an English friar.]

</li>

<li>
C8.23c (`ex agro ueteri'): 
<strong>Matthew of Vend&ocirc;me [<i>c</i>1130&ndash;1200]
</strong>
<br>
<strong><i>In Tobiam paraphrasis metrica</i></strong>
<i>PL</i> 205. 933&ndash;80; ed. F. Munari, 
<i>Matthaei Vindocinensis opera</i> (Rome 1977&ndash;88), 2. 159&ndash;255.

</li>

<li>
C8.23j: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Epistula de transitu S. Hieronymi</i> (<i>ep.</i> 18)</strong>
<i>PL</i> 22. 281&ndash;9; <i>PL</i> 33.
1120&ndash;26; <i>BHL</i> 3867. Always accompanied by the reply, <i>ps.</i> Cyril of Jerusalem,
<i>Epistula de transitu S. Hieronymi</i> (<i>ps.</i> Augustine, <i>ep.</i> 19): <i>PL</i> 33.
1126&ndash;53; <i>BHL</i> 3868. [The work was usually also accompanied by the letter of
<i>ps.</i> Eusebius (<i>BHL</i> 3866), attested among our catalogues in SS1.779.]

</li>

<li>
C8.23k (`12 capitula Hampol'): 
<strong>Richard Rolle [&dagger;1349]
</strong>
<br>
<strong><i>Emendatio uitae</i></strong>
pr. Paris 1510 &amp;c.; ed. N. J. Watson, TMLT 21 (1995),
33&ndash;68; Bloomfield 3191; Allen, <i>Rolle</i>, 230&ndash;45.

</li>

<li>
C8.23l (`B. ad Eugenium papam'): 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>De consideratione</i></strong>
<i>SBO</i> 3. 393&ndash;493.

</li>

<li>
C8.&dagger;23f (`disputacio inter corpus et animam'): 
<strong><i>Visio Philiberti</i></strong>
ed. T. Wright, <i>Poems attributed to Walter Mapes</i>,
Camden Society (London 1841), 95&ndash;106; <i>WIC</i> 11894; Thomson, <i>Grosseteste</i>,
247&ndash;8.

<br>
</li>

<li>
C8.24a: 
<strong>Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</strong>
<br>
<strong><i>Elucidarius</i></strong>
<i>PL</i> 172. 1109&ndash;1176; ed. Y. Lef&egrave;vre, <i>L'Elucidarium et
les lucidaires</i>, Biblioth&egrave;que des &Eacute;coles fran&ccedil;aises d'Ath&egrave;nes et de Rome
180 (Paris 1954), 361&ndash;477.

</li>

<li>
C8.24b: 
<strong>Petrus Alfonsi [early 12th cent.]
</strong>
<br>
<strong><i>De disciplina clericali</i></strong>
<i>PL</i> 157. 671&ndash;706; ed. A. Hilka
&amp; W. S&ouml;derhjelm (Helsinki / Heidelberg 1911); Diaz 892.

</li>

<li>
C8.&dagger;24c (`tractatus de penitencia Roberti Grostest'): 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>De modo confitendi</i>, inc. `Ad primum dicat sacerdos'</strong>
ed. J. W. 
Goering &amp; F. A. C. Mantello, <i>RTAM</i> 54 (1987) 52&ndash;112 (text, 80&ndash;110); 
Thomson, <i>Grosseteste</i>, 126; Bloomfield 0280.

</li>

<li>
C8.27 (inc.): 
<strong>Basil of Caesarea [<i>c</i>330&ndash;379], bishop of Caesarea
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Admonitio ad filium spiritualem</i>, Latin tr.</strong>
<i>CPL</i> 1155a;
<i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des Mittelalters</i> 5 (1962), 200&ndash;245.

</li>

<li>
C8.28: 
<strong><i>Passio S. Ursulae et sociarum</i></strong>
unpr.; <i>BHL</i> 8426&ndash;51.

<br>
</li>

<li>
C8.32: 
<strong>David of Augsburg OFM [<i>c</i>1200&ndash;1272]
</strong>
<br>
<strong><i>Formula nouiciorum</i> is used as a title for more than one part of
<i>De exterioris et interioris hominis compositione</i></strong>
pr. Quaracchi 1899;
Bloomfield 4155 (Book I), 5676 (Book I part 2), 2655 (Book II).

</li>

<li>
C8.33 (`musica ecclesiastica'): 
<strong>Thomas &agrave; Kempis [1379&ndash;1471]
</strong>
<br>
<strong><i>Imitatio Christi</i></strong>
ed. C. Hirsche (Berlin 1891); ed. T.
Lupo, Storia e attualit&agrave; 6 (Vatican City 1982).

</li>

<li>
C8.*34: 
<strong>Henricus Suso OP (Heinrich Seuse) [1295&ndash;1366]
</strong>
<br>
<strong><i>Horologium sapientiae</i></strong>
ed. P. K&uuml;nzle, <i>Heinrich Seuses
Horologium sapientiae</i>, Spicilegium Friburgense 23 (1977); Bloomfield 5416; 
Kaeppeli 1852. [W. Wichgraf, 'Susos Horologium sapientiae in England nach
HSS. des 15. Jahrhunderts', <i>Anglia</i> 41 (1929) 123&ndash;33, 269&ndash;87, 345&ndash;73, 
and 42 (1930) 351&ndash;2.]

</li>

<li>
C8.35 (`donatus spiritualis'): 
<strong><i>Donatus deuotionis</i></strong>
part pr. by J. Rastell, London [<i>c.</i> 1515] (<i>STC</i> 
7018.7); Sharpe, <i>Latin Writers</i>, 694.

<br>
</li>

<li>
C8.36: 
<strong>Elizabeth of Sch&ouml;nau [&dagger;1165]
</strong>
<br>
<strong><i>Visiones</i></strong>
ed. F. W. E. Roth (Br&uuml;nn 1886); <i>BHL</i> 2485. English 
copies are likely to contain the recension by Roger of Ford.

</li>

<li>
C8.37 (`reuelaciones s. matildis uocate gracia celestis'): 
<strong>Mechtild von Hackeborn [1241&ndash;1299]
</strong>
<br>
<strong><i>Liber specialis gratiae</i></strong>
ed. J. Lef&egrave;vre d'&Eacute;taples in <i>Liber trium
uirorum et trium spiritualium uirginum</i>, Paris 1513 &amp;c.; ed. L. Paquelin,
<i>Reuelationes Gertrudianae et Mechtildianae</i>, vol. 2 (Poitiers/Paris 1877).

</li>

<li>
C8.38: 
<strong>Catherine of Siena [?1347&ndash;1380]
</strong>
<br>
<strong><i>Dialogi</i>, Latin tr. from Italian</strong>
pr. Brescia 1496 (<i>GW</i> 6226).

</li>

<li>
C8.40: 
<strong><i>Vitas patrum</i>. Collections with this common title invariably begin with
Rufinus's translation (often ascribed to Jerome) of the <i>Historia monachorum
in Aegypto</i> (<i>PL</i> 21. 387&ndash;462; ed. E. Schulz-Fl&uuml;gel [Berlin 1990]), and then
go on to include other Lives and <i>apophthegmata</i> of the type collected  and
published by H. Rosweyde and reprinted in <i>PL</i> vols. 73&ndash;4. Jerome's Lives
of St Paul the Hermit, St Hilarion, and St Malchus (<i>CPL</i> 617&ndash;19) also make
a frequent appearance. [See also <i>Historia monachorum in Aegypto</i>; Jerome,
<i>Liber adhortationum sanctorum patrum</i>.]
</strong>
<br>
</li>

<li>
C8.41: 
<strong>Isaac de Stella OCist [&dagger;1169]
</strong>
<br>
<strong><i>Epistola ad Iohannem episcopum Pictauiensem de officio 
missae</i></strong>
<i>PL</i> 194. 1889&ndash;96.

</li>

<li>
C8.50 (`libellus sancte angele'): 
<strong>Francisco Ximenez OFM [?1340&ndash;1409], bishop of Elne and patriarch of Jerusalem
</strong>
<br>
<span class="biblio_block"> 
D. J. Viera, <i>Bibiograf&iacute;a anotada de la vida i obra de Francesc 
Eiximenis</i> (Barcelona 1980).
</span>
<br>
<strong><i>Libro de los sanctos angeles</i>, French tr. as <i>Le livre des sains 
angeles</i></strong>
pr. Geneva 1478 (Goff X9), &amp;c.; Chavy, 497&ndash;8.

</li>

<li>
C8.52 (`papa Pius Turco'): 
<strong>Pius II (Enea Silvio de' Piccolomini) [1405&ndash;1464, <i>sedit</i> 1458&ndash;1464]
</strong>
<br>
<strong><i>Epistula ad Mahumetem</i></strong>
pr. [Cologne 1469&ndash;72] (Goff P696), &amp;c.

</li>

<li>
C8.53: 
<strong>Denys Ryckel OCarth [1402&ndash;1471]
</strong>
<br>
<strong><i>Inflammatorium diuini amoris</i></strong>
pr. <i>Doctoris ecstatici D. Dionysii
Cartusiani opera omnia</i> (Montreuil/Tournai 1896&ndash;1935), 41. 315&ndash;44.

</li>

<li>
C8.54 (`Albertus magnus de adherendo Deo'): 
<strong>Jehan Castel OSB [&dagger;1476]
</strong>
<br>
<strong><i>De adhaerendo Deo</i></strong>
pr. Ulm 1473 (<i>GW</i> 582), &amp;c.

</li>

<li>
C8.57: 
<strong>Richard Rolle [&dagger;1349]
</strong>
<br>
<strong><i>Incendium amoris</i></strong>
ed. M. Deanesly (Manchester 1915); Allen, <i>Rolle</i>, 209&ndash;29.

</li>

<li>
C8.58 (`epistolas s. Ignacii'): 
<strong>Ignatius [AD <i>c</i>35&ndash;<i>c</i>107], bishop of Antioch
</strong>
<br>
<strong><i>Epistolae</i>, Latin tr.</strong>
<i>CPG</i> 1025. It is possible that the copies 
contained the rare translation by Robert Grosseteste or the Latin <i>ps.</i> 
Ignatian letters to St John and the Blessed Virgin (Sharpe, <i>Latin Writers</i>, 
547).

</li>

<li>
C8.59: 
<strong>Birgitta of Sweden [<i>c</i>1303&ndash;1373]
</strong>
<br>
<strong><i>Reuelationes</i></strong>
pr. [L&uuml;beck] 1492 (<i>GW</i> 4391); pr. Rome 1628; ed. 
B. Bergh &amp; others (Uppsala 1967&ndash;2002). [The Syon copy, SS1.*797, is 
augmented with related texts; see note ad loc.]

</li>

<li>
C8.60: 
<strong>Smaragdus of Saint-Mihiel [&dagger; <i>c</i>830]
</strong>
<br>
<strong><i>Diadema monachorum</i></strong>
<i>PL</i> 102. 593&ndash;690; Bloomfield 2456.

</li>

<li>
C8.61 (`gesta saluatoris'): 
<strong><i>Euangelium Nicodemi</i></strong>
ed. H. C. Kim (Toronto 1973); Stegm&uuml;ller 
<i>Bibl.</i> 179,9 &amp;c.; Z. Izydorczyk, <i>Manuscripts of the Euangelium Nicodemi</i> 
(Toronto 1993). [For prefatory excerpts, see Gregory of Tours, <i>De 
passione et resurrectione Domini</i>.]

<br>
</li>

<li>
C8.62: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De diligendo Deo</i></strong>
<i>PL</i> 40. 847&ndash;64; <i>CPPM</i> 2. 3070. The text is
a 12th-cent. catena of extracts from Hugh of Saint-Victor with passages
also from Anselm, Bernard, and Aelred.

</li>

<li>
C8.63: 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De fuga saeculi</i></strong>
<i>CPL</i> 133.

</li>

<li>
C8.64 (`A. de psalmo quinquagesimo'): 
<strong>Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</strong>
<br>
<strong><i>De apologia prophetae Dauid</i></strong>
<i>CPL</i> 135.

</li>

<li>
C8.65: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De uera et falsa poenitentia</i></strong>
<i>PL</i> 40. 1113&ndash;1130; Bloomfield 4419.
[Perhaps by Gilbert the Minorite.]

</li>

<li>
C8.66 (`Remigius de misse misteriis'): 
<strong>Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</strong>
<br>
<strong><i>Expositio missae</i> (<i>De diuinis officiis</i>, c. 40)</strong>
<i>PL</i> 101. 1246&ndash;71. 
This chapter often circulated separately.

</li>

<li>
C8.67: 
<strong>Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong><i>De originali peccato</i></strong>
pr. Oxford 1479 (<i>STC</i> 158), &amp;c.; pr. Rome
1554 / repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400h; Bloomfield 1886.

</li>

<li>
C8.68 (`speculatiua clausorum'): 
<strong><i>Speculum inclusorum</i></strong>
ed. L. Oliger, <i>Lateranum</i> new ser. 4 (1938) 1&ndash;148.

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>89 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
