{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; Rotherham</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
SECULAR INSTITUTIONS: Secular Colleges</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Rotherham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC285"  title="View details of catalogue SC285">SC285 Bequest by William Rawson, 22 June 1495 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC286 Bequest by Archbishop Rotherham, 24 August 1498 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC287 Donation by Henry Carnebull, 20 September 1499 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC288"  title="View details of catalogue SC288">SC288 Books from Archbishop Rotherham, after 29 May 1500 (159)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC289 Return to the chantry commission, 4 June 1548 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>
<em>5 catalogues found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
