{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC" title="UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC/351" title="Queens' College">Queens' College</a>  &gt; Leland, c. 1535</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Queens' College</h2><h3 class="medieval_catalogue_desc">UC52. Leland, c. 1535</h3>
<em>45 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC52.?: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Sermones</i></strong>
unpr.; Thomson, <i>Grosseteste</i>, 160&ndash;182, 214&ndash;232; 
Schneyer <i>Rep.</i> 5. 177&ndash;91.

</li>

<li>
UC52.1: 
<strong>John of Salisbury [<i>c</i>1115&ndash;1180], bishop of Chartres
</strong>
<br>
<strong><i>Metalogicon</i></strong>
ed. C. C. J. Webb (Oxford 1929); ed. J. B. Hall &amp; K. S. 
B. Keats-Rohan, <i>CCCM</i> 98 (1991).

</li>

<li>
UC52.2: 
<strong>John of Salisbury [<i>c</i>1115&ndash;1180], bishop of Chartres
</strong>
<br>
<strong><i>Entheticus de dogmate philosophorum</i></strong>
ed. R. E. Pepin, <i>Traditio</i> 31
(1975) 137&ndash;93; <i>WIC</i> 4699.

</li>

<li>
UC52.3: 
<strong>Walter Burley [1275&ndash;after 1344]
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong>Commentary on Aristotle's <i>Ethica</i></strong>
pr. Venice 1481 (<i>GW</i> 5778), &amp;c.; 
Sharpe, <i>Latin Writers</i>, 718&ndash;19.

</li>

<li>
UC52.4: 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Sphaera</i></strong>
unpr.; Thorndike/Kibre 268; Glorieux <i>R&eacute;p.</i> 316b;
Sharpe, <i>Latin Writers</i>, 293&ndash;4.

</li>

<li>
UC52.5 (`theorica L. de latitudinibus planetarum'): 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Theorica planetarum correcta</i></strong>
unpr.; Thomson, <i>Grosseteste</i>,
238&ndash;9.

</li>

<li>
UC52.6: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>De sphaera</i></strong>
ed. Baur, 10&ndash;32; Thomson, <i>Grosseteste</i>, 115&ndash;16.

</li>

<li>
UC52.7 (`A. de motibus coelestium corporum'): 
<strong>Alfraganus (Ahmad Ibn Muhammad al-Farghani) [&dagger; after 861]
</strong>
<br>
<strong><i>Liber de aggregationibus scientiae stellarum</i>, tr. Gerard of 
Cremona</strong>
ed. R. Campani (Florence 1910); Thorndike/Kibre 960. Or the same 
work, <i>De scientia astrorum</i>, tr. John of Seville and known as <i>De 
differentiis</i>: pr. Ferrara 1493 (<i>GW</i> 1268); ed. F. J. Carmody (Berkeley, 
CA, 1943); Carmody, 115; Diaz 970; Thorndike/Kibre 429, 960.

</li>

<li>
UC52.8 (`cum commentariis Azelardi'): 
<strong>Euclid [fl. 300 BC]
</strong>
<br>
<strong><i>Elementa</i>, tr. from Arabic by Adelard of Bath</strong>
pr. Venice 1482 (<i>GW</i> 
9428), &amp;c.; ed. G. D. Goldat, PhD diss. (University of Wisconsin 1954); ed. 
H. L. L. Busard &amp; M. Folkerts, <i>Robert of Chester's (?) Redaction of Euclid's 
Elementa</i> (Basel 1992). This version, known as Adelard II, is the most widely 
known of three versions attributed to Adelard, and that most consistenly 
ascribed to him in manuscripts. It was also that used by Campanus of Novara 
for his commentary. 

</li>

<li>
UC52.9: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
<strong><i>De miseria humanae conditionis</i> (1194&ndash;5)</strong>
<i>PL</i> 217. 701&ndash;746; ed. 
M. Maccarrone (Lugano 1955); ed. R. E. Lewis (Athens, GA, 1978); Bloomfield 
1753.

</li>

<li>
UC52.10 (`Armandus de
   transcendentibus, de praedicamentis, et intentionibus secundis'): 
<strong>Armandus de Bellovisu (Armand de Belvezer) OP [&dagger;1334]
</strong>
<br>
<strong><i>De declaratione difficilium terminorum tam theologiae quam 
philosophiae ac logicae</i></strong>
pr. [Pavia ? 1481] (<i>GW</i> 2500), &amp;c.; Kaeppeli 316.

</li>

<li>
UC52.11 (`Bocchatius de insigni obedientia et fide uxoria'): 
<strong>Francesco Petrarca [1304&ndash;1374]
</strong>
<br>
<strong><i>Historia Griseldis</i>, based on a story in Boccaccio's <i>Decamerone</i></strong>
 pr. Cologne <i>c.</i> 1469 (Goff P400), &amp;c.; ed. U. Hess, <i>Heinrich Steinhowels 
Griseldis</i> (Munich 1975), 173&ndash;238; ed. L. C. Rossi (Palermo 1991).

</li>

<li>
UC52.12: 
<strong>Coluccio Salutati [1331&ndash;1406]
</strong>
<br>
<strong><i>Declamatio Lucretiae</i></strong>
pr. as <i>Ep. 427</i> in Enea Silvio Piccolomini's 
<i>Epistolae familiares</i>, Milan 1496 (Bod-Inc P322), &amp;c.; ed. E. Menest&ograve;, 
<i>Coluccio Salutati. Editi e inediti latini dal Ms.53 della Biblioteca 
communale di Todi</i>, 34&ndash;43 (Todi 1971); ed. J. Follack, <i>Lucretia zwischen
positiver und negativer Anthropologie</i>, Dr.phil. diss. (Konstanz 2002),
Appendix 1.

</li>

<li>
UC52.13 (`certamen paupertatis et fortunae'): 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>De casibus uirorum illustrium</i></strong>
pr. Paris 1520 / repr. Gainesville, 
FL, 1962; ed. P. G. Ricci &amp; V. Zaccaria in <i>Tutte le opere di Giovanni 
Boccaccio</i>, ed. V. Branca (Milan 1964&ndash;98), 9. 2&ndash;871.

</li>

<li>
UC52.14: 
<strong>Benedictus de Pileo (Benedetto da Piglio) [<i>c</i>1365&ndash;<i>c</i>1423]
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 8. 443&ndash;4.
</span>
<br>
<strong><i>Libellus poenarum</i></strong>
unpr.; <i>DBI</i> 8. 444.

</li>

<li>
UC52.15: 
<strong>Benedictus de Pileo (Benedetto da Piglio) [<i>c</i>1365&ndash;<i>c</i>1423]
</strong>
<br>
<strong><i>Ecloga ad honorem inuicti principis Sigismundi Romanorum et
Hungariae regis</i></strong>
ed. W. Wattenbach in <i>Festschrift zur Begr&uuml;$=248$$ung
der 24. Versammlung Deutscher Philologen</i> (Leipzig 1865), 124&ndash;7.

</li>

<li>
UC52.16: 
<strong>Roger of St Ives OESA [&dagger; after 1419]
</strong>
<br>
<strong><i>Contra Ioannem de Veteri Castro</i></strong>
not known to survive; Sharpe,
<i>Latin Writers</i>, 595.

</li>

<li>
UC52.17: 
<strong>Walter Oddington OSB [&dagger;after 1316], monk of Evesham
</strong>
<br>
<strong><i>De speculatione musicae</i></strong>
ed. F. F. Hammond, Corpus scriptorum
de musica 14 (1970); Sharpe, <i>Latin Writers</i>, 738.

</li>

<li>
UC52.18: 
<strong>Francesco Petrarca [1304&ndash;1374]
</strong>
<br>
<strong><i>De sui ipsius et multorum ignorantia</i></strong>
ed. L. M. Capelli (Rome
1906).

</li>

<li>
UC52.19: 
<strong>John Baconsthorpe OCarm [<i>c</i>1280&ndash;1348]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
ed. J. C. Marasca (Cremona
1618 / repr. Farnborough 1969); Stegm&uuml;ller <i>Sent.</i> 402.

</li>

<li>
UC52.20: 
<strong>Henry of Ashbourne OP [late 13th cent.]
</strong>
<br>
<strong>Commentary on Proverbs</strong>
not known to survive; Kaeppeli 1755;
Sharpe, <i>Latin Writers</i>, 162.

</li>

<li>
UC52.21: 
<strong>Henry of Ashbourne OP [late 13th cent.]
</strong>
<br>
<strong>Commentary on Ecclesiastes</strong>
not known to survive; Kaeppeli 1756;
Sharpe, <i>Latin Writers</i>, 162.

</li>

<li>
UC52.23 (`scutum inexpugnabile ad defensorium fidei
   catholiccae de sacramento eucharistiae . . I. de Tissington'): 
<strong>John Tissington OFM [&dagger; <i>c</i>1395]
</strong>
<br>
<strong><i>Confessio de sacramento altaris</i></strong>
ed. W. W. Shirley, <i>Fasciculi
zizaniorum</i>, RS 5 (1858), 133&ndash;80; Sharpe, <i>Latin Writers</i>, 330.

</li>

<li>
UC52.24: 
<strong>Richard Fishacre OP [&dagger;1248]
</strong>
<br>
<strong><i>Quodlibeta</i></strong>
not known to survive.

</li>

<li>
UC52.25: 
<strong>Innocent III (Lotharius de Segnis) [1160/61&ndash;1216, <i>sedit</i> 1198&ndash;1216]
</strong>
<br>
[<i>attrib.</i>]
<strong><i>Commentarium in septem Psalmos poenitentiales</i></strong>
<i>PL</i> 217. 967&ndash;1130; 
Stegm&uuml;ller <i>Bibl.</i> 4005; Bloomfield 3186.

</li>

<li>
UC52.26 (`Rabanus super Apocalypsin'): 
<strong>Haimo of Auxerre [fl. 840&ndash;865]
</strong>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on Revelation</strong>
<i>PL</i> 117. 937&ndash;1220 (as Haimo); Stegm&uuml;ller 
<i>Bibl.</i> 3072, 3122.

</li>

<li>
UC52.27: 
<strong>Richard FitzRalph [&dagger;1360], archbishop of Armagh
</strong>
<br>
<strong><i>Summa de quaestionibus Armenorum</i></strong>
pr. Paris 1512 (Adams F350).

</li>

<li>
UC52.28: 
<strong>Robert of Bridlington OSA [&dagger; after 1154]
</strong>
<br>
<strong>Commentary on the Pauline Epistles; unpr.; Sharpe, <i>Latin Writers</i>,
527; Stegm&uuml;ller <i>Bibl.</i> 7382,1&ndash;13.
</strong>
</li>

<li>
UC52.29: 
<strong>Nicholas Radcliff OSB [&dagger; by 1401], monk of St Albans 
</strong>
<br>
<strong><i>De uiatico salutari animae immortalis</i></strong>
unpr.; Sharpe, <i>Latin
Writers</i>, 392.

</li>

<li>
UC52.30: 
<strong>Thomas Docking OFM [&dagger; after 1269]
</strong>
<br>
<strong>(attrib.), Commentary on Luke</strong>
unpr.; Sharpe, <i>Latin Writers</i>,
652.

</li>

<li>
UC52.31 (`apologia Pecham contra impugnantes paupertatem uel
   mendicitatem fratrum', inc.): 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Tractatus de paupertate</i></strong>
prol. &amp; cc. 1&ndash;6, ed. A. van den Wyngaert
(Paris 1925); cc. 7&ndash;9, ed. F. Delorme, <i>Studi Francescani</i> 3rd ser. 4 (1932)
47&ndash;62 and 164&ndash;93; c. 10, ed. A. G. Little, British Society of Franciscan
Studies 2 (Aberdeen 1910), 27&ndash;55; cc. 11&ndash;14, ed. F. Delorme, <i>Collectanea Franciscana</i>
14 (1944) 90&ndash;117; c. 15, ed. F. Delorme in <i>Richardi de Mediauilla Quaestio
disputata de priuilegio Martini papae IV</i> (Quaracchi 1925), 79&ndash;88; c. 16,
ed. A. G. Little (as above), 63&ndash;87.

</li>

<li>
UC52.32: 
<strong>Bonaventure OFM [1221&ndash;1274]
</strong>
<br>
<strong><i>Epistola de tribus quaestionibus</i></strong>
<i>SBonO</i> 8. 331&ndash;6; Distelbrink
46; Glorieux <i>R&eacute;p.</i> 305f.

</li>

<li>
UC52.33 (`haereses a Pecchamno damnatae'): 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Errores damnatae</i></strong>
ed. C. T. Martin, RS 77 (1882&ndash;6), 3. 221&ndash;3;
Glorieux <i>R&eacute;p.</i> 316as<sup>7</sup>.

</li>

<li>
UC52.34: 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Epistolae ad Oxonienses</i></strong>
 
</li>

<li>
UC52.35 (`impugnatio fratrum minorum per praedicatores'): 
<strong>Robert Kilwardby OP [&dagger;1279]
</strong>
<br>
<strong><i>Epistola ad nouicios de excellentia ordinis Praedicatorum</i>,
surviving as quoted in the response by John Pecham, <i>Tractatus contra
fratrem Robertum Kilwarby</i>, and printed as part of that text (ed. F.
Tocco, <i>La questione della povert&agrave; nel secolo XIV</i> Naples 1910), 
219&ndash;75; Kaeppeli 3528).
</strong>
</li>

<li>
UC52.36 (`. . cum 32 carminibus eiusdem Albini in calce operis'): 
<strong>Alcuin [<i>c</i>735&ndash;804]
</strong>
<br>
<strong><i>Carmina</i></strong>
 
</li>

<li>
UC52.37: 
<strong>William of Newburgh OSA [&dagger; after 1199]
</strong>
<br>
<strong><i>Explanatio sacri epithalamii in matrem sponsi</i></strong>
ed.
J. C. Gorman, Spicilegium Friburgense 6 (1960) 71&ndash;364; Stegm&uuml;ller <i>Bibl.</i>
3009.

</li>

<li>
UC52.38: 
<strong>Richard FitzRalph [&dagger;1360], archbishop of Armagh
</strong>
<br>
<strong><i>Sermones</i></strong>
unpr.; Schneyer <i>Rep.</i> 5. 150&ndash;158; Sharpe, <i>Latin
Writers</i>, 481.

</li>

<li>
UC52.39: 
<strong>Robert Grosseteste, known as Lincolniensis [&dagger;1253], bishop of Lincoln
</strong>
<br>
<strong><i>Dicta CXLVII</i></strong>
part ed. E. Brown, <i>Fasciculus rerum expetendarum</i> 
(London 1690), 2. 258&ndash;305; Thomson, <i>Grosseteste</i>, 214&ndash;32.

</li>

<li>
UC52.40: 
<strong>Avitus of Vienne [&dagger;518], bishop of Vienne
</strong>
<br>
<strong><i>Homilia in rogationibus</i> (<i>serm.</i> 6)</strong>
<i>CPL</i> 994; ed. R. Peiper,
MGH Auct. Antiq. 6/2 (Berlin 1883), 108&ndash;112.

</li>

<li>
UC52.42: 
<strong>Philip Repingdon OSA [&dagger;1424], bishop of Lincoln
</strong>
<br>
<strong><i>Sermones super euangelia dominicalia</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 
437&ndash;8.

</li>

<li>
UC52.43 (`sermones
   Wiberti'): 
<strong>Guibert of Tournai OFM [&dagger;1284]
</strong>
<br>
<strong><i>Sermones ad uarios status</i></strong>
pr. Lyon [after 1503] (<i>GW</i> 9. 608); 
Glorieux <i>R&eacute;p.</i> 311g; Schneyer <i>Rep.</i> 2. 299&ndash;307.

</li>

<li>
UC52.44: 
<strong>Robert of Cricklade OSA [&dagger; after 1188]
</strong>
<br>
<strong><i>De connubio Iacob</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 532; 
Stegm&uuml;ller <i>Bibl.</i> 7447.

</li>

<li>
UC52.79: 
<strong>William Woodford OFM [&dagger; post 1400]
</strong>
<br>
<strong><i>Defensorium fratrum mendicantium contra Armachanum</i> (1395/6), an
extended refutation of the added eighth book of Richard FitzRalph's <i>De
pauperie saluatoris</i></strong>
ed. M. Lescuyer, diss. (&Eacute;cole nationale de chartes
1993). 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>45 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
