{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K515. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K515: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong>&lt;&gt;, works reported from Pignon, &sect; 114.
</strong>
</li>

<li>
K515.3 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong>Commentary on Wisdom</strong>
pr. [Cologne, not after 1476] (Goff H288), 
&amp;c.; Kaeppeli 3497; Stegm&uuml;ller <i>Bibl.</i> 7416.

</li>

<li>
K515.5 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong>Commentary on Matthew</strong>
not known to survive; Sharpe, <i>Latin Writers</i>,
554.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
