{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Norwich-Yarmouth</h2><h3 class="medieval_catalogue_desc">B64. Inventory, ?c. 1425</h3>
<em>16 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B64.3: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Lectura super Matthaeum</i></strong>
ed. R. Cai (Turin 1951); Stegm&uuml;ller
<i>Bibl.</i> 8048; Glorieux <i>R&eacute;p.</i> 14r.

</li>

<li>
B64.4: 
<strong>Bartholomew the Englishman [&dagger;1250]
</strong>
<br>
<strong><i>De proprietatibus rerum</i></strong>
pr. Frankfurt 1601; H. Meyer, <i>Die
Enzyklop&auml;die des Bartholom&auml;us Anglicus. Untersuchungen zur &Uuml;berlieferungs-
und Rezeptionsgeschichte von De proprietatibus rerum</i> (Munich 2000);
Sharpe, <i>Latin Writers</i>, 69. A collaborative edition is in progress in the
series De diuersis artibus (Turnhout 2007&ndash;).

</li>

<li>
B64.&dagger;5: 
<strong>John of Freiburg OP [&dagger;1314]
</strong>
<br>
<strong><i>Summa confessorum</i></strong>
pr. Augsburg 1476 (Goff J316), &amp;c.; Schulte, 2.
421&ndash;2; Bloomfield 5256; Kaeppeli 2344. [Published in 1298; anonymous copies
often indistinguishable from the earlier work by Thomas of Chobham.]

</li>

<li>
B64.6: 
<strong>Maurice the Englishman [13th cent.]
</strong>
<br>
<strong><i>Distinctiones</i></strong>
part pr. as <i>Dictionarium Sacrae Scripturae</i>, Venice 
1603; Stegm&uuml;ller <i>Bibl.</i> 5566; Bloomfield 0088; Sharpe, <i>Latin Writers</i>, 374.

</li>

<li>
B64.8: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Legenda aurea</i></strong>
ed. T. Graesse (Breslau 1890<sup>3</sup>/ repr. Osnabr&uuml;ck 
1965); ed. G. P. Maggioni, Millennio medievale 6 (Florence 1998, <sup>2</sup>1999); 
Kaeppeli 2154.  [B. Fleith, <i>Studien zur &Uuml;berlieferungsgeschichte der 
lateinischen Legenda aurea</i>, Subsidia hagiographica 72 (1991), records more 
than one thousand copies in manuscript; <i>ISTC</i> records some 150 printed 
editions before 1501.]

</li>

<li>
B64.9: 
<strong>Papias [fl. 1050]
</strong>
<br>
<strong><i>Elementarium doctrinae rudimentum</i></strong>
pr. Milan 1476 (<i>CIBN</i> P22), 
&amp;c.; Venice 1496 / repr. Turin 1966; a new edition was begun by V. de Angelis, 
A fasc. 1&ndash;3 (Milan 1977&ndash;80).

</li>

<li>
B64.10: 
<strong>Ottobuono Fieschi (later Adrian V) [<i>sedit</i> 1276], cardinal legate
</strong>
<br>
<strong><i>Constitutiones</i> (1268)</strong>
ed. Powicke &amp; Cheney, 2/2. 747&ndash;92.

</li>

<li>
B64.11: 
<strong><i>Constitutiones Clementinae</i>, collecting the constitutions of Clement V,
promulgated by John XXII in 1317</strong>
ed. E. Friedberg, <i>Corpus iuris canonici</i>,
2. 1129&ndash;1200; Schulte, 2. 45&ndash;50. [The ordinary gloss on the Clementines is
that of Iohannes Andreae; others include Jean le Moine, Guido de Baysio,
Jesselin de Cassagnes, Paulus de Liazariis, and William of Mont Lauzun.]

<br>
</li>

<li>
B64.12: 
<strong>Hrabanus Maurus [&dagger;856]
</strong>
<br>
<span class="biblio_block">
<i>Hrabanus Maurus in Fulda mit einer Hrabanus-Maurus-Bibliographie 
(1979&ndash;2009)</i>, Fuldaer Studien 13 (2010).
</span>
<br>
<strong><i>De uniuerso seu De rerum naturis</i></strong>
&para;pr. [Strassburg before 1467] 
(Goff R1); <i>PL</i> 111. 9&ndash;614.

</li>

<li>
B64.13: 
<strong><i>Testamentum XII patriarcharum</i>, tr. Robert Grosseteste</strong>
<i>PG</i> 2. 1038&ndash;1150;
Thomson, <i>Grosseteste</i>, 42&ndash;4; Stegm&uuml;ller <i>Bibl.</i> 87,7 and 7398,2.

<br>
</li>

<li>
B64.15: 
<strong>Willelmus de Pagula [early 14th cent.]
</strong>
<br>
<strong><i>Summa summarum</i></strong>
unpr.; excerpts ed. L. E. Boyle, <i>Proceedings of 
Second Congress of Medieval Canon Law</i> (Vatican City 1965), 415&ndash;56; 
Bloomfield 0234; Sharpe, <i>Latin Writers</i>, 800.

</li>

<li>
B64.17: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
B64.18: 
<strong>Nicholas of Lyre OFM [&dagger;1349]
</strong>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
B64.19: 
<strong>Martin of Troppau OP [&dagger;1278]
</strong>
<br>
<strong><i>Margarita Decreti</i></strong>
pr. [Cologne] 1481 (<i>CIBN</i> M177), &amp;c.; 
Kaeppeli 2973.

</li>

<li>
B64.20: 
<strong>Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</strong>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
B64.21: 
<strong><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</strong>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
