{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>CISTERCIANS: Kirkstead</h2><h3 class="medieval_catalogue_desc">Z11. Lincolnshire list, 1528</h3>
<em>11 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
Z11.1: 
<strong>Ranulf de Glanvill [&dagger;1190]
</strong>
<br>
<strong>(attrib.), <i>Tractatus de legibus et consuetudinibus regum
Angliae</i></strong>
ed. G. D. G. Hall (London 1965).

</li>

<li>
Z11.2b: 
<strong>Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</strong>
<br>
<strong><i>Imago mundi</i></strong>
 &rarr; Gossuin de Metz.]

<i>PL</i> 172. 119&ndash;188; ed. V. I. J. Flint, <i>AHDLMA</i> 49 (1982)
7&ndash;153. [For the French poem of this name, 
</li>

<li>
Z11.&dagger;2a: 
<strong>Hugh of Fleury OSB [&dagger; <i>c</i>1135]
</strong>
<br>
<strong><i>Historia ecclesiastica siue Chronicon</i></strong>
the first redaction,
ed. B. Rottendorff (M&uuml;nster 1638); the second redaction, part ed. G. Waitz,
MGH <i>Scriptores</i> 9. 337&ndash;64; N. Lettinck in <i>RB</i> 91 (1981) 386&ndash;97. [The work
was sent by the author for correction to Ivo of Chartres, to whom it is 
commonly ascribed.]

</li>

<li>
Z11.3: 
<strong>Gilbert of Hoyland OCist [&dagger;1172], abbot of Swineshead
</strong>
<br>
<strong>Sermons on the Song of Songs 3</strong>
1&ndash;5:10: <i>PL</i> 184. 11&ndash;252; Stegm&uuml;ller 
<i>Bibl.</i> 2493.

</li>

<li>
Z11.4: 
<strong>Robert of Bridlington OSA [&dagger; after 1154]
</strong>
<br>
<strong>Commentary on Exodus</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7373.

</li>

<li>
Z11.*5: 
<strong>Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</strong>
<br>
<strong>Commentary on <i>ps.</i> Dionysius's <i>Hierarchia caelestis</i></strong>
<i>PL</i> 175.
923&ndash;1154; ed. D. Poirel (in preparation); Goy, 181&ndash;96.

</li>

<li>
Z11.*6: 
<strong>Ralph of Flaix OSB [mid 12th cent.], abbot of Flaix
</strong>
<br>
<strong>Commentary on Leviticus</strong>
pr. Marburg/Cologne 1536, repr.
in <i>Maxima bibliotheca ueterum patrum</i> (Lyon 1677), 17. 48&ndash;246;
Stegm&uuml;ller <i>Bibl.</i> 7093.

</li>

<li>
Z11.7a: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong>Commentary on Isaiah, inc. `<i>Quattuor rote per bases singulas</i> &amp;c. 
[3 Rg 7</strong>
30] Bases istas ante templum Salomonis': unpr.; Stegm&uuml;ller <i>Bibl.</i> 
7817. [The incipit at K554.10 reflects a copy of the moral commentary,
Stegm&uuml;ller <i>Bibl.</i> 7818.]

</li>

<li>
Z11.7b: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong>Commentary on Tobit, inc. `<i>Fiant luminaria in firmamento celi</i> [Gn 
1</strong>
14]. Ecclesia dicitur celum et firmamentum': unpr.; Stegm&uuml;ller <i>Bibl.</i>
7761.

</li>

<li>
Z11.7c: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong>Commentary on Judith, inc. `<i>Lucerna splendens super candelabrum aureum</i>,
&amp;c. [Sir 26</strong>
22] Nomine candelabri sacra scriptura': unpr.; Stegm&uuml;ller 
<i>Bibl.</i> 7762.

</li>

<li>
Z11.7d: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong>Commentary on Esther, inc. `Legitur in XI Prouerbiorum, <i>Mulier gratiosa</i>,
&amp;c. [Prv 11</strong>
16] Utriusque parabolarum istarum ueritas': unpr.; Stegm&uuml;ller 
<i>Bibl.</i> 7763.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
