{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K625. Catalogus, c. 1360</h3>
<em>7 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K625.1 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Speculum poenitentis</i></strong>
ed. Goering, <i>William de Montibus</i>, 187&ndash;210;
Bloomfield 0504, 1410.

</li>

<li>
K625.2 (1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Distinctiones theologicae</i></strong>
unpr. apart from excerpts in Goering,
<i>William de Montibus</i>, 261&ndash;303; Stegm&uuml;ller <i>Bibl.</i> 2993&ndash;5; Bloomfield 0159, 0478.

</li>

<li>
K625.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Goering, <i>William de Montibus</i>, 515&ndash;16, modifies the
list in Schneyer <i>Rep.</i> 2. 509&ndash;524.

</li>

<li>
K625.4 (`de bonitate mulierum ad moniales', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Epistola ad moniales</i></strong>
ed. Goering, <i>William de Montibus</i>, 222&ndash;6 (text,
225&ndash;6).

</li>

<li>
K625.7 (2 copies, among them B68): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Numerale</i></strong>
unpr. apart from excerpts in Goering, <i>William de Montibus</i>, 227&ndash;60; Bloomfield 6161, 6163.

</li>

<li>
K625.8 (1 copy, BP21, incipit untraced): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Speculum poenitentis</i></strong>
ed. Goering, <i>William de Montibus</i>, 187&ndash;210;
Bloomfield 0504, 1410.

</li>

<li>
K625.9 (1 copy, BP21): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3744_anchor">William de Montibus [&dagger;1213]
</a>
<br>
<strong><i>Versarium</i></strong>
extract ed. Goering, <i>William de Montibus</i>, 399&ndash;471.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>7 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
