{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/395" title="Merton College">Merton College</a>  &gt; Indentures of distributions of books from the warden's collection, c. 1408&ndash;37</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Merton College</h2><h3 class="medieval_catalogue_desc">UO52. Indentures of distributions of books from the warden's collection, c. 1408&ndash;37</h3>
<em>75 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO52.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

<li>
UO52.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2078_anchor"><i>Liber sextus Decretalium</i>, continuing the Decretals from Gregory IX 
(1234) to Boniface VIII (1298)</a>
pr. Strassburg 1465 (<i>GW</i> 4848), &amp;c.; 
ed. E. Friedberg, <i>Corpus iuris canonici</i>, 2. 933&ndash;1124; Schulte, 
2. 34&ndash;44. [The ordinary gloss on the Sext is that of Iohannes Andreae; 
at Paris that of Iohannes Monachus was preferred; the triple gloss also 
contained Guido de Baysio.] 

<br>
</li>

<li>
UO52.3 (`summam introductoriam super officio aduocacionis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry510_anchor">Bonaguida of Arezzo [fl. 1250]
</a>
<br>
<strong><i>Summa super officio aduocationis</i></strong>
ed. A. Wunderlich, <i>Anecdota
quae processum ciuilem spectant</i> (G&ouml;ttingen 1841), 132&ndash;345; Schulte, 
2. 111&ndash;12.

</li>

<li>
UO52.7 (`librum naturalis philosophie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Libri naturales</i>, a collection comprising Aristotle's <i>Physica</i>,
<i>De generatione et corruptione</i>, <i>De caelo</i>, <i>Meteora</i> I&ndash;III, <i>De plantis</i>,
and the <i>pseudo</i>-Aristotelian <i>Liber de causis</i> and <i>De differentia spiritus
et animae</i>; in the late 13th cent. new translations from Greek were substituted
for those from Arabic</strong>
<i>AL Codd.</i> 1. 49&ndash;51 for analysis.

</li>

<li>
UO52.8 (`cum libro naturalis
   philosophie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Libri naturales</i>, a collection comprising Aristotle's <i>Physica</i>,
<i>De generatione et corruptione</i>, <i>De caelo</i>, <i>Meteora</i> I&ndash;III, <i>De plantis</i>,
and the <i>pseudo</i>-Aristotelian <i>Liber de causis</i> and <i>De differentia spiritus
et animae</i>; in the late 13th cent. new translations from Greek were substituted
for those from Arabic</strong>
<i>AL Codd.</i> 1. 49&ndash;51 for analysis.

</li>

<li>
UO52.9 (IV): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO52.10 (tr. Grosseteste): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
UO52.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1194_anchor">Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</a>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UO52.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UO52.32 (`casus Bernardi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry460_anchor">Bernard of Parma [&dagger;1266]
</a>
<br>
<strong><i>Casus longi super Decretales</i></strong>
pr. Paris 1475 (<i>GW</i> 4092), &amp;c.; 
Schulte, 2. 115&ndash;16.

</li>

<li>
UO52.36 (`unus speculator'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Speculum iudiciale</i></strong>
pr. Strassburg 1473 (<i>GW</i> 9148), &amp;c.; 
Schulte, 2. 148&ndash;52; Lange, 2. 483&ndash;6.

</li>

<li>
UO52.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
UO52.38 (`Placentyne'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2685_anchor">Placentinus [&dagger;1192]
</a>
<br>
<strong><i>Summa Codicis</i></strong>
pr. Mainz 1536 / repr. Turin 1962; ed. F. Patetta
(Turin 1967); Savigny, 4. 270&ndash;76.

</li>

<li>
UO52.39 = UO52.77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2397_anchor">Odofredus of Bologna [&dagger;1265]
</a>
<br>
<strong><i>Lectura super Digesto ueteri</i></strong>
pr. Paris 1504 &amp;c.; Savigny, 5. 
368; Lange, 1. 330.

</li>

<li>
UO52.40 = UO52.77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2397_anchor">Odofredus of Bologna [&dagger;1265]
</a>
<br>
<strong><i>Lectura super Digesto nouo</i></strong>
pr. Lyon 1552 (Adams O68); Savigny, 
5. 368&ndash;71; Lange, 1. 330.

</li>

<li>
UO52.42 (`Iohannes in addicionibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1555_anchor">Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</a>
<br>
<strong><i>Additiones ad Decretales</i></strong>
unpr.; K. Pennington in <i>ZRG</i> kan.
74 (1988) 328&ndash;47. These were additions to Bernard of Parma's ordinary
gloss, superseded by the <i>Nouellae in Decretales</i> and therefore with
little subsequent circulation.

</li>

<li>
UO52.43 (`reportatorium Durandi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Breuiarium siue Repertorium</i></strong>
pr. Rome 1474 (<i>GW</i> 9145), &amp;c.; Schulte, 
2. 152&ndash;3.

</li>

<li>
UO52.45 (`unus liber super ff. nouo') = UO52.79: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry15_anchor">Accursius [<i>c.</i> 1185&ndash;1263]
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 1. 116&ndash;21; <i>LexMA</i> 1. 75.
</span>
<br>
<strong>Gloss on Justinian</strong>
printed in most of the early editions of
<i>Institutiones</i> (Mainz 1468 (<i>GW</i> 7580), &amp;c.), <i>Digestum uetus</i> (Perugia 
1476 (<i>GW</i> 7656), &amp;c.), <i>Infortiatum</i> (Rome 1475 (<i>GW</i> 7678), &amp;c.), 
<i>Digestum nouum</i> (Rome 1476 (<i>GW</i> 7701), &amp;c.), and <i>Codex</i> (Mainz 1475 
(<i>GW</i> 7722), &amp;c.). A standard text is that in <i>Corpus iuris ciuilis</i> 
(Lyon 1584).

</li>

<li>
UO52.46 = UO52.86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2471_anchor"><i>Paruum uolumen</i>, a standard collection</a>
pr. Mainz 1477 &amp;c.;
ed. A. &amp; M. Kriegel, <i>Corpus iuris ciuilis</i> (Leipzig 1866). Its contents
comprised Books X&ndash;XII of Justinian's <i>Codex</i> (known as the <i>Tres libri</i>);
Justinian's <i>Nouellae</i>; <i>Libri feudorum</i>; <i>Tractatus de pace Constantiae</i>;
<i>Extrauagantes duae Henrici VII imperatoris</i>; and <i>Constitutiones Frederici II
imperatoris</i>. [The <i>Paruum uolumen</i> is often paired with Justinian's
<i>Institutiones</i>.]

<br>
</li>

<li>
UO52.47 (IV) = UO56.14b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
UO52.48 (`concordancie'),UO56.6 (`concordancias biblie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry670_anchor"><i>Concordantia maior</i>, the so-called `third concordance' compiled by the
Dominicans of Saint-Jacques, Paris</a>
pr. Strassburg, [not after 1474] (<i>GW</i>
7418) (under the name Conradus de Alemannia), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
1999, 3605&ndash;6; R. H. Rouse &amp; M. A. Rouse in <i>AFP</i> 44 (1974) 5&ndash;30; 
Kaeppeli 755 (as Conradus de Halberstadt OP). Rouse &amp; Rouse show that the
work circulated in Paris by 1286; the attribution to Conrad is made only
in the printed editions. [For the so-called `second concordance' or 
`English concordance', see Richard Stainsby.]

<br>
</li>

<li>
UO52.50: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
UO52.51: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
UO52.52: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3673_anchor">William Brito [late 13th cent.]
</a>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
UO52.53 (`sinonoma Y.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Synonyma</i></strong>
<i>CPL</i> 1203; ed. J. Elfassi, <i>CCCM</i> 111B (2009); Diaz 105.

</li>

<li>
UO52.&dagger;56 (`epistola Yuonis', 2nd fo. no match): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1978_anchor">Ivo of Chartres [<i>c</i>1040&ndash;1116]
</a>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 162. 11&ndash;288.

</li>

<li>
UO52.58 ?= UO68.204: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1972_anchor">M. Iunianus Iustinus [3rd cent.]
</a>
<br>
<strong>Epitome of Pompeius Trogus's lost <i>Historiae Philippicae</i></strong>
pr. Venice
1470 (Goff J613), &amp;c.;  ed. O. Seel, Teubner (1972).

</li>

<li>
UO52.59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3585_anchor">Samson
</a>
<br>
</li>

<li>
UO52.*60: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on Augustine's <i>De ciuitate Dei</i></strong>
part pr. [Strassburg 
<i>c.</i> 1468] (<i>GW</i> 2883), Mainz 1473 &amp;c.; Kaeppeli 3136. [Trevet's work was
used in early printings to continue the fuller but incomplete commentary 
by Thomas Waleys, which ends at X 29.]

</li>

<li>
UO52.*60<sup>x</sup> (`Tryuet super Augustinum de ciuitate dei'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3394_anchor">Thomas Waleys OP [&dagger;1350]
</a>
<br>
<strong>Commentary on Augustine's <i>De ciuitate Dei</i> I&ndash;X 29</strong>
pr. [Strassburg 
<i>c.</i> 1468] (<i>GW</i> 2883), Mainz 1473, &amp;c.; Kaeppeli 3891; Sharpe, <i>Latin 
Writers</i>, 685. In the printed editions the text is completed with the 
latter part of Nicholas Trevet's commentary.

</li>

<li>
UO52.61 = UO55.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on Boethius's <i>Philosophiae consolatio</i></strong>
unpr.; dedication, 
ed. R. J. Dean, <i>Studies in Philology</i> 63 (1966) 600&ndash;603; extracts in 
<i>Chaucer's Boece and the Medieval Tradition of Boethius</i>, ed. A. J. Minnis
(Cambridge 1993), 35&ndash;91; Kaeppeli 3134.

</li>

<li>
UO52.62 (`librum de epistolis Ieronimi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry447_anchor">Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</a>
<br>
<strong><i>De diligendo Deo</i></strong>
<i>SBO</i> 3. 119&ndash;154.

</li>

<li>
UO52.66 (`cum compoto Helperici'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1268_anchor">Helperic of Auxerre [9th cent.]
</a>
<br>
<strong><i>Computus</i></strong>
<i>PL</i> 137. 17&ndash;48; on the manuscripts see L.
Traube in <i>Neues Archiv</i> 18 (1893) 71&ndash;105; P. McGurk, <i>Medium &AElig;vum</i>
43 (1974) 1&ndash;5..

</li>

<li>
UO52.67 (`quaternum Terrentii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3285_anchor">P. Terentius Afer (Terence) [<i>c</i>195&ndash;159 BC]
</a>
<br>
<strong><i>Comoediae</i></strong>
ed. R. Kauer &amp; W. M. Lindsay, OCT (1958<sup>2</sup>).

</li>

<li>
UO52.69: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

<li>
UO52.70 (uetus): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
UO52.&dagger;71 (`liber uocatur Veni mecum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry686_anchor">Constantinus Africanus OSB [<i>c</i>1015&ndash;1087], monk of Monte Cassino
</a>
<br>
<strong><i>Viaticum</i></strong>
pr. Venice 1505 &amp;c.; pr. Lyon 1515, 2. 144r&ndash;171v (with the 
works of Isaac Judaeus); pr. Basel 1536, 1. 1&ndash;167 (with the works of 
Constantinus); Thorndike/Kibre 187, 334, 1298, 1357. [M. F. Wack, 
<i>Lovesickness in the Middle Ages. The Viaticum and its Commentaries</i> 
(Philadelphia, PA, 1990).]

</li>

<li>
UO52.74 (uetus): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
UO52.75 (2 parts): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1314_anchor">Henricus de Segusio, known as Hostiensis [<i>c</i>1200&ndash;1271]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Strassburg 1512 &amp;c.; Schulte, 2. 125.

</li>

<li>
UO52.76: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1194_anchor">Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</a>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

<li>
UO52.77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2397_anchor">Odofredus of Bologna [&dagger;1265]
</a>
<br>
<strong><i>Lectura super Digesto ueteri</i></strong>
pr. Paris 1504 &amp;c.; Savigny, 5. 
368; Lange, 1. 330.

</li>

<li>
UO52.78: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

<li>
UO52.79: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry15_anchor">Accursius [<i>c.</i> 1185&ndash;1263]
</a>
<br>
<strong>Gloss on Justinian</strong>
printed in most of the early editions of
<i>Institutiones</i> (Mainz 1468 (<i>GW</i> 7580), &amp;c.), <i>Digestum uetus</i> (Perugia 
1476 (<i>GW</i> 7656), &amp;c.), <i>Infortiatum</i> (Rome 1475 (<i>GW</i> 7678), &amp;c.), 
<i>Digestum nouum</i> (Rome 1476 (<i>GW</i> 7701), &amp;c.), and <i>Codex</i> (Mainz 1475 
(<i>GW</i> 7722), &amp;c.). A standard text is that in <i>Corpus iuris ciuilis</i> 
(Lyon 1584).

</li>

<li>
UO52.80 (nouum): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
UO52.81: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2685_anchor">Placentinus [&dagger;1192]
</a>
<br>
<strong><i>Summa Codicis</i></strong>
pr. Mainz 1536 / repr. Turin 1962; ed. F. Patetta
(Turin 1967); Savigny, 4. 270&ndash;76.

</li>

<li>
UO52.85 (inforciatum): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
UO52.86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2471_anchor"><i>Paruum uolumen</i>, a standard collection</a>
pr. Mainz 1477 &amp;c.;
ed. A. &amp; M. Kriegel, <i>Corpus iuris ciuilis</i> (Leipzig 1866). Its contents
comprised Books X&ndash;XII of Justinian's <i>Codex</i> (known as the <i>Tres libri</i>);
Justinian's <i>Nouellae</i>; <i>Libri feudorum</i>; <i>Tractatus de pace Constantiae</i>;
<i>Extrauagantes duae Henrici VII imperatoris</i>; and <i>Constitutiones Frederici II
imperatoris</i>. [The <i>Paruum uolumen</i> is often paired with Justinian's
<i>Institutiones</i>.]

<br>
</li>

<li>
UO52.88 (`Holcot super sentencias'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2977_anchor">Robert Holcot OP [&dagger;1349]
</a>
<br>
<strong><i>Opus quaestionum super Sententias</i></strong>
pr. Lyon 1497 (Goff H287), Lyon
1518 / repr. Frankfurt 1957; Kaeppeli 3499; Sharpe, <i>Latin Writers</i>, 555.

</li>

<li>
UO52.89 (`Cassiodorum', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry570_anchor">Cassiodorus Senator [<i>c</i>485&ndash;580]
</a>
<br>
<strong><i>Variae</i></strong>
<i>CPL</i> 896; ed. $caring$$. J. Fridh, <i>CCSL</i> 96 (1973) 3&ndash;499.

</li>

<li>
UO52.95 (`Flecto genua', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong><i>Breuiloquium pauperis seu Compendium sacrae Scripturae</i></strong>
<i>SBonO</i>
5. 201&ndash;291; Distelbrink 1; Glorieux <i>R&eacute;p.</i> 305k.

</li>

<li>
UO52.96 (`sermones Armachani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2911_anchor">Richard FitzRalph [&dagger;1360], archbishop of Armagh
</a>
<br>
<strong><i>Sermones</i></strong>
unpr.; Schneyer <i>Rep.</i> 5. 150&ndash;158; Sharpe, <i>Latin
Writers</i>, 481.

</li>

<li>
UO52.100 (`de exposicione uocabulorum difficilium', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3673_anchor">William Brito [late 13th cent.]
</a>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
UO52.103 (`sermones cuiusdam cancellarii Parisiensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2654_anchor">Philip the Chancellor (Philippe de Gr&egrave;ve) [&dagger;1236]
</a>
<br>
<span class="biblio_block">
H. Meylan, in an unpublished thesis for the Ecole des chartes (1927), cited
by F. Ueberweg, <i>Grundriss der Geschichte der Philosophie</i>, ed. B. Geyer
(1923&ndash;8), 2. 730, distinguishes Philippus Cancellarius from Philippus de
Greva, with whom he has been customarily identified.
</span>
<br>
<strong><i>Sermones dominicales</i></strong>
unpr.; Schneyer <i>Rep.</i> 4. 818&ndash;25; 
Glorieux <i>R&eacute;p.</i> 119c.

</li>

<li>
UO52.105 (`summam de trinitate', anon., 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1920_anchor">John Wyclif [&dagger;1384]
</a>
<br>
<strong><i>De trinitate</i></strong>
ed. A. du P. Breck (Boulder, CO, 1962); Thomson,
<i>Wyclyf</i>, 31&ndash;2 (A7, IId).

</li>

<li>
UO52.&dagger;107 (`quaternum qui sic incipit, <i>Afferte domino filios dei</i>'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2929_anchor">Richard of Saint-Victor OSA [&dagger;1173]
</a>
<br>
<span class="biblio_block">
R. Goy, <i>Die handschriftliche &Uuml;berlieferung der Werke Richards von
St. Viktor im Mittelalter</i>, Bibliotheca Victorina 18 (Turnhout 2006).
</span>
<br>
<strong><i>Ad nouitios</i>, a sermon on Psalm 28, `Afferte Domino &amp;c. Vobis dicitur,
nouicii. Attendite, nouicii'</strong>
<i>PL</i> 196. 285&ndash;322. Editions since the 
16th cent. have merged various works on particular psalms under the title 
<i>Adnotationes mysticae in Psalmos</i> (<i>PL</i> 196. 265&ndash;404).

</li>

<li>
UO52.111 = UO57.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1751_anchor">John Lathbury OFM [&dagger;1362]
</a>
<br>
<strong>Commentary on Lamentations</strong>
&para;pr. Oxford 1482 (<i>STC</i> 15297, Goff L75); 
Stegm&uuml;ller <i>Bibl.</i> 4762.

</li>

<li>
UO52.*113 = UO68.*138: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3731_anchor">Willelmus de Luxi OP [late 13th cent.]
</a>
<br>
<strong>Postill on Jeremiah, Lamentations, Baruch, and the Minor Prophets</strong>
ed.
A. T. Sulavic, <i>CCCM</i> 219 (2006); Stegm&uuml;ller <i>Bibl.</i> 2906&ndash;9; 
Kaeppeli 1566&ndash;9.

</li>

<li>
UO52.115 (`de dominio ciuili', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1920_anchor">John Wyclif [&dagger;1384]
</a>
<br>
<strong><i>De ciuili dominio</i>, forming Books III&ndash;V of his <i>Summa ni
theologia</i></strong>
ed. R. L. Poole &amp; J. Loserth, 4 vols, Wyclif Society (1885&ndash;1904);
Thomson, <i>Wyclyf</i>, 48&ndash;55 (A12cde).

</li>

<li>
UO52.117: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2587_anchor">Peter Lombard [<i>c</i>1100&ndash;1160]
</a>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UO52.118 (2nd vol., 9&ndash;15): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1291_anchor">Henry of Gent [1217&ndash;1293]
</a>
<br>
<strong><i>Quodlibeta</i></strong>
pr. Paris 1518, Venice 1608;
ed. H. Macken, R. Wielockx, &amp; others, <i>Henrici de Gandauo opera omnia</i>, vols.
5&ndash;19 (Leiden 1979&ndash;#); Glorieux <i>Quodl.</i> 1. 177&ndash;99.

</li>

<li>
UO52.*119: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1172_anchor">Godefroi de Fontaines [&dagger;1306]
</a>
<br>
<strong><i>Quodlibeta</i></strong>
ed. M. de Wulf &amp; others,
<i>Les Philosophes belges</i>, vols. 2&ndash;5, 14 (Louvain 1904&ndash;1937); Glorieux 
<i>Quodl.</i> 1. 149&ndash;68.

</li>

<li>
UO52.120 (I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO52.122: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
UO52.123: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
UO52.124: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong><i>Quaestiones de cognitione angelorum</i></strong>
pr. Venice 1503 (Adams
A199) / repr. Frankfurt 1968, fols. 76r&ndash;119r, &amp;c.; Glorieux <i>R&eacute;p.</i> 400o.

</li>

<li>
UO52.126: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3093_anchor">L. Annaeus Seneca [4 BC&ndash;AD 65]
</a>
<br>
<strong><i>De clementia</i></strong>
ed. C. Hosius, Teubner (1914).

</li>

<li>
UO52.&dagger;127 (`et de testamentis xij prophetarum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3287_anchor"><i>Testamentum XII patriarcharum</i>, tr. Robert Grosseteste</a>
<i>PG</i> 2. 1038&ndash;1150;
Thomson, <i>Grosseteste</i>, 42&ndash;4; Stegm&uuml;ller <i>Bibl.</i> 87,7 and 7398,2.

<br>
</li>

<li>
UO52.129 (`T. de Capua cum contentis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3351_anchor">Thomas of Capua [before 1185&ndash;1239]
</a>
<br>
<strong><i>Summa de arte dictandi</i></strong>
ed. S. F. Hahn, <i>Collectio monumentorum</i> 
(Brunswick 1724&ndash;6), 2. 279&ndash;385 (from an incomplete manuscript); part ed. 
E. Heller, diss. (Heidelberg 1929).

</li>

<li>
UO52.&dagger;130 (`Britonem de gramatica'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3673_anchor">William Brito [late 13th cent.]
</a>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
UO52.131 (`librum Ysidori', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1947_anchor">Isidore of Seville [&dagger;636], bishop of Seville
</a>
<br>
<strong><i>Sententiae</i></strong>
<i>CPL</i> 1199; pr. Nuremberg [not after April 1470] (Goff
I192), &amp;c.; ed. P. Cazier, <i>CCSL</i> 111 (1998); Diaz 111.

</li>

<li>
UO52.134 (II<sup>a</sup> II<sup>e</sup>): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong><i>Summa theologica</i></strong>
<i>STO</i> vols. 4&ndash;12; Glorieux <i>R&eacute;p.</i> 14ax.

</li>

<li>
UO52.148 (`Ouidius', 2nd fo.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2449_anchor">P. Ovidius Naso [43 BC&ndash;AD 17/18]
</a>
<br>
<strong><i>Metamorphoses</i></strong>
ed. W. S. Anderson, Teubner (1977).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>75 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
