{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO" title="UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UO/388" title="All Souls College">All Souls College</a>  &gt; Books chained in the library, 1466 &times; 1494</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College</h2><h3 class="medieval_catalogue_desc">UO12. Books chained in the library, 1466 &times; 1494</h3>
<em>52 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO12.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1422_anchor">Hugh of Saint-Cher OP [&dagger;1263]
</a>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UO12.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2666_anchor">Philip Repingdon OSA [&dagger;1424], bishop of Lincoln
</a>
<br>
<strong><i>Sermones super euangelia dominicalia</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 
437&ndash;8.

</li>

<li>
UO12.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1578_anchor">John Baconsthorpe OCarm [<i>c</i>1280&ndash;1348]
</a>
<br>
<strong>Commentary on Augustine's <i>De ciuitate Dei</i></strong>
unpr.; Xiberta, 189&ndash;90; 
Sharpe, <i>Latin Writers</i>, 209.

</li>

<li>
UO12.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry135_anchor">Alexander Carpenter [fl. 1430]
</a>
<br>
<strong><i>Destructorium uitiorum</i></strong>
pr. Cologne 1480 (<i>GW</i> 865), &amp;c.;
Bloomfield 3612.

</li>

<li>
UO12.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>In epistulam Iohannis ad Parthos tractatus X</i></strong>
<i>CPL</i> 279; ed. P. 
Aga&euml;sse, SChr 75 (1984). [Some references to `A. de caritate' might be
the <i>Sermones de caritate</i>.]

</li>

<li>
UO12.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
[<i>pseud.</i>]
<strong><i>De spiritu et anima</i></strong>
pr, [Lauingen] 1472 (<i>GW</i> 2936), &amp;c.; <i>PL</i> 
40. 779&ndash;832; Bloomfield 4935. [There is no evidence to support the 
attribution of the work to Alcher of Clairvaux; on attibutions, D. Aschoff, 
`Der pseudo-augustinische Traktat <i>De spiritu et anima</i>', <i>Revue des &eacute;tudes 
augustinienne</i> 18 (1972) 293&ndash;4. See also above, Augustine ps. <i>De creatione 
primi hominis</i>, for c. 35.]

</li>

<li>
UO12.11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>De correptione et gratia</i></strong>
<i>CPL</i> 353; ed. G. Folliet, <i>CSEL</i> 92 
(2000) 219&ndash;80.

</li>

<li>
UO12.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
UO12.13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1751_anchor">John Lathbury OFM [&dagger;1362]
</a>
<br>
<strong>Commentary on Lamentations</strong>
&para;pr. Oxford 1482 (<i>STC</i> 15297, Goff L75); 
Stegm&uuml;ller <i>Bibl.</i> 4762.

</li>

<li>
UO12.14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
UO12.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO12.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on the Pauline Epistles</strong>
pr. Strassburg 1519, &amp;c.; 
<i>PL</i> 117. 361&ndash;938; Stegm&uuml;ller <i>Bibl.</i> 3101&ndash;114.

</li>

<li>
UO12.17 (`sermones 
   Parisiensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3760_anchor">Willelmus Peraldus OP [&dagger;1261]
</a>
<br>
<strong><i>Sermones de dominicis et festis</i></strong>
pr. Augsburg 1473, &amp;c.; pr. in
<i>Guillelmi Alverni opera omnia</i> (Paris/Orleans 1674), 2. 159&ndash;476; Kaeppeli 
1623.  In the early editions the sermons are sometimes divided into three 
series. 

</li>

<li>
UO12.18 (`tabula diuersorum operum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1839_anchor">John Ridewall OFM [&dagger; after 1340]
</a>
<br>
<strong><i>Fulgentius metaphoralis</i></strong>
ed. H. Liebesch&uuml;tz (Berlin 1926).

</li>

<li>
UO12.19 = UO13.96: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry1982_anchor">Lactantius Firmianus [fl. 305&ndash;323]
</a>
<br>
<strong><i>Diuinae institutiones</i></strong>
<i>CPL</i> 85.

</li>

<li>
UO12.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2643_anchor">Francesco Petrarca [1304&ndash;1374]
</a>
<br>
<strong><i>De remediis utriusque fortunae</i></strong>
pr. [Strassburg <i>c.</i> 1475] (Goff 
P407), &amp;c.; ed. W. Fiske (Florence 1887). 

</li>

<li>
UO12.*21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
UO12.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De institutione musica</i></strong>
<i>CPL</i> 880.

</li>

<li>
UO12.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1622_anchor">Iohannes Canonicus [early 14th cent.]
</a>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>Physica</i></strong>
pr. Padua 1475 (Goff J262), 
St Albans 1481 (<i>STC</i> 14621), &amp;c.; Sharpe, <i>Latin Writers</i>, 633.

</li>

<li>
UO12.*24 = UO16.*111: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1657_anchor">Iohannes Dedecus [? late 14th cent.]
</a>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>Ethica</i></strong>
pr. Oxford 1518 (<i>STC</i> 6458); 
Lohr, 187; Sharpe, <i>Latin Writers</i>, 234.

</li>

<li>
UO12.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry370_anchor">Averroes (Ibn Rushd) [1126&ndash;1198]
</a>
<br>
<strong><i>Commentarium magnum</i> on Aristotle's <i>Physica</i>, tr. Michael Scot</strong>
 pr. <i>Aristotelis omnia quae extant opera</i>, 11 vols. (Venice 1573&ndash;6), vol. 4.

</li>

<li>
UO12.26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong><i>De natura et origine animae</i></strong>
ed. A. Borgnet, <i>Alberti Magni opera 
omnia</i> (Paris 1890&ndash;99), 9. 375&ndash;434; Fauser 30; Glorieux <i>R&eacute;p.</i> 6bj.

</li>

<li>
UO12.27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1165_anchor">Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong>Commentary on Aristotle's <i>De anima</i></strong>
pr. Pavia 1491 (<i>GW</i> 7202),
Venice 1496/7 (<i>GW</i> 7203) &amp;c.; pr. Venice 1500 / repr. Frankfurt 1982; 
Glorieux <i>R&eacute;p.</i> 400f.

</li>

<li>
UO12.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong>Commentary on Porphyry's <i>Isagoge</i></strong>
<i>CPL</i> 881.

</li>

<li>
UO12.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De differentiis topicis</i></strong>
<i>CPL</i> 889. [See also Aristotle, <i>Logica 
uetus</i>.]

</li>

<li>
UO12.30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1291_anchor">Henry of Gent [1217&ndash;1293]
</a>
<br>
<strong><i>Quodlibeta</i></strong>
pr. Paris 1518, Venice 1608;
ed. H. Macken, R. Wielockx, &amp; others, <i>Henrici de Gandauo opera omnia</i>, vols.
5&ndash;19 (Leiden 1979&ndash;#); Glorieux <i>Quodl.</i> 1. 177&ndash;99.

</li>

<li>
UO12.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<strong><i>De institutione arithmetica</i></strong>
<i>CPL</i> 879; ed. J. Schilling &amp;
H. Oosthout , <i>CCSL</i> 94A (1999).

</li>

<li>
UO12.32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong><i>Almagesta</i>, tr. Gerard of Cremona</strong>
pr. Venice 1515, Venice 1547;
Carmody, 15; Thorndike/Kibre 180, 1245. On the manuscripts, see P. Kunitzsch,
<i>Der Almagest</i> (Wiesbaden 1974), 87&ndash;112. [The Latin title derives from the
Arabic form of the Greek &#788;&#919; &#956;&#949;&#947;&#953;&#769;&#963;&#964;&#951;.]

</li>

<li>
UO12.33: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>Categoriae</i></strong>
<i>DSO</i> 1. 437&ndash;538.

</li>

<li>
UO12.34 = UO13.121: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2526_anchor">Petrus de Alliaco (Pierre d'Ailly) [<i>c</i>1350&ndash;1420/21], cardinal bishop of Cambrai
</a>
<br>
<span class="biblio_block">
F. Oakley, <i>The Political Thought of Pierre d'Ailly</i> (New Haven, CT, 1964), 
350&ndash;56.
</span>
<br>
<strong><i>Concordantia astronomiae cum theologia</i></strong>
pr. Augsburg 1490[/91] (Goff
A471), &amp;c.

</li>

<li>
UO12.35: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1540_anchor">Iohannitius (Hunayn ibn Ishaq al-`Ibadi) [809&ndash;873]
</a>
<br>
<strong><i>Isagoge ad Artem paruam Galeni</i>, tr. Constantinus Africanus</strong>
 pr. Venice 1491 &amp;c.; ed. D. Garcia &amp; J. L. Vidal, <i>Asclepio</i> 26&ndash;27 (1974&ndash;5)
267&ndash;382; ed. G. Maurach, <i>Sudhoffs Archiv</i> 62 (1978) 148&ndash;74; Thorndike/Kibre 
856, 1352.

</li>

<li>
UO12.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1160_anchor">Giles of Corbeil [<i>c</i>1140&ndash;1224]
</a>
<br>
<strong><i>De urinis</i></strong>
ed. L. Choulant (Leipzig 1826), 1&ndash;18; Wickersheimer, 
196&ndash;7; <i>WIC</i> 4432. The usual commentary is that of Gilbertus Anglicus.

</li>

<li>
UO12.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1116_anchor">Gerard of Cremona [1113/14&ndash;1187]
</a>
<br>
<span class="biblio_block">
B. Boncompagni, `Della vita e delle opere di Gherardo Cremonese 
traduttore del secolo duodecimo e di Gherardo Sabionetta astronomo
del secolo decimoterzo', <i>Atti dell' Accademia pontificia dei nuovi
Lincei</i> 4 (1850&ndash;51) 387&ndash;493.
</span>
<br>
<strong>unspec.
</strong>
</li>

<li>
UO12.&dagger;38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1548_anchor">Iohannes Afflacius [late 11th cent.]
</a>
<br>
<strong>(<i>ps.</i> Constantinus Africanus), <i>Liber aureus de remediorum
et aegritudinum cognitione</i></strong>
pr. Basel 1536, 168&ndash;207 (with the works of
Constantinus); Thorndike/Kibre 1447.

</li>

<li>
UO12.39 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry90_anchor">Albrecht von Eyb [1420&ndash;1475]
</a>
<br>
<strong><i>Margarita poetica de arte dictandi et practicandi epistolas</i></strong>
pr. 
N&uuml;rnberg 1472 (<i>GW</i> 9529), &amp;c.

</li>

<li>
UO12.40 (4 vols) ?= UO15.&para;22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2348_anchor">Nicholas of Lyre OFM [&dagger;1349]
</a>
<br>
<span class="biblio_block">
H. Labrosse, `Oeuvres de Nicolas de Lyre', <i>&Eacute;tudes franciscaines</i> 19 (1908) 
153&ndash;75, 368&ndash;79, and 35 (1923) 171&ndash;87, 400&ndash;432; G. Dahan (ed.), <i>Nicolas
de Lyre, franciscain du XIVe si&egrave;cle, ex&eacute;g&egrave;te et th&eacute;ologien</i> (Turnhout
2011).
</span>
<br>
<strong><i>Postilla litteralis in uetus et nouum testamentum</i></strong>
pr. Rome 1471&ndash;2
(Goff N131), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 5829&ndash;5923.

</li>

<li>
UO12.41: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry260_anchor">Antonius de Butrio [<i>c</i>1338&ndash;1408]
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 3. 540&ndash;43.
</span>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Venice 1501&ndash;3, &amp;c.; Schulte, 2. 292.

</li>

<li>
UO12.45: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry260_anchor">Antonius de Butrio [<i>c</i>1338&ndash;1408]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Venice 1501&ndash;3, &amp;c.; Schulte, 2. 292.

</li>

<li>
UO12.46 = UO13.187: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1555_anchor">Iohannes Andreae (Giovanni d'Andrea) [<i>c</i>1270&ndash;1348]
</a>
<br>
<strong><i>Nouellae in Sextum</i></strong>
pr. Rome 1476 (<i>GW</i> 1730), &amp;c.; Schulte, 
2. 218&ndash;19.

</li>

<li>
UO12.48 = UO14.253: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3717_anchor">Willelmus Horborch [&dagger; after 1373]
</a>
<br>
<strong><i>Decisiones nouae Rotae romanae</i></strong>
pr. Rome [<i>c.</i> 1470] (<i>GW</i> 8197), 
&amp;c.; Schulte, 2. 69; <i>DDC</i> 5. 1076&ndash;7.

</li>

<li>
UO12.*49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3352_anchor">Thomas Chillenden OSB [&dagger;1411]
</a>
<br>
<strong><i>Reportorium super Clementinis</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 649.

</li>

<li>
UO12.50&ndash;54 (I, II, II, III, IV&ndash;V) = UO13.173: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2365_anchor">Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</a>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UO12.55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3732_anchor">William Lyndwood [&dagger;1446]
</a>
<br>
<strong><i>Prouinciale</i></strong>
pr. [Oxford 1483] (<i>STC</i> 17102), &amp;c.; pr. Oxford 1679; 
C. R. Cheney, <i>Medieval Texts and Studies</i> (Oxford 1973), 158&ndash;84.

</li>

<li>
UO12.56 + UO12.41: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry260_anchor">Antonius de Butrio [<i>c</i>1338&ndash;1408]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Venice 1501&ndash;3, &amp;c.; Schulte, 2. 292.

</li>

<li>
UO12.57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry260_anchor">Antonius de Butrio [<i>c</i>1338&ndash;1408]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Venice 1501&ndash;3, &amp;c.; Schulte, 2. 292.

</li>

<li>
UO12.58: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry260_anchor">Antonius de Butrio [<i>c</i>1338&ndash;1408]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Venice 1501&ndash;3, &amp;c.; Schulte, 2. 292.

</li>

<li>
UO12.59: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry260_anchor">Antonius de Butrio [<i>c</i>1338&ndash;1408]
</a>
<br>
<strong><i>Lectura super Decretales</i></strong>
pr. Venice 1501&ndash;3, &amp;c.; Schulte, 2. 292.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>52 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
