{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Lincoln College</h2><h3 class="medieval_catalogue_desc">UO38. Inventory of books in the library, 1474</h3>
<em>165 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO38.3: 
<strong><i>Concordantia maior</i>, the so-called `third concordance' compiled by the
Dominicans of Saint-Jacques, Paris</strong>
pr. Strassburg, [not after 1474] (<i>GW</i>
7418) (under the name Conradus de Alemannia), &amp;c.; Stegm&uuml;ller <i>Bibl.</i> 
1999, 3605&ndash;6; R. H. Rouse &amp; M. A. Rouse in <i>AFP</i> 44 (1974) 5&ndash;30; 
Kaeppeli 755 (as Conradus de Halberstadt OP). Rouse &amp; Rouse show that the
work circulated in Paris by 1286; the attribution to Conrad is made only
in the printed editions. [For the so-called `second concordance' or 
`English concordance', see Richard Stainsby.]

<br>
</li>

<li>
UO38.&dagger;4: 
<strong><i>Repertorium uocabulorum Bibliae</i>, inc. `Licet nonnulli circa uocabula
Biblie' (prol.), `Abba secundum Papiam'</strong>
unpr.; list of manuscripts in
Mynors &amp; Thomson, <i>Hereford Cathedral</i>, 32&ndash;3.

<br>
</li>

<li>
UO38.5: 
<strong>Hugh of Saint-Cher OP [&dagger;1263]
</strong>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
UO38.7: 
<strong>Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</strong>
<br>
<strong><i>Interpretationes nominum hebraicorum</i>, inc. `Aaz apprehendens'</strong>
 often pr. in early bibles, Rome 1471 (<i>GW</i> 4210), &amp;c.;
Stegm&uuml;ller <i>Bibl.</i> 7192,1 (attrib. Remigius of Auxerre), 7708&ndash;9;
Lambert 402; Sharpe, <i>Latin Writers</i>, 628.

</li>

<li>
UO38.8: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
UO38.14: 
<strong>Philippus de Monte Calerio (Filippo Moncaglieri of Genoa) OFM [&dagger; <i>c</i>1344]
</strong>
<br>
<span class="biblio_block">
<i>DS</i> 12. 1316&ndash;17.
</span>
<br>
<strong><i>Dominicale</i></strong>
an abridged text was printed at [Milan <i>c.</i> 1498] 
(Goff P626) and [Paris <i>c.</i> 1500] (Goff P627).

</li>

<li>
UO38.15: 
<strong>John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Opus imperfectum in Matthaeum</i></strong>
<i>CPL</i> 707; J. van Banning, <i>CCSL</i> 87B
(1988); Stegm&uuml;ller <i>Bibl.</i> 4350. [The tradition is largely English, and
this work is much commoner in England than the authentic Homilies on Matthew.]

</li>

<li>
UO38.16a: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae in Ezechielem</i></strong>
<i>CPL</i> 1710; ed. M. Adriaen, <i>CCSL</i> 142 (1971).

</li>

<li>
UO38.16b: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
UO38.17: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
UO38.18: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Sermones de omnibus sanctis</i></strong>
pr. [Cologne <i>c.</i> 1478] (Goff J187), 
&amp;c.; Schneyer <i>Rep.</i> 3. 246&ndash;66; Kaeppeli 2155.

</li>

<li>
UO38.*19: 
<strong>John Wykeham [&dagger; after 1414]
</strong>
<br>
<strong><i>Quaestiones quas mouet Notyngham</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i>
3003; Sharpe, <i>Latin Writers</i>, 354.

</li>

<li>
UO38.*20: 
<strong>Bernard of Clairvaux OCist [1090&ndash;1153], abbot of Clairvaux
</strong>
<br>
<strong><i>Sermones super Cantica canticorum</i></strong>
<i>SBO</i> vols. 1&ndash;2.

</li>

<li>
UO38.*21: 
<strong>Philip Repingdon OSA [&dagger;1424], bishop of Lincoln
</strong>
<br>
<strong><i>Sermones super euangelia dominicalia</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 
437&ndash;8.

</li>

<li>
UO38.22: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Sermones dominicales</i></strong>
pr. [Cologne <i>c.</i> 1478] (Goff J193), &amp;c.; 
Schneyer <i>Rep.</i> 3. 221&ndash;46; Kaeppeli 2156.

</li>

<li>
UO38.24: 
<strong>Thomas Waleys OP [&dagger;1350]
</strong>
<br>
<strong><i>Moralitates</i> on Exodus&ndash;Deuteronomy</strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 687; Stegm&uuml;ller <i>Bibl.</i> 8237&ndash;40. [The
copies reported at B101 and Z26 have no commentary on Genesis, nor has
that in Bodl. MS Laud misc. 345; those referred to in Stegm&uuml;ller are all by
other Thomases.]

</li>

<li>
UO38.25: 
<strong>Thomas Netter of Walden OCarm [&dagger;1430]
</strong>
<br>
<strong><i>Doctrinale antiquitatum fidei</i></strong>
ed. B. Blanciotti (Venice 1757&ndash;9 / 
repr. Farnborough 1967). [Usually in 3 vols.]

</li>

<li>
UO38.*26: 
<strong>Eustasius de Portu OP [?]
</strong>
<br>
<strong><i>Distinctiones Holcot</i></strong>
unpr.; Kaeppeli 1063; Bloomfield
0066.

</li>

<li>
UO38.*27: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong>Commentary on Wisdom</strong>
pr. [Cologne, not after 1476] (Goff H288), 
&amp;c.; Kaeppeli 3497; Stegm&uuml;ller <i>Bibl.</i> 7416.

</li>

<li>
UO38.*28: 
<strong>Thomas Ringstead OP [&dagger;1366]
</strong>
<br>
<strong>Commentary on Proverbs</strong>
pr. Paris 1510 &amp;c.; Sharpe, <i>Latin
Writers</i>, 676; Kaeppeli 3845; Stegm&uuml;ller <i>Bibl.</i> 8172.

</li>

<li>
UO38.29: 
<strong>Peter of Blois [&dagger;1211], archdeacon of Bath
</strong>
<br>
<strong><i>Epistolae</i></strong>
<i>PL</i> 207. 1&ndash;560; L. Wahlgren, <i>The Letter Collection of Peter
of Blois. Studies in the Manuscript Tradition</i>, Studia Graeca et Latina
Gothoburgensia 58 (1993).

</li>

<li>
UO38.*30: 
<strong>Thomas Hibernicus [14th cent.]
</strong>
<br>
<strong><i>Manipulus florum</i></strong>
pr. Piacenza 1483 &amp;c. Discussed by 
R. H. &amp; M. A. Rouse, <i>Preachers, Florilegia, and Sermons: Studies on the 
Manipulus Florum of Thomas of Ireland</i> (Toronto 1979).

</li>

<li>
UO38.31: 
<strong>John of Bromyard OP [&dagger;1352]
</strong>
<br>
<strong><i>Distinctiones</i></strong>
unpr.; Kaeppeli 2237. This title was also
sometimes applied to the much commoner <i>Opus triuium</i> and some 
entries may refer to that work.

</li>

<li>
UO38.32: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 262.

</li>

<li>
UO38.33: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>Confessiones</i></strong>
<i>CPL</i> 251; ed. L. Verheijen, <i>CCSL</i> 27 (1981).

</li>

<li>
UO38.34: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De trinitate</i></strong>
<i>CPL</i> 329; pr. [Strassburg not after 1474] (<i>GW</i>
2925), &amp;c.; ed. W. J. Mountain &amp; F. Glorie, <i>CCSL</i> 50, 50A (1968).

</li>

<li>
UO38.&dagger;35: 
<strong>Simon Alcock [&dagger;1459]
</strong>
<br>
<strong><i>De modo diuidendi themata pro materia sermonis dilatanda</i></strong>
unpr.;
Sharpe, <i>Latin Writers</i>, 608.

</li>

<li>
UO38.37: 
<strong><i>Tabula septem custodiarum</i></strong>
unpr.; Rouse &amp; Rouse, <i>Registrum</i>, 
xcviii&ndash;cxxvi.

<br>
</li>

<li>
UO38.37<sup>x</sup>: 
<strong><i>Registrum Angliae</i></strong>
ed. R. H. Rouse &amp; M. A. Rouse (London 1991).

<br>
</li>

<li>
UO38.38: 
<strong>Philippus de Bergamo [&dagger; <i>c</i>1380]
</strong>
<br>
<strong><i>Speculum regiminis</i></strong>
pr. Augsburg 1475 (<i>GW</i> 6277),
&amp;c.; Bloomfield 3615. The work is a commentary on <i>Disticha Catonis</i>.

</li>

<li>
UO38.39: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
UO38.40: 
<strong>M. Fabius Quintilianus [&dagger; <i>c</i>100]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Declamationes XIX maiores</i></strong>
ed. L. H$aring$$kanson, Teubner (1982).

</li>

<li>
UO38.*41: 
<strong>Iohannes Mansionarius [early 14th cent.]
</strong>
<br>
<strong><i>Breuis adnotatio de duobus Pliniis</i></strong>
ed. C. Cipolla in <i>Miscellanea 
Ceriani</i> (Milan 1910), 758&ndash;63; E. T. Merill in <i>Classical Philology</i> 5 (1910) 
186&ndash;8.

</li>

<li>
UO38.*41<sup>x</sup>: 
<strong>Sex. Aurelius Victor [4th cent.]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De uiris illustribus Romae</i></strong>
pr. as the work of Pliny, [Rome
<i>c.</i> 1470] (Goff A1383), &amp;c.; ed. F. Pichlmayr, Teubner (1911). [Attributed
to Aurelius Victor from the sixteenth century but authorship unknown; M. M. 
Sage, `The <i>De uiris illustribus</i>: authorship and date', <i>Hermes</i> 108
(1980) 83&ndash;100.]

</li>

<li>
UO38.*42: 
<strong>Valerius Maximus [fl. AD 30]
</strong>
<br>
<strong><i>Memorabilia</i></strong>
ed. C. Kempf, Teubner (1888).

</li>

<li>
UO38.*43: 
<strong>F. Vegetius Renatus [fl. 400]
</strong>
<br>
<strong><i>De re militari</i></strong>
pr. [Utrecht <i>c.</i> 1473/4] (Goff V104), &amp;c.; ed. 
A. &Ouml;nnerfors, Teubner (1995); ed. M. D. Reeve, OCT (2004).

</li>

<li>
UO38.*43<sup>x</sup>: 
<strong>Flavius Eutropius [fl. 370]
</strong>
<br>
<strong><i>Breuiarium ab urbe condita</i></strong>
ed. H. Droysen, MGH <i>Auct. Antiq.</i>
2 (1878); ed. C. Santini, Teubner (1979); <i>Texts &amp; Transmission</i>, 
159&ndash;62. [It is often impossible to differentiate this from the
commoner, augmented, text of Paul the Deacon.]

</li>

<li>
UO38.*44: 
<strong>C. Suetonius Tranquillus [AD <i>c</i>69&ndash;<i>c</i>140]
</strong>
<br>
<strong><i>De uita Caesarum</i></strong>
pr. Rome 1470 (Goff S815), &amp;c.; ed. M. Ihm, 
Teubner (1907). [For the edition by Erasmus, 1518, see <i>Scriptores historiae
Augustae</i>.]

</li>

<li>
UO38.45: 
<strong>Macrobius [fl. 400]
</strong>
<br>
<strong><i>Saturnalia</i></strong>
ed. J. Willis, Teubner (1970<sup>2</sup>); ed. R. A. Kaster
(Oxford, 2011).

</li>

<li>
UO38.*46b: 
<strong>Lorenzo Valla [1406&ndash;1457]
</strong>
<br>
<strong><i>Elegantiae linguae latinae</i></strong>
pr. Rome 1471 (Goff V50), &amp;c.; ed. S.
L&oacute;pez Moreda (C&aacute;ceres 1999). 

</li>

<li>
UO38.47: 
<strong>Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</strong>
<br>
<strong><i>Speculum historiale</i></strong>
pr. Douai 1624 / repr. Graz 1964&ndash;5;
Kaeppeli 3987.

</li>

<li>
UO38.48: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>De cura pastorali</i></strong>
<i>CPL</i> 1712.

</li>

<li>
UO38.*49: 
<strong>Jean Hautfuney [&dagger;1358], bishop of Avranches
</strong>
<br>
<strong><i>Tabula super Speculum historiale fratris Vincentii</i></strong>
ed. M. 
Paulmier-Foucart, <i>Spicae. Cahiers de l'atelier Vincent de Beauvais</i> 2 (1980),
19&ndash;263, 3 (1981) 1&ndash;208.

</li>

<li>
UO38.50a: 
<strong>Guitmund of Aversa [&dagger; after 1090]
</strong>
<br>
<strong><i>De corpore et sanguine Christi</i></strong>
<i>PL</i> 149. 1427&ndash;1494.

</li>

<li>
UO38.50b: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

<li>
UO38.*51: 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong><i>De imperatorum et pontificum potestate</i></strong>
ed. H. S. Offler, <i>Guillelmi
de Ockham opera politica</i> 4 (Oxford 1997), 275&ndash;326.

</li>

<li>
UO38.*51<sup>x</sup>: 
<strong>Marsilius of Padua [<i>c</i>1275&ndash;1342]
</strong>
<br>
<strong><i>Defensor pacis</i></strong>
pr. Basel 1522 &amp;c.; ed. C. W. Previt&eacute;-Orton 
(Cambridge 1928); ed. R. Scholz (Hannover 1932&ndash;3).

</li>

<li>
UO38.*52: 
<strong>Hugh of Fleury OSB [&dagger; <i>c</i>1135]
</strong>
<br>
<strong><i>Historia ecclesiastica siue Chronicon</i></strong>
the first redaction,
ed. B. Rottendorff (M&uuml;nster 1638); the second redaction, part ed. G. Waitz,
MGH <i>Scriptores</i> 9. 337&ndash;64; N. Lettinck in <i>RB</i> 91 (1981) 386&ndash;97. [The work
was sent by the author for correction to Ivo of Chartres, to whom it is 
commonly ascribed.]

</li>

<li>
UO38.53: 
<strong>`Dares Phrygius'
</strong>
<br>
<strong><i>De excidio Troiae historia</i></strong>
ed. F. Meister, Teubner (1873).

</li>

<li>
UO38.54: 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>De diuinis nominibus</i>, Latin tr.</strong>
<i>CPG</i> 6602; ed. P. Chevallier, 
<i>Dionysiaca</i> (Bruges 1937&ndash;50), 5&ndash;561.

</li>

<li>
UO38.55: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
UO38.*56: 
<strong>Birgitta of Sweden [<i>c</i>1303&ndash;1373]
</strong>
<br>
[<i>app.</i>]
<strong><i>Tabula super librum Reuelationum beatae Brigittae</i>
</strong>
</li>

<li>
UO38.*57: 
<strong>Ranulf Higden OSB [&dagger;1364]
</strong>
<br>
<strong><i>Polychronicon</i></strong>
ed. C. Babington &amp; J. R. Lumby, RS 41 (1865&ndash;86); 
J. Taylor, <i>The Universal Chronicle of Ranulf Higden</i> (Oxford 1966).

</li>

<li>
UO38.*58: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Orationes</i></strong>
pr. Rome 1471 (<i>GW</i> 6761), &amp;c.; ed. A. Klotz &amp; others,
Teubner (1918&ndash;33).

</li>

<li>
UO38.*58<sup>x</sup>: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De haruspicum responsis</i></strong>
ed. T. Maslowski, Teubner (1981).

</li>

<li>
UO38.59&ndash;61: 
<strong>T. Livius (Livy) [59 BC&ndash;AD 17]
</strong>
<br>
<strong><i>Ab urbe condita</i></strong>
ed. W. Weissenborn, M. M&uuml;ller, &amp; W. Heraeus, 
Teubner (1887&ndash;1908).

</li>

<li>
UO38.*62: 
<strong>Aulus Gellius [<i>c</i>130&ndash;<i>c</i>180]
</strong>
<br>
<strong><i>Noctes atticae</i></strong>
ed. P. K. Marshall, OCT (1968).

</li>

<li>
UO38.63: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Orationes philippicae</i></strong>
ed. A. C. Clark, OCT (1918<sup>2</sup>); ed. 
P. Fedeli, Teubner (1982).

</li>

<li>
UO38.*64: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Disputationes Tusculanae</i></strong>
ed. M. Pohlenz, Teubner (1965<sup>2</sup>).

</li>

<li>
UO38.*64<sup>x</sup>: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Academica posteriora</i></strong>
ed. T. Schiche, Teubner (1915).

</li>

<li>
UO38.65: 
<strong>Cornelius Nepos [99&ndash;24 BC]
</strong>
<br>
<strong><i>De uiris illustribus</i></strong>
pr. Venice 1471 (Goff C915), &amp;c.

</li>

<li>
UO38.*66: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De amicitia</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
UO38.*66<sup>x</sup>: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De senectute</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
UO38.*67: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Epistulae ad Atticum</i></strong>
ed. W. S. Watt, OCT (1965); ed. D. R.
Shackleton Bailey (Cambridge 1965&ndash;70).

</li>

<li>
UO38.*67<sup>x</sup>: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Epistulae ad Brutum</i></strong>
ed. W. S. Watt, OCT (1958).

</li>

<li>
UO38.68: 
<strong>M. Iunianus Iustinus [3rd cent.]
</strong>
<br>
<strong>Epitome of Pompeius Trogus's lost <i>Historiae Philippicae</i></strong>
pr. Venice
1470 (Goff J613), &amp;c.;  ed. O. Seel, Teubner (1972).

</li>

<li>
UO38.*69: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Ethica</i>, tr. Leonardo Bruni (1417)</strong>
pr. Cologne <i>c.</i> 1470 (<i>GW</i> 2384, 
5614), &amp;c.; prefaces, ed. H. Baron, <i>Leonardo Bruni. 
Humanistisch-Philosophische Schriften</i> (Berlin 1928), 75&ndash;81.

</li>

<li>
UO38.*70: 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>De casibus uirorum illustrium</i></strong>
pr. Paris 1520 / repr. Gainesville, 
FL, 1962; ed. P. G. Ricci &amp; V. Zaccaria in <i>Tutte le opere di Giovanni 
Boccaccio</i>, ed. V. Branca (Milan 1964&ndash;98), 9. 2&ndash;871.

</li>

<li>
UO38.*70b: 
<strong>Giovanni Boccaccio [1313&ndash;1375]
</strong>
<br>
<strong><i>De claris mulieribus</i></strong>
ed. V. Zaccaria (Milan 1967); ed. V. Zaccaria 
in <i>Tutte le opere di Giovanni Boccaccio</i>, ed. V. Branca (Milan 1964&ndash;98),
10. 18&ndash;451.

</li>

<li>
UO38.*71: 
<strong>Q. Curtius Rufus [1st cent.]
</strong>
<br>
<strong><i>Historia Alexandri</i></strong>
pr. [Venice <i>c.</i> 1471] (<i>GW</i> 7871), &amp;c.; ed. 
K. M&uuml;ller &amp; H. Sch&ouml;nfeld (Munich 1954). [For anonymous entries, see 
also <i>Historia Alexandri magni</i>.]

</li>

<li>
UO38.*72: 
<strong>C. Iulius Caesar [100&ndash;44 BC]
</strong>
<br>
<strong><i>Bellum Gallicum</i></strong>
pr. Strassburg 1473 <i>GW</i> 5874), &amp;c.;  ed. W. Hering, 
Teubner (1987).

</li>

<li>
UO38.*73: 
<strong>P. Vergilius Maro [70&ndash;19 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. R. A. B. Mynors, OCT (1969). [The triple commentary
comprises those of Servius, Donatus, and Christophorus Landinus; M. 
Davies &amp; J. Goldfinch, <i>Vergil: a census of printed editions 1469&ndash;1500</i> 
(London 1992).]

</li>

<li>
UO38.74: 
<strong>P. Terentius Afer (Terence) [<i>c</i>195&ndash;159 BC]
</strong>
<br>
<strong><i>Comoediae</i></strong>
ed. R. Kauer &amp; W. M. Lindsay, OCT (1958<sup>2</sup>).

</li>

<li>
UO38.*75: 
<strong>Aelius Donatus [4th cent.]
</strong>
<br>
<strong>Commentary on Terence</strong>
pr. [Venice about 1472] (<i>GW</i> 9035), &amp;c.;
ed. P. Wessner, Teubner (1902&ndash;8); <i>Texts &amp; Transmission</i>, 153&ndash;6.

</li>

<li>
UO38.*76: 
<strong>Helenius Acro [fl. 200]
</strong>
<br>
[<i>pseud.</i>]
<strong>Commentary on Horace's <i>Opera</i></strong>
pr. Milan 1474 (<i>GW</i> 13456); pr. 
with Horace, [Treviso not before 1481] (<i>GW</i> 13457, <i>Bod-Inc</i> H-203), &amp;c.; 
ed. O. Keller, Teubner (1902&ndash;4).

</li>

<li>
UO38.77: 
<strong>Lactantius Placidus [fl. 400]
</strong>
<br>
<strong>Commentary on Statius's <i>Thebais</i></strong>
pr. [Milan <i>c.</i> 1476&ndash;7] (Goff
L19), Venice 1483 (Goff S691), &amp;c.; ed. R. Jahnke, Teubner (1898).

</li>

<li>
UO38.*78: 
<strong>L. Annaeus Seneca [4 BC&ndash;AD 65]
</strong>
<br>
<strong><i>Tragoediae</i></strong>
ed. O. Zwierlein, OCT (1986).

</li>

<li>
UO38.*79: 
<strong>Servius (Maurus Servius Honoratus) [fl. 400]
</strong>
<br>
<strong>Commentary on Virgil</strong>
pr. with Virgil, Venice 1475/6 (<i>Bod-Inc</i> V-087), 
&amp;c.; ed. G. Thilo &amp; H. Hagen, Teubner (1881&ndash;7). The edition begun by E. K. 
Rand (Cambridge, MA, 1946&ndash;65) covers only Books I&ndash;V.

</li>

<li>
UO38.80: 
<strong>T. Maccius Plautus [&dagger; after 184 BC]
</strong>
<br>
<strong><i>Comoediae</i></strong>
ed. W. M. Lindsay, OCT (1904&ndash;5).

</li>

<li>
UO38.*81: 
<strong>D. Iunius Iuuenalis (Juvenal) [<i>c</i>60&ndash;<i>c</i>130]
</strong>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
UO38.*82: 
<strong>C. Sallustius Crispus [86&ndash;<i>c</i>34 BC]
</strong>
<br>
<strong><i>Catilina</i> and <i>Iugurtha</i></strong>
ed. A. Kurfess, Teubner (1957).  Both
works usually together.

</li>

<li>
UO38.83: 
<strong>Leonardus Brunus Aretinus (Leonardo Bruni of Arezzo) [1369&ndash;1444]
</strong>
<br>
<span class="biblio_block">
List of works in (debated) chronological order in H. Baron, <i>Leonardo Bruni. 
Humanistisch-Philosophische Schriften</i> (Berlin 1928), 159&ndash;89.
</span>
<br>
<strong><i>Isagogicon moralis disciplinae</i></strong>
ed. H. Baron, <i>Leonardo Bruni</i>
(Berlin 1928), 20&ndash;41.

</li>

<li>
UO38.*84: 
<strong>Diogenes Laertius [? 3rd cent.]
</strong>
<br>
<strong><i>Vitae et sententiae philosophorum</i>, tr. Ambrogio Traversari</strong>
pr. [Rome
c. 1472] (<i>GW</i> 8378), &amp;c.

</li>

<li>
UO38.*85: 
<strong>Q. Horatius Flaccus (Horace) [65&ndash;8 BC]
</strong>
<br>
<strong><i>Opera</i></strong>
ed. F. Klingner, Teubner (1950); ed. S. Borzs&aacute;k, Teubner 
(1984).

</li>

<li>
UO38.86: 
<strong>&lt;&gt;Pomponius Porphyrio [?3rd cent.]
</strong>
<br>
<strong>Commentary on Horace</strong>
surviving excerpts, pr. [Treviso not before
1481] (<i>GW</i> 13457, <i>Bod-Inc</i> H-203), &amp;c.; ed. A. Holder &amp; O. Keller
(Innsbruck 1894).

</li>

<li>
UO38.*87: 
<strong>Plutarch [&dagger; after 120]
</strong>
<br>
<strong><i>Vitae uirorum illustrium</i>, collecting translations available at the 
time.
</strong>
</li>

<li>
UO38.*88: 
<strong>Tiberius Claudius Donatus [late 4th cent.]
</strong>
<br>
<strong><i>Interpretationes Vergilianae</i>, rediscovered in 1438</strong>
pr. with the 
text of Vergil, Florence [1487/8] (<i>Bod-Inc</i> V-095), &amp;c.; ed. H. Georges,
Teubner (1905&ndash;6);<i>Texts &amp; Transmission</i>, 157&ndash;8.

</li>

<li>
UO38.89: 
<strong>Marianus Scottus (M&aacute;el Brigte) [1028&ndash;1082], recluse of Fulda
</strong>
<br>
<strong><i>Chronicon</i></strong>
part ed. G. Waitz, MGH <i>Scriptores</i> 5 (1844), 481&ndash;564,
repr. <i>PL</i> 147. 623&ndash;796; Lapidge/Sharpe 728. [The entry for a <i>libellus</i>
may refer to Robert the Lotharingian's <i>Excerptio de chronica Mariani</i>.]

</li>

<li>
UO38.*90: 
<strong>Nicholaus Bonetus (Nicolas Bonet) OFM [&dagger;?1343]
</strong>
<br>
<strong>Commentary on Aristotle's <i>Metaphysica</i></strong>
pr. Barcelona 1493 (<i>GW</i>
4846), Venice 1505; Lohr, 285&ndash;6. 

</li>

<li>
UO38.*90<sup>x</sup>: 
<strong>Honorius Augustodunensis [<i>c</i>1080&ndash;1137]
</strong>
<br>
<strong>(<i>ps.</i> Augustine), <i>De cognitione uerae uitae</i></strong>
<i>PL</i> 40. 1005&ndash;1032.

</li>

<li>
UO38.91: 
<strong>Averroes (Ibn Rushd) [1126&ndash;1198]
</strong>
<br>
<strong><i>Commentarium magnum</i> on Aristotle's <i>Metaphysica</i>, tr. Michael Scot</strong>
 pr. <i>Aristotelis omnia quae extant opera</i>, 11 vols. (Venice 1573&ndash;6), vol. 8.

</li>

<li>
UO38.92: 
<strong>Giles of Rome OESA [<i>c</i>1243&ndash;1316], archbishop of Bourges
</strong>
<br>
<span class="biblio_block">
<i>DBI</i> 42. 319&ndash;41; G. Bruni, `Catalogo critico delle opere di Egidio Romano',
<i>Bibliofilia</i> 35 (1933) 7&ndash;69, 36 (1934) 78&ndash;110, and 37 (1935) 247&ndash;306.
</span>
<br>
<strong><i>De regimine principum</i></strong>
pr. Augsburg 1473 (<i>GW</i> 7217), &amp;c.; 
pr. Rome 1556 / repr. Frankfurt 1968; Glorieux <i>R&eacute;p.</i> 400q; 
Bloomfield 2051.

</li>

<li>
UO38.93: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
UO38.94: 
<strong>Thomas of Cantimpr&eacute; OP [1201&ndash;<i>c</i>1270]
</strong>
<br>
<strong><i>De naturis rerum</i></strong>
ed. H. Boese (Berlin 1973&ndash;#); Kaeppeli 3772; 
Glorieux <i>R&eacute;p.</i> 6dh. 

</li>

<li>
UO38.95: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>De anima</i>, Latin tr.</strong>
pr. Padua 1472 (<i>GW</i> 2349), &amp;c.; Thorndike/Kibre 
179, 1271. [Versions by James of Venice and William de Moerbeke are planned to 
appear, <i>AL</i> 12/1&ndash;2; 

</li>

<li>
UO38.96: 
<strong>Walter Burley [1275&ndash;after 1344]
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong>Commentary on Aristotle's <i>Ethica</i></strong>
pr. Venice 1481 (<i>GW</i> 5778), &amp;c.; 
Sharpe, <i>Latin Writers</i>, 718&ndash;19.

</li>

<li>
UO38.97: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<strong><i>Physica</i>, tr. James of Venice</strong>
ed. F. Bossier &amp; J. Brams, <i>AL</i> 7/1 
(1990).
Other translations:&ndash; <i>Translatio Vaticana</i>: ed. A. Mansion, <i>AL</i> 7/2 (1990).
Tr. Gerard of Cremona: to appear, <i>AL</i> 7/3. Tr. Michael Scot (<i>translatio
noua</i>): to appear, <i>AL</i> 7/4.

</li>

<li>
UO38.&dagger;98: 
<strong>Robert Kilwardby OP [&dagger;1279]
</strong>
<br>
<strong><i>Tabulae originalium Augustini</i></strong>
unpr.; D. A. Callus in <i>Studia 
mediaevalia R. J. Martin</i> (Bruges 1948), 243&ndash;70; Kaeppeli 3521.

</li>

<li>
UO38.99: 
<strong>Alexander Bonini de Alexandria OFM [<i>c</i>1270&ndash;1316]
</strong>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>De anima</i></strong>
pr. as the work of Alexander
of Hales, Oxford 1481 (<i>GW</i> 869); Lohr, 353&ndash;4; Glorieux <i>Th.</i> 340b.

</li>

<li>
UO38.100: 
<strong>Isaac Iudaeus (Ishaq Ibn Suleiman) [9th cent.]
</strong>
<br>
<strong><i>De dietis uniuersalibus et particularibus</i>, tr. Constantinus
Africanus or Gerard of Cremona</strong>
pr. Lyon 1515, 1. 11r&ndash;103r, 103r&ndash;156r;
Thorndike/Kibre 239, 1252.

</li>

<li>
UO38.&dagger;103: 
<strong>Richard Lavenham OCarm [&dagger; after 1399]
</strong>
<br>
<strong><i>Speculum naturalis philosophiae</i> on Aristotle's <i>Physica</i>, inc. `Ne
tediosum sit studentibus presens opus'</strong>
unpr.; Lohr, 394; Sharpe, <i>Latin
Writers</i>, 490&ndash;91; Thorndike/Kibre 907.

</li>

<li>
UO38.104b: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on the Heptateuch</strong>
ed. C. Lohr &amp; R. Berndt, <i>CCCM</i> 53 
(1986); Stegm&uuml;ller <i>Bibl.</i> 1295&ndash;1301.

</li>

<li>
UO38.105: 
<strong>John of Genoa OP [&dagger; after 1286]
</strong>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
UO38.*106: 
<strong><i>Scala mundi</i>, an illustrated world chronicle</strong>
unpr.; copies belonged to
several Oxford and Cambridge colleges.

<br>
</li>

<li>
UO38.*106<sup>x</sup>: 
<strong>Peter of Ickham OSB [&dagger;1295]
</strong>
<br>
<strong><i>Compilatio de gestis Britonum et Anglorum</i></strong>
unpr.; Sharpe, <i>Latin 
Writers</i>, 427.

</li>

<li>
UO38.*107: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
UO38.108: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De XII abusiuis saeculi</i></strong>
<i>CPL</i> 1106.

</li>

<li>
UO38.110: 
<strong>William Brito [late 13th cent.]
</strong>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
UO38.111: 
<strong>Priscian [fl. 500]
</strong>
<br>
<strong><i>De constructione</i> (<i>Institutiones grammaticae</i> XVII&ndash;XVIII)</strong>
<i>CPL</i> 
1546; <i>GL</i> 3. 105&ndash;377.

</li>

<li>
UO38.*112: 
<strong>Peter of Tarentaise OP (later Innocent V) [<i>c</i>1224&ndash;1276, <i>sedit</i> 1276]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Toulouse 1649&ndash;52; 
Stegm&uuml;ller <i>Sent.</i> 690; Kaeppeli 3340.

</li>

<li>
UO38.113: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UO38.*114: 
<strong>Bonaventure OFM [1221&ndash;1274]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
<i>SBonO</i> vols. 1&ndash;4; Distelbrink 
2; Glorieux <i>R&eacute;p.</i> 305b; Stegm&uuml;ller <i>Sent.</i> 111.

</li>

<li>
UO38.115: 
<strong>Peter Lombard [<i>c</i>1100&ndash;1160]
</strong>
<br>
<strong><i>Sententiarum libri IV</i></strong>
pr. [Strassburg, before 1471] (Goff P479), 
&amp;c.; <i>PL</i> 192. 521&ndash;962; ed. I. Brady, <i>Spicilegium Bonauenturianum</i> 4&ndash;5 
(Grottaferrata 1971&ndash;81).

</li>

<li>
UO38.116: 
<strong>William of Ware OFM [&dagger; after 1305]
</strong>
<br>
<strong><i>Quaestiones super libros Sententiarum</i></strong>
unpr.; Stegm&uuml;ller <i>Sent.</i> 
307; Sharpe, <i>Latin Writers</i>, 815&ndash;16. 

</li>

<li>
UO38.117: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Summa theologica</i></strong>
<i>STO</i> vols. 4&ndash;12; Glorieux <i>R&eacute;p.</i> 14ax.

</li>

<li>
UO38.*118: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<span class="biblio_block">
B. Roth, <i>Franz von Mayronis OFM. Sein Leben, seine Werke, seine Lehre 
vom Formalunterschied in Gott</i>, Franziskanische Forschungen 3 (1936);
H. Rossmann, <i>Die Hierarchie der Welt: Gestalt und System des Franz
von Meyronnes OFM mit besonderer Ber&uuml;cksichtigung seiner 
Sch&ouml;pfungslehre</i>, Franziskanische Forschungen 23 (1972).
</span>
<br>
<strong>Commentary on the Lombard's Sentences, sometimes titled <i>Conflatus</i></strong>
 Book I, pr. Treviso 1476 (Goff M90), Basel 1489 (Goff M91), &amp;c.; 
Books I&ndash;IV, ed. Maurice O'Fihely, Venice 1504&ndash;7 &amp;c.; ed. H. Carmelitanus,
Venice 1520; Roth, <i>Franz von Mayronis</i>, 87&ndash;160; Stegm&uuml;ller <i>Sent.</i> 218.

</li>

<li>
UO38.119: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>De ueritate</i></strong>
<i>STO</i> vol. 22; Glorieux <i>R&eacute;p.</i> 14q.

</li>

<li>
UO38.*120: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
UO38.121: 
<strong>Robert Cowton OFM [&dagger; after 1313]
</strong>
<br>
<strong><i>Lectura super Sententias</i></strong>
largely unpr.; Sharpe, <i>Latin
Writers</i>, 531&ndash;2; Stegm&uuml;ller <i>Sent.</i> 732.

</li>

<li>
UO38.122: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO38.*123: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
UO38.*124: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
UO38.125: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Quodlibet</i></strong>
<i>DSO</i> vols. 25&ndash;6; Glorieux <i>R&eacute;p.</i> 344s; Glorieux 
<i>Quodl.</i> 1. 218&ndash;19, 2. 152.

</li>

<li>
UO38.125b: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO38.*126: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Summa theologica</i></strong>
<i>STO</i> vols. 4&ndash;12; Glorieux <i>R&eacute;p.</i> 14ax.

</li>

<li>
UO38.127: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO38.128: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO38.129: 
<strong>Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
UO38.130: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Scriptum super libros Sententiarum</i>, known as the <i>Opus Oxoniense</i></strong>
 <i>DSO</i> vols. 8&ndash;21; ed. C. Bali&cacute; &amp; others, <i>Ioannis Duns Scoti opera 
omnia</i>, vols. 1&ndash;# (Vatican City 1950&ndash;#); Stegm&uuml;ller <i>Sent.</i> 421. 

</li>

<li>
UO38.*131: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences, sometimes titled <i>Conflatus</i></strong>
 Book I, pr. Treviso 1476 (Goff M90), Basel 1489 (Goff M91), &amp;c.; 
Books I&ndash;IV, ed. Maurice O'Fihely, Venice 1504&ndash;7 &amp;c.; ed. H. Carmelitanus,
Venice 1520; Roth, <i>Franz von Mayronis</i>, 87&ndash;160; Stegm&uuml;ller <i>Sent.</i> 218.

</li>

<li>
UO38.*132: 
<strong>Iohannes Duns Scotus OFM [&dagger;1308]
</strong>
<br>
<strong><i>Reportata super Opus Parisiense</i>, a version of Duns's early
Parisian <i>Lectura</i> on the Lombard's Sentences</strong>
pr. Paris 1517&ndash;18 (Moreau,
2. 1597, 1809).

</li>

<li>
UO38.*132<sup>x</sup>: 
<strong>Augustine [354&ndash;430], bishop of Hippo
</strong>
<br>
<strong><i>De disciplina christiana</i></strong>
<i>CPL</i> 310; ed. R. Vander Plaetse, 
<i>CCSL</i> 46 (1969) 205&ndash;24.

</li>

<li>
UO38.*133: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences, sometimes titled <i>Conflatus</i></strong>
 Book I, pr. Treviso 1476 (Goff M90), Basel 1489 (Goff M91), &amp;c.; 
Books I&ndash;IV, ed. Maurice O'Fihely, Venice 1504&ndash;7 &amp;c.; ed. H. Carmelitanus,
Venice 1520; Roth, <i>Franz von Mayronis</i>, 87&ndash;160; Stegm&uuml;ller <i>Sent.</i> 218.

</li>

<li>
UO38.*134: 
<strong>Hugo Ripelinus OP [&dagger; <i>c</i>1300]
</strong>
<br>
<strong><i>Compendium ueritatis theologicae</i></strong>
ed. A. Borgnet, <i>Alberti
Magni opera omnia</i> (Paris 1890&ndash;99), 34. 1&ndash;270; Stegm&uuml;ller <i>Sent.</i> 368; 
Kaeppeli 1982.

</li>

<li>
UO38.*135: 
<strong>Richard Snettisham [&dagger;1416]
</strong>
<br>
<strong>Abbreviation of Robert Cowton's Commentary on the Lombard's Sentences</strong>
 unpr.; Sharpe, <i>Latin Writers</i>, 510&ndash;11; Stegm&uuml;ller <i>Sent.</i> 735.

</li>

<li>
UO38.*135<sup>x</sup>: 
<strong>John Sharpe [&dagger; after 1403]
</strong>
<br>
<strong>Abbreviation of John Duns Scotus's <i>Quodlibeta</i></strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 315.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
