{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/127" title="Lincoln-Carmelite">Lincoln-Carmelite</a>  &gt; Lincolnshire list, 1528</p><h2>NEW FRIARS: Lincoln-Carmelite</h2><h3 class="medieval_catalogue_desc">F21. Lincolnshire list, 1528</h3>
<em>27 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F21.1 (`postille Rowell super . . '): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3773_anchor">William Rothwell OP [late 13th cent.]
</a>
<br>
<strong>Commentaries on Judges, Kings, Psalms, Ecclesiasticus, &amp;c.</strong>
not
known to survive; Sharpe, <i>Latin Writers</i>, 806.

</li>

<li>
F21.2a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on the Pentateuch</strong>
as above.

</li>

<li>
F21.2b (`super libros Salomonis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Sapiential books</strong>
as above.

</li>

<li>
F21.2c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Jeremiah, inc. `<i>Vidit Daniel uirum indutum lineis super
aquam fluminis</i> &amp;c. [Dn 10</strong>
5] Per Danielem qui interpretatur': unpr.;
Stegm&uuml;ller <i>Bibl.</i> 7829. Stegm&uuml;ller reports more copies than Smalley.

</li>

<li>
F21.2d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong>Commentary on Ecclesiasticus, inc. `Hoc nomine Ecclesiastes 
interpretatur concionator'</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 7814. There is a
second commentary, inc. `Cum de edificio sito in monte loqueretur, Ezechiel 
ait, <i>Thalami porte</i>, &amp;c. [Ez 40:10]' (Stegm&uuml;ller <i>Bibl.</i> 7813), ascribed 
to Langton in at least one copy, transmitted with Langton, and accepted as 
also authentic by both Smalley and Stegm&uuml;ller.

</li>

<li>
F21.3a (`in duos libros Paralipomenon'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on Chronicles</strong>
not known to survive; Stegm&uuml;ller <i>Bibl.</i>
6037.

</li>

<li>
F21.3b = F22.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong>Commentary on the Psalter</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 6038; 
Kaeppeli 3135.

</li>

<li>
F21.4a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2910_anchor">Richard Fishacre OP [&dagger;1248]
</a>
<br>
<strong>Commentary on the Psalms</strong>
not known to survive; Sharpe,
<i>Latin Writers</i>, 476; Stegm&uuml;ller <i>Bibl.</i> 7267.

</li>

<li>
F21.4b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2910_anchor">Richard Fishacre OP [&dagger;1248]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
unpr. apart from prol. ed. R. J. Long
in <i>Med. Stud.</i> 34 (1972) 71&ndash;98; Sharpe <i>Latin Writers</i>, 477; Stegm&uuml;ller 
<i>Sent.</i> 718; Kaeppeli 3466.

</li>

<li>
F21.5a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>Quaestiones</i> on the Lombard's Sentences</strong>
I, ed. J. Schneider (Munich 1986);
II, ed. G. Leibold (Munich 1992); III/1, ed. E. G&ouml;ssmann (Munich 1982);
III/2, ed. G. Leibold (Munich 1985);
IV, ed. R. Schenk (Munich 1993); Stegm&uuml;ller <i>Sent.</i> 742; Kaeppeli 3519.

</li>

<li>
F21.5b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>De ortu scientiarum</i>, inc. `Diuisio scientiae'</strong>
ed. A. G. Judy,
<i>Auctores Britannici medii aeui</i> 4 (1976); Kaeppeli 3516.

</li>

<li>
F21.5c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>De conscientia et synderesi</i></strong>
unpr.: excerpts in O. Lottin, <i>Psychologie
et morale aux XIIe et XIIIe si&egrave;cles</i> (Louvain 1942&ndash;60), 2. 312&ndash;32; Kaeppeli 
3518; Bloomfield 0944, 4693.

</li>

<li>
F21.5d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
[<i>dub.</i>]
<strong>`De sacramento alratis'</strong>
not identified.

</li>

<li>
F21.5e (`de predicamento relationis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>De natura relationis</i></strong>
ed. L. Schm&uuml;cker (Lenggries 1980);
Glorieux <i>Arts</i> 411x; Kaeppeli 3515.

</li>

<li>
F21.5f (as a work of R. Kilwardby): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
[<i>pseud.</i>]
<strong><i>Liber de causis</i>, Latin tr.</strong>
ed. A. Pattin in <i>Tijdschrift voor 
Filosofie</i> 28 (1966) 90&ndash;203; the text is also printed with the edition 
of Aquinas's commentary, ed. H. D. Saffrey (Fribourg/Louvain 1954); 
Thorndike/Kibre 996; <i>PAL</i> 18&ndash;20 (no. 13). The work is largely extracted 
from Proclus's <i>Elementatio theologica</i>, and Albertus Magnus names the
compiler as David Iudaeus. Copies are often said to be accompanied by 
a commentary, `Cum ergo remouet causa secunda uniuersalis', attributed
to Alfarabius and to other writers; these passages are in fact 
demonstrations added by the compiler. 

</li>

<li>
F21.5g (as a work of R. Kilwardby): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry706_anchor">Costa ben Luca (Qusta b. Luqa) [late 9th cent.]
</a>
<br>
<strong>(<i>ps.</i> Aristotle), <i>De differentia spiritus et animae</i>, tr.
John of Seville</strong>
ed. S. Barach, <i>Excerpta ex libro Alfredi</i> (Innsbruck 1878), 
120&ndash;39; Thorndike/Kibre 771, 1212, 1526.

</li>

<li>
F21.6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3235_anchor">Stephen Langton [<i>c</i>1165&ndash;1228], archbishop of Canterbury
</a>
<br>
<strong><i>Quaestiones theologicae</i></strong>
unpr.; Sharpe, <i>Latin Writers</i>, 628&ndash;9;
Stegm&uuml;ller <i>Sent.</i> 824&ndash;6.

</li>

<li>
F21.&dagger;7 (`sermones sancti Patricii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry546_anchor">Caesarius of Arles [<i>c</i>470&ndash;542], archbishop of Arles
</a>
<br>
<strong><i>Homiliae X ad monachos</i></strong>
a group common in English manuscripts,
comprising seven sermons of Caesarius, a letter of Caesarius, a 
Eusebian sermon, and <i>ps.</i> Augustine, <i>De tribus habitaculis</i> (attributed to
Patrick of Dublin). On the texts and manuscripts, see A. O. Gwynn, <i>The 
Writings of Bishop Patrick 1074&ndash;84</i> (Dublin 1955), 28&ndash;45, 132&ndash;5. The group 
often accompanies eight <i>sermones ad monachos</i> attributed to Eusebius 
Gallicanus.

</li>

<li>
F21.8a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>De eruditione regalium filiorum</i></strong>
pr. Rostock 1477, &amp;c.; ed. 
A. Steiner (Cambridge, MA, 1938); Kaeppeli 4003.

</li>

<li>
F21.9 (`eulogium Cornubiensis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1645_anchor">John of Cornwall [&dagger; after 1179]
</a>
<br>
<strong><i>Eulogium ad Alexandrum III</i></strong>
<i>PL</i> 199. 1043&ndash;86; ed. N. M.
H&auml;ring, <i>Med. Stud.</i> 13 (1951) 256&ndash;300. [See also above, <i>De homine
assumpto</i>.]

</li>

<li>
F21.11 (`cum exposicione'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1092_anchor">Geoffrey of Monmouth [&dagger;1154]
</a>
<br>
<strong><i>Prophetia Merlini</i> (<i>Historia regum Britanniae</i> VII), often found separately</strong>
 ed. A. Griscom (London 1929), 383&ndash;97; ed. E. Faral, <i>La L&eacute;gende arturienne</i>
(Paris 1929), 3. 186&ndash;203. [= &sect;&sect; 106&ndash;118 in Faral's text of the <i>Historia regum Britanniae</i>.]

</li>

<li>
F21.12 (`uitas fratrum predicatorum', anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1117_anchor">Gerardus de Fracheto OP [1205&ndash;1271]
</a>
<br>
<strong><i>Vitae fratrum ordinis Praedicatorum</i></strong>
ed. B. M. Reichert (Louvain
1896); Kaeppeli 1282.

</li>

<li>
F21.13 (`originalia Kilwardby'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>Tabula super originalia patrum</i></strong>
unpr.; Kaeppeli 3521; Sharpe, 
<i>Latin Writers</i>, 564.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>27 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
