{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3>UC163. Will of John Syclyng, 24 September 1506; Christ's College</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC163.&para;1: 
<strong>Gratian [&dagger; by <i>c</i>1160]
</strong>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
UC163.&para;2: 
<strong>Gregory IX (Ugolino da Segni) [<i>c</i>1148&ndash;1241, <i>sedit</i> 1227&ndash;1241]
</strong>
<br>
<strong><i>Decretales</i></strong>
ed. Friedberg, <i>Corpus iuris canonici</i>, 2. 1&ndash;928;
Schulte, 2. 3&ndash;25, 412. [The ordinary gloss on the Decretals is that by Bernard
of Parma: pr. Strassburg 1468/71 (<i>GW</i> 11450), &amp;c.; pr. Venice 1605; Schulte, 
2. 115.] [Entries for <i>Decretales ueteres</i> are more likely to refer to one of
the older decretal compilations; entered under Bernard of Pavia.] 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
