{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/89" title="Tewkesbury">Tewkesbury</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Tewkesbury</h2><h3 class="medieval_catalogue_desc">B98. Leland, c. 1536-40</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B98.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1322_anchor">Herbert of Bosham [&dagger; after 1189]
</a>
<br>
<strong><i>Vita S. Thomae</i></strong>
<i>PL</i> 190. 1073&ndash;1292 (<i>uita</i>), 1293&ndash;1404 (<i>liber
melorum</i>); ed. J. C. Robertson, RS 67/3 (1878), 155&ndash;534 (<i>uita</i>); <i>BHL</i> 8190.

</li>

<li>
B98.2 (`Odonis de Siritono sermones'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2389_anchor">Odo of Cheriton [&dagger;1247]
</a>
<br>
<strong><i>Sermones</i></strong>
part pr. as <i>Flores sermonum</i>, Paris 1520 (Shaaber O39); 
Schneyer <i>Rep.</i> 4. 483&ndash;499.

</li>

<li>
B98.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1944_anchor">Isaac de Stella OCist [&dagger;1169]
</a>
<br>
<strong><i>Sermones</i></strong>
ed. A. Hoste, G. Salet &amp; G. Raciti, SChr 130, 207, 339 (1967&ndash;87); Schneyer <i>Rep.</i> 3. 869&ndash;73.

</li>

<li>
B98.4 (`Alfraganus de scientia astrorum', tr. John of Seville): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry152_anchor">Alfraganus (Ahmad Ibn Muhammad al-Farghani) [&dagger; after 861]
</a>
<br>
<strong><i>Liber de aggregationibus scientiae stellarum</i>, tr. Gerard of 
Cremona</strong>
ed. R. Campani (Florence 1910); Thorndike/Kibre 960. Or the same 
work, <i>De scientia astrorum</i>, tr. John of Seville and known as <i>De 
differentiis</i>: pr. Ferrara 1493 (<i>GW</i> 1268); ed. F. J. Carmody (Berkeley, 
CA, 1943); Carmody, 115; Diaz 970; Thorndike/Kibre 429, 960.

</li>

<li>
B98.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1149_anchor">Gilbert of Hoyland OCist [&dagger;1172], abbot of Swineshead
</a>
<br>
<strong>Sermons on the Song of Songs 3</strong>
1&ndash;5:10: <i>PL</i> 184. 11&ndash;252; Stegm&uuml;ller 
<i>Bibl.</i> 2493.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
