{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/56" title="Ely">Ely</a>  &gt; Leland, c. 1536-40</p><h2>BENEDICTINES: THE SHORTER CATALOGUES: Ely</h2><h3 class="medieval_catalogue_desc">B28. Leland, c. 1536-40</h3>
<em>11 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B28.1: 
<strong>Cassiodorus Senator [<i>c</i>485&ndash;580]
</strong>
<br>
<strong><i>Variae</i></strong>
<i>CPL</i> 896; ed. $caring$$. J. Fridh, <i>CCSL</i> 96 (1973) 3&ndash;499.

</li>

<li>
B28.2: 
<strong>Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</strong>
<br>
<strong>Commentary on Genesis</strong>
<i>CPL</i> 1344; ed. C. W. Jones, <i>CCSL</i> 118A (1967).

</li>

<li>
B28.3: 
<strong>Aldhelm [&dagger;709], bishop of Sherborne
</strong>
<br>
<strong><i>Carmen de uirginitate</i></strong>
<i>CPL</i> 1333.

</li>

<li>
B28.4: 
<strong>M. Vitruvius Pollio [fl. 40 BC]
</strong>
<br>
<strong><i>De architectura</i></strong>
ed. V. Rose &amp; H. M&uuml;ller-Str&uuml;bing, 
Teubner (1867); ed. J. Soubiran, L. Callebat, &amp; P. Fleury (Paris 1969&ndash;#).

</li>

<li>
B28.5: 
<strong><i>Itinerarium Antonini</i></strong>
<i>CPL</i> 2330.

<br>
</li>

<li>
B28.6: 
<strong>Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</strong>
<br>
<strong>Commentary on Lamentations</strong>
<i>PL</i> 120. 1059&ndash;1256; ed. B. Paulus, <i>CCCM</i> 
85 (1988); Stegm&uuml;ller <i>Bibl.</i> 6262.

</li>

<li>
B28.7: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on the Heptateuch</strong>
ed. C. Lohr &amp; R. Berndt, <i>CCCM</i> 53 
(1986); Stegm&uuml;ller <i>Bibl.</i> 1295&ndash;1301.

</li>

<li>
B28.8: 
<strong>Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</strong>
<br>
<strong>Commentary on Isaiah</strong>
ed. K. Reinhardt, <i>CCCM</i> (in preparation); 
Stegm&uuml;ller <i>Bibl.</i> 1312.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>11 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
