{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Z" title="CISTERCIANS">CISTERCIANS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/Z/378" title="Newenham">Newenham</a>  &gt; Books given by John Godard, 1246-8</p><h2>CISTERCIANS: Newenham</h2><h3 class="medieval_catalogue_desc">Z16. Books given by John Godard, 1246-8</h3>
<em>9 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
Z16.2: 
<strong>Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</strong>
<br>
<strong><i>Moralia in Iob</i></strong>
<i>CPL</i> 1708; ed. M. Adriaen, <i>CCSL</i> 143, 143A, 143B 
(1979&ndash;85).

</li>

<li>
Z16.3: 
<strong>Isidore of Seville [&dagger;636], bishop of Seville
</strong>
<br>
<strong><i>Etymologiae</i></strong>
<i>CPL</i> 1186; Diaz 122.

</li>

<li>
Z16.4: 
<strong>William of Auxerre [&dagger;1231]
</strong>
<br>
<strong><i>Summa aurea super quatuor libros Sententiarum</i></strong>
ed. J. Ribaillier, 
Spicilegium Bonaventurianum 16&ndash;20 (Paris/Grottaferrata 1980&ndash;87); Stegm&uuml;ller 
<i>Sent.</i> 281.  

</li>

<li>
Z16.7: 
<strong>John Beleth [&dagger; after 1182]
</strong>
<br>
<strong><i>Summa de ecclesiasticis officiis</i></strong>
ed. H. Douteil, <i>CCCM</i> 
41, 41A (1976).

</li>

<li>
Z16.8: 
<strong>Peter the Chanter [&dagger;1197]
</strong>
<br>
<strong><i>Distinctiones Abel</i></strong>
part ed. J. B. Pitra, <i>Spicilegium Solesmense</i>
3 (1852&ndash;8) 1&ndash;308 and <i>Analecta sacra Spicilegio Solesmensi parata</i>
2 (1876&ndash;84) 6&ndash;154, 585&ndash;623; Landgraf, 162.

</li>

<li>
Z16.9: 
<strong>John of Damascus [<i>c</i>675&ndash;749]
</strong>
<br>
<strong><i>De fide orthodoxa</i>, tr. Burgundio of Pisa</strong>
ed. E. M. Buytaert 
(St Bonaventure, NY, 1955). [On the three translations see I. Backus
in <i>JWCI</i> 49 (1986) 211&ndash;17.]

</li>

<li>
Z16.10: 
<strong>Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>Philosophiae consolatio</i></strong>
<i>CPL</i> 878; ed. L. Bieler, <i>CCSL</i> 94 
(1984<sup>2</sup>); ed. C. Moreschini, Teubner (2000).

</li>

<li>
Z16.11: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De amicitia</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

<li>
Z16.12: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De senectute</i></strong>
ed. K. Simbeck, Teubner (1917).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>9 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
