{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC" title="UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/UC/343" title="Donor documents">Donor documents</a>  &gt; Will of John Geffray, 31 October 1479; King's</p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents</h2><h3 class="medieval_catalogue_desc">UC128. Will of John Geffray, 31 October 1479; King's</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UC128.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2365_anchor">Nicholaus de Tudeschis, known as Abbas [&dagger;1445], archbishop of Palermo
</a>
<br>
<strong><i>Lectura in Decretales</i></strong>
pr. Venice 1475&ndash;77 (Goff P44), &amp;c.; 
Schulte, 2. 313.

</li>

<li>
UC128.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1529_anchor">Innocent IV (Sinibaldo Fieschi) [<i>sedit</i> 1243&ndash;1254]
</a>
<br>
<strong><i>Apparatus in quinque libros Decretalium</i></strong>
pr. Strassburg 1478 
(Goff I95), &amp;c.; Schulte, 2. 91&ndash;4.

</li>

<li>
UC128.3 (`Iohannem in &dagger;correctorio'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1705_anchor">Iohannes Gaufridi [&dagger; <i>c</i>1360]
</a>
<br>
<span class="biblio_block">
<i>HLF</i> 38 (1938) 522&ndash;31; <i>DDC</i> 6. 106&ndash;107.
</span>
<br>
<strong><i>Collectarium iuris</i></strong>
pr. Lyon 1514. 

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
