{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/173" title="Aberdeen, King's College">Aberdeen, King's College</a>  &gt; Inventory, 1542</p><h2>SCOTLAND: Aberdeen, King's College</h2><h3 class="medieval_catalogue_desc">S3. Inventory, 1542</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S3.35: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1706_anchor">John of Genoa OP [&dagger; after 1286]
</a>
<br>
<strong><i>Catholicon</i></strong>
pr. [Mainz ?1460] (<i>GW</i> 3182), Augsburg 1469 (<i>GW</i>
3183), &amp;c.; Kaeppeli 2199. [Usually anonymous in lists.]

</li>

<li>
S3.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Rationale diuinorum officiorum</i></strong>
pr. Mainz 1459 (<i>GW</i> 9101), &amp;c.; 
ed. A. Davril &amp; T. M. Thibodeau, <i>CCCM</i> 140, 140A (1995&ndash;8); Schulte, 
2. 155. [There is also an annotated English translation of Book IV by T. M. 
Thibodeau (Turnhout 2013).]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
