{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K537. Catalogus, c. 1360</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K537: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3106_anchor">&loz;Sergius [?], translator of al-Qu`ran
</a>
<br>
<strong>name reported from Vincent of Beauvais, XXIV 51.
</strong>
</li>

<li>
K537.*1 (`Alchoran sc. librum legis Machometi', inc.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2065_anchor"><i>Liber legis Saracenorum quem Alchoran uocant</i> (al-Qur`an), tr. Robert of
Ketton, dedicated to Peter the Venerable (1143)</a>
pr. Basel: J. Oporinus, 1543
(as the work of `Robertus &dagger;Retensis'); Sharpe, <i>Latin Writers</i>, 
559&ndash;60. [Also <i>Alcorani epitome Roberto Ketenense Anglo interprete</i>:  
pr. [N&uuml;rnberg: J. Petreius], 1543.] [Manuscripts may include Hermann of 
Carinthia, <i>Liber generationis Mahometi</i> (pr. with Alchoran, Basel: Oporinus,
1543, 201&ndash;212) and other polemical works. On such collections, see M.-T.
d'Alverny, `Deux traductions du Coran au moyen &acirc;ge', <i>AHDLMA</i> 22&ndash;3 (1947&ndash;8)
69&ndash;131.]

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em></p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
