{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: Winchester, Holy Cross</h2><h3 class="medieval_catalogue_desc">SH116. Bequest by Henricus de Segusio, 29 October 1271</h3>
<em>5 identified entries found.</em>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH116.23a: 
<strong>Bartholomew of Brescia [&dagger;1258]
</strong>
<br>
<strong><i>Glossa ordinaria in Decretum</i>, a revision of the work of Iohannes 
Teutonicus</strong>
pr. Venice 1496 &amp;c.; pr. Venice 1605; Schulte, 2. 86&ndash;87; Kuttner,
103&ndash;115.

</li>

<li>
SH116.23b: 
<strong>Goffredo di Trani [&dagger;1245]
</strong>
<br>
<strong><i>Summa super titulis Decretalium</i></strong>
pr. [Cologne <i>c.</i> 1480] (<i>GW</i> 
10949), &amp;c.; Schulte, 2. 89&ndash;91.

</li>

<li>
SH116.56: 
<strong>Bartholomaeus de S. Concordio Pisanus OP [<i>c</i>1260&ndash;1347]
</strong>
<br>
<strong><i>Summa de casibus conscientiae</i></strong>
pr. [Milan] 1473 (<i>GW</i> 3450), &amp;c.;
Kaeppeli 436.

</li>

<li>
SH116.57a: 
<strong>William Brito [late 13th cent.]
</strong>
<br>
<strong><i>Expositiones uocabulorum Bibliae</i></strong>
ed. L. W. &amp; B. A. Daly (Padua 1975); Stegm&uuml;ller <i>Bibl.</i> 2820.

</li>

<li>
SH116.57b: 
<strong>Richard of Bury [1281&ndash;1345], bishop of Durham
</strong>
<br>
<strong><i>Philobiblon</i></strong>
ed. E. C. Thomas (London 1888 / repr. Oxford 1960); 
ed. A. Altamura (Naples 1954). The real author was Robert Holcot.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
