{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Guildhall</h2><h3>SH47. List of books, c. 1470</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SH47.*1: 
<strong><i>Statuta Angliae</i></strong>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

<li>
SH47.*1<sup>x</sup>: 
<strong><i>Exceptiones contra breuia</i></strong>
ed. G. E. Woodbine, <i>Four Thirteenth-Century Law Tracts</i> (London 1910), 163&ndash;83.

<br>
</li>

<li>
SH47.*1<sup>x</sup>: 
<strong><i>Modus componendi breuia</i>, possibly by Ralph of Hengham or John of Metingham</strong>
 ed. G. E. Woodbine, <i>Four Thirteenth-Century Law Tracts</i> (London 1910), 143&ndash;62.

<br>
</li>

<li>
SH47.*1<sup>x</sup>: 
<strong><i>Placita coronae</i></strong>
ed. J. M. Kaye, Selden Society, Supplementary series
4 (1966); Baker, <i>English Legal Manuscripts</i>, 75&ndash;6.

<br>
</li>

<li>
SH47.*1<sup>x</sup>: 
<strong>Ralph of Hengham [&dagger;1311]
</strong>
<br>
<strong>(attrib.), <i>Iudicium essoniorum</i></strong>
ed. G. E. Woodbine,
<i>Four Thirteenth-Century Law Tracts</i> (London 1910), 116&ndash;42.

</li>

<li>
SH47.*1<sup>x</sup>: 
<strong>Ralph of Hengham [&dagger;1311]
</strong>
<br>
<strong>(attrib.), <i>Summa Fait assavoir</i></strong>
ed. G. E. Woodbine, <i>Four Thirteenth-Century Law Tracts</i>
(London 1910), 53&ndash;115.

</li>

<li>
SH47.*1<sup>x</sup>: 
<strong>Ralph of Hengham [&dagger;1311]
</strong>
<br>
<strong><i>Summa magna</i></strong>
ed. W. H. Dunham, <i>Radulphi de Hengham Summae</i> (Cambridge
1932), 1&ndash;50.

</li>

<li>
SH47.*1<sup>x</sup>: 
<strong>Ralph of Hengham [&dagger;1311]
</strong>
<br>
<strong><i>Summa parua</i></strong>
ed. W. H. Dunham, <i>Radulphi de Hengham Summae</i> (Cambridge
1932), 51&ndash;71.

</li>

<li>
SH47.*1<sup>x</sup>: 
<strong><i>Summa bastardiae</i></strong>
unpr.; G. E. Woodbine, <i>Four Thirteenth-Century Law 
Tracts</i> (London 1910), 1 n. 3.

<br>
</li>

<li>
SH47.*1<sup>x</sup>: 
<strong><i>Summa Cadit assisa</i></strong>
unpr.; G. E. Woodbine, <i>Four Thirteenth-Century Law 
Tracts</i> (London 1910), 1 n. 4. This tract is an extract from Bracton with
independent circulation.

<br>
</li>

<li>
SH47.*1<sup>x</sup>: 
<strong><i>Tractatus de corona</i></strong>
ed. J. M. Kaye, Selden Society, Supplementary 
series 4 (1966), 34&ndash;8.

<br>
</li>

<li>
SH47.*2<sup>x</sup>: 
<strong>Nicholaus de Maniacutia [&dagger;1150]
</strong>
<br>
<strong><i>Versus de papis</i></strong>
ed. F. Liebermann &amp; R. Pauli, MGH <i>Scriptores</i>
28 (1888), 529&ndash;31; <i>WIC</i> 18090. Liebermann printed the verses from the 
copy referred to at SH47.*2 (`Liber Thamisie').

</li>

<li>
SH47.*2<sup>x</sup>: 
<strong>William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</strong>
<br>
<strong><i>Gesta regum Anglorum</i></strong>
ed. W. Stubbs, RS 90 (1887&ndash;9); ed. M. 
Winterbottom &amp; R. M. Thomson, OMT (1998&ndash;9).

</li>

<li>
SH47.*10: 
<strong><i>Statuta Angliae</i></strong>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

<li>
SH47.*13: 
<strong><i>Chroniques de France</i></strong>
ed. P. Paris (Paris 1836&ndash;8); ed. J. Viard (Paris
1920&ndash;53).

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
