{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/BX" title="BENEDICTINES">BENEDICTINES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/BX/75" title="Peterborough">Peterborough</a>  &gt; Books given by Abbot William of Woodford (1295-9)</p><h2>BENEDICTINES: Peterborough</h2><h3 class="medieval_catalogue_desc">BP13. Books given by Abbot William of Woodford (1295-9)</h3>
<em>10 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
BP13.1 (`apparitata'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
BP13.2 (`apparitata'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
BP13.3 (`apparatus decretalium cum casibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry460_anchor">Bernard of Parma [&dagger;1266]
</a>
<br>
<strong><i>Casus longi super Decretales</i></strong>
pr. Paris 1475 (<i>GW</i> 4092), &amp;c.; 
Schulte, 2. 115&ndash;16.

</li>

<li>
BP13.4&ndash;*5 (`summa de uiciis', `summa de uirtutibus', 2 vols, anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3760_anchor">Willelmus Peraldus OP [&dagger;1261]
</a>
<br>
<strong><i>Summa de uitiis et uirtutibus</i></strong>
pr. [Basel, not after 1474] (Goff 
P89), &amp;c.; Kaeppeli 1622; Bloomfield 1628, 5601. [See also William of 
Auvergne, also called Parisiensis, from whose work of the same title this 
is often indistinguishable.]

</li>

<li>
BP13.&dagger;6 (`summa Reynfridi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2846_anchor">Raymond of Pe&ntilde;afort OP [<i>c</i>1180&ndash;1275]
</a>
<br>
<strong><i>Summa de casibus poenitentiae</i></strong>
ed. X. Ochoa &amp; A. Diez, Universa
bibliotheca iuris 1B (Rome 1976); Kuttner, 443&ndash;5; Bloomfield 5054; Diaz 
1324. [Manuscripts listed by L. Robles, `Escritores dominicos de la Corona 
de Arag&oacute;n (siglos XIII&ndash;XV)', in <i>Repertorio de historia de las ciencias 
eclesi&aacute;sticas en Espa&ntilde;a</i> (Salamanca 1967&ndash;79), 3. 11&ndash;175 (at 14&ndash;31). 
The common apparatus is that of William of Rennes.] [Book III tit. 34, 
<i>De poenitentiis et remissionibus</i>, Ochoa &amp; Diez, 795&ndash;882 (Bloomfield 
3954) and Book IV, Ochoa &amp; Diez, ??? (Bloomfield 4943) also circulate 
separately.]

</li>

<li>
BP13.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3221_anchor">Statutes of Westminster (1275, 1285)</a>
<i>Stat. Realm</i> 1. 26&ndash;39, 71&ndash;95.

<br>
</li>

<li>
BP13.11a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2869_anchor"><i>Regula S. Basilii</i>, tr. Rufinus</a>
<i>CPG</i> 2876; <i>PL</i> 103. 487&ndash;554; ed. K. Zelzer, <i>CSEL</i> 86 (1986).
In England it is perhaps more likely to refer to <i>ps.</i> Basil, <i>Admonitio ad
filium spiritualem</i>: <i>PL</i> 103. 683&ndash;700; ed. P. Lehmann, <i>Erforschung des
Mittelalters</i> 5 (1962), 200&ndash;245.

<br>
</li>

<li>
BP13.11b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2870_anchor"><i>Regula S. Benedicti</i></a>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
BP13.12 (`carte regum cum libertatibus') ?= BP21.187: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3216_anchor"><i>Statuta Angliae</i></a>
manuscript collections vary, but most begin with
<i>Magna carta</i>; for example, CUL MS Dd. 10. 28 (s. xiv), Baker, <i>English
Legal Manuscripts</i>, xxii&ndash;xxiv. In print, <i>Magna carta cum statutis</i>, pr. 
by R. Pynson, London 1508 &amp;c. (<i>STC</i> 9266&ndash;73). [See also under <i>Magna 
carta</i>, <i>Statuta noua</i>.] 

<br>
</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>10 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
