{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p><h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K21. Catalogus, c. 1360</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry239_anchor">&lt;&gt;Ansbertus [], bishop of Rouen
</a>
<br>
<strong>name taken from Vincent of Beauvais, XXIV 100.
</strong>
</li>

<li>
K21.1 (attrib. Ansbertus): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry195_anchor">Ambrosius Autpertus [&dagger;781]
</a>
<br>
<strong>(<i>ps.</i> Augustine), <i>Sermo de assumptione beatae Mariae</i></strong>
ed. 
R. Weber, <i>CCCM</i> 27B (1979) 1027&ndash;63; <i>CPPM</i> 1. 993.

</li>

<li>
K21.2 (attrib. Ansbertus)
  R61&dagger; (`Albertus super Apocalipsim', 1 copy): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry195_anchor">Ambrosius Autpertus [&dagger;781]
</a>
<br>
<strong>Commentary on Revelation</strong>
pr. Cologne 1536 (Adams A956), &amp;c.; ed. 
R. Weber, <i>CCCM</i> 27, 27A (1975); Stegm&uuml;ller <i>Bibl.</i> 1275.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
