{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A" title="AUGUSTINIAN CANONS">AUGUSTINIAN CANONS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A/27" title="Taunton">Taunton</a>  &gt; Leland, c. 1536-40</p>{% endif %}<h2>AUGUSTINIAN CANONS: Taunton</h2><h3 class="medieval_catalogue_desc">A32. Leland, c. 1536-40</h3>
<em>3 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
A32.1 (attrib. Ivo): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1410_anchor">Hugh of Fleury OSB [&dagger; <i>c</i>1135]
</a>
<br>
<strong><i>Historia ecclesiastica siue Chronicon</i></strong>
the first redaction,
ed. B. Rottendorff (M&uuml;nster 1638); the second redaction, part ed. G. Waitz,
MGH <i>Scriptores</i> 9. 337&ndash;64; N. Lettinck in <i>RB</i> 91 (1981) 386&ndash;97. [The work
was sent by the author for correction to Ivo of Chartres, to whom it is 
commonly ascribed.]

</li>

<li>
A32.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2647_anchor">Philaretus [7th cent.]
</a>
<br>
<strong><i>Liber pulsuum</i>, Latin tr.</strong>
pr. Venice 1483 &amp;c.; Thorndike/Kibre 764.

</li>

<li>
A32.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3321_anchor">Theophilus [7th cent.]
</a>
<br>
<strong><i>Liber urinarum</i>, Latin tr.</strong>
pr. in <i>Articella</i>, [Padua <i>c.</i> 1476] 
(<i>GW</i> 2678), &amp;c.; Thorndike/Kibre 393; <i>Lexicon der &Auml;rzte</i>, 5. 549.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>3 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
