{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/130" title="London-Austin">London-Austin</a>  &gt; Leland, c. 1536-40</p><h2>NEW FRIARS: London-Austin</h2><h3 class="medieval_catalogue_desc">F24. Leland, c. 1536-40</h3>
<em>43 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F24.1: 
<strong><i>Vita S. Edwardi regis et martyris</i></strong>
ed. C. E. Fell (Leeds 1973); 
<i>BHL</i> 2418.

<br>
</li>

<li>
F24.2 (`historia Iuonis Carnotensis', inc.): 
<strong>Hugh of Fleury OSB [&dagger; <i>c</i>1135]
</strong>
<br>
<strong><i>Historia ecclesiastica siue Chronicon</i></strong>
the first redaction,
ed. B. Rottendorff (M&uuml;nster 1638); the second redaction, part ed. G. Waitz,
MGH <i>Scriptores</i> 9. 337&ndash;64; N. Lettinck in <i>RB</i> 91 (1981) 386&ndash;97. [The work
was sent by the author for correction to Ivo of Chartres, to whom it is 
commonly ascribed.]

</li>

<li>
F24.3: 
<strong>Sigebert of Gembloux OSB [<i>c</i>1030&ndash;1112]
</strong>
<br>
<strong><i>Chronica</i></strong>
<i>PL</i> 160. 57&ndash;240.

</li>

<li>
F24.4: 
<strong>Martin of Troppau OP [&dagger;1278]
</strong>
<br>
<strong><i>Chronica pontificum et imperatorum</i></strong>
ed. L. Weiland, MGH <i>Scriptores</i> 
22 (1872), 377&ndash;482; Kaeppeli 2974; A. D. von den Brincken in <i>Deutsches 
Archiv</i> 41 (1985) 460&ndash;531. [On the work's reception in England see 
W. V. Ikas in <i>EHR</i> 116 (2001) 327-41 and at greater length, <i>Fortsetzungen
zur Papst- und Kaiserchronik Martins von Troppau aus England</i>, MGH (Hannover
2004).]

</li>

<li>
F24.5 (`A. Necham/ de S. Albano de naturis rerum'): 
<strong>Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</strong>
<br>
<strong><i>De naturis rerum</i></strong>
I&ndash;II, ed. T. Wright, RS 34 (1863), 1&ndash;354; III&ndash;V
(commentary on Ecclesiastes), unpr.; Hunt, <i>Nequam</i>, 134&ndash;6; Stegm&uuml;ller 
<i>Bibl.</i> 1172.

</li>

<li>
F24.6 (`Lincolniensis super libros Dionysii de hierarchia'): 
<strong><i>Ps.</i> Dionysius the Areopagite
</strong>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
<i>CPG</i> 6600&ndash;6607; pr. Bruges [1479] (<i>GW</i> 8408),
&amp;c.; ed. P. Chevallier, <i>Dionysiaca</i> (Bruges 1937&ndash;50). [The several 
translations are printed concurrently by Chevallier.]

</li>

<li>
F24.7: 
<strong>John Waleys OFM [&dagger;1285]
</strong>
<br>
<strong><i>Floriloquium siue Compendiloquium de uita et dictis illustrium philosophorum</i></strong>
 pr. Lyon 1511, fols. 140r&ndash;194r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322c.

</li>

<li>
F24.8: 
<strong>Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</strong>
<br>
<strong>Commentary on Augustine's <i>De ciuitate Dei</i></strong>
part pr. [Strassburg 
<i>c.</i> 1468] (<i>GW</i> 2883), Mainz 1473 &amp;c.; Kaeppeli 3136. [Trevet's work was
used in early printings to continue the fuller but incomplete commentary 
by Thomas Waleys, which ends at X 29.]

</li>

<li>
F24.9: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong><i>Sermones de sanctis</i></strong>
not known to survive.

</li>

<li>
F24.10 (inc.): 
<strong>John Waleys OFM [&dagger;1285]
</strong>
<br>
<strong><i>Collationes super Matthaeum</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 4514.

</li>

<li>
F24.11: 
<strong>John Waleys OFM [&dagger;1285]
</strong>
<br>
<strong><i>Collationes super Leuiticum</i></strong>
not known to survive.

</li>

<li>
F24.12 (`sermones festiuales fratris Thome Wuinchelse'): 
<strong>Thomas Winchelsea OFM [&dagger;1437]
</strong>
<br>
<strong><i>Sermones de sanctis</i></strong>
not known to survive; Sharpe, <i>Latin
Writers</i>, 694. Entered by Schneyer <i>Rep.</i> 3. 802, under the name of
John Winchelsea OFM.

</li>

<li>
F24.13: 
<strong>Alexander Nequam OSA [1157&ndash;1217], canon of Cirencester
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
unpr.; Hunt, <i>Nequam</i>, 137. The work
is sometimes referred to as <i>Laus beatissimae uirginis</i> (C. J. McDonough in
<i>Mediaeval Studies</i> 66 (2004) 99&ndash;128), which was treated as a separate lost 
work by Hunt, <i>Nequam</i>, 130.

</li>

<li>
F24.14: 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong>Commentary on Wisdom</strong>
pr. [Cologne, not after 1476] (Goff H288), 
&amp;c.; Kaeppeli 3497; Stegm&uuml;ller <i>Bibl.</i> 7416.

</li>

<li>
F24.15: 
<strong>William of Nottingham OFM [&dagger; after 1330]
</strong>
<br>
<strong>Commentary on <i>Vnum ex quatuor</i></strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 3002; 
Sharpe, <i>Latin Writers</i>, 796. [See also John Wykeham (?), <i>Quaestiones 
quas mouet Notyngham</i>.]

</li>

<li>
F24.16: 
<strong>John Lathbury OFM [&dagger;1362]
</strong>
<br>
<strong>Commentary on Lamentations</strong>
&para;pr. Oxford 1482 (<i>STC</i> 15297, Goff L75); 
Stegm&uuml;ller <i>Bibl.</i> 4762.

</li>

<li>
F24.17 (`Uualeis super psalterium', inc.): 
<strong>Thomas Waleys OP [&dagger;1350]
</strong>
<br>
<strong><i>Expositio super duos nocturnos Psalterii</i> (Pss. 1&ndash;38)</strong>
pr.
London 1481 (<i>STC</i> 19627), &amp;c.; Sharpe, <i>Latin Writers</i>, 686; Kaeppeli 
3890; Stegm&uuml;ller <i>Bibl.</i> 8245.  [Early edition someties confused with 
Diego Perez de Valencia.]

</li>

<li>
F24.18: 
<strong>Adam Wodeham OFM [1295&ndash;1358]
</strong>
<br>
<strong>Commentary on the Song of Songs</strong>
not known to survive.

</li>

<li>
F24.19: 
<strong>Henry Cossey OFM [&dagger;?1336]
</strong>
<br>
<strong>Commentary on the Psalms</strong>
unpr.; Sharpe, <i>Latin Writers</i>, 165;
Stegm&uuml;ller <i>Bibl.</i> 3153.

</li>

<li>
F24.20: 
<strong>John Waleys OFM [&dagger;1285]
</strong>
<br>
<strong><i>Pastoralia</i></strong>
not known to survive; Glorieux <i>R&eacute;p.</i> 322w; Sharpe,
<i>Latin Writers</i>, 338.

</li>

<li>
F24.21 (`postillae Alexandri de Hales super Iob', inc.): 
<strong>Alexander of Hales OFM [<i>c</i>1185&ndash;1245]
</strong>
<br>
<strong>(?), Commentary on Job</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1117. The
authorship of this commentary is uncertain as between Alexander,
Simon Hinton OP, William Alton OP, and William Milton OFM.

</li>

<li>
F24.23a&ndash;c: 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong><i>Expositio aurea super Artem ueterem</i> comprising three works, 
<i>Expositionis in libros artis logicae prooemium et Expositio in librum 
Porphyrii de praedicabilibus</i>, <i>Expositio in librum Praedicamentorum 
Aristotelis</i>, <i>Expositio in librum Peri hermenias Aristotelis</i></strong>
pr. Bologna 
1496 (<i>GW</i> 11909); ed. E. A. Moody &amp; others, <i>Guilelmi de Ockham opera 
philosophica</i>, 2. 3&ndash;131, 135&ndash;339, 345&ndash;504;
Lohr, 204&ndash;205.

</li>

<li>
F24.23d: 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong>Commentary on Aristotle's <i>Sophistici elenchi</i></strong>
ed. F. del Punta,
<i>Guillelmi de Ockham opera philosophica</i>, 3. 1&ndash;337; Lohr, 205.

</li>

<li>
F24.&dagger;24 (`opinio Uuicliui de uniuersalibus'): 
<strong>John Wyclif [&dagger;1384]
</strong>
<br>
<strong><i>De uniuersalibus</i></strong>
ed. I. J. Mueller (Oxford 1985); Thomson,
<i>Wyclyf</i>, 20&ndash;24 (A7, Ie), part of his <i>Summa intellectualium</i>.

</li>

<li>
F24.25 (`Winchelsei super logicam stilo scholastico'): 
<strong>Robert Winchelsea [&dagger;1313], archbishop of Canterbury
</strong>
<br>
<strong>(?), Commentary on Aristotle's <i>Logica</i></strong>
not known to survive;
Sharpe, <i>Latin Writers</i>, 578. The attribution of this work to Robert
is Emden's (<i>BRUO</i> 2059); Bale, <i>Catalogus</i>, 1. 39, attributed it to
John Winchelsea OFM (&dagger;1326; Sharpe, <i>Latin Writers</i>, 346); Leland,
who is the only witness to the book, did not record the author's
baptismal name but subsequently, in his <i>Scriptores</i>, 320, he attributed
it to Thomas Winchelsea.

</li>

<li>
F24.26: 
<strong>Aristotle [384&ndash;322 BC]
</strong>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations, groupings of individual works under
familiar medieval titles, and a wide range of pseudonymous texts. The 
descriptions provided by the sources are often imprecise, especially as to
which Latin translation was recorded. Since the sixteenth century scholarly
interest has focused on the Greek text rather than on versions current in the
middle ages. Only in recent decades has <i>Aristoteles Latinus</i> attempted to
document the Latin versions current at different times, but its progress with
editions has been slow. Where <i>AL</i> is not available, one must have recourse
either to major sixteenth-century printings of Latin (where they print the
medieval versions) or to the earliest printed editions that may themselves 
have been documented by our sources. The resulting index is inevitably uneven.
</span>
<br>
<strong><i>Rhetorica</i>, Latin tr.</strong>
ed. B. Schneider, <i>AL</i> 31/1&ndash;2 (1978), 5&ndash;154.
Another translation by William of Moerbeke, <i>ibid.</i> 159&ndash;321.

</li>

<li>
F24.27: 
<strong>William Woodford OFM [&dagger; post 1400]
</strong>
<br>
<strong><i>Quaestiones LXXII de sacramento altaris</i></strong>
unpr.; Sharpe, <i>Latin 
Writers</i>, 821&ndash;2.

</li>

<li>
F24.28: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 377&ndash;85.
</span>
<br>
[<i>pseud.</i>]
<strong><i>De retardatione accidentium senectutis</i></strong>
ed. R. Steele, <i>Opera
hactenus inedita Rogeri Baconis</i> (Oxford 1909&ndash;40), 9. 1&ndash;83;
Thorndike/Kibre 893. With the <i>Summa expositio</i>: ed. Steele, 9. 84&ndash;9;
Thorndike/Kibre 1361.

</li>

<li>
F24.29: 
<strong>Roger Bacon OFM [&dagger;1294]
</strong>
<br>
<strong><i>Antidotarius</i></strong>
ed. Steele, 9. 103&ndash;119; Thorndike/Kibre 1062.

</li>

<li>
F24.30: 
<strong>Robert Cowton OFM [&dagger; after 1313]
</strong>
<br>
<strong><i>Lectura super Sententias</i></strong>
largely unpr.; Sharpe, <i>Latin
Writers</i>, 531&ndash;2; Stegm&uuml;ller <i>Sent.</i> 732.

</li>

<li>
F24.31: 
<strong>Thomas Bradwardine [1290&ndash;1349], archbishop of Canterbury
</strong>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 244&ndash;6 and 3. xv&ndash;xvi; <i>DSB</i> 2. 390-97.
</span>
<br>
<strong><i>De causa Dei contra Pelagium</i></strong>
ed. H. Savile (London 1618); Sharpe, 
<i>Latin Writers</i>, 643.

</li>

<li>
F24.32 (`quolibeta &dagger;Ioannis Okam inceptoris'): 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong><i>Quodlibeta</i></strong>
ed. J. C. Wey, <i>Guillelmi de Ockham opera theologica</i>, 
9. 1&ndash;782).

</li>

<li>
F24.33: 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong><i>De sacramento altaris</i>, comprising two works, <i>De quantitate</i> and <i>De
corpore Christi</i></strong>
ed. C. A. Grassi, <i>Guillelmi de Ockham opera theologica</i> 10
(St Bonaventure, NY, 1986).

</li>

<li>
F24.34: 
<strong>William of Ockham OFM [<i>c</i>1285&ndash;1347]
</strong>
<br>
<strong><i>Scriptum in libros Sententiarum</i></strong>
pr. Lyon 1495 (<i>GW</i> 11916), &amp;c.; 
ed. G. G&aacute;l &amp; others, <i>Guillelmi de Ockham opera theologica</i>, vols. 1&ndash;7 
(St Bonaventure, NY, 1974&ndash;84); Stegm&uuml;ller <i>Sent.</i> 294.

</li>

<li>
F24.35: 
<strong>William of Ware OFM [&dagger; after 1305]
</strong>
<br>
<strong><i>Quaestiones super libros Sententiarum</i></strong>
unpr.; Stegm&uuml;ller <i>Sent.</i> 
307; Sharpe, <i>Latin Writers</i>, 815&ndash;16. 

</li>

<li>
F24.36: 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong>Commentary on Book I of the Lombard's Sentences</strong>
unpr.; Stegm&uuml;ller 
<i>Sent.</i> 476; Glorieux <i>Th.</i> 316h. Extracts, ed. H. Spettmann, <i>Johannis Pechami
Quaestiones de anima</i>, BGPM 19/5&ndash;6 (1918), 183&ndash;221.

</li>

<li>
F24.38 (`itinerarium eiusdem', inc.): 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Canticum pauperis pro dilecto</i></strong>
pr. in <i>Bibliotheca Franciscana 
scholastica medii aevi</i> 4 (Quaracchi 1905, 1949<sup>2</sup>), 133&ndash;205; 
Stegm&uuml;ller <i>Bibl.</i> 4855,1; Glorieux <i>Th.</i> 316al.

</li>

<li>
F24.39 (`Suttoni quaestio de unitate formae'): 
<strong>Thomas Sutton OP [after 1250&ndash;<i>c</i>1315]
</strong>
<br>
<strong><i>Contra pluralitatem formarum</i></strong>
ed. P. Mandonnet, <i>S. Thomae
Aquinatis Opuscula omnia</i> (Paris 1927), 5. 308&ndash;346; Kaeppeli 3870.

</li>

<li>
F24.41 (`questiones Pecham de sacramento altaris'): 
<strong>John Pecham OFM [<i>c</i>1240&ndash;1292]
</strong>
<br>
<strong><i>Quaestiones de eucharistia</i></strong>
unpr.; Glorieux <i>Th.</i> 316s; Sharpe, <i>Latin
Writers</i>, 292.

</li>

<li>
F24.42 (`Holcoti lectura super sententias'): 
<strong>Robert Holcot OP [&dagger;1349]
</strong>
<br>
<strong><i>Opus quaestionum super Sententias</i></strong>
pr. Lyon 1497 (Goff H287), Lyon
1518 / repr. Frankfurt 1957; Kaeppeli 3499; Sharpe, <i>Latin Writers</i>, 555.

</li>

<li>
F24.43: 
<strong>Richard Fishacre OP [&dagger;1248]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
unpr. apart from prol. ed. R. J. Long
in <i>Med. Stud.</i> 34 (1972) 71&ndash;98; Sharpe <i>Latin Writers</i>, 477; Stegm&uuml;ller 
<i>Sent.</i> 718; Kaeppeli 3466.

</li>

<li>
F24.44: 
<strong>Richard of Middleton OFM [1245&ndash;before 1308]
</strong>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Brescia 1591 / repr. 
Frankfurt 1963; Stegm&uuml;ller <i>Sent.</i> 722.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>43 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
