{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC" title="SECULAR INSTITUTIONS: Secular Colleges">SECULAR INSTITUTIONS: Secular Colleges</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/SC/224" title="Westbury-on-Trym">Westbury-on-Trym</a>  &gt; Bequest by William Oakbourne, 30 July 1455</p><h2>SECULAR INSTITUTIONS: Secular Colleges: Westbury-on-Trym</h2><h3 class="medieval_catalogue_desc">SC321. Bequest by William Oakbourne, 30 July 1455</h3>
<em>2 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
SC321.*3: 
<strong>Iacobus de Voragine (Iacopo da Varazze) OP [&dagger;1298]
</strong>
<br>
<strong><i>Sermones quadragesimales</i></strong>
pr. Brescia [1493] (Goff J186), &amp;c.;
ed. G. P. Maggioni (Florence 2005); Kaeppeli 2157; Schneyer <i>Rep.</i> 3. 238&ndash;46.

</li>

<li>
SC321.*3<sup>x</sup>: 
<strong>John Felton [&dagger;1434]
</strong>
<br>
<strong><i>Tabula</i> to Jacobus de Voragine, <i>Sermones quadragesimales</i></strong>
unpr.;
Sharpe, <i>Latni Writers</i>, 245.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>2 identified entries found.</em></p>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
