{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<h2>List of medieval catalogues</h2>
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; SECULAR INSTITUTIONS: Secular Colleges</p><div class="index">

<ul class="AAA" id="catalogue_tree">


<li class="outerhead AAA"><span class="outerhead AAA">
SECULAR INSTITUTIONS: Secular Colleges</span>

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Arundel</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC201 Books devised by Richard Fitzalan, 5 December 1375 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC202 Expenses memoranda, Michaelmas 1384-5 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC203 Bequest by John Neele, 10 March 1498 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC204"  title="View details of catalogue SC204">SC204 Inventory of goods, 14 June 1505 (38)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC205 Inventory of goods, 1 October 1517 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ashford</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC206"  title="View details of catalogue SC206">SC206 Bequest by John Mower, 12 April 1489 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC207"  title="View details of catalogue SC207">SC207 Bequest by Thomas Wilmott, 25 April 1493 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC208 Bequest by Clement Gyfford, 2 June 1507 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Battlefield</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC209 Inventory of goods, 30 October 1444  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Beverley, Minster</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC210"  title="View details of catalogue SC210">SC210 Bequest by William de Waltham, 5 October 1416 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC211"  title="View details of catalogue SC211">SC211 Bequest by Robert Manfield, 12 April 1419 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bishop Auckland</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC212"  title="View details of catalogue SC212">SC212 Record of gift from Bishop Richard Fox, 20 July 1499 (60)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Bosham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC213 List of books noted at a visitation, February 1282 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC214 List of books noted at a visitation, 28 July 1294  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC215"  title="View details of catalogue SC215">SC215 Inventory of church goods, 21 September 1371  (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Clifton</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC216"  title="View details of catalogue SC216">SC216 Bequest by Richard Lovet, 1 April 1491 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Cobham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC217"  title="View details of catalogue SC217">SC217 Inventory of goods, 30 September 1397 (20)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC218"  title="View details of catalogue SC218">SC218 Bequest by Thomas Stone, 20 October 1464 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC219"  title="View details of catalogue SC219">SC219 Inventory of goods, 25 December 1479  (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Crediton</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC220"  title="View details of catalogue SC220">SC220 Bequest by Bartholomew of St David, 9 Sept. 1223 &times; 30 Nov. 1225 (11)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC221 Bequest by Bishop Thomas de Brantingham, 13 Dec. 1393 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Darlington</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC222"  title="View details of catalogue SC222">SC222 List of books in the library, 1487 (17)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Derby</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC223 Inventory of church goods, 1466 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC224 Inventory of church goods, 12 May 1483 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC225"  title="View details of catalogue SC225">SC225 List of books chained in the Lady chapel, c. 1483 (8)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC226"  title="View details of catalogue SC226">SC226 Inventory of church goods, 27 September 1527 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Eton College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC227 Inventory of church goods, 10 April 1445 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC228"  title="View details of catalogue SC228">SC228 Bequest by John French, 29 April 1457 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC229"  title="View details of catalogue SC229">SC229 Inventory of goods, 7 September 1465 (84)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC230"  title="View details of catalogue SC230">SC230 Bequest by John Bonour, 10 January 1467 (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC231"  title="View details of catalogue SC231">SC231 Bequest by William Strete, 7 June 1482 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC232 Bequest by Robert Galon, 18 January 1485  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC233"  title="View details of catalogue SC233">SC233 Bequest by John Mower, 12 April 1489 (8)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC234"  title="View details of catalogue SC234">SC234 Bequest by Walter Smyth, 14 February 1524   (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC235 Inventory of church goods, before 21 October 1528 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC236"  title="View details of catalogue SC236">SC236 Inventory of service books, c. April 1531 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC237 Inventory of church goods, 17 March 1536 &times; 29 Dec. 1547 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC238 Bequest by Thomas Hunton, 28 June 1536 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC239"  title="View details of catalogue SC239">SC239 Bequest by Robert Cater, 22 December 1545   (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC240"  title="View details of catalogue SC240">SC240 Bequest by Bishop John Longlond, 23 March 1547 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC241"  title="View details of catalogue SC241">SC241 Bequest by Richard Williat, 3 August 1550 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC242"  title="View details of catalogue SC242">SC242 Excerpts from the Audit Books, 1548-9 to 1558-9  (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC243"  title="View details of catalogue SC243">SC243 List of books returned to the bursars, 8 December 1558 (27)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Fotheringhay</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC244"  title="View details of catalogue SC244">SC244 Inventory of books in the library, 29 September 1445 (90)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC245 Bequest by Cecily, duchess of York, 31 May 1495 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC246 Inventory of goods, 31 March 1546 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC247 Memorandum on English bibles, 28 August 1546 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC248"  title="View details of catalogue SC248">SC248 Memorandum on books, 3 September 1547 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC249 Inventory of goods, 23 November 1547  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Hemingbrough</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC250"  title="View details of catalogue SC250">SC250 Bequest by Robert Knyght, 2 January 1504 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Heytesbury</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC251"  title="View details of catalogue SC251">SC251 List of books noted at a visitation, 29 September 1220 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC252 List of books noted at a visitation, 10 February 1409 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Howden</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC253 Inventory of church goods, May 1549 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ipswich</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC254 Purchases of plate, 9 July 1528 to 20 October 1529 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC255"  title="View details of catalogue SC255">SC255 Inventory of church goods, 22 Feb. &times; 29 Oct. 1529 (7)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Irthlingborough</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC256 Bequest by John Pyel, 12 February 1380 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Leicester</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC257"  title="View details of catalogue SC257">SC257 Bequest by Bishop Thomas Langley, 21 Dec. 1436 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Lingfield</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC258"  title="View details of catalogue SC258">SC258 List of goods given by the founders, after 1431  (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC259 Inventory taken at the surrender, 26 April 1544 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Guildhall College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC263 Bequest by Edmund Alynson, 3 August 1510 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, St James Commons</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC265"  title="View details of catalogue SC265">SC265 Inventory of church goods, 1449 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC266"  title="View details of catalogue SC266">SC266 Bequest by Thomas Kent, 19 January 1469 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, St Martin-le-Grand</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC260 Record of an inquisition, 6 July 1360 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC261 Bequest by Robert de Pleseley, 22 May 1368  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC262"  title="View details of catalogue SC262">SC262 Inventory of books and vestments, after 1503 (5)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, St Peter-upon-Cornhill</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC267"  title="View details of catalogue SC267">SC267 Bequest by Thomas Penyngton, 15 March 1493 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC268"  title="View details of catalogue SC268">SC268 Leland, autumn 1534 &times; spring 1535 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC269"  title="View details of catalogue SC269">SC269 Inventory of church goods, 22 April 1546 &times; 28 Jan. 1547  (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC270"  title="View details of catalogue SC270">SC270 Memoranda, Michaelmas 1548 to Michaelmas 1551 (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC271 List of books in the church, 19 July 1552  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
London, Whittington's College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC264"  title="View details of catalogue SC264">SC264 Bequest by Edward Lupton, 19 October 1482 (4)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Lowthorpe</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC272"  title="View details of catalogue SC272">SC272 Bequest by William Ruckshaw, 10 October 1504 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Maidstone</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC272A Bequest by John Wotton, 30 September 1417 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC273"  title="View details of catalogue SC273">SC273 Books received from the estate of William Grocyn, 1519 (27)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Mettingham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC274 Bequest by Robert, 6th Lord Willoughby de Eresby, 6 June 1452 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC275 Bequest by George Fen, 3 September 1479 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC276"  title="View details of catalogue SC276">SC276 Bequest by Edmund Skotyer, 29 November 1483 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC277"  title="View details of catalogue SC277">SC277 Bequest by Sir James Hobart, 27 July 1516 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Norwich</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC278 Inventory of goods, 10 July 1478 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC279 Deed of gift by Ralph Pulvertoft, 21 October 1497 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC280 Bequest by Ralph Pulvertoft, 27 March 1505  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Ottery St Mary</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC281"  title="View details of catalogue SC281">SC281 List of books taken to London, before November 1448 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC282"  title="View details of catalogue SC282">SC282 Bequest by William Silke, 24 November 1506 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Pleshey</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC283"  title="View details of catalogue SC283">SC283 Inventory of goods, 10 January 1528 (72)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Pott Shrigley</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC284"  title="View details of catalogue SC284">SC284 Inventory of church goods, 1493 &times; 1510 (10)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Rotherham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC285"  title="View details of catalogue SC285">SC285 Bequest by William Rawson, 22 June 1495 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC286 Bequest by Archbishop Rotherham, 24 August 1498 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC287 Donation by Henry Carnebull, 20 September 1499 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC288"  title="View details of catalogue SC288">SC288 Books from Archbishop Rotherham, after 29 May 1500 (160)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC289 Return to the chantry commission, 4 June 1548 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Salisbury</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC290"  title="View details of catalogue SC290">SC290 Bequest by Robert Ragenhill, 17 July 1407 (9)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
South Malling</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC291"  title="View details of catalogue SC291">SC291 Bequest by William Piers, 18 February 1439  (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Southwell, Minster</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC292"  title="View details of catalogue SC292">SC292 Inventory of goods at the parish altar, 6 August 1369 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC293"  title="View details of catalogue SC293">SC293 Bequest by Henry Codyngton, 10 August 1404 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC294 Bequest by Sir John de la Zouche, 9 September 1445 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC295"  title="View details of catalogue SC295">SC295 Statement on church goods, 9 September 1552 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Stoke-by-Clare</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC296"  title="View details of catalogue SC296">SC296 Bequest by John Pyttard, 20 October 1494 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC297 Bequest by Cecily, dowager duchess of York, 31 May 1495  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC298"  title="View details of catalogue SC298">SC298 Bequest by Richard Lessy, 15 February 1498   (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC299"  title="View details of catalogue SC299">SC299 Inventory of church goods, 1 July 1534    (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC300 Inventory of church goods, 8 December 1547 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Sudbury</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC301"  title="View details of catalogue SC301">SC301 Inventory of goods, 10 May 1391 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC302"  title="View details of catalogue SC302">SC302 Bequest by John Donemowe, 15 April 1420 (2)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC303"  title="View details of catalogue SC303">SC303 Bequest by Henry Gressham, 29 August 1420 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC304"  title="View details of catalogue SC304">SC304 Bequest by Geoffrey Bryce, 1 April 1446 (18)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC305"  title="View details of catalogue SC305">SC305 Bequest by Henry Sythyng, 1 May 1464 (10)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC306"  title="View details of catalogue SC306">SC306 Bequest by John Hervy, 20 September 1465 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC307"  title="View details of catalogue SC307">SC307 Bequest by Richard Crysale, 31 December 1465 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC308"  title="View details of catalogue SC308">SC308 Bequest by John Payn, 6 May 1488  (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC309"  title="View details of catalogue SC309">SC309 Bequest by William Woode, 6 April 1491 (12)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC310"  title="View details of catalogue SC310">SC310 Bequest by Thomas Gooch, 21 September 1508 (3)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Tamworth</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC311 Record of an inquisition, 16 January 1423 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC312 Inventory of goods returned to the church, 4 May 1548 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Tattershall</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC313"  title="View details of catalogue SC313">SC313 Excerpts from the accounts, 1443-4 to 1498-9 (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC314"  title="View details of catalogue SC314">SC314 Lincolnshire list, summer 1528 (38)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Wallingford</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC315"  title="View details of catalogue SC315">SC315 Bequest by Thomas de Lynton, 10 August 1387 (5)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Warwick</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC316"  title="View details of catalogue SC316">SC316 Inventory of church goods, 2 February 1408  (8)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC317"  title="View details of catalogue SC317">SC317 Bequest by Thomas Yonge, by 10 April 1432 (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC318"  title="View details of catalogue SC318">SC318 Transfer of books, 25 Sept. 1445 &times; 22 Feb. 1465 (5)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC319"  title="View details of catalogue SC319">SC319 Inventory of church goods, 22 February 1465  (14)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC320 Inventory of church goods, 31 March 1468  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Westbury-on-Trym</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC321"  title="View details of catalogue SC321">SC321 Bequest by William Oakbourne, 30 July 1455 (2)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Westminster, St Peter</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC322"  title="View details of catalogue SC322">SC322 Bill for books, 24 June-20 November 1553 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC323 Bill for service books, 11 November 1553 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC324 Bill for service books, c. November 1554 (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Westminster, St Stephen</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC325 Assignment of books for an obit, 5 July 1410 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC326"  title="View details of catalogue SC326">SC326 Bequest by William Morland, 5 April 1491 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC327 Inventory of church goods taken at dissolution, 1548  (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Winchester College</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC328 Memoranda on the purchase of books, 1394-1401       (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC329"  title="View details of catalogue SC329">SC329 Bequest by William of Wykeham, 24 July 1404 (6)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC330"  title="View details of catalogue SC330">SC330 Inventory of goods, 1 September 1405    (31)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC331 Indenture of goods delivered to sacrist, 8 Dec. 1412  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC332"  title="View details of catalogue SC332">SC332 Memoranda on the purchase of books, 1412-13 (25)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC333 Inventory of goods, c. 1420 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC334"  title="View details of catalogue SC334">SC334 Inventory of goods, 1421/2 (95)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC335"  title="View details of catalogue SC335">SC335 Inventory of the library, 30 July 1428 &times; 24 August 1429  (83)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC336"  title="View details of catalogue SC336">SC336 Inventory of goods, 16 August 1432 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC337"  title="View details of catalogue SC337">SC337 Deed of gift by Robert Heete, 29 September 1432    (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC338"  title="View details of catalogue SC338">SC338 Inventory of books chained and unchained, 24 Jan. 1433 (26)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC339"  title="View details of catalogue SC339">SC339 Bequest by Michael Clive, 30 September 1501   (23)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC340"  title="View details of catalogue SC340">SC340 Inventory of goods, 1521      (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC341 Inventory of church goods, 1526/7     (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC342 Bequest by Archbishop William Warham, 25 November 1530  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC343"  title="View details of catalogue SC343">SC343 Excerpts from the Bursars' Rolls, 1528-9 to 1555-6   (4)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC344"  title="View details of catalogue SC344">SC344 Bequest by Bishop John Holyman, 4 June 1558   (7)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC345"  title="View details of catalogue SC345">SC345 Inventory of goods, 18 August 1565 (87)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC346"  title="View details of catalogue SC346">SC346 List of books in Fromond's Chapel, 30 April 1566 (96)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Windsor</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC347"  title="View details of catalogue SC347">SC347 Excerpts from the Precentors' Rolls, 1363-4 to 1383-4 (1)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC348"  title="View details of catalogue SC348">SC348 Inventory of books and church goods, 1384-5 (34)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC349 Bill for books produced for the chapel, 1389       (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC350 Excerpts from the Precentors' Rolls, 1385-6 to 1408-9      (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC351"  title="View details of catalogue SC351">SC351 Inventory of books and church goods, 1409-10 (3)</a>

</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC352 List of service books received from King Henry V, 1415 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC353 Excerpts from the Precentors' Rolls, 1413-14 to 1428-9 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC354 Bill for bookbinding, June 1429  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC355 Excerpts from the account rolls, 1430-31 to 1492-3 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC356 Books for feasts of BVM &amp; St Osmund, late 15th cent. (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC357 List of service books in Somerset Chantry, 30 July 1506 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC358 List of books in the hall of Denton's Commons, 1520  (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC359 Excerpts from the Precentors' Rolls, 1522-3 to 1546-7 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC360 Inventory of church goods, 3 October 1547 (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC361"  title="View details of catalogue SC361">SC361 Excerpts from the Precentors' Rolls, 1553-4 to 1557-8  (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Wingfield</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SC362"  title="View details of catalogue SC362">SC362 Bequest by Robert Bolton, 25 March 1434 (1)</a>

</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

<ul><!-- start BBB list -->
<li class="innerhead BBB"><span class="innerhead BBB">
Wingham</span>

<ul><!-- start CCC list -->
<li><!-- start CCC list item -->
SC363 Bequest by John Parmenter, 17 August 1479    (0)
</li><!-- end CCC list item -->
<li><!-- start CCC list item -->
SC364 Inventory of church goods, 1546    (0)
</li><!-- end CCC list item -->
</ul><!-- end CCC list -->
</li><!-- end BBB list item -->
</ul><!-- end BBB list -->

</li><!-- end AAA outerhead list item --></ul><!-- end tree AAA -->
</div><!-- end div class "index" -->
<br>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
