{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}
{% block maincontent %}
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p><h2>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Balliol College</h2><h3>UO21. List of books recorded by an Italian visitor to Oxford, early 16th cent.</h3>
<div class="index">

<ul id="catalogue_entry_list">
<li>
UO21.*<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Epistula ad Auitum</i> (<i>ep.</i> 124)</strong>
<i>CPL</i> 620; ed. I. Hilberg, <i>CSEL</i>
56 (1996<sup>2</sup>) 96&ndash;117.

</li>

<li>
UO21.*1: 
<strong>Gilbert de la Porr&eacute;e [1076&ndash;1154]
</strong>
<br>
<strong>Gloss on the Pauline Epistles</strong>
fragments ed. R. M. Martin, <i>RHE</i> 13 
(1912) 677&ndash;83; Stegm&uuml;ller <i>Bibl.</i> 2515&ndash;28; Landgraf, 109&ndash;10.

</li>

<li>
UO21.*4: 
<strong>Anastasius I []
</strong>
<br>
<strong><i>Epistola ad Ioannem Hierosolymitanum</i></strong>
<i>CPL</i> 1640.

</li>

<li>
UO21.*5: 
<strong>Syagrius [mid 5th cent.], bishop
</strong>
<br>
<strong><i>Regulae definitionum contra haereticos prolatae</i></strong>
<i>CPL</i> 560;
Lambert 506.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</strong>
<br>
<strong><i>De situ et nominibus locorum hebraicorum</i>, tr. Jerome</strong>
<i>CPL</i> 581a;
<i>PL</i> 23. 859&ndash;928; ed. E. Klostermann, <i>GCS</i> 11/1 (1904); Lambert 202; 
Stegm&uuml;ller <i>Bibl.</i> 3304.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Apologia aduersus libros Rufini</i></strong>
<i>CPL</i> 613; ed. P. Lardet, <i>CCSL</i> 79
(1982) 1&ndash;72; Lambert 255. Together with id. <i>Liber tertius aduersus libros
Rufini</i>: <i>CPL</i> 614; ed. P. Lardet, <i>CCSL</i> 79 (1982) 77&ndash;116; Lambert 256.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong>Commentary on Ecclesiastes</strong>
<i>CPL</i> 583; Lambert 205.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. de Lagarde,
<i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong>Commentary on the Song of Deborah</strong>
<i>PL</i> 23. 1321&ndash;8; Lambert 411;
Stegm&uuml;ller <i>Bibl.</i> 3413.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>De decem tentationibus populi Israel in deserto</i></strong>
<i>PL</i> 23. 1319&ndash;22;
Lambert 409; Stegm&uuml;ller <i>Bibl.</i> 3411.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Explanatio fidei ad Cyrillum</i> (<i>ep. supp.</i> 17)</strong>
<i>CPL</i> 1746; <i>PL</i> 30. 
176&ndash;81; Lambert 317.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Jerome [<i>c</i>347&ndash;420]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Quaestiones hebraicae in libros Regum et Paralipomenon</i></strong>
<i>PL</i> 23. 
1329&ndash;66, 1365&ndash;1402; Lambert 412; Stegm&uuml;ller <i>Bibl.</i> 3414&ndash;15, 3417&ndash;18.

</li>

<li>
UO21.*5<sup>x</sup>: 
<strong>Rufinus of Aquileia [<i>c</i>345&ndash;411]
</strong>
<br>
<strong><i>Apologia contra Hieronymum</i></strong>
<i>CPL</i> 197; ed. M. Simonetti, <i>CCSL</i> 20
(1961) 37&ndash;123.

</li>

<li>
UO21.*7: 
<strong>Fran&ccedil;ois de Meyronnes OFM [&dagger; after 1328]
</strong>
<br>
<span class="biblio_block">
B. Roth, <i>Franz von Mayronis OFM. Sein Leben, seine Werke, seine Lehre 
vom Formalunterschied in Gott</i>, Franziskanische Forschungen 3 (1936);
H. Rossmann, <i>Die Hierarchie der Welt: Gestalt und System des Franz
von Meyronnes OFM mit besonderer Ber&uuml;cksichtigung seiner 
Sch&ouml;pfungslehre</i>, Franziskanische Forschungen 23 (1972).
</span>
<br>
<strong><i>Vtrum principatus regni Siciliae ex hoc sit nobilior quia subiectus
ecclesiae</i> (<i>quodl.</i> 11)</strong>
ed. P. Lapparent, `L'Oeuvre politique de Fran&ccedil;ois
de Meyronnes', <i>AHDLMA</i> 15&ndash;17 (1940&ndash;42) 5&ndash;151 (text, 94&ndash;116).

</li>

<li>
UO21.8: 
<strong><i>Historia Britonum</i>, commonly attributed to Nennius</strong>
ed. T. Mommsen,
MGH <i>Auct. Antiq.</i> 13 (1898), 143&ndash;219; Lapidge/Sharpe 127&ndash;34. [The attribution
to Gildas belongs to a distinct recension of the text. NB. The title <i>Historia
Britonum</i> in medieval catalogues is more likely to refer to Geoffrey of
Monmouth's <i>Historia regum Britanniae</i>.]

<br>
</li>

<li>
UO21.*9: 
<strong>Tertullian [&dagger; <i>c</i>220]
</strong>
<br>
<strong><i>Apologeticus aduersus gentes</i></strong>
<i>CPL</i> 3.

</li>

<li>
UO21.*9<sup>x</sup>: 
<strong>Lactantius Firmianus [fl. 305&ndash;323]
</strong>
<br>
<strong><i>De ira Dei</i></strong>
<i>CPL</i> 88.

</li>

<li>
UO21.*9<sup>x</sup>: 
<strong>Lactantius Firmianus [fl. 305&ndash;323]
</strong>
<br>
<strong><i>Diuinae institutiones</i></strong>
<i>CPL</i> 85.

</li>

<li>
UO21.*10: 
<strong>Berthold of Moosburg OP [&dagger; after 1361]
</strong>
<br>
<strong>Commentary on Proclus's <i>Elementatio theologica</i>, based on the Latin
translation by William of Moerbeke</strong>
ed. L. Sturlese &amp; others (Hamburg 
1984&ndash;2007); Kaeppeli 667.

</li>

<li>
UO21.*11a: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Somnium Scipionis</i> (<i>De re publica</i> VI 9&ndash;29)</strong>
ed. K. Ziegler, 
Teubner (1969), 126&ndash;36.

</li>

<li>
UO21.*11b: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Brutus</i></strong>
ed. E. Malcovati, Teubner (1965).

</li>

<li>
UO21.*11c: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>Orator</i></strong>
ed. R. Westman, Teubner (1980).

</li>

<li>
UO21.*11d: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
<strong><i>De partitione oratoria dialogus</i></strong>
ed. K. Bayer (Munich 1994).

</li>

<li>
UO21.*11e: 
<strong>M. Tullius Cicero [106&ndash;43 BC]
</strong>
<br>
[<i>pseud.</i>]
<strong><i>Synonyma ad Lucium Veturium</i></strong>
pr. Rome 1491 (<i>GW</i> 7034), &amp;c.

</li>

<li>
UO21.12: 
<strong>Appian [&dagger; <i>c.</i> 165]
</strong>
<br>
<strong><i>De bellis ciuilibus</i>, <i>Historia Romana</i> XIII&ndash;XVII, Latin tr. by
Piercandido Decembrio</strong>
&para;*pr. [Venice] 1472 (<i>GW</i>2293), &amp;c.; M. Zaggia in 
<i>Studi medievali</i> 3rd ser. 34 (1993) 193&ndash;243.

</li>

<li>
UO21.*13: 
<strong>Peter of Auvergne [&dagger;1304]
</strong>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De motibus animalium</i></strong>
pr. with Aristotle's
<i>Parua naturalia</i>, Padua 1493 (<i>GW</i> 2430), &amp;c.; ed. P. de Leemans in <i>AHDLMA</i> 
71 (2004) 129&ndash;202; Lohr, 3. 74.

</li>

<li>
UO21.*13<sup>x</sup>: 
<strong>Peter of Auvergne [&dagger;1304]
</strong>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De inspiratione et respiratione</i></strong>
pr. with 
Aristotle's <i>Parua naturalia</i>, Padua 1493 (<i>GW</i> 2430), &amp;c.; Lohr, 3. 73.

</li>

<li>
UO21.*13<sup>x</sup>: 
<strong>Peter of Auvergne [&dagger;1304]
</strong>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De morte et uita</i></strong>
pr. with Aristotle's
<i>Parua naturalia</i>, Padua 1493 (<i>GW</i> 2430), &amp;c.; Lohr, 3. 73.

</li>

<li>
UO21.*13<sup>x</sup>: 
<strong>Peter of Auvergne [&dagger;1304]
</strong>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De senectute et iuuentute</i></strong>
pr. with 
Aristotle's <i>Parua naturalia</i>, Padua 1493 (<i>GW</i> 2430), &amp;c.; Lohr, 3. 73.

</li>

<li>
UO21.*13<sup>x</sup>: 
<strong>Peter of Auvergne [&dagger;1304]
</strong>
<br>
<span class="biblio_block">
List of works by G. Galle in <i>BPM</i> 42 (2000) 53&ndash;79.
</span>
<br>
<strong>Commentary on Aristotle's <i>De somno et uigilia</i></strong>
unpr.; Glorieux
<i>R&eacute;p.</i> 210f; Lohr, 3. 72.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Back to list of medieval catalogues</a></p>{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
