{% extends "base.html" %}
{% block title %}
<title>MLGB3 Author/Title Index</title>
{% endblock %}
{% block treeview %}<script type="text/javascript">    $(function() {        $("#tree").treeview({            collapsed: true,            animated: "medium",            control:"#sidetreecontrol",            prerendered: false,            persist: "location"        });    })</script>{% endblock %}{% block maincontent %}
<h2>Author/Title Index: Z</h2>
<div class="letterlinks"><a href="{% if editable %}/e{% endif %}/authortitle/browse/A/">A</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/B/">B</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/C/">C</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/D/">D</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/E/">E</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/F/">F</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/G/">G</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/H/">H</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/">IJ</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/K/">K</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/L/">L</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/M/">M</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/N/">N</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/O/">O</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/P/">P</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/">Q</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/R/">R</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/S/">S</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/T/">T</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/U/">U</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/V/">V</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/W/">W</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/X/">X</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/">Z</a>
</div>

<div class="index">

<div id="sidetreecontrol">
<a href="?#">Collapse All</a> | <a href="?#">Expand All</a>
</div>
<ul class="treeview" id="tree">


<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">Zacharias of Besan&ccedil;on OPrem [&dagger;1156]
</span>

<br><span class="totals">
10 catalogue entries (1 book).</span>
<ul>
<li><i>De concordia euangelistarum</i>: <i>CPG</i> 1106,12; <i>PL</i> 186. 11&ndash;620; 
Stegm&uuml;ller <i>Bibl.</i> 8400.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >A16.?*14</span></td>
<td class="catalogue_name">AUGUSTINIAN CANONS: Lanthony: Catalogue, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >B49.2</span></td>
<td class="catalogue_name">BENEDICTINES: THE SHORTER CATALOGUES: Gloucester: Leland, c. 1536-40</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >B79.*241</span></td>
<td class="catalogue_name">BENEDICTINES: THE SHORTER CATALOGUES: Rochester: Catalogue, 1202</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >BA1.285</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >H2.*908</span></td>
<td class="catalogue_name">LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >H2.*1042</span></td>
<td class="catalogue_name">LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >K673.1</span></td>
<td class="catalogue_name">HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >R62 (2 copies, one of them = B49.2)</span></td>
<td class="catalogue_name">REGISTRUM ANGLIE: Union catalogue by author and title, early 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >UC29.77 = UC30.67</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: King's College: Inventory, c. 1457</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias of Besançon OPrem [†1156]
 — De concordia euangelistarum" class="index_catalogue_entry"  onclick="alert('Zacharias of Besançon OPrem [†1156]  — De concordia euangelistarum')" >UC30.67</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: King's College: Inventory for the Marian commissioners, 31 January 1557</td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item -->

<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">Zacharias Salernitanus [12th cent.]
</span>

<br><span class="totals">
1 catalogue entry (1 book).</span>
<ul>
<li><i>De passionibus oculorum</i>: ed. P. Pansier, <i>Collectio 
ophthalmologica ueterum auctorum</i> (Paris 1903&ndash;33), 2/5. 59&ndash;94; 
Lindberg 212; Thorndike/Kibre 116.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zacharias Salernitanus [12th cent.]
 — De passionibus oculorum" class="index_catalogue_entry"  onclick="alert('Zacharias Salernitanus [12th cent.]  — De passionibus oculorum')" >BA1.&dagger;1250a (`practica nobilis de passionibus oculorum')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item -->

<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">Zahel (Sahl ibn Bishr al-Isra'ili) [&dagger;822/50]
</span>

<br><span class="totals">
23 catalogue entries (6 books).</span>
<ul>
<li><i>De interrogationibus qui dicitur liber iudiciorum arabum</i>, tr. 
John of Seville: pr. with Ptolemy's works, Venice 1493 (Goff P1089), 
sig. Q5r&ndash;R8v; Carmody, 40&ndash;43; Thorndike/Kibre 312, 1411. 

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De interrogationibus qui dicitur liber iudiciorum arabum, tr. 
John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De interrogationibus qui dicitur liber iudiciorum arabum, tr.  John of Seville')" >A20.1161j (`liber Zael de iudiciis et interrogantibus')</span></td>
<td class="catalogue_name">AUGUSTINIAN CANONS: Leicester: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De interrogationibus qui dicitur liber iudiciorum arabum, tr. 
John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De interrogationibus qui dicitur liber iudiciorum arabum, tr.  John of Seville')" >BA1.1161p (`Interrogaciones Zaelis de 28. mansionibus lune')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De interrogationibus qui dicitur liber iudiciorum arabum, tr. 
John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De interrogationibus qui dicitur liber iudiciorum arabum, tr.  John of Seville')" >BA1.1165b (`liber interrogacionum uel questionum eiusdem')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De interrogationibus qui dicitur liber iudiciorum arabum, tr. 
John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De interrogationibus qui dicitur liber iudiciorum arabum, tr.  John of Seville')" >SS1.&para;124f (`Zahel de interrogacionibus eleccionibus et temporum
   significacionibus in iudiciis')</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De interrogationibus qui dicitur liber iudiciorum arabum, tr. 
John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De interrogationibus qui dicitur liber iudiciorum arabum, tr.  John of Seville')" >SS1.126c</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>De significatore temporis in interrogationibus</i>, tr. John of
Seville: pr. with Ptolemy's works, Venice 1493 (Goff P1089),
sig. S3v&ndash;S5v; Carmody, 40&ndash;43; Thorndike/Kibre 1411.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De significatore temporis in interrogationibus, tr. John of
Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De significatore temporis in interrogationibus, tr. John of Seville')" >SS1.126cde (`item liber sapientis de iudiciis siue de presciencia 
   futurorum. item electiones Zahel. idem de temporibus')</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — De significatore temporis in interrogationibus, tr. John of
Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — De significatore temporis in interrogationibus, tr. John of Seville')" >UO1.104 (`Zael de uita hominis')</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University: Gift of books by Humfrey Duke of Gloucester, 25 November 1439</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Fatidica</i>, tr. Hermann of Carinthia: pr. Prague 1592; Carmody, 
44&ndash;5; Thorndike/Kibre 1424. Hermann referred to it as `the sixth book
of Zahel'.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Fatidica, tr. Hermann of Carinthia" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Fatidica, tr. Hermann of Carinthia')" >BA1.&dagger;1161k (`Zael de reuolucionibus annorum')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Fatidica, tr. Hermann of Carinthia" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Fatidica, tr. Hermann of Carinthia')" >UC27.*13<sup>x</sup></span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Gonville and Caius College: Leland, c. 1535</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Fatidica, tr. Hermann of Carinthia" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Fatidica, tr. Hermann of Carinthia')" >UC43.*85<sup>x</sup> = UC47.*117<sup>x</sup></span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Pembroke College: List of benefactors, c. 1490</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Fatidica, tr. Hermann of Carinthia" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Fatidica, tr. Hermann of Carinthia')" >UC47.*117<sup>x</sup></span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Pembroke College: List of benefactors, compiled 1617</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus</i>, tr. John of Seville: pr. with Ptolemy's works, Venice 
1493 (Goff P1089), sig. P8v&ndash;Q4r; Carmody, 40&ndash;43; Thorndike/Kibre 
1411. [The Latin Zahel is usually in five books, not exactly corresponding 
to the Arabic original. The five are <i>Introductorius</i>, <i>Quinquaginta praecepta</i>
(sig. Q4r&ndash;Q5r), <i>De interrogationibus</i>, <i>De significatore temporis</i>, and 
<i>Liber electionum</i>. The fifth is a separate work in the Arabic.]

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >A20.1160ac (`liber Zael')</span></td>
<td class="catalogue_name">AUGUSTINIAN CANONS: Leicester: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >BA1.1161o (`Introductorius Zaelus')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >BA1.1162 (`liber iudiciorum Zachel')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >BA1.1165a (`introductorius Zaelis in iudiciis')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >SS1.&para;124f (`Zahel de interrogacionibus eleccionibus et temporum
   significacionibus in iudiciis')</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >SS1.126cde (`item liber sapientis de iudiciis siue de presciencia 
   futurorum. item electiones Zahel. idem de temporibus')</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Introductorius ad scienciam iudiciorum astrorum in 
interrogationibus, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Introductorius ad scienciam iudiciorum astrorum in  interrogationibus, tr. John of Seville')" >UO1.101 (`Zael de iudiciis astrorum')</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University: Gift of books by Humfrey Duke of Gloucester, 25 November 1439</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Liber electionum</i>, tr. John of Seville: pr. with Ptolemy's works, 
Venice 1493 (Goff P1089), sig. R8v&ndash;S3v; ed. C. M. Crofts, PhD diss. 
(Glasgow 1985); Carmody, 41&ndash;3; Diaz 980; Thorndike/Kibre 985.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Liber electionum, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Liber electionum, tr. John of Seville')" >BA1.1161e (`Zael de eleccionibus')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Liber electionum, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Liber electionum, tr. John of Seville')" >BA1.1163 (`electiones Zaelis')</span></td>
<td class="catalogue_name">BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Liber electionum, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Liber electionum, tr. John of Seville')" >SS1.&para;124f (`Zahel de interrogacionibus eleccionibus et temporum
   significacionibus in iudiciis')</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Liber electionum, tr. John of Seville" class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Liber electionum, tr. John of Seville')" >SS1.126cde (`item liber sapientis de iudiciis siue de presciencia 
   futurorum. item electiones Zahel. idem de temporibus')</span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Quinquaginta praecepta</i>, Latin tr.: pr. with Ptolemy's works,
Venice 1493 (Goff P1089), fols. 126r&ndash;127r; Carmody, 43&ndash;4; 
Thorndike/Kibre 595.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Zahel (Sahl ibn Bishr al-Isra'ili) [†822/50]
 — Quinquaginta praecepta, Latin tr." class="index_catalogue_entry"  onclick="alert('Zahel (Sahl ibn Bishr al-Isra\'ili) [†822/50]  — Quinquaginta praecepta, Latin tr.')" >SS1.&para;124<sup>x</sup></span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item -->

<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">Zenobius Acciaiolus (Zanobi Acciaiuoli) [1461&ndash;1519]
</span>

<br>
<span class="biblio_block">
<i>DBI</i> 1. 93&ndash;4.
</span>

<ul>
<li>(as translator) &rarr; Olympiodorus of Alexandria
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item -->

<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">&lt;&gt;`Zoroastes, king of Bactria'
</span>

<br><span class="totals">
1 catalogue entry (1 book).</span>
<ul>
<li>work reported from Higden's <i>Polychronicon</i>, II 9 (ed. Lumby, 2. 276),
who had the reference from Isidore.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="<>`Zoroastes, king of Bactria'
 — work reported from Higden's Polychronicon, II 9 (ed. Lumby, 2. 276),
who had the reference from Isidore.
" class="index_catalogue_entry"  onclick="alert('<>`Zoroastes, king of Bactria\'  — work reported from Higden\'s Polychronicon, II 9 (ed. Lumby, 2. 276), who had the reference from Isidore. ')" >K674</span></td>
<td class="catalogue_name">HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item --></ul><!-- end tree -->
</div><!-- end div class "index" -->
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
