{% extends "base.html" %}
{% block title %}
<title>MLGB3 Author/Title Index</title>
{% endblock %}
{% block treeview %}


 <script type="text/javascript">
 function expand_or_collapse( display_id, action, depth ) {
   var button_id = "concertina" + display_id;
   var the_button = document.getElementById( button_id );
   if( ! the_button ) {
     return;
   }
   var element_type = "div";
   if( depth == 2 ) {
     element_type = "tab";
   }
   var element_id="entry" + display_id + "_" + element_type;
   var the_element = document.getElementById( element_id );
   if( ! the_element ) {
     return;
   }
   if( action == "+" ) {
     the_element.style.display = "block";
     the_button.value = "-";
     the_button.innerHTML = "-";
   }
   else {
     the_element.style.display = "none";
     the_button.value = "+";
     the_button.innerHTML = "+";
   }
   if( depth == 1 ) {
     element_id = "biblio_" + element_id;
     the_element = document.getElementById( element_id );
     if( ! the_element ) {
       return;
     }
     if( action == "+" ) {
       the_element.style.display = "block";
     }
     else {
       the_element.style.display = "none";
     }
   }
 }
</script>





<script type="text/javascript">
  var idsOnPage = new Array( '1980', '1980_1', '1981', '1981_1' );
  var idDepths = new Array( 1, 2, 1, 2 );
  function expandAllEntries() {
    for (var i = 0; i < idsOnPage.length; i++ ) {
      expand_or_collapse( idsOnPage[i], "+", idDepths[i] );
    }
  }
  function collapseAllEntries() {
    for (var i = 0; i < idsOnPage.length; i++ ) {
      expand_or_collapse( idsOnPage[i], "-", idDepths[i] );
    }
  }
</script>


{% endblock %}
{% block maincontent %}
<div class="index">

<h2>Author/Title Index: K</h2>
{% if not printing %}<div class="letterlinks"><a href="{% if editable %}/e{% endif %}/authortitle/browse/A/"  >A</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/B/"  >B</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/C/"  >C</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/D/"  >D</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/E/"  >E</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/F/"  >F</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/G/"  >G</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/H/"  >H</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/"  >IJ</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/K/"  class="selected"  >K</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/L/"  >L</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/M/"  >M</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/N/"  >N</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/O/"  >O</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/P/"  >P</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/"  >Q</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/R/"  >R</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/S/"  >S</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/T/"  >T</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/U/"  >U</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/V/"  >V</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/W/"  >W</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/X/"  >X</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/"  >Z</a>
</div><!-- end div "letterlinks" -->{% endif %}

<div id="authortreecontrol">
{% if not printing %}<span class="like_a_link" onclick="collapseAllEntries()">Collapse All</span>  | <span class="like_a_link" onclick="expandAllEntries()">Expand All</span> {% endif %}
</div>
<ul class="authortreeview" id="authortree">


<!-- Start new entry "<i>Kalendar of Shepherdes</i>, tr. from <i>Le compost et Kalendrier des 
bergeres</i>", entry ID 1980 -->
<a name="entry1980_anchor"></a>
<li class="outerhead">
{% if not printing %}<button name="concertina1980" id="concertina1980"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '1980', this.value, 1 )">+</button>

{% endif %}<span class="index_entry outerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '1980', getElementById( 'concertina1980' ).value, 1 ){% endif %}"><i>Kalendar of Shepherdes</i>, tr. from <i>Le compost et Kalendrier des 
bergeres</i></span>
<div id="biblio_entry1980_div" class="author_biblio_block" style="display:{%if printing%}block{%else%}none{%endif%}">pr. by R. Pynson, London 1506 (<i>STC</i> 22408), &amp;c.

</div>
<div class="totals">
<span class="index_entry outer_subhead totals"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '1980', getElementById( 'concertina1980' ).value, 1 ){% endif %}">2 catalogue entries</span>
</div><!-- end "totals" div -->
<div id="entry1980_div" class="expand_entry"  style="display:{%if printing%}block{%else%}none{%endif%}">
<ul><!-- start list of books -->

<li><!-- start entry ID 1980, book 1 -->

<table id="entry1980_1_tab" style="display:block"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 1980, book 1, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Kalendar of Shepherdes, tr. from Le compost et Kalendrier des 
bergeres" class="index_catalogue_entry"  onclick="alert('Kalendar of Shepherdes, tr. from Le compost et Kalendrier des  bergeres')" >B55.&para;59</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/B55" title="Further details of catalogue B55"  class="link_to_catalogue" >BENEDICTINES: THE SHORTER CATALOGUES: Monk Bretton: Inventory of books, 1558</a></td>

</tr>
<!-- start entry 1980, book 1, copy 2 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Kalendar of Shepherdes, tr. from Le compost et Kalendrier des 
bergeres" class="index_catalogue_entry"  onclick="alert('Kalendar of Shepherdes, tr. from Le compost et Kalendrier des  bergeres')" >C7.&para;12</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/C7" title="Further details of catalogue C7"  class="link_to_catalogue" >CARTHUSIANS: London: Loans to Mountgrace, 1519/20</a></td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</div><!-- end outer expandable/collapsible section -->

</li><!-- end outerhead list item -->
<!-- end entry ID 1980 (<i>Kalendar of Shepherdes</i>, tr. from <i>Le compost et Kalendrier des 
bergeres</i>) -->

<!-- Start new entry "Khalid []", entry ID 1981 -->
<a name="entry1981_anchor"></a>
<li class="outerhead">
{% if not printing %}<button name="concertina1981" id="concertina1981"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '1981', this.value, 1 )">+</button>

{% endif %}<span class="index_entry outerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '1981', getElementById( 'concertina1981' ).value, 1 ){% endif %}">Khalid []</span>
<div id="biblio_entry1981_div" class="author_biblio_block" style="display:{%if printing%}block{%else%}none{%endif%}"></div>
<div class="totals">
<span class="index_entry outer_subhead totals"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '1981', getElementById( 'concertina1981' ).value, 1 ){% endif %}">1 catalogue entry (1 book)</span>
</div><!-- end "totals" div -->
<div id="entry1981_div" class="expand_entry"  style="display:{%if printing%}block{%else%}none{%endif%}">
<ul><!-- start list of books -->

<li><!-- start entry ID 1981, book 1 -->
{% if not printing %}<button name="concertina1981_1" id="concertina1981_1"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '1981_1', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '1981_1', getElementById( 'concertina1981_1' ).value, 2 ){% endif %}"><i>Quaestiones et responsiones</i>, Latin tr.: unpr.; Singer 67;
Thorndike/Kibre 882.</span>

<table id="entry1981_1_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 1981, book 1, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Khalid []
 — Quaestiones et responsiones, Latin tr." class="index_catalogue_entry"  onclick="alert('Khalid []  — Quaestiones et responsiones, Latin tr.')" >UC48.*391<sup>x</sup></span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC48" title="Further details of catalogue UC48"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</a></td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</div><!-- end outer expandable/collapsible section -->

</li><!-- end outerhead list item -->
<!-- end entry ID 1981 (Khalid []) --></ul><!-- end tree -->
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
