{% extends "base.html" %}
{% block title %}
<title>MLGB3 Author/Title Index</title>
{% endblock %}
{% block treeview %}


 <script type="text/javascript">
 function expand_or_collapse( display_id, action, depth ) {
   var button_id = "concertina" + display_id;
   var the_button = document.getElementById( button_id );
   if( ! the_button ) {
     return;
   }
   var element_type = "div";
   if( depth == 2 ) {
     element_type = "tab";
   }
   var element_id="entry" + display_id + "_" + element_type;
   var the_element = document.getElementById( element_id );
   if( ! the_element ) {
     return;
   }
   if( action == "+" ) {
     the_element.style.display = "block";
     the_button.value = "-";
     the_button.innerHTML = "-";
   }
   else {
     the_element.style.display = "none";
     the_button.value = "+";
     the_button.innerHTML = "+";
   }
   if( depth == 1 ) {
     element_id = "biblio_" + element_id;
     the_element = document.getElementById( element_id );
     if( ! the_element ) {
       return;
     }
     if( action == "+" ) {
       the_element.style.display = "block";
     }
     else {
       the_element.style.display = "none";
     }
   }
 }
</script>





<script type="text/javascript">
  var idsOnPage = new Array(  );
  var idDepths = new Array(  );
  function expandAllEntries() {
    for (var i = 0; i < idsOnPage.length; i++ ) {
      expand_or_collapse( idsOnPage[i], "+", idDepths[i] );
    }
  }
  function collapseAllEntries() {
    for (var i = 0; i < idsOnPage.length; i++ ) {
      expand_or_collapse( idsOnPage[i], "-", idDepths[i] );
    }
  }
</script>


{% endblock %}
{% block maincontent %}
<h2>Author/Title Index: </h2>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications (PDF)</a> by Professor Richard Sharpe.
</p>
<div class="letterlinks"><a href="{% if editable %}/e{% endif %}/authortitle/browse/A/"  >A</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/B/"  >B</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/C/"  >C</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/D/"  >D</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/E/"  >E</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/F/"  >F</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/G/"  >G</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/H/"  >H</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/"  >IJ</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/K/"  >K</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/L/"  >L</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/M/"  >M</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/N/"  >N</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/O/"  >O</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/P/"  >P</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/"  >Q</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/R/"  >R</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/S/"  >S</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/T/"  >T</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/U/"  >U</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/V/"  >V</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/W/"  >W</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/X/"  >X</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/"  >Z</a>
</div>

{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
