{% extends "base.html" %}
{% block title %}
<title>MLGB3 Author/Title Index</title>
{% endblock %}
{% block treeview %}<script type="text/javascript">    $(function() {        $("#tree").treeview({            collapsed: true,            animated: "medium",            control:"#sidetreecontrol",            prerendered: false,            persist: "location"        });    })</script>{% endblock %}{% block maincontent %}
<h2>Author/Title Index: X</h2>
<div class="letterlinks"><a href="{% if editable %}/e{% endif %}/authortitle/browse/A/">A</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/B/">B</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/C/">C</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/D/">D</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/E/">E</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/F/">F</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/G/">G</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/H/">H</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/">IJ</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/K/">K</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/L/">L</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/M/">M</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/N/">N</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/O/">O</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/P/">P</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/">Q</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/R/">R</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/S/">S</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/T/">T</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/U/">U</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/V/">V</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/W/">W</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/X/">X</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/">Z</a>
</div>

<div class="index">

<div id="sidetreecontrol">
<a href="?#">Collapse All</a> | <a href="?#">Expand All</a>
</div>
<ul class="treeview" id="tree">


<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">Xenocrates of Chalcedon [<i>c</i>396&ndash;<i>c</i>314 BC]
</span>

<br><span class="totals">
1 catalogue entry (1 book).</span>
<ul>
<li><i>De morte</i>, tr. Marsilio Ficino: pr. Venice 1497 (Goff J216), &amp;c.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenocrates of Chalcedon [c396--c314 {sc}BC{sc}]
 -- De morte, tr. Marsilio Ficino" class="index_catalogue_entry"  onclick="alert('Xenocrates of Chalcedon [c396--c314 {sc}BC{sc}]  -- De morte, tr. Marsilio Ficino')" >SS1.&para;134<sup>x</sup></span></td>
<td class="catalogue_name">BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item -->

<li class="expandable outerhead">
<div class="hitarea expandable-hitarea"></div>
<span class="outerhead index_entry" title="expand/collapse this section">Xenophon [428/7&ndash;354 BC]
</span>

<br><span class="totals">
16 catalogue entries (8 books).</span>
<ul>
<li><i>Opera</i>, in Greek: pr. Florence 1516, &amp;c.; ed. E. C. Marchant,
OCT (1900&ndash;1920).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Opera, in Greek')" >S21.&para;240 (3 vols, 8<sup>vo</sup>)</span></td>
<td class="catalogue_name">SCOTLAND: St Andrews, St Leonard's College: Books in the college library, 1597 or 1599</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Opera, in Greek')" >S21.&para;255 (`in fol.')</span></td>
<td class="catalogue_name">SCOTLAND: St Andrews, St Leonard's College: Books in the college library, 1597 or 1599</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Opera, in Greek')" >UC110.&para;25 (`opera Zenophonis philosophi grece')</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents: Books purchased from Henry Bullock, c. 1526; Queens' </td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Opera, in Greek')" >UO33.&para;*68a (Florence 1516)</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Corpus Christi College: Catalogue of the Library, 1589</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Xenophontis omissa</i>, ed. Georgius Gemistus Plethon: pr. Venice
1503 [<i>recte c.</i> 1525] (Adams P1530).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Xenophontis omissa, ed. Georgius Gemistus Plethon" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Xenophontis omissa, ed. Georgius Gemistus Plethon')" >UO33.&para;*68b (`cum Georgii Gemistii historia de iis quae gesta sunt
   post pugnam Mantineam et historia Herodiani et scholiis in
   Thucididem grece')</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Corpus Christi College: Catalogue of the Library, 1589</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Anabasis</i>, French tr. from the Latin of Jan Lascaris by Claude 
de Seyssel: &para;*pr. Paris 1529 (Moreau, 3. 1954); Chavy, 1466.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Anabasis, French tr. from the Latin of Jan Lascaris by Claude 
de Seyssel" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Anabasis, French tr. from the Latin of Jan Lascaris by Claude  de Seyssel')" >H2.&para;*189 (`expeditio Cyri minoris in lingua gallica')</span></td>
<td class="catalogue_name">LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Cyropaedia</i>, French tr. by Vasco de Lucena: part ed. D. 
Gallet-Guerne (Geneva 1974); Chavy, 1466.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Cyropaedia, French tr. by Vasco de Lucena" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Cyropaedia, French tr. by Vasco de Lucena')" >H1.*57 (`Cirus')</span></td>
<td class="catalogue_name">LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Cyropaedia, French tr. by Vasco de Lucena" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Cyropaedia, French tr. by Vasco de Lucena')" >H1.*62a</span></td>
<td class="catalogue_name">LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Cyropaedia</i>, French tr. by Jacques de Vintimille: pr. Paris 1547, &amp;c.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Cyropaedia, French tr. by Jacques de Vintimille" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Cyropaedia, French tr. by Jacques de Vintimille')" >S16.&para;10</span></td>
<td class="catalogue_name">SCOTLAND: Holyroodhouse, Queen Mary's library: Books received from Servais de Cond&eacute;, 25 Nov 1569</td>

</tr>
</table>
</li><!-- end of one book -->

<li>$sp$$`Ellhnik&aacute;$rm$$: pr. Venice 1503 &amp;c.; ed. E. C. Marchant, 
OCT (1900).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- $sp$$`Ellhnika<$rm$$" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- $sp$$`Ellhnika<$rm$$')" >UC7.&para;151b</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Inventory for the Marian commissioners, 1557</td>

</tr>
</table>
</li><!-- end of one book -->

<li><i>Hiero</i>, Latin tr. by Leonardo Bruni: pr. [Venice, ?1471] (Goff X6),
&amp;c.; preface, ed. H. Baron, <i>Leonardo Bruni</i> (Berlin 1928), 100&ndash;101; <i>CTC</i>
7. 148&ndash;55.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Hiero, Latin tr. by Leonardo Bruni')" >UO3.*97<sup>x</sup></span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University: Gift of books by Humfrey Duke of Gloucester, 25 February 1444</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Hiero, Latin tr. by Leonardo Bruni')" >UO3.*134<sup>x</sup></span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University: Gift of books by Humfrey Duke of Gloucester, 25 February 1444</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Hiero, Latin tr. by Leonardo Bruni')" >UO14.*118<sup>x</sup></span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College: Inventory of the library, c. 1500</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Hiero, Latin tr. by Leonardo Bruni')" >UO77.2 (`Tyrannus Xenophontis dialogus eodem interprete')</span></td>
<td class="catalogue_name">UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: New College: Leland, c. 1536</td>

</tr>
</table>
</li><!-- end of one book -->

<li>Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported: Hilary term, 33 Hen. 
VI, pr. [London, c. 1482&ndash;3] (<i>STC</i> 9731); Michaelmas term, 35 Hen. VI, 
pr. [London, c. 1482] (<i>STC</i> 9742); Michaelmas term, 36 Hen. VI, pr. [London, 
c. 1482&ndash;3] (<i>STC</i> 9749), &amp;c.; the first extant printing of year books of 
Edward IV dates from 1492&ndash;3 (<i>STC</i> 9770, 9825); the printing of year books 
from Edward III's reign onwards begins in the early 16th cent. (<i>STC</i> 
9551&ndash;9967).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Year Books, comprising notes made in the courts at Westminster of the arguments made by counsel and points of law pronounced by judges, circulated among students in the inns of court from at least the early 14th cent. The printing of year books had begun by the 1480s, though the earliest editions  to survive are not contemporary with the terms reported')" >SH41.&para;2 (`a pryntyd boke of yeres of E. IV') = SH42.&para;3</span></td>
<td class="catalogue_name">SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Lincoln's Inn: List of books in the treasury, 1 November 1512</td>

</tr>
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7--354 {sc}BC{sc}]
 -- Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7--354 {sc}BC{sc}]  -- Year Books, comprising notes made in the courts at Westminster of the arguments made by counsel and points of law pronounced by judges, circulated among students in the inns of court from at least the early 14th cent. The printing of year books had begun by the 1480s, though the earliest editions  to survive are not contemporary with the terms reported')" >SH42.&para;3 (1, 3&ndash;9 Edw. IV)</span></td>
<td class="catalogue_name">SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Lincoln's Inn: List of books in the treasury, 1 November 1514</td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</li><!-- end outerhead list item --></ul><!-- end tree -->
</div><!-- end div class "index" -->
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
