<!DOCTYPE html>
<html><head><title>List of identifications X</title></head><body>
<style type="text/css">
 table { margin-bottom: 20px; border-bottom-style: dotted; border-bottom-width: 1px; border-bottom-color: black }
 td { vertical-align: top; }
</style>
<a href="/authortitle/browse/A/">A</a>
 | <a href="/authortitle/browse/B/">B</a>
 | <a href="/authortitle/browse/C/">C</a>
 | <a href="/authortitle/browse/D/">D</a>
 | <a href="/authortitle/browse/E/">E</a>
 | <a href="/authortitle/browse/F/">F</a>
 | <a href="/authortitle/browse/G/">G</a>
 | <a href="/authortitle/browse/H/">H</a>
 | <a href="/authortitle/browse/IJ/">IJ</a>
 | <a href="/authortitle/browse/K/">K</a>
 | <a href="/authortitle/browse/L/">L</a>
 | <a href="/authortitle/browse/M/">M</a>
 | <a href="/authortitle/browse/N/">N</a>
 | <a href="/authortitle/browse/O/">O</a>
 | <a href="/authortitle/browse/P/">P</a>
 | <a href="/authortitle/browse/Q/">Q</a>
 | <a href="/authortitle/browse/R/">R</a>
 | <a href="/authortitle/browse/S/">S</a>
 | <a href="/authortitle/browse/T/">T</a>
 | <a href="/authortitle/browse/U/">U</a>
 | <a href="/authortitle/browse/V/">V</a>
 | <a href="/authortitle/browse/W/">W</a>
 | <a href="/authortitle/browse/X/">X</a>
 | <a href="/authortitle/browse/Z/">Z</a>
<h2>X</h2>

<p>
Xenocrates of Chalcedon [<i>c</i>396&ndash;<i>c</i>314 BC]

</p>

<ul>
<li><i>De morte</i>, tr. Marsilio Ficino: pr. Venice 1497 (Goff J216), &amp;c.
<p>  SS1.&para;134<sup>x</sup><br></p>
<table>

<tr>
<td><small>SS1.&para;134<sup>x</sup></small></td>
<td><small></small></td>
<td><small>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</small></td>

</tr>
</table>
</li>
</ul>

<p>
Xenophon [428/7&ndash;354 BC]

</p>

<ul>
<li><i>Opera</i>, in Greek: pr. Florence 1516, &amp;c.; ed. E. C. Marchant,
OCT (1900&ndash;1920).
<p>  S21.&para;240 (3 vols, 8<sup>vo</sup>), S21.&para;255 (`in fol.')<br>  UC110.&para;25 (`opera Zenophonis philosophi grece')<br>  UO33.&para;*68a (Florence 1516)<br></p>
<table>

<tr>
<td><small>S21.&para;240</small></td>
<td><small>(3 vols, 8<sup>vo</sup>)</small></td>
<td><small>SCOTLAND: St Andrews, St Leonard's College: Books in the college library, 1597 or 1599</small></td>

</tr>
<tr>
<td><small>S21.&para;255</small></td>
<td><small>(`in fol.')</small></td>
<td><small>SCOTLAND: St Andrews, St Leonard's College: Books in the college library, 1597 or 1599</small></td>

</tr>
<tr>
<td><small>UC110.&para;25</small></td>
<td><small>(`opera Zenophonis philosophi grece')</small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents: Books purchased from Henry Bullock, c. 1526; Queens' </small></td>

</tr>
<tr>
<td><small>UO33.&para;*68a</small></td>
<td><small>(Florence 1516)</small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</small></td>

</tr>
</table>
</li><li><i>Xenophontis omissa</i>, ed. Georgius Gemistus Plethon: pr. Venice
1503 [<i>recte c.</i> 1525] (Adams P1530).
<p>  UO33.&para;*68b (`cum Georgii Gemistii historia de iis quae gesta sunt<br>   post pugnam Mantineam et historia Herodiani et scholiis in<br>   Thucididem grece')<br></p>
<table>

<tr>
<td><small>UO33.&para;*68b</small></td>
<td><small>(`cum Georgii Gemistii historia de iis quae gesta sunt
   post pugnam Mantineam et historia Herodiani et scholiis in
   Thucididem grece')</small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</small></td>

</tr>
</table>
</li><li><i>Anabasis</i>, French tr. from the Latin of Jan Lascaris by Claude 
de Seyssel: &para;*pr. Paris 1529 (Moreau, 3. 1954); Chavy, 1466.
<p>  H2.&para;*189 (`expeditio Cyri minoris in lingua gallica') <br></p>
<table>

<tr>
<td><small>H2.&para;*189</small></td>
<td><small>(`expeditio Cyri minoris in lingua gallica')</small></td>
<td><small>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</small></td>

</tr>
</table>
</li><li><i>Cyropaedia</i>, French tr. by Vasco de Lucena: part ed. D. 
Gallet-Guerne (Geneva 1974); Chavy, 1466.
<p>  H1.*57 (`Cirus'), H1.*62a<br></p>
<table>

<tr>
<td><small>H1.*57</small></td>
<td><small>(`Cirus')</small></td>
<td><small>LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</small></td>

</tr>
<tr>
<td><small>H1.*62a</small></td>
<td><small></small></td>
<td><small>LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</small></td>

</tr>
</table>
</li><li><i>Cyropaedia</i>, French tr. by Jacques de Vintimille: pr. Paris 1547, &amp;c.
<p>  S16.&para;10<br></p>
<table>

<tr>
<td><small>S16.&para;10</small></td>
<td><small></small></td>
<td><small>SCOTLAND: Holyroodhouse, Queen Mary's library: Books received from Servais de Cond&eacute;, 25 Nov 1569</small></td>

</tr>
</table>
</li><li>$sp$$`Ellhnik&aacute;$rm$$: pr. Venice 1503 &amp;c.; ed. E. C. Marchant, 
OCT (1900).
<p>  UC7.&para;151b<br></p>
<table>

<tr>
<td><small>UC7.&para;151b</small></td>
<td><small></small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Inventory for the Marian commissioners, 1557</small></td>

</tr>
</table>
</li><li><i>Hiero</i>, Latin tr. by Leonardo Bruni: pr. [Venice, ?1471] (Goff X6),
&amp;c.; preface, ed. H. Baron, <i>Leonardo Bruni</i> (Berlin 1928), 100&ndash;101; <i>CTC</i>
7. 148&ndash;55.
<p>  UO3.*97<sup>x</sup>, UO3.*134<sup>x</sup><br>  UO14.*118<sup>x</sup><br>  UO77.2 (`Tyrannus Xenophontis dialogus eodem interprete')<br><br></p>
<table>

<tr>
<td><small>UO3.*97<sup>x</sup></small></td>
<td><small></small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</small></td>

</tr>
<tr>
<td><small>UO3.*134<sup>x</sup></small></td>
<td><small></small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</small></td>

</tr>
<tr>
<td><small>UO14.*118<sup>x</sup></small></td>
<td><small></small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</small></td>

</tr>
<tr>
<td><small>UO77.2</small></td>
<td><small>(`Tyrannus Xenophontis dialogus eodem interprete')</small></td>
<td><small>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</small></td>

</tr>
</table>
</li><li>Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported: Hilary term, 33 Hen. 
VI, pr. [London, c. 1482&ndash;3] (<i>STC</i> 9731); Michaelmas term, 35 Hen. VI, 
pr. [London, c. 1482] (<i>STC</i> 9742); Michaelmas term, 36 Hen. VI, pr. [London, 
c. 1482&ndash;3] (<i>STC</i> 9749), &amp;c.; the first extant printing of year books of 
Edward IV dates from 1492&ndash;3 (<i>STC</i> 9770, 9825); the printing of year books 
from Edward III's reign onwards begins in the early 16th cent. (<i>STC</i> 
9551&ndash;9967).
<p>  SH41.&para;2 (`a pryntyd boke of yeres of E. IV') = SH42.&para;3 (1, 3&ndash;9 Edw. IV)<br><br><br></p>
<table>

<tr>
<td><small>SH41.&para;2</small></td>
<td><small>(`a pryntyd boke of yeres of E. IV') = SH42.&para;3</small></td>
<td><small>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Lincoln's Inn: List of books in the treasury, 1 November 1512</small></td>

</tr>
<tr>
<td><small>SH42.&para;3</small></td>
<td><small>(1, 3&ndash;9 Edw. IV)</small></td>
<td><small>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Lincoln's Inn: List of books in the treasury, 1 November 1514</small></td>

</tr>
</table>
</li>
</ul>
</body></html>
