{% extends "mlgb/mlgb.html" %}
{% block title %}
<title>MLGB3 Author/Title Index</title>
{% endblock %}
{% block maincontent %}
<h2>Author/Title Index: Q</h2>
<div class="letterlinks"><a href="/authortitle/browse/A/">A</a>
<span class="spacer"> </span><a href="/authortitle/browse/B/">B</a>
<span class="spacer"> </span><a href="/authortitle/browse/C/">C</a>
<span class="spacer"> </span><a href="/authortitle/browse/D/">D</a>
<span class="spacer"> </span><a href="/authortitle/browse/E/">E</a>
<span class="spacer"> </span><a href="/authortitle/browse/F/">F</a>
<span class="spacer"> </span><a href="/authortitle/browse/G/">G</a>
<span class="spacer"> </span><a href="/authortitle/browse/H/">H</a>
<span class="spacer"> </span><a href="/authortitle/browse/IJ/">IJ</a>
<span class="spacer"> </span><a href="/authortitle/browse/K/">K</a>
<span class="spacer"> </span><a href="/authortitle/browse/L/">L</a>
<span class="spacer"> </span><a href="/authortitle/browse/M/">M</a>
<span class="spacer"> </span><a href="/authortitle/browse/N/">N</a>
<span class="spacer"> </span><a href="/authortitle/browse/O/">O</a>
<span class="spacer"> </span><a href="/authortitle/browse/P/">P</a>
<span class="spacer"> </span><a href="/authortitle/browse/Q/">Q</a>
<span class="spacer"> </span><a href="/authortitle/browse/R/">R</a>
<span class="spacer"> </span><a href="/authortitle/browse/S/">S</a>
<span class="spacer"> </span><a href="/authortitle/browse/T/">T</a>
<span class="spacer"> </span><a href="/authortitle/browse/U/">U</a>
<span class="spacer"> </span><a href="/authortitle/browse/V/">V</a>
<span class="spacer"> </span><a href="/authortitle/browse/W/">W</a>
<span class="spacer"> </span><a href="/authortitle/browse/X/">X</a>
<span class="spacer"> </span><a href="/authortitle/browse/Z/">Z</a>
</div>
<br>
<h3 class="index_entry">&lt;&gt;Quadratus [], bishop of Athens
</h3>
<br>

<ul>
<li>work reported from Jerome, % 19.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>K489 </td>
<td>HENRY DE KIRKESTEDE</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quadrilogus</i></h3>: see note.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>Z14.84a </td>
<td>CISTERCIANS: Meaux: Inventory of books, 1396</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quadripartitus</i></h3>: ed. F. Liebermann, <i>Die Gesetze der Angelsachsen</i> (Halle
1898&ndash;1916), 1. 279&ndash;371 (1&ndash;2 Cn; other texts in chronological order); C. P.
Wormald &amp; R. Sharpe in <i>Law and Government in Medieval England and Normandy</i>,
edited by G. S. Garnett &amp; J. G. H. Hudson (Cambridge 1994), 111&ndash;72.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>BA1.*895b (`leges regum Angl.')</td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BM1.9b (`leges regum Anglie', inc.)</td>
<td>BENEDICTINES: Dover-St Martin's: John Whitfield's catalogue, 1389</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*1005<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>SH46.*2a (`de ueteribus legibus Anglie')</td>
<td>SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Guildhall: Bequest by Andrew Horn, 9 October 1328</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quaedam narratio de nobili rege Arthuro</i></h3>: unpr.; J. P. Carley in <i>Nottingham French Studies</i> 30 (1992) 3&ndash;6.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B45.53 </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Glastonbury: Bale, c. 1550</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quaestiones Londinenses</i>, a name given to the collection of 58 canonistic
questions of English origin, naming various English canonists, composed c. 
1196&ndash;8</h3>: unpr.; S. Kuttner &amp; E. Rathbone in <i>Traditio</i> 7 (1949&ndash;51) 279&ndash;358.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>BA1.*1692<sup>x</sup> = H2.*858<sup>x</sup></td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*858<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry">Quarellus [?]
</h3>
<br>

<ul>
<li><i>Sermones</i>: unidentified.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>BA1.458c (`quedam excerpta de sermonibus quarelli'</td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BA1.674 (`sermones quarelli')</td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Les Quatres filles de Dieu</i></h3>: ed. A. B. Hunt in <i>AHDLMA</i> 48 (1991) 286&ndash;316;
Dean 685.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>BA1.*1516d (`historia de iiij sororibus')</td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Queste del Saint Graal</i></h3>: ed. A. Pauphilet (Paris 1923). [The text often
accompanies <i>La mort le roi Artu</i>.]

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B30.69b (`sankreal')</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Evesham: Books bequeathed by Prior Nicholas (d. 1392) and others</td>

</tr>
<tr class="catalogue_entry">
<td>H1.&para;36 </td>
<td>LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</td>

</tr>
<tr class="catalogue_entry">
<td>H1.*93<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quid pro quo</i></h3>: unpr; Thorndike/Kibre 295, 1274.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A36.13d </td>
<td>AUGUSTINIAN CANONS: Thurgarten: Inventory, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BA1.1232b </td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BM1.347c </td>
<td>BENEDICTINES: Dover-St Martin's: John Whitfield's catalogue, 1389</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quinque claues sapientiae</i></h3>: ed. A. Vidmanov&aacute;-Schmidtov&aacute;, Teubner (1969);
<i>WIC</i> 19926.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>BP21.&dagger;154c (`uersus de clauibus philosophie')</td>
<td>BENEDICTINES: Peterborough: Catalogue, late 14th cent.</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quinque plagae</i>, `Quinque plagas diuina ultio Britanniam affecit ab
exordio quo cepit inhabitari', from Henry of Huntingdon, I 4, five `blows'
from the Roman invasion to the Norman Conquest.
</h3>
<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>S2.117 (`una rotula de cronicis ex utroque latere script(a) et incipit
   in primo latere Quinque plagas')</td>
<td>SCOTLAND: Aberdeen cathedral: Catalogue, 12 March 1465</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry">M. Fabius Quintilianus [&dagger; <i>c</i>100]
</h3>
<br>

<ul>
<li><i>De officio discipulorum</i>, an excerpt (II 9) from the
<i>Institutio oratoria</i>, with commentary by Iodocus Badius Ascensiuspr. with <i>ps.</i> Boethius, <i>De disciplina scholarium</i>, Lyon 1498 (<i>GW</i> 
4569), &amp;c.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>UC22.&para;170 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Corpus Christi College: Books granted by Peter Nobys, after July 1525</td>

</tr>
</table>
</li><li><i>Institutio oratoria</i>: pr. Rome 1470 (Goff Q24), &amp;c.; ed. M. 
Winterbottom, OCT (1970).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B13.162a = B13.261</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td>B13.261 = R85.2</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td>R85.2 = K490.1</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>K490.1 </td>
<td>HENRY DE KIRKESTEDE</td>

</tr>
<tr class="catalogue_entry">
<td>BM1.126p (exc.)</td>
<td>BENEDICTINES: Dover-St Martin's: John Whitfield's catalogue, 1389</td>

</tr>
<tr class="catalogue_entry">
<td>H2.833 </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>S4.&para;7 </td>
<td>SCOTLAND: Aberdeen, King's College: Lists of borrowed books, c. 1557</td>

</tr>
<tr class="catalogue_entry">
<td>SC243.&para;*14 </td>
<td>SECULAR INSTITUTIONS: Secular Colleges: Eton College: List of books returned to the bursars, 8 December 1558</td>

</tr>
<tr class="catalogue_entry">
<td>UC7.&para;*155 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Inventory for the Marian commissioners, 1557</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/1006/" title="View full details of book" class="link_from_index_to_book">UC48.*163a</a> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
<tr class="catalogue_entry">
<td>UO1.119 (`Quinctillianus de institucione oratoris')</td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO13.&para;292 (`Quintilianus')</td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO16.&para;*355 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO19.&para;144 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO22.*36 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO24.&para;*29a = UO33.&para;*105a</td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO33.&para;*105a </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO27.&para;65 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO33.&para;*104 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
</table>
</li></ul><p>[<i>pseud.</i>]</p><ul><li><i>Declamationes XIX maiores</i>: ed. L. H$aring$$kanson, Teubner (1982).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A38.43a (`de causis')</td>
<td>AUGUSTINIAN CANONS: Waltham: Catalogue, early 13th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>A38.&dagger;43b (`Summa magistri Adelardi de eodem', 
   epitome)</td>
<td>AUGUSTINIAN CANONS: Waltham: Catalogue, early 13th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>B13.90 = R85.1</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td>R85.1 (`de causis') = K490.2</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>K490.2 </td>
<td>HENRY DE KIRKESTEDE</td>

</tr>
<tr class="catalogue_entry">
<td>B19.&dagger;3 (`solutiones')</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Castle Acre: Leland, c. 1536-40</td>

</tr>
<tr class="catalogue_entry">
<td>B37.28 (`de causis')</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Glastonbury: Books copied for Abbot Henry of Blois (1126-71)</td>

</tr>
<tr class="catalogue_entry">
<td>BA1.1015q (`quintilianus', exc.)</td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BA1.1498a </td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>UC29.153 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: King's College: Inventory, c. 1457</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/1005/" title="View full details of book" class="link_from_index_to_book">UC48.*160a</a> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
<tr class="catalogue_entry">
<td>UO22.*37 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO24.&para;*29b = UO33.&para;*105b</td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO33.&para;*105b </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO33.&para;*132b </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO38.40 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
</table>
</li><li><i>Declamationes</i>, in the abbreviated form known as <i>Excerpta Parisina</i>ed. G. Lehnert, Teubner (1905), 389&ndash;431.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A38.?*43a (`de causis')</td>
<td>AUGUSTINIAN CANONS: Waltham: Catalogue, early 13th cent.</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry">Quintus Serenus </h3>&rarr; Serenus

<br>

<br>
<h3 class="index_entry">Quiricus de Augustis [15th cent.]
</h3>
<br>

<ul>
<li><i>Lumen apothecariorum</i>: pr. Turin 1492 (<i>GW</i> 3063), &amp;c.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B55.&para;134 </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Monk Bretton: Inventory of books, 1558</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.&para;129c </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry">Quirinus [?]
</h3>
<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A20.860d = 945, 946</td>
<td>AUGUSTINIAN CANONS: Leicester: Catalogue, 15th cent.</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry">Quodvultdeus [&dagger;453], bishop of Carthage
</h3>
<br>

<ul>
<li>(<i>ps.</i> Augustine), <i>Sermo aduersus quinque haereses</i> (<i>serm.</i> 10)<i>CPL</i> 410; ed. R. Braun, <i>CCSL</i> 60 (1976) 261&ndash;301. [This and the other
sermons of Quodvultdeus are always ascribed to Augustine in manuscripts.]

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A20.224w </td>
<td>AUGUSTINIAN CANONS: Leicester: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>B11.6c </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Burton: Catalogue, c. 1175</td>

</tr>
<tr class="catalogue_entry">
<td>B13.22d </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td>B39.264h </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Glastonbury: Catalogue, 1247, with additions</td>

</tr>
<tr class="catalogue_entry">
<td>B68.348 </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Ramsey: Catalogue roll, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>B71.*43d </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Reading: Catalogue, 1192</td>

</tr>
<tr class="catalogue_entry">
<td>B77.*8a = B78.*6</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Rochester: Catalogue, 1123</td>

</tr>
<tr class="catalogue_entry">
<td>B78.*6 = B79.*15</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Rochester: Fragments of catalogue, early 12th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>B79.*15 = H2.*594a</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Rochester: Catalogue, 1202</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*594a </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>B120.&dagger;10 (`contra hereticos')</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: York St Mary's: Index catalogue of selected authors, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BA1.*457tt </td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BC4.32a </td>
<td>BENEDICTINES: Canterbury-Christ Church: Prior Eastry's catalogue, not after 1331.</td>

</tr>
<tr class="catalogue_entry">
<td>BC4.210c </td>
<td>BENEDICTINES: Canterbury-Christ Church: Prior Eastry's catalogue, not after 1331.</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/174/" title="View full details of book" class="link_from_index_to_book">BP21.*25e</a> </td>
<td>BENEDICTINES: Peterborough: Catalogue, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*798<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*1152<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>K1.199 </td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>P6.54i </td>
<td>PREMONSTRATENSIANS: Titchfield: Catalogue, Michaelmas 1400</td>

</tr>
<tr class="catalogue_entry">
<td>R1.99 (9 copies)</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.858g </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.860o </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.866c </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.869s </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.&para;991e </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>UC19.9k </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Corpus Christi College: Thomas Markaunt's bequest, 1439</td>

</tr>
<tr class="catalogue_entry">
<td>UC39.57 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: King's Hall: Books granted by Henry VI, 2 July 1440</td>

</tr>
<tr class="catalogue_entry">
<td>UC48.*441e </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
<tr class="catalogue_entry">
<td>UO68.*164<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>UO68.296 </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
<tr class="catalogue_entry">
<td>Z19.25d </td>
<td>CISTERCIANS: Rievaulx: First catalogue, c.  1190-1200</td>

</tr>
</table>
</li><li><i>Sermo contra iudaeos, paganos, et arianos</i> (<i>serm.</i> 4): <i>CPL</i> 404; 
<i>CPPM</i> 1. 1205; ed. R. Braun, <i>CCSL</i> 60 (1976) 227&ndash;58. Part of the text (%% 11&ndash;17),
inc. `Vos inquam', circulated independently, for example, in the homiliary of
Paul the Deacon with the title `de aduentu domini' (<i>PL</i> 95. 1470&ndash;75).

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A20.225g (`de simbolo libri uel sermones quatuor', <i>serm.</i> 1&ndash;4)</td>
<td>AUGUSTINIAN CANONS: Leicester: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>B77.*3b = H2.*849</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Rochester: Catalogue, 1123</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*849 </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>B120.108 (`sermo de natiuitate Christi ``Vos inquam'' et est contra iudeos')</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: York St Mary's: Index catalogue of selected authors, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BA1.346e (`expositio simboli', among Augustine)</td>
<td>BENEDICTINES: Canterbury-St Augustine's: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>BC4.38h&ndash;i (`sermo A. de natiuitate domini. sermo eiusdem contra paganos')</td>
<td>BENEDICTINES: Canterbury-Christ Church: Prior Eastry's catalogue, not after 1331.</td>

</tr>
<tr class="catalogue_entry">
<td>BC4.44e </td>
<td>BENEDICTINES: Canterbury-Christ Church: Prior Eastry's catalogue, not after 1331.</td>

</tr>
<tr class="catalogue_entry">
<td>BC4.45d&ndash;e </td>
<td>BENEDICTINES: Canterbury-Christ Church: Prior Eastry's catalogue, not after 1331.</td>

</tr>
<tr class="catalogue_entry">
<td>FA8.109e (`sermo A. de natiuitate domini ``Vos inquam''$>')</td>
<td>FRIARS: York Austin Friars: Catalogue, 1382, with additions</td>

</tr>
<tr class="catalogue_entry">
<td>K1.33 (`de aduentu domini secundo', attrib. Augustine, Vos inquam)</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>K1.444 (`de symbolo contra iudaeos', inc.)</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>K1.447 (`expositio symboli contra iudaeos, paganos, arrianos')</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>P6.28b (`expositio simboli A. contra iudeos paganos et arrianos hereticos')</td>
<td>PREMONSTRATENSIANS: Titchfield: Catalogue, Michaelmas 1400</td>

</tr>
<tr class="catalogue_entry">
<td>R1.240 (`de simbolo contra iudeos', 10 copies)</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>UC48.*103<sup>x</sup> (Vos inquam)</td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
</table>
</li><li><i>Sermo de accedentibus ad gratiam</i> (<i>serm.</i> 8&ndash;9): <i>CPL</i> 408&ndash;9; ed. R. Braun, <i>CCSL</i> 60 (1976) 441&ndash;70.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B13.&dagger;43d (`Augustinus de elemosina', among Quodvultdeus sermons)</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
</table>
</li><li><i>Sermo de cantico nouo</i> (<i>serm.</i> 5): <i>CPL</i> 405; ed. R. Braun, <i>CCSL</i> 60 (1976) 381&ndash;92.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B13.43c </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/176/" title="View full details of book" class="link_from_index_to_book">BP21.*16a</a> </td>
<td>BENEDICTINES: Peterborough: Catalogue, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>FA8.112d </td>
<td>FRIARS: York Austin Friars: Catalogue, 1382, with additions</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*803<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>K1.49 </td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>R1.175 (8 copies)</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.338c </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.864i </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.*918kk </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.921c </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.1199<sup>i</sup> </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>UC3.*100<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Register, 1473</td>

</tr>
<tr class="catalogue_entry">
<td>UC48.*101<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
</table>
</li><li><i>Sermo de cataclysmo</i> (<i>serm.</i> 7): <i>CPL</i> 407; ed. R. Braun, <i>CCSL</i> 60 (1976) 409&ndash;20.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B13.43f </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/176/" title="View full details of book" class="link_from_index_to_book">BP21.*16c</a> </td>
<td>BENEDICTINES: Peterborough: Catalogue, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>FA8.112c </td>
<td>FRIARS: York Austin Friars: Catalogue, 1382, with additions</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*803<sup>x</sup> </td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>K1.50 (`de catechumenis', inc.)</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>K1.90 </td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>R1.172 (9 copies)</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.338e </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.864k </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>UC3.*100<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Register, 1473</td>

</tr>
<tr class="catalogue_entry">
<td>UC3.*146<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Register, 1473</td>

</tr>
<tr class="catalogue_entry">
<td>UC48.*101<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
</table>
</li><li><i>Sermo de quarta feria</i> (<i>serm.</i> 6): <i>CPL</i> 406; ed. R. Braun, <i>CCSL</i> 60 (1976) 395&ndash;406.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B13.43e </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td>B39.56a (`de quadrifario beati Augustini')</td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Glastonbury: Catalogue, 1247, with additions</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/176/" title="View full details of book" class="link_from_index_to_book">BP21.*16b</a> </td>
<td>BENEDICTINES: Peterborough: Catalogue, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>K1.166 </td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>R1.258 (8 copies)</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.338d </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.864j </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.1199<sup>i</sup> </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>UC3.*146<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Register, 1473</td>

</tr>
<tr class="catalogue_entry">
<td>UC48.*101<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
</table>
</li><li><i>Sermones de symbolo</i> (<i>serm.</i> 1&ndash;3): <i>CPL</i> 401&ndash;3; ed. R. Braun, 
<i>CCSL</i> 60 (1976) 305&ndash;63. [Often with Augustine, <i>De symbolo ad
catechumenos</i> (<i>CPL</i> 309) as `de simbolo libri quatuor'.]

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>A20.225g (`de simbolo libri uel sermones quatuor')</td>
<td>AUGUSTINIAN CANONS: Leicester: Catalogue, 15th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>B13.43b </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*798<sup>x</sup> (w. CPL 309)</td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>H2.*803<sup>x</sup> (w. CPL 309)</td>
<td>LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</td>

</tr>
<tr class="catalogue_entry">
<td>K1.443 (`de symbolo ad catechumenos libri 4')</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>SS2.276 (`A. de symbolo libri 4')</td>
<td>BRIGITTINES: Syon: Class-marks reconstructed from Betson's Index and from erasure</td>

</tr>
</table>
</li><li><i>Sermo de tempore barbarico</i> (<i>serm.</i> 11): <i>CPL</i> 411; ed. R. Braun, <i>CCSL</i> 60 (1976) 423&ndash;37.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>B13.43g </td>
<td>BENEDICTINES: THE SHORTER CATALOGUES: Bury: Catalogue, late 12th cent., and additions</td>

</tr>
<tr class="catalogue_entry">
<td><a href="/mlgb/book/176/" title="View full details of book" class="link_from_index_to_book">BP21.*16d</a> </td>
<td>BENEDICTINES: Peterborough: Catalogue, late 14th cent.</td>

</tr>
<tr class="catalogue_entry">
<td>K1.41 (attrib. Augustine) = K1.457</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>K1.457 (`supra in B')</td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
<tr class="catalogue_entry">
<td>R1.173 (`de cursu barbarorum in Africa uel de tempore barbarico', 
   8 copies)</td>
<td>REGISTRUM ANGLIE</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.338f </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.864l </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>SS1.1199<sup>i</sup> </td>
<td>BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</td>

</tr>
<tr class="catalogue_entry">
<td>UC3.*146<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Register, 1473</td>

</tr>
<tr class="catalogue_entry">
<td>UC48.*101<sup>x</sup> </td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Peterhouse: Catalogue, 24 Dec. 1418</td>

</tr>
</table>
</li></ul><p>[<i>pseud.</i>]</p><ul><li><i>Sermo de cantico Isaiae</i>: <i>CPL</i> 417a; ed. M. Bogaert in <i>RB</i> 75 
(1965) 109&ndash;35.

<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>K1.511 </td>
<td>HENRY DE KIRKESTEDE: Catalogus, c. 1360</td>

</tr>
</table>
</li>
</ul>

<br>
<h3 class="index_entry"><i>Quoniam fideles</i> (25 August 1395), an encyclical letter from the chancellor 
and masters of the University of Paris concerning the Schism</h3>: ???.

<br>

<ul>
<li>
<table class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue where found</td></tr>

<tr class="catalogue_entry">
<td>UO72.6a (`diuersa scripta doctoris Parisius et uniuersitatis Oxon' de
   sismate')</td>
<td>UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD</td>

</tr>
</table>
</li>
</ul>
{% endblock %}
{% block search %}
{% endblock %}
