
  <div id="search" class="boxed">
    <h2 class="heading">
    {% if empty_form %}Advanced Search{% else %}Search Again{% endif %}
    </h2>
    <div class="pretty-print">

    {# ================== start search form ================== #}
    <form action="{% if editable %}/e{% endif %}/mlgb/advancedsearch" method="get">

      <div>
      <input type="submit" value="Go" name="go_button_top"/>
      <input type="button" value="Clear" onclick="clearSearchFields()" name="clear_button_top" />

      {% for fieldname, label, value in form_fields %}
        <p>
        {% if fieldname != 'printed_book' and fieldname != 'evidence_code' %}
          <label for="{{fieldname}}">{{label}}</label><br />
          <input type="text" name="{{fieldname}}" id="{{fieldname}}" value="{{value}}" />
        {% endif %}

        {% if fieldname == 'printed_book' %}
          {{label}}:<br />
          {% for radio_id, radio_val, radio_label in printed_book_radio_options %} 
            <input type="radio" name="printed_book" id="{{radio_id}}" value="{{radio_val}}" 
            {% if radio_val == value %}CHECKED{% endif %}
            />
            <label for="{{radio_id}}">{{radio_label}}</label>
            <br/>
          {% endfor %}
        {% endif %}

        {% if fieldname == 'evidence_code' %}
          <select name="evidence_code" id="evidence_code">
          {% for evcode, evdesc in evidence_dropdown_options %}
            <option value="{{evcode}}"
            {% if evcode == value %}SELECTED{% endif %}
            >{{evdesc}}</option>
          {% endfor %}
          </select>
        {% endif %}
        </p>
      {% endfor %}


      {% include 'includes/page_size_field.html' %}

      <br />

      {{order_options|safe}}
      <br> <br>

      {{output_styles|safe}}
      <br> <br>

      <script type="text/javascript">
      function clearSearchFields() {
        var radio_field = document.getElementById( "printed_book_any" );
        radio_field.checked = true;
        var dropdown = document.getElementById( "evidence_code" )
        dropdown.selectedIndex = 0;
        var search_term = "";
        {% for fieldname, label, value in form_fields %}
          {% if fieldname != 'printed_book' and fieldname != 'evidence_code' %}
          search_term = document.getElementById( "{{fieldname}}" );
          search_term.value = "";
          {% endif %}
        {% endfor %}

        {% include 'includes/reset_page_size.html' %}
      }
      </script>

      <input type="submit" value="Go" name="go_button_bottom" />
      <input type="button" value="Clear" onclick="clearSearchFields()" name="clear_button_bottom" />
      </div>
    </form>
    {# ================== end search form ================== #}

    </div> <!-- end div class "pretty-print" -->
  </div>   <!-- end div id "search" -->



