
  <div id="search" class="boxed">
    <h2 class="heading">
    {% if empty_form %}Advanced Search{% else %}Search Again{% endif %}
    </h2>
    <div class="pretty-print">

    {# ================== start search form ================== #}
    <form action="{% if editable %}/e{% endif %}/mlgb/advancedsearch" method="get">
      <div>

      {% for fieldname, label, value in form_fields %}
        <p>
        {% if fieldname != 'printed_book' %}
          <label for="{{fieldname}}">{{label}}</label><br />
          <input type="text" name="{{fieldname}}" id="{{fieldname}}" value="{{value}}" />
        {% endif %}
        </p>
      {% endfor %}

      <br />

      {% include 'includes/page_size_field.html' %}

      <br />

      {{order_options|safe}}
      <br> <br>

      {{output_styles|safe}}
      <br> <br>

      <script type="text/javascript">
      function clearSearchFields() {

        var search_term = document.getElementById( 'search_term' );
        search_term.value = "";

        {% for field_dict in searchable_fields %} {% for val, desc in field_dict.items %}
        var oneField = document.getElementById( 'search_{{val|default:"all"}}' );
        if( oneField.value == '') {
          oneField.checked = true;
        }
        else {
          oneField.checked = false;
        }
        {% endfor %} {% endfor %}

        {% for possible_size in page_sizes %}
        var pageSize = document.getElementById( 'page_size_{{possible_size}}' );
        if( pageSize.value.toLowerCase() == '{{default_rows_per_page}}' ) {
          pageSize.checked = true;
        }
        else {
          pageSize.checked = false;
        }
        {% endfor %}
      }
      </script>

      <input type="submit" value="Go" />
      <input type="button" value="Clear" onclick="clearSearchFields()" />
      </div>
    </form>
    {# ================== end search form ================== #}

    </div> <!-- end div class "pretty-print" -->
  </div>   <!-- end div id "search" -->



