{# =================== This template produces the Home page =================== #}

{% extends "base.html" %}

{# ============================ #}

{% block title %}
<title>MLGB3 Home</title>
{% endblock %}
 
{# ====== start block js ====== #}
{% block js %}

{% endblock %}
{# ======= end block js ======= #}

{% block search %} 
  {% include 'includes/quicksearch.html' %}
{% endblock %}

{# ============================ #}

{% block archives %} 
  {% include 'includes/categorylinks.html' %}
{% endblock %}

{# ============================ #}
