{# =================== This template produces the Home page =================== #}

{% extends "base.html" %}

{# ============================ #}

{% block title %}
<title>MLGB3 Home</title>
{% endblock %}
 
{# ====== start block js ====== #}
{% block js %}
<script type='text/javascript'>
$().ready(function() {

    // switch header images - CTB
    alert("aloha!");
    
	function formatData(data) {
        return data ;
    }
	$("#s").autocomplete("mlgb/fulltext", {
		width: 210,
		dataType: "json",
		selectFirst: false,
        parse: function(data) {
            return $.map(data, function(row) {
                return {
                    data: row,
                    value: row,
                    result: row
                }
            });
        },
        formatItem: function(item) {
            return formatData(item);
        }
    });
	
 });
</script>
{% endblock %}
{# ======= end block js ======= #}

{% block search %} 
  {% include 'includes/quicksearch.html' %}
{% endblock %}

{# ============================ #}

{% block archives %} 
  {% include 'includes/categorylinks.html' %}
{% endblock %}

{# ============================ #}
