
{% extends "mlgb/mlgb.html" %}
{% block title %}
<title>MLGB3 Treeviewer</title>
{% endblock %}

{% block maincontent %}
  
  {% if display_catg_desc %}
  <div class="boxed category">
  <h2 class="heading" > {{category_desc}} </h2>
  {% endif %}

  {% if category_data %}
    <div class="pretty-print">
      <ul>
      {% for library_or_city in category_data %}
        <li>
        <a href="/mlgb/?search_term={{library_or_city.name}}&field_to_search={{field_to_search}}&page_size={{page_size}}">
        {{library_or_city.name}}
        </a> 
        ({{library_or_city.number_of_records}}) 
        </li>
      {% endfor %}
      </ul>
    </div><!-- end div class "pretty-print" -->
  {% endif %}

  {% if display_catg_desc %}</div><!-- end div class 'category' -->{% endif %}  

{% endblock %}
