{% extends "base.html" %}
{% load mlgb_custom_filters %}

{% block title %}
<title>MLGB3 Search Results</title>
{% endblock %}

{% block content_wrapper %}
<div id="searchresults">
{% block maincontent %}

  {# ========== start treeview containing search results ========== #}
  <div id="{% if number_of_records %}mlgbtreeview{% else %}nonefound{% endif %}" class="boxed treeview">
  <h2 class="heading">Search Results</h2>

  <div class="resultdetails">
  
  {% if search_term %}
    <div class="treeheader">
    {% if search_term == '*' %}
    Displaying all records...
    {% else %}
    Searching {{field_label|lower|default:"all fields"}} for: <strong> {{search_term}}</strong>
    {% endif %}
    </div><!-- end div class "treeheader" -->
  {% endif %}

  {% if not number_of_records %}
    {% if search_term %}<p>No records retrieved.</p>{% endif %}
  {% endif %}

  {% if result_string %} {# the HTML for the search results is already set in variable 'result_string' #}
    {% autoescape off %}{{ result_string|fix_dashes }}{% endautoescape %}
  {% endif %}
  </div> <!-- end div class resultdetails -->

  </div><!-- end div ID "mlgbtreeview" -->
  {# =========== end treeview containing search results =========== #}

  {% if printing %}
  <script>
    window.print();
  </script>
  {% endif %}
{% endblock %} {# end block 'maincontent' #}

{% block moreoptions %} 
{% if not printing %}

{% block browseoptions %} 
{% endblock %}

{% block archives %} 
{% endblock %}

{% block search %}  
  {% include 'includes/searchwithoptions.html' %}
{% endblock %}

{% block useful_links %} 
{% endblock %}

{% endif %}
{% endblock %}  {# end block moreoptions #}

</div> <!-- end div id="searchresults" -->
{% endblock %}{# end block 'content_wrapper' #}

