{% extends "mlgb/mlgb.html" %}
{% load mlgb_custom_filters %}
  
{% block title %}
<title>
{{ object.author_title|default:"Details of book" }}
{# do we really need evidence code in the page title? (evidence code {{object.evidence}}) #}
</title>
{% endblock %}

{% block maincontent %}
<div id="maincontent" class="main-pretty-print bookdetail">
  {% autoescape off %}

  <h3 class="bookheading">
  {{ object.author_title|fix_dashes }} &mdash; {{object.provenance|fix_dashes}}
  {# do we really need evidence code in the heading? (evidence code {{object.evidence}}) #}
  </h3>
  <br>

  <table id="mlgbdetail">

    <tr>
    <td class="mlgbdetailtext">Provenance:</td>
    <td class="mlgbdetailvalue">{{object.provenance|fix_dashes}}</td>
    </tr>

    <tr>
    <td class="mlgbdetailtext">Location:</td>
    <td class="mlgbdetailvalue">
    {{object.modern_location_2|fix_dashes}}, {{object.modern_location_1|fix_dashes}} 
    </td>
    </tr>

    {% if object.shelfmark_1 or object.shelfmark_2 %}
    <tr>
    <td class="mlgbdetailtext">Shelfmark:</td>
    <td class="mlgbdetailvalue">{{object.shelfmark_1|fix_dashes}} {{object.shelfmark_2|fix_dashes}}</td>
    </tr>
    {% endif %}

    <tr>
    <td class="mlgbdetailtext">Author/Title:</td>
    <td class="mlgbdetailvalue">{{ object.author_title|fix_dashes }}</td>
    </tr>

    {% if object.evidence %}
    <tr>
    <td class="mlgbdetailtext">Type of evidence:</td>
    <td class="mlgbdetailvalue"><i>{{object.evidence}}</i> 
    {{evidence_desc}}</td>
    </tr>
    {% endif %}

    {% for photo in object.photo_set.all %}
    <tr>
    <td><ul><li>Evidence:</li><li>{{ photo.caption|fix_dashes }}</li></ul></td>
    <td>
    <a href="{{ photo.image.url }}" rel="lightbox-journey"  title="{{ photo.title }}">
    <img src=" {{ photo.image.thumb_url }}" />
    </a>
    </td>
    </tr>
    {% endfor %}


    {% if object.evidence_notes %}
    <tr>
    <td class="mlgbdetailtext">Notes on evidence:</td>
    <td class="mlgbdetailvalue">{{object.evidence_notes|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% for contains in object.contains_set.all %}
    <tr>
    <td class="mlgbdetailtext">Contents of the book:</td>
    <td class="contains">
    {{ contains.contains|fix_dashes }}
    {% if contains.urls %}
    <a href="{{ contains.urls }}">
    <img src="/mlgb/media/img/book.png" alt="Link to the Book Site" border="0" />
    </a>
    {% endif %}
    </td>
    </tr>
    {% endfor %}


    {% if object.date %}
    <tr>
    <td class="mlgbdetailtext">Date:</td>
    <td class="mlgbdetailvalue">{{object.date|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% if object.pressmark %}
    <tr>
    <td class="mlgbdetailtext">Pressmark:</td>
    <td class="mlgbdetailvalue">{{object.pressmark|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% if object.medieval_catalogue %}
    <tr>
    <td class="mlgbdetailtext">Medieval Catalogue:</td>
    <td class="mlgbdetailvalue">{{object.medieval_catalogue|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% if object.medieval_catalogue_notes %}
    <tr>
    <td class="mlgbdetailtext">Medieval Catalogue Notes:</td>
    <td class="mlgbdetailvalue">{{object.medieval_catalogue_notes|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% if object.ownership %}
    <tr>
    <td class="mlgbdetailtext">Ownership:</td>
    <td class="mlgbdetailvalue">{{object.ownership|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% if object.notes %}
    <tr>
    <td class="mlgbdetailtext">Notes:</td>
    <td class="mlgbdetailvalue">{{object.notes|fix_dashes}}</td>
    </tr>
    {% endif %}


    {% if object.pr_bk %}
    <tr>
    <td class="mlgbdetailtext"></td>
    <td class="mlgbdetailvalue">Printed Book</td>
    </tr>
    {% endif %}

  </table>

  {% endautoescape %}

  <p align="center">
  {% if editable %}
     Book ID {{object.id}}:
     <a href="/admin/books/book/{{object.id}}" title="Edit this record" target="_blank" class="editlink">
     edit
     </a>
  {% endif %}
  <br>
  <a href="/mlgb/download/?q=1&i={{object.id}}" title="CSV" target="_blank"></a>
  &nbsp;
  <a href="/mlgb/download/?q=2&i={{object.id}}" title="PDF" target="_blank"></a>
  </p>

</div>
{% endblock %}









