{% extends "base.html" %}
{% load mlgb_custom_filters %}

{% block title %}
<title>MLGB3 Treeviewer</title>
{% endblock %}

{% block posts %}
  <div id="posts">

  {# ========== start treeview containing search results ========== #}
  {% if showtree %}
  <div id="mlgbtreeview">
  {% else %}
    {% if search_term %} No records retrieved. {% endif %}
  {% endif %}

  {# ========== start display of search results ========== #}
  {% if result_string %} {# the HTML for the search results is already set in variable 'result_string' #}
    <div class="treeheader">
    Searching {{field_to_search|lower|default:"all fields"}} for: <strong> {{search_term}}</strong>
    </div>
    {% autoescape off %}{{ result_string|fix_dashes }}{% endautoescape %}
  {% endif %}
  {# =========== end display of search results =========== #}

  {% if showtree %}</div>{% endif %}
  {# =========== end treeview containing search results =========== #}

  </div>
{% endblock %}

{% block search %}  
  <div id="search" class="boxed">
    <h2 class="heading">Search
    {% if search_term %} Again {% endif %}
    </h2>
    <div class="content">

    {# ================== start search form ================== #}
    <form action="/mlgb/" method="get">
      <div>
      <label for="search_term">Enter your search term: </label>
      <br>
      <input name="search_term" id="search_term" type="text" size="30" 
      {% if search_term %} value="{{search_term}}" {% endif %}
      /> <br > <br >

      <label for="field_to_search">Field to search: </label>
      <br>
      <select name="field_to_search" id="field_to_search">

      <option value="">All fields</option>

      <option
      {% if field_to_search|lower == 'author/title' %} SELECTED {% endif %}
      >Author/Title</option>

      <option
      {% if field_to_search|lower == 'modern library/institution' %} SELECTED {% endif %}
      {% if field_to_search|lower == 'library/institution'  %} SELECTED {% endif %}
      >Modern Library/Institution</option>

      <option
      {% if field_to_search|lower == 'medieval library' %} SELECTED {% endif %}
      >Medieval Library</option>

      </select>
      <br ><br >

      <label for="page_size">Records per page: </label>
      <br>
      <select name="page_size" id="page_size">

      <option
      {% if page_size == '100' %} SELECTED {% endif %}
      >100</option>

      <option
      {% if page_size == '200' %} SELECTED {% endif %}
      >200</option>

      <option
      {% if page_size == '500' %} SELECTED {% endif %}
      >500</option>

      <option
      {% if page_size == '1000' %} SELECTED {% endif %}
      >1000</option>

      <option
      {% if page_size|lower == 'all' %} SELECTED {% endif %}
      >All</option>

      </select>
      <br ><br >

      <script type="text/javascript">
      function clearSearchFields() {

        var search_term = document.getElementById( 'search_term' );
        search_term.value = "";

        var fieldToSearch = document.getElementById( 'field_to_search' );
        for (var i = 0; i < fieldToSearch.options.length; i++) {
          if( fieldToSearch.options[i].value == "" ) {
            fieldToSearch.selectedIndex = i;
            break;
          }
        }

        var pageSize = document.getElementById( 'page_size' );
        for (var i = 0; i < pageSize.options.length; i++) {
          if( pageSize.options[i].value == "All" ) {
            pageSize.selectedIndex = i;
            break;
          }
        }
      }
      </script>

      <input type="submit" value="Go" />
      <input type="button" value="Clear" onclick="clearSearchFields()" />
      </div>
    </form>
    {# ================== end search form ================== #}

    </div> <!-- end div class "content" -->
  </div>   <!-- end div id "search" -->
{% endblock %}

{% block archives %} 
  <div id="archives" class="boxed">
  </div>
{% endblock %}

{% block useful_links %} 
  <div id="Useful_Links" class="boxed">
  </div>
{% endblock %}

