{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p>{% endif %}<h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K216. Catalogus, c. 1360</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K216.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1080_anchor">Geoffrey of Auxerre [mid 12th cent.]
</a>
<br>
<strong>Commentary on the Song of Songs</strong>
ed. F. Gastaldelli, Temi e testi 1
9&ndash;20 (Rome 1974); Stegm&uuml;ller <i>Bibl.</i> 2414.

</li>

<li>
K216.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1081_anchor">Geoffrey Babio du Louroux [&dagger;1158], archbishop of Bordeaux
</a>
<br>
<strong>Commentary on Matthew</strong>
<i>PL</i> 162. 1228&ndash;1500 (as Anselm of Laon); 
Stegm&uuml;ller <i>Bibl.</i> 2604, 7899 (as Stephen Langton).

</li>

<li>
K216.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1080_anchor">Geoffrey of Auxerre [mid 12th cent.]
</a>
<br>
<strong>Commentary on Revelation</strong>
ed. F. Gastaldelli, Temi e testi 17 (Rome 1970);
Stegm&uuml;ller <i>Bibl.</i> 2436&ndash;7.

</li>

<li>
K216.5 (attrib. Geoffrey of Auxerre): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>Vita I S. Bernardi</i> (with Arnold of Bonneval and Geoffrey of Auxerre)</strong>
 <i>PL</i> 185. 225&ndash;368; ed. P. Verdeyen &amp; C. Vande Veire, <i>CCCM</i> 89B (2011); 
<i>BHL</i> 1211&ndash;16.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
