{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p>{% endif %}<h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K630. Catalogus, c. 1360</h3>
<em>13 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K630.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Bucolica</i></strong>
ed. R. A. B. Mynors, OCT (1969).

</li>

<li>
K630.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Georgica</i></strong>
ed. R. A. B. Mynors, OCT (1969).

</li>

<li>
K630.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
<strong><i>Aeneis</i></strong>
ed. R. A. B. Mynors, OCT (1969).

</li>

<li>
K630.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Copa</i></strong>
ed. E. J. Kenney, <i>Appendix Vergiliana</i>, OCT (1966), 81&ndash;2.

</li>

<li>
K630.&loz;5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Ciris</i></strong>
ed. R. O. A. M. Lyne (Cambridge 1978).

</li>

<li>
K630.&loz;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Aetna</i></strong>
ed. F. R. D. Goodyear, <i>Appendix Vergiliana</i>, OCT (1966), 41&ndash;76.

</li>

<li>
K630.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Culex</i></strong>
ed. W. V. Clausen, <i>Appendix Vergiliana</i>, OCT (1966), 19&ndash;36.

</li>

<li>
K630.&loz;8 (attrib. Virgil): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2738_anchor"><i>Priapaea</i></a>
 
<br>
</li>

<li>
K630.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De est et non</i></strong>
ed. W. V. Clausen, <i>Appendix Vergiliana</i>, OCT (1966),
173&ndash;4.

</li>

<li>
K630.13 (`de uacca Platonis', attrib. Virgil): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2691_anchor">Plato [429&ndash;347 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Liber uaccae</i></strong>
unpr.; D. E. Pingree, `Plato's hermetic Book 
of the Cow', in <i>Il neoplatonismo nel renascimento</i>, ed. P. Primi 
(Rome 1990), 133&ndash;45; Thorndike/Kibre 246, 383, 576. [See also Ametus 
filius Abrae.]

</li>

<li>
K630.14 (`de uiro iusto'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De institutione boni</i></strong>
ed. W. V. Clausen, <i>Appendix Vergiliana</i>, OCT 
(1966), 167&ndash;8.

</li>

<li>
K630.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>Moretum</i></strong>
ed. E. J. Kenney, <i>Appendix Vergiliana</i>, OCT (1966), 158&ndash;63.

</li>

<li>
K630.16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3467_anchor">P. Vergilius Maro [70&ndash;19 BC]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De rosis nascentibus</i></strong>
ed. W. V. Clausen, <i>Appendix Vergiliana</i>, OCT 
(1966), 177&ndash;8.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>13 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
