{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A" title="AUGUSTINIAN CANONS">AUGUSTINIAN CANONS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/A/18" title="Markby">Markby</a>  &gt; Lincolnshire list, 1528</p>{% endif %}<h2>AUGUSTINIAN CANONS: Markby</h2><h3 class="medieval_catalogue_desc">A22. Lincolnshire list, 1528</h3>
<em>1 identified entry found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
A22.*1 (`pantheon Gotifredi Viterbiensis de mundi principio .&nbsp;.') = H2.*1278: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1173_anchor">Godfrey of Viterbo [&dagger; <i>c.</i> 1196]
</a>
<br>
<strong><i>Pantheon siue Liber uniuersalis</i> (1185)</strong>
pr. under the title <i>Pantheon 
siue Vniersitatis libri XX</i>, Basel 1559; parts XVI&ndash;XX, <i>PL</i> 198. 875&ndash;1044; 
excerpts ed. G. Waitz, MGH <i>Scriptores</i> 22 (1872), 107&ndash;307.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>1 identified entry found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
