{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F" title="NEW FRIARS">NEW FRIARS</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/F/136" title="Norwich-Franciscan">Norwich-Franciscan</a>  &gt; Leland, c. 1536-40</p>{% endif %}<h2>NEW FRIARS: Norwich-Franciscan</h2><h3 class="medieval_catalogue_desc">F34. Leland, c. 1536-40</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
F34.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2364_anchor">Nicholas Trevet OP [<i>c</i>1258&ndash;<i>c</i>1334]
</a>
<br>
<strong><i>Annales sex regum Angliae</i></strong>
ed. T. Hog (London 1845); Kaeppeli 3149.

</li>

<li>
F34.3a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry222_anchor">Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</a>
<br>
<strong>Commentary on Ezekiel</strong>
ed. M. A. Signer, <i>CCCM</i> 53E (1991); 
Stegm&uuml;ller <i>Bibl.</i> 1314.

</li>

<li>
F34.3b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry222_anchor">Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</a>
<br>
<strong>Commentary on Jeremiah</strong>
unpr.; Stegm&uuml;ller <i>Bibl.</i> 1313.

</li>

<li>
F34.3c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry222_anchor">Andrew of Saint-Victor OSA [&dagger;1175], abbot of Wigmore
</a>
<br>
<strong>Commentary on the Minor Prophets</strong>
ed. F. A. van Liere &amp; M. A.
Zier, <i>CCCM</i> 53G (2007): Stegm&uuml;ller <i>Bibl.</i> 1316&ndash;28.

</li>

<li>
F34.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2455_anchor">Palladius [4th cent.]
</a>
<br>
<strong><i>De agricultura</i></strong>
pr. in <i>Scriptores rei rusticae</i>, Venice 1472 (Goff
S346), &amp;c.; ed. R. H. Rodgers, Teubner (1975).

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
