{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/235" title="Glasgow university">Glasgow university</a>  &gt; Books given by John Brown, before 3 Nov 1483</p>{% endif %}<h2>SCOTLAND: Glasgow university</h2><h3 class="medieval_catalogue_desc">S15. Books given by John Brown, before 3 Nov 1483</h3>
<em>18 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S15.1a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>De caelo et mundo</i>, Latin tr. from Arabic by Gerard of Cremona, ???;
Latin tr. from Arabic by Michael Scot, ????. Latin tr. from Greek</strong>
to appear, <i>AL</i> vol. 8/1&ndash;2. 
[The
translation by Robert Grosseteste was not generally known, ed. F. Bossier, 
<i>ALD</i>; William of Moerbeke's version circulated in three redactions, of which 
the second was most widely received, ed. F. Bossier, <i>ALD</i>.]

</li>

<li>
S15.1b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>De generatione et corruptione</i>, Latin tr. from Arabic by Gerard of
Cremona</strong>
unpr.; 
Latin tr. from Greek now attributed to Burgundio of Pisa: ed. J. Judycka, 
<i>AL</i> 9/1 (1986); Thorndike/Kibre 374. 
Latin tr. from Greek by William of Moerbeke, which circulated widely, ed. 
J. Judycka, <i>ALD</i>.

</li>

<li>
S15.1c: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Meteora</i>, Latin tr.</strong>
to appear, <i>AL</i> 10/1; Thorndike/Kibre 1076. 
Another translation by William of Moerbeke: ed. G. Vuillemin-Diem, <i>AL</i> 10/2 
(2008); Thorndike/Kibre 386. Copies of Book IV alone may be the translation 
by Henricus Aristippus, ed. E. Rubino, to appear, <i>AL</i> 10/1 (Thorndike/Kibre 
1298).

</li>

<li>
S15.1d: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>De anima</i>, Latin tr. from Arabic by Michael Scot</strong>
pr. Padua 1472 (<i>GW</i> 
2349), &amp;c.; Thorndike/Kibre 179, 1271. 
Latin tr. from Greek by James of Venice [<i>AL</i> 12/1], ed. J. Decorte &amp; J. Brams,
<i>ALD</i>. 
Latin tr. from Greek by William de Moerbeke [<i>AL</i> 12/2], pr. with Thomas 
Aquinas's commentary, ed. R. A. Gauthier, <i>STO</i> 45/1 (1984).  

</li>

<li>
S15.1e: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>De somno et uigilia</i>, Latin tr.</strong>
ed. H. J. Drossaart Lulofs (Leiden 
1943); to appear, <i>AL</i> vol. 15; Thorndike/Kibre 391. [The second and third
books are <i>De insomniis</i> and <i>De diuinatione per somnum</i>. There exist an
anonymous version and a revision by William de Moerbeke.]

</li>

<li>
S15.3b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1151_anchor">Gilbert de la Porr&eacute;e [1076&ndash;1154]
</a>
<br>
<strong><i>Liber sex principiorum</i></strong>
ed. L. Minio-Paluello, <i>AL</i> 1/6&ndash;7 (1966),
35&ndash;58. [See also Aristotle, <i>Logica uetus</i>.]

</li>

<li>
S15.3c (`cum tractatu de spera'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1852_anchor">Iohannes de Sacro Bosco [early 13th cent.]
</a>
<br>
<strong><i>Tractatus de sphaera</i></strong>
ed. L. Thorndike (Chicago, IL, 1949);
Thorndike/Kibre 1577, 1524. [In almost all cases anonymous.]

</li>

<li>
S15.3d (`cum algorismo'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1852_anchor">Iohannes de Sacro Bosco [early 13th cent.]
</a>
<br>
<strong><i>Algorismus</i></strong>
ed. J. O. Halliwell, <i>Rara mathematica</i> (London 1839), 
1&ndash;26; ed. F. Saaby Pedersen, Corpus philosophorum Danicorum medii aevi
10/1 (Copenhagen 1983), 174&ndash;201; Thorndike/Kibre 991.

</li>

<li>
S15.&dagger;5 (`glosam Petri Hispani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2575_anchor">Petrus Hispanus OP [early 13th cent.]
</a>
<br>
<strong><i>Summulae logicales</i></strong>
ed. L. M. de Rijk (Assen 1972); Diaz 1396; 
Totok, 466.

</li>

<li>
S15.6 (`sex tractatus Petri Hispani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2575_anchor">Petrus Hispanus OP [early 13th cent.]
</a>
<br>
<strong><i>Summulae logicales</i></strong>
ed. L. M. de Rijk (Assen 1972); Diaz 1396; 
Totok, 466.

</li>

<li>
S15.6b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2720_anchor">Porphyry [232&ndash;302]
</a>
<br>
<strong><i>Isagoge in Categorias Aristotelis</i>, tr. Boethius</strong>
ed. L.
Minio-Paluello, <i>AL</i> 1/6&ndash;7 (1966) 5&ndash;31. [See also Aristotle, <i>Logica uetus</i>.]

</li>

<li>
S15.&dagger;7 (`questiones de anima. item glosa Petri Hispani supra certis
   tractatibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2573_anchor">Petrus Hispanus (later John XXI) [<i>c</i>1205&ndash;1277, <i>sedit</i> 1276&ndash;1277]
</a>
<br>
<span class="biblio_block">
J. Meirinhos, `Les manuscrits et l'attribution d'oeuvres &agrave; Petrus
Hispanus', in <i>Florilegium mediaevale. &Eacute;tudes offertes &agrave; Jacqueline Hamesse
&agrave; l'occasion de son &eacute;m&eacute;ritat</i> (Louvain-la-Neuve 2009),349&ndash;77.
</span>
<br>
<strong><i>Quaestiones</i> on Aristotle's <i>De anima</i></strong>
ed. M. Alonso Alonso, <i>Pedro
Hispano. Obras filos&oacute;ficas</i> (Madrid 1941&ndash;52), 2. 59&ndash;768; Diaz 1398; 
Lohr, 359.

</li>

<li>
S15.8: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Metaphysica</i> I&ndash;IV 4, tr. James of Venice</strong>
ed. G. Vuillemin-Diem, 
<i>AL</i> 25/1 (1970), 5&ndash;73. 
Other translations:&ndash; <i>Translatio composita</i>: <i>ibid.</i> 89&ndash;155.
<i>Translatio media (I&ndash;X, XII&ndash;XIV)</i>: ed. G. Vuillemin-Diem, <i>AL</i> 25/2 (1976), 
7&ndash;275.
<i>Translatio noua</i> (I&ndash;XIV complete), by William of Moerbeke: ed. 
G. Vuillemin-Diem, <i>AL</i> 25/3 (1995).

</li>

<li>
S15.9 (`sex libri Ethicorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Ethica</i>, tr. Robert Grosseteste</strong>
pr. Louvain 1476 (<i>GW</i>
2360), &amp;c.; ed. R. A. Gauthier, <i>AL</i> 26/1&ndash;3 (1972&ndash;4), 141&ndash;370, 
375&ndash;588 (two recensions, the second a revision by Moerbeke)). 
<i>Ethica noua</i> (where specified) was an anonymous translation from the Greek 
of Book I, circulating with <i>Ethica uetus</i>, a translation of Books II&ndash;III 
(<i>AL</i> 26/2), both now attributed to Burgundio of Pisa.

</li>

<li>
S15.&dagger;10 (`questiones sancti T. super certis libris phisice'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong>Commentary on Aristotle's <i>Physica</i></strong>
<i>STO</i> 2. 1&ndash;458; Glorieux <i>R&eacute;p.</i> 14al.

</li>

<li>
S15.12a (`Scotus secundum librum Purphurii'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1670_anchor">Iohannes Duns Scotus OFM [&dagger;1308]
</a>
<br>
<strong>Commentary on Porphyry's <i>Isagoge</i></strong>
<i>DSO</i> 1. 87&ndash;123; Glorieux <i>R&eacute;p.</i> 344a.

</li>

<li>
S15.&dagger;12 (`Scotus secundum librum Purphurii et scriptum Io. Burlaw in
   uno uolumine'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3624_anchor">Walter Burley [1275&ndash;after 1344]
</a>
<br>
<span class="biblio_block">
<i>DNB</i>; <i>BRUO</i> 270&ndash;71; <i>DSB</i> 2. 608&ndash;612.
</span>
<br>
<strong>Commentary on <i>Logica uetus</i></strong>
pr. Venice [not after 1476], Venice 1481 
(<i>GW</i> 5767), &amp;c.; Sharpe, <i>Latin Writers</i>, 710&ndash;12.

</li>

<li>
S15.&dagger;13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3624_anchor">Walter Burley [1275&ndash;after 1344]
</a>
<br>
<strong><i>De suppositionibus</i></strong>
ed. S. F. Brown, `Walter Burleigh's treatise <i>De
suppositionibus</i> and its influence on William of Ockham', <i>Franciscan Studies</i>
32 (1972) 15&ndash;64 (text, 31&ndash;64); Sharpe, <i>Latin Writers</i>, 722.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>18 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
