{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/91" title="Thorney">Thorney</a>  &gt; Leland, c. 1536-40</p>{% endif %}<h2>BENEDICTINES: THE SHORTER CATALOGUES: Thorney</h2><h3 class="medieval_catalogue_desc">B101. Leland, c. 1536-40</h3>
<em>5 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B101.1 (`eglogae aliquot Marci exquaestoris qui floruit tempore 
   Iustiniani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2163_anchor">Marcus Valerius [fl. ?520]
</a>
<br>
<strong><i>Bucolica</i></strong>
ed. F. Munari (Florence 1970<sup>2</sup>). Although
the work has been widely thought to date from the 12th cent. F. Dolbeau in
<i>MLJ</i> 22 (1987) 166&ndash;70 has pointed to an early 6th-cent. consul as the 
possible author.

</li>

<li>
B101.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2720_anchor">Porphyry [232&ndash;302]
</a>
<br>
<strong><i>Isagoge in Categorias Aristotelis</i>, tr. Boethius</strong>
ed. L.
Minio-Paluello, <i>AL</i> 1/6&ndash;7 (1966) 5&ndash;31. [See also Aristotle, <i>Logica uetus</i>.]

</li>

<li>
B101.3 (`Waleys super quinque libros Mosis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3394_anchor">Thomas Waleys OP [&dagger;1350]
</a>
<br>
<strong><i>Moralitates</i> on Exodus&ndash;Deuteronomy</strong>
unpr.; Sharpe,
<i>Latin Writers</i>, 687; Stegm&uuml;ller <i>Bibl.</i> 8237&ndash;40. [The
copies reported at B101 and Z26 have no commentary on Genesis, nor has
that in Bodl. MS Laud misc. 345; those referred to in Stegm&uuml;ller are all by
other Thomases.]

</li>

<li>
B101.4 (`Necham qualis esse debeat uita monachorum carmine. <i>Quid 
   deceat monachum</i>'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3012_anchor">Roger of Caen OSB [&dagger;1095]
</a>
<br>
<strong>(?), <i>De professione monachorum</i></strong>
<i>PL</i> 158. 687&ndash;706; ed. T.
Wright, RS 59/2 (1875), 175&ndash;200; Sharpe, <i>Latin Writers</i>, 584; Hunt, 
<i>Nequam</i>, 148; Bloomfield 4771; <i>WIC</i> 15778. [In manuscripts ascribed most 
commonly to Alexander Nequam or Anselm; the attribution to Roger of Caen, 
found in three Norman copies, is favoured by Manitius.]

</li>

<li>
B101.5 (`Ioannes Cornubiensis de uirtute crucis in sacramento altaris'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2926_anchor">Richard the Premonstratensian [late 12th cent.]
</a>
<br>
<strong><i>De canone missae</i></strong>
<i>PL</i> 177. 455&ndash;70; Sharpe,
<i>Latin Writers</i>, 499&ndash;501. [Sometimes attributed to John of Cornwall; 
B. Haur&eacute;au, <i>Notices et extraits</i> 24/2 (1876) 145, collects the evidence 
for the attribution to Richard the Premonstratensian.]

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>5 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
