{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B" title="BENEDICTINES: THE SHORTER CATALOGUES">BENEDICTINES: THE SHORTER CATALOGUES</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/B/42" title="Bermondsey">Bermondsey</a>  &gt; Catalogue, 1310 &times; 1328</p>{% endif %}<h2>BENEDICTINES: THE SHORTER CATALOGUES: Bermondsey</h2><h3 class="medieval_catalogue_desc">B10. Catalogue, 1310 &times; 1328</h3>
<em>44 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
B10.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2558_anchor">Petrus Comestor [&dagger;1187]
</a>
<br>
<strong><i>Historia scholastica</i></strong>
pr. [Augsburg] 1473 (Goff P458), &amp;c.;  <i>PL</i> 
198. 1053&ndash;1722; ed. H. A. Vollmer (Berlin 1925&ndash;7); Genesis only, ed. A. 
Sylwan, <i>CCCM</i> 191 (2005).

</li>

<li>
B10.5 (`Brandanus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2302_anchor"><i>Nauigatio S. Brendani</i></a>
ed. C. Selmer (Notre Dame, IN, 1959); <i>BHL</i> 1437.

<br>
</li>

<li>
B10.6 (gl.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2870_anchor"><i>Regula S. Benedicti</i></a>
<i>CPL</i> 1852; ed. J. Neufville, SChr 181&ndash;2 (1972);
ed. R. Hanslik, <i>CSEL</i> 75 (1977<sup>2</sup>).

<br>
</li>

<li>
B10.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3582_anchor">Robertus
</a>
<br>
</li>

<li>
B10.8, 30: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3591_anchor">Thomas
</a>
<br>
</li>

<li>
B10.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3285_anchor">P. Terentius Afer (Terence) [<i>c</i>195&ndash;159 BC]
</a>
<br>
<strong><i>Comoediae</i></strong>
ed. R. Kauer &amp; W. M. Lindsay, OCT (1958<sup>2</sup>).

</li>

<li>
B10.&dagger;12 (`quinque libri de claustrali'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1411_anchor">Hugh of Fouilloy OSA [&dagger;1172/3], prior of Saint-Laurent-au-Bois, Fouilloy
</a>
<br>
<span class="biblio_block">
J. Gobry in <i>DS</i> 7. 880&ndash;86.
</span>
<br>
<strong><i>De claustro animae</i></strong>
<i>PL</i> 176. 1017&ndash;1182; Bloomfield 5211. [The
title `De xii abusionibus claustri' refers to the excerpt, II 11&ndash;23.]

</li>

<li>
B10.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry426_anchor">Bede the Venerable [<i>c</i>673&ndash;735], monk of Wearmouth&ndash;Jarrow
</a>
<br>
[<i>dub.</i>]
<strong>`De sacramentis'</strong>
unidentified.

</li>

<li>
B10.&dagger;20 (`Beda de sacramentis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2476_anchor">Paschasius Radbertus [<i>c</i>785&ndash;<i>c</i>860]
</a>
<br>
<strong><i>De corpore et sanguine Domini</i></strong>
<i>PL</i> 120. 1263&ndash;1366; ed. B. 
Paulus, <i>CCCM</i> 16 (1969) 1&ndash;131.

</li>

<li>
B10.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry790_anchor"><i>Ps.</i> Dionysius the Areopagite
</a>
<br>
<strong><i>De caelesti hierarchia</i>, Latin tr.</strong>
<i>CPG</i> 6600; ed. P. Chevallier,
<i>Dionysiaca</i> (Bruges 1937&ndash;50), 727&ndash;1066.

</li>

<li>
B10.23b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry690_anchor">Constantius of Lyon [fl. 460]
</a>
<br>
<strong><i>Vita S. Germani</i></strong>
<i>CPL</i> 2105; <i>BHL</i> 3453.

</li>

<li>
B10.&dagger;23a (`Prosper'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1957_anchor">Iulianus Pomerius [early 6th cent.]
</a>
<br>
<strong><i>De uita contemplatiua</i></strong>
<i>CPL</i> 998.

</li>

<li>
B10.24 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry913_anchor">Eusebius of Caesarea [<i>c</i>260&ndash;339], bishop of Caesarea
</a>
<br>
<strong><i>Historia ecclesiastica</i>, tr. Rufinus</strong>
<i>CPG</i> 3495; <i>PL</i> 21. 465&ndash;540;  
ed. T. Mommsen, <i>GCS</i> 9 (1903&ndash;9). [Almost invariably anonymous in catalogues.]

</li>

<li>
B10.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
[<i>pseud.</i>]
<strong><i>De ortu beatae Mariae et de infantia saluatoris</i>.
The <i>ps.</i> Matthaean infancy gospel, <i>De ortu beatae Mariae et infantia
saluatoris</i>, whose translation was ascribed to Jerome</strong>
ed. J. Gijsel,
<i>CCSA</i> 9 (1997); Lambert 348&ndash;9 (prologue, <i>ep. supp.</i> 48&ndash;9), 670; Stegm&uuml;ller 
<i>Bibl.</i> 168; <i>BHL</i> 5334&ndash;42 and suppl. 

</li>

<li>
B10.27 (`paradisus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2456_anchor">Palladius of Hellenopolis [<i>c</i>365&ndash;425]
</a>
<br>
<strong><i>Historia Lausiaca</i>, Latin tr.</strong>
<i>PL</i> 74. 249&ndash;342; ed. A. Wellhausen,
Patristische Texte und Studien 51 (2003); <i>BHL</i> 6532&ndash;4.

</li>

<li>
B10.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2071_anchor"><i>Liber partium</i></a>
unidentified.

<br>
</li>

<li>
B10.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2779_anchor">Claudius Ptolemaeus (Ptolemy) [fl. 127&ndash;148]
</a>
<br>
<strong><i>Almagesta</i>, tr. Gerard of Cremona</strong>
pr. Venice 1515, Venice 1547;
Carmody, 15; Thorndike/Kibre 180, 1245. On the manuscripts, see P. Kunitzsch,
<i>Der Almagest</i> (Wiesbaden 1974), 87&ndash;112. [The Latin title derives from the
Arabic form of the Greek &#160; &#788;&#919; &#956;&#949;&#947;&#953;&#769;&#963;&#964;&#951;.]

</li>

<li>
B10.32 (`alius liber qui sic incipit, Herbarum quasdam'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2132_anchor">`Macer' [? early 11th cent.]
</a>
<br>
<strong><i>De uiribus herbarum</i></strong>
ed. L. Choulant (Leipzig 1832), 28&ndash;123; 
Thorndike/Kibre 610; <i>WIC</i> 7711. A small number of manuscripts associate
the work with a writer called Odo, once named as Odo Magdunensis, from which 
the author is sometimes supposed to be Odo of Meung, an unknown figure.

</li>

<li>
B10.&dagger;36 (`liber Iustiniani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Codex</i></strong>
pr. Mainz 1475 (<i>GW</i> 7722), &amp;c.; ed. P. Kr&uuml;ger, <i>Corpus iuris 
ciuilis</i> 2 (Berlin 1877). [The ordinary gloss is that of Accursius:  standard 
text is that in <i>Corpus iuris ciuilis</i> (Lyon 1584).]

</li>

<li>
B10.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Institutiones</i></strong>
ed. P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/1 
(Berlin 1868). [The ordinary gloss is that of Accursius.]

</li>

<li>
B10.38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1190_anchor">Gratian [&dagger; by <i>c</i>1160]
</a>
<br>
<strong><i>Decretum</i></strong>
<i>PL</i> 187; ed. E. Friedberg, <i>Corpus iuris canonici</i>, vol.
1 (1879). [The ordinary gloss on the Decretum is that of Iohannes Teutonicus, 
revised in the mid 13th cent. by Bartholomew of Brescia: pr. Venice 1605; 
Kuttner, 103&ndash;115.] [`Paleae' are canons added to Gratian's original
recension in the second, vulgate version.]

</li>

<li>
B10.41 (nouum): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
B10.42 (uetus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1970_anchor">Justinian [&dagger;565]
</a>
<br>
<strong><i>Digestum</i></strong>
ed. T. Mommsen &amp; P. Kr&uuml;ger, <i>Corpus iuris ciuilis</i> 1/2 
(Berlin 1870). [The ordinary gloss is that of Accursius.] [Entries often 
divide <i>Digestum uetus</i> (I&ndash;XXIV 2), <i>Infortiatum</i> (XXIV 3&ndash;XXXVIII) and 
<i>Digestum nouum</i> (XXXIX&ndash;L); <i>Tres partes</i> are the last three titles of 
<i>Infortiatum</i>, XXXV 2&ndash;XXXVIII 17.]

</li>

<li>
B10.44 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2815_anchor">Radulphus de Diceto [&dagger;1199/1200]
</a>
<br>
<strong><i>Ymagines historiarum</i></strong>
ed. W. Stubbs, RS 68 (1876), 1. 267&ndash;440, 2. 3&ndash;174.

</li>

<li>
B10.47 (`.&nbsp;. cum Brut et Merlino'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1092_anchor">Geoffrey of Monmouth [&dagger;1154]
</a>
<br>
<strong><i>Historia regum Britanniae</i></strong>
ed. M. D. Reeve &amp; N. Wright (Woodbridge
2007). [See also J. C. Crick, <i>The Historia regum Britannie of Geoffrey of 
Monmouth</i> 3 <i>A Summary Catalogue of the Manuscripts</i> (Cambridge 1989).]

</li>

<li>
B10.&dagger;47 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3735_anchor">William of Malmesbury OSB [<i>c</i>1080&ndash;1143]
</a>
<br>
<strong><i>Gesta regum Anglorum</i></strong>
ed. W. Stubbs, RS 90 (1887&ndash;9); ed. M. 
Winterbottom &amp; R. M. Thomson, OMT (1998&ndash;9).

</li>

<li>
B10.48: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3721_anchor">William of Jumi&egrave;ges OSB [&dagger; ?1087]
</a>
<br>
<strong><i>Gesta Normannorum ducum</i></strong>
ed. J. Marx (Rouen 1914); ed. E. M. C. 
van Houts, OMT (1992&ndash;5).

</li>

<li>
B10.48a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
<strong><i>Homiliae XL in euangelia</i></strong>
<i>CPL</i> 1711; pr. [Augsburg] 1473 (<i>GW</i>
11418), &amp;c.

</li>

<li>
B10.49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1193_anchor">Gregory the Great [<i>c</i>540&ndash;604, <i>sedit</i> 590&ndash;604]
</a>
<br>
[<i>dub.</i>]
<strong>`Sermones ex conciliis'</strong>
unidentified.

</li>

<li>
B10.51: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3175_anchor">Siphirus de S. Edmundo [?]
</a>
<br>
<strong><i>Septem libri sermonum</i></strong>
unidentified.

</li>

<li>
B10.&dagger;53 (`summa regularum grammaticalium Hugucionis nuncupata'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1432_anchor">Hugutio of Pisa [12th cent.]
</a>
<br>
<span class="biblio_block">
W. P. M&uuml;ller, <i>Huguccio. The Life, Works, and Thought of a 
Twelfth-Century Jurist</i> (Washington, DC, 1994), 35&ndash;66, dates the
<i>Liber deriuationum</i> to `the decade around 1161' (p. 47), making 
it likely that the author is not to be identified with the jurist
of the same name.
</span>
<br>
<strong><i>Rosarium</i></strong>
see note on B10.53.

</li>

<li>
B10.&dagger;80 (`librum qui incipit, Tres sunt qui testimonium dant'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong><i>Sermones de rebus theologicis</i></strong>
<i>SBonO</i> 5. 535&ndash;74; Distelbrink 56; 
Schneyer <i>Rep.</i> 1. 626.

</li>

<li>
B10.82: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2517_anchor">Aulus Persius Flaccus [AD 34&ndash;62]
</a>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
B10.85: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2517_anchor">Aulus Persius Flaccus [AD 34&ndash;62]
</a>
<br>
<strong><i>Saturae</i></strong>
ed. W. V. Clausen, OCT (1959).

</li>

<li>
B10.86: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2432_anchor">Orosius [&dagger; after 418]
</a>
<br>
<strong><i>Historia aduersus paganos</i></strong>
<i>CPL</i> 571; pr. Augsburg 1471 (Goff O96),
&amp;c.

</li>

<li>
B10.87 (anon.): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2743_anchor">Priscian [fl. 500]
</a>
<br>
<strong><i>De constructione</i> (<i>Institutiones grammaticae</i> XVII&ndash;XVIII)</strong>
<i>CPL</i> 
1546; <i>GL</i> 3. 105&ndash;377.

</li>

<li>
B10.&dagger;87: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2980_anchor">Robert Kilwardby OP [&dagger;1279]
</a>
<br>
<strong><i>De modo significandi</i></strong>
not known to survive; Sharpe, <i>Latin Writers</i>,
562.

</li>

<li>
B10.96 (inc. `Verborum &dagger;superficie'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2578_anchor">Petrus Ilerdensis (Peter of Lerida) [fl. 1234]
</a>
<br>
<strong><i>Breuiarium iuris canonici</i>, inc. `Verborum superfluitate penitus 
resecata'</strong>
pr. Paris 1516 &amp;c.; Schulte, 2. 485&ndash;6; S. Kuttner in 
<i>Collectanea Vaticana in honorem Anselmi M. Card. Albareda</i>, Studi e
testi 212 (Rome 1962), 421&ndash;2.

</li>

<li>
B10.97 (`item alius liber qui sic incipit, Scio quosdam putare'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong>Prologue to Psalms (<i>ep.</i> 158)</strong>
ed. D. de Bruyne, <i>Pr&eacute;faces de la 
Bible latine</i> (Namur 1920), 46&ndash;7; Lambert 158; Stegm&uuml;ller <i>Bibl.</i> 443.

</li>

<li>
B10.107: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3351_anchor">Thomas of Capua [before 1185&ndash;1239]
</a>
<br>
<strong><i>Summa de arte dictandi</i></strong>
ed. S. F. Hahn, <i>Collectio monumentorum</i> 
(Brunswick 1724&ndash;6), 2. 279&ndash;385 (from an incomplete manuscript); part ed. 
E. Heller, diss. (Heidelberg 1929).

</li>

<li>
B10.110 (`de hebraicis questionibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Liber quaestionum hebraicarum in Genesim</i></strong>
<i>CPL</i> 580; ed. P. 
de Lagarde, <i>CCSL</i> 72 (1959) 1&ndash;56;  Lambert 200.

</li>

<li>
B10.111: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>De uiris illustribus</i></strong>
<i>CPL</i> 616; ed. A. Ceresa-Gastaldo (Florence
1988); Lambert 260.

</li>

<li>
B10.114: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
[<i>dub.</i>]
<strong>`Expositiones'</strong>
unidentified.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>44 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
