{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p>{% endif %}<h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K2. Catalogus, c. 1360</h3>
<em>99 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K2. 59 (`de cura pastorali'), K2.75 (`de dignitate sacerdotali')
  R3.1 (`de obseruancia episcoporum', 3 copies) = K2. 26: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Libellus de dignitate sacerdotali</i></strong>
<i>CPL</i> 171a.

</li>

<li>
K2.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Noe et arca</i></strong>
<i>CPL</i> 126.

</li>

<li>
K2.2: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Abraham</i></strong>
<i>CPL</i> 127.

</li>

<li>
K2.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Cain et Abel</i></strong>
<i>CPL</i> 125.

</li>

<li>
K2.5: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Passio S. Agnetis</i></strong>
<i>CPL</i> 2159; <i>BHL</i> 156.

</li>

<li>
K2.6 + K2.20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>app.</i>]
<strong><i>De caelorum pluralitate et de aquis caelestibus et de quantitate solis
et lunae</i>, a reworking of passages from Ambrose's <i>Hexaemeron</i>, found in
Durham Cathedral, MS B. IV. 4 (s. xii<sup>in</sup>), fols. 77v&ndash;78r.
</strong>
</li>

<li>
K2.7: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry195_anchor">Ambrosius Autpertus [&dagger;781]
</a>
<br>
<strong>Commentary on Revelation</strong>
pr. Cologne 1536 (Adams A956), &amp;c.; ed. 
R. Weber, <i>CCCM</i> 27, 27A (1975); Stegm&uuml;ller <i>Bibl.</i> 1275.

</li>

<li>
K2.8 (`contra Auxentium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Sermo contra Auxentium de basilicis tradendis</i></strong>
<i>PL</i> 16. 
1007&ndash;1018, where it appears as part of  <i>ep.</i> 21; ed. O. Faller
&amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 82&ndash;107 (<i>ep.</i> 75a). Forms a group
with <i>epp.</i> 20&ndash;21 (<i>epp.</i> 75&ndash;6 in the edition by Faller &amp; Zelzer,
<i>CSEL</i> 82/3. 74&ndash;81, 82&ndash;107, 108&ndash;125).

</li>

<li>
K2.9: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De bono animae'</strong>
unidentified.

</li>

<li>
K2.10: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Exhortatio uirginitatis</i></strong>
<i>CPL</i> 149. [See also Ambrose, <i>De uirginitate</i>.]

</li>

<li>
K2.11 (ep. 21): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Sermo contra Auxentium de basilicis tradendis</i></strong>
<i>PL</i> 16. 
1007&ndash;1018, where it appears as part of  <i>ep.</i> 21; ed. O. Faller
&amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 82&ndash;107 (<i>ep.</i> 75a). Forms a group
with <i>epp.</i> 20&ndash;21 (<i>epp.</i> 75&ndash;6 in the edition by Faller &amp; Zelzer,
<i>CSEL</i> 82/3. 74&ndash;81, 82&ndash;107, 108&ndash;125).

</li>

<li>
K2.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De patriarchis</i></strong>
<i>CPL</i> 132.

</li>

<li>
K2.13 (`super Beati immaculati'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Expositio de Psalmo CXVIII</i></strong>
<i>CPL</i> 141.

</li>

<li>
K2.14 (`de traditione basilicae ep.', ep. 20): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Sermo contra Auxentium de basilicis tradendis</i></strong>
<i>PL</i> 16. 
1007&ndash;1018, where it appears as part of  <i>ep.</i> 21; ed. O. Faller
&amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 82&ndash;107 (<i>ep.</i> 75a). Forms a group
with <i>epp.</i> 20&ndash;21 (<i>epp.</i> 75&ndash;6 in the edition by Faller &amp; Zelzer,
<i>CSEL</i> 82/3. 74&ndash;81, 82&ndash;107, 108&ndash;125).

</li>

<li>
K2.15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De beatitudinibus'</strong>
unidentified.

</li>

<li>
K2.16 (`de basilicis tradendis contra Auxentium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Sermo contra Auxentium de basilicis tradendis</i></strong>
<i>PL</i> 16. 
1007&ndash;1018, where it appears as part of  <i>ep.</i> 21; ed. O. Faller
&amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 82&ndash;107 (<i>ep.</i> 75a). Forms a group
with <i>epp.</i> 20&ndash;21 (<i>epp.</i> 75&ndash;6 in the edition by Faller &amp; Zelzer,
<i>CSEL</i> 82/3. 74&ndash;81, 82&ndash;107, 108&ndash;125).

</li>

<li>
K2.17 (`de patriarchis secundum Cassiodorum') = K2.64: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De patriarchis</i></strong>
<i>CPL</i> 132.

</li>

<li>
K2.18 (`de consolacione Valentiniani'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De obitu Valentiniani</i></strong>
<i>CPL</i> 158.

</li>

<li>
K2.19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>De corpore et sanguine Domini</i>, a compilation of excerpts
from Ambrose's writings, attributed to Heriger of Lobbes.
</strong>
</li>

<li>
K2.20 + K2.66: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>app.</i>]
<strong><i>De caelorum pluralitate et de aquis caelestibus et de quantitate solis
et lunae</i>, a reworking of passages from Ambrose's <i>Hexaemeron</i>, found in
Durham Cathedral, MS B. IV. 4 (s. xii<sup>in</sup>), fols. 77v&ndash;78r.
</strong>
</li>

<li>
K2.21 (attrib. Ambrose): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3779_anchor">William of Saint-Thierry OCist [1075/80&ndash;1148]
</a>
<br>
<strong><i>Excerpta de libris beati Ambrosii super Cantica canticorum</i></strong>
 <i>PL</i> 15. 1947&ndash;2060; ed. A. van Burink, <i>CCCM</i> 87 (1997) 199&ndash;384; 
Stegm&uuml;ller <i>Bibl.</i> 3028.

</li>

<li>
K2.22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De apologia prophetae Dauid</i></strong>
<i>CPL</i> 135.

</li>

<li>
K2.23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Hexaemeron</i></strong>
<i>CPL</i> 123.

</li>

<li>
K2.24: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De excessu fratris Satyri</i></strong>
<i>CPL</i> 157.

</li>

<li>
K2.25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Libellus de dignitate sacerdotali</i></strong>
<i>CPL</i> 171a.

</li>

<li>
K2.27 (`egesippum ab eo [sc. Ambrosio] translatum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1261_anchor">Hegesippus is the common medieval name for the Latin <i>Historia Iosephi de
bello iudaico et excidio urbis Hierosolymitanae</i></a>
ed. V. Ussani, <i>CSEL</i> 66/1 
(1932).

<br>
</li>

<li>
K2.28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2879_anchor">Remigius of Auxerre [841&ndash;908], monk of Saint-Germain, Auxerre
</a>
<br>
[<i>pseud.</i>]
<strong><i>De dedicatione ecclesiae</i>, inc. `Morem quem sancta ecclesia tenet
in solemni domus dominicae dedicatione'</strong>
<i>PL</i> 131. 845&ndash;66 (as ps. Remigius).

</li>

<li>
K2.29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistulae</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 875&ndash;1286; ed. O. Faller &amp; M. Zelzer,
<i>CSEL</i> 82/1&ndash;3 (1968&ndash;90). [The letters were reordered by Faller &amp; Zelzer; for
a concordance, see <i>CSEL</i> 82/2 (1990) x&ndash;xiv.]

</li>

<li>
K2.30 (`de passione S. Emerencianae ecclesiae Vercellensi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistula ad Vercellensem ecclesiam</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 1188&ndash;1220
(<i>ep.</i> 63); ed. O. Faller &amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 235&ndash;95 (<i>ep. 
extra</i> 14).

</li>

<li>
K2.31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De fuga saeculi</i></strong>
<i>CPL</i> 133.

</li>

<li>
K2.32 (`de fide expositionem', inc. does not match): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De fide</i></strong>
<i>CPL</i> 150; ed. O. Faller, <i>CSEL</i> 78 (1962). Some copies will
also contain <i>De spiritu sancto</i> and <i>De incarnationis dominicae sacramento</i>,
linked works addressed to the emperor Gratian: <i>CPL</i> 151, 152; ed. O. Faller,
<i>CSEL</i> 79 (1964).

</li>

<li>
K2.33 (`de fide trinitatis'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De fide</i></strong>
<i>CPL</i> 150; ed. O. Faller, <i>CSEL</i> 78 (1962). Some copies will
also contain <i>De spiritu sancto</i> and <i>De incarnationis dominicae sacramento</i>,
linked works addressed to the emperor Gratian: <i>CPL</i> 151, 152; ed. O. Faller,
<i>CSEL</i> 79 (1964).

</li>

<li>
K2.34 (`de Gedeon'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De spiritu sancto</i></strong>
<i>CPL</i> 151; ed. O. Faller, <i>CSEL</i> 79 (1964) 
5&ndash;222. [See also entries noted above under <i>De fide</i>.]

</li>

<li>
K2.35: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistula de sanctis Geruasio et Protasio</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 1019&ndash;26
(<i>ep.</i> 22); ed. O. Faller &amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 126&ndash;40 (<i>ep.</i> 77).

</li>

<li>
K2.36: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Helia et ieiunio</i></strong>
<i>CPL</i> 137.

</li>

<li>
K2.37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Helia et ieiunio</i></strong>
<i>CPL</i> 137.

</li>

<li>
K2.38 (`de incarnatione Christi'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De incarnationis dominicae sacramento</i></strong>
<i>CPL</i> 152; ed. O. Faller, 
<i>CSEL</i> 79 (1964) 223&ndash;81.

</li>

<li>
K2.39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Iacob et uita beata</i></strong>
<i>CPL</i> 130.

</li>

<li>
K2.40: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Ioseph patriarcha</i></strong>
<i>CPL</i> 131.

</li>

<li>
K2.41 (attrib. Ambrose): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2557_anchor">Petrus Chrysologus [&dagger;449], archbishop of Ravenna
</a>
<br>
<strong><i>Sermo de decollatione Ioannis Baptistae</i> (<i>serm.</i> 127; <i>ps.</i> 
Chrysostom)</strong>
<i>CPL</i> 930; <i>PL</i> 52. 549&ndash;52.

</li>

<li>
K2.42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De interpellatione Iob et Dauid</i></strong>
<i>CPL</i> 134.

</li>

<li>
K2.43&ndash;4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De interpellatione Iob et Dauid</i></strong>
<i>CPL</i> 134.

</li>

<li>
K2.45: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistulae ad Irenaeum</i></strong>
<i>CPL</i> 160. Some fourteen of Ambrose's
letters are addressed to Irenaeus.

</li>

<li>
K2.46: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2763_anchor">Prosper of Aquitaine [<i>c</i>390&ndash;<i>c</i>463]
</a>
<br>
<strong><i>De uera innocentia ex operibus S. Augustini</i></strong>
<i>CPL</i> 525; 
ed. M. Gastaldo, <i>CCSL</i> 68A (1972) 257&ndash;365.

</li>

<li>
K2.47: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong>Commentary on Luke</strong>
<i>CPL</i> 143.

</li>

<li>
K2.48: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Recapitulatio de paradiso fonte ac fluminibus et ligno
uitae</i></strong>
<i>PL</i> 93. 269&ndash;316; <i>CPPM</i> 2. 2038. [A 9th-cent. catena of extracts 
from Isidore; the majority of the manuscripts (from 12th cent.) carry an 
ascription to Ambrose; <i>PL</i> prints as ps. Bede, Gorman identifies as a 
Genesis commentary by Wigbod.]

</li>

<li>
K2.49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De musica'</strong>
unidentified.

</li>

<li>
K2.50: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De mysteriis</i></strong>
<i>CPL</i> 155.

</li>

<li>
K2.51: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De media nocte'</strong>
unidentified.

</li>

<li>
K2.52: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De bono mortis</i></strong>
<i>CPL</i> 129.

</li>

<li>
K2.53: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Nabuthae</i></strong>
<i>CPL</i> 138.

</li>

<li>
K2.54: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De officiis ministrorum</i></strong>
<i>CPL</i> 144.

</li>

<li>
K2.55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Expositio de Psalmo CXVIII</i></strong>
<i>CPL</i> 141.

</li>

<li>
K2.56 (`super prophetas commentarios per Cassiodorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Expositio Isaiae prophetae</i></strong>
<i>CPL</i> 142; not known to survive,
but quoted by Augustine.

</li>

<li>
K2.57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De paradiso</i></strong>
<i>CPL</i> 124.

</li>

<li>
K2.58 (w. <i>CPL</i> 854): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De poenitentia</i></strong>
<i>CPL</i> 156.

</li>

<li>
K2.59 (inc. added to incorrect title): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De incarnationis dominicae sacramento</i></strong>
<i>CPL</i> 152; ed. O. Faller, 
<i>CSEL</i> 79 (1964) 223&ndash;81.

</li>

<li>
K2.60 (`de eligendo pontifice ad Vercellenses'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistula ad Vercellensem ecclesiam</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 1188&ndash;1220
(<i>ep.</i> 63); ed. O. Faller &amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 235&ndash;95 (<i>ep. 
extra</i> 14).

</li>

<li>
K2.61 (`super epistolas Pauli secundum Cassiodorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry191_anchor">`Ambrosiaster' [fl. 370]
</a>
<br>
<strong>Commentary on the Pauline Epistles</strong>
<i>CPL</i> 184; ed. H. J. Vogels, <i>CSEL</i>
81 (1966&ndash;9).

</li>

<li>
K2.62: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>De mysterio paschae</i> (<i>serm.</i> 35)</strong>
<i>PL</i> 17. 672&ndash;5; <i>CPPM</i> 1. 45.

</li>

<li>
K2.63: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De poenitentia epistulae 4'</strong>
 
</li>

<li>
K2.64: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De patriarchis</i></strong>
<i>CPL</i> 132.

</li>

<li>
K2.65: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Expositio de Psalmo CXVIII</i></strong>
<i>CPL</i> 141.

</li>

<li>
K2.66: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>app.</i>]
<strong><i>De caelorum pluralitate et de aquis caelestibus et de quantitate solis
et lunae</i>, a reworking of passages from Ambrose's <i>Hexaemeron</i>, found in
Durham Cathedral, MS B. IV. 4 (s. xii<sup>in</sup>), fols. 77v&ndash;78r.
</strong>
</li>

<li>
K2.67: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry191_anchor">`Ambrosiaster' [fl. 370]
</a>
<br>
<strong><i>Quaestiones ueteris et noui testamenti</i></strong>
<i>CPL</i> 185.

</li>

<li>
K2.68: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1197_anchor">Gregory of Elvira [&dagger; after 392], bishop of Elvira
</a>
<br>
<strong>(attrib.), <i>De Salomone</i></strong>
<i>CPL</i> 555; ed. V. Bulhart, <i>CCSL</i> 69 (1967) 
253&ndash;9.

</li>

<li>
K2.69: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Recapitulatio de paradiso fonte ac fluminibus et ligno
uitae</i></strong>
<i>PL</i> 93. 269&ndash;316; <i>CPPM</i> 2. 2038. [A 9th-cent. catena of extracts 
from Isidore; the majority of the manuscripts (from 12th cent.) carry an 
ascription to Ambrose; <i>PL</i> prints as ps. Bede, Gorman identifies as a 
Genesis commentary by Wigbod.]

</li>

<li>
K2.70: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De sacramento regenerationis siue De philosophia</i></strong>
<i>CPL</i> 161;
not known to surivive but quoted by Augustine.

</li>

<li>
K2.71: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Sermones</i></strong>
<i>CPL</i> 180.

</li>

<li>
K2.72 (`contra relationem Symmachi ep.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Epistula aduersus relationem Symmachi</i></strong>
<i>CPL</i> 160; <i>PL</i> 16. 971&ndash;82
(<i>ep.</i> 18); ed. O. Faller &amp; M. Zelzer, <i>CSEL</i> 82/3 (1982) 34&ndash;53 (<i>ep.</i> 73).

</li>

<li>
K2.73: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De spiritu sancto</i></strong>
<i>CPL</i> 151; ed. O. Faller, <i>CSEL</i> 79 (1964) 
5&ndash;222. [See also entries noted above under <i>De fide</i>.]

</li>

<li>
K2.74: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De sacramentis</i></strong>
<i>CPL</i> 154.

</li>

<li>
K2.75 (`de dignitate sacerdotali'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Libellus de dignitate sacerdotali</i></strong>
<i>CPL</i> 171a.

</li>

<li>
K2.76: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Exhortatio ad neophytos de symbolo</i></strong>
<i>CPL</i> 178.

</li>

<li>
K2.77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>De lapsu uirginis consecratae</i> (<i>ps.</i> Ambrose, <i>ps.</i> Jerome)</strong>
<i>CPL</i> 
651; <i>CPPM</i> 2. 3580. Possibly the work of Nicetas of Remesiana. [See also 
Ambrose, <i>De uirginitate</i>.]

</li>

<li>
K2.78: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De iudicio Salomonis et duabus mulieribus'</strong>
unidentified.

</li>

<li>
K2.79: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>Sententiae de poenitentia Salomonis</i></strong>
ed. R. W. Hunt in <i>MARS</i> 4 
(1958) 30&ndash;34.

</li>

<li>
K2.80: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1197_anchor">Gregory of Elvira [&dagger; after 392], bishop of Elvira
</a>
<br>
<strong>(attrib.), <i>De Salomone</i></strong>
<i>CPL</i> 555; ed. V. Bulhart, <i>CCSL</i> 69 (1967) 
253&ndash;9.

</li>

<li>
K2.81 (`de silentio triplici .&nbsp;. ``tria sunt''', attrib. Ambrose): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1423_anchor">Hugh of Saint-Victor OSA [<i>c</i>1096&ndash;1141]
</a>
<br>
<strong><i>De uerbo incarnato</i></strong>
<i>PL</i> 177. 315&ndash;24; Goy, 81&ndash;7.

</li>

<li>
K2.82 (`de trinitate ad Gratianum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De fide</i></strong>
<i>CPL</i> 150; ed. O. Faller, <i>CSEL</i> 78 (1962). Some copies will
also contain <i>De spiritu sancto</i> and <i>De incarnationis dominicae sacramento</i>,
linked works addressed to the emperor Gratian: <i>CPL</i> 151, 152; ed. O. Faller,
<i>CSEL</i> 79 (1964).

</li>

<li>
K2.83 (`de s. Thobia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Tobia</i></strong>
<i>CPL</i> 139.

</li>

<li>
K2.84: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De obitu Theodosii</i></strong>
<i>CPL</i> 159.

</li>

<li>
K2.85: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>dub.</i>]
<strong>`De thema'</strong>
unidentified.

</li>

<li>
K2.86 (`de laude uirginum lib. 3'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De uirginitate</i>. In manuscripts the title `De uirginitate' usually
heads the text listed as <i>De uirginibus</i> (<i>CPL</i> 145), while `De uirginibus'
can refer to <i>De uirginitate</i> (<i>CPL</i> 147), as in Bodl. MS Bodley 792 (<i>SC</i>
2640) (s. xii<sup>1</sup>). The treatises usually travel as a group</strong>
&ndash; <i>a.</i>
<i>De uirginibus</i> (<i>CPL</i> 145). <i>b.</i> <i>De uiduis</i> (<i>CPL</i> 146). <i>c.</i> <i>De uirginitate</i>
(<i>CPL</i> 147). These may be accompanied by <i>De institutione uirginis</i> (<i>CPL</i> 148),
<i>Exhortatio uirginitatis</i> (<i>CPL</i> 149), or <i>ps.</i> Ambrose, <i>De lapsu uirginis
consecratae</i> (<i>CPL</i> 651). On its own the title `De uirginitate' in catalogues
probably designates such a group.

</li>

<li>
K2.87: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De uiduis</i></strong>
<i>CPL</i> 146. [See also Ambrose, <i>De uirginitate</i>.]

</li>

<li>
K2.88: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Exhortatio uirginitatis</i></strong>
<i>CPL</i> 149. [See also Ambrose, <i>De uirginitate</i>.]

</li>

<li>
K2.89: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De obitu Valentiniani</i></strong>
<i>CPL</i> 158.

</li>

<li>
K2.90: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De obitu Valentiniani</i></strong>
<i>CPL</i> 158.

</li>

<li>
K2.91&ndash;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
[<i>pseud.</i>]
<strong><i>De lapsu uirginis consecratae</i> (<i>ps.</i> Ambrose, <i>ps.</i> Jerome)</strong>
<i>CPL</i> 
651; <i>CPPM</i> 2. 3580. Possibly the work of Nicetas of Remesiana. [See also 
Ambrose, <i>De uirginitate</i>.]

</li>

<li>
K2.94 (`de uirginitate lib. 2', <i>CPL</i> 147, 149): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De uirginitate</i>. In manuscripts the title `De uirginitate' usually
heads the text listed as <i>De uirginibus</i> (<i>CPL</i> 145), while `De uirginibus'
can refer to <i>De uirginitate</i> (<i>CPL</i> 147), as in Bodl. MS Bodley 792 (<i>SC</i>
2640) (s. xii<sup>1</sup>). The treatises usually travel as a group</strong>
&ndash; <i>a.</i>
<i>De uirginibus</i> (<i>CPL</i> 145). <i>b.</i> <i>De uiduis</i> (<i>CPL</i> 146). <i>c.</i> <i>De uirginitate</i>
(<i>CPL</i> 147). These may be accompanied by <i>De institutione uirginis</i> (<i>CPL</i> 148),
<i>Exhortatio uirginitatis</i> (<i>CPL</i> 149), or <i>ps.</i> Ambrose, <i>De lapsu uirginis
consecratae</i> (<i>CPL</i> 651). On its own the title `De uirginitate' in catalogues
probably designates such a group.

</li>

<li>
K2.95: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>De Isaac uel anima</i></strong>
<i>CPL</i> 128.

</li>

<li>
K2.96 (`super Ysaiam prophetam'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Expositio Isaiae prophetae</i></strong>
<i>CPL</i> 142; not known to survive,
but quoted by Augustine.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>99 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
