{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/R" title="REGISTRUM ANGLIE">REGISTRUM ANGLIE</a>  &gt; Union catalogue by author and title, early 14th cent.</p>{% endif %}<h2>REGISTRUM ANGLIE</h2><h3 class="medieval_catalogue_desc">R49. Union catalogue by author and title, early 14th cent.</h3>
<em>4 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
R49.1 = K82.1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry441_anchor">Berengaudus [9th cent.], monk of Ferri&egrave;res
</a>
<br>
[<i>dub.</i>]
<strong>`De incarnacione uerbi'</strong>
unidentified.

</li>

<li>
R49.2 (12 copies, attrib. Berengaudus) = K82.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry441_anchor">Berengaudus [9th cent.], monk of Ferri&egrave;res
</a>
<br>
<strong><i>Expositio super septem uisiones libri Apocalypsis</i></strong>
pr. as the
work of Ambrose, Paris 1554, &amp;c.; <i>PL</i> 17. 765&ndash;970 (with the works of 
Ambrose); Stegm&uuml;ller <i>Bibl.</i> 1711.

</li>

<li>
R49.3 (attrib. Berengaudus, 1 copy) = K82.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry439_anchor">Berengar of Tours [<i>c</i>1010&ndash;1088]
</a>
<br>
<strong><i>Epistolae</i>, did not normally circulate as a collection, though one 
such was edited from a 16th-cent. copy, C. Erdmann &amp; N. Fickermann, 
<i>Brief-sammlungen der Zeit Heinrichs IV</i>, MGH <i>Briefen</i> 5 (1950), 132&ndash;72.
</strong>
</li>

<li>
R49.4 (as Berengaudus): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1247_anchor">Haimo of Auxerre [fl. 840&ndash;865]
</a>
<br>
<span class="biblio_block">
<i>Textes et manuscrits ex&eacute;g&eacute;tiques carolingiens. &Eacute;tudes autour d'Haymon 
d'Auxerre</i>, ed. S. Shimahara (Turnhout 2007).
</span>
<br>
<strong>Commentary on the Song of Songs</strong>
<i>CPL</i> 910; <i>PL</i> 70. 1055&ndash;1106
(as Cassiodorus, with biblical quotations marked); <i>PL</i> 117. 295&ndash;358 (as 
Haimo); Stegm&uuml;ller <i>Bibl.</i> 3065, 3079.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>4 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
