{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/K" title="HENRY DE KIRKESTEDE">HENRY DE KIRKESTEDE</a>  &gt; Catalogus, c. 1360</p>{% endif %}<h2>HENRY DE KIRKESTEDE</h2><h3 class="medieval_catalogue_desc">K337. Catalogus, c. 1360</h3>
<em>9 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
K337.1 (`breuiloquium antiquorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Breuiloquium de uirtutibus antiquorum principum et 
philosophorum</i></strong>
pr. Lyon 1511, fols. 200v&ndash;216r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322b.

</li>

<li>
K337.2 (`floriloquium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Floriloquium siue Compendiloquium de uita et dictis illustrium philosophorum</i></strong>
 pr. Lyon 1511, fols. 140r&ndash;194r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322c.

</li>

<li>
K337.3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Communiloquium siue Summa collationum ad omne genus hominum</i></strong>
 pr. Lyon 1511, 1r&ndash;139v, &amp;c.; Glorieux <i>Rep.</i> 322a.

</li>

<li>
K337.4: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Moniloquium siue Collectiloquium</i></strong>
unpr.; Glorieux <i>R&eacute;p.</i> 322l; 
Bloomfield 1038.

</li>

<li>
K337.5 (`dietarium religiosorum lib. 3 .&nbsp;. ordinarium uite religiose,
   locarium, itinerarium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Ordinarium siue Alphabetum uitae religiosae</i></strong>
pr. Lyon 1511, 217r&ndash;255r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322e.

</li>

<li>
K337.6 (attrib. J. Waleys, 1 copy)): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2586_anchor">Peter of Limoges [&dagger;1306]
</a>
<br>
<strong><i>Oculus moralis</i></strong>
pr. Venice 1496 &amp;c.; Thomson, <i>Grosseteste</i>, 
256&ndash;7; Bloomfield 5532. See also R. Newhauser in <i>Exempel und 
Exempel-Sammlungen</i>, ed. W. Haug &amp; B. Wachinger (T&uuml;bingen 1991), 95&ndash;136.

</li>

<li>
K337.7 (`compendiloquium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Floriloquium siue Compendiloquium de uita et dictis illustrium philosophorum</i></strong>
 pr. Lyon 1511, fols. 140r&ndash;194r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322c.

</li>

<li>
K337.9 (`de quattuor uirtutibus'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Breuiloquium de uirtutibus antiquorum principum et 
philosophorum</i></strong>
pr. Lyon 1511, fols. 200v&ndash;216r, &amp;c.; Glorieux <i>R&eacute;p.</i> 322b.

</li>

<li>
K337.12: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1911_anchor">John Waleys OFM [&dagger;1285]
</a>
<br>
<strong><i>Pastoralia</i></strong>
not known to survive; Glorieux <i>R&eacute;p.</i> 322w; Sharpe,
<i>Latin Writers</i>, 338.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>9 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
