{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
{% if not printing %}<p><a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues" title="Back to list of medieval catalogues">Medieval catalogues</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S" title="SCOTLAND">SCOTLAND</a>  &gt; <a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/source/S/337" title="St Mary's College">St Mary's College</a>  &gt; Inventory of books, c. 1559 &times; 1574</p>{% endif %}<h2>SCOTLAND: St Mary's College</h2><h3 class="medieval_catalogue_desc">S22. Inventory of books, c. 1559 &times; 1574</h3>
<em>131 identified entries found.</em>
<div class="index">

<ul id="catalogue_entry_list">
<li>
S22.&para;1 (Gn&ndash;Dt): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry488_anchor"><i>Biblia sacra</i> with the <i>Glossa ordinaria</i></a>
pr. [Strassburg not after 1480]
(<i>GW</i> 4282) / repr. with introduction by K. Froehlich &amp; M. T. Gibson, Turnhout 
1992.

<br>
</li>

<li>
S22.&para;2 (vol. 5): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1634_anchor">John Chrysostom [<i>c</i>347&ndash;407], patriarch of Constantinople
</a>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Basel 1504 &amp;c.

</li>

<li>
S22.&para;3: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong><i>Sermones de tempore ad saeculares cum enarrationibus euangeliorum
et epistolarum dominicalium</i></strong>
pr. Cologne 1533 (Adams D604), &amp;c.; pr.
<i>Doctoris ecstatici D. Dionysii Cartusiani opera omnium</i> (Montreuil/Tournai
1896&ndash;1935), vols. 29&ndash;30; K. Emery, <i>CCCM</i> 121 (1991) 240.

</li>

<li>
S22.&para;4&ndash;*5 (4 vols in 2): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/O/#entry2430_anchor">Origen [<i>c</i>185&ndash;<i>c</i>254]
</a>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
4 vols, pr. Paris 1512&ndash;30, [1522] (Adams O280); 
ed. D. Erasmus, Basel 1536 (Adams O283), &amp;c.

</li>

<li>
S22.&para;6: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum doctrinale</i></strong>
&para;*pr. [Strassburg, not after 1478] (Goff
V279); pr. Douai 1624 / repr. Graz 1965; Kaeppeli 3984.

</li>

<li>
S22.&para;7 (vol. 1): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1422_anchor">Hugh of Saint-Cher OP [&dagger;1263]
</a>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
S22.&para;8 (vol. 9): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Omnia opera</i>, edited by Beatus Rhenanus</strong>
pr. in 9 vols, 
Basel 1540[&ndash;42] (Adams
E309)

</li>

<li>
S22.&para;9 (vol. 1): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Omnia opera</i>, edited by Beatus Rhenanus</strong>
pr. in 9 vols, 
Basel 1540[&ndash;42] (Adams
E309)

</li>

<li>
S22.&para;10 (`Ruperti abbatis libri XLII'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3055_anchor">Rupert of Deutz OSB [<i>c</i>1075&ndash;1129/30], abbot of Deutz
</a>
<br>
<strong><i>De sancta trinitate et operibus eius</i>, a biblical commentary, of 
which no complete manuscript set survives</strong>
pr. Cologne 1528 (Adam R921),
&amp;c.; <i>PL</i> 167. 193&ndash;1828; ed. H. Hacke, <i>CCCM</i> 21&ndash;4 (1971&ndash;2).

</li>

<li>
S22.&para;11: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum naturale</i></strong>
&para;*pr. [Strassburg, not after 1476] (Goff 
V292); pr. Douai 1624 / repr. Graz 1965; Kaeppeli 3982.

</li>

<li>
S22.&para;12 (`de indiuidua trinitate liber primus', I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Cologne 1535 (Adams D537);
pr. <i>Doctoris ecstatici D. Dionysii Carthusiani opera omnia</i> (Montreuil/Tournai
1896&ndash;1935), vols. 19&ndash;25; K. Emery, <i>CCCM</i> 121 (1991) 228; Stegm&uuml;ller 
<i>Sent.</i> 183.

</li>

<li>
S22.&para;13: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1474_anchor">Jacques Lef&egrave;vre d'&Eacute;taples (Iacobus Faber Stapulensis) [<i>c</i>1455&ndash;1536]
</a>
<br>
<span class="biblio_block">
E. Amann in <i>DTC</i> 9. 132&ndash;59.
</span>
<br>
<strong><i>Quincuplex Psalterium</i></strong>
pr. Paris 1509 (Moreau, 1. 27), &amp;c.; pr. Paris
1513 / repr. Geneva 1979; preface, Rice 66.

</li>

<li>
S22.&para;14: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry538_anchor">Burchard of Worms [&dagger;1025], bishop of Worms
</a>
<br>
<strong><i>Decreta</i></strong>
<i>PL</i> 140. 537&ndash;1057.

</li>

<li>
S22.&para;?*15: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry717_anchor">Cyril of Alexandria [&dagger;444], patriarch of Alexandria
</a>
<br>
<strong><i>Thesaurus de sancta et consubstantiali Trinitate</i>, tr. George of 
Trebizond</strong>
<i>CPG</i> 5215; pr. Paris 1514 &amp;c.; <i>PG</i> 75. 11&ndash;656.

</li>

<li>
S22.&para;16: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<span class="biblio_block">
Kaeppeli's repertory of Dominican writers excluded Thomas Aquinas, for 
whom there is no manuscript-based listing. Since the list by Glorieux, 
1. 85&ndash;104, the tally of works has been reduced. For an up-to-date list, 
see G. Emery in J. P. Torrell, <i>Thomas Aquinas</i> 1 <i>The Person and His work</i> 
(Washington, DC, 1996), 330&ndash;61, following on from lists by  I. T. Eschmann 
in E. Gilson, <i>The Christian Philosophy of St Thomas Aquinas</i> (New York, 
NY, 1956), 381&ndash;437, and  J. A. Weisheipl, <i>Friar Thomas d'Aquino</i> (New 
York, NY, 1974), 355&ndash;405. There is an up-to-date list of current editions
by E. Alarc&oacute;n, <i>Optimae editiones operum Thomae de Aquino</i>, 
http://corpusthomisticum.org/reoptiedi.html.
</span>
<br>
<strong><i>Lectura in omnes epistolas Pauli</i></strong>
ed. R. Cai (Turin 1953);  
Glorieux <i>R&eacute;p.</i> 14ac; Stegm&uuml;ller <i>Bibl.</i> 8051&ndash;64.

</li>

<li>
S22.&para;17 (`Aetii medici tetrabiblos'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry68_anchor">A&euml;tius of Amida [fl. 540&ndash;550]
</a>
<br>
<strong><i>De re medica</i>, Latin tr. by Janus Cornarius and Iohannes Baptista
Montanus</strong>
&para;*pr. Basel 1533&ndash;5 (Adams A304).

</li>

<li>
S22.&para;18: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3055_anchor">Rupert of Deutz OSB [<i>c</i>1075&ndash;1129/30], abbot of Deutz
</a>
<br>
<strong>Commentary on the Minor Prophets</strong>
<i>PL</i> 168. 9&ndash;836; Stegm&uuml;ller <i>Bibl.</i>
7566&ndash;77.

</li>

<li>
S22.&para;19: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry905_anchor">Euclid [fl. 300 BC]
</a>
<br>
<strong><i>Elementa</i>, tr. from Arabic by Adelard of Bath</strong>
pr. Venice 1482 (<i>GW</i> 
9428), &amp;c.; ed. G. D. Goldat, PhD diss. (University of Wisconsin 1954); ed. 
H. L. L. Busard &amp; M. Folkerts, <i>Robert of Chester's (?) Redaction of Euclid's 
Elementa</i> (Basel 1992). This version, known as Adelard II, is the most widely 
known of three versions attributed to Adelard, and that most consistenly 
ascribed to him in manuscripts. It was also that used by Campanus of Novara 
for his commentary. 

</li>

<li>
S22.&para;20: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong><i>Enarrationes in libros Iosue, Iudicum, Ruth, Regum I&ndash;IV,
Paralipomenon I&ndash;II</i></strong>
pr. Cologne 1535 (Adams D554), &amp;c.; pr. <i>Doctoris
ecstatici D. Dionysii Cartusiensis opera omnia</i> (Montreuil/Tournai 
1896&ndash;1935), vols. 3&ndash;4; K. Emery, <i>CCCM</i> 121 (1991) 219&ndash;20; Stegm&uuml;ller
<i>Bibl.</i> 2078&ndash;86.

</li>

<li>
S22.&para;21: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1867_anchor">Juan Gin&eacute;s de Sep&uacute;lveda [1494&ndash;1573]
</a>
<br>
<strong><i>Alexandri Aphrodisiei commentaria in duodecim Aristotelis libros 
de prima philosophia, interprete Ioanne Genesio Sepulueda Cordubensi</i></strong>
pr.
Venice 1544.

</li>

<li>
S22.&para;22: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3349_anchor">Thomas Caietanus (Tommaso de Vio) OP [1469&ndash;1535], bishop of Gaeta and cardinal
</a>
<br>
<strong><i>Commentarii in quinque Mosaicos libros</i></strong>
pr. Paris 1539 (Adams
C129), &amp;c.

</li>

<li>
S22.&para;23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry803_anchor">Dioscorides [1st cent.]
</a>
<br>
<strong><i>De materia medica libri V</i>, Latin tr. by Iohannes Ruellius</strong>
pr.
Lyon 1516 (Moreau, 2. 1334), &amp;c.

</li>

<li>
S22.&para;25: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong><i>In libros B. Dionysii Areopagitae</i></strong>
pr. Cologne 1536 (Adams D620),
&amp;c.; pr. <i>Doctoris ecstatici D. Dionysii Cartusiani opera omnia</i> 
(Montreuil/Tournai 1896&ndash;1935), vols. 15&ndash;16; K. Emery, <i>CCCM</i> 121 (1991)
227&ndash;8.

</li>

<li>
S22.&para;26 (`de redemptione et iustificatione liber tertius', III): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Cologne 1535 (Adams D537);
pr. <i>Doctoris ecstatici D. Dionysii Carthusiani opera omnia</i> (Montreuil/Tournai
1896&ndash;1935), vols. 19&ndash;25; K. Emery, <i>CCCM</i> 121 (1991) 228; Stegm&uuml;ller 
<i>Sent.</i> 183.

</li>

<li>
S22.&para;27: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry835_anchor">Durandus de S. Porciano OP [<i>c</i>1275&ndash;1334]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
pr. Venice 1571; ed. G. 
Guldentops &amp; others (Leuven 2011&ndash;); Stegm&uuml;ller <i>Sent.</i> 192&ndash;5; Kaeppeli 927.

</li>

<li>
S22.&para;28: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/L/#entry2121_anchor">Ludolf of Saxony OCarth [<i>c</i>1300&ndash;1378]
</a>
<br>
<strong><i>Vita Christi</i></strong>
pr. [Cologne <i>c.</i> 1472] (<i>CIBN</i> L260), &amp;c.; ed. L. M. 
Rigollot, <i>Ludolphus de Saxonia. Vita Iesu Christi</i> (Paris/Rome 1865, 1870).

</li>

<li>
S22.&para;29: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Annotationes in Nouum Testamentum</i></strong>
pr. separately, Basel 1519 
(Adams E887), &amp;c.

</li>

<li>
S22.&para;30 (vol. 3): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry891_anchor">Desiderius Erasmus [1466&ndash;1536]
</a>
<br>
<strong><i>Omnia opera</i>, edited by Beatus Rhenanus</strong>
pr. in 9 vols, 
Basel 1540[&ndash;42] (Adams
E309)

</li>

<li>
S22.&para;31: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3484_anchor">Vincent of Beauvais OP [1189/94&ndash;<i>c</i>1264]
</a>
<br>
<strong><i>Speculum historiale</i></strong>
pr. Douai 1624 / repr. Graz 1964&ndash;5;
Kaeppeli 3987.

</li>

<li>
S22.&para;*32: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong><i>Methodus medendi</i>, Latin tr. by Thomas Linacre</strong>
&para;*pr. Paris 1519 
(Moreau, 2. 2061), &amp;c.; &para;*pr. Paris 1530.

</li>

<li>
S22.&para;33&ndash;5 + 37: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry352_anchor">Augustine [354&ndash;430], bishop of Hippo
</a>
<br>
<strong><i>Opera</i></strong>
ed. J. Amerbach (Basel 1505&ndash;6), &amp;c.; ed. Erasmus (1518). See
J. de Ghellinck, `Une &eacute;dition patristique c&eacute;l&egrave;bre', <i>Patristique et moyen
&acirc;ge: &eacute;tudes d'histoire litt&eacute;raire et doctrinale</i> 3 (Paris 1948), 339&ndash;484;
V. Scholderer, `The first collected edition of St Augustine', <i>Fifty essays
in fifteenth- and sixteenth-century bibliography</i> (Amsterdam 1966), 275&ndash;8. 

</li>

<li>
S22.&para;36 (vol. 9) + S22.&para;39: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
S22.&para;38: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry192_anchor">Ambrose [<i>c</i>339&ndash;397], archbishop of Milan
</a>
<br>
<strong><i>Opera</i></strong>
pr. Basel 1492 (<i>GW</i> 1599), Basel 1506 (Adams A934), &amp;c.

</li>

<li>
S22.&para;39 (vol. 4): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1517_anchor">Jerome [<i>c</i>347&ndash;420]
</a>
<br>
<strong><i>Opera</i></strong>
pr. in nine volumes, Basel 1516 (J113), &amp;c. 

</li>

<li>
S22.&para;40 (`postille maiores in epistolas et euangelia'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3757_anchor">Willelmus Parisiensis OP [&dagger; <i>c</i>1485/6]
</a>
<br>
<strong><i>Postilla siue Expositio epistolarum et euangeliorum</i></strong>
pr. 
[?Germany, not before 1474] (<i>GW</i> 11921, Goff G642), &amp;c. <i>GW</i> records 
over one hundred early editions; these usually carry the attribution to 
Guillelmus, Guillermus, Guillerinus, &amp;c. The work is an elaboration of 
that of Iohannes Herolt (`Discipulus') (Kaeppeli 2393&ndash;4), and its 
authorship is discussed in <i>GW</i> 10. 426&ndash;30.

</li>

<li>
S22.&para;41 (`sermones de sanctis Hugonis fratris'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/E/#entry932_anchor">Evrardus de Valle Scholarum OSA [&dagger; <i>c</i>1272]
</a>
<br>
<strong><i>Sermones de sanctis</i></strong>
pr. Heidelberg 1485 (<i>GW</i>
9489), &amp;c.

</li>

<li>
S22.&para;42: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1846_anchor">Iohannes Royardus OFM [1475&ndash;1547]
</a>
<br>
<strong><i>Homiliae in omnes epistolas feriales quadragesimae iuxta literam</i></strong>
pr.
Antwerp 1542, &amp;c.

</li>

<li>
S22.&para;43 (vol. 3): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1672_anchor">Johannes Eck [1486&ndash;1543]
</a>
<br>
<strong><i>Homiliarius contra sectas</i></strong>
pr. in 4 vols, [Augsburg] 1536, &amp;c.

</li>

<li>
S22.&para;44: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1846_anchor">Iohannes Royardus OFM [1475&ndash;1547]
</a>
<br>
<strong><i>Homiliae in euangelia dominicalia iuxta literam</i></strong>
pr. Antwerp 1542, 
Paris 1542 (Adams R834), &amp;c.

</li>

<li>
S22.&para;45 (vol. 2): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1672_anchor">Johannes Eck [1486&ndash;1543]
</a>
<br>
<strong><i>Homiliarius contra sectas</i></strong>
pr. in 4 vols, [Augsburg] 1536, &amp;c.

</li>

<li>
S22.&para;46: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2158_anchor">Marcus Gatinaria [&dagger;1496]
</a>
<br>
<strong><i>De curis aegritudinum particularium noni Almansoris practica</i></strong>
pr.
Lyon 1506 &amp;c.

</li>

<li>
S22.&para;47: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry355_anchor">Augustinus Datus Senensis (Agostino Dati of Siena) [1420&ndash;1478] 
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 33. 15&ndash;21.
</span>
<br>
<strong><i>Elegantiolae</i></strong>
pr. under various titles, Ferrara 1471 (<i>GW</i> 8032),
&amp;c.

</li>

<li>
S22.&para;48 (`sermones Rob. Litio'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry2959_anchor">Robertus Caracciolus de Licio (Roberto Caracciolo) OFM [1425&ndash;1495]
</a>
<br>
<strong><i>Sermones</i></strong>
pr. [Venice 1474/75] (<i>GW</i> 6045), &amp;c. [Some may represent
his popular Lenten sermons, entered below were specificity is available.]

</li>

<li>
S22.&para;49: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3759_anchor">Guillaume Pepin [&dagger;1533]
</a>
<br>
<span class="biblio_block">
J. K. Farge, <i>Biographical Register of Paris Doctors of Theology 
1500&ndash;1536</i> (Toronto 1980), 364&ndash;7.
</span>
<br>
<strong><i>Sermones dominicales totius anni</i></strong>
pr. Paris 1523 (Moreau, 3. 566), &amp;c.

</li>

<li>
S22.&para;50: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3759_anchor">Guillaume Pepin [&dagger;1533]
</a>
<br>
<strong><i>De imitatione sanctorum</i></strong>
pr. Paris 1520 (Moreau, 2. 2437), &amp;c.

</li>

<li>
S22.&para;51 (`inuentarium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1707_anchor">Jean Gerson [1363&ndash;1429]
</a>
<br>
<strong><i>Opera</i></strong>
pr. [Cologne] 1483&ndash;4 (Goff G185), &amp;c. [Editions such
as Strassburg 1514 and Paris 1520&ndash;21 include a separate inventory of
Gerson's writings.]

</li>

<li>
S22.&para;52: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2639_anchor">Petrus Viretus (Pierre Viret) [1511&ndash;1571]
</a>
<br>
<strong><i>De origine continuatione usu authoritate atque praestantia ministerii
uerbi Dei et sacramentorum</i></strong>
pr. [Geneva] 1554.

</li>

<li>
S22.&para;52<sup>x</sup> = S23.&para;1: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1308_anchor">Henricus Pantaleonis [1522&ndash;1595]
</a>
<br>
<strong><i>Chronographia ecclesiae Christianae</i></strong>
pr. Basel 1551 
(Adams P173), &amp;c.

</li>

<li>
S22.&para;53: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry505_anchor">Boethius, Anicius Manlius Torquatus Severinus [<i>c</i>480&ndash;524]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 2. 228&ndash;36; bibliography in J. Gruber, 
`Boethius 1925&ndash;1998', <i>Lustrum</i> 39 (1997) 307&ndash;383 and 40 (1998)
199&ndash;259.
</span>
<br>
<strong><i>De institutione arithmetica</i></strong>
<i>CPL</i> 879; ed. J. Schilling &amp;
H. Oosthout , <i>CCSL</i> 94A (1999).

</li>

<li>
S22.&para;54 ?= S23.&para;36b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3173_anchor">Simplicius [6th cent.]
</a>
<br>
<strong>Commentary on Aristotle's <i>De caelo</i>, tr. William of Moerbeke</strong>
 pr. Venice 1540 (Adams S1202), &amp;c.; Kaeppeli 1612.

</li>

<li>
S22.&para;54a (`in praedicabilia Porphrii &amp;c.'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3349_anchor">Thomas Caietanus (Tommaso de Vio) OP [1469&ndash;1535], bishop of Gaeta and cardinal
</a>
<br>
<strong>Commentaries on Aristotle's <i>Logica</i></strong>
 
</li>

<li>
S22.&para;54b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3349_anchor">Thomas Caietanus (Tommaso de Vio) OP [1469&ndash;1535], bishop of Gaeta and cardinal
</a>
<br>
<strong>Commentary on Thomas Aquinas's <i>De ente et essentia</i></strong>
pr. Venice 
1519, &amp;c.

</li>

<li>
S22.&para;55: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/M/#entry2184_anchor">Martin Bucer [1491&ndash;1551]
</a>
<br>
<strong>(`Aretius Felinus'), <i>Psalmorum libri quinque ad ebraicam ueritatem
uersi</i></strong>
pr. Strassburg 1529 (Adams B1410), &amp;c.

</li>

<li>
S22.&para;56: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1702_anchor">Jean de Gaigny [&dagger;1549]
</a>
<br>
<strong><i>Clarissima et facilia in quatuor Iesu Christi euangelia necnon in
Actus apostolicos scholia</i></strong>
pr. Paris 1552 (Adams B1816&ndash;17), &amp;c.

</li>

<li>
S22.&para;57: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry634_anchor"><i>Ps.</i> Clement of Rome
</a>
<br>
<strong><i>Recognitiones</i>, tr. Rufinus</strong>
pr. Paris 1504, Basel 1526 (Adams C2124); 
ed. B. Rehm &amp; G. Strecker, <i>GCS</i> 51 (1993<sup>2</sup>). See note on B68.343.

</li>

<li>
S22.&para;58: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3173_anchor">Simplicius [6th cent.]
</a>
<br>
<strong>Commentary on Aristotle's <i>Physica</i>, Latin tr. by Lucilio Maggi</strong>
pr.
Venice 1543, Paris 1544, &amp;c.

</li>

<li>
S22.&para;59 (vol. 2 &amp; index): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<span class="biblio_block">
L. Minio-Paluello in <i>DSB</i> 1. 267&ndash;81 (on tradition and influence).
  Indexing Aristotle's works presents difficulties at several levels. He
wrote a great deal. The sources provide evidence at different periods for the 
Greek text, multiple Latin translations from Arabic and from Greek, groupings 
of individual works under familiar medieval titles, and a wide range of 
pseudonymous texts. The descriptions provided by the sources are often 
imprecise, especially as to which Latin translation was recorded. Since the 
sixteenth century scholarly interest has focused on the Greek text rather than 
on versions current in the middle ages. Only in recent decades has 
<i>Aristoteles Latinus</i> attempted to document the Latin versions current at 
different times, but its progress with editions has been slow. Recently
<i>Aristoteles Latinus Database</i> (<i>ALD</i>) has provided complementary material.
Since 1971 a separate series <i>Aristoteles Semito-Latinus</i> has aimed to edit
translations from Arabic. Where neither is not available, one must have 
recourse either to major sixteenth-century printings of Latin (in cases where 
they print the medieval versions) or to the earliest printed editions that may 
themselves have been documented by our sources. The resulting index is 
inevitably uneven. Thanks to Pieter de Leemans for his advice.
</span>
<br>
<strong><i>Opera</i>, Latin tr.</strong>
pr. Venice 1482 (<i>GW</i> 2336), &amp;c.

</li>

<li>
S22.&para;60 (vol. 2) = S24.&para;23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry681_anchor">Conradus Pellicanus [1478&ndash;1556]
</a>
<br>
<strong><i>Commentaria Bibliorum</i></strong>
pr. Z&uuml;rich 1532, &para;*pr. Z&uuml;rich 1534&ndash;37.

</li>

<li>
S22.&para;61: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1846_anchor">Iohannes Royardus OFM [1475&ndash;1547]
</a>
<br>
<strong><i>Homiliae in euangelia dominicalia iuxta literam</i></strong>
pr. Antwerp 1542, 
Paris 1542 (Adams R834), &amp;c.

</li>

<li>
S22.&para;62 (`ephemeridum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1879_anchor">Johann Stoeffler [1452&ndash;1531]
</a>
<br>
<strong>(with Jakob Pflaum), <i>Almanach noua</i>, continuing from the <i>Ephemerides</i>
of Regiomontanus</strong>
pr. Ulm 1499 (Goff S791), &amp;c.; <i>VL</i> 7. 578&ndash;80. 

</li>

<li>
S22.&para;63: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong><i>De alimentorum facultatibus</i>, tr. Joachim Martinius</strong>
pr. Paris 1530 
(Adams G77).

</li>

<li>
S22.&para;63<sup>x</sup> = S23.&para;63b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1056_anchor">Galen [<i>c</i>129&ndash;?199]
</a>
<br>
<strong><i>De pulsibus</i>, tr. Iohannes Guinterius</strong>
pr. Paris 1531.

</li>

<li>
S22.&para;64 = S23.&para;23: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry579_anchor">A. Cornelius Celsus [1st cent.]
</a>
<br>
<strong><i>De medicina</i></strong>
pr. Florence 1478 (<i>GW</i> 6456), &amp;c.

</li>

<li>
S22.*65 (`rubricae Gerardi de Solo super 9 Almansoris'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/G/#entry1127_anchor">Gerardus de Solo [early 14th cent.]
</a>
<br>
<strong><i>Practica super nono Almansoris</i></strong>
pr. with Razes' <i>Liber Almansoris</i>, 
Padua 1480 (Goff R179), &amp;c.; Thorndike/Kibre 220 &amp;c.

</li>

<li>
S22.&para;66: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1747_anchor">Johannes Justus Lansperger [1489&ndash;1539]
</a>
<br>
<strong><i>Omnium epistolarium dominicalium totius anni enarrationes</i></strong>
pr.
Cologne 1548 (Adams L163).

</li>

<li>
S22.&para;68: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry624_anchor">Claude Guilliaud [1493&ndash;1551]
</a>
<br>
<strong><i>In euangelium secundum Ioannem enarrationes</i></strong>
pr. Paris 1548 
(Adams A1567), &amp;c.

</li>

<li>
S22.&para;69: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1386_anchor"><i>Homiliarius doctorum</i>, a collection of sermons from the Fathers, attributed
in the editions, sometimes to Paul the Deacon, sometimes to Alcuin</a>
pr. 
[southern Netherlands <i>c.</i> 1475] (Goff H314), &amp;c.

<br>
</li>

<li>
S22.&para;70: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1784_anchor">Iohannes Mesue (Masawaih al-Mardini) [&dagger;1015]
</a>
<br>
<strong><i>Opera medicinalia</i></strong>
pr. [Venice 1471] (Goff M508), [Padua 1471] 
(Goff M509), &amp;c.

</li>

<li>
S22.&para;71: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1818_anchor">Iohannes Piscatorius [early 16th cent.]
</a>
<br>
<strong><i>Omnium operum diui Aurelii Augustini epitome</i></strong>
pr. Augburg 1537. In
later editions, the work is augmented.

</li>

<li>
S22.&para;*72a: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry204_anchor">Ammonius Hermiae [fl. 600]
</a>
<br>
<strong>Commentary on Porphyry's <i>Isagoge</i>, Latin tr.</strong>
pr. Venice 1504, &amp;c.

</li>

<li>
S22.&para;*72b: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry204_anchor">Ammonius Hermiae [fl. 600]
</a>
<br>
<strong>Commentary on Aristotle's <i>Praedicamenta</i>, Latin tr. by Bartholomaeus
Sylvanius</strong>
pr. Venice 1541 &amp;c.

</li>

<li>
S22.&para;*72<sup>x</sup>: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry204_anchor">Ammonius Hermiae [fl. 600]
</a>
<br>
<strong>Commentary on Aristotle's <i>Peri hermenias</i>, Latin tr. by Bartholomaeus
Sylvanius</strong>
pr. Venice 1546 &amp;c.

</li>

<li>
S22.&para;73 (I<sup>a</sup> II<sup>e</sup>): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong><i>Summa theologica</i></strong>
<i>STO</i> vols. 4&ndash;12; Glorieux <i>R&eacute;p.</i> 14ax.

</li>

<li>
S22.&para;74: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3455_anchor">Valerius Maximus [fl. AD 30]
</a>
<br>
<strong>French tr. by Simon de Hesdin &amp; Nicholas de Gonesse</strong>
pr. [Netherlands, 
<i>c.</i> 1476] (Goff V44), &amp;c.; Lucas, 247&ndash;8.

</li>

<li>
S22.&para;?*75 (`D. Iacobi Pareth commentaria in psalmos'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1486_anchor">Diego Perez de Valencia OESA [<i>c</i>1408&ndash;1490]
</a>
<br>
<strong>Commentary on the Psalms</strong>
pr. Valencia 1484 (Goff P276), &amp;c.; 
Stegm&uuml;ller <i>Bibl.</i> 3983.  [Sometimes confused with Thomas Waleys, <i>Expositio 
super duos nocturnos Psalterii</i>

</li>

<li>
S22.&para;76 (`secunda pars'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/H/#entry1422_anchor">Hugh of Saint-Cher OP [&dagger;1263]
</a>
<br>
<strong><i>Biblia cum postilla</i></strong>
pr. [Basel 1498&ndash;1502], 7 vols. (<i>GW</i> 4285); 
pr. Venice 1703; Stegm&uuml;ller <i>Bibl.</i> 3631&ndash;3769; Kaeppeli 1989. [P. Stirnemann,
`Les manuscrits de la Postille', and B. Carra de Vaux, `La constitution du 
corpus ex&eacute;g&eacute;tique', in <i>Hugues de Saint-Cher (&dagger;1263), bibliste et 
th&eacute;ologien</i> (Turnhout 2004), 31&ndash;42, 43&ndash;63.]

</li>

<li>
S22.&para;77: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/R/#entry3055_anchor">Rupert of Deutz OSB [<i>c</i>1075&ndash;1129/30], abbot of Deutz
</a>
<br>
<strong><i>De gloria et honore filii hominis super Matthaeum</i></strong>
ed. H. Haacke,
<i>CCCM</i> 29 (1979); Stegm&uuml;ller <i>Bibl.</i> 7579.

</li>

<li>
S22.&para;78&ndash;9 (2 vols): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong><i>Opera minora</i></strong>
pr. Cologne 1532 (Adams D534).

</li>

<li>
S22.&para;80: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry95_anchor">Albertus Magnus OP [1193&ndash;1280]
</a>
<br>
<span class="biblio_block">
<i>DSB</i> 1. 100&ndash;103.
</span>
<br>
<strong>Commentaries on Aristotle's <i>Logica uetus</i> and <i>Logica noua</i>, ed.
Bernardus Plumatius</strong>
pr. Venice 1506, &amp;c.

</li>

<li>
S22.&para;81 (II): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
<i>SBonO</i> vols. 1&ndash;4; Distelbrink 
2; Glorieux <i>R&eacute;p.</i> 305b; Stegm&uuml;ller <i>Sent.</i> 111.

</li>

<li>
S22.&para;82: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/D/#entry799_anchor">Denys Ryckel OCarth [1402&ndash;1471]
</a>
<br>
<strong><i>Summae fidei orthodoxae libri duo</i></strong>
pr. Cologne 1535 (Adams D614),
&amp;c.; pr. <i>Doctoris ecstatici D. Dionysii Cartusiani opera omnia</i> 
(Montreuil/Tournai 1896&ndash;1935), vols. 17&ndash;18; K. Emery, <i>CCCM</i> 121 (1991)
229.

</li>

<li>
S22.&para;83 (IV): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry511_anchor">Bonaventure OFM [1221&ndash;1274]
</a>
<br>
<strong>Commentary on the Lombard's Sentences</strong>
<i>SBonO</i> vols. 1&ndash;4; Distelbrink 
2; Glorieux <i>R&eacute;p.</i> 305b; Stegm&uuml;ller <i>Sent.</i> 111.

</li>

<li>
S22.&para;84: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry665_anchor"><i>Concilium Coloniense</i>. <i>Canones concilii prouincialis Coloniensis</i> (1536)</a>
 pr. Cologne 1537 (Adams C2356), &amp;c.

<br>
</li>

<li>
S22.&para;85&ndash;7 (I, II, IV): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/T/#entry3340_anchor">Thomas Aquinas OP [<i>c</i>1225&ndash;1274]
</a>
<br>
<strong><i>Scriptum super libros Sententiarum</i></strong>
ed. P. Mandonnet &amp; M. F. Moos, 4
vols. [to IV dist. 22] (Paris 1929&ndash;47); Stegm&uuml;ller <i>Sent.</i> 846; Glorieux
<i>R&eacute;p.</i> 14f. 

</li>

<li>
S22.&para;88: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry319_anchor">Aristotle [384&ndash;322 BC]
</a>
<br>
<strong><i>Analytica priora</i>, Latin tr. with commentary by Giovanni Francesco
Burana</strong>
pr. Venice 1524, &amp;c.

</li>

<li>
S22.&para;89 (I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry147_anchor">Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</a>
<br>
<strong><i>Lectura super prima et secunda parte Infortiati</i></strong>
pr. Venice 1485
(Hain 15319), &amp;c.; A. Sabbatani, <i>De vita et operibus Alexandri Tartagni de 
Imola</i> (Milan 1972), 123.

</li>

<li>
S22.&para;90 (VII&ndash;IX): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Lectura super I&ndash;IX Codicis</i></strong>
pr. in one volume, [Venice
1480&ndash;81] (Goff U19), &amp;c. Individual books were also printed separately;
see V. Colli, `Incunabula operum Baldi de Ubaldis', <i>Ius commune</i> 26 (1999)
241&ndash;97.

</li>

<li>
S22.&para;91: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1511_anchor">Jason de Maino (Giasone dal Maino) [1435&ndash;1519]
</a>
<br>
<strong><i>Lectura super Digesto ueteri</i></strong>
pr. Pavia 1492 (<i>ISTC</i>), &amp;c. [part I]; 
pr. Milan 1507, &amp;c.; Savigny, 6. 409&ndash;410.

</li>

<li>
S22.&para;92: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1511_anchor">Jason de Maino (Giasone dal Maino) [1435&ndash;1519]
</a>
<br>
<strong><i>Lectura super Infortiato</i></strong>
pr. Venice 1499&ndash;1500 (Goff M404), &amp;c.

</li>

<li>
S22.&para;93: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1511_anchor">Jason de Maino (Giasone dal Maino) [1435&ndash;1519]
</a>
<br>
<strong><i>Lectura super Digesto nouo</i></strong>
pr. Venice 1499&ndash;1500 (Goff M414), &amp;c.; 
pr. Milan 1509&ndash;10, &amp;c.; Savigny, 6. 412&ndash;13.

</li>

<li>
S22.&para;94 (IV, V): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Lectura super I&ndash;IX Codicis</i></strong>
pr. in one volume, [Venice
1480&ndash;81] (Goff U19), &amp;c. Individual books were also printed separately;
see V. Colli, `Incunabula operum Baldi de Ubaldis', <i>Ius commune</i> 26 (1999)
241&ndash;97.

</li>

<li>
S22.&para;95 (pt 4): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Consilia</i></strong>
pr. as <i>Consiliorum partes V</i>, Venice 1491 (Goff
U21), &amp;c.

</li>

<li>
S22.&para;96 (part II): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry423_anchor">Bartolus de Saxoferrato [1313&ndash;1357]
</a>
<br>
<span class="biblio_block">
<i>DBI</i> 6. 640&ndash;69.
</span>
<br>
<strong><i>Lectura super Infortiatum</i></strong>
pr. [Italy] 1470 (<i>GW</i> 3611), &amp;c. [part I];
pr. Perugia 1474/5 (<i>GW</i> 3629), &amp;c. [part II].

</li>

<li>
S22.&para;97 (`repertorium consiliorum'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry147_anchor">Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</a>
<br>
<strong><i>Consilia</i></strong>
four parts, pr. Milan 1484&ndash;5 (<i>CIBN</i> T27); five
parts, Venice 1488&ndash;90 (Goff T23, T22), &amp;c. A. Sabbatani, <i>De vita et operibus 
Alexandri Tartagni de Imola</i> (Milan 1972), 126.

</li>

<li>
S22.&para;98 (part I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry423_anchor">Bartolus de Saxoferrato [1313&ndash;1357]
</a>
<br>
<strong><i>Lectura super Digestum uetus</i></strong>
pr. Naples <i>c</i>. 1471/2 (<i>GW</i> 3581), &amp;c.
[part I]; pr. Perugia <i>c.</i> 1471/2 (<i>GW</i> 3593), &amp;c. [part II].

</li>

<li>
S22.&para;99: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2494_anchor">Paulus de Castro [1360/62&ndash;1441]
</a>
<br>
<strong><i>Lectura super prima et secunda Digesti ueteris</i></strong>
pr. Bologna 1483 
(Goff P172), &amp;c. [part 1]; pr. Bologna 1478 (), &amp;c. [part 2]; pr. [Milan]
1489/90 (Hain 4613, 4619), Venice 1495 (<i>BSB-Ink</i> P68), &amp;c. [parts 1&ndash;2].

</li>

<li>
S22.&para;100: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry423_anchor">Bartolus de Saxoferrato [1313&ndash;1357]
</a>
<br>
<strong><i>Lectura super Digestum nouum</i></strong>
pr. Venice 1471 (<i>GW</i> 3546), &amp;c. [part
I]; pr. Venice 1473 (<i>GW</i> 3563), [part II].

</li>

<li>
S22.&para;101: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Lectura super prima parte Digesti ueteris</i></strong>
pr. Milan 1477 (Hain
2302), Milan 1488 (Hain 2303), &amp;c.

</li>

<li>
S22.&para;102 (`repertorium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Lectura super I&ndash;IX Codicis</i></strong>
pr. in one volume, [Venice
1480&ndash;81] (Goff U19), &amp;c. Individual books were also printed separately;
see V. Colli, `Incunabula operum Baldi de Ubaldis', <i>Ius commune</i> 26 (1999)
241&ndash;97.

</li>

<li>
S22.&para;103 (vol. 6): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry147_anchor">Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</a>
<br>
<strong><i>Consilia</i></strong>
four parts, pr. Milan 1484&ndash;5 (<i>CIBN</i> T27); five
parts, Venice 1488&ndash;90 (Goff T23, T22), &amp;c. A. Sabbatani, <i>De vita et operibus 
Alexandri Tartagni de Imola</i> (Milan 1972), 126.

</li>

<li>
S22.&para;104 (`repertorium'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry388_anchor">Baldus de Ubaldis (Baldo degli Ubaldi) [?1327&ndash;1400]
</a>
<br>
<strong><i>Consilia</i></strong>
pr. as <i>Consiliorum partes V</i>, Venice 1491 (Goff
U21), &amp;c.

</li>

<li>
S22.&para;*105 (part I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/B/#entry423_anchor">Bartolus de Saxoferrato [1313&ndash;1357]
</a>
<br>
<strong><i>Lectura super Infortiatum</i></strong>
pr. [Italy] 1470 (<i>GW</i> 3611), &amp;c. [part I];
pr. Perugia 1474/5 (<i>GW</i> 3629), &amp;c. [part II].

</li>

<li>
S22.&para;106: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2494_anchor">Paulus de Castro [1360/62&ndash;1441]
</a>
<br>
<strong><i>Lectura super Codice</i></strong>
commentary on individual books printed
separately and in combinations, Brescia 1477/8 [Book VI], Modena 1483/4 
[Books I&ndash;III}, &amp;c., with the likelihood of many unrecorded editions; pr.
Venice 1495 (Goff P164) [Books I&ndash;IV, VI&ndash;VII]. 

</li>

<li>
S22.&para;107 (part I): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1511_anchor">Jason de Maino (Giasone dal Maino) [1435&ndash;1519]
</a>
<br>
<strong><i>Lectura super Codice</i></strong>
pr. Pavia 1491 (<i>ISTC</i>), &amp;c. [part I]; &amp;c. 

</li>

<li>
S22.&para;108 (`speculi pars prima'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Speculum iudiciale</i></strong>
pr. Strassburg 1473 (<i>GW</i> 9148), &amp;c.; 
Schulte, 2. 148&ndash;52; Lange, 2. 483&ndash;6.

</li>

<li>
S22.&para;109 (vol. 3): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry147_anchor">Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</a>
<br>
<strong><i>Consilia</i></strong>
four parts, pr. Milan 1484&ndash;5 (<i>CIBN</i> T27); five
parts, Venice 1488&ndash;90 (Goff T23, T22), &amp;c. A. Sabbatani, <i>De vita et operibus 
Alexandri Tartagni de Imola</i> (Milan 1972), 126.

</li>

<li>
S22.&para;110 (`repertorium super lect(ura) Alexandri de Imola'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry147_anchor">Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</a>
<br>
[<i>app.</i>]
<strong><i>Repertorium</i> to his <i>lecturae</i> on the <i>Codex</i> and the whole of
the <i>Digestum</i></strong>
pr. Lyon 1535, &amp;c.

</li>

<li>
S22.&para;111: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2494_anchor">Paulus de Castro [1360/62&ndash;1441]
</a>
<br>
<strong><i>Lectura super prima Digesti noui</i></strong>
pr. Venice 1483, &amp;c.

</li>

<li>
S22.&para;112 (`casus longi super Digesto ueteri'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/V/#entry3610_anchor">Vivianus Tuscus [13th cent.]
</a>
<br>
<strong><i>Casus longi</i> on Justinian's <i>Codex</i>, <i>Digestum uetus</i>, and
<i>Inforciatum</i></strong>
pr. in three volumes, [Freiburg <i>c.</i> 1494] (Goff T558,
T560, T562); pr. in three volumes, [Lyon 1490&ndash;97] (<i>CIBN</i> T408&ndash;410, 
Goff T559, T561).

</li>

<li>
S22.&para;113 (`tertia et quarta pars'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/W/#entry3698_anchor">Willelmus Durandus the Elder [1237&ndash;1296], bishop of Mende
</a>
<br>
<strong><i>Speculum iudiciale</i></strong>
pr. Strassburg 1473 (<i>GW</i> 9148), &amp;c.; 
Schulte, 2. 148&ndash;52; Lange, 2. 483&ndash;6.

</li>

<li>
S22.&para;114: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry147_anchor">Alexander Tartagnus de Imola (Alessandro Tartagni) [1424&ndash;1477]
</a>
<br>
<strong><i>Lectura super prima et secunda parte Codicis</i></strong>
pr. Venice 1485 
(Hain 15318), Venice 1489&ndash;90  (Hain 15313), &amp;c.; A. Sabbatani, <i>De vita 
et operibus Alexandri Tartagni de Imola</i> (Milan 1972), 124.

</li>

<li>
S22.&para;115: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/P/#entry2494_anchor">Paulus de Castro [1360/62&ndash;1441]
</a>
<br>
<strong><i>Lectura super prima Infortiati</i></strong>
pr. Bologna 1478, &amp;c.

</li>

<li>
S22.&para;116 (`thrie orationis of Cicero in French'): 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/C/#entry615_anchor">M. Tullius Cicero [106&ndash;43 BC]
</a>
<br>
<strong><i>Orationes</i>, French tr., probably <i>Trois oraisons de Ciceron</i>, tr.
Estienne Leblanc</strong>
pr. Paris 1544.

</li>

<li>
S22.&para;118: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/#entry1720_anchor">John Hamilton [<i>c.</i> 1511&ndash;1571], archbishop of St Andrews
</a>
<br>
<strong><i>The Catechisme</i></strong>
pr. St Andrews 1552 (<i>STC</i> 12731).

</li>

<li>
S22.&para;119: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/N/#entry2380_anchor"><i>Nouum testamentum syriace</i>, with the Latin tr. by John Immanuel
Tremellius</a>
pr. Geneva 1569.

<br>
</li>

<li>
S22.&para;120: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/S/#entry3067_anchor">Sanctes Pagninus (Santi Pagnino) [1470&ndash;1541]
</a>
<br>
<strong><i>Thesaurus linguae sanctae</i></strong>
pr. Lyon 1529 (Adams P36), &amp;c.

</li>

<li>
S22.&para;121: 
<a href="{% if editable %}/e{% endif %}/authortitle/browse/A/#entry358_anchor">Augustin Marlorat [1506&ndash;1562]
</a>
<br>
<strong><i>Noui testamenti catholica expositio</i></strong>
pr. Geneva 1561, &amp;c.

</li>

</ul><!-- end catalogue_entry_list -->
</div><!-- end div class "index" -->
<p>
<em>131 identified entries found.</em></p>

<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
