{% extends "base.html" %}
{% block title %}
<title>MLGB3 List of Medieval Catalogues</title>
{% endblock %}

{% block maincontent %}
<div class="index">
<h3>Definition of codes used in the index</h3><dl class="catalogue_entry_flags"><dt>
* (asterisk) e.g. B79.*241
</dt>
<dd>
Surviving book
</dd>

<dt>
&para; e.g. S16.&para;10
</dt>
<dd>
Printed book
</dd>

<dt>
&para;* e.g. H2.&para;*189
</dt>
<dd>
Surviving printed book
</dd>

<dt>
&dagger; e.g. FA8.&dagger;50a (`flores moralium beati Gregorii')
</dt>
<dd>
Against an item number signifies that the identification is uncertain, and the entry will usually have a quotation in brackets following.
</dd>

<dt>
&para;&dagger; e.g. UO25.&para;&dagger;30 (`tractatus sancti Augustini')
</dt>
<dd>
Possibly a printed book (uncertain)
</dd>

<dt>
&dagger;&dagger; e.g. B24.&dagger;&dagger;92
</dt>
<dd>
Means it looks like a fit but is utterly incredible, i.e. very &dagger;.
</dd>

<dt>
&dagger; e.g. Bernard of Parma [&dagger;1266]
</dt>
<dd>
Against an author's date means "died".
</dd>

<dt>
&dagger; e.g. &dagger;inferno [l. infirmo]
</dt>
<dd>
Against a word is half a dozen times used to mean that there has been an error in the copying.
</dd>

<dt>
&Dagger; e.g. FA8.&Dagger;435
</dt>
<dd>
Means the entry could refer to one of several works with the same title, so there are likely to be two (or more) entries for the same item.
</dd>

<dt>
&loz; e.g. &loz; Agrippa Castor [2nd cent.]
</dt>
<dd>
Signifies that the report is based on literary evidence rather than on sight of an actual book. So, e.g. Kirkstead includes works that were lost a thousand years earlier but rated a mention in a work of Jerome.
</dd>

<dt>
Superscript x, e.g. UO68.*164<sup>x</sup>
</dt>
<dd>
An "extra" title recorded from the manuscript itself in addition to titles mentioned in the documents on which the List of Identifications is based.
</dd>

<dt>
Superscript i, e.g. BA1.*<sup>i</sup>849
</dt>
<dd>
Occurs only with BA1 and signifies that an entry is matched with the medieval index. It is used relatively rarely, just on occasions when the index provides help towards the identification or contents.
</dd>

</dl>
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
