{% extends "base.html" %}
{% block title %}
<title>MLGB3 Author/Title Index</title>
{% endblock %}
{% block treeview %}


 <script type="text/javascript">
 function expand_or_collapse( display_id, action, depth ) {
   var button_id = "concertina" + display_id;
   var the_button = document.getElementById( button_id );
   if( ! the_button ) {
     return;
   }
   var element_type = "div";
   if( depth == 2 ) {
     element_type = "tab";
   }
   var element_id="entry" + display_id + "_" + element_type;
   var the_element = document.getElementById( element_id );
   if( ! the_element ) {
     return;
   }
   if( action == "+" ) {
     the_element.style.display = "block";
     the_button.value = "-";
     the_button.innerHTML = "-";
   }
   else {
     the_element.style.display = "none";
     the_button.value = "+";
     the_button.innerHTML = "+";
   }
   if( depth == 1 ) {
     element_id = "biblio_" + element_id;
     the_element = document.getElementById( element_id );
     if( ! the_element ) {
       return;
     }
     if( action == "+" ) {
       the_element.style.display = "block";
     }
     else {
       the_element.style.display = "none";
     }
   }
 }
</script>





<script type="text/javascript">
  var idsOnPage = new Array( '3815', '3815_1', '3816', '3816_1', '3816_2', '3816_3', '3816_4', '3816_5', '3816_6', '3816_7', '3816_8' );
  var idDepths = new Array( 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2 );
  function expandAllEntries() {
    for (var i = 0; i < idsOnPage.length; i++ ) {
      expand_or_collapse( idsOnPage[i], "+", idDepths[i] );
    }
  }
  function collapseAllEntries() {
    for (var i = 0; i < idsOnPage.length; i++ ) {
      expand_or_collapse( idsOnPage[i], "-", idDepths[i] );
    }
  }
</script>


{% endblock %}
{% block maincontent %}
<div class="index">

<h2>Browse Author/Title Index: X</h2>
{% if not printing %}<div class="letterlinks"><a href="{% if editable %}/e{% endif %}/authortitle/browse/A/"  >A</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/B/"  >B</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/C/"  >C</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/D/"  >D</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/E/"  >E</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/F/"  >F</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/G/"  >G</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/H/"  >H</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/IJ/"  >IJ</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/K/"  >K</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/L/"  >L</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/M/"  >M</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/N/"  >N</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/O/"  >O</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/P/"  >P</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Q/"  >Q</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/R/"  >R</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/S/"  >S</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/T/"  >T</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/U/"  >U</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/V/"  >V</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/W/"  >W</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/X/"  class="selected"  >X</a>
<span class="spacer"> </span><a href="{% if editable %}/e{% endif %}/authortitle/browse/Z/"  >Z</a>
</div><!-- end div "letterlinks" -->{% endif %}

<div id="authortreecontrol">
{% if not printing %}<span class="like_a_link" onclick="collapseAllEntries()">Collapse All</span>  | <span class="like_a_link" onclick="expandAllEntries()">Expand All</span> {% endif %}
</div>
<ul class="authortreeview" id="authortree">


<!-- Start new entry "Xenocrates of Chalcedon [<i>c</i>396&ndash;<i>c</i>314 BC]", entry ID 3815 -->
<a name="entry3815_anchor"></a>
<li class="outerhead">
{% if not printing %}<button name="concertina3815" id="concertina3815"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3815', this.value, 1 )">+</button>

{% endif %}<span class="index_entry outerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3815', getElementById( 'concertina3815' ).value, 1 ){% endif %}">Xenocrates of Chalcedon [<i>c</i>396&ndash;<i>c</i>314 BC]</span>
<div id="biblio_entry3815_div" class="author_biblio_block" style="display:{%if printing%}block{%else%}none{%endif%}"></div>
<div class="totals">
<span class="index_entry outer_subhead totals"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3815', getElementById( 'concertina3815' ).value, 1 ){% endif %}">1 catalogue entry (1 book)</span>
</div><!-- end "totals" div -->
<div id="entry3815_div" class="expand_entry"  style="display:{%if printing%}block{%else%}none{%endif%}">
<ul><!-- start list of books -->

<li><!-- start entry ID 3815, book 1 -->
{% if not printing %}<button name="concertina3815_1" id="concertina3815_1"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3815_1', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3815_1', getElementById( 'concertina3815_1' ).value, 2 ){% endif %}"><i>De morte</i>, tr. Marsilio Ficino: pr. Venice 1497 (Goff J216), &amp;c.</span>

<table id="entry3815_1_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3815, book 1, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenocrates of Chalcedon [c396–c314 BC]
 — De morte, tr. Marsilio Ficino" class="index_catalogue_entry"  onclick="alert('Xenocrates of Chalcedon [c396–c314 BC]  — De morte, tr. Marsilio Ficino')" >SS1.&para;134<sup>x</sup></span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SS1" title="Further details of catalogue SS1"  class="link_to_catalogue" >BRIGITTINES: Syon: Registrum of the library of the Brethren, c. 1500-c. 1524</a></td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</div><!-- end outer expandable/collapsible section -->

</li><!-- end outerhead list item -->
<!-- end entry ID 3815 (Xenocrates of Chalcedon [<i>c</i>396&ndash;<i>c</i>314 BC]) -->

<!-- Start new entry "Xenophon [428/7&ndash;354 BC]", entry ID 3816 -->
<a name="entry3816_anchor"></a>
<li class="outerhead">
{% if not printing %}<button name="concertina3816" id="concertina3816"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816', this.value, 1 )">+</button>

{% endif %}<span class="index_entry outerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816', getElementById( 'concertina3816' ).value, 1 ){% endif %}">Xenophon [428/7&ndash;354 BC]</span>
<div id="biblio_entry3816_div" class="author_biblio_block" style="display:{%if printing%}block{%else%}none{%endif%}"></div>
<div class="totals">
<span class="index_entry outer_subhead totals"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816', getElementById( 'concertina3816' ).value, 1 ){% endif %}">16 catalogue entries (8 books)</span>
</div><!-- end "totals" div -->
<div id="entry3816_div" class="expand_entry"  style="display:{%if printing%}block{%else%}none{%endif%}"><script type="text/javascript">
  function expand_books_for_entry_3816() { 
    expand_or_collapse( '3816_1', '+', 2 );
    expand_or_collapse( '3816_2', '+', 2 );
    expand_or_collapse( '3816_3', '+', 2 );
    expand_or_collapse( '3816_4', '+', 2 );
    expand_or_collapse( '3816_5', '+', 2 );
    expand_or_collapse( '3816_6', '+', 2 );
    expand_or_collapse( '3816_7', '+', 2 );
    expand_or_collapse( '3816_8', '+', 2 );
  }
  function collapse_books_for_entry_3816() { 
  expand_or_collapse( '3816_1', '-', 2 );
  expand_or_collapse( '3816_2', '-', 2 );
  expand_or_collapse( '3816_3', '-', 2 );
  expand_or_collapse( '3816_4', '-', 2 );
  expand_or_collapse( '3816_5', '-', 2 );
  expand_or_collapse( '3816_6', '-', 2 );
  expand_or_collapse( '3816_7', '-', 2 );
  expand_or_collapse( '3816_8', '-', 2 );
  }
</script>
{% if not printing %}<span class="like_a_link" onclick="collapse_books_for_entry_3816()">Collapse  all 8 books</span>  | <span class="like_a_link" onclick="expand_books_for_entry_3816()">Expand  all 8 books</span> <br><br>
{% endif %}
<ul><!-- start list of books -->

<li><!-- start entry ID 3816, book 1 -->
{% if not printing %}<button name="concertina3816_1" id="concertina3816_1"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_1', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_1', getElementById( 'concertina3816_1' ).value, 2 ){% endif %}"><i>Opera</i>, in Greek: pr. Florence 1516, &amp;c.; ed. E. C. Marchant,
OCT (1900&ndash;1920).</span>

<table id="entry3816_1_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 1, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Opera, in Greek')" >S21.&para;240 (3 vols, 8<sup>vo</sup>)</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/S21" title="Further details of catalogue S21"  class="link_to_catalogue" >SCOTLAND: St Andrews, St Leonard's College: Books in the college library, 1597 or 1599</a></td>

</tr>
<!-- start entry 3816, book 1, copy 2 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Opera, in Greek')" >S21.&para;255 (`in fol.')</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/S21" title="Further details of catalogue S21"  class="link_to_catalogue" >SCOTLAND: St Andrews, St Leonard's College: Books in the college library, 1597 or 1599</a></td>

</tr>
<!-- start entry 3816, book 1, copy 3 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Opera, in Greek')" >UC110.&para;25 (`opera Zenophonis philosophi grece')</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC110" title="Further details of catalogue UC110"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: Donor documents: Books purchased from Henry Bullock, c. 1526; Queens' </a></td>

</tr>
<!-- start entry 3816, book 1, copy 4 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Opera, in Greek" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Opera, in Greek')" >UO33.&para;*68a (Florence 1516)</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO33" title="Further details of catalogue UO33"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Corpus Christi College: Catalogue of the Library, 1589</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 2 -->
{% if not printing %}<button name="concertina3816_2" id="concertina3816_2"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_2', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_2', getElementById( 'concertina3816_2' ).value, 2 ){% endif %}"><i>Xenophontis omissa</i>, ed. Georgius Gemistus Plethon: pr. Venice
1503 [<i>recte c.</i> 1525] (Adams P1530).</span>

<table id="entry3816_2_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 2, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Xenophontis omissa, ed. Georgius Gemistus Plethon" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Xenophontis omissa, ed. Georgius Gemistus Plethon')" >UO33.&para;*68b (`cum Georgii Gemistii historia de iis quae gesta sunt
   post pugnam Mantineam et historia Herodiani et scholiis in
   Thucididem grece')</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO33" title="Further details of catalogue UO33"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: Corpus Christi College: Catalogue of the Library, 1589</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 3 -->
{% if not printing %}<button name="concertina3816_3" id="concertina3816_3"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_3', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_3', getElementById( 'concertina3816_3' ).value, 2 ){% endif %}"><i>Anabasis</i>, French tr. from the Latin of Jan Lascaris by Claude 
de Seyssel: &para;*pr. Paris 1529 (Moreau, 3. 1954); Chavy, 1466.</span>

<table id="entry3816_3_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 3, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Anabasis, French tr. from the Latin of Jan Lascaris by Claude 
de Seyssel" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Anabasis, French tr. from the Latin of Jan Lascaris by Claude  de Seyssel')" >H2.&para;*189 (`expeditio Cyri minoris in lingua gallica')</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/H2" title="Further details of catalogue H2"  class="link_to_catalogue" >LIBRARIES OF KING HENRY VIII: Westminster: Inventory of the Upper Library, 1542</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 4 -->
{% if not printing %}<button name="concertina3816_4" id="concertina3816_4"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_4', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_4', getElementById( 'concertina3816_4' ).value, 2 ){% endif %}"><i>Cyropaedia</i>, French tr. by Vasco de Lucena: part ed. D. 
Gallet-Guerne (Geneva 1974); Chavy, 1466.</span>

<table id="entry3816_4_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 4, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Cyropaedia, French tr. by Vasco de Lucena" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Cyropaedia, French tr. by Vasco de Lucena')" >H1.*57 (`Cirus')</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/H1" title="Further details of catalogue H1"  class="link_to_catalogue" >LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</a></td>

</tr>
<!-- start entry 3816, book 4, copy 2 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Cyropaedia, French tr. by Vasco de Lucena" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Cyropaedia, French tr. by Vasco de Lucena')" >H1.*62a</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/H1" title="Further details of catalogue H1"  class="link_to_catalogue" >LIBRARIES OF KING HENRY VIII: Richmond Palace: Inventory of books, February 1535</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 5 -->
{% if not printing %}<button name="concertina3816_5" id="concertina3816_5"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_5', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_5', getElementById( 'concertina3816_5' ).value, 2 ){% endif %}"><i>Cyropaedia</i>, French tr. by Jacques de Vintimille: pr. Paris 1547, &amp;c.</span>

<table id="entry3816_5_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 5, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Cyropaedia, French tr. by Jacques de Vintimille" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Cyropaedia, French tr. by Jacques de Vintimille')" >S16.&para;10</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/S16" title="Further details of catalogue S16"  class="link_to_catalogue" >SCOTLAND: Holyroodhouse, Queen Mary's library: Books received from Servais de Cond&eacute;, 25 Nov 1569</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 6 -->
{% if not printing %}<button name="concertina3816_6" id="concertina3816_6"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_6', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_6', getElementById( 'concertina3816_6' ).value, 2 ){% endif %}">&#160; &#788;&#917;&#955;&#955;&#951;&#957;&#953;&#954;&#945;&#769;: pr. Venice 1503 &amp;c.; ed. E. C. Marchant, 
OCT (1900).</span>

<table id="entry3816_6_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 6, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 —   ̔Ελληνικά" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  —   ̔Ελληνικά')" >UC7.&para;151b</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UC7" title="Further details of catalogue UC7"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF CAMBRIDGE: University: Inventory for the Marian commissioners, 1557</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 7 -->
{% if not printing %}<button name="concertina3816_7" id="concertina3816_7"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_7', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_7', getElementById( 'concertina3816_7' ).value, 2 ){% endif %}"><i>Hiero</i>, Latin tr. by Leonardo Bruni: pr. [Venice, ?1471] (Goff X6),
&amp;c.; preface, ed. H. Baron, <i>Leonardo Bruni</i> (Berlin 1928), 100&ndash;101; <i>CTC</i>
7. 148&ndash;55.</span>

<table id="entry3816_7_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 7, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Hiero, Latin tr. by Leonardo Bruni')" >UO3.*97<sup>x</sup></span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO3" title="Further details of catalogue UO3"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University: Gift of books by Humfrey Duke of Gloucester, 25 February 1444</a></td>

</tr>
<!-- start entry 3816, book 7, copy 2 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Hiero, Latin tr. by Leonardo Bruni')" >UO3.*134<sup>x</sup></span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO3" title="Further details of catalogue UO3"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: University: Gift of books by Humfrey Duke of Gloucester, 25 February 1444</a></td>

</tr>
<!-- start entry 3816, book 7, copy 3 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Hiero, Latin tr. by Leonardo Bruni')" >UO14.*118<sup>x</sup></span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO14" title="Further details of catalogue UO14"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: All Souls College: Inventory of the library, c. 1500</a></td>

</tr>
<!-- start entry 3816, book 7, copy 4 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Hiero, Latin tr. by Leonardo Bruni" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Hiero, Latin tr. by Leonardo Bruni')" >UO77.2 (`Tyrannus Xenophontis dialogus eodem interprete')</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/UO77" title="Further details of catalogue UO77"  class="link_to_catalogue" >UNIVERSITY AND COLLEGE LIBRARIES OF OXFORD: New College: Leland, c. 1536</a></td>

</tr>
</table>
</li><!-- end of one book -->


<li><!-- start entry ID 3816, book 8 -->
{% if not printing %}<button name="concertina3816_8" id="concertina3816_8"  title="expand/collapse this section" class="concertina"  value="+"  onclick="expand_or_collapse( '3816_8', this.value, 2 )">+</button>

{% endif %}<span class="index_entry innerhead"  title="expand/collapse this section"  {% if not printing %}onclick="expand_or_collapse( '3816_8', getElementById( 'concertina3816_8' ).value, 2 ){% endif %}">Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported: Hilary term, 33 Hen. 
VI, pr. [London, c. 1482&ndash;3] (<i>STC</i> 9731); Michaelmas term, 35 Hen. VI, 
pr. [London, c. 1482] (<i>STC</i> 9742); Michaelmas term, 36 Hen. VI, pr. [London, 
c. 1482&ndash;3] (<i>STC</i> 9749), &amp;c.; the first extant printing of year books of 
Edward IV dates from 1492&ndash;3 (<i>STC</i> 9770, 9825); the printing of year books 
from Edward III's reign onwards begins in the early 16th cent. (<i>STC</i> 
9551&ndash;9967).</span>

<table id="entry3816_8_tab" style="display:{%if printing%}block{%else%}none{%endif%}"  class="catalogue_entries">
<tr class="catalogue_entry_head"><td>Catalogue entry</td><td>Catalogue</td></tr>

<!-- start entry 3816, book 8, copy 1 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Year Books, comprising notes made in the courts at Westminster of the arguments made by counsel and points of law pronounced by judges, circulated among students in the inns of court from at least the early 14th cent. The printing of year books had begun by the 1480s, though the earliest editions  to survive are not contemporary with the terms reported')" >SH41.&para;2 (`a pryntyd boke of yeres of E. IV') = SH42.&para;3</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH41" title="Further details of catalogue SH41"  class="link_to_catalogue" >SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Lincoln's Inn: List of books in the treasury, 1 November 1512</a></td>

</tr>
<!-- start entry 3816, book 8, copy 2 -->
<tr class="catalogue_entry">
<td class="catalogue_entry_code"><span title="Xenophon [428/7–354 BC]
 — Year Books, comprising notes made in the courts at Westminster of the
arguments made by counsel and points of law pronounced by judges, circulated
among students in the inns of court from at least the early 14th cent. The
printing of year books had begun by the 1480s, though the earliest editions 
to survive are not contemporary with the terms reported" class="index_catalogue_entry"  onclick="alert('Xenophon [428/7–354 BC]  — Year Books, comprising notes made in the courts at Westminster of the arguments made by counsel and points of law pronounced by judges, circulated among students in the inns of court from at least the early 14th cent. The printing of year books had begun by the 1480s, though the earliest editions  to survive are not contemporary with the terms reported')" >SH42.&para;3 (1, 3&ndash;9 Edw. IV)</span></td>
<td class="catalogue_name">
<a href="{% if editable %}/e{% endif %}/authortitle/medieval_catalogues/SH42" title="Further details of catalogue SH42"  class="link_to_catalogue" >SECULAR INSTITUTIONS: Hospitals, Towns, and the Professions: London, Lincoln's Inn: List of books in the treasury, 1 November 1514</a></td>

</tr>
</table>
</li><!-- end of one book -->


</ul><!-- end list of books for one author -->

</div><!-- end outer expandable/collapsible section -->

</li><!-- end outerhead list item -->
<!-- end entry ID 3816 (Xenophon [428/7&ndash;354 BC]) --></ul><!-- end tree -->
<p>
All data was derived from the <a href="http://www.history.ox.ac.uk/fileadmin/ohf/documents/projects/List-of-Identifications.pdf" title="List of Identifications (PDF) by Richard Sharpe" target="_blank">List of Identifications</a> by Professor Richard Sharpe.
{% if not printing %}<br/><em>A <a href="/authortitle/medieval_catalogues/decode/" title="Definition of codes used in the List" target="_blank">key to codes</a> used in the List is available (opens in new tab).</em>{% endif %}</p>
</div><!-- end div class "index" -->

{% include 'includes/indexmenu.html' %}

{% if printing %}<script>window.print();</script>{% endif %}
{% endblock %}
{% block search %}
{% endblock %}
{% block useful_links %}
{% endblock %}
