<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{# ============================================================= #}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{# ............................................................. #}
{% block title %}
<title>MLGB3</title>
{% endblock %}
{# ............................................................. #}

<link href="/mlgb/media/css/default.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/mlgb/media/css/jquery.treeview.css" />
<link rel="stylesheet" href="/mlgb/media/css/red-treeview.css" />
<link rel="stylesheet" href="/mlgb/media/css/demo/screen.css" />
<link rel="stylesheet" href="/mlgb/media/css/slimbox2.css" type="text/css" media="screen" />

<script src="/mlgb/media/js/jquery.js" type="text/javascript"></script>
<script src="/mlgb/media/js/jquery.cookie.js" type="text/javascript"></script>
<script src="/mlgb/media/js/slimbox2.js" type="text/javascript"></script>
<script src="/mlgb/media/js/jquery.treeview.js" type="text/javascript"></script>

<link rel="stylesheet" href="/mlgb/media/css/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="/mlgb/media/js/jquery.autocomplete.js"></script>

<script type="text/javascript">
    $(function() {
        $("#tree").treeview({
            collapsed: false,
            animated: "medium",
            control:"#sidetreecontrol",
            prerendered: true,
            persist: "location"
        });
    })
</script>

<script type="text/javascript">
function jsChangeSearch( parmName, parmVal ) {
  var foundParm = false;
  var search = window.location.search;
  if( search.length == 0 ) {
    window.location.search = '?' + parmName + '=' + parmVal;
    return;
  }
  var parts = search.split( '&' );
  var numParts = parts.length;
  for( i = 0; i < numParts; i++ ) {
    var part = parts[ i ];
    if( i == 0 ) {
      var firstChar = part.substring( 0, 1 );
      if( firstChar == '?' ) {
        part = part.substring( 1 );
        parts[i] = part;
      }
    }
    var pair = part.split( '=' );
    if( pair.length == 2 ) {
      var searchName = pair[0];
      if( searchName == parmName ) {
        foundParm = true;
        parts[i] = searchName + '=' + parmVal;
        break;
      }
    }
    else {
      alert( 'Invalid search term(s).' );
      return;
    }
  }
  var newSearch = '?' + parts.join( '&' );
  if( ! foundParm ) {
    newSearch = newSearch + '&' + parmName + '=' + parmVal;
  }
  window.location.search = newSearch;
}
</script>

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}
</head>

{# ============================================================= #}

<body{% if printing %} class="printout" {% endif %}>
{# ............................................................. #}
{% block header %}
{% if not printing %}
<div id="header">  

  <div id="oxlogo">
  <a href="http://www.ox.ac.uk/">
  <img src="/mlgb/media/img/ox.gif" alt="University of Oxford"/>
  </a>
  </div>

   <div id ="mlgb3">
   <a href="/" title="Medieval Libraries of Great Britain">
   <h1>MLGB3
   </h1>
   </a>
   </div><!-- end div mlgb3 -->

   <div id="mellon">
   <a href="http://www.mellon.org/">
   <img src="/mlgb/media/img/mellon.gif" alt="Mellon"/>
   </a>
   </div><!-- end div mellon -->

</div><!-- end div header -->

{% else %}
<div id="printheader">  
<h1>
MLGB3: Medieval Libraries of Great Britain III
</h1>
</div><!-- end div printheader -->
{% endif %}
{% endblock %}{# end block header #}
{# ............................................................. #}

{# ............................................................. #}
{% block pages %}
{% if not printing %}
<div id="pages">
  <h2>Pages</h2>

  <ul>
    <li id="home_listitem"
    {%if pagename == "home"%} class="active" {% endif %}
    ><a id="home_link" href="{% if editable %}/e{% endif %}/">Home</a></li>

    <li id="browse_listitem"
    {% if pagename == "browse" %} class="active" {% endif %}
    ><a id="browse_link" href="{% if editable %}/e{% endif %}/mlgb/browse/">Browse</a></li>

    <li id="index_listitem"
    {% if pagename == "index" %} class="active" {% endif %}
    ><a id="index_link" href="{% if editable %}/e{% endif %}/authortitle/browse/">Author/Title Index</a></li>

    <li id="about_listitem"
    {% if pagename == "about" %} class="active" {% endif %}
    ><a id="about_link" href="{% if editable %}/e{% endif %}/about/">About the Project</a></li>
  </ul>
</div><!-- end div pages -->
{% endif %}
{% endblock %}{# end block pages #}
{# ............................................................. #}

<div id="wrapper">
{# ............................................................. #}
{% block content_wrapper %}

  {# ............................................................. #}
  {% block maincontent %}
  <div id="maincontent" class="main-pretty-print">

    <h2 class="heading">Medieval Libraries of Great Britain</h2>

    <div class="story">
      <p>
      For the remains of medieval British libraries, the scholar must deal in fragments. 
      Libraries are attested first by their surviving books and second by surviving medieval 
      catalogues of the collections. This project’s aim is to bring together these complementary 
      fragments in a resource that will enable an integrative reading of the evidence. 
      </p>
      <p>
      The Corpus of British Medieval Library Catalogues, a major project to publish the medieval 
      catalogues of British libraries, is now within sight of completion. 
      As a complement to this, it is necessary also to update the standard research tool 
      that records extant manuscripts according to evidence of their medieval library provenance, 
      Neil Ker’s Medieval Libraries of Great Britain (1941) [<em><strong>MLGB</strong></em>]; 
      revised and augmented in 1964 [<em><strong>MLGB2</strong></em>]. 
      The opportunity exists to integrate these two strands in a single innovative digital 
      resource. Completion of both strands will take several years, but thanks to generous funding 
      from the Andrew W. Mellon Foundation, Professor 
      <a href="http://www.history.ox.ac.uk/faculty/staff/profile/sharpe.html">Richard Sharpe</a>, 
      Dr James Willoughby and a team from Bodleian Digital Library Systems and Services 
      are working on a pilot project on creating an electronic edition of the 
      Medieval Libraries of Great Britain. 
      </p>
      <p>

      It is clear that a new edition of <em><strong>MLGB</strong></em>  must take advantage of 
      the possibilities offered by digital technology and the internet, and there are many ways 
      in which this will also make possible genuine improvements in the content that can be linked 
      together in an electronic <a href="{% if editable %}/e{% endif %}/" class="Mlgb3">MLGB3</a>. 
      We also see an opportunity to bring to <a href="{% if editable %}/e{% endif %}/" class="Mlgb3">MLGB3</a>
      a new avenue of entry, allowing the surviving books there listed by provenance to be searched
      by author and title through the same search-route as serves the Corpus, the cumulative
      index-list of identifications. We envisage that in the future this will further serve as a
      model for parallel searches by author and title in the 28,000 printed editions produced
      before 1501 and known as incunabula. 
      </p>
    </div><!-- end div class story -->

    <div class="meta">
    <!--
    <p>Filed under <a href="/" class="category">Uncategorized</a> 
    | 
    <a href="/" class="comment">1 Comment &raquo;</a></p>
    -->
    </div><!-- end div class "meta" -->
  </div><!-- end div "maincontent" -->
  {% endblock %}{# end block maincontent #}
  {# ............................................................. #}

  {# ............................................................. #}
  {% block moreoptions %}

    <div class="moreoptions">

    {% block search %}  
    {% endblock %}

    {% block archives %} 
    {% endblock %}

    {# ............................................................. #}
    {% block useful_links %} 
    <div id="Useful_Links" class="boxed">
      <h2 class="heading">Useful Links</h2>
      <div class="pretty-print">
        <ul>
          <li class="first"><a href="http://www.ox.ac.uk/">University of Oxford</a></li>
          <li><a href="http://www.mellon.org/">Mellon Foundation</a></li>
          <li><a href="http://www.history.ox.ac.uk/">Faculty of History</a></li>
          <li><a href="http://www.bodleian.ox.ac.uk/">Bodleian Libraries</a></li>
        </ul>
      </div><!-- end div class "pretty-print" within div "useful links" -->
    </div><!-- end div "useful links" -->
    {% endblock %}{# end block useful links #}
    {# ............................................................. #}

    </div><!-- end div class "moreoptions" -->

  {% endblock %}{# end block "more options" #}
  {# ............................................................. #}

{% endblock %}{# end block content_wrapper #}
{# ............................................................. #}
</div><!-- end div id "wrapper" -->

{% block footer %}
<div id="footer">
  <p>
  Copyright &copy; 2010&ndash;2013 MLGB3.  Designed by 
  <a href="http://www.bodleian.ox.ac.uk/">
  <strong>Bodleian Libraries, University of Oxford</strong>
  </a>
  </p>
</div><!-- end div id "footer" -->
{% endblock %}{# end block footer #}

</body>
{# ============================================================= #}
</html>
