
{% extends "base.html" %}
{% block title %}
<title>MLGB3 Homepage</title>
{% endblock %}
 
{% block js %}
<script type='text/javascript'>
$().ready(function() {
 
	function formatData(data) {
        return data ;
    }
	$("#s").autocomplete("mlgb/fulltext", {
		width: 210,
		dataType: "json",
		selectFirst: false,
        parse: function(data) {
            return $.map(data, function(row) {
                return {
                    data: row,
                    value: row,
                    result: row
                }
            });
        },
        formatItem: function(item) {
            return formatData(item);
        }
    });
	
 });
</script>

{% endblock %}
{% block search %} 
  <div id="search" class="boxed">
    <h2 class="heading">Quick Search</h2>
    <div class="pretty-print">
      <form method="get" action="/mlgb/">
        <div>
          <input type="text" id="search_term" name="search_term" value="" size="35" />
          <input type="hidden" name="page_size" value="{{default_rows_per_page}}" />
          <input type="submit" id="submit1" value="Go" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block archives %} 
  <div id="archives" class="boxed">
    <h2 class="heading">Categories</h2>
    <div class="pretty-print">
      <ul>

        <li class="first">
        <a href="/mlgb/category/?field_to_search=medieval_library&page_size={{default_rows_per_page}}">
        Medieval Library
        </a> 
        ({{medieval_library_count}})
        </li>

        <li>
        <a href="/mlgb/category/?field_to_search=modern_library&page_size={{default_rows_per_page}}">
        Modern Library/Institution
        </a> 
        ({{modern_library_count}})
        </li>

        <li>
        <a href="/mlgb/category/?field_to_search=location&page_size={{default_rows_per_page}}">
        Location
        </a> 
        ({{location_count}})
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
